[2020-03-30 06:42] shuklaayush opened #371 "Switch to district map on expanding state row in table"
**Is your feature request related to a problem? Please describe.**
Map should switch to district-wise view when a state row is expanded on the table (by tap/click).

**Describe the solution you'd like**
For table entries which are expanded, the map should only show the district view when these entries are hovered over.

[2020-03-30 06:43] shuklaayush commented on #326
@sivasatvik Exactly.

[2020-03-30 06:45] shuklaayush commented on #369
@jeremyphilemon Please.

[2020-03-30 06:52] pk1997 commented on #369
I have put a PR for this.Please review and merge

[2020-03-30 07:03] pushkar8723 opened #372 "Improvement of mobile experience"
**Is your feature request related to a problem? Please describe.**
Right now on mobile, the table is shown before the graphs. Degrading the experience on mobile devices slightly.

**Describe the solution you'd like**
The experience on mobile can be enhanced by recording the content. Such that we have the table of raw data below the maps and graphs. We can use the CSS grid for this. That way the de

[2020-03-30 07:07] KarthikRao07 opened #374 "TUMAKURU hovering issue"
When selected  STATE Karnataka (hovering over TUMAKURU map not highlighted.

Easy to reproduce
while checking source code   found this in karnatak.json
st_nm": "Karnataka",
"district": "Tumkur"

while checking the state  found this
Tumakuru
{confirmed: 1, lastupdatedtime: ""}
confirmed
1
lastupdatedtime
""
  sorry if the explainatiion is bad

[2020-03-30 07:09] pk1997 commented on #374
Fixed in #375

[2020-03-30 07:15] pk1997 commented on #369
Fixed in PR #370

[2020-03-30 07:45] strikertanmay commented on #337
@pk1997 Please tell me the response structure which u needed to populate the table. I will modify the api response on that basis.

[2020-03-30 07:51] abhay6694 commented on #365
We can make a time series plot and embed into a seperate tab called 'lockdown effects'. Also, we can add state wise data table to get idea about the effectiveness of the lockdown in particular states. With each state we can also add their local helpline numbers. D3.js library is good for visualization for this purpose.

[2020-03-30 07:54] balrajsingh9 opened #376 "Punjab Map - Shaheed Bhagat Singh Nagar District Cases"
**Describe the bug**
Shaheed Bhagat Singh Nagar district in Punjab has **19** cases till now, but when you hover over the map of Punjab it shoes as **0**.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/ desktop website.
2. Click on Punjab on the map view.
3. Hover over _Shaheed Bhagat Singh Nagar_.
4. See error - **0** cases, when in the table it shows th

[2020-03-30 07:56] abhay6694 commented on #317
At the data source level we can put a filter of time on data (Statewise) . Data which comes between 12:00:00AM to next day 12:00:00AM can be considered that day data and that way we can calculate the delta of that data for each state.

[2020-03-30 07:57] pk1997 commented on #337
@strikertanmay In API response of 'https://api.covid19india.org/data.json', In statewise array, send a field saying first_reported with date in it.
Ex of json data in statewise array
{
         "active":"183",
         "confirmed":"215",
         "deaths":"7",
         "delta":{
            "active":12,
            "confirmed":12,
            "deaths":0,
            "recovered":0
         },

[2020-03-30 08:01] abhay6694 commented on #310
I can take this and develop print and download functionality.

[2020-03-30 08:03] pk1997 opened #377 "Move the map down."
Can we move the map down a little probably after graphs

**Reasons for my suggestion**

- If we expand some which are in the bottom of the table, try to get district-wise data of the same, MAP will not be visible since we have scrolled down too much.

- If there are any better suggestions to this issue, please suggest

[2020-03-30 08:04] thejeshgn commented on #354
Let me know.

Else I will add this site to my CORS list.

[2020-03-30 08:05] abhay6694 commented on #317
There could be many ways through which we can collect the data:-

1. Make a simple google sheet form for the hospital admin staff to maintain the record. And then we can collate those results.
2. Maintain day wise data for each state.

[2020-03-30 08:17] strikertanmay commented on #337
Okay I get it. If I change in state_district_wise.json (https://api.covid19india.org/state_district_wise.json)as this will cover both district and state, it will worked for you ?
"Goa": {
  "districtData": {
    "North Goa": {
      "confirmed": 3,
      "lastupdatedtime": "",
      **"firstReported" : "30/01/2020"**
    },
    "Unknown": {
      "confirmed": 2,
      "lastupdatedtime": ""
    }

[2020-03-30 08:25] pk1997 commented on #337
@strikertanmay Even though yours is a good idea to cover both, I feel its bad design to involve state data in district wise data. Add first reported for the state in https://api.covid19india.org/data.json API and first reported of the district in https://api.covid19india.org/state_district_wise.json API so that it will be a clean code
Hope you understand my concern here

[2020-03-30 08:27] rachit995 commented on #376
Fixed in #378

[2020-03-30 08:32] strikertanmay commented on #337
I'm also not truly satisfied with my idea and your concern is totally valid. Actually I explored but not found any way to update the data.json just like there is a way for state_district_wise.json. We can do one more thing as all states have first_reported cases and there is no update in this field so you can also hardcoded it for the state. And for district_wise I will update the API and it will

[2020-03-30 08:34] pk1997 commented on #337
Sure lets do that

[2020-03-30 08:45] shuklaayush opened #381 "Multiple states highlighting on the map"
**Describe the bug**
Multiple states are highlighted on the map.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover on a state entry in the table.
2. Go to map and open district view by clicking on any state.
3. Go back by pressing back button.

**Expected behavior**
At max, a single state should be highlighted.

**Screenshots**
![Peek 2020-03-30 14-04](https://user-images.githubuserconte

[2020-03-30 09:55] strikertanmay commented on #337
https://github.com/covid19india/api/pull/38

[2020-03-30 10:07] pk1997 commented on #337
Can you help me curate an object contains ifo first reported case of each and every state.
Ex: right now we are getting district wise info of the first reported case. But doing it statewise requires creating const object with values in it.
const firstReported = {
'Goa' : '12th feb',
'Karnataka': 1st Mar',....
}
Can you help me create this constant object ?

[2020-03-30 10:12] strikertanmay commented on #337
Yeah sure..
I will make a separate json object and make a PR for it. Does it work?

[2020-03-30 10:20] Nitin96Bisht opened #384 "District names overflowing to the back button - Reopening #304"
Reopen #304 as It was closed without fixing.

On mobile, long district names overflow and appear over the back button in expanded view.

![image](https://user-images.githubusercontent.com/23516674/77900992-7f094500-729c-11ea-8aa5-0929d4b17bda.png)

[2020-03-30 10:28] pk1997 commented on #337
Sure Thanks

[2020-03-30 10:37] chinmaydalvi opened #387 "Throws an error after clicking on total in the state table"
**Description **
Throws an error after clicking on Total in the table state table
you can see the error in the JS console. Refer to the screenshot.

**To Reproduce**
1. Go to the [https://www.covid19india.org/](https://www.covid19india.org/)
2. open JS console.
2. Click on Total in State table

**Expected behavior**
Should not throw any error.

**Screenshots**
<img width="1671" alt="Screenshot 202

[2020-03-30 10:37] chinmaydalvi commented on #387
Will take this as I have started working on it.

[2020-03-30 10:45] shubhids opened #388 "Area of hover district not showing in the map"
**Describe the bug**
Some district area are not showing in the map.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on the Maharashtra state.
2. Hover the district AHMADNAGAR.
3. See the map.

**Expected behavior**
Should show the area of district in the map like other district.
![Screenshot from 2020-03-30 16-04-29](https://user-images.githubusercontent.com/2937723/77903982-64859a80-

[2020-03-30 11:02] Nitin96Bisht commented on #388
@jeremyphilemon @JunaidBabu @sudevschiz Kindly check the above pull request.

[2020-03-30 11:06] rakeshreddy1410 commented on #388
The issue is with the mismatch of data from **state_district_wise.json** and **state.json**
one has name as **Ahmednagar** and the other **Ahmadnagar**
There are many other districts with the similar issue

[2020-03-30 11:39] strikertanmay commented on #337
@pk1997 Please view the PR and suggest if any change required.

[2020-03-30 11:44] pk1997 commented on #337
PR link please ?

[2020-03-30 11:46] pk1997 commented on #337
Gotcha. That should have been done in frontend repo. Anyway thanks for the help I got what I needed

[2020-03-30 11:50] strikertanmay commented on #337
U can directly fetch data by requesting api/state_wise_first_reported.json. According to me this will be good to fetched all data from api. hope u get my point

[2020-03-30 11:57] shuklaayush commented on #387
@chinmaydalvi I think someone fixed it already in #389

[2020-03-30 11:57] pk1997 commented on #337
Got it.

[2020-03-30 11:57] pk1997 commented on #337
Will do that once your pr is up and running

[2020-03-30 12:09] pushkar8723 commented on #372
If and when we have an agreement on the solution. I would like to raise a PR for this.

[2020-03-30 12:23] #369 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-30 13:53] shuklaayush commented on #281
Closed by #352

[2020-03-30 13:53] #281 closed, assigned to shivanshs9

[2020-03-30 14:00] pk1997 commented on #337
Hey there @strikertanmay I respect your work but can you change date format, US uses months first so lets keep it like this. I will give you JSON please paste the same

`{
  'Andaman and Nicobar Islands': '26th March',
  'Andhra Pradesh': '12th March',
  Bihar: '22th March',
  Chandigarh: '23th March',
  Chhattisgarh: '19th March',
  Delhi: '02th March',
  Goa: '25th March',
  Gujarat: '19th March

[2020-03-30 14:06] strikertanmay commented on #337
Okay, I will change for the state data. But For district data, will u change the format during populating or I will have to change in JSON itself?

[2020-03-30 14:35] vedadeepta commented on #100
implemented possible fix - forgot to notify before starting work :(

[2020-03-30 14:37] ashish199820 commented on #367
solved the issue.PR #379. Kindly, review and merge.

[2020-03-30 14:47] chinmaydalvi commented on #387
@shuklaayush  Ok close the PR once it is fixed

[2020-03-30 15:07] Manvi-Agrawal opened #398 "Add daily change count in the table for each district in active cases"
Adding daily change count for each district helps to understand the spread of virus in the locality.

[2020-03-30 15:11] Manvi-Agrawal opened #399 "Add daily change count in the table for each state for deceased and recovered people"
Adding daily change count in the table for each state for deceased and recovered helps to evaluate risks

[2020-03-30 16:27] #398 closed, assigned to JunaidBabu, sudevschiz

[2020-03-30 16:38] Nitin96Bisht commented on #388
@rakeshreddy1410 I have checked all districts. We don't have any more like it.

[2020-03-30 16:39] sharathm commented on #300
I know this might already be part of the UI design, but mentioning that the page auto refreshes would definitely help. Something like

[code]

[2020-03-30 16:58] dpnkrpl opened #403 "Some visualization problem only for Jammu and Kashmir"
![IMG_20200330_222735](https://user-images.githubusercontent.com/27947066/77940062-b9db9f00-72d5-11ea-967a-4d2f660eabbd.jpg)
Some minor visual problem only for J&K state.

[2020-03-30 17:30] rakeshreddy1410 commented on #388
Check telangana.json

[2020-03-30 17:38] rajhrikshit opened #404 "Uttarakhand district-level data not adding up"
**Describe the bug**
The number of district-level confirmed cases in Uttarakhand does not add up to the total number of confirmed cases. The only confirmed cases are shown in Dehradun which is less than the total number of confirmed cases. Even the number of people with the unknown district do not compensate for the missing amount.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the h

[2020-03-30 18:17] chinmaydalvi commented on #300
@sharathm @JunaidBabu
So Should I refresh the page after x min or do it without refreshing the page?

[2020-03-30 18:18] Nitin96Bisht commented on #388
@rakeshreddy1410 kindly check it.

[2020-03-30 18:18] shuklaayush commented on #404
Should be solved with #383

[2020-03-30 19:12] strikertanmay commented on #403
I check out this bug. Below 382px (width) this glitch occurs. I would like to fix this.

[2020-03-30 20:16] tuxdna opened #409 "Uttarakhand Map does not show information for Pauri Garhwal district"
Steps to reproduce are same as in https://github.com/covid19india/covid19india-react/issues/301

However there are two issues:

 * The map file for Uttarakhand state was reverted ( Json pretty formatted ), and district Pauri got reverted back to Garhwal
 * The correct name should now be "Pauri Garhwal" as in the Google Spreadsheet (rows 640, 921 ) - https://docs.google.com/spreadsheets/d/e/2PACX-1

[2020-03-30 20:49] bhaskarghosh16 opened #412 "Helpline numbers for every state and the central number"
**Is your feature request related to a problem? Please describe.**
This app should include the data related to official government helpline numbers, especially numbers for each and every state.

**Describe the solution you'd like**
The map of India shows the information related to the cases. It would be extremely helpful to anyone to have the government helpline number as well for each and every s

[2020-03-30 20:57] guneetnarula opened #413 "Update all district shapefiles (JSONs)"
We are using old district boundaries for most states. Telangana, West Bengal, Manipur, Gujarat, Maharashtra to name a few. This is causing both name mismatch problems and missing data

**Solution**
We have access to district boundaries from 2019, we can replace the JSONs we are using with new ones. The new JSONs also match well with the district names reference we are using for data collection.

S

[2020-03-31 01:14] harshvitra commented on #413
Can you share the json files we can fix this easily

[2020-03-31 01:20] JunaidBabu commented on #412
Already available in https://www.covid19india.org/links

[2020-03-31 01:20] #412 closed, assigned to JunaidBabu, sudevschiz

[2020-03-31 01:24] bhaskarghosh16 commented on #412
Hello. Not as a URL but displayed specifically for each state in the map. There are lots of whitespace that could be used.

Please see PR : https://github.com/covid19india/covid19india-react/pull/407

[2020-03-31 03:03] developergouli opened #414 "Add support to Kannada language"
It would be very helpful to have website display statistics in Kannada language so that people from Karnataka who are not familiar with English can use this website to track the status of Corona

The approach of using some of the automated tools for translation might not convey intended messages due to limitation in translation support for Kannada or any other Indian languages. Hence someone needs

[2020-03-31 03:30] jeremyphilemon commented on #414
Working on this is #357, issues #21 #98 :)

[2020-03-31 03:32] #414 closed, assigned to JunaidBabu, sudevschiz

[2020-03-31 04:01] dpnkrpl opened #415 "India Map and spread trends should swap their position when hovering on the below half of the state-table"
when hovering on the down half part of the state wise information table it is impossible to see the India map. corresponding state Map and Spread Trends  should swap their position.

[2020-03-31 04:06] guneetnarula commented on #413
Yes, on it

[2020-03-31 04:10] dpnkrpl opened #416 "Add the UPI / Account information of PM and other relief funds."
It would be great if we urge people to contribute some amount through this website .
state wise relief funds information should be added in the helpful links and `pmcares@sbi` UPI should be added in the banner.

For mobile users we could also redirect them to a UPI portal ( if possible, i'm not sure ).

Attention: according to Wikipedia ( https://en.wikipedia.org/wiki/PM_CARES_Fund)
"While the ori

[2020-03-31 04:39] guneetnarula commented on #327
Solving issue #413 should fix this too

[2020-03-31 06:04] pk1997 commented on #415
I understand the concern but the action to resolve the problem needs more thinking. If we swap positions of the map and spread trends we will be missing spread trends, the same way we miss the map now. Please correct me if I am wrong

[2020-03-31 06:05] pk1997 commented on #415
My suggestion would be to make the right component scrollable independently of the page.

[2020-03-31 06:12] icp1994 commented on #368
Those numbers are now fixed/updated

[2020-03-31 06:12] #368 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-31 06:14] shuklaayush commented on #409
Duplicate of #404

[2020-03-31 06:14] #409 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-31 06:15] sharathm commented on #300
@chinmaydalvi
The whole page need not refresh right? it has to be one or more ajax calls from the page to refresh the content only.

[2020-03-31 06:17] shuklaayush commented on #415
@pk1997 is right. Another way could be to make the whole right half sticky

[2020-03-31 06:18] dpnkrpl commented on #415
what if we re-position them depending on the browser scroll bar position. I don't know anything about web development , so it may sound a little bit weird :) or what if we make the map in a similar sticky way like the table header? ( of course then the question arises about the position of the spread trends though! )

[2020-03-31 06:50] chinmaydalvi commented on #300
@sharathm @JunaidBabu
I am implementing it without refreshing the page.  But In case you want to refresh the page after x min then I can also do that.

I am seeking for proper approach. So please suggest me the approach.

[2020-03-31 07:00] guneetnarula commented on #413
Latest json files are available here: https://github.com/guneetnarula/indian-district-boundaries/tree/master/topojson/state-wise

In my last PR, jsons for Andhra Pradesh, J&K and Ladakh were integrated. So use the others for now. I'll upload the remaining within a day.

[2020-03-31 08:41] jrishabh55 commented on #282
Is this issue still open for a volunteer ?, I'd like to work on the same

[2020-03-31 08:59] atharvaj77 commented on #416
Will work on it

[2020-03-31 08:59] manaskhandelwal opened #418 "Deltas For Other Columns per state"
### It is a little hard to find in which state is the death/active count increased in the last 24hrs.
### So as you display deltas for confirmed cases try displaying it for other columns like    death/recovered etc.
***

![improvmentIdea](https://user-images.githubusercontent.com/53651226/78007051-614ee500-735b-11ea-84a2-c0e64b390146.PNG)

[2020-03-31 11:07] sksavant commented on #80
Hi @JunaidBabu I've used raw data (using `dateannounced` and `state`) to make a graph for confirmed cases on state-by-state basis. Let me know if this is of interest
You can see the demo at this preview : https://covid19india-react.sksavant.now.sh/

Obviously, the UX can be improved as per what's needed

[2020-03-31 13:13] vandanachandola commented on #418
@manaskhandelwal I can work on this, if it's not already taken?

[2020-03-31 13:54] sivaanil commented on #418
@manaskhandelwal The code is already there. When the data is available it will show up automatically.

Here is the code related to
**Recovered:** https://github.com/covid19india/covid19india-react/blob/master/src/components/level.js#L63

** Deceased:** https://github.com/covid19india/covid19india-react/blob/master/src/components/level.js#L77

Looks like it needs to be updated here
Eg: https://gith

[2020-03-31 13:57] sivaanil commented on #413
@guneetnarula Little curious May I know from where can you get these files ?

[2020-03-31 14:39] #381 closed, assigned to shuklaayush

[2020-03-31 14:50] ksathyareddy7 commented on #365
Can we dig deeper into this like what are the measures that are being taken by every state to implement the lockdown like timings for essential purchasing, reports of local press what kind of violations are happening in state, etc. so that these data can be used to compare the trends of cases with the measures being taken by states to gain insights what is working and what's not?

[2020-03-31 16:15] mmshah278 commented on #349
This is an implementation using plotly and plotly express library of python. I've zero knowledge in java and hence can't implement similar things directly using the website. I've python code for this if someone wants to use it for inspiration.

Current implementation only plots the cases across the nation. One can update to show for each state as well. The second small graph actually is a slider w

[2020-03-31 17:35] kijidada opened #424 "Duplicate District Name [ West Bengal ]"
In West Bengal District list view, "Purba Medinipur" and "Medinipur East" is the name of the same district.

Expand the district list under West Bengal to reproduce this bug.

Kindly Place either of the one and add the corresponding values.

[2020-03-31 18:08] bhaskarghosh16 opened #425 "Addition of Helpline numbers for each state in the MAP view"
**Is your feature request related to a problem? Please describe.**
This app should include the data related to official government helpline numbers, especially numbers for each and every state. A PDF is already available for this in Helpful links section, however, having this information in the UI (Map view) is far more convenient.

**Describe the solution you'd like**
The map of India shows the i

[2020-03-31 18:12] bhaskarghosh16 commented on #300
@chinmaydalvi  I think it would be better to have this feature in place without refreshing the entire page. At the same time, the UX should be such, that the user understands that the data was refreshed , and he/she need not manually refresh again.

[2020-03-31 18:14] chinmaydalvi commented on #300
@bhaskarghosh16
Thanks for your opinion so will go ahead with the same approach.

[2020-03-31 18:57] shuklaayush commented on #403
Also happens for Andaman and Nicobar islands

[2020-03-31 19:02] strikertanmay commented on #403
Above made PR will fix this issue for all states.
 Check on this - https://covid19india-react-git-fork-strikertanmay-strikertanmay-fx-403.covid19india.now.sh

[2020-03-31 19:15] shuklaayush opened #427 "Website freezes on expanding Andaman and Nicobar islands"
**Describe the bug**
Website freezes when expanding to district view of Andaman and Nicobar islands on phone (Chrome/Android).

**To Reproduce**
1. Expand table entry of Andaman and Nicobar Islands
2. Tap on any district

**Additional context**
Appears to be a problem with the complexity and/or size of the Andaman and Nicobar islands map JSON. A solution might be to simplify the map.

[2020-03-31 19:23] shuklaayush commented on #377
I'm closing this since the discussion seems to have moved on to #415.

[2020-03-31 19:23] #377 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-31 19:33] shuklaayush commented on #418
@sivaanil is right. The relevant code is there, but the API is not currently publishing this information. Refer to https://github.com/covid19india/covid19india-react/issues/317#issuecomment-605617519.

Closing.

[2020-03-31 19:33] #418 closed, assigned to JunaidBabu, sudevschiz

[2020-03-31 19:48] shuklaayush commented on #399
Hi @Manvi-Agrawal, the relevant code is there but the API is currently not  publishing this information. Refer to https://github.com/covid19india/covid19india-react/issues/317#issuecomment-605617519.

Closing.

[2020-03-31 19:48] #399 closed, assigned to JunaidBabu, sudevschiz

[2020-03-31 19:56] shuklaayush commented on #91
Seems to be fixed now. Closing

[2020-03-31 19:56] #91 closed, assigned to sirajalam049

[2020-03-31 19:57] shuklaayush commented on #344
@AnirudhSriram Yep

[2020-03-31 19:57] #344 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-31 19:59] shuklaayush commented on #345
Please report in https://github.com/someshkar/covid19india-cluster. Closing

[2020-03-31 19:59] #345 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-31 20:06] shuklaayush commented on #313
Fixed via #328

[2020-03-31 20:06] #313 closed, assigned to ssonal

[2020-03-31 20:10] shuklaayush commented on #362
Hey @sachingarg05, those are great suggestions, but this discussion is already happening in #219. Feel free to comment over there. Closing

[2020-03-31 20:10] #362 closed, assigned to JunaidBabu, sudevschiz

[2020-03-31 20:15] shuklaayush commented on #166
@AnirudhSriram Yep. Also, please follow the Github syntax for linking a PR with an issue: https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword.

This ensures that all the linked issues are automatically closed once the PR is merged. Thanks!

[2020-03-31 20:15] #166 closed, assigned to jeremyphilemon

[2020-03-31 20:25] shuklaayush commented on #129
This has been pretty well addressed by #352. Don't see a point in adding zoom functionality since the map for the state/UT can instead be expanded by hovering/tapping on the table. Closing

[2020-03-31 20:25] #129 closed, assigned to nobody

[2020-03-31 21:01] didduinc opened #431 "Cluster is Laggy"
The cluster feature is too lagy and is making whole browser tab non-responsive

Problem is occuring in both Mobiles and Laptops

[2020-04-01 02:17] jeremyphilemon commented on #427
Whoa good catch!

[2020-04-01 02:42] AnirudhSriram commented on #166
Sorry about that. It’s my first time contributing. I’ll follow the guidelines from now. Thank you for the link :)

[2020-04-01 04:09] shuklaayush commented on #431
Please report in https://github.com/someshkar/covid19india-cluster

[2020-04-01 04:09] #431 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-01 05:07] shuklaayush commented on #346
Fixed via #429

[2020-04-01 05:07] #346 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-01 05:09] shuklaayush commented on #374
Fixed via #429

[2020-04-01 05:09] #374 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-01 05:11] shuklaayush commented on #388
Fixed via #429

[2020-04-01 05:11] #388 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-01 05:24] tannakartikey opened #434 "A few districts of Gujarat are not highlighted upon hover"
**Describe the bug**
All the cities are highlighted in Gujarat's map upon hover except below(spelled as in the list):
 - MAHESANA
 - KACHCHH
 - GIR SOMNATH

I think it is happening because the spelling of these cities is wrong on the map. In the map they are spelled correctly as below:

 - MEHSANA
 - KUTCH
 - The district of Gir Somnath is not there on the map.

**To Reproduce**
Steps to reproduce

[2020-04-01 06:48] bigfoot31 opened #438 "Show daily increase in recovery and deceased columns, statewise"
**Describe the solution you'd like**
which states has deaths today. .e.g. +2 in deceased column of main plot. Duplicate of functionality already present in column 1.

[2020-04-01 06:58] shuklaayush commented on #438
Hi @bigfoot31, the relevant code is there but the API is currently not publishing this information. Refer to https://github.com/covid19india/covid19india-react/issues/317#issuecomment-605617519.

Closing.

[2020-04-01 06:58] #438 closed, assigned to JunaidBabu, sudevschiz

[2020-04-01 07:48] guneetnarula commented on #413
@shuklaayush @JunaidBabu @sudevschiz
Almost all of the topojsons are available now in the repo link above. Will finalize Tamil Nadu and the remaining states of northeast once we have the latest available.

@sivaanil - these are community led efforts that are more or less manual in nature. See projects.datameet.org/maps/ for more (although we still have to update the datameet repositories with the

[2020-04-01 07:49] codeslane opened #439 "Right Padding Needed at Graph"
![Screenshot_20200401-131629_Chrome](https://user-images.githubusercontent.com/26877201/78112066-493e9a80-741b-11ea-89c0-a9b0760382c0.jpg)
The number are attaching to the corner.

[2020-04-01 07:54] abdullahkhilji opened #440 "Palghar district level not distinguished in map (carve out from Thane)."

[2020-04-01 07:56] codeslane commented on #102
Still Open?

[2020-04-01 08:08] sivaanil commented on #413
Thank you for the info @guneetnarula

[2020-04-01 08:22] AjithKumarvm commented on #427
https://www.covid19india.org/maps/andamannicobarislands.json is 135KB(zipped) and 652KB(unzipped). the `arcs` key has too much data that mobile can handle. tested on One plus 7. It took like 2 - 3 minutes to unfreeze.

[2020-04-01 09:15] raguljr opened #443 "Last case reported from state"
It would be easier to know if along with last updated, there is a way to check last case reported from state.

Ex:
LAST UPDATED 4 MINUTES AGO 01 APR, 14:37:25 IST
LAST CASE REPORTED FROM TAMILNADU,

[2020-04-01 09:21] sandeephegde16 opened #444 "Change to state table view upon clicking on a state in map"
**Describe the bug**
Upon clicking on state to see district wise data, left side table should show particular state and district data. Now, if user clicked on state map and accidentally hovers on left side table, then map changes automatically to India map.

**To Reproduce**
1. Double click on any state to get district view.
2. Hover courser on left side statewise tracker (Any other state)
3. Stat

[2020-04-01 09:27] keepitopen opened #445 "A + sign on the patient in the cluster map if the patient is a doctor or a healthcare worker"
If there is incoming data about the cases being citizen or doctor, we can show them up in the cluster.
However, this has a little bit of a potential downside with inaccurate representation of such patients in case of non-availability of data, thereby rendering our main concern of making the public aware of the conditions in which health workers are working. If this is not a significant problem tho

[2020-04-01 09:28] sandeephegde16 opened #446 "Districts Unknown entry in state view"
**Describe the bug**
An entry unknown districts appearing in state view.

**To Reproduce**
1. Double click on any state
2. See an entry 'Unknown Districts' on left side below district name.

**Expected behavior**
I believe it should show total no of districts in a state.

**Screenshots**
![image](https://user-images.githubusercontent.com/35073693/78121686-4e0a4b00-7429-11ea-9e6e-16e45230cb55.png)

[2020-04-01 09:38] sandeephegde16 opened #447 "Display Active case %, Mortality %, and Recovery %"
**Is your feature request related to a problem? Please describe.**
Now that we have lots of data in hand, its good to show mortality rate and also recovery rate by country, i.e., India, by each state wise and district wise.

**Describe the solution you'd like**
Active Case % = Total Population of country or State / Active case of country or state
Mortality Rate = Total active case / Total deceased

[2020-04-01 09:42] sandeephegde16 opened #448 "Show spread trend graph for each state"
**Is your feature request related to a problem? Please describe.**
It is good to show spread trends for each state to track statewise data. If suppose any state has flat curve, similar containment and testing measures can be successfully implimented in other states as well.

**Describe the solution you'd like**
Upon clicking state wise map, show state wise spread trend below.

[2020-04-01 09:45] petroanveshak opened #449 "Daily & Cumulative chart - Statewise"
**Is your feature request related to a problem? Please describe.**
Daily & Cumulative chart - Statewise

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots

[2020-04-01 09:56] Amritesh commented on #439
What needs to be done here is to format the numbers in place of playing with the padding. So that
1500 become 1.5k and 15000 becomes 15K.
I can also adjust the padding if reuqired. Going to create a PR to format the numbers.

[2020-04-01 09:56] shuklaayush commented on #445
Please report on https://github.com/covid19india/covid19india-network

[2020-04-01 09:56] #445 closed, assigned to JunaidBabu, sudevschiz

[2020-04-01 09:58] shuklaayush commented on #448
Duplicate of #219

[2020-04-01 09:58] #448 closed, assigned to JunaidBabu, sudevschiz

[2020-04-01 09:58] shuklaayush commented on #449
Duplicate of #219

[2020-04-01 09:58] #449 closed, assigned to JunaidBabu, sudevschiz

[2020-04-01 10:02] shuklaayush commented on #446
@mykerehittal It represents the number of cases in the state for which we don't have district information. I don't think showing total number of districts adds any value to the map. We're already short on space. Thanks, I'm closing this for now. We can reopen it if the need ever arises.

[2020-04-01 10:02] #446 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-01 10:36] Amritesh commented on #73
This issue is resolved right?

[2020-04-01 10:41] dehalder22 opened #451 "Recovery and deceased count should be shown state wise atleast like showing in confirmed cases"
As we see everyday there is a red up arrow beside the count of state wise confirm cases. The same should be reflected in case recovery as well as deceased. Because we are observing for example total 13 recovery in India in a day but couldn't indentify the delta or in which state many value has been increased. This should be same as confirmed case feature.

[2020-04-01 11:01] shuklaayush commented on #451
Hi @dehalder22, the relevant code is there but the API is currently not publishing this information. Refer to https://github.com/covid19india/covid19india-react/issues/317#issuecomment-605617519.

Closing.

[2020-04-01 11:01] #451 closed, assigned to JunaidBabu, sudevschiz

[2020-04-01 11:03] Baibhab97 opened #452 "Spelling Mistake in District Name [West Bengal]"
**Describe the bug**
The district 'Darjeeling' in West Bengal is wrongly spelt as 'Darjiling'.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to the home page.
2. Click on the state of West Bengal.
3. Scroll to the topmost district.
4. See error

**Expected behaviour**
The name of the district should be 'Darjeeling'.

**Screenshots**
![Screenshot from 2020-04-01 16-30-28](https://user-

[2020-04-01 11:09] Baibhab97 commented on #452
Please assign it to me. Have already fixed this.

[2020-04-01 11:20] varungupta3009 commented on #427
Was this fixed? Because it works perfectly fine on my low-end device.

[2020-04-01 11:41] ArbaazDossani opened #453 "Daily Cases Line graph toggle with bar graph"
- [ ]  Line Graph Addition
- [ ]  Toggle option between bar graph and line graph for Daily Cases

[2020-04-01 11:49] Z929091 opened #454 "covid19 data updation in Kerala (not an issue)"
the daily number of cases in Kerala gets updated everyday 6 pm via a press conference which is broadcasted live. Tell me how can I help in updation of this data.

[2020-04-01 11:53] codeslane opened #456 "Embed Total Time Passed Countdown Since COVID-19 Outbreak"
Please add the total time passed since the COVID-19 Outbreak below header.

Fact: The First case reported in India was 30th January.

Also, it would be great if every individual city can have their own countdown

[2020-04-01 11:53] ghost opened #457 "upi details of PM CARES account"
add the upi details of PM CARES account provided by the government of India
this would help the government of India in the fight against corona

[2020-04-01 12:04] shuklaayush commented on #457
Duplicate of #416

[2020-04-01 12:04] #457 closed, assigned to JunaidBabu, sudevschiz

[2020-04-01 12:07] shuklaayush commented on #427
@varungupta3009 Don't think it was. It still freezes on my phone. The weird part is that it works fine on Firefox mobile.

[2020-04-01 13:05] hiren0ded commented on #444
Instead of onHover on table row, It would be good if **click** on table row and then it reflects on India map.

[2020-04-01 13:10] dehalder22 commented on #451
Hi @shuklaayush  thanks for the info.

[2020-04-01 13:16] strikertanmay commented on #456
I hope (https://github.com/covid19india/covid19india-react/issues/337) will solve this issue. I thought both issues are almost the same. If I'm wrong, please correct me.

[2020-04-01 13:55] varunarora099 opened #463 "Recovery cases."
Please update recovery cases state wise.

[2020-04-01 14:06] limshark commented on #413
I noticed Gwalior District and Datiya District map in Madhya Pradesh state are not showing correctly, Not sure if I need to file a seperate issue or it is taken care by Json file udpate. the official map is hosted at  http://geoportal.mp.gov.in/DistrictPortal.aspx   . Both district you will find in north of Madhya Pradesh map.   The Covid19india site is showing incorrectly.

[2020-04-01 14:17] sandeephegde16 opened #464 "Display daily growth factor"
**Is your feature request related to a problem? Please describe.**
For a desease like covid19, we need to make use of every analysis possible. It would be great to show a daily growth factor of the disease in a map.

We can have a drop down to select daily growth factor of new cases, daily growth factor of deaths.

Daily Growth Factor of New Cases = Total new cases of yesterday/ Total new cases of

[2020-04-01 14:21] KrishnaPravin commented on #427
@shuklaayush I would like to work on this. could you assign me?

[2020-04-01 14:25] krunal704 commented on #464
It should also have Daily Growth factor of Recovered patients
Daily Growth Factor of Recovery = Total new Recovered patients of yesterday / Total new recovered patients of today
This option also should be added to dropdown

[2020-04-01 14:36] iindranil opened #467 "Different Result for Desktop and Mobile at the same time"
Hi Developers,

I've noticed that the result is showing different for desktop and mobile at the same time. I am using the chrome web browser for desktop and mobile.

If you guys save data in a single database then why the result is showing differently for desktop and mobile at the same time.

NOTE: Browsing location also the same for both.

Thank you,
Indranil

[2020-04-01 14:37] ShadabFaiz opened #468 "[Question] Roadmap?"
Do you guys have any roadmap for this project? What features are being worked on / will be worked on in the future, is there any specific skill that you would like a person to get in touch with.

[2020-04-01 14:49] sandeephegde16 commented on #468
It would be better to select few suggested enhancements, prioritize it and update in Readme.md (Atleast) So that people will have an idea where we are progressing.

[2020-04-01 15:08] jkandasa opened #469 "Need some more space for district names"
**Describe the bug**
We do not have enough room for district names. Need to increase cell width bit more

**To Reproduce**
Expand any of state to show district details

**Screenshots**
![image](https://user-images.githubusercontent.com/1004403/78153156-69407f00-7458-11ea-87fc-b1bc8f731275.png)
**Desktop (please complete the following information):**

- OS: fedora 31
- Browser:  chrome
- Version: 7

[2020-04-01 15:17] kijidada commented on #424
Thanks.
Closing this.

[2020-04-01 15:17] #424 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-01 15:24] shyam2794 opened #472 "Ramanathapuram Map was incorrect ."
#### The TamilNadu District wise map for ramanathapuram was incorrect .

##### Bug

When hovered over rameshwaram - virudhunagar was getting highlighted as well .  Have raised a fix for the same - [ PR ](https://github.com/covid19india/covid19india-react/pull/470) .

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2. Click on TamilNadu State to get the vie

[2020-04-01 15:27] AYUSHMAN-PANDA opened #473 "Logo on "title bar""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
**The logo seems too tiny when opened in desktop site,though its not so clear in phone either**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The same logo can be enlarged (and/or) made colourful

[2020-04-01 15:31] varungupta3009 commented on #427
Yes. Turns out that it hangs on Chrome, but it's perfectly fine on Chrome Canary. I was using Canary on both. So it's an optimization issue that will probably be fixed in the near future.

[2020-04-01 15:31] pankaj-dahiya-devops commented on #416
I suggest you to add CM relief fund details too, so that people who want to donate to CM relief fund can do so.

[2020-04-01 15:53] shuklaayush commented on #427
Thanks! I guess there's nothing to fix then.

[2020-04-01 16:15] saipradeep1 opened #475 "Covid19 Map Data for Tumkur, Karnataka"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-01 16:31] saipradeep1 commented on #475
data needed

[2020-04-01 16:42] pinnamanivenkat opened #476 "Unpleasant colors when hovered over GitHub button"
**Describe the bug**
When the "OPEN SOURCED ON GITHUB" is hovered, #8ffe09 is showing a gloss effect.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the footer section.
2. Hover on the Github button
3. Look at the gloss.

**Expected behavior**
Since the $light is being used for the background, it's better to invert the colors.
![expected](https://user-images.githubusercontent.com/180

[2020-04-01 16:43] burnout-projects opened #477 "Months map does not have key '05' and value 'Dec'"
**Describe the bug**
In src/utils/common-functions.js, the months var doesn't have key '05' and val 'Dec'. I don't know if this intentional. If so, please ignore this bug. Thanks.

**To Reproduce**
Steps to reproduce the behavior:

Open file src/utils/common-functions.js

**Expected behavior**
[code]

[2020-04-01 16:46] Nitin96Bisht commented on #467
@iindranil Can you please give a detailed explanation along with a screenshot and result that you are referring too.

[2020-04-01 17:02] Bhumika0201 opened #480 "Chatbot can be integrated"
Hi I want to contribute,I have made a chatbot which could be useful.Any suggestions are welcomed.Please see the screenshots attached
![Screenshot (31)](https://user-images.githubusercontent.com/40764170/78165243-a90f6280-7468-11ea-94b9-3c9d1879052e.png)
![Screenshot (32)](https://user-images.githubusercontent.com/40764170/78165249-ab71bc80-7468-11ea-83ee-394021518c31.png)
![Screenshot (33)](https:

[2020-04-01 17:03] Nitin96Bisht commented on #452
@shuklaayush Kindly check PR #479

[2020-04-01 17:07] ankitkatiyar91 opened #481 "Cluster map is not working"
**Describe the bug**
Cluster map is not loading

**To Reproduce**
Open the cluster page

**Expected behavior**
Cluster mapo should be loaded

**Desktop (please complete the following information):**

- OS: Mac
- Browser Chrome, Firefox

**Smartphone (please complete the following information):**

- Device: Oneplus 6
- OS: Android
- Browser Chrome

**Additional context**
Error on console
[code]

[2020-04-01 17:13] sandeephegde16 commented on #481
Cluster map tends to get slow in windows + chrome too. Clicking on P2P map, searching couple of patient codes and again navigating to States/ Travel cluster map makes application very slow and hangs many times. Might be data load!?

[2020-04-01 17:18] Nitin96Bisht commented on #476
@shuklaayush @jeremyphilemon @JunaidBabu @sudevschiz Kindly check and let me know if we can work on it. If yes then assign it to me, please.

[2020-04-01 17:22] Nitin96Bisht commented on #440
@abdullahkhilji Can you please describe it in detail along with a screenshot if possible?

[2020-04-01 17:26] abdullahkhilji commented on #440
Actual Maharashtra Map with Palghar:
<img width="127" alt="Screenshot 2020-04-01 at 10 54 31 PM" src="https://user-images.githubusercontent.com/33245628/78167289-ddd0e900-746b-11ea-8795-4ad09b2760cf.png">

Current Map:
<img width="155" alt="Screenshot 2020-04-01 at 10 55 00 PM" src="https://user-images.githubusercontent.com/33245628/78167335-f0e3b900-746b-11ea-83ba-7c65f0b0650b.png">

How should I

[2020-04-01 17:34] nikitha90 opened #482 "Customize graphs to view content"
Currently we are able to view only the graphs that shows the entire data from the beginning till date. This can be customized with two options:
* hour range  which shows the data for last 30 minutes, last 6 hours, last 24 hours (idea could be a drop down with any hour range as values)
* date and month range (last one week, one month) can be provided with a calendar button for the user to select th

[2020-04-01 17:47] nikitha90 commented on #480
very innovative idea. Can we integrate this chatbot with most commonly used social media applications like facebook messenger and whatsapp?

[2020-04-01 17:59] Bhumika0201 commented on #480
Thank you .It can be integrated with react applications

[2020-04-01 18:03] Starksid007 opened #483 "Clusters map of state and P2P not working"
When we click on the clusters page it take alot of time to load the page . And the clusters map doesn't work and get freezed , and after that site doesn't work.

The cluster page should be load faster and should not get freezed after opening.

- Device: Realme 3 pro
- OS: Android 10
- Browser : Chrome

[2020-04-01 18:06] ParthGoyal1508 commented on #480
@bhumika0201 could you please clarify what's the use of chatbot here? Who will resolve those queries and what will be general queries ?

[2020-04-01 18:09] sandeephegde16 commented on #483
Duplicate of #481
 https://github.com/covid19india/covid19india-react/issues/481#issue-592069563

[2020-04-01 18:13] vandanachandola commented on #468
I agree, I am looking for issues to work on but everything "available" seems to be already in progress and it's a bit difficult to find something.

[2020-04-01 18:21] sandeephegde16 opened #484 "Covid-19 Tracker Plugin"
Its good to develop and provide a plugin to integrate COVID-19 Tracker to any other websites to directly display the data concisely borrowing from our data source.

This can be integrated to major news websites, Google search page and many other android and ios apps. Currently, (As i have seen) some android apps (Confirmtkt for instance) display data from [worldometer ](https://www.worldometers.in

[2020-04-01 18:24] akshayjadhav9 opened #485 "Unable to click on Andaman and Nicobar Islands from Map"
On Google Map, User unable to drill down on Andaman and Nicobar Islands

Device -
One plus 6T
Browser - Chrome

[2020-04-01 18:53] ghost opened #487 "Github footer links should open in new tab"
**Describe the bug**
Github footer links when clicked opens in same tab. Rest footer links opens in new tab.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org
2. Scroll down to Footer
3. Click on 'Open Sourced on Github'
4. Notice the link is opening in same tab

**Expected behavior**
The link should open in new tab

[2020-04-01 19:10] psunthar commented on #413
Several maps are not scaled and translated with the actual GIS boundaries.
Tamil Nadu, for instance.  I tried playing around with the transform.scale and transform.translate values, but it is very difficult to determine the correct position by trial and error.

Any clues how to do this easily?

[2020-04-01 19:16] Rahul-skush opened #490 "we can add symbols corresponding to instructions along with present instructions in banner section."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-01 19:19] ghost commented on #487
Just noticed. COVID19INDIA link in footer has also same behaviour. The link should open in new tab.

[2020-04-01 19:22] nikitha90 commented on #480
My idea is that this could be more of an automated bot which will answer queries based on menu interactions. More like how facebook provides in its messenger apps. we can provide buttons like (view states/UT), on clicking the button, the state list should be displayed. On clicking each state, the current details can be displayed. And we can add helpline numbers and safety measures as part of this

[2020-04-01 19:26] Nitin96Bisht commented on #487
@vimalkaul I have created PR for the same. It needs to be reviewed and merged.

[2020-04-01 19:29] ghost commented on #487
Thanks @Nitin96Bisht checked here -
https://covid19india-r-git-fork-nitin96bisht-fix-open-github-lin-009a57.covid19india.now.sh

It's working fine.

[2020-04-01 19:31] shuklaayush commented on #413
@psunthar d3 has [fitSize/fitExtent](https://github.com/d3/d3-geo#projection_fitExtent) methods for this purpose

[2020-04-01 19:33] guneetnarula commented on #413
@limshark Is it correct here: https://github.com/guneetnarula/indian-district-boundaries/blob/master/topojson/state-wise/madhyapradesh.json ?

[2020-04-01 19:35] nikitha90 opened #493 "Compiled from State Gov. Numbers text on clicking compiled link redirects to FAQ"
**Describe the bug**
The text "COMPILED FROM STATE GOVT. NUMBERS" contain a link for the text "compiled". It is redirecting to FAQ page. Is this intented? Is compiled alone meant to be hyperlinked?

**To Reproduce**
click on compiled text in "COMPILED FROM STATE GOVT. NUMBERS" phrase
it redirects to FAQ page. also compiled alone is Hyperlinked.

**Expected behavior**
A clear and concise descriptio

[2020-04-01 19:44] Nikhiljoseph31 opened #494 "Default selection of graphs should not be scale uniformly"
The scale uniformly toggle is defaulted to yes, the default should be no since the data between deaths or recovered and confirmed cases will not be in the same range

[2020-04-01 19:44] AYUSHMAN-PANDA opened #495 "STATE HELPLINE NUMBERS- LINK NOT WORKING"
**Describe the bug**
A clear and concise description of what the bug is.
under helpful links section in the homescreen,the first link ,which shud otherwise give the helpful numbers state wise is not working

[2020-04-01 19:46] Nikhiljoseph31 opened #496 "New map with location of Confirmed cases"
A GIS map integration with location of Confirmed cases, I believe  this information is already available as public layer in ESRI.

[2020-04-01 19:47] sagarv1997 commented on #190
Just read the contributing guidelines @sudevschiz Please assign the Myth Buster section to me

[2020-04-01 19:47] subratappt opened #497 "Cluster animation slowing down the browser. It also takes much time."
OS: Windows 10
    Browser: Firefox

**Cluster animation becomes useless now. It takes too much time to load and animate. It also slows the browser down. Switching between the tabs sometimes does not work.**

 It will be very good if you improve it.

[2020-04-01 19:58] tirthajyoti opened #499 "Request to put a simple state-wise CSV file"
Request to put a simple CSV file on the main page and update it every day.

[2020-04-01 19:59] Nitin96Bisht commented on #497
@jeremyphilemon @JunaidBabu @sudevschiz Kindly check it. It is indeed getting very slow.

[2020-04-01 20:03] RahulRanjan7201 opened #500 "API response is wrong"
Hi
 API can be consumed by other application ,as you all already mentioned.
1. https://api.covid19india.org/data.json - Gives Wrong Data It shows only till 31st

[2020-04-01 20:23] Nitin96Bisht commented on #493
@jeremyphilemon @JunaidBabu @sudevschiz Indeed it redirects to the FAQ page. What are your views on it? Does it require any other functionality?

[2020-04-01 21:54] Santoshbhushan opened #503 "The Test Done data should be available"
As an User of website I should be able to see the number of test performed of CoVID-19 at India level, State Level and District level So that i can compare and know that number of cases are found in India is from how many tests perfomed.

Also The increase/ decrease in test performed on daily basis also be shown.

[2020-04-01 22:03] shivendersingh opened #504 "Map color not as per count in Goa"
**Describe the bug**
A clear and concise description of what the bug is.
Color of North Goa map is not as per the map color chart.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2. Click on Goa map
3. See error : As per the map color chart with the count of 3, the color of North Goa map is showing red.

**Expected behavior**
A clear and concise descripti

[2020-04-01 22:38] vs2018it opened #506 "Timeseries graph glitch on mobiles"
**Describe the bug**
In the Spread Trends column while changing the date on the graph to see the data of that date it reflects the current data for a second and then load to the date.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Spread Trends Column'
2. Click on 'Any graph and Try to change the date"
3. You will see the current data on changing the date along with current date on

[2020-04-01 22:50] vs2018it commented on #506
Verify it as i am unable to reproduce it for screenshot maybe the touch of that whole column was doing it for me....

[2020-04-01 23:36] jeremyphilemon commented on #10
Added! #363

[2020-04-01 23:36] #10 closed, assigned to nobody

[2020-04-01 23:37] jeremyphilemon commented on #21
@harshzalavadiya mentioned you in #432

[2020-04-01 23:43] jeremyphilemon commented on #57
Patched #51

[2020-04-01 23:43] #57 closed, assigned to shuklaayush

[2020-04-01 23:44] jeremyphilemon commented on #66
Closing this because lack of reliable and timely data about the testing numbers.

[2020-04-01 23:44] #66 closed, assigned to nobody

[2020-04-01 23:59] #73 closed, assigned to nobody

[2020-04-02 00:25] #100 closed, assigned to nobody

[2020-04-02 00:40] jeremyphilemon commented on #106
I understand that this is a metric we must have. Once we get hold of reliable data, it'll be on the frontpage. Closing this since we currently don't have any source that gives us reliable numbers.

Feel free to open this issue again once you find a reliable source, we'll be happy to have it displayed on the frontpage since it'll be an important number to look up to in our ongoing fight with the pa

[2020-04-02 00:40] #106 closed, assigned to nobody

[2020-04-02 00:42] jeremyphilemon commented on #136
Closed by #363

[2020-04-02 00:42] #136 closed, assigned to nobody

[2020-04-02 00:43] jeremyphilemon commented on #102
We've decided adding support for push notifications would instill stress to people, if in any other app it definitely seems reasonable to add push notifications, however, for a tracker like this it wouldn't be much productive.

Feel free to open this issue later if you think otherwise :)

[2020-04-02 00:43] #102 closed, assigned to nobody

[2020-04-02 00:43] jeremyphilemon commented on #477
Haha my bad, fixed it! Thanks for reporting :)

[2020-04-02 00:43] #477 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 00:45] jeremyphilemon commented on #503
We've addressed this issue, please check the comments at #106

[2020-04-02 00:45] #503 closed, assigned to JunaidBabu, sudevschiz

[2020-04-02 00:51] jeremyphilemon commented on #500
Please file issues relating to the API here https://github.com/covid19india/api/issues

About the data, the timeseries graphs are filled only till T-minus one day, hence if today is April 2, the data for timeseries is only available till April 1 since the day is not over yet.

[2020-04-02 00:51] #500 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 00:52] jeremyphilemon commented on #499
The support for downloading csv files is being worked on at the moment. #75

[2020-04-02 00:52] #499 closed, assigned to JunaidBabu, sudevschiz

[2020-04-02 00:53] jeremyphilemon commented on #497
Thanks for reporting!

Please file issues about the cluster at https://github.com/someshkar/covid19india-cluster

[2020-04-02 00:53] #497 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 01:01] jeremyphilemon commented on #495
Good eye! Thanks for reporting :)

[2020-04-02 01:01] #495 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 01:03] jeremyphilemon commented on #496
I believe this information is already available on the website? 🤔

If you're talking about integrating the [lat,lng] of confirmed cases, that would be out of scope of the project + the privacy issues that can stem out of it.

Thanks for reaching out!

[2020-04-02 01:03] #496 closed, assigned to JunaidBabu, sudevschiz

[2020-04-02 01:05] jeremyphilemon commented on #493
Yes this was intentional, I had to decide on underlining a "call to action" word hence the decision to underline "compiled". We later patched it to use "Know more" since it's more apt!

Thanks for filing the issue :)

[2020-04-02 01:05] #493 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 01:20] jeremyphilemon commented on #494
Hey, thanks for filing the issue.

The decision to keep it toggled on default was intentional by design. When the graphs are first shown, it is important to have the axis across them uniform in order to compare the magnitude between them easily. When they're not uniform, all the graphs will hit the ceiling in their own scales and show a distorted representation of the numbers.

Hence the decision

[2020-04-02 01:20] #494 closed, assigned to JunaidBabu, sudevschiz

[2020-04-02 01:31] jeremyphilemon commented on #490
Not sure what you mean. Please have the issue template filled so that it can help us understand the problem. Feel free to open the issue again describing the problem clearly :)

[2020-04-02 01:31] #490 closed, assigned to JunaidBabu, sudevschiz

[2020-04-02 01:32] jeremyphilemon commented on #487
Haha nice find! Thanks for filing the issue :)

[2020-04-02 01:41] jeremyphilemon commented on #485
@akshayjadhav9 does this have to do with the inability to click Andaman and Nicobar islands? Or that a district is not showing up the right information after clicking Andaman and Nicobar Islands?

[2020-04-02 01:42] jeremyphilemon commented on #484
Hey, it'd be cool if you could give us examples of websites using a plugin like this?

[2020-04-02 01:44] jeremyphilemon commented on #506
@vs2018it Hey, thanks for filing an issue!

I'm not sure I'm able to reproduce the error either. I just tried it on my android based phone and while on scroll, it should show the dates and data accordingly, and when you let go both the data and date reset to yesterday's values. Did something apart from this behavior happen?

[2020-04-02 01:46] jeremyphilemon commented on #481
Hey thanks for filing an issue!

Please file issues on clusters at https://github.com/someshkar/covid19india-cluster repo since the people working on the development will be able to track and address it!

[2020-04-02 01:46] #481 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 01:47] jeremyphilemon commented on #483
Closed cause duplicate. Please find your answer at #481

[2020-04-02 01:47] #483 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 01:48] jeremyphilemon commented on #482
Hey thanks for filing this!

We've already had a feature request about this and was discussed here. #317

Closing this so that further discussion about this can be directed there instead! It'd also be great if you could add your comment above there too!

[2020-04-02 01:48] #482 closed, assigned to nobody

[2020-04-02 01:52] jeremyphilemon commented on #480
@sudevschiz @JunaidBabu thoughts?

[2020-04-02 01:53] jeremyphilemon commented on #476
Patched it since it was a minor code change, thanks @Nitin96Bisht and @pinnamanivenkat!

[2020-04-02 01:53] #476 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 02:04] jeremyphilemon commented on #439
Closed by #363

[2020-04-02 02:04] #439 closed, assigned to nobody

[2020-04-02 02:05] jeremyphilemon commented on #468
Thanks for addressing this, I think this is a good idea! I'll open a roadmap sometime today so that it can help people understand what's being focused on right now!

[2020-04-02 02:18] jeremyphilemon commented on #467
This doesn't seem right, could you try again and let us know? And by "result", what type of data are you referring to?

[2020-04-02 02:28] jeremyphilemon commented on #464
You can see that we do display negative deltas under dailys, but I don't see why adding percentages would be a problem!

Based on the formula you've provided, it seems to be the case that the percentages can allow better understanding of the rise/fall of the slopes besides the numerical delta – and ofc visually the graph itself.

<img width="502" alt="Screen Shot 2020-04-02 at 5 23 02 AM" src="htt

[2020-04-02 02:30] jeremyphilemon commented on #463
There is always a delay in updating the numbers since the team behind the scenes rely on a process to verify their sources on the news and numbers they receive. Hence, it takes time to have them updated :)

[2020-04-02 02:33] jeremyphilemon commented on #454
Please check the telegram link quoted in the footer of the website for more details on reporting about data, thanks!

[2020-04-02 02:33] #454 closed, assigned to nobody

[2020-04-02 02:34] jeremyphilemon commented on #453
May we know why the toggle/enhancement is required? 🤔

[2020-04-02 02:44] jeremyphilemon commented on #367
Closed by #363

[2020-04-02 02:44] #367 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 02:48] jeremyphilemon commented on #415
@deep5050 the scrollbar solution would involve an event listener to constantly be checking its positions and firing events on every change in event, which would reduce the performance of the site significantly.

I too agree with both @pk1997. We need a different strategy, and @shuklaayush's suggestion on making the right half sticky is a good one, but that only solves the solution for desktops. We

[2020-04-02 02:58] KrishnaPravin commented on #341
@rishiip could you please check again.
I was also facing this issue in macOS Catalina with Chrome. But it seems to be fixed now.
My Chrome Version - 80.0.3987.162 (Official Build) (64-bit)

[2020-04-02 03:06] Himanshu54 opened #509 "Number of people tested daily."
Number of cases is corelated to number of people tested. Number of tests done are already questionable.

Get number of tests done daily data and plot it against active cases discovered.
This helps to understand importance of testing in fight against covid19

[2020-04-02 03:17] sandeephegde16 commented on #464
@jeremyphylemon We cab create a drop down for different graphs and allow user to select type of graph needed. In this case, daily growth factor would be a separate graph since the values generally revolves around 1 as x axis.
In this case, we would have 3 drop down options, Cumulative/Total, Daily, Growth factor.

[2020-04-02 03:21] sandeephegde16 commented on #464
It would also be better to add no of people tested vs no of active or recovered or deceased cases. That gives better insight on  need of rigorous testing too.

[2020-04-02 03:26] sarankumar-ns opened #510 "Change District Name in Google Sheet."
District Number 568: Thoothukkudi to Thoothukudi.
I thought this may affect map update problem.

[2020-04-02 03:47] GaneshKandu opened #511 "Forecast of future growth"
**Is your feature request related to a problem? Please describe.**
Forecast of future growth

**Describe the solution you'd like**

[Exponential growth](http://ccnmtl.columbia.edu/projects/biology/lecture1/expogrow.html)

[Forecasting of Population: 9 Methods | Water Quantity | Water Engineering](http://www.engineeringenotes.com/water-engineering-2/water-quantity/forecasting-of-population-9-method

[2020-04-02 03:52] mmvgit opened #512 "Weekly trend for the new case reported and death cases"
Please add weekly trend for the data in addition to daily bar graph and cumulative line graph.

[2020-04-02 04:07] akshayjadhav9 commented on #485
Inability to click o Andaman and Nicobar islands.

[2020-04-02 05:32] nithinnani07 commented on #282
How to reproduce this issue, Im willing to resolve this ! @shuklaayush
@jeremyphilemon

[2020-04-02 05:32] chamow97 commented on #504
This is reproducible for States having very less confirmed total cases. Odisha, Assam, Mizoram,  Uttarakhand, Himachal Pradesh, Mizoram, Manipur, Bihar, Chhattisgarh, Jharkhand  to name a few. Can I work on this issue?

[2020-04-02 05:33] codeslane commented on #456
Yeah Almost Same to feature #337 but with additional countdown

[2020-04-02 05:47] chamow97 commented on #485
Can we also provide dropdown functionality Select (state -> district) so that people can use that for to view the map?

[2020-04-02 05:48] limshark commented on #413
@guneetnarula , yes, both the district Gwalior and Datiya looks correct in https://github.com/guneetnarula/indian-district-boundaries/blob/master/topojson/state-wise/madhyapradesh.json .

[2020-04-02 05:55] sandeephegde16 opened #515 "Event Information in cluster?"
We now have new Events details in cluster map but double clicking on it doesn't show any details. Is this intended? Don't we need details of events?

[2020-04-02 06:05] shuklaayush commented on #515
Hey @mykerehittal, we won't be able to address this since clusters is a separate project. Please file relevant issues at https://github.com/someshkar/covid19india-cluster

[2020-04-02 06:05] #515 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 06:31] keerthigaragu opened #517 "Minor text update needed on text above the political map of India"
Describe the bug
Above the map, the text below `INDIA MAP` says only about state and not about UTs.

Steps to reproduce the behavior:
Go to home page, see the political map of India.
Above the map, the text says only about state and not about UTs.

Expected behavior
Should say "HOVER OVER A STATE/UT FOR MORE DETAILS"

Screenshots
<img width="540" alt="Screen Shot 2020-04-02 at 11 59 17 AM" src="ht

[2020-04-02 06:33] keerthigaragu commented on #517
I can work on it if it's okay for you guys.

[2020-04-02 06:39] guneetnarula commented on #510
This is related to #413

[2020-04-02 06:43] mananthprabhu opened #518 "Last updated shows two different values..."
Last updated shows different values over the tab vs map. Looks like an inconsistency.

![image](https://user-images.githubusercontent.com/220212/78218393-56bb5980-74db-11ea-8bab-707e713f33ac.png)

[2020-04-02 06:44] guneetnarula commented on #504
This seems like an issue of the continuous scale algo we are using for the choropleths in D3. Right?

[2020-04-02 06:48] guneetnarula commented on #475
Tumakuru district is showing 2 cases right now. What's the issue exactly?

[2020-04-02 06:50] guneetnarula commented on #472
This is related to #413 but will take sometime, latest Tamil Nadu district boundaries are still being worked on

[2020-04-02 06:50] chamow97 commented on #504
Yes, if we have a mapping of the scale and map's color then it will be easier to solve. I think its happening even for the India Map. Kerala's color is deeper than expected for example.

[2020-04-02 06:53] guneetnarula commented on #440
Yes, this will be resolved by #413

[2020-04-02 07:05] AkhileshK8y commented on #504
@guneetnarula Yes, I tried to solve this issue last night...
For color bar the code written is
`const color = d3
      .scaleSequential(d3.interpolateReds)
      .domain([0, statistic.maxConfirmed / maxInterpolation || 10]);`
This code does discreet interpolation of red in.

For coloring the region the code is
`const n = parseInt(mapData[d.properties[propertyField]]) || 0;

          const color =

[2020-04-02 07:07] Nitin96Bisht opened #519 "Helpful links open on same tab"
**Describe the bug**
All helpful links open on the same tab.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Helpful Links
2. Click on any of the links.
3. See issue

**Expected behavior**
All links should open in a new tab.

**Desktop (please complete the following information):**

All desktop

**Smartphone (please complete the following information):**

All smartphone

[2020-04-02 07:26] shuklaayush opened #522 "Districts highlighting on transition"
**Describe the bug**
On going back from the state map to the country map, the districts of the state are highlighted for a brief moment. Looks trippy.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on any state in the table.
2. Hover over any of it's districts.
3. Hover back to the state's row.

**Expected behavior**
No highlighting should happen.

**Screenshots**
![Peek 2020-04-02 1

[2020-04-02 07:31] shuklaayush commented on #518
@mananthprabhu Hey! The right one is the last updated time for the current state (Maharashtra in this case), while the left one is the overall last updated time. Closing

[2020-04-02 07:31] #518 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 07:38] shuklaayush commented on #504
I think the discussion in #57 is relevant. Just making the colouring discrete might not solve the issue. We would also need to adjust the number of discrete intervals for each state.

[2020-04-02 07:48] sarankumar-ns commented on #510
The name mentioned at https://github.com/covid19india/covid19india-react/blob/2a658276b6fc74a44657d9f01b4f14316b6833b3/public/maps/tamil-nadu.json?short_path=dc72922#L1643 is correct one(**Thoothukudi**).

So It's need to change in Google Sheets(It's named as **Thoothukkudi**).

Src: https://en.wikipedia.org/wiki/Thoothukudi_district
https://thoothukudi.nic.in/

[2020-04-02 07:51] jeremyphilemon commented on #327
Closed by #521

[2020-04-02 07:51] #327 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 07:52] jrishabh81 opened #524 "Cluster tab hits data API twice | Performance Improvement"
<img width="960" alt="CovidIssue" src="https://user-images.githubusercontent.com/13431633/78223714-f7fadd80-74e4-11ea-91aa-0b3aac154911.PNG">

[2020-04-02 07:58] guneetnarula commented on #510
Thanks. Yeah there are different spellings in different sources. We'll stuck to Thoothukkudi, the data will match the JSON in the coming release

[2020-04-02 07:58] #510 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 07:58] Richu98 opened #525 "Website down"
**Describe the bug**
Website down due to build error

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Web Page

**Screenshots**
https://drive.google.com/file/d/1FLkTBt4L2YRiXDAE28oVd5Nqde_ukZ4s/view?usp=sharing

**Desktop (please complete the following information):**

- OS: Wi

[2020-04-02 07:59] guneetnarula commented on #434
This should be resolved by fix #521

[2020-04-02 07:59] #434 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 08:02] guneetnarula commented on #452
This should be resolved by fix #521

[2020-04-02 08:02] #452 closed, assigned to guneetnarula

[2020-04-02 08:07] sandeephegde16 opened #526 "Rajasthan & Telangana - Wrong last updated"
Rajasthan has last updated as 19 hours ago which clearly seems wrong considering we have 9 fresh cases today morning itself.

Whereas Telangana was not updated from yesterday but its showing as 3 hours ago.

![image](https://user-images.githubusercontent.com/35073693/78224975-0ba74380-74e7-11ea-9db7-c8731d5a8602.png)

![image](https://user-images.githubusercontent.com/35073693/78224900-f29e9280-74

[2020-04-02 08:07] dsouzadyn commented on #524
Hi, can you post the headers of both the requests.

[2020-04-02 08:09] guneetnarula commented on #440
Watch out for fix #521

[2020-04-02 08:09] #440 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 08:11] sandeephegde16 commented on #526
Madhya Pradesh, Gujarath and Assam too have same issue.

[2020-04-02 08:16] Baibhab97 opened #527 "Old District Data [Tripura]"
**Describe the bug**
The district data of Tripura is old.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to Home Page
2. Click on Tripura in the Map
3. Four districts will show up only, whereas there are 8 districts

**Expected behaviour**
8 districts are there in Tripura. Instead of 4, those 8 districts should be shown.
The name of the 8 districts are:
1. Dhalai
2. Gomati  
3. Khowai

[2020-04-02 08:19] salmandaw opened #528 "Interactive timeline"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A date wise timeline that shows the map as per date clicked on would be a nice way to show how the virus is progressing. we could probably make the node of each date in the daily cases graph as the link which would show the date dashboard as per that date.

**Describe alternatives you've con

[2020-04-02 08:21] Richu98 commented on #525
Its working fine now

[2020-04-02 08:21] #525 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 08:28] shoyebinamdar opened #529 "State wise daily recovered and deceased cases"
**Is your feature request related to a problem? Please describe.**
State wise daily recovered and deceased cases
**Describe the solution you'd like**
Like we show daily increased cases for each state, we can also show newly recovered and deceased cases.

[2020-04-02 08:29] jeremyphilemon commented on #525
:)

[2020-04-02 08:37] KrishnaPravin commented on #512
I would like to work on this. If this issue is accepted please assign it to me.

[2020-04-02 08:38] shuklaayush commented on #529
Hi @shoyebinamdar, the relevant code is there but the API is currently not publishing this information. Refer to https://github.com/covid19india/covid19india-react/issues/317#issuecomment-605617519.

Closing.

[2020-04-02 08:38] #529 closed, assigned to JunaidBabu, sudevschiz

[2020-04-02 08:42] jrishabh81 commented on #524
@dsouzadyn  Check this out.
<img width="960" alt="Header1" src="https://user-images.githubusercontent.com/13431633/78228097-eb2db800-74eb-11ea-8458-edd7a226beca.PNG">

[2020-04-02 08:56] tannakartikey opened #530 "Map data discrepancies"
From my tests in #355 I have found out the following discrepancies in the districts' data:

**Describe the bug**
1) **Arunachal Pradesh**
The API response has the state name as `Arunachal Pradesh`
In the `public/maps/arunachalpradesh.json` it is spelled wrongly as `Arunanchal Pradesh`

2) **Andaman and Nicobar Islands**
The API response has the state name as: `Andaman and Nicobar Islands`
In the `

[2020-04-02 09:17] jrishabh81 commented on #524
@dsouzadyn  The header of other request is exactly the same.

[2020-04-02 09:35] jeremyphilemon commented on #336
Closed by #521

[2020-04-02 09:35] #336 closed, assigned to guneetnarula

[2020-04-02 09:38] #376 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 09:40] jeremyphilemon commented on #404
Closed by #521

[2020-04-02 09:40] #404 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-02 09:40] dsouzadyn commented on #524
It seems to be happening of `useEffect()`. Apparently this function is called on each re-render of component. It's not that big of an issue. but fixing it will be a good performance improvement. I'll see what I can do. Till then we can wait for this issue to be reviewed by a mod.

[2020-04-02 09:47] jeremyphilemon commented on #475
Closing this because Tumakuru district is visible on the website now!

[2020-04-02 09:47] #475 closed, assigned to guneetnarula

[2020-04-02 09:49] jeremyphilemon commented on #485
@chamow97 this is already present, you can interact with the table to expand the district table and hover over them to view the respective districts highlighted

@akshayjadhav9 thank you for the clarification, will need to figure out how we can fix that! Maybe we could have A&N islands scaled a little bigger on the map.

[2020-04-02 10:00] dsouzadyn commented on #524
Actually @jrishabh81 you may wan't to report the issue [here](https://github.com/someshkar/covid19india-cluster). Since this project just uses an iframe which points to this site

[2020-04-02 10:02] nikitha90 opened #532 "Sort not working with "unknown" districts"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-02 10:04] jeremyphilemon commented on #532
That's by design, people have a written extra few lines of code for that!

The "unknowns" row will always remain at the bottom.

[2020-04-02 10:04] #532 closed, assigned to nobody

[2020-04-02 10:33] tannakartikey opened #534 "Image of the website when the link is shared on Facebook"
**Is your feature request related to a problem? Please describe.**
If the link of the website is shared on Social Media the image is not displayed. Refer the attached screenshot.
![image](https://user-images.githubusercontent.com/422544/78239393-474c0880-74fb-11ea-9bb9-32eebb842bbe.png)

**Describe the solution you'd like**
As per Facebook's documentation the `og:image` meta tag has to be included

[2020-04-02 10:52] codeslane opened #535 "Add Number of Recovered Cases And Death Cases"
Please add daily number of death cases row and number of Recovered cases row individually state wise when someone click state.

![Screenshot_20200402-161950_Chrome](https://user-images.githubusercontent.com/26877201/78241553-3355d600-74fe-11ea-8343-ef0ee6c07631.jpg)

[2020-04-02 10:58] tannakartikey commented on #534
By all means, go ahead!

On Thu, Apr 2, 2020 at 4:16 PM JyothiPrasad Uppalapu <
notifications@github.com> wrote:

[2020-04-02 10:59] tannakartikey commented on #415
@jeremyphilemon if we make the right sidebar sticky then there is no way we can scroll the right part and go to the graphs below the maps.

What we need to do is make the left and right scroll individuals of each other.

Something is shown in the image below but prettier and _without_ scrollbars

![COVID-19 Tracker _ India](https://user-images.githubusercontent.com/422544/78242093-0e159780-74ff-11

[2020-04-02 11:06] prabodhmeshram opened #536 "Adding changes in Recovered and Deceased columns for state"
**Is your feature request related to a problem? Please describe.**
It is related to UI visualization for changes in data for other columns. There is no delta changes shown in the UI for Recovered or Deceased patients.
<img width="614" alt="Screen Shot 2020-04-02 at 3 06 46 PM" src="https://user-images.githubusercontent.com/6660187/78234925-7f504d00-74f5-11ea-809f-0bbbf8254bfe.png">

The code is co

[2020-04-02 11:29] shuklaayush commented on #535
Hi @codeslane, the relevant code is there but the API is currently not publishing this information. Refer to https://github.com/covid19india/covid19india-react/issues/317#issuecomment-605617519.

Closing.

[2020-04-02 11:29] #535 closed, assigned to nobody

[2020-04-02 11:40] p10dulkar opened #538 "Can you make module for Magic mirror"
**Describe the solution you'd like**
Helpful Links

https://magicmirror.builders/
https://github.com/MichMich/MagicMirror
https://docs.magicmirror.builders/development/introduction.html
Example :https://github.com/bibaldo/MMM-COVID19
make it specific for india if you have time

[2020-04-02 12:46] Dwijad opened #541 "API Access to patient DB"
Hi
Can i have API access to patient data base like elasticsearch so that any one can do some analysis on patient  data and view them in dashboard like Kibana.

If you don't have the ES database, i can create one such DB in the cloud for any one to use. You just need to export the data from patient DB in the Google spreadsheets.

Regards

[2020-04-02 12:56] test2a opened #542 "last updated date in sort table on main page"
![Untitled 1](https://user-images.githubusercontent.com/39449563/78251302-c565da80-750e-11ea-9f19-67840e0495a3.jpg)

right now, we don't have a glance view of when the last time data was updated. we have to click on state name and then it shows last updated data. having last updated in the table and being able to sort would help us by see if any state data needs attention or whatever

[2020-04-02 13:00] viggyprabhu commented on #541
I am also looking for this. Can you please suggest how can I download the google sheets

[2020-04-02 13:01] test2a opened #543 "global tracker should have/include johns hopkins tracker"
[https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6](url)
 johns hopkins university data is the most up to date tracker which is updated hourly/half hourly and publications like the guardian and NYT use this tracker in their reporting so i suggest the same be added here so that more people are exposed to this information

[2020-04-02 13:13] JunaidBabu commented on #541
https://api.covid19india.org/raw_data.json

[2020-04-02 13:17] Dwijad commented on #541
I know with a python script the patient data from Google sheets can be read. Just curious about API access to patient DB in case it is available :}

[2020-04-02 13:52] sudevschiz opened #544 "Add sanity check to only plot spread trend graphs till yesterday"
**Describe the bug**
The Cases_Time_Series sheet is vulnerable to extra rows of dates being added. This will cause an empty value to be added. Things like below could happen

**To Reproduce**
1. Add an extra date in Cases_Time_Series sheet without any valid Confirmed/Recovered/Deceased values and wait for <9 minutes

**Expected behavior**
Even if empty dates are present, they shouldn't be plotted.

[2020-04-02 14:04] sudevschiz commented on #543
This is currently not in our scope. We will stick to cases in India.
However, this can be added to the Helpful Links.

https://coronavirus.jhu.edu/map.html

I will do that.

[2020-04-02 14:04] #543 closed, assigned to nobody

[2020-04-02 14:06] Dwijad commented on #541
Data from all the spreadsheets are not available like statewise_tested_numbers_data, case_time_series, district_list, statewise and likes :)

[2020-04-02 14:19] aksappy commented on #541
@DwijadasDey  The api repo has the links listed. https://github.com/covid19india/api

[2020-04-02 14:31] avinasshcm opened #545 "Disable Scale Mode Uniform by default."
Disable Scale Mode Uniform by default.

This will add more clarity to graph when we see the curve. If it is enables by default, 2nd and 3rd Graphs looks like a straight line.

[2020-04-02 14:54] parasuramankumarasami opened #547 "Death details"
Hi,

can we add death details in the state wise details.

[2020-04-02 16:15] anandhsri commented on #547
Death details is not matching the raw data sheet. It is only showing 21 deaths still.

[2020-04-02 16:32] ashishdawale20 opened #549 "Contribution from state or district is showing 0.00% while it should be 0%"
**Describe the bug**
Contribution from state or district is showing 0.00% while it should be 0%

**To Reproduce**
Hover on state Meghalaya, it is showing "0.00% from Meghalaya"

**Expected behavior**
It should show "0% from Meghalaya" on hover

**Screenshots**
![image](https://user-images.githubusercontent.com/43884208/78274206-78ddc780-752d-11ea-97e1-842cefdc5666.png)

**Desktop (please complete

[2020-04-02 16:34] test2a commented on #543
oh i'm sorry. i didn't  mention where. there is a link in the bottom of the links page. i am asking to have a link to johns hopkins website there

https://www.covid19india.org/links

[2020-04-02 16:37] vedadeepta commented on #544
willing to work on this, please assign @jeremyphilemon

[2020-04-02 17:15] kmkmahesh opened #551 "Colors in legendCells class not showing as Same on states"
Please check the bug why colours in chart is not same in states

[2020-04-02 17:21] shvms opened #552 "West Bengal recovered and death numbers interchanged."
**Describe the bug**
The numbers don't match the official [MoHFW](https://mohfw.gov.in/) and seems interchanged mistakenly.

[2020-04-02 17:31] kmaheshkulkarni opened #553 "The Ahmedabad City is locating in Maharashtra on Graph in APP"
![covid19](https://user-images.githubusercontent.com/18054137/78279886-d9710280-7535-11ea-9ddb-b40bbe49e18b.png)

[2020-04-02 17:42] akshayjadhav9 opened #555 "Wrong District in Maharashtra"
Ahemdabad District list down in Maharashtra
Refer attached Screenshot

Steps to Reproduce :
1. Open URL
2. Expand Maharashtra
![Screenshot_20200402-230712__01](https://user-images.githubusercontent.com/63014676/78280834-59e43300-7537-11ea-8759-ab0372e49a56.jpg)

[2020-04-02 17:43] tannakartikey commented on #530
I am not sure how we are gathering map data at the moment.
Just mentioning a few resources I found in case it helps:
https://github.com/HindustanTimesLabs/shapefiles/tree/master/india
https://github.com/deldersveld/topojson/tree/master/countries/india

[2020-04-02 17:58] sachinsangle8652 opened #556 "Ahmadabad showing under maharashtra state"
![Screenshot_2020-04-02-23-22-56-701_com android chrome](https://user-images.githubusercontent.com/63068702/78282312-ae88ad80-7539-11ea-9622-352e2bb3958a.png)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise d

[2020-04-02 18:10] hitesh-tarani commented on #555
Duplicate of #553.

[2020-04-02 18:10] yulanl22 commented on #555
Those two cases are of Aurangabad which is wrongly put up as 'Ahmadabad'
Also spelling under Gujarat of Ahmedabad is incorrect

[2020-04-02 18:10] hitesh-tarani commented on #556
Duplicate of #553.

[2020-04-02 18:25] kousiksatish commented on #545
@avinasshcm I also feel the same. In coming days, recovery and death is going to be nowhere close to new cases. It makes sense to have uniform turned off.
@jeremyphilemon @JunaidBabu Please review.

[2020-04-02 18:34] kousiksatish opened #558 "Link to latest update source from each state"
**Is your feature request related to a problem? Please describe.**
No. It is a new feature which would help people like me who would like to know more about the update.

**Describe the solution you'd like**
In recent days, we see that each state government is mostly giving one update per day. It would be good if we could the link to the source of this update.

[2020-04-02 18:37] kousiksatish commented on #558
https://github.com/covid19india/api/issues/63 - Have raised the same in API repository also.
I would like to work on this feature if accepted. Please assign it to me.

[2020-04-02 18:44] khaaba commented on #530
@tannakartikey Maps in the above links provided by you are old ones. Total number of Districts in the country at present 729 as per latest data updated in 2018/2019.

[2020-04-02 18:49] J93d commented on #553
Also spelling is wrong

[2020-04-02 18:49] #555 closed, assigned to nobody

[2020-04-02 19:23] georgyjacob2020 opened #559 "Border for every path is a shade of red, does not clearly demarcate"
![Screenshot 2020-04-03 at 12 48 03 AM](https://user-images.githubusercontent.com/63071885/78292586-e5b08c00-7544-11ea-88aa-25c3cc3f85a5.png)
**The Border between states and districts is also a shade of red**
If neighbouring states or districts have almost the same number they look like one blob

**It would be better if the border color is black or a contrast color like green **

[2020-04-02 19:26] georgyjacob2020 commented on #559
covid19india-react/src/components/choropleth.js
Line 121 will need the necessary change
        .attr('stroke', '#ff073a20')

I can make the changes, I might be a little slow to get of the blocks and test etc etc..

[2020-04-02 21:35] fibbysib opened #561 "Tirupattur district is mentioned twice under the list of districts in Tamilnadu"
Tirupattur district is mentioned twice under the list of districts in Tamilnadu
![Screenshot_20200403-024817](https://user-images.githubusercontent.com/63075730/78302087-c838ed80-7557-11ea-8b03-7c1edc926cf1.jpg)

[2020-04-02 22:39] jeremyphilemon commented on #544
@vedadeepta all yours! :)

[2020-04-03 01:00] SaiKathika opened #563 "Screen Freezing problems"
**Describe the bug**
In the clusters section when I tried to select City or state it was freezing for some time, after that it changes the option but the was still in freeze and I can't able to scroll. This happened on mobile browser.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to clusters
2. Click on state
3. Scroll down to we can't scroll down or up because at this point the screen

[2020-04-03 01:11] sudevschiz commented on #563
Let me refer you here : https://github.com/someshkar/covid19india-cluster

They are actively working on improving the performance.

[2020-04-03 01:11] #563 closed, assigned to nobody

[2020-04-03 01:18] sudevschiz commented on #561
Thanks for reporting. For now, I have fixed the Tirupattur and Tirupathur case in the data.
Team is working on fixing the district list to reflect the new districts carved in TN recently.

[2020-04-03 01:18] #561 closed, assigned to sudevschiz

[2020-04-03 01:20] sudevschiz commented on #559
@georgyjacob2020 Please try to make the change. Personally, I think a lighter color like white might be better to demarcate the boundaries rather than black.
But it's up to yours and @jeremyphilemon 's imagination

[2020-04-03 01:24] sudevschiz commented on #558
Have assigned the change in the API to you.

On the website, you like to know where and how you plan to show these links. If it's on the table, it might be bad UX.

Please discuss.

[2020-04-03 01:26] sudevschiz commented on #556
This has been fixed at a data end. Thanks for reporting.

[2020-04-03 01:26] #556 closed, assigned to nobody

[2020-04-03 01:27] #553 closed, assigned to nobody

[2020-04-03 02:03] sudevschiz commented on #552
This is our source currently. Please check. https://www.indiatoday.in/india/story/west-bengal-coronavirus-death-1662088-2020-04-01

[2020-04-03 02:03] #552 closed, assigned to nobody

[2020-04-03 02:05] sudevschiz commented on #551
@kmkmahesh Sorry, but difficult to understand the exact issue. Can you re-raise the issue in the standard bug-report template?

[2020-04-03 02:05] #551 closed, assigned to nobody

[2020-04-03 02:10] sudevschiz commented on #547
I have raised an issue in the API repo to provide the latest Death and Recovery details through the API.

https://github.com/covid19india/api/issues/65

Closing this issue.

[2020-04-03 02:10] #547 closed, assigned to nobody

[2020-04-03 02:13] sudevschiz commented on #545
I think this is debatable. Ideally, all three curves should be shown on the same graph so that in future we can see recoveries reaching towards the total cases.

Having Uniform scaling on, is closer to that reality. @jeremyphilemon thoughts?

[2020-04-03 02:18] sudevschiz commented on #542
I think there is a UX impact when the number of columns on that table is increased.
This information is available when users taps on the state for district-wise view. I feel that's the right amount of exposure for this information.

The PR was made before accepting. However, @jeremyphilemon please check if this is required addition.

[2020-04-03 02:19] sudevschiz commented on #541
@DwijadasDey please do create an issue in https://github.com/covid19india/api if you need an API for a specific sheet. We will definitely look into it :)

[2020-04-03 02:19] #541 closed, assigned to nobody

[2020-04-03 02:22] fadikar opened #564 "State specific Spread Trends when a state is selected"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When a state is selected on the India map, the corresponding spread trend plots of that state can replace the overall trend plots. That will allow us to see trend of individual state, which should be different for different states, providing additional insights.

[2020-04-03 03:22] KrishnaPravin commented on #564
@JunaidBabu is it possible to have data for cases_time_series for all states?
I guess currently we don't have.

[2020-04-03 03:44] KrishnaPravin commented on #530
@JunaidBabu @sudevschiz @jeremyphilemon
I would like to work on this.

[2020-04-03 03:46] JunaidBabu commented on #564
https://api.covid19india.org/states_daily.json

This is the json of Date_wise_Delta sheet. I think this is what you're looking for. Unfortunately this only contains data from March 30th.

[2020-04-03 03:49] KrishnaPravin commented on #564
@JunaidBabu is it possible to extract data by going through the commits of api repo? for older data.

[2020-04-03 03:58] JunaidBabu commented on #564
Yes that's the only way to fill up the old data.. would you like to take this up?

@sudevschiz can you support this?

[2020-04-03 04:00] KrishnaPravin commented on #564
@JunaidBabu  Yes, I would like to take it.

[2020-04-03 04:09] JunaidBabu commented on #564
@KrishnaPravin that would be awesome. Could you send your email ID to [JunBot](https://t.me/junbot). I will add you to the Sheet. You can download a copy of Date_wise_Delta and fill it locally. We'll later review it and add to the master sheet. Sounds good?

[2020-04-03 04:15] KrishnaPravin commented on #564
@JunaidBabu Absolutely!

[2020-04-03 05:39] ghost opened #565 "Add a Refresh Button to refresh the data instead of reloading the page"
**Is your feature request related to a problem? Please describe.**
As a web user, where pages are kept open in browser & on revisiting them I don't need to reload the complete page to get the latest count. It's not much user friendly.

**Describe the solution you'd like**
A refresh button, on the top or next to _Last Updated_  would suffice as it'll just refresh the counts and updates other states

[2020-04-03 05:43] sudevschiz commented on #538
Whoah. You want these saddening numbers on a mirror? :0

Anyways, opening it up for somebody

[2020-04-03 05:45] Rion12 opened #566 "Active cases column is wrongly attributed"

[2020-04-03 05:45] #566 closed, assigned to nobody

[2020-04-03 05:45] Rion12 commented on #566
sd

[2020-04-03 05:46] srivenkatesh92 opened #567 "Active column is showing date and time"
**Describe the bug**
A clear and concise description of what the bug is.

All Active column in UI showing date and time instead of active number count

**To Reproduce**
Steps to reproduce the behavior:

Just refresh and see the landing page

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-04-03 05:47] Ankit895 commented on #567
@jeremyphilemon seems to be a database issue
![Screenshot from 2020-04-03 11-19-32](https://user-images.githubusercontent.com/31807034/78328568-1a503200-759d-11ea-892a-9d45142555d7.png)

[2020-04-03 05:50] raktron opened #568 "Getting Dates in Active field"
**Describe the bug**
Dates are being shown in the "Active" field. Number of active cases should be shown.

**To Reproduce**

It is appearing on the landing page.

**Expected behavior**
Number of active cases should be shown.

**Screenshots**
![image](https://user-images.githubusercontent.com/22574341/78328428-bded1280-759c-11ea-8860-1846ddfc7c99.png)

**Desktop (please complete the following infor

[2020-04-03 05:50] akshayjadhav9 commented on #567
Also Active Cart shows Wrong Count

[2020-04-03 05:51] urveehm opened #569 "Active number of infected person wrongly binded in latest update"
Active number of infected person column wrongly binded in latest updatsd

[2020-04-03 05:52] Ankit895 commented on #567
yes, this seems to be a database issue

[2020-04-03 05:53] Ankit895 commented on #567
Please close this issue as it's fixed

[2020-04-03 05:55] srivenkatesh92 commented on #567
Thank you @Ankit895 for quick response

[2020-04-03 05:55] #567 closed, assigned to nobody

[2020-04-03 05:56] raktron commented on #568
Issue has been fixed

[2020-04-03 05:56] #568 closed, assigned to nobody

[2020-04-03 05:58] Invoker96 commented on #569
Please elaborate more on this.

[2020-04-03 06:49] avinasshcm commented on #545
With your close to reality recommendation, people cannot see proper variation in the graph. Please see the attached one.

Scale it not the thing which users see, what makes usability better is what is the variation in number compared to yesterday or day before or week before.

![Uniform_false](https://user-images.githubusercontent.com/63049624/78332213-33f57780-75a5-11ea-87a5-c3cea6183d27.JPG)
![U

[2020-04-03 06:54] Invoker96 commented on #559
@sudevschiz  @georgyjacob2020, I have made the required changes. White color was looking way off as our eastern states have light shade and background is also White.

![image](https://user-images.githubusercontent.com/40684561/78332511-d150ab80-75a5-11ea-921d-4c927c4a4be0.png)

**on Hover**
![image](https://user-images.githubusercontent.com/40684561/78332584-f1806a80-75a5-11ea-8a4a-09e193f578b8.pn

[2020-04-03 06:56] hitesh-tarani commented on #542
Though the last-updated information is available after user clicks on state for state-district view, I feel that having it as an additional column with sorting feature is good-to-have.
I agree that the adding new column in that table messes UX on mobile devices.
Moderators / @jeremyphilemon please review this feature request and provide suggestions for the same.

[2020-04-03 07:11] georgyjacob2020 commented on #559
@Invoker96 thanks a lot,
Just curious...
Can you try light green color too ?

[2020-04-03 07:16] panwarab commented on #565
can I take this up?!

[2020-04-03 07:19] panwarab commented on #569
@urveehm  Please elaborate on what you are seeing and what is the expectation

[2020-04-03 07:20] Invoker96 commented on #559
@georgyjacob2020
Light green will look like this.
![image](https://user-images.githubusercontent.com/40684561/78334560-96507700-75a9-11ea-96fb-b9098443db1c.png)

Olivedrab looks much better

![image](https://user-images.githubusercontent.com/40684561/78334628-baac5380-75a9-11ea-860e-72e8c3803f6c.png)

[2020-04-03 07:21] sasivarenan opened #571 "Andhra Pradesh unknown cases were not added to the respective districts"
Hi Team,

Under the AP state view, unknown cases are still not added to the respective districts. Referring to the link below, the data needs to be added to the district. Please check.

https://www.indiatoday.in/coronavirus-outbreak/story/andhra-pradesh-reports-38-new-covid-19-cases-tally-rises-to-149-1662711-2020-04-03

[2020-04-03 07:24] georgyjacob2020 commented on #559
Olivedrab does look good, maybe redure to 1px instead of 2

[2020-04-03 07:24] georgyjacob2020 commented on #559
Do the districts view also get the borders

[2020-04-03 07:30] kousiksatish commented on #545
Please refer https://www.worldometers.info/coronavirus/country/india/
They have graphs without uniform scaling.
They have comparison graphs as below which makes more sense for such data. We can also implement that. May be Recovered vs Death in same graph
![Screen Shot 2020-04-03 at 12 57 48 PM](https://user-images.githubusercontent.com/6641694/78335287-f7c51580-75aa-11ea-9fad-061c268a3af8.png)
![S

[2020-04-03 07:31] kousiksatish commented on #558
@sudevschiz I was just thinking we could show it as below:
Please let me know if there is any better way

![Screen Shot 2020-04-03 at 12 52 29 PM](https://user-images.githubusercontent.com/6641694/78335434-3b1f8400-75ab-11ea-9928-5a3a758affb8.png)

[2020-04-03 07:32] georgyjacob2020 commented on #559
Country States
![Screenshot 2020-04-03 at 1 00 30 PM](https://user-images.githubusercontent.com/63071885/78335424-365ad000-75ab-11ea-840d-e8a82a232486.png)
Districts
![Screenshot 2020-04-03 at 1 00 42 PM](https://user-images.githubusercontent.com/63071885/78335439-3ce94780-75ab-11ea-95d3-78fd6ab5434f.png)

[2020-04-03 07:33] Invoker96 commented on #559
Yes, districts also has the same border, reduced the width to 1px
![image](https://user-images.githubusercontent.com/40684561/78335461-48d50980-75ab-11ea-9bf3-5e5e04b7c025.png)

![image](https://user-images.githubusercontent.com/40684561/78335554-7326c700-75ab-11ea-99fa-9c38a859d7bd.png)

Looks good now? Raising a PR

[2020-04-03 07:37] ravi-shankar-ojha opened #572 "Issue with district name"
**Describe the bug**
District wise report for kerala state is generating wrong. For last column it is showing something else.

**Expected behavior**
Only district name should be there.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_20200403-125855](https://user-images.githubusercontent.com/8983606/78335692-b97c2600-75ab-11ea-9d7d-db7d5bce25f3.png)

**Sma

[2020-04-03 07:42] urveehm commented on #569
This active column in table was showing date and time in previous update,
corrected in latest updated

I Appreciate the quick resolution.
Great work 👍

On Fri, 3 Apr, 2020, 12:50 pm Krillln, <notifications@github.com> wrote:

[2020-04-03 07:43] twozero88 commented on #415
Aren't all of these desktop specific solutions? The problem still will be there on mobiles.Nothing we can do about it.

[2020-04-03 07:44] Invoker96 commented on #559
@georgyjacob2020 @sudevschiz Changes are pushed and available in the https://github.com/covid19india/covid19india-react/pull/573

[2020-04-03 07:52] shekhars271991 opened #574 "District should stay highlighted after a user clicks on it"
**Is your feature request related to a problem? Please describe.**
When I click on a state the state maps opens. Now when I hove over a district the district numbers are displayed, but as soon as a take the pointer away some random district (possibly the one pointer hovered over last before getting away from the map).

**Describe the solution you'd like**
If any district is clicked on a map, the n

[2020-04-03 07:54] kondannangi163 opened #575 "Filter by means of state"
we can filter the data by means of state in cluster view and see the map by means of state.
Searching by means of state will be more helpful when compared to P2P filter.

Some of the data is mentioned as unknown with location.
It would be better if we update the data asap so the people in the location can be intimated,

Clustering in cluster page is too slow we can increase speed if we pre process

[2020-04-03 07:55] sudevschiz commented on #572
Fixed the data. Thanks a lot for reporting!

[2020-04-03 07:55] #572 closed, assigned to nobody

[2020-04-03 07:57] sudevschiz commented on #575
Could you report here :  https://github.com/someshkar/covid19india-cluster

[2020-04-03 07:57] #575 closed, assigned to nobody

[2020-04-03 07:59] kondannangi163 opened #576 "Kadapa and ysr states are same"
kadapa state and ysr state are same but you gave it as a different things

[2020-04-03 08:00] sudevschiz commented on #574
Very keen UX consideration!
Also, when the state map is opened, the default district shown is the one with maximum number of cases. Then that district should be highlighted with a boundary too.

Making this available.

[2020-04-03 08:01] iindranil opened #577 "Confused Text to Understand"
Hello,

Users getting confused with this text. Can you please check and let me know.

![image](https://user-images.githubusercontent.com/39942912/78337928-7459f300-75af-11ea-90e8-d445ea609e40.png)

Thank you,

[2020-04-03 08:20] SARAN-thala opened #578 "Hover on Tamilnadu state map hovering wrong city highlighted"
**Tamilnadu state map hovering issue**
When we hover district of VIRUDHUNAGAR in TamilNadu state map, It highlights the Rameswaram Town as well. But Rameswaram as not part of VIRUDHUNAGAR district, it is part of Ramanathapuram district.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to India Map
2. Click on TamilNadu state
3. Hover on VIRUDHUNAGAR district
4. See error: It highlights Ra

[2020-04-03 08:22] SARAN-thala opened #579 "Hover on VIRUDHUNAGAR district in Tamilnadu state map wrong city highlighted"
**Tamilnadu state map hovering issue**
When we hover district of VIRUDHUNAGAR in TamilNadu state map, It highlights the Rameswaram Town as well. But Rameswaram as not part of VIRUDHUNAGAR district, it is part of Ramanathapuram district.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to India Map
2. Click on TamilNadu state
3. Hover on VIRUDHUNAGAR district
4. See error: It highlights Ra

[2020-04-03 08:25] SARAN-thala commented on #578
Duplicate issues created #579 , so closing this issue 🙂

[2020-04-03 08:25] #578 closed, assigned to nobody

[2020-04-03 08:29] twozero88 commented on #577
Data in the main table and the map can be updated at the same time?

[2020-04-03 08:32] avinasshcm commented on #545
Same thing holds good for this graph too.
Recovered and Deceased is flat.

![Stats](https://user-images.githubusercontent.com/63049624/78340393-a8cfae00-75b3-11ea-98ca-f127a469b714.JPG)

[2020-04-03 09:00] shuklaayush commented on #574
@sudevschiz This behaviour was pretty deliberate on our part. We didn't want to keep something always highlighted on the map. Will be happy to change it if you want

[2020-04-03 09:09] ashish199820 opened #581 "Get nearest affected area from your location using area pincode/gps/address and display the visual on map."
**Is your feature request related to a problem? Please describe.**
This feature provides the ease of tracking the affected area via GPS/area pin-code/address.
Nearest hospitals and test centers can also be added on the map that will help users to locate them in different situations.

**Describe the solution you'd like**
Added map and features to fulfill the stated problem. Need Geo-location and de

[2020-04-03 09:21] twozero88 opened #582 "Percentage of Cases in a state/district is shown only on map hover and not on navigating through the main table"
**The Problem**
Percentage of Cases in a state/district is shown only on map hover and not on navigating through the main table.

**To Reproduce**
1. Go to https://www.covid19india.org
2. Hover on Any state
3. Now navigate to the same state in the main table

**Expected behavior**
On 2, we see %age of cases in that region.
On 3, the area is highlighted but %age is not shown.

**Environment**
- Win

[2020-04-03 09:43] Nitin96Bisht commented on #519
@jeremyphilemon Kindly review it.

[2020-04-03 10:55] abdullahkhilji commented on #440
Yes, the issue is fixed.

[2020-04-03 11:15] shubhamg0406 commented on #59
All of these charts represent different numbers, what we currently have gives a wrong idea, not the other way around.

If the numbers mean different things, they should be presented differently. Hence not keeping it uniform provides a better experience.

Edit: Also, since all of these numbers are rising in an exponential manner, only the first graph gives this impression while the other ones look

[2020-04-03 11:21] shaksi opened #585 "forking for other markets/countries"
great work on this, love the simplicity and overview, I have understood mostly how it works - the only thing leaving me baffled is the map generation.

so instead of just assuming things, i thought i would ask - to adapt this for another market (thinking of Kenya/Somali/Ethiopia etc. What is required? happy to do the work, would be glad for topline advice.

[2020-04-03 11:23] ncpanigrahy opened #586 "Percentage by population, area"
Dear team,
Really you are doing well by showing all these things. I am requesting to add increase rate of percentage by population and area. That will help user to know exact increase ratios.
Thanks

[2020-04-03 11:45] shuklaayush commented on #59
I agree with @thanoskaka, but for different reasons. If we wanted uniform scaling, we could have plotted everything on the same graph. Separating them into different graphs, but keeping the scales uniform by default seems like a perfunctory approach.

[2020-04-03 11:47] hitesh-tarani commented on #565
This can be enhanced to provide feature to auto-refresh at regular intervals, like enable auto-refreshing every 5 minutes.

[2020-04-03 11:56] syedimran22 opened #587 "Telangana unknown cases were not added to the respective districts."
desc: As most of the cases has been updated as unknown in telangana state so if the data is available then it should be segregated to respective districts.

screenshot: https://ibb.co/mDqt2GJ

[2020-04-03 12:09] yuvarajvemula commented on #387
It seems PR #389  still open due to conflict.
Please check #588 - may solve the issue
Please review it once.

[2020-04-03 12:39] rupeshshrestha722 opened #590 "Replicate for Nepal"
I want to replicate this for Nepal. Can you tell me how to create json api similar to yours?

[2020-04-03 12:49] tannakartikey commented on #415
@twozero88 you're right.

[2020-04-03 13:25] RATA123 opened #591 "District Allocation From Wikipedia, Its Good"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-03 13:32] georgyjacob2020 commented on #559
Hello @Invoker96,
when a state or district is highlighted, the highlighted border is dark red in color.
I believe this should also be a dark variant of green.

src/App.scss
line 790
.map-hover {
  stroke: #6B8E2FF0;
  stroke-width: 2;
}

will give a good effect

[2020-04-03 13:37] georgyjacob2020 commented on #559
For Example

![Screenshot 2020-04-03 at 7 05 55 PM](https://user-images.githubusercontent.com/63071885/78366495-36c08e80-75de-11ea-99c5-7b63b073468e.png)
![Screenshot 2020-04-03 at 7 05 14 PM](https://user-images.githubusercontent.com/63071885/78366515-3c1dd900-75de-11ea-9e59-54dc96a0bb9b.png)

[2020-04-03 13:50] Invoker96 commented on #559
@georgyjacob2020 Thanks for the input.
Added the fix for the same.

![image](https://user-images.githubusercontent.com/40684561/78367659-109bee00-75e0-11ea-86d3-f45f149edb19.png)
Working fine on hovering on state and districts.

[2020-04-03 13:51] ksathyareddy7 commented on #564
The current structure of the daily state wise data API is not so well structured. It would be great to have restructured to something like this
[code]

[2020-04-03 13:55] Ritsz123 opened #592 "Details needed to be shown on clicking the particular district from the table"
On the map of the state when mouse is hovered it shows percentage of infections and name of the state and the state is highlighted as well. **But on the table when hovered it just highlight the state or district but does not show the data.**

##I request a feature:
-Clicking the table shall show the percentage and name of the district and highlight it.

[2020-04-03 14:23] rohandebsarkar commented on #21
In language selector bengali is written as "বাঙালি" where as the original spelling is "বাংলা", I would request you to change it.

[2020-04-03 14:35] sudevschiz opened #595 "Add resource list to Helpful Links"
**Is your feature request related to a problem? Please describe.**
Group of volunteers have prepared a crowdsourced list of resources. Please add this to Helpful links for now. Later this could be make into a separate tab on the website itself with filter functionality.

**Describe the solution you'd like**
Link : bit.ly/covid19resourcelist

Original link : https://docs.google.com/spreadsheets/d/e

[2020-04-03 14:46] lavjoshi commented on #592
I would like to contribute.

[2020-04-03 14:53] elseasama opened #596 "City level choropleth maps for reported cases"
**Is your feature request related to a problem? Please describe.**
A city level map of the number of reported cases will be of the most use to users than state level or district level maps. This is especially true for the major metro cities (i.e. Mumbai, Chennai, Delhi, Kolkata etc.). This will allow for easy visualization of areas to avoid during the outbreak.

**Describe the solution you'd like*

[2020-04-03 14:56] Rajakumar1988 opened #597 "Application crashing While downloading the district wise report."
Example

In tamilnadu while trying to download theni district info report application crahes.

[2020-04-03 15:02] drpayyne opened #599 "Background scrolls when a recent case card is opened"
After opening a recent case card, performing a scroll gesture, scrolls the background when it actually shouldn’t.

[2020-04-03 15:09] lavjoshi opened #600 "State not highlighted on the map when site is opened initially or after auto refresh"
**Describe the bug**
By default state with recent activity is shown but the same is not highlighted on India Map
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/' or wait for auto refresh

2. See error
![image](https://user-images.githubusercontent.com/20904159/78375555-9886f580-75ea-11ea-9395-827b2ea6aac7.png)

**Expected behavior**
State should be highli

[2020-04-03 15:14] lavjoshi commented on #600
If you consider this issue as valid, please assign it to me.

[2020-04-03 15:48] joelewis opened #601 "Patient database should present a CalendarView with each day displaying the count of positive cases"
**Problem: How can I know how many people were infected in a particular state/district on a given day?**
Right now the patients database page is an indefinite grid of patients, grouped by date. While it gives importance to each patient, getting to a particular day is hard.

**Solution:**
The top level list is a calendar view, and users can drill through by clicking a day, or a week to find the lis

[2020-04-03 15:53] sachingargtech commented on #219
Here is an example current state-wise charts, with wide difference in trends across states. Will be really great if we have updated state-wise charts here on this site.

https://www.thehindu.com/data/covid-19-state-wise-tracker-for-coronavirus-cases-deaths-and-testing-rates/article31248444.ece?homepage=true

[2020-04-03 16:00] joelewis opened #602 "Helpful links page should help users to find a testing centre nearby, if they have symptoms"
Link to find a testing centre nearby: https://covid.icmr.org.in/index.php/testing-facilities

The site's UX can be better. Future enhancement: It'd be better if we can scrap that data and put out a finder tool as part of the website, itself.

[2020-04-03 16:02] georgyjacob2020 commented on #559
Hello @sudevschiz @jeremyphilemon.
Is there anything else we ought to do here

[2020-04-03 17:05] tarun7singh opened #607 "urgent Site is broken"
**Describe the bug**
website is looking completely broken and unformatted
**To Reproduce**
Open website in chrome or Firefox
1. Go to the website

**Expected behavior**
Clear and formatted website

**Screenshots**
![Screenshot_2020-04-03 COVID-19 Tracker India](https://user-images.githubusercontent.com/12068093/78386581-777ad080-75fb-11ea-82d6-173743c27172.png)

[2020-04-03 17:09] pranav1698 commented on #607
Yeah, same for me
The site appears completely broken

[2020-04-03 17:10] Akhil2149 opened #608 "Website sometimes shows a basic version"
**Describe the bug**
A clear and concise description of what the bug is.
Sometimes the website shows only basic one with all the styles removed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://covid19india.org
2. A weird looking website without any style appears (sometimes)

**Expected behavior**
A clear and concise description of what you expected to happen.
A beautiful websi

[2020-04-03 17:10] rupesh-raj1997 commented on #607
![Screenshot from 2020-04-03 22-39-44](https://user-images.githubusercontent.com/46243931/78386930-17d0f500-75fc-11ea-9e7d-41445f8bf1db.png)
Issue is with the CSS file.

[2020-04-03 17:12] tarun7singh commented on #607
@zigmint Yes it seems main CSS is 404
@jeremyphilemon @JunaidBabu

[2020-04-03 17:19] rupesh-raj1997 commented on #607
A long term solution could be to put the CSS and JS files over to a [CDN](https://rollout.io/blog/use-a-cdn-for-all-static-assets/), seeing the number of visitors you have, you might wanna implement that. @JunaidBabu  @jeremyphilemon

[2020-04-03 17:19] moumita-saha commented on #608
Same as #607

[2020-04-03 17:20] jeremyphilemon commented on #608
working on it, closing cause duplicate

[2020-04-03 17:20] #608 closed, assigned to nobody

[2020-04-03 17:21] jeremyphilemon commented on #607
Working on a fix :)

[2020-04-03 17:21] ashmis12 commented on #608
Console error:

![image](https://user-images.githubusercontent.com/49391760/78387839-99755280-75fd-11ea-9911-597ac875f0c9.png)

[2020-04-03 17:22] sasivarenan opened #609 "404 error in main.631d0299.chunk.css"
**Describe the bug**
Main CSS files are not loading in the browsers, receiving 404 errors looks like the file is not found in the server

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Inspect element'
2. Click on 'Network'
3. Scroll down to 'main.631d0299.chunk.css'
4. See 404 error

**Expected behavior**
Its should be 200 status code, which seems the file is missing from the server

[2020-04-03 17:22] tarun7singh commented on #607
It's working now, for me at-least. 👍

[2020-04-03 17:23] sukanyakondapure opened #610 "User interface"
Showing basic version

[2020-04-03 17:23] denvamsi opened #611 "The Model on Patients DB is looking off the Viewport"
**Describe the bug**
You can see that when i click on Patient ID in Database, It opens a model with details. It was off the viewport and looks ugly.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'PATIENTS DB'
2. Click on 'Any ID'
3. See the modal box

**Expected behavior**
Actually it should be in middle of viewport and look good.

**Screenshots**
Before it was :

![image](https://us

[2020-04-03 17:25] sasivarenan commented on #607
Yes now it's working, I too created another bug request for this, wondering how to close it

[2020-04-03 17:27] rupesh-raj1997 commented on #610
Same as #607

[2020-04-03 17:31] #609 closed, assigned to nobody

[2020-04-03 17:32] sasivarenan commented on #609
#607 Already this been addressed. Closing due to duplication

[2020-04-03 17:40] saym146 commented on #611
Change  App.css line no 1781

.modal .modal-content {
    position: fixed;
    padding: 1rem;
    border-radius: 5px;
    align-self: center;
    background: #fff;
    width: 40rem;
    /* height: 40rem; */
    /* overflow-y: scroll; */
    top: 6%;
}

[2020-04-03 17:48] denvamsi commented on #611
https://covid19india-react-git-fork-denvamsi-patch-1.covid19india.now.sh/database

[2020-04-03 17:48] denvamsi commented on #611
See this, This one fixed it :)

[2020-04-03 18:23] jeremyphilemon commented on #607
Fixed!

[2020-04-03 18:23] #607 closed, assigned to nobody

[2020-04-03 18:28] #341 closed, assigned to JunaidBabu, sudevschiz

[2020-04-03 18:32] #522 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-03 18:34] johnhorsema commented on #590
Hi @rupeshshrestha722 have you set up a repo? I think I can help. Found some by district data from Wikipedia: https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Nepal

[2020-04-03 18:45] jeremyphilemon commented on #610
Fixed.

[2020-04-03 18:45] #610 closed, assigned to nobody

[2020-04-03 18:46] jeremyphilemon commented on #569
Fixed :)

[2020-04-03 18:46] #569 closed, assigned to nobody

[2020-04-03 18:49] jeremyphilemon commented on #591
Closing cause I don't understand anything. Feel free to open a new issues with the descriptions filled :)

[2020-04-03 18:49] #591 closed, assigned to nobody

[2020-04-03 19:12] kparida opened #613 "Incorrect District Name Jajapur, Correct Name :-Jajpur, coming under State Odisha"
Correct the district name

[2020-04-03 19:16] jeremyphilemon commented on #613
@guneetnarula is it incorrect?

[2020-04-03 19:17] dheerajbarnwal opened #614 "Link pointing to cryptocurrency website"
**Describe the bug**
Link pointing to cryptocurrency website

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'FAQ'
2. Click on link with text "list is here
3. check where its pointing to
4. Its pointing to cryptocurrency wallet

**Expected behavior**
It should point to correct and genuine website

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop

[2020-04-03 19:18] kparida commented on #613
https://en.m.wikipedia.org/wiki/Jajpur_district

[2020-04-03 19:23] aashish2307 opened #615 "How to Prevent yourself from the COVID-19 page not available."
**Prevent yourself from the COVID-19 page not available.**

Some basic do's and don't
To spread knowledge which can have some picture or videos.
How to wash your hands.
Maintain social distance.
And many more.

[2020-04-03 19:31] denvamsi commented on #611
#606

[2020-04-03 19:52] MayukhSobo opened #618 "Confusion on the data accuracy."
I am confused on what to follow because as of now 4th April at 1:20 AM, I am seeing different numbers of confirmed cases in news, website, jhu website and health ministry website. Please tell why these are not adding up even if I factor in the way these data sources get updated.

[2020-04-03 20:12] strikertanmay commented on #595
Please review at https://github.com/covid19india/covid19india-react/pull/619

[2020-04-03 20:25] guneetnarula commented on #613
We went with the name Registrar General uses in the census, and survey of india uses in bharatmaps.gov.in. Let's stick to this for now, the point is to report the cases appropriately

[2020-04-03 20:26] guneetnarula commented on #579
This will be fixed by #413

[2020-04-04 00:28] #613 closed, assigned to guneetnarula

[2020-04-04 00:28] swingcake commented on #615
How about you submit a PR for the same?

[2020-04-04 00:41] swingcake commented on #614
Cannot replicate, points to https://telegra.ph/Covid-19-Sources-03-19 as it should.

[2020-04-04 01:45] Binu42 opened #620 "opening dropdown for state."
**Is your feature request related to a problem? Please describe.**
currently user can open dropdown as many they wish to. which make the page very long in mobile view which is frustrating for users and even in desktop view after opening dropdown for 2-3 states, users are not able to see the map view of state. one more problem, on hover of rows alternate rows doesn't show any effect which look like

[2020-04-04 03:08] sudevschiz commented on #595
@strikertanmay thanks for the PR.
But the link is not redirecting to external page. Could you test again?

[2020-04-04 03:11] sudevschiz commented on #618
The numbers are based on the state government releases. The sources are available for each case updated. Please do check

[2020-04-04 03:11] #618 closed, assigned to nobody

[2020-04-04 03:12] sudevschiz commented on #615
We will only point to MOHFW and WHO sites as these are critical information.

[2020-04-04 03:12] #615 closed, assigned to nobody

[2020-04-04 03:13] sudevschiz commented on #614
Closing this issue. However, @dheeraj92 please do report again if you notice this in any copy-cat websites.

[2020-04-04 03:13] #614 closed, assigned to nobody

[2020-04-04 03:15] sudevschiz commented on #602
I am not sure about the authenticity of this information. It's better if this comes directly from the ICMR official website.

Also, at least for now, nobody is supposed to go to a testing center and get themselves tested. One is supposed to call the state helpline if they are symptomatic.

Closing this.

[2020-04-04 03:15] #602 closed, assigned to nobody

[2020-04-04 03:18] sudevschiz commented on #600
Didn't try to reproduce the error. But assigning to you

[2020-04-04 03:19] sudevschiz commented on #596
This would be a huge activity - from a data standpoint as well as a geoJSON standpoint.
Opening this up with Low Priority

[2020-04-04 03:22] sudevschiz commented on #592
@lavjoshi will assigning to you. However, could you share a mock up of how it would look like before progressing?

[2020-04-04 03:23] sudevschiz commented on #587
Working on it from the data side. Thanks for reporting.

[2020-04-04 03:23] #587 closed, assigned to nobody

[2020-04-04 03:24] sudevschiz commented on #620
This would be a nice enhancement. Making this available :)

[2020-04-04 03:26] sudevschiz commented on #582
https://github.com/covid19india/covid19india-react/issues/592

Issue above is available which fixed the problem mentioned in this ticket. Closing this one.

[2020-04-04 03:26] #582 closed, assigned to nobody

[2020-04-04 03:28] sudevschiz commented on #581
Nice work! Where is the data source for this? How do we make sure that it's authentic?
Are suspected patients supposed to go to the fever clinic directly or call the state helpline?

[2020-04-04 03:31] sudevschiz commented on #590
@rupeshshrestha722 thanks for reaching out and @johnhorsema thanks for helping out :)

Will assign this to @johnhorsema

[2020-04-04 03:39] sudevschiz commented on #585
@shaksi Please do join the dev group in Telegram to discuss more regarding this :)

Another effort here : https://github.com/covid19india/covid19india-react/issues/590

[2020-04-04 03:42] sudevschiz commented on #577
The date reflects any change in the active number of cases. That means a confirmed case, recovery or death.

[2020-04-04 03:42] #577 closed, assigned to nobody

[2020-04-04 03:44] sudevschiz commented on #574
Oh. My vote is for highlighting the district for which the numbers are shown on top.
Many a times, I confused those numbers to be the entire state numbers. What do you think?

[2020-04-04 03:44] sudevschiz commented on #571
Working on this. Thank you :)

[2020-04-04 03:44] #571 closed, assigned to nobody

[2020-04-04 03:46] sudevschiz commented on #565
Auto refresh is much better.
This is being worked on here :  https://github.com/covid19india/covid19india-react/issues/300

Closing this ticket.

[2020-04-04 03:46] #565 closed, assigned to nobody

[2020-04-04 03:47] sudevschiz commented on #559
Assigning @jeremyphilemon for review and comments.

[2020-04-04 03:49] sudevschiz commented on #558
Yes, this has become high priority. Rather than the latest update, we need to make sure that the numbers that we are showing are in line with the state bulletins or press releases.

I think the sources that are mentioned should be those.

[2020-04-04 03:51] sudevschiz commented on #545
Once the recovery numbers pick up, won't it be nice to see it peaking :)

[2020-04-04 03:53] sudevschiz commented on #544
@jeremyphilemon please review :)

[2020-04-04 03:56] sudevschiz commented on #542
@hitesh-tarani I think adding a new column would not be preferable. The information density is already too high.

Also, we are working on adding more details regarding each state right to the dropdown. So last updated time is more preferable there. Thanks for the ticket.

[2020-04-04 03:56] #542 closed, assigned to nobody

[2020-04-04 03:58] sudevschiz commented on #349
This could be a potential candidate for the deep-dive (analysis and more granular slice/dice) page.

Thanks for your detail comment. Let's revisit this soon.

[2020-04-04 04:04] manukushaal22 opened #621 "Add a column to show percentage/ratio of population infected"
A new colum to the table that displays the percentage or ratio of number of people infected to total population.

[2020-04-04 05:10] joelewis commented on #602
Makes sense. Thanks!

[2020-04-04 05:29] shngt commented on #620
This could be annoying for people who wish to compare districts in different states, like when you want to look out for family members scattered over India. Maybe limit the number of tabs you can have open to something like 3 or 4?

[2020-04-04 05:33] jainprashul commented on #620
Well , we can use accordian here for this . @Binu42

[2020-04-04 06:02] KrishnaPravin commented on #415
For mobiles, we can have two floating buttons at the bottom. One for going to map and another one for the table. These buttons should be visible only when scrolling up. On scrolling down it should hide automatically.

[2020-04-04 06:12] Binu42 commented on #620
@sudevschiz can you please assign it to me.

[2020-04-04 06:16] shuklaayush commented on #574
@sudevschiz Something like [this](https://covid19india-react-110g0jl7j.now.sh/)? I agree it's less misleading. But I would prefer not displaying any stats unless a region is hovered on, instead of always displaying both the stats of the last hovered-on region as well as highlighting it on the map.

[2020-04-04 06:25] shuklaayush commented on #620
Duplicate of #326. Please go through that discussion as well

[2020-04-04 06:32] tannakartikey commented on #415
@KrishnaPravin that's a good idea. We can show the buttons regardless of the scrolling too, can't we?

[2020-04-04 06:36] hotmonk opened #624 "district wise Percentages not totalling 100 for delhi"
**Describe the bug**
Sum of cases percentage in delhi state not equaling to 100%.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to delhi in the map
2. hover on individual districts and see the percentages, their sum doesnt equal to 100 whereas it does in states like maharastra.

- OS: [e.g. iOS]
- Browser [chrome]

[2020-04-04 06:45] KrishnaPravin commented on #415
@tannakartikey  for smaller screens buttons might occupy some space

[2020-04-04 06:56] shuklaayush commented on #624
Hi @hotmonk, can you verify again that it adds up to 100% in other states? For a lot of cases, the district information is not available and hence, they are tagged as Unknown districts (whose count is shown on the top left in the state map). This is the reason why the percentages aren't adding up to 100%.

[2020-04-04 07:04] darshanhegde13 commented on #624
@shuklaayush: You are right, but some states doesn't have UNKNOWN districts(ex: TamilNadu). in those states it's adding up to 100%.

[2020-04-04 07:06] shuklaayush commented on #624
@darshanhegde13 Thanks! I think that makes sense. It would be misleading if we just ignore the count of unknown districts while calculating percentages. Closing

[2020-04-04 07:06] #624 closed, assigned to nobody

[2020-04-04 07:09] darshanhegde13 commented on #621
@manukushaal22: It's a good idea,but right now this value will be negligible in India case if we go with the district level also. What do you think?

[2020-04-04 07:13] #620 closed, assigned to nobody

[2020-04-04 07:24] Ayush1325 commented on #96
I wrote a flutter app if anyone is interested
https://github.com/Ayush1325/Coronavirus-Status
although it's mostly like a personal project.

[2020-04-04 07:36] anju946 opened #625 "Please Update Recovered and Death Section in Rajasthan State"
**The Rajasthan contains 21 recovered as of now and 3 deaths but your tracker do not updating it ,so please make it sure to provide correct information about Rajasthan State. **

[2020-04-04 07:56] guneetnarula commented on #576
I am not sure if I understand this issue correctly. Y.S.R. is a district in AP and Kadapa is its common name. The map on the website is showing data correctly under Y.S.R.

[2020-04-04 08:01] KrishnaPravin commented on #595
@sudevschiz please check now

[2020-04-04 08:20] manukushaal22 commented on #621
We can multiply the ratio a sufficient power of 10. That gives a value like 2 per million infected. This is what a few other sites have done and I found it useful as it gives a brief idea on how serious the situation is.

[2020-04-04 08:58] manukushaal22 opened #627 "Auto scroll by double-tap on state name."
Problem:
It is required by the user to scroll down manually to view the map after double tapping on the state name in mobile screens as the map is below the table.

Possible Solution:
The application should auto scroll to pull the map into viewport when a state has been double tapped so that the user can view it immediately without any interrupt.

I believe little things like these would enhance t

[2020-04-04 09:16] shaksi commented on #585
where is the dev group telegram? i have only been able to find the Ops group.

[2020-04-04 09:22] shaksi commented on #590
hey team, also looking to replicate for some African markets -  would be worthwhile cross sharing the knowledge, happy to write docs of my learnings etc.

[2020-04-04 09:38] bharadwaja1297 commented on #620
That's great...opening dropdown for state.

[2020-04-04 09:57] ashish199820 commented on #581
Data for the affected area is fetched from https://api.covid19india.org/raw_data.json and is plotted district-wise.
For data regarding test facility, we can fetch JSON data from -https://covid.icmr.org.in/index.php/testing-facilities?option=com_hotspots&view=jsonv4&task=gethotspots&hs-language=en-GB&page=1&per_page=500&total_pages=1&total_entries=177&cat=&level=4&ne=47.685816%2C114.463016&sw=1.831

[2020-04-04 10:13] johnhorsema commented on #590
Hi @shaksi I've built a similar site CovidHub: http://covidhub.surge.sh
Edit: Added a page for Africa - https://covidhub.surge.sh/#!/africa

[2020-04-04 10:22] kirandeep123 commented on #282
I would like to work on this one. if available, please assign.

[2020-04-04 10:23] kirandeep123 commented on #592
I would like to work on this one. please assign, if available

[2020-04-04 10:47] aman4512 opened #629 "Make graphs' x-axis rolling 30 days instead of starting from 30 Jan"
Considering that the number of cases in India was fairly dormant in the first month, showing data from the beginning doesn't make much sense. This is especially true for the linear scale now that number of cases is pretty high.

I believe a 30 day (or some other number) rolling representation of data will be cleaner and easier to see. Can probably add that as an option.

[2020-04-04 10:54] avinasshcm commented on #545
Fine, if you want to stick to your so called **Close to reality** feature. leave it.

[2020-04-04 10:55] avinasshcm commented on #545
If you dont have mindset to understand what graph is, its waste arguing with you.

[2020-04-04 11:46] Vaibhav2812 opened #630 "Create Patient timeline with his travel history."
1. on the selection of State- Taluka corresponding patient list should come

2. on select particular patient his whole travel history like
- what time and which place he/she visited.
-  whom he/she met.

3. The timeline should end when he/she admitted in the hospital.

4. Can give patient names like P1, P2...

[2020-04-04 12:17] purut18 commented on #586
Hey, can you assign it to me if it is available?

[2020-04-04 12:35] the-sajith opened #631 "Last Updated time inconsistency"
**Describe the bug**
Delhi's cases were updated a minute ago but it still shows Last Updated 18 hours ago. As you can see Delhi has scaled up the chart and is second to Maharashtra

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Last Updated time should get updated when numbers get updated.

**Screen

[2020-04-04 12:42] purut18 commented on #621
I would take up this issue if it is available

[2020-04-04 13:29] p10dulkar commented on #538
Well very few news around the world happy to feel about still we read them to stay updated .
However thank you for creating it but can u give me timeline or deadline so that I can follow up on it

[2020-04-04 13:46] lavjoshi commented on #592
![image](https://user-images.githubusercontent.com/20904159/78452405-bdda3900-76a8-11ea-9ea7-5f29cfd40c13.png)

[2020-04-04 13:49] thahir007cp opened #632 "It will be great if anyone can implement district wise Active Cases / Recovered"
**Is your feature request related to a problem? Please describe.**
No. Its a feature request

**Describe the solution you'd like**
A new column on district wise table to show active cases / recovered

**Describe alternatives you've considered**

**Additional context**

[2020-04-04 13:51] starlord2826 opened #633 "The number of confirmed, recovered and deaths for today is not updating correctly"
**Describe the bug**
On the main page, the number of new confirmed, recovered and deaths in the last 24 hrs is showing up as 0

**To Reproduce
Open the website and look at the screen
You will be able to find the new count to be 0 as attached in the screenshot

**Expected behavior**
The new count should have the number of new cases in the last 24 hrs.

**Screenshots**
![IMG-20200404-WA0007](https:/

[2020-04-04 13:52] vedadeepta opened #634 "Time series graph showing today's data & date with description "Yesterday""
**Describe the bug**
Time series chart under spread trends section showing today's date with label "Yesterday" under it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the website
2. Scroll down to Spread Trends section
3. Today's data & date is displayed on the chart but with the label "Yesterday"

**Expected behavior**
Two possible solutions

1. Show data till yesterday(included) a

[2020-04-04 13:57] vedadeepta commented on #634
Seems fixed now.

[2020-04-04 13:58] Invoker96 commented on #633
@Trijwal, It's working now. Please check again

[2020-04-04 13:58] vedadeepta commented on #633
Works now - check please, i think maybe there was some issue with the db data.

[2020-04-04 13:59] starlord2826 commented on #634
Yes. Just checked! Working fine now

[2020-04-04 14:01] vedadeepta commented on #634
Closing, although not sure what happened.

[2020-04-04 14:01] #634 closed, assigned to nobody

[2020-04-04 14:01] starlord2826 commented on #633
Checked and it works now. Closing the issue.

[2020-04-04 14:01] #633 closed, assigned to nobody

[2020-04-04 14:08] igourab opened #637 "add to homescreen"
include this feature

https://www.npmjs.com/package/react-add-to-homescreen

[2020-04-04 14:08] arasub opened #638 "Can we also add some info to have the contact person state/district wise as a point of contact"
Is your feature request related to a problem? Please describe.**
We can give a point of contact, it could be some one who lead from front in that state/district. Like Health Minister(PA)...

Describe the solution you'd like
To have this a dashboard for INDIA, and to show case number

Describe alternatives you've considered
This could be a additional info, but this could be helpful and become a poi

[2020-04-04 14:17] lavjoshi commented on #592
![image](https://user-images.githubusercontent.com/20904159/78453078-0ac00e80-76ad-11ea-8a6f-ec45bedfdad3.png)

[2020-04-04 14:28] Ritsz123 commented on #592
@lavjoshi I think it  will be great if you could make the details visible on the map insteed of on the table or you could consult with @sudevschiz before processing.

[2020-04-04 15:12] lavjoshi commented on #600
happening due to mouse-leave event, not a valid bug hence closing.

[2020-04-04 15:12] #600 closed, assigned to lavjoshi

[2020-04-04 15:41] vaibhavvikas commented on #631
This bug never occurred to me. I tried on various Operating Systems as well as mobile phones.

[2020-04-04 16:02] ushnik99 opened #641 "West bengal status not updated for 2days"
The count on west bengal has not been updated for 2days straight.
Also the district/city count is not done completely either.
Please have a look into that.

Its a good thing you guys are doing here. Keep up the good work
Thank you.

[2020-04-04 16:14] lyadhcoder opened #642 "htpps connection is not private"
**Issue**
The website is not opening when the URL is https://covid19india.org/. Before opening the URL we have to add **www**.

[2020-04-04 16:28] lyadhcoder opened #643 "many states have not been updated for a long time"
**Telangana, West Bengal, Chandigarh, Ladakh, Andaman and Nicobar islands, Himachal Pradesh, Puducherry, Jharkhand, Manipur, Arunachal Pradesh**. These states have not been updated for a long time. Like _2 or 5 or 8_ days. Kindly Check.
Thank You.

[2020-04-04 16:31] pranay-jain commented on #509
ICMR has started releasing daily updates on testing stats for [April 3](https://icmr.nic.in/sites/default/files/whats_new/ICMR_testing_update_03April_9PM_IST.pdf) and [April 4](https://icmr.nic.in/sites/default/files/whats_new/ICMR_testing_update_04April_9PM_IST.pdf) (links attached). Unfortunately, they are pdf's. If these updates are shared daily, we could perhaps copy over the data points manua

[2020-04-04 16:40] anju946 commented on #625
Kindly also 'update deceased' patients in Rajasthan State

[2020-04-04 16:40] KrishnaPravin commented on #564
@JunaidBabu as we have the date now, can I start working on this feature on the website?

[2020-04-04 16:53] SinghRajenM opened #645 "Unknown is shown as "Evacuees""
**Describe the bug**
Unknown is shown as "Evacuees". Refer screenshot

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Rajasthan map'
2. Expand it and see Right After "Jaipur"

**Expected behavior**
Unknown should be shown rather than "Evacuees"

**Screenshots**

![image](https://user-images.githubusercontent.com/14791461/78456630-6cd73e80-76c2-11ea-9b40-a521e60b5ecd.png)

**Desktop (

[2020-04-04 16:54] swathigrate opened #646 "update district wise list in Telangana"
hello sir,,
 update district wise positive cases in Telangana..
Telangana government officially released press note about district wise possitive list in Telangana..
[office source link ](https://twitter.com/IPRTelangana/status/1246477230068228098?s=20)

https://covid19.telangana.gov.in/announcements/

https://twitter.com/Eatala_Rajender/status/1246477067576700929?s=20

<blockquote class="twitter-

[2020-04-04 16:58] pastelsky opened #647 "Use data from Google Mobility Reports to show movement activity"
**Is your feature request related to a problem? Please describe.**
Firstly, I love the way this project has scaled up, and thanks for all of your efforts in managing it.

Google started publishing mobility reports for countries ([including India](https://www.gstatic.com/covid19/mobility/2020-03-29_IN_Mobility_Report_en.pdf)) that showcase public activity at different social gathering points like p

[2020-04-04 17:37] soham0209 opened #648 "States are not updated correctly"
West Bengal has 69 as per https://www.mohfw.gov.in/

[2020-04-04 18:14] rkaushik0408 opened #652 "No. Of cases"
Maharashtra has 635 cases as on today as per indiatoday.in and Telangana has 272 positive cases.
The same has not been updated yet ? Why ?

[2020-04-04 18:15] ncpanigrahy commented on #586
I think admin only assign to someone, and its a good feature to show in the table, for this we have to know population and area of all the states after that we can do some calculation based on population, area and number of people affected in covid-19 case

[2020-04-04 18:21] priyadharshini-github commented on #630
Yes. Travel history JSON is already there, but not updated for past 11 days!. It will be useful if that's updated. That is what expected by most of us.

[2020-04-04 18:26] rkaushik0408 opened #653 "No of cases"
Im maharashtra total positive cases - 635
In Telangana total positive cases - 272
As per indiatoday.in and ANI

[2020-04-04 18:51] Starksid007 opened #654 "Option to see Yesterday's Cases and Deaths"
I'm always frustrated when I come after midnight and the data has been reset to 0 , I can't see the yesterday's cases and deaths , like the worldometer site has

[2020-04-04 19:02] Binu42 opened #655 "Full Screen view of map and table (state data). [feature not for mobile view]"
**Is your feature request related to a problem? Please describe.**
so, as we can see on home page except for few states, we are not able to see both map and table data simultaneously which is not comfortable for users to enhance user experience this feature is required.

**Describe the solution you'd like**
okay, so my solution is give a button near map to open/close only home component (i.e. tabl

[2020-04-04 19:08] AnuragMCAsharma opened #656 "Delhi is missing in Map !!! Please check it"
![4A1B8152-D019-43E1-A56B-B06DC5A710E4](https://user-images.githubusercontent.com/63166112/78459298-9ea5d080-76d5-11ea-8f09-bb6921b0c005.jpeg)
lear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to website
Scroll down to Map view
Then check delhi in map view

- OS: iOS
- Browser Safari
- Version 13.4

[2020-04-04 19:22] Binu42 commented on #656
i

Delhi is there
![Screenshot from 2020-04-05 00-50-42](https://user-images.githubusercontent.com/45959932/78459583-aa929200-76d7-11ea-8a04-9a1517c72d2c.png)

[2020-04-04 19:38] Jasmin2895 opened #657 "Previous day data is not updated in graph eventually."
When I check the data at midnight the daily count is set to 0 and the graph is not updated. It shows data until the day before yesterday. Also, the logarithmic view is not working.
<img width="555" alt="Screenshot 2020-04-05 at 1 07 18 AM" src="https://user-images.githubusercontent.com/8161593/78459877-da429980-76d9-11ea-9430-8bccde8d436f.png">
I checked this data around 1 AM.

[2020-04-04 21:50] jeremyphilemon commented on #656
Closing cause Delhi is there and seems to be working fine :P

[2020-04-04 21:50] #656 closed, assigned to nobody

[2020-04-04 21:58] jeremyphilemon commented on #657
@Jasmin2895 thanks for filing the issue!

About the data, the timeseries graphs are filled only till T-minus one day, hence if today is April 2, the data for timeseries is only available till April 1 since the day is not over yet. With that said, the graphs are not reset at 12am IST, it takes some time for the data team to sanitize and verify the data for said day before releasing its data, hence

[2020-04-04 21:59] jeremyphilemon commented on #653
Please report discrepancies in data in the telegram group :)

[2020-04-04 21:59] #653 closed, assigned to nobody

[2020-04-04 21:59] jeremyphilemon commented on #652
Please report discrepancies in data in the telegram group :)

[2020-04-04 21:59] #652 closed, assigned to nobody

[2020-04-04 22:01] jeremyphilemon commented on #654
Relevant issue #317

[2020-04-04 22:01] #654 closed, assigned to nobody

[2020-04-04 22:02] jeremyphilemon commented on #648
Please file issues pertaining to the codebase only. Data discrepancies should be reported in the telegram group (check footer of the website)

[2020-04-04 22:02] #648 closed, assigned to nobody

[2020-04-04 22:04] jeremyphilemon commented on #646
Please file issues pertaining to the codebase only. Data discrepancies should be reported in the telegram group (check footer of the website)

[2020-04-04 22:04] #646 closed, assigned to nobody

[2020-04-04 22:05] jeremyphilemon commented on #643
Please file issues pertaining to the codebase only. Data discrepancies should be reported in the telegram group (check footer of the website)

[2020-04-04 22:05] #643 closed, assigned to nobody

[2020-04-04 22:17] jeremyphilemon commented on #642
Yes you're right, we support only the `www` subdomain, not the one without it :)

[2020-04-04 22:17] #642 closed, assigned to nobody

[2020-04-04 22:18] jeremyphilemon commented on #641
Please file issues pertaining to the codebase only. Data discrepancies should be reported in the telegram group (check footer of the website)

Thank you for the kind words tho :)

[2020-04-04 22:18] #641 closed, assigned to nobody

[2020-04-04 22:21] jeremyphilemon commented on #625
Please file issues pertaining to the codebase only. Data discrepancies should be reported in the telegram group (check footer of the website)

[2020-04-04 22:21] #625 closed, assigned to nobody

[2020-04-04 22:22] jeremyphilemon commented on #631
Please file issues pertaining to the codebase only. Data discrepancies should be reported in the telegram group (check footer of the website)

[2020-04-04 22:22] #631 closed, assigned to nobody

[2020-04-04 22:25] jeremyphilemon commented on #579
Closing cause #413 addressed this :)

[2020-04-04 22:25] #579 closed, assigned to nobody

[2020-04-04 22:26] jeremyphilemon commented on #576
Closing cause ^ 🤷‍♂

[2020-04-04 22:26] #576 closed, assigned to guneetnarula

[2020-04-04 22:28] #27 closed, assigned to nobody

[2020-04-04 22:28] himanshu8426 opened #659 "site should redirect to home page if route is not matched"
**Describe the bug**
When we try to go a different route. Like we have before https://www.covid19india.org/clusters. Page shows navbar, banner and footer.

**To Reproduce**
go to link https://www.covid19india.org/clusters

**Expected behavior**
It should redirect to home page.

**Screenshots**
![Screenshot_2020-04-05 COVID-19 Tracker India](https://user-images.githubusercontent.com/9750127/7846265

[2020-04-04 22:29] jeremyphilemon commented on #80
@sudevschiz @JunaidBabu ^ check this.

[2020-04-04 22:30] Jasmin2895 commented on #657
@jeremyphilemon yes, the logarithmic graph shouldn't be used to show data on a daily basis the best graph is the bar graph or the stacked bar graph which is already used! 😄

[2020-04-04 22:31] jeremyphilemon commented on #219
Closing this since #80 was raised.

[2020-04-04 22:31] #219 closed, assigned to mohammedshafeeqet

[2020-04-04 22:35] jeremyphilemon commented on #657
Haha glad that got resolved :)

[2020-04-04 22:35] #657 closed, assigned to nobody

[2020-04-04 22:39] jeremyphilemon commented on #655
Hey thanks for this issue, this has already been raised here #415. Would appreciate it if we could have a discussion there about a potential fix :)

[2020-04-04 22:39] #655 closed, assigned to nobody

[2020-04-04 22:51] jeremyphilemon commented on #512
#629 is relevant. Making it scrollable would be great!

[2020-04-04 22:51] #512 closed, assigned to JunaidBabu, sudevschiz

[2020-04-04 23:07] jeremyphilemon commented on #559
Hey thanks for opening this issue, just got to read the comments. In my opinion, any light colors for the stroke would only result in a less appealing version the map to the eyes. Green doesn't look that bad, but just replacing the colors isn't solving the problem at hand.

A potential solution I'm looking for is to have the borders colored based on the fill of the shape. Say if the percentage of

[2020-04-04 23:22] #467 closed, assigned to nobody

[2020-04-04 23:24] sudevschiz commented on #80
@sksavant thanks for the PR.

Few questions

1. Plot only up to yesterday as today's values are incomplete?
2. Should this be part of the state map rather than under the table?
3. Some differentiation marker to separate it from All India values. ?

[2020-04-04 23:29] sudevschiz commented on #645
This is not a bug. Those cases are actually evacuees from Iran (AFAIK). We are working on ascertaining the districts for those.

[2020-04-04 23:31] sudevschiz commented on #638
I think the state helplines provided in Helpful Links is the right way to contact the government. We can't be releasing personal numbers and overloading the system.

Thanks for your enhancement request though.

[2020-04-04 23:31] #638 closed, assigned to nobody

[2020-04-04 23:33] sudevschiz commented on #647
This would be a nice project for the deep-dive team.

[2020-04-04 23:33] jeremyphilemon commented on #545
@avinasshcm thanks for your feedback, I have to back @sudevschiz decision on this, not just on his intention to have it represent something "close to reality", but to have proper design in showing the graphs in the first place.

When you first see the graphs without uniform scaling turned on, there is a significant possibility of misinterpreting the graphs that the deaths are in par with the numbe

[2020-04-04 23:33] #545 closed, assigned to jeremyphilemon

[2020-04-04 23:40] jeremyphilemon commented on #526
This had to do with the data team, I'm sure this is fixed by now, but feel free to re open this it if you catch it happen again, thanks!

[2020-04-04 23:40] #526 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-04 23:49] Binu42 commented on #415
my idea is to give a button near map to open/close only home component (map and table) in full screen mode and then give scrolling option to both map and table. in this way they can see map and table simultaneously. this will solve the problem in desktops by keeping good UI. users can close full screen by pressing esc, F11 or enter key also. if this idea is accepted assign me. i would like to cont

[2020-04-04 23:51] #549 closed, assigned to jeremyphilemon, ashishdawale20

[2020-04-04 23:52] jeremyphilemon commented on #595
Closed by #619

[2020-04-04 23:52] #595 closed, assigned to strikertanmay

[2020-04-04 23:52] jeremyphilemon commented on #416
Closed by #619

[2020-04-04 23:52] #416 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-04 23:55] jeremyphilemon commented on #536
Patched :)

[2020-04-04 23:55] #536 closed, assigned to nobody

[2020-04-05 00:01] jeremyphilemon commented on #425
Hey, thanks for filing the issue. I believe this is already there under helpful links, and the numbers are subject to change so we've just linked a PDF at them moment, which should be good!

Thanks anyway :)

[2020-04-05 00:01] #425 closed, assigned to JunaidBabu, sudevschiz

[2020-04-05 00:17] #487 closed, assigned to Nitin96Bisht

[2020-04-05 00:38] jeremyphilemon commented on #330
Closing this because a lot of people seem to want to fix this. I shall hereby declare that the logo button shouldn't be clickable/hyperlinked, henceforth.

[2020-04-05 00:38] #330 closed, assigned to Rajesh-Narayanappa87

[2020-04-05 00:43] jeremyphilemon commented on #473
Closing this because the logo was meant to be small.

[2020-04-05 00:43] #473 closed, assigned to JunaidBabu, sudevschiz

[2020-04-05 01:27] #427 closed, assigned to nobody

[2020-04-05 01:32] #659 closed, assigned to nobody

[2020-04-05 01:34] Ninad99 commented on #627
I'd like to work on this if it's available

[2020-04-05 01:57] #156 closed, assigned to nobody

[2020-04-05 02:07] jeremyphilemon opened #662 "Please read this before submitting an issue 📮"
First off, thanks for taking the time to report a bug/request a feature :+1:

Two kinds of issues can be raised in this project:

1. Bug report
2. Feature Request

**Please search and see if your issue has already been filed/asked before submitting it. Duplicates will be closed. If your issues do not have the questionnaire filled, it will be closed. If you feel the need to address an already filed

[2020-04-05 02:14] jeremyphilemon commented on #647
This looks good, great work on the reverse-engineered API haha! Would you like to work on this?

We can have a discussion over how we can include this and get started! Something like an ELI5 also would be nice explaining what the values mean, and how we could represent the data meaningfully :)

[2020-04-05 02:20] #544 closed, assigned to jeremyphilemon, vedadeepta

[2020-04-05 02:33] Himanshu54 commented on #509
Those links don't work anymore for me.
There is also state wise testing stats being published by some states. We can scrape that data state wise.

[2020-04-05 02:48] jeremyphilemon commented on #627
@Ninad99 Could you also extend this to districts as well? When clicking on any of the district row, you have yourself scrolled to the map?

The highlighting of the districts already happen, it would just be a matter of scrolling :)

[2020-04-05 02:51] jeremyphilemon commented on #586
@purut18 sure, just a quickie – how are you planning on adding this functionality? And where do you suggest we add the increase ratios?

For starters, let's not equate the population. How about just figuring out the increase/decrease in percentage?

[2020-04-05 02:54] jeremyphilemon commented on #135
This is exactly what I references in #317, would you like to take this up?

[2020-04-05 02:54] Ninad99 commented on #627
Sure I could try!

[2020-04-05 02:56] jeremyphilemon commented on #262
@delsin474 how does this work? I'm just curious about the process, don't mind assigning it to you!

[2020-04-05 03:20] jeremyphilemon commented on #630
@sudevschiz is the travel data deprecated or will it be worked on sometime?

[2020-04-05 03:39] pastelsky commented on #647
Sure. I am a front-end guy who's done some data viz and would love to help with this.

For India, specifically, Google hasn't released state level data yet, which would've made things more interesting – but unlike US, since ours is a national lockdown this still gives a decent picture.

Something like this would become even more useful if the lockdown is partially lifted after Apr 14th (assuming G

[2020-04-05 03:44] jeremyphilemon commented on #627
@Ninad99 also instead of double tapping, it would make sense to have a floating button (https://material.io/components/buttons-floating-action-button/ ) come up when you open the district table, which on a click event will scroll down to the map.

This will work for districts as well, just have a button float up on click of the state row!

[2020-04-05 03:56] anasvp444 opened #665 "Please add more graph details"
https://github.com/anasvp444/Covid-India/blob/master/Covid_India.ipynb

[2020-04-05 04:40] ramprasanth-pyt commented on #621
@purut18 , hey are working on this percentile feature ?

[2020-04-05 05:29] #469 closed, assigned to jkandasa

[2020-04-05 05:29] rkaushik0408 opened #667 "Enhancement"
Gujarat total cases 122, 11 deaths
13 new cases in MP
9 new cases HP, Total 15
12 new cases in UP
Rajasthan total cases 210, 1 new death
Tamil nadu Death toll reaches 5
6 new cases in Punjab
2 new cases in Delhi

Source Indiatoday and ANI

[2020-04-05 06:00] kousiksatish commented on #545
I agree with @jeremyphilemon that there is a chance of misinterpretation.

[2020-04-05 06:08] AbhishekRaj-droid commented on #667
https://telegra.ph/CoVID-19--India-Ops-03-24

Please follow the google form to report the cases.

[2020-04-05 06:22] kishorecs opened #670 "Shows wrong data"
![Screenshot_2020-04-05-11-45-15-757_com android chrome](https://user-images.githubusercontent.com/19317893/78468273-d479a200-7733-11ea-92c0-a49f34260f8c.jpg)

Check the increase count in Kurnool and AP

[2020-04-05 06:45] SachinRammoorthy opened #671 "Unnecessary URLs in "Helpful Links""
**Describe the bug**
URLs present rather than links in the Helpful Links section.
Not a bug, an enhancement.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'covid19india.org'
2. Click on 'Helpful Links'
3. See error

**Expected behavior**
Links should replace the URLs

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screen Shot 2020-04-05 at 12 15 35 PM

[2020-04-05 06:47] AbhishekRaj-droid commented on #670
Hey, I know you are trying to suggest the fault, but you should wait some time before logging issue, because they are updating it, and it will be very difficult to filter out the critical issue if we log such issue frequently.

I am just suggesting you to collaborate with Telegram for such issue, here we should focus more on making the website more efficient, such as clustering feature is pretty m

[2020-04-05 06:50] helios1101 opened #672 "Add icon/label PM Cares Fund to fight Covid-19"
**Is your feature request related to a problem? Please describe.**
Since multiple people are visiting your  site, so a button to redirect to payment link on the page for donation towards PM cares Fund would help to gather more contribution and help the needy.

**Describe the solution you'd like**
A button with a label "Play your Part", will redirect towards PM Cares Fund link, which will be handle

[2020-04-05 06:58] purut18 commented on #621
no @ramprasanth-pyt, I haven't been assigned yet

[2020-04-05 07:02] sksavant commented on #80
@sudevschiz :
I've created a PR with the changes (plot up to yesterday, plot under map)

[2020-04-05 07:02] purut18 commented on #586
@jeremyphilemon I think we should add this in the district table,
so there are two ways. either do the calculation in the API or do it on the frontend side.

you mean the increase/decrease in number of cases per day?

[2020-04-05 07:06] sudevschiz opened #674 "UT of Dadar & Nagar Haveli, Pondicherry and Lakshadweep seem to be missing on the covid19.org map"
**Describe the bug**
The small territories was probably smoothened out during the size reduction of the polygon.

**Expected behavior**
All territories should be present in the map. Better still, there should be zooming option to select them.

More details from a previous issue comment :

This geoJSON was created from this source : http://projects.datameet.org/maps/states/
That was the only source

[2020-04-05 07:18] Ninad99 commented on #627
I'm gonna be adding a small package (react-scroll-into-view) to get the best functionality for scrolling, which is about ~450 B minified + gzipped.
https://www.npmjs.com/package/react-scroll-into-view

[2020-04-05 07:34] shuklaayush commented on #667
Not relevant here

[2020-04-05 07:34] #667 closed, assigned to nobody

[2020-04-05 07:34] #670 closed, assigned to nobody

[2020-04-05 07:38] sam2964 opened #675 "District wise recovered, active, and deceased cases numbers"
District wise report is not visible. No of total cases are visible but in that total no. of cases no. Of active,recovered,deceased figure is not  visible.

![Screenshot_2020-04-05-13-07-43-15](https://user-images.githubusercontent.com/56807608/78469395-78684b00-773e-11ea-871d-006659be3237.png)

[2020-04-05 07:44] Ninad99 commented on #627
This works but the problem is that on clicking the floating button, the highlighted portion of the map is getting reset.

[2020-04-05 07:49] sudevschiz opened #676 "Add page with display and utilize the Crowdsourced Resource List"
**Is your feature request related to a problem? Please describe.**
Team has collected a vast number of resources that would be helpful for the general public here :
https://bit.ly/covid19resourcelist

This need to be displayed with useful filtering capability in a separate tab in the main website.

**Describe the solution you'd like**
1. The sheet needs to be converted into an API endpoint (https:

[2020-04-05 07:53] guneetnarula commented on #527
This will be fixed by the remaining JSONs in #413

[2020-04-05 07:58] guneetnarula commented on #530
@tannakartikey @KrishnaPravin we are working on these. See #413 the source for the latest district data is the Datameet community. I am currently working on the topojsons and hosting them in this repo https://github.com/guneetnarula/indian-district-boundaries/tree/master/topojson

[2020-04-05 08:05] omui commented on #278
Hi, I would like to pick this feature. I have good amount of experience in service workers.

I can see that there is no server involved, all data coming from static JSON hosted in GitHub. So the point is without server, push notification is not possible.
But I have a workaround for this. We will use pull strategy here instead of server push strategy. In data.json file which is coming from GitHub s

[2020-04-05 08:09] KrishnaPravin commented on #530
@guneetnarula got it👍

[2020-04-05 08:15] sudevschiz commented on #662
## **District Name Errors** ##

Before sending feedback or creating an issue that deals with a district name, please note:
Central and State governments, local authorities and the media are not consistent in how they refer to a district. Registrar General of India, Survey of India, State Govt websites use different spellings or even different names sometimes. In light of this, we are standardizing

[2020-04-05 08:17] nikita-11 commented on #676
Sure. We will take this up from here.

[2020-04-05 08:18] ashwin06k commented on #676
I too am working with Nikita on this.

[2020-04-05 08:21] avinasshcm commented on #545
Firstly, thanks for your explanation.
Secondly, soon Worldometer is going to implement statewise patient data, and once it comes in, no body will be damn interested in your page. no matter what improvements you give it on your page.

[2020-04-05 08:21] avinasshcm commented on #545
Good Luck guys

[2020-04-05 08:21] ravi-shankar-ojha opened #678 "Showing -ve value for active cases for Jharkhand State"
**Describe the bug**
Showing -ve value for active cases (-1) for Jharkhand State, which should not be there. actually there are only 3 cases in jharkhand and it is showing 4 recovered and -1 active cases

**Expected behavior**
Data need to be rectified also there must be filter for -ve value.

**Screenshots**
![Screenshot_20200405-134726](https://user-images.githubusercontent.com/8983606/78470124-

[2020-04-05 08:24] #645 closed, assigned to nobody

[2020-04-05 08:25] avinasshcm commented on #545
To tell you about End user experience, no body will give a damn about what number you display in y-axis scale. the only information they expect is compared to yesterday or day before, what is the change today. whether it is more than yesterday or less than yesterday.

[2020-04-05 08:28] avinasshcm commented on #545
![Worldometer](https://user-images.githubusercontent.com/63049624/78470248-8c637b00-7745-11ea-869c-305368a41268.JPG)

[2020-04-05 08:42] DhiralKaniya opened #679 "District wise Active, Recovered, and Death report"
**Is your feature request related to a problem? Please describe.**
As of now only state-wise Active, recovered and death report is displayed. I have seen the data source and it has District wise recovered and death data. The number is slightly increasing so for batter understanding can we include Active, Recovered and Death count for District as well.

- In addition to that daily increase-count wo

[2020-04-05 08:46] umanghome commented on #629
Should this be configurable? Options could be last 7 days, last 30 days, since Jan 30.

Would like to work on this if nobody has picked it up yet.

[2020-04-05 08:53] ncpanigrahy commented on #586
This should be in the state table , and if population and area available ten we can calculate on frontend side as well.

[2020-04-05 08:59] shuklaayush commented on #679
Duplicate of #675

[2020-04-05 08:59] #679 closed, assigned to nobody

[2020-04-05 09:00] ncpanigrahy commented on #586
@jeremyphilemon its better if we guys consider population and area as a parameter to calculate , lets example there are 635 cases in maharashtra and 445 cases in delhi.

Maharshtra having 307,713 km2 with 112,374,333 no of people
Delhi having 1,484.0 km2 with 16,787,941 no of people

if you compare then you will able to know delhi is affected more then Maharashtra.

Maharashtra and delhi is just a

[2020-04-05 09:16] DhiralKaniya commented on #679
@shuklaayush:- UI Behavior is different here.
Asking to have data in the table view. #675 issue locked to have data in a summary view.

Data requirement in this API:- https://api.covid19india.org/state_district_wise.json
I would like to take this.

[2020-04-05 09:25] ialekhya opened #681 "FAQ Page UI modification for better look"
Trying for better look for FAQ page .I wrote new code using same apis.I have tested on Mobile and deskotp.

[2020-04-05 09:25] ialekhya opened #682 "FAQ Page UI modification for better look"
Trying for better look for FAQ page .I wrote new code using same apis.I have tested on Mobile and deskotp.

[2020-04-05 09:33] shuklaayush commented on #679
Hey @DhiralKaniya, I understand that you want to have it displayed on the table. But the thing is that, for us, it doesn't really matter. If we have the data, we can display it anywhere. The problem right now is that we don't the district level data for active, recovered and deaths. You can verify this in the API that you've linked.

[2020-04-05 09:34] shuklaayush commented on #682
Duplicate of #681

[2020-04-05 09:34] #682 closed, assigned to nobody

[2020-04-05 09:41] esafwan commented on #354
@thejeshgn Sorry got a bit held up. Correct me if I am wrong, I think `covid19india.org` is not using a backend. It's reading data from JSON files. In that case, we only have two options:

1. Write a CRON job somewhere to periodically download data of non-virus death and update the JSON file from where we update the site.
2. Add covid19india.org to the CORS list.

I think this decision should be t

[2020-04-05 09:59] Deepu0311 opened #683 "Arrow marks are not showing properly for some boxes"
**Describe the bug**
In the states table for some states arrow mark is showing above the numbers

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'covid19india.org'
2. See the arrow mark for Maharashtra state deceased colum and andhraprabdesh state confirmed box and also total confirmed box.

**Expected behavior**
The arrow mark need to show beside the table.

**Smartphone (please comp

[2020-04-05 10:10] purut18 commented on #586
@ncpanigrahy so we have to calculate for population or per area or per population per area? that could get confusing

[2020-04-05 10:31] kryptocodes opened #684 "Banner: bold tag"
**Describe the bug**
bold tag is visible in the banner

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'covid19india.org'
2. Look at the snippet
"State Electricity Boards have asked citizens not to switch off or switch on lights and appliances  <b`>all at the same time</b`>  as it could cause a blackout."

3. See error <`b> </b`>

**Expected behavior**
The tag should be hidden

**Scre

[2020-04-05 10:37] SamirDasarwad commented on #684
banner is changing only on-click i think it should be changeable after some time or can be moving

[2020-04-05 11:00] himanshu8426 opened #686 "Refactor code for footer component"
**Is your feature request related to a problem? Please describe.**
Footer code is written in app.js. Code should be written as a component.
**Describe the solution you'd like**
make a footer component and import it to app.js

[2020-04-05 11:07] fenil25 opened #687 "Simultaneously switching on the Uniform and Logarithmic toggle switch"
**Describe the bug**
When the user toggles on the logarithmic scale, the uniform scale should be automatically switched off. However, in the current scenario, both the toggle switches are simultaneously "on" which shouldn't be the case. Also, when disabling the logarithmic scale, the uniform scale should be switched on by itself.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Specia

[2020-04-05 11:20] ravishk1 opened #688 "Extra Column of Number of tests done."
The work is wonderful. Just for the curiosity, can we include extra Column of number of tests done till now ? That will also be useful.

[2020-04-05 11:20] Ashwin56 opened #689 "Figures for WB"
Can you please update the figures for West Bengal, there have been plentiful changes in the past 24 to 48 hours and the figures are not yet displayed correctly on the website.
Thanks.

[2020-04-05 11:44] sudevschiz commented on #689
Awaiting detail from the government.

[2020-04-05 11:44] #689 closed, assigned to nobody

[2020-04-05 11:59] milap1296 commented on #687
@fenil25 As far as I can understand the reason to put the switcher is you can enable both Uniform & Logarithmic scale at a same time.
If it wasn't like that it could have been more simpler to put just one switcher or add radio buttons.

[2020-04-05 12:05] xi1570-krupeshanadkat commented on #684
I think this issue is solved now,
- Banner is changing automatically,
- html b tag bug is fixed.
I think we can close this issue?

[2020-04-05 12:14] fenil25 commented on #687
"Uniform & Logarithmic scale at the same time"- How is that possible? The y-axis can't be mapped to both the scales simultaneously, right?
Also, I agree that one switcher should just do the work.

[2020-04-05 12:15] xi1570-krupeshanadkat commented on #262
I can help @delsin474 , I have knowledge about sitemap and submitting website to google webmaster for indexing.

[2020-04-05 12:38] thejeshgn commented on #354
Give me an hour. I will add cors for this domain.

Regards,
Thej

Thejesh GN ⏚ ತೇಜೇಶ್ ಜಿ.ಎನ್
http://thejeshgn.com

On Sun, 5 Apr, 2020, 3:12 PM Safwan Erooth, <notifications@github.com>
wrote:

[2020-04-05 13:05] DashmeetArt opened #694 "Showing Data for Maharashtra instead of complete India, on right opening the website."
**Describe the bug**
When a user opens the website, It shows the data which represents only data for Maharashtra, even when user didn't even hover on any of state on the map. Until user hovers on any state, It should show complete data for all India, instead only for a single state.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ['https://www.covid19india.org/'](https://www.covid19in

[2020-04-05 13:05] sumukhah opened #695 "Region is not highlighted even though it is showing the statistics about the same region"
**Hovered region should remain highlighted until the next hover**
Users hover on a region and get some statistics. Later they move the pointer(mouse) away from the map. It will show data about the same region(state/district) but the region will not remain highlighted.

**To Reproduce**
Steps to reproduce the behavior:

1. Hover on a region(state/district)
_The region will be highlighted and the St

[2020-04-05 13:06] sumukhah commented on #695
Working on the issue

[2020-04-05 13:16] Ninad99 commented on #627
@jeremyphilemon I've successfully added the scrolling functionality in #696, although the highlighted region does get reset in the map. I tried creating a workaround by changing the function in the onMouseLeave event but that made the map buggy, hence I switched it back to the original function.

[2020-04-05 13:25] nehalb123 commented on #694
Working on this issue

[2020-04-05 13:44] faisal3389 commented on #629
Hi @jeremyphilemon, I would like to work on this. Please assign it to me.
Also, I see that the mini graphs already show the graph for the past rolling 20 days and not from Jan 30th.

[2020-04-05 13:50] milap1296 commented on #280
@jeremyphilemon I would like to work on this.

[2020-04-05 13:53] sumukhah commented on #694
This issue is also showing up on a state map.
It will display statistics of some random region of the state.
Instead of this, it should display statistics of the entire state until a region is selected by the user.

![Screenshot from 2020-04-05 19-21-07](https://user-images.githubusercontent.com/23723464/78500202-d9aa1180-7772-11ea-9a99-fb11335a3c94.png)

[2020-04-05 14:10] mayurisakpal commented on #683
This is the expected behavior of `up arrow and it's label` if space is not available on the same row, right?

![Screenshot (1)](https://user-images.githubusercontent.com/36845563/78500488-57bae800-7774-11ea-85a1-c15e4127fdac.png)

[2020-04-05 14:16] shuklaayush commented on #687
@fenil25 I think you misunderstood what the term 'Uniform' means in this context. Here, it just means that the scale of all the three charts is the same, whereas 'Logarithmic' actually switches the scale between a linear and a log scale. Closing for now.

[2020-04-05 14:16] #687 closed, assigned to nobody

[2020-04-05 14:24] SamirDasarwad commented on #684
yes i saw that issue is solved good work , i also want help here if anything required i will help

[2020-04-05 14:30] sayan801 commented on #689
New data available  from west bengat govt health department.

- https://www.wbhealth.gov.in/pages/corona/bulletin
- https://www.wbhealth.gov.in/uploaded_files/corona/Bulletin_West_Bengal_04.04_.pdf

![image](https://user-images.githubusercontent.com/438014/78501092-d36a6400-7777-11ea-8dcb-4e6ae8aa4d0f.png)

Mohfw website also updated the data about west bengal. Please update here as well.

https:/

[2020-04-05 14:32] SachinRammoorthy commented on #671
@pravinagrawal145 I already created a pull request. This issue has not been reviewed yet.

[2020-04-05 14:32] sayan801 opened #700 "update data of West Bengal"
New data available  from west bengat govt health department.

- https://www.wbhealth.gov.in/pages/corona/bulletin
- https://www.wbhealth.gov.in/uploaded_files/corona/Bulletin_West_Bengal_04.04_.pdf

![image](https://user-images.githubusercontent.com/438014/78501092-d36a6400-7777-11ea-8dcb-4e6ae8aa4d0f.png)

Mohfw website also updated the data about west bengal. Please update here as well.

https:/

[2020-04-05 14:41] ncpanigrahy commented on #586
It should be both population and area , first lets approve the issue after that i will give the logic to you

[2020-04-05 14:43] surbhi239 commented on #683
This issue is arising because column of deceased is not flexible as confirmed cases and recovered cases.

[2020-04-05 14:52] Apoorve73 opened #702 "Link Google Maps API to show vulnerable areas !"
I have seen many websites providing real time data but it always seems good to get a visual experience of the spread of pandemic and that too real time.

I want to add Google Maps Javascript API for locating these regions on Map .

I had developed an application for representing those vacant lands in Dallas, Texas that are fit to develop a hospital.

Here is a screenshot!
The only difference will

[2020-04-05 15:03] mayurisakpal commented on #683
If the length of the number increases, this is going to happen for confirmed cases and recovered cases as well. To avoid that we can shift the whole `up arrow with its label` above the second number when space is not available instead of just shifting the `up arrow`.

[2020-04-05 16:13] srikanthmovva opened #705 "Add more graphs"
1) If possible add a new plot based on state.
2) need a plot between total cases and cases from last week.( please take a look in aatishb.com)

[2020-04-05 16:17] #678 closed, assigned to nobody

[2020-04-05 16:45] pratikm141 commented on #705
[State specific Spread Trends when a state is selected #564](https://github.com/covid19india/covid19india-react/issues/564)

[2020-04-05 17:32] mayurisakpal commented on #683
Working on these issues:
1. fix alignment of `chevron right  icon within a circle` and show `up arrow  beside its label`
![Screenshot (4)](https://user-images.githubusercontent.com/36845563/78505274-10425500-7790-11ea-9bad-9cfae7d21c99.png)

2. fix update badge which is overlapping with text on the small screen
![Screenshot (3)](https://user-images.githubusercontent.com/36845563/78505331-6ca57480-

[2020-04-05 17:34] vrajeshkanna commented on #96
@Ayush1325 App Looks nice.

[2020-04-05 17:37] Ayush1325 commented on #96
@vrajeshkanna Thanks

[2020-04-05 17:53] nmnrna opened #706 "Arrows in Total column in State table"
UP arrow and numbers appear in different rows in the Total column of the state table.

[2020-04-05 18:09] swapdewalkar commented on #688
I can do this, can you assign it to me. Extra column or better it can be a block like recovered,active deceased for every state, we can do tested,pos,neg,%.

[2020-04-05 18:09] surbhi239 commented on #683
![image](https://user-images.githubusercontent.com/25776004/78505982-b1e38b00-772b-11ea-9fc7-196e2fffdabe.png)
I agree it will go down if the number of cases increases for the deceased row. But see confirmed cases section is flexible. so, it enlarges as the count increases. We need same thing for every column.
Check the exact behavior at the 1024px screen.
Note: This problem is only coming when th

[2020-04-05 18:12] surbhi239 commented on #706
The bug has already been raised for it.
Check this out: https://github.com/covid19india/covid19india-react/issues/683

[2020-04-05 18:21] mayurisakpal commented on #683
Yea, this issue is happening only for the small screen, as the table is taking the device width. Also, this is going to happen for all columns if we increase the number.
![Screenshot (5)](https://user-images.githubusercontent.com/36845563/78506568-03c1fa80-7798-11ea-8908-3ab1727fc0b5.png)

[2020-04-05 18:41] thejeshgn commented on #354
I have added the CORS. It should work.

In case if it didn't use one of the CORS proxies. https://gist.github.com/jimmywarting/ac1be6ea0297c16c477e17f8fbe51347

Example, this should work too
http://api.allorigins.win/get?url=https%3A//data.thejeshgn.com/covid19/_design/india/_view/non_virus_deaths%3Fdescending%3Dfalse&callback=?

using

https://allorigins.win/

[2020-04-05 18:43] surbhi239 commented on #683
I totally agree with you on this point. Thus, increasing width as the number of cases increases instead of making it increase as device width increases.

[2020-04-05 18:47] nikhilsamant commented on #674
I have extracted the topoJson for the UTs from  http://projects.datameet.org/maps/states/
using https://mapshaper.org/

Please check below file and use them if useful

[puducherry.txt](https://github.com/covid19india/covid19india-react/files/4434530/puducherry.txt)
[damandiu.txt](https://github.com/covid19india/covid19india-react/files/4434533/damandiu.txt)
[dadranagarhaveli.txt](https://github.co

[2020-04-05 19:28] TheDominus opened #708 "Adding relevant graphs to track the severity of the spread."
**Is your feature request related to a problem? Please describe.**
Currently, we have only 3 graphs that are
1. Confirmed
2. Recovered
3. Deceased
But, to track the spread of the virus and the pressure on the medical infrastructure, we need more relevant graphs.

**Describe the solution you'd like**
1. The most relevant graph to track the pressure on the medical infrastructure is the number of act

[2020-04-05 19:28] faisal3389 commented on #292
I would like to pick this up, please assign this to me.

[2020-04-05 19:37] faisal3389 commented on #647
@pastelsky I would like to help you with this. Let me know if I also contribute to this.

[2020-04-05 19:37] kracekumar opened #709 "Add option to show total tested samples"
**Is your feature request related to a problem? Please describe.**
It's been repeated written in many articles India is testing fewer people per million. The Govt releases data on how many samples tested and how many cases are positive out of the tested samples. The [API](https://api.covid19india.org/data.json) contains the same data under the field name `totalsamplestested`. It may be a good idea

[2020-04-05 19:40] jeremyphilemon commented on #545
@avinasshcm aww :)

[2020-04-05 19:58] #472 closed, assigned to guneetnarula

[2020-04-05 20:00] jeremyphilemon commented on #671
Hey thanks for opening this issue, unfortunately this is a stylistic choice to show the contents of the url instead of having them hidden :)

[2020-04-05 20:00] #671 closed, assigned to nobody

[2020-04-05 20:11] jeremyphilemon commented on #694
Hey, thanks for filing the issue! I'd like to understand why the map should show the statistics of India as a whole in the beginning given that we are already showing those stats on the primary header.

<img width="1105" alt="Screen Shot 2020-04-05 at 11 09 24 PM" src="https://user-images.githubusercontent.com/17938322/78508844-a2e3f380-7792-11ea-946f-a73b86fba491.png">

This would just make the n

[2020-04-05 20:37] georgyjacob2020 commented on #559
[test2.mov.zip](https://github.com/covid19india/covid19india-react/files/4434802/test2.mov.zip)
@jeremyphilemon,
I tried the option you mentioned above, where we have a darker border for a lighter fill and a lighter border for a darker fill.
Have a look at the attached movie file, it looks a bit flashy.

The states which are around 0.4 gets a 0.6 border and the ones on 0.6 gets a 0.4 border which

[2020-04-05 20:50] jeremyphilemon commented on #559
Mhmm this is interesting,

Can you try something like this and share a video, would really appreciate it!

[code]

[2020-04-05 20:55] sayan801 commented on #700
closing the issues as west bengal data is updated..

![image](https://user-images.githubusercontent.com/438014/78509712-c49ea400-77ad-11ea-9256-460eaa95a6b2.png)

[2020-04-05 20:55] #700 closed, assigned to nobody

[2020-04-05 21:16] jeremyphilemon commented on #684
This has been patched, thanks :)

@sameerdasarwad you can pick any issue labelled "available" and submit PRs :)

[2020-04-05 21:16] #684 closed, assigned to nobody

[2020-04-05 21:26] jeremyphilemon commented on #527
Closing cause #413 addresses this.

[2020-04-05 21:26] #527 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-05 22:03] jeremyphilemon commented on #647
@pastelsky Ah I understand now, I think this would be good to be featured in the deep dive section right now. This is what's next in the pipeline. Can you work on an initial build for a preview? That way I'd be able to give suggestions and help with the iterative updates on it :)

@faisal3389, sure you can have a conversation with @pastelsky and see if you can work on it together!

[2020-04-05 22:13] jeremyphilemon commented on #629
@faisal3389 I'm gonna have to go with @umanghome since he had requested to be assigned earlier.

@umanghome and yes, go ahead! Let me know if you have any questions in the process :)

[2020-04-05 22:16] jeremyphilemon commented on #292
@faisal3389 sure, go ahead! We would want the updates to be displayed below the table as of now.

[2020-04-05 22:27] umanghome commented on #629
@jeremyphilemon What should the UI look like for the options? What should the default be?

[2020-04-05 22:55] #599 closed, assigned to nobody

[2020-04-05 22:56] jeremyphilemon commented on #629
Something like this would be good :)

<img width="490" alt="Screen Shot 2020-04-06 at 1 56 09 AM" src="https://user-images.githubusercontent.com/17938322/78512015-ce260d00-77a9-11ea-8878-a8229c5a5300.png">

[2020-04-06 00:10] umanghome commented on #629
Using these colors from the image:
- Border: `#C9D6FB`
- Background: `#EDF1FE`
- Background for selected pill: `#C9D6FB`
- Text: `#007bff` ($blue in App.scss)

[2020-04-06 00:18] jeremyphilemon commented on #629
@umanghome Sure :)

[2020-04-06 00:44] madhurrajn opened #713 "Time Series Per State"
At present the time series graph shows daily case update for the entire country.  Would it be possible to enhance to update the time series of daily case per state as and when the state is selected.

Eventually enhance to per district within state.

[2020-04-06 01:05] #665 closed, assigned to nobody

[2020-04-06 02:06] limshark commented on #530
datiya district in Madhya pradesh, the map of Datiya shows extra villages geographically seperated. these are not correct.

![image](https://user-images.githubusercontent.com/7282526/78517026-51128c00-77d9-11ea-874f-5ea321ee6434.png)

[2020-04-06 02:27] patelmanoj1991 opened #715 "Please add recovered count in districts level"
This is my suggestion and request Please add recovered count at district level with arrows with latest update.e.g today recovered count is 5 then it show 5^.

[2020-04-06 03:32] shuklaayush commented on #713
Duplicate of #564

[2020-04-06 03:32] #713 closed, assigned to nobody

[2020-04-06 03:33] shuklaayush commented on #715
Duplicate of #632

[2020-04-06 03:33] #715 closed, assigned to nobody

[2020-04-06 03:49] abhishekakade opened #716 "Wrong number of deceased on 5th April 2020 in API"
**Describe the bug**
`case_time_series` for 05 April 2020 shows `totaldeceased` as 121 -

[code]

while the `statewise` for Total (India) as of 06/04/2020 00:11:24 shows 118 `deaths` -

[code]

**To Reproduce**
Go to https://api.covid19india.org/data.json and compare both.

**Expected behavior**
Number of deaths to not have reduced as it is impossible. If the number of deaths 121 on 5th April 2020

[2020-04-06 04:13] rupeshshrestha722 commented on #590
Hi @johnhorsema  I have already setup repo. So, I have to scrap data from wikipedia to create similar json as yours?

[2020-04-06 05:08] shawavisek35 commented on #310
I would like to work on this

[2020-04-06 05:49] rohitaneja91 opened #717 "When user mouse hover on State/UT at the bottom of a list, User need to scroll up screen for more details. So this is not user friendly way!"
**Is your feature request related to a problem? Please describe.**
This is not a user friendly way like When user mouse hover on State/UT at  the bottom of a list I need to scroll up screen for looking the more details.

**Describe the solution you'd like**
If possible you can move a Spreads Trend above and more detail state/UT map section below that and hard code the More Details state section, s

[2020-04-06 05:56] whitehatrt opened #718 "Gujarat is displaying inside Maharashtra"
**Bug**
Gujarat is displaying inside Maharashtra
**Steps to Reproduce:**

1. Open URL
2. Expand Maharashtra
**See Screenshot Below**
![image](https://user-images.githubusercontent.com/58036570/78532615-2f2efe80-7805-11ea-8d1a-07d872fa1a79.png)

[2020-04-06 06:16] smittal1209 opened #719 "Feature Donate on Homepage"
**Is your feature request related to a problem? Please describe.**
A donate page on the homepage of the site that will show all the official information on how a user can donate to for the cause. For Example : A section showing information on how to donate to PM Cares fund or State Govt. Funds and a section showing various NGOs to which donation can be made via UPI or Paytm or any other channel.

[2020-04-06 06:27] rohitaneja91 opened #720 "Detail Map not present for Puducherry"
**Describe the bug**
Done a Mouser Hover on Puducherry, System is not showing a detail Map it and a district affected

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '.https://www.covid19india.org/.'
2. Click on 'State/UT', it will sort the State/UT Column
3. Scroll down to Puducherry UT
4. Mouse Hover the Puducherry

**Expected behavior**
Detail Map of Puducherry is not present
User

[2020-04-06 06:38] smittal1209 commented on #719
@jeremyphilemon and Team, Kindly review the feature request.

[2020-04-06 06:39] Irshad-pega opened #721 "Change the label name."
**Change of Label**

Change the Label to "Kishtwar"

I have attached screen shot for more reference
![Screenshot_20200406-142237_Chrome](https://user-images.githubusercontent.com/63225224/78529337-f185a200-7813-11ea-892e-7ef1863621e0.jpg)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'State/ UT'
2. Click on 'Jammu and Kashmir'
3. Scroll down to districts.
4. See error
Label "Kashmir

[2020-04-06 06:49] munna commented on #415
is it not a good idea to show spared trends to show in the popup on mouse hover. it will be good looking and user friendly as well.

[2020-04-06 06:59] klakho0400 opened #722 "The Y axis limit for graphs of recovered and deceased should not be the same as cases"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-06 06:59] #722 closed, assigned to nobody

[2020-04-06 07:02] klakho0400 opened #723 "Spelling of cities are wrong"
example:- Ahemdabad marked 'Ahmadabad' in the map in Gujarat
                 Ahmednagar marked 'Ahmadnagar' in the map in Maharashtra

[2020-04-06 07:06] klakho0400 commented on #718
first of all it is Gujarat secondly mention which os or browser are you on for me in chrome it is fine

[2020-04-06 07:07] whitehatrt commented on #718
i am also on chrome latest version and using windows 10 os

[2020-04-06 07:08] mehrapiyush commented on #721
I think the data from api is incorrect that's why showing such errors.

[2020-04-06 07:12] faisal3389 commented on #292
@jeremyphilemon thanks for assigning the issue to me. I have added the activity center to look like this.
<img width="1084" alt="Screenshot 2020-04-06 at 12 42 29 PM" src="https://user-images.githubusercontent.com/16716470/78531979-15d98280-7804-11ea-98a9-93642457c592.png">

Let me know if this is fine.

[2020-04-06 07:13] alpha-k911 opened #724 "API request"
Do you have an api for this...?

[2020-04-06 07:22] #724 closed, assigned to nobody

[2020-04-06 07:28] swagat2004 opened #726 "bug -1 in jharkhat"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-06 07:29] #726 closed, assigned to nobody

[2020-04-06 07:33] georgyjacob2020 commented on #559
[4060.mov.zip](https://github.com/covid19india/covid19india-react/files/4436561/4060.mov.zip)

@jeremyphilemon,
If you hover on Kerala and Telangana, you will see a darker border, these 2 states fall in the 40-60% as of this time when the video was made.
imo users will wonder why these states are getting a dark border.

[2020-04-06 07:35] Binu42 commented on #717
This is already mentioned here #415 and a of solution it is here #680

[2020-04-06 07:36] mshekhar commented on #722
+1

[2020-04-06 07:36] georgyjacob2020 commented on #559
Since we have used a single color to represent the range of the numbers (in this case, light red to dark red), To demarcate between these ranges (i.e. borders) if we use the same color in reverse (dark red to light red) will not demarcate well... its better to use a contrast color.

[2020-04-06 07:39] Binu42 commented on #717
you can use this link to save yourself from scrolling and all... https://covid19india-react-git-fork-binu42-fullscreen.covid19india.now.sh/

[2020-04-06 07:42] georgyjacob2020 commented on #559
[extrapolateGreenPropotionately.mov.zip](https://github.com/covid19india/covid19india-react/files/4436668/extrapolateGreenPropotionately.mov.zip)

This video gives the states a proportionately interpolating green border on hover. Its dark green for max numbers like Maharashtra and light green for states with lesser numbers.

[2020-04-06 07:49] georgyjacob2020 commented on #559
[BetterStillWithAGreenBorder.mov.zip](https://github.com/covid19india/covid19india-react/files/4436757/BetterStillWithAGreenBorder.mov.zip)

A little better version imo, with an already dark olive 1 px border and a proportionately interpolating green border on hover

[2020-04-06 08:04] Invoker96 commented on #559
@georgyjacob2020 dark olive looks better now. If I get some more contrasting color, will update in the comments.

[2020-04-06 08:09] alpha-k911 opened #727 "Forecasting"
We can forecast the data and present it here.

There are so many R library Packages which will forecast the data and present them here

I would like to contribute to that.

Previously I have worked on Stock Market prediction on Time Series.
So, I feel adding this feature to this project will be a good idea

[2020-04-06 08:09] AjithKumarvm opened #728 "Crash: Home page"
Console error: Cannot read property 'districtData' of undefined

[2020-04-06 08:12] alpha-k911 opened #729 "HeatMap"
We can provide Heatmap based on the data in areas too. Now we are having based on states. I would like to update this feature

[2020-04-06 08:14] DavisDevasia commented on #728
Appears to be solved now

[2020-04-06 08:48] sama007 commented on #676
Hi, I was working on this with Nikita and finished this issue. Need to raise pull request. Can I please get assigned?

[2020-04-06 08:58] kavishdahekar commented on #718
I can confirm the bug occurs for me too (win 10 + chrome + firefox).
Doesn't seem to be OS or browser specific.

I'd like to take this up.

According to the [contribution guide](https://github.com/covid19india/covid19india-react/blob/master/CONTRIBUTING.md), can this be marked accepted and assigned to me?

[2020-04-06 09:06] whitehatrt commented on #718
It Is the issue with the API in API data is not proper. I tried to call API.

[2020-04-06 09:25] kunalpgithub commented on #647
This will be cool feature, let me know if you need any help with front end.

[2020-04-06 09:29] shuklaayush commented on #728
Thanks. Should be fixed now

[2020-04-06 09:29] #728 closed, assigned to nobody

[2020-04-06 09:31] shuklaayush commented on #720
Duplicate of #674

[2020-04-06 09:31] #720 closed, assigned to nobody

[2020-04-06 09:35] kavishdahekar commented on #718
@whitehatrt yes! Seems to be coming from the API.
Is the API handled in a separate repo? How do we propose corrections to the API?

[2020-04-06 09:43] shuklaayush commented on #719
Hi @smittal1209, I see that you've put a lot of thought into this. But please comment and continue the discussion on #672. It would be easier for us to track

[2020-04-06 09:43] #719 closed, assigned to nobody

[2020-04-06 09:43] whitehatrt commented on #718
@kavishdahekar Here is the api https://github.com/covid19india/api

[2020-04-06 09:52] g-ravity commented on #723
@klakho0400 can you provide a complete list of such errors? I can fix these typos with a PR then

[2020-04-06 09:55] DhiralKaniya opened #731 "Info icon display for "West Bengal""
**Describe the bug**
Info(FAQ) icon is displayed for a state "West Bengal". It is redirecting to the FAQ page.
It should not be displayed as a behavior of all-state.

**To Reproduce**
Steps to reproduce the behavior:
1:- Go to https://www.covid19india.org/
2:- Find West Bengal in the table view.

**Screenshots**
-
<img width="726" alt="Screenshot 2020-04-06 at 3 19 19 PM" src="https://user-images.

[2020-04-06 09:58] johnhorsema commented on #590
Yes. You will also need the map for Nepal (topoJSON format).

[2020-04-06 10:11] shuklaayush commented on #731
This is deliberate to focus attention on this particular FAQ.
![image](https://user-images.githubusercontent.com/27727946/78547499-d23f4280-781c-11ea-8a8e-1c2c38559a8d.png)

Will be removed when necessary.

[2020-04-06 10:11] #731 closed, assigned to nobody

[2020-04-06 10:11] Irshad-pega commented on #721
From google sheets distt. list is okay.
![Screenshot_20200406-180823_Chrome](https://user-images.githubusercontent.com/63225224/78547678-0b35e200-7832-11ea-8f3f-a8eb59d11d2f.jpg)

[2020-04-06 10:18] akshayjadhav9 commented on #485
This issue is not resolve

[2020-04-06 10:21] smittal1209 commented on #672
@shuklaayush Hi Ayush, I see this issue as somewhat related to the issue raised by me but the scope seems to be wider.

- I have added the scope to show all the national and state government relief funds details along with official sites link so that it will be easier for people to authenticate the official source before payment since that is a major concern for most people.

- I have also added t

[2020-04-06 10:21] akshayjadhav9 commented on #718
Otherwise give legend description against *

[2020-04-06 10:30] parichay28 commented on #415
@deep5050 @shuklaayush @jeremyphilemon  @tannakartikey

Maybe a useful solution could be by providing search option on the table itself. This could help in reducing the table length and at the same time can be a small feature too. What do you guys think ?

[2020-04-06 10:37] kondannangi163 commented on #576
Now it is showing correctly.previosly it is wrong. Anyway usefull
application.chill

On Sat, 4 Apr 2020, 13:26 Guneet Narula, <notifications@github.com> wrote:

[2020-04-06 10:38] parichay28 commented on #717
@Binu42 I've noticed that it's been quite difficult for me to click on an UT Dadra & Nagar Haveli on the map. So far I've been unsuccessful in doing so even after zooming in aggressively. Is that an issue you are facing as well ?

[2020-04-06 11:46] Binu42 commented on #717
@parichay28 ya i'm also facing same for 3 union territory chandigarh, PUDUCHERRY and dadra & nagar haveli. i think there map are not included that's why this is happening and I think this is not any big issue because these UT doesn't have district inside it.