[2020-03-16 13:53] triedcatched commented on #3
This part is already added in the css. Just need to embed a div with class="diff"

[code]

Once we have this data in the spreadsheet, we can enable this

[2020-03-17 01:37] sudevschiz commented on #3
Added the delta numbers that need to be shown, in the "Spread Trend" sheet. I feel that's the logical place for it to reside.
Let me know if it should move it the "Statewise" sheet to avoid performance degradation

@triedcatched

[2020-03-17 01:50] sudevschiz opened #5 "Fix polygon to show Ladakh and J&K separately"
Currently the polygon for J&K and Ladakh is together. This geoJSON was created from this source : http://projects.datameet.org/maps/states/
That was the only source that I could find where at least Telangana was plotted correctly.

They have an open issue regarding this here : https://github.com/datameet/maps/issues/45

If someone can work on this and provide the boundaries (probably by using the

[2020-03-17 08:09] suryaceg opened #7 "Add daily active case graph"
Please remove the +1 number from the top star bar and add a graph showing the daily infection trend.

This can be a simple addition on top of the current graph. This curve can have a different style than the current curves, so people won't confuse it with the other 3 values.

![IMG_20200317_133650_205](https://user-images.githubusercontent.com/840117/76835237-a6035800-6854-11ea-8add-a1082c6ff966.j

[2020-03-17 09:26] sudevschiz commented on #7
I have two points to note :
1. What's the right location for this in the website? I vote against making it longer. We can make it into a carousel to swipe left and right.

<img width="200" alt="Screen Shot 2020-03-17 at 18 24 47" src="https://user-images.githubusercontent.com/4298868/76841879-be876880-687c-11ea-817b-9c6c34fcadd5.png">
2. The y-axis should be better managed. Right now the graph loo

[2020-03-17 23:32] sudevschiz commented on #7
This has been implemented as a graph below the existing one.
However keeping the Delta numbers from the previous day so that people can see it on the first view itself.

[2020-03-17 23:32] #7 closed

[2020-03-18 01:19] sudevschiz commented on #8
@mohammedshafeeqet is fixing the data to reflect the states numbers correctly. After this, all the numbers would be directly updated from Raw Data. So this column could be added.

However, let's think again if this information is really required.

Will keep this open

[2020-03-18 01:21] sudevschiz commented on #8
Sheet is fixed! Great work by Data team.

Please do discuss here if this is really required.
Issues that I see are :
1. Do you mean 24-hour "window" or just the previous date
2. The current table is already tight in mobile view. Adding this column might make it illegible.
1.

[2020-03-18 01:25] sudevschiz commented on #9
The amount of text in the website is very low. We would like to keep it that way.

Maybe for the key numbers shown in the top, we can have a language switch? Then the question is which all languages do we support. I feel we shouldn't get into that cat-fight.

But if anybody has a solution and can make the changes and create a Pull Request, would be great

@triedcatched

[2020-03-18 01:35] sudevschiz commented on #2
iframe cant ascertain the width of the content and auto-resize. This is a known problem.
https://stackoverflow.com/questions/5589756/is-there-a-cross-domain-iframe-height-auto-resizer-that-works

Won't fix for now.
If we later port to some different front-end library, will have a look

[2020-03-18 01:35] sudevschiz commented on #3
This is done.

[2020-03-18 04:14] immortal3 commented on #8
Please,also add delta in statewise.
delta = increase of daily cases

[2020-03-18 04:25] suryaceg commented on #9
So, another easy idea for this would be, publishing all the strings available in the website today in a Google Sheet & publish in the main Ops group for people to localize into the 18 official languages. We will push whichever language gets localised fully to the website. What do you think? @sudevschiz @triedcatched

[2020-03-18 05:34] triedcatched opened #11 "Draw graphs from JS instead of using Google Sheets"
Data for graphs can be fetched with this link:
https://spreadsheets.google.com/feeds/cells/1nzXUdaIWC84QipdVGUKTiCSc5xntBbpMpzLm6Si33zk/o6emnqt/public/values?alt=json

The above url is a json of the below sheet:
https://docs.google.com/spreadsheets/d/1nzXUdaIWC84QipdVGUKTiCSc5xntBbpMpzLm6Si33zk/edit#gid=1544756290

[2020-03-18 11:39] sudevschiz commented on #8
This is quite doable now. The Raw Data has been validated at a state level by the data team.

Should we only show this for confirmed cases or for recovered and deceased cases.

If you're interested in working on this, please ping @simulatedmonkey in the Telegram group.

[2020-03-18 14:24] #5 closed

[2020-03-19 08:03] suryaceg commented on #12
Here is the interaction flow

[doc_2020-03-19_13-29-21.mp4.zip](https://github.com/BetaTurtle/covid19india/files/4353293/doc_2020-03-19_13-29-21.mp4.zip)

[2020-03-19 08:33] jnrachit opened #14 "Suggestions/Feature Requests from Metanoia"
1. Create a day by day comparison with dates vs positive cases with the countries that have/had comparable scenarios, Like Turkey has a very similar trajectory right now.

1(a) Maybe there are time series analysis available for the historic numbers of other countries which we can fetch and normalize to suit for India's perspective.

[2020-03-19 08:37] jnrachit opened #16 "Suggestions/Feature Requests from Siva Ⓜ️"
1. Give Stats by districts instead of just state / cities. // example : https://fieldmaps.in/covid19/
2. Stats of how many cases are tested by state/city vs in progress, etc.

[2020-03-19 08:38] jnrachit opened #17 "Suggestions/Feature Requests from Chaitanya Reddy A S K"
1. Which state have added new cases ?

[2020-03-19 08:39] jnrachit opened #18 "Suggestions/Feature Requests from Lucifier"
1. How about day wise & state wise no. of tests conducted, their results i:e Positive / Negative.

[2020-03-19 08:43] jnrachit opened #20 "Suggestions/Feature Requests from Aslam Mohammed"
1. Highlight states that contributed to latest count update.

[2020-03-19 15:30] triedcatched commented on #11
Sample of graph done by Naveen here
https://github.com/s-naveen/covid19india

[2020-03-19 16:36] sudevschiz commented on #13
1. Cluster map is being worked on.
2. Districtwise data is being collated.
3. State-wse increment is added as a different issue
4. This is not related to the website

[2020-03-19 16:37] sudevschiz commented on #14
Not within our scope. Please use global trackers.

[2020-03-19 16:37] #14 closed

[2020-03-19 16:38] sudevschiz commented on #16
Guneet is working on this. Will create a different issue when this is in action plan.

[2020-03-19 16:38] #16 closed

[2020-03-19 16:38] sudevschiz commented on #15
Not within our scope. Please use global trackers.

[2020-03-19 16:39] sudevschiz commented on #17
#8

[2020-03-19 16:39] #17 closed

[2020-03-19 16:40] suryaceg commented on #20
@jnrachit could you explain this some more?

[2020-03-19 16:41] sudevschiz commented on #18
This data is sporadic. Teams are working on collating this data. If it works out, then we can implement. @jnrachit please watch out on the volunteers group. If the data becomes available, please repopen.

[2020-03-19 16:41] #18 closed

[2020-03-19 16:41] suryaceg commented on #19
1. Interesting one. Let's see the possibility based in our cluster chart page.

2. What do you mean by Flow chart? The route map? @jnrachit

[2020-03-19 16:42] sudevschiz commented on #19
1. Cluster map is being worked on.
2. I will create a different feature request for the patient flow chart and refer this there.

[2020-03-19 16:42] sudevschiz commented on #20
Closing.

[2020-03-19 16:42] #20 closed

[2020-03-19 16:48] sudevschiz commented on #11
@s-naveen 🙏

[2020-03-20 07:00] sd1729 commented on #21
Please check this

https://api.rootnet.in/covid19-in/unofficial/covid19india.org

[2020-03-20 07:53] odflix opened #1 "Website Shows up blank"
Might scripts isn't able to fetch data, Try storing Cached data.

[2020-03-20 19:48] jeremyphilemon commented on #1
Fixed! Thank you for reporting!

[2020-03-20 19:48] #1 closed, assigned to nobody

[2020-03-21 02:52] tecoholic opened #2 "Set "Last Updated" to a time stamp instead of "hours ago""
Setting a relative timestamp on images will make the image irrelevant as time progresses. In the worst case, might lead to confusion. Better to use a timestamp instead of saying "2 hours ago".

[2020-03-21 08:56] triedcatched commented on #27
@s-naveen could you have a look into this?
Since you worked on the table sorting, it might be easier for you to shift it.

[2020-03-21 09:26] JunaidBabu commented on #21
Implemented here: https://github.com/covid19india/api

[2020-03-21 09:41] s-naveen commented on #27
Sure I'm on it.

[2020-03-21 10:48] akshitkr commented on #12
I'm on it.

[2020-03-21 11:33] sudevschiz commented on #25
@tecoholic Should we consider this in the data model?

[2020-03-21 11:51] suryaceg commented on #12
@akshitkr dude, can you ping me in Telegram?

@eyeofastorm

[2020-03-21 11:58] suryaceg commented on #12
This has been already done by another volunteer. Please do not work on it.

[2020-03-21 12:01] akshitkr commented on #12
@suryaceg alright great.

[2020-03-21 12:02] suryaceg commented on #12
If you want to work on UI. Let me know. We are building a new site altogether. You can contribute for that.

[2020-03-21 12:33] JunaidBabu commented on #27
Thanks @s-naveen for the prompt action.
Merged and closed!

[2020-03-21 13:56] tecoholic commented on #25
@sudevschiz Definitely. I will include it.

[2020-03-21 13:57] tecoholic commented on #25
@sudevschiz On second thoughts, is this data viable to collect?

[2020-03-21 15:03] odflix opened #3 "Site Shows up 0 Data"
Probably the google sheets has been kept privet, through which site isn't able to fetch data.
Add an alternative API, in case google sheets don't fetch data the API should provide.

[2020-03-21 16:25] triedcatched opened #4 "Add build insctruction to Readme"

[2020-03-21 16:50] jeremyphilemon commented on #3
Fixed!

[2020-03-21 16:50] #3 closed, assigned to nobody

[2020-03-22 10:28] namanmodani opened #8 "Add Weblinks"
Append logos that link to our **Twitter** (already present), **Instagram** and **Facebook** handle in order to make it easier for the social team to propagate news and infographics in the general public.

[2020-03-22 10:28] namanmodani opened #9 "Alter and append more figures onto the landing"
This suggestion is in terms of altering

to present it more holistically by talking of:

1. Tested
2. Active/Confirmed
3. Hospitalized
4. Recovered
5. States and UTs infected
6. Deaths

[2020-03-22 10:29] namanmodani opened #10 "Add Exponential Toggle on the Charts"
Append a mechanism to **view the difference** (and thereby, exponentiation in growth) in the number of cases in comparison to the day preceding the one over which the user hovers.

This presents a 'trend spread,' which makes the content more informative and useful.

[2020-03-22 10:35] sudevschiz commented on #33
The Twitter button currently on the website gives the user an option to tweet the live stats. The tweet also contains the twitter handle @covid19indiaorg.

Isn't this enough for twitter - and more engaging?

The new version will have links to instagram and twitter.

[2020-03-22 11:14] namanmodani commented on #33
Twitter's fine - do incorporate Instagram and FB though.

[2020-03-22 15:23] jeremyphilemon commented on #4
Done!

[2020-03-22 15:23] #4 closed, assigned to nobody

[2020-03-22 16:30] akshitkr commented on #12
alright sure

[2020-03-22 18:42] jeremyphilemon opened #12 "Support State Deltas"
Like given in the preview:

<p align="center">
<img width="574" alt="Screen Shot 2020-03-22 at 9 41 27 PM" src="https://user-images.githubusercontent.com/17938322/77257511-f8de7480-6c85-11ea-9f45-d81a87254dd1.png">
</p>

[2020-03-22 18:45] jeremyphilemon opened #13 "Support District Level Maps"
As shown in the preview:

<p align="center">
<img width="391" alt="Screen Shot 2020-03-22 at 9 44 12 PM" src="https://user-images.githubusercontent.com/17938322/77257577-4a86ff00-6c86-11ea-90a5-1fb37d271963.png">
</p>

[2020-03-23 04:01] danielsingh opened #15 "Feature Requests and Enhancements required"
a few suggestions:

- [ ] Home page has tons of free/empty space in the center and any possibility to make it in 1 Page and a bit tight and clean.
- [ ] Top Menu to be alternative colors so its more visible
- [ ] From Network Map page there is no navigation button to get back to home, it looks like we have moved to a diff site.
- [ ] Unable to export the zoomed in images of the cluster
- [ ] Pleas

[2020-03-23 04:32] Abijeet commented on #15
Thanks for the website. Its a very useful utility as is, but since you guys are actively working on improving it, here are a few more things to consider,

1. Unnecessary scrollbar on 1440x900, Firefox - ![image](https://user-images.githubusercontent.com/1685517/77280916-acc61b00-6ceb-11ea-8794-7da79eee1743.png) Whereas, on a larger resolution, there is lot of space in the center -
![image](https:/

[2020-03-23 08:15] Reddevilsab opened #19 "Social - Twitter, fb, insta button + scrolling banner"
We(Social team) need a scrolling banner on the top of the page which will contain factoids and Mythbusters. All content will be supplied by us. Please make that functionality and we shall give you the content. Much needed as so much fake news circulates in the media nowadays and we want to get out the facts to our 150,000+ Daily viewers.
Second - we need our social media pages to be pinned onto th

[2020-03-23 09:11] dakshshah96 commented on #19
Duplicate of #8

[2020-03-23 09:48] AdityaKhanna opened #21 "Adding support for localization using i18n"
As discussed, we need to add support for regional languages for the users to access the information. Finer details still need to be ironed out.

[2020-03-23 10:27] jeremyphilemon commented on #21
I think having a language selector would be a much better ux flow!

Here's a quick mockup I made to on how we can implement the language selection.
<p align="center">
<img width="422" alt="Screen Shot 2020-03-23 at 1 25 26 PM" src="https://user-images.githubusercontent.com/17938322/77307200-e574ed00-6d09-11ea-8dea-707ce8e7b2ef.png">
</p>

[2020-03-23 10:32] shaunmulark opened #23 "Guys we need a graph Total cases vs vs recovered ones"
Isn't the website already having this?
Can you provide more details?

[2020-03-23 10:37] shaunmulark opened #24 "Graphs required"
Guys we need much more visualisations
 #Every existing graphs must have a log scale.
1. Total cases vs vs recovered ones
2. Total cases vs deceased ones
3. Recovery rate vs Death Rate ( its going to be importannt in the coming time)
4. Most importantly we need a compare option with other countries; baseline being the first case reported/confirmed/deceased.

[2020-03-23 10:47] suryaceg opened #25 "Find a better placement for database & telegram links"
Database & telegram link take up precious first fold space. They can be simple icons in the top nav bar. Don't see a need for them to occupy so much space there.

![image](https://user-images.githubusercontent.com/840117/77308905-b5d1df00-6d21-11ea-853c-3af76c9e1967.png)

[2020-03-23 10:48] suryaceg opened #26 "State table title should be left aligned"
State wise table title should be left aligned & title style should be bigger.

[2020-03-23 10:48] shaunmulark opened #27 "Pulling more data"
If possible extract data from major affected cities
Be it Bergamo from Italy or Madrid from Spain or Tehran from Iran.
It'll be useful in extrapolation of our affected states separately.

[2020-03-23 10:49] suryaceg opened #28 "WHY ALL CAPS?"
Why everything in the website is in capital letters? Rethink the strategy.

[2020-03-23 10:50] suryaceg opened #29 "Font hierarchy is missing"
There is no font hierarchy. There is no difference between Title, Subhead, Paragraph & Fineprint text. Everything looks the same.

[2020-03-23 10:51] suryaceg opened #30 "Monotonous font usage"
Usage of single font is monotonous. Pair it with a secondary font for better readability & establishing importance for the data.

[2020-03-23 10:52] suryaceg opened #31 "Find a better term for "network map""
"Network map" sounds very computer technology related term. Doesn't sound medical. Try using "Cluster map" or "Case cluster" or "Case clusters" or simply "Clusters" etc.

[2020-03-23 10:54] suryaceg opened #32 "Daily delta needs to be near the delta graph"
Daily delta sitting on top the cumulative number doesn't make sense. It needs to be near the small delta charts with a legend

[+10 TODAY] something like this. Otherwise it's a very unintuitive data point. Many came to the group asking for what the number is in the past.

[2020-03-23 10:55] suryaceg opened #33 "The heading should say more in the "Map" section"
The heading says "Map" now doesn't say anything about the data you're about to see. It should be descriptive of the data shown below.

[2020-03-23 10:56] suryaceg opened #34 "The map numbers look clickable"
The map number backgrounds make it look like they are clickable while they are not. Make it look like a normal text data.

![image](https://user-images.githubusercontent.com/840117/77309652-0b5abb80-6d23-11ea-889e-cee73a19c630.png)

[2020-03-23 10:57] suryaceg opened #35 "In mobile it should say "tap" not "hover""
The map subtext should say "tap" or "click" the map rather than hover in mobile devices.

[2020-03-23 10:58] suryaceg opened #36 "The "Map" layout looks broken"
The map layout looks broken / out of place / not following a grid system. This needs to follow conventional layouts.

[2020-03-23 10:59] sanair96 commented on #14
Hey @selva-ts I think there's a few issues with the getSummaryData function.

[2020-03-23 11:02] suryaceg opened #37 "The charts & title are difficult to interpret"
Without a "Y axis" and related legends for the colours the charts look tough to interpret. The title "spread trends" are not very clear. Needs a different title.

![image](https://user-images.githubusercontent.com/840117/77310030-a2277800-6d23-11ea-94c2-b9f22a7fd6a1.png)

[2020-03-23 11:04] suryaceg opened #38 "Show "tested" data"
As we decided in Telegram the top KPIs should be,

1. Tested
2. Confirmed (showing active numbers like this)
3. Recovered
4. Deceased

![image](https://user-images.githubusercontent.com/840117/77310306-1f52ed00-6d24-11ea-83bc-8efa9bd42ba0.png)

[2020-03-23 11:05] suryaceg commented on #30
Archia & Inter work together well. Can be combined instead of one style.

![image](https://user-images.githubusercontent.com/840117/77310364-38f43480-6d24-11ea-948a-c152810d88fd.png)

[2020-03-23 11:13] kracekumar commented on #37
I'm no UI person.

<img width="580" alt="Screenshot 2020-03-23 at 4 27 18 PM" src="https://user-images.githubusercontent.com/311929/77310497-6f31b400-6d24-11ea-84fe-6764700b2c24.png">

In the first image, the graph has no x-axis, y-axis, no hover information. There is no interaction for the user, just an interpretation of the trend - `upward`, `even`, `downward`. If the intention is to show the tr

[2020-03-23 11:44] shuklaayush opened #39 "Error in percentage calculation for states"
As seen in the screenshot below, percentages are not calculated properly and are neither rounded off. Using current data, the result should have been 100 * 29 / 440 = 6.59%, instead of 7%.

![Screenshot from 2020-03-23 17-03-38](https://user-images.githubusercontent.com/27727946/77312597-4d3a3080-6d28-11ea-9fa1-bfba777bad24.png)

[2020-03-23 12:12] jeremyphilemon commented on #37
@kracekumar really appreciate the detailed issue description and the screenshots! Will address them!

- [x] More context to timeseries charts
- [ ] Tooltip for minigraphs

[2020-03-23 12:14] #39 closed, assigned to nobody

[2020-03-23 13:08] sanair96 commented on #14
Hey
Let's not close this. Instead you could change the date in the tweet to match the last updated date

[2020-03-23 13:10] selva-ts commented on #14
Actually we have some other merge issues. I have discussed with @jeremyphilemon and decided to close this and open a new PR.

[2020-03-23 13:31] selva-ts commented on #8
It seems Insta not allowing to share from another website. Also, we can include LinkedIn.

[2020-03-23 13:39] sanair96 commented on #14
Okay cool

[2020-03-23 19:20] shuklaayush opened #44 "Add a colourbar to the map"
A legend with a colour scale showing range of confirmed cases (in absolute numbers) would make it easier to interpret the map.

[2020-03-24 01:47] jeremyphilemon commented on #44
Done!

[2020-03-24 01:47] #44 closed, assigned to nobody

[2020-03-24 01:55] jeremyphilemon opened #46 "Firefox on Android, rendering issue"
Need to extend compatibility for Firefox
<p align="center">
<img src="https://user-images.githubusercontent.com/17938322/77380136-7344ec80-6d8b-11ea-8390-30a92d9d5c64.jpg" width="45%">
</p>

[2020-03-24 03:06] #46 closed, assigned to nobody

[2020-03-24 04:09] firofame commented on #33
![Screenshot 2020-03-24 at 9 38 33 AM](https://user-images.githubusercontent.com/11689383/77387390-4f959c80-6db3-11ea-83c4-e29744e4b453.png)

@suryaceg is this better?

[2020-03-24 04:45] manojVivek commented on #13
@jeremyphilemon Can you point me where we can get the district level topoJsons for India?

[2020-03-24 05:04] steffyjohn opened #48 "Map can show total cases in the form of markers"
On page loading, the map can show the total cases  per state in the form of markers/circles and on hover you can show its details.

[2020-03-24 05:41] #11 closed

[2020-03-24 05:47] JunaidBabu opened #49 "Auto deploy is not removing old files"
In gh-pages branch, old files are not removed with new commit.. increasing the number of files in the gh-pages repository

https://github.com/covid19india/covid19india-react/tree/gh-pages/static/js

[2020-03-24 05:53] Reddevilsab commented on #19
Does it have a mention of scrolling banner on the top of the page with
factoids?

On Mon 23 Mar, 2020, 2:42 PM Daksh Shah, <notifications@github.com> wrote:

[2020-03-24 06:09] JunaidBabu commented on #49
Resolved with 545cc5c99

[2020-03-24 06:09] #49 closed, assigned to nobody

[2020-03-24 06:20] shuklaayush opened #50 "Colorbar scheme is different from map colorscheme"
![a](https://user-images.githubusercontent.com/27727946/77395119-e455c580-6dc6-11ea-8e24-85046ebf979f.png)

[2020-03-24 06:43] steffyjohn commented on #33
**STATE-WISE STATUS** or **STATE-WISE STATISTICS**  would be good

[2020-03-24 06:46] jeremyphilemon commented on #13
https://github.com//guneetnarula/covid19-in @manojVivek this is a good place to start!

[2020-03-24 06:54] #50 closed, assigned to nobody

[2020-03-24 07:04] jeremyphilemon commented on #48
You mean showing the numbers on the states?

[2020-03-24 07:08] steffyjohn commented on #48
@jeremyphilemon  Yes showing number in the form of circle markers

[2020-03-24 07:13] sirajalam049 commented on #38
Is this just the design (and removing active and adding tested) change for the image below?

![image](https://user-images.githubusercontent.com/22110988/77398132-ec186880-6dcc-11ea-86e9-6f53636bb198.png)

[2020-03-24 07:17] jeremyphilemon commented on #2
Clarifying, which images are you talking about?

[2020-03-24 07:20] jeremyphilemon commented on #9
@JunaidBabu @sudevschiz Do we have numbers for hospitalized? Also how many figures do you think must be there on the landing?

[2020-03-24 07:23] jeremyphilemon commented on #19
@JunaidBabu @sudevschiz Thoughts on the banner?

[2020-03-24 07:26] jeremyphilemon commented on #38
Duplicate, please discuss over at #9

[2020-03-24 07:26] #38 closed, assigned to nobody

[2020-03-24 07:39] jeremyphilemon commented on #28
Very subjective. The uppercased type maintains consistency and is not used on body text at all. As far as type is concerned, we're using very minimal information and there aren't sentences of words to use Sentence Casing. However, might raise a poll to get a better opinion though, but closing this for now.

[2020-03-24 07:39] #28 closed, assigned to nobody

[2020-03-24 08:12] steffyjohn opened #52 "The TOTAL cases can be highlighted differently"
![COVID-19 Tracker   India](https://user-images.githubusercontent.com/45359124/77402167-42d57080-6dd4-11ea-9a12-8fc704ef3d27.png)

The TOTAL can be highlighted differently  rather than grouping along with the other states

[2020-03-24 08:17] suryaceg commented on #28
It's not subjective. It's science. All caps is best used sparingly.

Resources:
1. https://blog.prototypr.io/all-caps-on-ui-good-or-bad-2570f14dc457
2. https://uxmovement.com/content/all-caps-hard-for-users-to-read/
3. https://practicaltypography.com/all-caps.html

[2020-03-24 08:28] jeremyphilemon commented on #52
Patched!

[2020-03-24 08:28] #52 closed, assigned to nobody

[2020-03-24 08:38] triedcatched commented on #31
Better to change to "Cluster Map"

[2020-03-24 09:21] JunaidBabu commented on #15
Change to "Last updated xx minutes ago"

[2020-03-24 09:30] vivekuno opened #55 "More graphs will be helpful."
Hi @covid19india ,

As we have patient data with state, age, sex, mode of transmission.

Displaying it with graphs (can be simple bar graph) will bring more meaning out Covid-19 patient data base.

Like by Age upon date:-
![image](https://user-images.githubusercontent.com/4516272/77402437-acee1580-6dd4-11ea-9053-32c11e2394a7.png)

Gender count:-
![image](https://user-images.githubusercontent.com/4

[2020-03-24 10:14] andante-9 commented on #35
Will using regex work?
https://stackoverflow.com/questions/11381673/detecting-a-mobile-browser

[2020-03-24 11:14] steffyjohn opened #57 "Legend in the map and the data in the map seems different"
![COVID-19 Tracker   India -legend](https://user-images.githubusercontent.com/45359124/77419124-e717e100-6ded-11ea-9f0b-28fcf8d5e004.png)

The legend used  in the map for showing the  color  for corresponding data(Kerala) seems different as seen in the screenshot

[2020-03-24 11:23] maganuk opened #58 "Add daily change count in the table for each state"
Can we add daily change count in the table for each state?

[2020-03-24 11:23] ghost opened #59 "Set SCALE UNIFORMLY to false by Default"
My personal id is: https://github.com/vinay13091993
I have a suggestion.
Currently SCALE UNIFORMLY checkbox is set to **true** by default. Please make it **false** just for the sake of better user experience.

![image](https://user-images.githubusercontent.com/50363928/77420275-bdf85000-6def-11ea-8bd2-525b7277a9b1.png)

[2020-03-24 11:26] shuklaayush opened #60 "Y-axis of trends collides with the plotted line"
The path should not intersect with Y-axis. Number of ticks should be limited.

![Screenshot from 2020-03-24 16-46-14](https://user-images.githubusercontent.com/27727946/77419867-18dd7780-6def-11ea-8a34-fbc42007e6b2.png)

[2020-03-24 12:16] shuklaayush commented on #36
Can you elaborate?

[2020-03-24 12:18] shuklaayush commented on #59
Maybe change the text to 'Uniform Scaling' as well.

[2020-03-24 12:29] vivekuno commented on #55
Just saw this site https://againstcovid19.com/singapore/dashboard
Exactly the requirement. The template is very similar can you reuse the code ??

[2020-03-24 12:31] jeremyphilemon commented on #58
Duplicate of #12

[2020-03-24 12:31] #58 closed, assigned to nobody

[2020-03-24 13:00] maganuk commented on #12
@jeremyphilemon since the statewise data is coming directly from the google sheet I think you need to build in a formula for the daily change in the sheet itself. Is the sheet publicly available? I can make the changes and also do the react bit.

[2020-03-24 13:24] jeremyphilemon commented on #12
@maganuk so we were planning on using the `time_series_cases` fetched from http://api.covid19india.org/data.json and implement an helper function in the client side to calculate and format it to support statewide deltas meanwhile. If you'd like to add that in the api itself, you can prolly look at https://github.com/covid19india/api

[2020-03-24 13:35] jeremyphilemon commented on #35
Fixed in patch #62

[2020-03-24 13:35] #35 closed, assigned to nobody

[2020-03-24 13:36] jeremyphilemon commented on #57
@shuklaayush hey can you look at this?

[2020-03-24 14:10] sudevschiz commented on #2
Probably about this
![image](https://user-images.githubusercontent.com/4298868/77434660-8c4dac00-6e24-11ea-9964-9357e18f98bc.png)

I agree with @tecoholic , but @triedcatched didn't wanted to do the calculation in his mind about how far in the past is the timestamp :P
But I vote for timestamp with timezone (IST) be present because people are sharing the home screen's screenshot in Whatsapp as stat

[2020-03-24 14:45] JunaidBabu commented on #2
debatable... maybe run a poll in the ops group and decide

[2020-03-24 14:47] JunaidBabu commented on #59
design choice! won't fix.

different scales will give the wrong idea to users.

[2020-03-24 14:47] #59 closed, assigned to nobody

[2020-03-24 15:05] JunaidBabu opened #64 "District wise map"
District wise data is available using the below APIs

https://api.covid19india.org/state_district_wise.json

There can be a toggle switch above the map to switch between state-wise and district-wise map

Sample: https://fieldmaps.in/covid19/

[2020-03-24 15:11] sudevschiz commented on #57
@steffyjohn Seems fine for me. Can you elaborate?

[2020-03-24 15:20] sudevschiz commented on #48
We will stick to choropleth. Closing.

Thanks for the comment @steffyjohn

[2020-03-24 15:20] #48 closed, assigned to nobody

[2020-03-24 15:28] #60 closed, assigned to nobody

[2020-03-24 15:35] JunaidBabu commented on #34
Not an issue.

[2020-03-24 15:35] #34 closed, assigned to nobody

[2020-03-24 15:35] jeremyphilemon commented on #33
Fixed!

[2020-03-24 15:35] #33 closed, assigned to nobody

[2020-03-24 15:40] JunaidBabu commented on #31
fixed 876b0e409fa570

[2020-03-24 15:40] #31 closed, assigned to nobody

[2020-03-24 15:44] sudevschiz commented on #29
Similar to #30

[2020-03-24 15:44] #29 closed, assigned to nobody

[2020-03-24 15:46] #26 closed, assigned to nobody

[2020-03-24 15:50] sudevschiz commented on #24
1. Is already available.
2. Available
3. Percentage could be an addition
4. This is out of our scope. We can't focus on getting data about other countries etc.

[2020-03-24 15:50] #24 closed, assigned to nobody

[2020-03-24 16:07] JunaidBabu commented on #64
Duplicate of #13
Closing

[2020-03-24 16:07] #64 closed, assigned to nobody

[2020-03-24 16:08] sudevschiz commented on #15
@JunaidBabu There is an another issue that timestamp should be absolute. Let's change to that because screenshots of the website is being shared in Whatsapp etc. and an absolute timestamp would be better in that case.

"24 March 2020 10:43 PM IST"
What do you think?

[2020-03-24 16:12] JunaidBabu commented on #13
https://api.covid19india.org/state_district_wise.json can be used to fetch the data.

@manojVivek thanks for this!

[2020-03-24 16:15] sudevschiz commented on #15
@sibeshkar  Could you have a look at the suggestions regarding the cluster map

[2020-03-24 16:29] sudevschiz commented on #9
@jeremyphilemon We don't have that number of hospitalized from all states, yet. Let me pass it on to the data_ops team if they can collect this information.
Number of tests is actually an important information to the shown and we already have this data.

This is available in `"tested"` field in https://api.covid19india.org/data.json

[2020-03-24 16:35] sudevschiz commented on #27
This will be a nice analysis based on our data. Could you work on this? Would love to feature this on our website.

[2020-03-24 16:46] JunaidBabu commented on #25
I think this was already done @jeremyphilemon ?

[2020-03-24 16:48] JunaidBabu opened #65 "Fix links like https://www.covid19india.org/faqs"
Links do not work when they are opened directly. Need to design a better way of routing.

Maybe something like
https://www.covid19india.org/?faqs or https://www.covid19india.org/?page=faqs etc

[2020-03-24 17:00] Goutham88 commented on #13
Can I take this or someone is working on this?
@jeremyphilemon

[2020-03-24 17:09] shuklaayush commented on #57
I think the issue is that the state colours are assigned directly from a continuous colour space, while the legend is a sampled version of the colour space. Hence, there's the possibility of a mismatch. We can either switch to a continuous legend, or assign colours from the sampled colour space. Any thoughts?

[2020-03-24 17:37] Abiram-N commented on #65
exact path need to be removed in other routes

![Annotation](https://user-images.githubusercontent.com/42763936/77458485-42fd5c80-6e24-11ea-9ec8-87239dd1564f.jpg)

[2020-03-24 17:41] manojVivek commented on #13
I'm working on this.

[2020-03-24 17:44] sachinksalim opened #66 "Include state-wise data of number of tests done; how many negative, pending"
**Problem statement**
It would be great if we could know how many tests are conducted and how many of those are positive-negative-pending.

**Details**
As of March 24, Kerala and Maharashtra are leading quite ahead of other states in positive cases. But these numbers don't speak truth since Kerala is way ahead of other states in terms of number of people tested. So to get a clearer picture, we cou

[2020-03-24 18:00] akumars0 commented on #13
@manojVivek i can help with any QA support you might need

[2020-03-24 18:04] akshaykiran opened #67 "Need a pie chart showing nationalities of the confirmed cases"
![Screenshot_20200324-234233__01](https://user-images.githubusercontent.com/62459144/77462048-84443b00-6e29-11ea-99f1-347e97d49416.jpg)
Something like this, maybe

[2020-03-24 18:18] bh22mi opened #68 "Overlapissue in cluster tab"
![Screenshot_20200324_234557](https://user-images.githubusercontent.com/38246549/77462276-ec931c80-6e29-11ea-8d99-cdc07fac51c0.jpg)

[2020-03-24 18:24] bh22mi opened #69 "No data in patient db. As well tabs are not working."
![Screenshot_20200324_235222](https://user-images.githubusercontent.com/38246549/77462829-ac806980-6e2a-11ea-857b-c53ae1d36032.jpg)

Device - vivo v9
Browser - Uc browser

[2020-03-24 18:42] Goutham88 commented on #66
Yeah that would be great to add.
But do we have the data?

[2020-03-24 18:55] skandtandon opened #70 "Colour code of map"
Kinda personal but the color code for the states with 0 cases should be white cause sometime the eastern states looks like they are effected.

[2020-03-24 19:09] sirajalam049 commented on #65
Handling at server-side needed. It is very common problem in SPAs.

https://stackoverflow.com/questions/27928372/react-router-urls-dont-work-when-refreshing-or-writing-manually

[2020-03-24 19:13] sirajalam049 commented on #65
No @Abiram-N no, this isn't exact path problem.

[2020-03-24 19:34] SahajR commented on #65
Yup. Some static deployment services like Netlify and Zeit allow this via an extra file for configuration.
Netlify has the `_redirects` file and zeit uses [this](https://zeit.co/docs/configuration#project/routes)

[2020-03-24 19:35] SahajR commented on #65
Why not move the deployment to Netlify? A CD can be setup from their service dashboard

[2020-03-24 19:41] caffeinatedHuman commented on #8
Adding `LinkedIn` doesn't make sense to me.

[2020-03-25 00:44] JunaidBabu commented on #66
@sudevschiz we need to keep statewise test stats. Current test data in the APIs doesn't have any useful information

[2020-03-25 01:13] sudevschiz commented on #19
@jeremyphilemon Closed the issue for Social Media icons. We will add them later.
But the scrolling banner with Factoids is necessary now I think. Social team has already created this.

Reusing this issue for that work.

@JunaidBabu , created an issue for that in API https://github.com/covid19india/api/issues/4

[2020-03-25 02:29] JunaidBabu commented on #69
Javascript is disabled?

[2020-03-25 04:03] jaymovaliya opened #73 "Change flexbox spacing between the child divs of the Home component"
There is no space between "INDIA COVID-19 TRACKER" and "STATISTICS BY STATE" titled div in laptop view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.covid19india.org'

**Expected behavior**
There should be space between above mentioned two divs

**Screenshots**

![covid19bug](https://user-images.githubusercontent.com/22033842/77500197-5b986180-6e7a-11ea-9b1f-87baff0d6546

[2020-03-25 04:13] amita-kapoor opened #75 "Provide the data in CSV files for predictive analysis"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-25 04:19] amita-kapoor commented on #75
It would be good if you can add the Google sheets as csv files as well. Also if symptoms can be collected. This will help in predictive analysis.

[2020-03-25 04:35] shuklaayush opened #76 "Replace FAQs with FAQ"
Plural is implicit in the acronym FAQ. The heading as well as the links would need to be changed.

[2020-03-25 04:48] Sumanta9x9 opened #77 "Can you highlight the state wise increase of patients?"

[2020-03-25 05:17] kdqed opened #78 "PWA | Add to Home Screen Support"
Can we include Add to Home Screen support for Chrome on Android?

Just went through the public folder on the source code and realized we need to a service worker script and include bigger icons in the manifest.

[2020-03-25 05:21] shuklaayush commented on #77
Duplicate. Refer to #12.

[2020-03-25 05:37] #65 closed, assigned to jeremyphilemon

[2020-03-25 05:50] DivyaLekha opened #79 "Is there any option to download the network?"
Thanks for the great job!

Is there any option to download the networks/graphs?  (may be as a CSV or any other graph format like gml) It would have been extremely useful for analysts.

[2020-03-25 05:55] JunaidBabu commented on #13
@manojVivek any updates on this?

[2020-03-25 05:58] anjannath commented on #66
Yes +1 we need state-wise and in total number of tests conducted, ICMR publishes total number of test conducted count in a pdf though :(

[2020-03-25 05:58] zeffirara commented on #19
Scrolling banners are hard to read. A carousel style banner with text that keeps changing after a fixed interval would be better I think.

[2020-03-25 06:01] turbanpride commented on #67
I'll do it . There is only one problem,as of now there is no data in JSON for the pie chart from the API service . We need data w.r.t countries. The format of data required for the graph  is attached in below text file.
[pieChart.txt](https://github.com/covid19india/covid19india-react/files/4379265/pieChart.txt)

[2020-03-25 06:06] turbanpride commented on #79
Is PDF or excel format download okey? I can contribute for that if its okey.

[2020-03-25 06:08] manojVivek commented on #13
@JunaidBabu Making progress, will raise a PR by today evening.

[2020-03-25 06:13] jkandasa commented on #12
@jeremyphilemon  I do not see any state reference in `cases_time_series`. You can not do with this data. Needs to update in API `data.json`

[2020-03-25 06:16] kracekumar opened #80 "Statewise trend graph"
**Is your feature request related to a problem? Please describe.**

Now that half the states /UTs(13) have double-digit cases, it may be better time to add statewide trends in `SPREAD TRENDS` as cases are doubling every day in few states.

**Describe the solution you'd like**
A user can select the state from the list of states, the trend can be displayed rather than having a single map for each st

[2020-03-25 06:16] zeffirara opened #81 "City cluster view not working"
**Describe the bug**
The city cluster view isn't working due to, I assume, the city Kasaragod added in both the Kerala state map as well as the Karnataka state map that appears in the logs. It's probably broken from [this data update](https://github.com/covid19india/api/commit/be26d953ed681e9a485beb00535f84b265eff399#diff-02a4c04ac53f38622fff9f5b603eb934R474) which incorrectly marked an unknown ci

[2020-03-25 06:18] turbanpride opened #82 "Hovering out of states in map doesn't change data for that top left panel."
Clearly, when we hover over a state in the map, the respective data is shown at the top left panel. But on hovering out of the state doesnt revert back the data in the top left panel to total.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover to any state in the map.
2. Check the changes on the top left panel of map component which shows data of hovered state.
3. Hover out of the state a

[2020-03-25 06:19] manojVivek commented on #13
@jeremyphilemon @JunaidBabu Just realized, I didn't see the attached screenshot in this issue and took a different approach UX wise. Please check the screencast below and let me know.
 Screencast:
 ![Screen Recording 2020-03-25 at 11 42 30 AM 2020-03-25 11_49_09](https://user-images.githubusercontent.com/1283424/77507558-aae88d00-6e8e-11ea-8748-6a0bdb4341cc.gif)

[2020-03-25 06:22] sangamesh1439 commented on #82
looking into the issue.

[2020-03-25 06:29] DivyaLekha commented on #79
Excel format will be good. Thank you!

[2020-03-25 06:31] turbanpride commented on #82
I have solved the issue. commiting it now

[2020-03-25 06:36] JunaidBabu commented on #13
@manojVivek

This is awesome.. if you have this one production ready, please submit PR.

We can also do the initial plan alongside; to have a toggle button to see the whole picture district-wise

What's the plan to display unknown cases?
How big is the geojson for districts?

[2020-03-25 06:42] sangamesh1439 commented on #82
@turbanpride : I have also resolved. https://github.com/covid19india/covid19india-react/pull/83

Sorry for duplicate work .

[2020-03-25 06:46] sangamesh1439 commented on #21
Do we really need localisation support ?

[2020-03-25 07:02] manojVivek commented on #13
@JunaidBabu The geojson size ranges from 50KB to 900KB non-gzipped.

Shall I raise a PR with few states missing(I'm filing in the geoData state by state)?
So that someone else can do the implementation of initial plan in parallel?

[2020-03-25 07:04] turbanpride commented on #79
I have been working on the similar dashboards since 2.5 years. And its advised to download the webpage in pdf or ppt format to maintain the alignment of the webpage . Will try that as of now

[2020-03-25 07:22] sangamesh1439 commented on #78
@kdnanmaga : I am able to add to home screen in android. Please find below screenshot.
![Screenshot_20200325-001907_Chrome](https://user-images.githubusercontent.com/12668386/77511565-91aff400-6e2e-11ea-94a9-9c56cf188bca.jpg)

[2020-03-25 07:26] shuklaayush commented on #82
I think resetting to state 1 doesn't make sense. Maybe have a total count by default. Thoughts?

[2020-03-25 07:26] sangamesh1439 commented on #67
@turbanpride : We can make use of https://api.covid19india.org/raw_data.json api to get all data. This data set has nationality field. What do you think ?

[2020-03-25 07:28] turbanpride commented on #80
We can use the bar charts in place of `SPREAD TREADS` and we can sort them in descending order. Also once we click the state, we can change it.

[2020-03-25 07:29] arushibhat opened #87 "Calendar overlap in clusters"
**Describe the bug**
Calendar is blocking the view of clusters.(it comes on bottom right corner and stays there throughout)
The dates do not have any functionality, i tried clicking them.
Can we fix this.

**To Reproduce**

**Expected behavior**
Dates do not serve any purpose, either we add functionality to it or we just drop it.

**Screenshots**

**Desktop (please complete the following informati

[2020-03-25 07:30] arushibhat commented on #87
![cluster_issue](https://user-images.githubusercontent.com/52503268/77512204-8beef880-6e98-11ea-821b-9687bce79f6e.PNG)

[2020-03-25 07:33] turbanpride commented on #82
Well we already have an object containing total values. We just need to check for that object in mouseout handler and set the state as per that. That's what my solution was. I have shared the handler below

`const handleMouseout = (name) => {
    states.map((state, index) => {
      if (state.state.toLowerCase()==="total") {
        setState(state);
        setIndex(index);
      }
    });`

[2020-03-25 07:37] turbanpride commented on #23
We can have a `bar chart` to show this data. It can easily show total data along with recovered cases. Check the screenshot which i have attached below. :)
<img width="576" alt="2VT41" src="https://user-images.githubusercontent.com/36756462/77512692-8e9e1d80-6e99-11ea-8b9e-ccfbb1f86181.png">

[2020-03-25 07:39] JunaidBabu commented on #13
Yes please

[2020-03-25 07:41] turbanpride commented on #67
we can use that data for sure, but before using this data for plotting, we need to consolidate data or group it with countries so that we can sort it accordingly. :D

Also we need to make sure where we need to keep the graph. Alignment should be good at look.

[2020-03-25 07:45] jeremyphilemon commented on #57
@shuklaayush You're right, the colors on the map are based on a scaling factor, I think it'd be appropriate if the legend used the same too!

Let me know if you'd like me to assign you for this fix!

[2020-03-25 07:50] #70 closed, assigned to nobody

[2020-03-25 08:02] sangamesh1439 commented on #67
Ok, I will start working on it.

[2020-03-25 08:05] sangamesh1439 commented on #82
When app loads for first time, we are setting default state as state 1. API returns state list in decreasing order (More counts will be first state) .On MouserEnter we are changing state and onMouseLeave we should revert it. Thats why I am setting it to state 1. Please run the code and check the user expirence. Its looking good.

[2020-03-25 08:06] kdqed commented on #78
Yes, but new users are not getting an automatic prompt to do so when they visit the site.

[2020-03-25 08:10] sangamesh1439 commented on #78
Boss, requirement about having a "prompt" is not where mentioned in your issue description. Manually still we can do. Do you suggest a feature to show prompt ?

[2020-03-25 08:20] manojVivek commented on #13
PR #88

[2020-03-25 08:36] kdqed commented on #78
According to PWA specification the prompt should appear automatically without us manually having to do it. I'm suggesting we implement that.

[2020-03-25 08:59] shuklaayush commented on #57
@jeremyphilemon The legend is already scaled as well. I think the issue is rather that the legend is a fixed set of 6 coloured blocks instead of a continuous scale. Right now, the fixed colour is the colour of the lower bound of the range.

What do you think about this?

![Screenshot from 2020-03-25 14-26-34](https://user-images.githubusercontent.com/27727946/77518980-afb83b80-6ea4-11ea-9e40-7cf40

[2020-03-25 09:04] arushibhat commented on #82
It might not be useful for the user to see the data getting reset to some state he's not intending to look at. As a use case i was thinking users can click state after state to compare the data for their own use case. it'll be difficult for the user to comprehend why the data is getting reset to some unkown state.
Thoughts...

[2020-03-25 09:09] arushibhat opened #89 "Create a patient wise recovery chart"
**Is your feature request related to a problem? Please describe.**
This is a feature request.

**Describe the solution you'd like**
The idea is to reduce panic by showing the recovery rate go up as more people complete the quarantine duration. We can pick it up in a day or two.
Data wise we might have to update all patient data we are using for Clusters. It'll be our way of promoting social distan

[2020-03-25 09:09] sangamesh1439 commented on #82
In my opinion, first state has more number of corona counts. Thats why I was thinking to select that on mouseLeave . Let me know what exactly needs to do. I will do changes as required.

[2020-03-25 09:15] arushibhat commented on #82
I understand.
Can we add a state compare feature instead of single state select. That way we can keep the default state as the most cases one and add your(user) state.
what do you think?
I am just thinking what users might be interested to know.

[2020-03-25 09:15] suryaceg opened #90 "Change the map view stats layout in desktop & mobile"
Push the stats on top like this.

![image](https://user-images.githubusercontent.com/840117/77520551-5f8ea880-6ea7-11ea-82cf-52bd3f66a8ed.png)

![image](https://user-images.githubusercontent.com/840117/77520477-47b72480-6ea7-11ea-9ad1-29e1d9167826.png)

[2020-03-25 09:17] eeshwarg opened #91 "The 'clusters' tab doesn't look highlighted when selected"
**Describe the bug**
The home, helpful links and FAQ tabs are highlighted when selected. But the clusters tab is not highlighted when selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.covid19india.org/'
2. Observe that the home tab is highlighted
3. Click on 'CLUSTERS'
4. Notice that the clusters tab isn't highlighted though it's the currently open tab

**Expected

[2020-03-25 09:20] sangamesh1439 commented on #82
we should not do that, There is another PR which supports district level map analysis when user clicks on state.

[2020-03-25 09:23] #36 closed, assigned to nobody

[2020-03-25 09:23] suryaceg commented on #36
Duplicate of #90

[2020-03-25 09:24] turbanpride commented on #82
I am not in a favour to highlight area with max cases because people should
see total cases as a default. And then they have the option to check per
region.

On Wed, 25 Mar 2020, 2:50 pm sangamesh1439, <notifications@github.com>
wrote:

[2020-03-25 09:40] srikanth009 opened #94 "Please change and update the currentstatus column in the api link"
The currentstatus column has to be updated for recovered cases regularly in the api json file for given link below. This quite essential for data analytics, since the rate of recovery and the rate of infection would determine on how much time would a quarantine be required.
The api link described above being:
https://api.covid19india.org/raw_data.json

[2020-03-25 09:43] sangamesh1439 commented on #82
we already have option to show total cases.

[2020-03-25 09:44] turbanpride commented on #82
Where?

On Wed, 25 Mar 2020, 3:14 pm sangamesh1439, <notifications@github.com>
wrote:

[2020-03-25 09:45] sangamesh1439 commented on #82
![Screenshot 2020-03-25 at 2 45 03 AM](https://user-images.githubusercontent.com/12668386/77523244-af875400-6e42-11ea-9a36-023789606439.png)

[2020-03-25 09:47] turbanpride commented on #82
Then for the first time rendering we are showing redundant data.

On Wed, 25 Mar 2020, 3:15 pm sangamesh1439, <notifications@github.com>
wrote:

[2020-03-25 09:50] sangamesh1439 commented on #82
Boss, read all comments since morning. 2 times I explained. When app loads for first time, we are setting default state as state 1. API returns state list in decreasing order (More counts will be first state) .On MouserEnter we are changing state and onMouseLeave we should revert it. Thats why I am setting it to state 1. Please run the code and check the user expirence. Its looking good.

[2020-03-25 09:58] turbanpride commented on #82
To be very honest, i have been working on real time dashboards since 2.5 years. If ur showing highest cases by default, then u need to highlight the respective region. Else show total. Because ur not doing justice with the map component. This is not how functionalilty should work. After first render whever user hovers over any  region it gets highlighted and on hovering ur removing the highlight s

[2020-03-25 10:04] sirajalam049 commented on #90
Done in
https://github.com/covid19india/covid19india-react/pull/92#issue-393477338
Commit: 7e5637a36d8748f0da49feb6a86f4243db28f0d1

[2020-03-25 10:07] sirajalam049 commented on #91
Fixed in
https://github.com/covid19india/covid19india-react/pull/92#issue-393477338
Commit: 8de3d90f899ed97cf8e355f9f03f22804d1e45de

[2020-03-25 10:14] akshaykiran commented on #94
Wrong repo. please raise issue in https://github.com/covid19india/api

[2020-03-25 10:15] suryaceg commented on #90
@sirajalam049 Cool. When it will be pushed to live?

[2020-03-25 10:21] sirajalam049 commented on #90
IDK, I have made PR, and also posted in the group. It might be done within a day I guess.

[2020-03-25 10:25] sirajalam049 commented on #89
IDK if I understood you correctly. But I guess this is what you want.

![image](https://user-images.githubusercontent.com/22110988/77526559-cf556100-6eb0-11ea-8035-e2bc184cdc8c.png)

[2020-03-25 10:28] ankit-ankuagrawal opened #96 "Android App for Covid19India"
GitHub link for the code https://github.com/ankit-ankuagrawal/covid19india

Currently on opening app the website is open.

Here is the link to the app https://drive.google.com/file/d/158_09xrTnNG_QJGoYgNJIMbuprUjG0oy/view?usp=sharing

[2020-03-25 10:30] sirajalam049 commented on #87
It would be great to have a show/hide button for the calendar when a user is focussing on the graph after selecting a date, then keeping the calender there doesn't make much sense. And making the calendar opaque coloured also improve the UX while browsing calender.

As overlapping of the graph with the calendar is totally upon the user, that how much zoom he/she has in the graph. So the best solut

[2020-03-25 10:41] anuragjain commented on #12
@jkandasa There is a key named "statewise" in the api [https://api.covid19india.org/data.json](https://api.covid19india.org/data.json) which can be used. However to determine delta, you'll need data for previous day as well. For that an api change might be required.

[2020-03-25 10:47] sumitmckv commented on #12
@anuragjain @jeremyphilemon @jkandasa  created PR for api change
https://github.com/covid19india/api/pull/8

[2020-03-25 10:48] omshivaprakash opened #98 "Localization for the app"
Is there any plan to allow localization? We can get the po files translated quickly to different languages.

[2020-03-25 10:49] ThePiyushGupta commented on #96
I think that creating an app in expo would be much easier as the project is based on react

[2020-03-25 10:58] ankit-ankuagrawal commented on #96
@ThePiyushGupta, in the app opening website of covid19india. Though we will be restricted to android devices if we go by my approach.

What you suggest?

[2020-03-25 11:21] ssadev opened #99 "npm i error"
sk@sk-desktop:~/Desktop/react/covid19india-react$ npm i
loadDep:vx -> 304         / |#############--------------------------------------------------|
WARN engine @testing-library/jest-dom@5.1.1: wanted: {"node":">=8","npm":">=6","yarn":">=1"} (loadDep:vx -> get         - |#############--------------------------------------------------|
WARN engine @testing-library/react@10.0.1: wanted: {"node":">=

[2020-03-25 11:35] ssadev commented on #99
After updating node by `sudo npm install -g n && sudo n latest ` this error got fixed

[2020-03-25 11:35] #99 closed, assigned to nobody

[2020-03-25 12:04] sauravpratihar commented on #21
Instead of all region languages I think we have to include Hindi as for now.
Suggestion?

[2020-03-25 12:47] AdityaKhanna commented on #21
@sangamesh1439 it's been marked as `low priority` - that should answer your question about whether it's needed.

@sauravpratihar - the framework to add support for different languages stays the same - once it has been done for any one other language, it can be easily scaled for other languages. We can start with Hindi as the first language. But other languages would need to follow up soon

[2020-03-25 12:49] AdityaKhanna commented on #98
Duplicate of #21

[2020-03-25 12:49] sauravpratihar commented on #27
@shaunmulark do you have any UI/UX in mind for this?

[2020-03-25 12:59] vrajeshkanna commented on #96
@ThePiyushGupta @ankit-ankuagrawal Why do we need an app? As per #78, we can make it as a PWA. It works as good as an app

[2020-03-25 13:03] nachiketbhuta commented on #96
I think PWA will be a better idea

[2020-03-25 13:05] sudevschiz opened #100 "Delta numbers on the graphs are confusing"
**Describe the bug**
Delta values on the graph are the incremental from the previous day.
When the site is loaded, it shows the incremental change from day before yesterday. That would be confusing for the user.
![image](https://user-images.githubusercontent.com/4298868/77538766-9b476380-6ee3-11ea-8daa-cecd547d4693.png)

**To Reproduce**
Current website

**Expected behavior**
Not delta numbers sho

[2020-03-25 13:09] vrajeshkanna commented on #81
Fixed as part of https://github.com/someshkar/covid19india-network/pull/54

[2020-03-25 13:13] #94 closed, assigned to nobody

[2020-03-25 13:30] shahrk opened #101 "Page won't load when directly entering the page URL instead of main URL"
**Describe the bug**
If you enter the URL of a sub-page eg: [clusters page](https://www.covid19india.org/clusters), it won't load.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.covid19india.org/clusters'
2. The page won't load

**Expected behavior**
The expected page should load

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: chrom

[2020-03-25 13:33] shahrk commented on #100
Doesn't seem like a bug to me. It's showing latest added cases.

[2020-03-25 13:36] ayusun opened #102 "Push notification for new cases, with a state level filter"
**Is your feature request related to a problem? Please describe.**
Rather than manually looking at dashboard. We can have web app push notification for new cases

**Describe the solution you'd like**
A service worker listening to patients. When there is a change in response from the server, then check if the user should be notified (based on the local storage). If yes, then notify

**Describe alte

[2020-03-25 13:36] kdqed commented on #96
Once we have PWA we can get an apk and publish on Play Store by converting to TWA:

[Reference](https://css-tricks.com/how-to-get-a-progressive-web-app-into-the-google-play-store/)

[2020-03-25 13:44] Shaleengovil25 opened #104 "Delhi is not available for hover in country map"
**Describe the bug**
Capital Delhi cases must be available in the hover country Map too, But it can only be seen in Table.

**Expected behavior**
Delhi should me availible for hover.

**Desktop (please complete the following information):**
 - OS: win 8
 - Browser [chrome ]
 - Version [80]

[2020-03-25 14:00] gs-nkumar commented on #104
<img width="847" alt="Resize_and_crop_photos__images_and_pictures_online" src="https://user-images.githubusercontent.com/17634822/77544373-eefb8200-6ece-11ea-9276-4a230ec181c5.png">
This is not a bug. you need to point it to exact co-ordinates.

[2020-03-25 14:06] shuklaayush commented on #104
Kindly close.

[2020-03-25 14:09] shuklaayush commented on #101
It is loading for me. Can you check again and confirm?

[2020-03-25 14:11] rohit-gohri commented on #23
I think what they mean is a biaxial chart: eg. http://recharts.org/en-US/examples/BiaxialBarChart

[2020-03-25 14:23] anuragjain opened #105 "Add support in cluster to filter data based on state and city"
**Is your feature request related to a problem? Please describe.**
Its difficult to analyze cluster data as in general you want to know the trend in a city or state and see the cluster effect in that region, however right now the only way is to navigate the view which is not ideal

**Describe the solution you'd like**
Put a filter of state and city right below the patient filter

**Describe altern

[2020-03-25 14:24] arushibhat commented on #87
as of now the calendar does not serve any purpose, i was thinking it'd be simpler to just remove.
Let me know if I am missing something.

[2020-03-25 14:30] arushibhat opened #106 "Create a total tested vs positive graph"
**Is your feature request related to a problem? Please describe.**
feature request

**Describe the solution you'd like**
We can add one graph for total people being tested vs total positive cases.

**Describe alternatives you've considered**
The data can be extracted from https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd

[2020-03-25 14:36] rito-rapido commented on #101
Opens for me as well.

[2020-03-25 14:39] Shivam60 commented on #106
hey i am interested to do this. What kind of a graph are we looking for ?

[2020-03-25 14:46] Shaleengovil25 commented on #104
I overlooked it due to the same color density.
Thanks for telling.
sorry for your time.

[2020-03-25 14:46] #104 closed, assigned to nobody

[2020-03-25 14:47] rito-rapido commented on #105
![image](https://user-images.githubusercontent.com/61823881/77549391-c7f47e80-6ed5-11ea-9e79-77e94680c907.png)

Do we not already have this, or am I missing something ?

[2020-03-25 14:51] anuragjain commented on #105
There is no feature to search the state or city like we have for patient number.
Finding a city across so many points in the graph is the only way to see it which is not practical given hundreds of cities are there.

[2020-03-25 14:53] rito-rapido commented on #105
@anuragjain Makes sense. Will start working on this.

[2020-03-25 14:58] anuragjain commented on #106
We can have two graphs, one showing tested and positive lines in the same graph.
The other could be conversion rate graph showcasing percentage. In the long run, the conversion percentage should decrease and that is the trend to be analyzed.
Thoughts?

[2020-03-25 15:13] arshakanjum opened #107 "Padding issue in Statistics by State"
**Describe the bug**
The padding below Statistics by state seems too less

**To Reproduce**
Steps to reproduce the behavior:
1. Go to covid19india.org

**Expected behavior**
The padding should be same as below India Covid-19 Tracker

**Screenshots**
![image](https://user-images.githubusercontent.com/29006503/77552195-3d158300-6ed9-11ea-9f51-06a75170c13f.png)

**Desktop (please complete the followi

[2020-03-25 15:20] harshzalavadiya commented on #21
Can I take this issue?

I have created a very quick demo for showing translation setup using `react-i18next`
https://covid19india-react-three.now.sh/

* as of now it's only translating single key I'll add other keys and submit PR

also is this project using any sort of formatter/linter because I have seen many unused imports, will it be okay if I cleanup imports and add prettier?

**Update**: It's

[2020-03-25 15:34] namanambavi opened #109 "Website seems down. Can't access it"

[2020-03-25 15:35] s-naveen opened #110 "Need to show recent cases added in home page."

[2020-03-25 15:36] s-naveen opened #111 "Need to show somewhere new cases for the day for each state."
Since there's no space in table maybe we can show on hover?

[2020-03-25 15:45] remigiusv opened #112 "Mobile doesn't load the page"
A momental animation comes and fade away and screen is blank after. Tested with many browsers

[2020-03-25 15:51] jeremyphilemon commented on #112
Back up! Thanks for reporting!

[2020-03-25 15:51] #112 closed, assigned to nobody

[2020-03-25 15:52] jeremyphilemon commented on #109
Back up, thanks for reporting!

[2020-03-25 15:52] #109 closed, assigned to nobody

[2020-03-25 15:52] vidukapoor commented on #109
some Invalid date issue is there, due to backend code change, its been fixed now.
https://github.com/covid19india/api/commit/0e3d6024cd891828c83264a6c09423f13ff5b5ff

[2020-03-25 16:04] vidukapoor commented on #109
hi @jeremyphilemon raised https://github.com/covid19india/covid19india-react/pull/114 for stopping future crashes.

[2020-03-25 16:07] skandtandon commented on #69
db is up and tabs are working might be an issue at your end

[2020-03-25 16:33] Shivam60 commented on #106
yeah makes sense, quick question we are planning on getting the data from https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml# right

https://api.covid19india.org/data.json
i guess this is it `	"tested": [
		{
			"source": "Press_Release_ICMR_13March2020.pdf",
			"totalindividualstested": "5900",
			"totalpositivec

[2020-03-25 16:46] Shivam60 commented on #106
and where are we planning to show this graph ?

[2020-03-25 16:58] jeremyphilemon commented on #19
@kapiljain-128 your wish has been fulfilled! 😌

[2020-03-25 16:58] #19 closed, assigned to nobody

[2020-03-25 17:14] nischalsamji opened #117 "Show percentage of cases on the main page"
Show % of statistics in the main page.
Mock

![image](https://user-images.githubusercontent.com/887091/77565354-1ad83100-6eea-11ea-80c8-a37a31403e95.png)

[2020-03-25 17:15] arushibhat commented on #106
Thanks shivam.
we can show it on the first page alongside the graphs for new cases.
About the source, seems the legit one from DB.
But I am not sure how we are extracting that. the numbers are not adding perfectly.
if someone can comment.

[2020-03-25 17:16] JunaidBabu commented on #68
@sibeshkar @someshkar

[2020-03-25 17:29] sscsp489 opened #119 "State selected in table should be highlighted in map and subsequent details should be shown."
when we select or hover on a state in table , automatically that respective state will get highlighted in map and subsequent detail should be shown , and it should also happen vice versa !

![Screenshot from 2020-03-25 22-58-32](https://user-images.githubusercontent.com/36526662/77566840-3fcda380-6eec-11ea-9b63-cf80d39dcc1f.png)

[2020-03-25 17:30] arushibhat commented on #89
i think my comment was confusing.
i was thinking we can some patient wise , 15 day quarantine timeline.
how many patients are expected to complete quarantine and what's the expected recovery.
Something like this.
![image](https://user-images.githubusercontent.com/52503268/77566902-5a078180-6eec-11ea-85db-f2f9abf3ebfa.png)

[2020-03-25 17:33] shuklaayush commented on #119
Relevant: https://css-tricks.com/svg-map-rollovers/

[2020-03-25 17:51] #101 closed, assigned to nobody

[2020-03-25 17:51] shahrk commented on #101
Yeah it is working now for me I'm not sure why it wasn't working earlier, I had checked multiple times.

[2020-03-25 17:56] anuragjain commented on #106
There is no api right now, need to create a utility to convert sheet to json and then the file can be fetched via api.
Also for placement, I was thinking of creating a new page and add it to the nav bar as the current page already has too much information.

[2020-03-25 17:57] shahrk opened #121 "Show city wise case breakdown (count) on the main page table"
**Is your feature request related to a problem? Please describe.**
Not related to any problem

**Describe the solution you'd like**
When the user clicks on a state in the main page table, toggle the city wise case breakdown of that particular state

**Additional context**
The data already has the city for most cases and we can have a common other option in each state if the data doesn't have any a

[2020-03-25 18:13] someshkar commented on #79
To be clear, you want to download the cluster map for offline viewing?
(P.S. This is not the same as downloading an excel file for offline viewing.)

[2020-03-25 18:14] vrajeshkanna commented on #96
PWA PR #122 raised

[2020-03-25 18:16] someshkar commented on #81
Yes, this got fixed. @jeremyphilemon you can close this.

[2020-03-25 18:23] someshkar commented on #87
This got fixed in someshkar/covid19india-network#63

[2020-03-25 18:32] amsaha opened #124 "Clicking on "Scale Uniformly" checkbox changes order of states in table"
**Describe the bug**
Clicking the "Scale Uniformly" checkbox **OR** "Cumulative" and "Daily" tabs in "Spread Trends" changes the order of states in table.

**To Reproduce**
See above.

**Expected behavior**
The clicking should not change the table.

**Screenshots**
Description should be enough.

**Desktop (please complete the following information):**
 - OS: macOS Mojave Version 10.14.6
 - Browser

[2020-03-25 18:43] Rajanpandey commented on #117
Hi, I am new here.
Looking to contribute.
I will do this.

[2020-03-25 18:46] sibeshkar commented on #68
Fixed.

[2020-03-25 19:01] skandtandon opened #129 "Inaccuracy in map"
![Screenshot (53)](https://user-images.githubusercontent.com/21158496/77574078-97254100-6ef7-11ea-83aa-78f9c0fc3c09.png)
Inaccuracy in map , there is this small gap between borders of gujrat  and maharashtra that's Dadar and Nagar Haveli .
List of left out uts/states are:
1)Andaman and Nicobar
2)Chandigarh
3)Daman and Diu
4)Dadar and Nagar Haveli
5)Lakshadweep

Please map them on the map cause in

[2020-03-25 19:03] Rajanpandey commented on #117
Done. Kindly check.
PR: https://github.com/covid19india/covid19india-react/pull/127

[2020-03-25 19:29] shuklaayush commented on #129
It's all there. It's just that they are difficult to select with a cursor since they are tiny. Maybe addressing #119 could help.

[2020-03-25 19:41] arushibhat commented on #106
Yeah.. we can collect all additional charts and put them under one tab..
A suggestion we can keep country wise stats and statewise/district wise
stats as two tabs.

On Wed, Mar 25, 2020, 23:26 anuragjain <notifications@github.com> wrote:

[2020-03-25 20:07] Rajanpandey commented on #100
Yes, it doesn't seem like a bug. It's correct, isn't it? @sudevschiz

[2020-03-25 20:11] aadityadar commented on #66
is there a google sheet that people are collaboratively working on entering the data? the state media bulletins are here https://github.com/aadityadar/covid-19-indian-state-reports

[2020-03-25 20:14] miztiik commented on #79
If i can add my two cents to the discussion here, If data export option is being explored,
Can you make it into a json format.
You can further expand it through APIs,
For example a the json extract can have keys for state wise data or date-wise data or generating clusters based on travel etc.

[2020-03-25 20:23] aadityadar commented on #13
PS: if possible please use district boundaries either from Census 2011 (640 districts; see https://github.com/datameet/maps/tree/master/Districts/Census_2011) or present-day districts (729 as per https://lgdirectory.gov.in). LG directory provides a mapping of all 729 districts in 2020 to 2011 census district codes and therefore it's easier to bring in data from other sources. Here's the csv file h

[2020-03-25 20:28] Rajanpandey commented on #76
Done.
PR: https://github.com/covid19india/covid19india-react/pull/134

[2020-03-25 20:35] miztiik opened #135 "Map Visualization show Virus Spread over time"
As the virus is spreading to new cities/states in india, It would be interesting to see visually how the virus has spread over a period of time using different colors ( say green(health) to start with and end with red/darkened red for all parts of the state) .

#### Some Thoughts on Implementation
- The necessary data is already available in the dataset. Date of the patients, state information.
-

[2020-03-25 20:35] Rajanpandey commented on #32
I can do it.
Let me know after the triage.

[2020-03-25 22:18] #12 closed, assigned to nobody

[2020-03-25 22:22] rishiraje opened #136 "Log graphs"
Covid-19 is an exponential disease.

Looking at a simple graph really does not give true picture of cases.

Log graph will give correct picture on whether the disease is slowing down or further accelerating.

If possible, have log graph on a per state basis

[2020-03-25 22:26] jeremyphilemon commented on #76
Patched by #85

[2020-03-25 22:26] #76 closed, assigned to nobody

[2020-03-25 22:45] jeremyphilemon commented on #82
Really appreciate all the feedback and discussion here. The section is called statistics by state and we also have a neighboring section that displays the total, it wouldn't be nice if we have totals listed on may places at once, also looking at a state's stat (in this case we've chosen the highest to not have any bias) it'll hint the user to interact with the map to check out the stats for other

[2020-03-25 22:45] #82 closed, assigned to nobody

[2020-03-25 22:49] jeremyphilemon commented on #129
@JunaidBabu Thoughts on the not being able to click on tiny polygons, we add a zoom in?

[2020-03-25 23:05] #124 closed, assigned to nobody

[2020-03-25 23:10] jeremyphilemon commented on #110
What do you mean? There are delta values present on the header, would appreciate more information!

[2020-03-26 00:10] #68 closed, assigned to nobody

[2020-03-26 01:06] radhasatam commented on #119
Created pull request #137 for this.

[2020-03-26 01:09] radhasatam commented on #129
Addressed Issue #119  with PR #137

[2020-03-26 02:09] rajathsn opened #139 "Wrong data"
The data in confirmed and active column are same, please fix it. In column confirmed its should be sum of active+recovered+Deceased. Refer the screenshot.
![5D8439FF-62C5-484E-BFC7-58D41B4BE047](https://user-images.githubusercontent.com/52188338/77602967-db830200-6f34-11ea-8cdd-0eebd28aefe4.png)

[2020-03-26 02:21] unmesh-shukla commented on #139
Being addressed in this PR. #140

[2020-03-26 02:22] jeremyphilemon commented on #139
Fixed! Thanks!

[2020-03-26 02:22] #139 closed, assigned to nobody

[2020-03-26 03:05] unmesh-shukla commented on #79
Does this work -> [https://api.rootnet.in/](https://api.rootnet.in/) ??

[2020-03-26 04:20] shuklaayush opened #143 "Numerical entries are left aligned in table"
#97 switched the alignment of numbers left to accommodate deltas. I think we should revert to right alignment as convention suggests.

[2020-03-26 04:35] shuklaayush opened #145 "Toggle switch for 'Scale Uniformly'"
The checkbox is difficult to tick on mobile. Adding a toggle switch instead would help.
PS: Maybe change the text to 'Uniform Scaling' as well.

[2020-03-26 04:48] jeremyphilemon opened #146 "Scrolling header for table"
**Is your feature request related to a problem? Please describe.**
User is unable to know the context of the table data fields when the header goes out of the screen.

**Describe the solution you'd like**
Something like this:

<img src="https://miro.medium.com/max/1600/1*kXEEaxvKP_9xRT0HuqScTQ.gif">

**Describe alternatives you've considered**
-

**Additional context**
-

[2020-03-26 04:54] #143 closed, assigned to nobody

[2020-03-26 04:56] rajathsn opened #147 "Refreshing cause webpage to be blank"
Refreshing cluster, helpful links and faq will results in blank page. ( home page is fine).

Example screenshot attached
![E3B1B12B-513B-4E67-90CD-3A7E02306528](https://user-images.githubusercontent.com/52188338/77611738-2a886180-6f4c-11ea-9960-ab77b5fdf6cf.png)
![4067AE46-FA0E-4377-9C3B-7E945B8095AB](https://user-images.githubusercontent.com/52188338/77611741-2c522500-6f4c-11ea-8afd-1c76ffeeb526.

[2020-03-26 05:12] yogeshvar commented on #147
+1

[2020-03-26 05:18] KrishnaPravin commented on #147
@JunaidBabu  I guess latest build/index.html is not properly copied to build/404.html.

Are you still using GH Pages?

[2020-03-26 05:27] shuklaayush commented on #147
Maybe related: tabs are not highlighted when going directly through links.

[2020-03-26 05:29] KrishnaPravin opened #152 "ZEIT automatic check/build failing"
**Describe the bug**
As the rate of new PRs has increased ZEIT builds are failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new PR

**Expected behavior**
A new build of the Website should be created and hosted by ZEIT

**Screenshots**
<img width="813" alt="Screenshot 2020-03-26 at 10 55 20 AM" src="https://user-images.githubusercontent.com/17372422/77613466-c6b46780-6f50-11ea

[2020-03-26 05:45] shuklaayush commented on #152
Adding a temporary hack for reference.
Force pushing the last commit again triggers a rebuild:
[code]
Do this after some time when the bot calms down.

[2020-03-26 05:47] KrishnaPravin commented on #147
Yes, It was not highlighted even before when directly going through the links. Because the links were highlighted only on click of the link.
[code]

[2020-03-26 06:19] DivyaLekha commented on #79
I would like to download the cluster map (network) as an adjacency list or matrix ( a graph). Yes, for offline analysis.; not only for viewing

[2020-03-26 06:23] KrishnaPravin opened #154 "Style guide needs to be enforced"
**Describe the bug**
Currently, there is no guidance/control of the style of the code here. As a result, in every PR there are lots of changes related to spaces, newline characters, and other code style-related changes. This increases the number of changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Check the number of changes related to whitespace in [PRs](https://github.com/covid19ind

[2020-03-26 06:30] DivyaLekha commented on #79
Yes! This is good. Thank you!

[2020-03-26 06:30] #79 closed, assigned to JunaidBabu, sibeshkar, someshkar

[2020-03-26 06:41] vrajeshkanna commented on #78
PR #122 raised for this issue

[2020-03-26 06:50] raivatshah opened #156 "States vs Union Territories"
**Describe the bug**
The home page shows data by "state" when showing data for "Ladak", "Jammu and Kashmir", "Delhi" etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page, see the political map of India.

**Expected behavior**
Should say "State and Union Territories"

**Screenshots**
Trivial so not including.

**Desktop (please complete the following information):**
 - OS: mac

[2020-03-26 06:55] abhishekakade commented on #154
There are also CRLF and LF issues. Decide which one to go with. ESLint throws errors/warnings because by default it expects line breaks to be LF while they are CRLF.
`Expected linebreaks to be 'LF' but found 'CRLF'.eslint(linebreak-style)`

[2020-03-26 07:14] vrajeshkanna commented on #78
Also as file names are hashed. so we need not worry about cache

[2020-03-26 07:19] tanag22 opened #157 "New Cases are by default marked female if details awaited"
I've noticed new Patients are marked to b female when details are awaited. This causes wrong impression that females are more prone to the virus.
Set a neutral gender if not confirmed.

[2020-03-26 07:20] tanag22 commented on #157
issue seen specifically for Chhatisgarh Paitents

[2020-03-26 07:21] satishsingh35 commented on #154
Can i pick this up.? Can some one help me with the process of claiming a issue here

[2020-03-26 07:25] suryaceg commented on #32
Hi @Rajanpandey this is done. Thanks

[2020-03-26 07:31] aravindha1895 commented on #121
Working on it

[2020-03-26 07:41] satishsingh35 commented on #146
@bnap00 apply sticky to all 'th', to get 'sticky' to work. 'sticky' does not seem to work on table element

@jeremyphilemon Can you please add me as contributor to this project?

[2020-03-26 07:44] VigneshMurugan commented on #145
Will pick this up

[2020-03-26 07:49] KrishnaPravin commented on #154
@jeremyphilemon  @JunaidBabu  please guide

[2020-03-26 08:02] sivasatvik commented on #145
Made a PR  #158 for this. It works for desktop and mobile versions. Suggestions?

[2020-03-26 08:16] suryaceg commented on #32
Pull request added by @s-naveen

[2020-03-26 08:17] suryaceg commented on #90
@sirajalam049 can you rebase this over master?

[2020-03-26 08:23] rajathsn commented on #147
Issue is resolved.

[2020-03-26 08:54] vinay-thallam opened #162 "Need for static code analysis setup"
It is observed that, though eslint config is present in the repo, source code has many lint rule violations. Eg: assignments to variables that are never used, Usage of == instead of === in few places, missing trailing commas, indentation and space issues.

Not having having proper check on these may result in  potential bugs.

This can be solved by adding few things listed below,

- prettier setup

[2020-03-26 08:56] vinay-thallam commented on #162
@jeremyphilemon  Please let me know if I can work on these

[2020-03-26 09:07] satishsingh35 commented on #162
Great suggestion @vinay-thallam
[setting sync](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) can be used to keep vscode settings in sync .

[2020-03-26 09:07] SauravKhare commented on #107
This is not even a bug, and look's like already been fixed. Not having the padding issue as you mentioned in any browser not even in responsive layouts.

[2020-03-26 09:49] prav2508 opened #163 "Spread Rate"
**Spread Rate - Vital information needed by public**

The Spread rate tells us the information at **what rate the virus is spreading** among people.
It an important information where it gives shows whether the situation is in control or not.
This information has to be displayed on the main home page in percentage since its as important as knowing confirmed cases.

[2020-03-26 09:49] prav2508 commented on #163
I will do this..

[2020-03-26 10:06] shuklaayush commented on #90
I think it would make sense to increase the width of the map along with this.

[2020-03-26 10:28] jeremyphilemon opened #165 "Make districts dropdown open on clicking the state row too"
**Is your feature request related to a problem? Please describe.**
The dropdown triggers are on the edge and difficult to reach, so two triggers would be a nice feature!

**Describe the solution you'd like**
Add an onClick event to the row too

[2020-03-26 10:29] prav2508 commented on #163
**The Spread rate at the moment of this comment**
![JPG](https://user-images.githubusercontent.com/27601632/77636819-b0bb9c80-6f7a-11ea-959f-9be6cbf42626.JPG)

[2020-03-26 10:32] jeremyphilemon opened #166 "Table not rendering correctly in Safari browsers"
**Is your feature request related to a problem? Please describe.**
This was already there but slipped through during release. It increases readability.

**Describe the solution you'd like**
Use smth like a css selector to choose the state row and :nth-child(odd/even) them.

[2020-03-26 10:59] ashutoshkokam opened #167 "Website Hit Count, to be displayed as counter on the dashboard."
It would be great, if we can display the website hits counter on the bottom left corner of the dashboard.
would be getting an insight on the popularity or the reach of the website.

[2020-03-26 11:14] chintu8104 opened #168 "Synchronisation of daywise count is missing between main statistics, and the total of state-wise statistics. Refer to the attached screenshot. (Confirmed, Active, Recovered, and Deceased counts)"
![Screenshot_20200326-163955__01](https://user-images.githubusercontent.com/18171611/77640729-ea8fa180-6f80-11ea-8c5a-bd607de9225b.jpg)
![Screenshot_20200326-163950__01](https://user-images.githubusercontent.com/18171611/77640736-ec596500-6f80-11ea-8de4-70519302238e.jpg)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-03-26 11:19] aravindha1895 commented on #121
LInking PR #169

[2020-03-26 11:33] manigandan-dorairaj opened #171 "How to make this app work both in Linux and Windows? [Help Needed]"
Hi Devs,

I am new to react. Need advice.

I am a windows user. I couldn't run the website initially. I got 'PORT' is not recognized error.

To fix it I did these:
- Installed dotenv package and created a .env file with PORT=3000.
- Installed cross-env
- Removed  PORT=3000  from here  "react-scripts start css-watch"

It started working. Can you please advise is it correct or not? And how do we mak

[2020-03-26 11:51] ishan0445 opened #174 "District Wise date should also be sorted by Confirmed column"
![IMG_0040](https://user-images.githubusercontent.com/3998905/77643899-29742600-6f86-11ea-82fc-a7e0b4a8f9e0.JPG)

[2020-03-26 12:08] sudevschiz commented on #107
Can't reproduce. @arshakanjum reopen if you face the issue again.

[2020-03-26 12:08] #107 closed, assigned to nobody

[2020-03-26 12:17] satishsingh35 commented on #167
@ashutoshkokam IMO, This is not a commercial website. Don't see much use of putting counter.
Usually counters are done to do social proof(marketing term). We don't need it here

[2020-03-26 12:23] SanjeevYadavcr7 commented on #171
I was also facing the same problem this is how i resolved it. On windows you can simply start by
1. cloning the project files then use `npm install -D` to install all the required dependencies
2. after this you can do `npm run build` to build the project.
3. run `npm install -g serve` to serve the project on browser
4. at last run `serve -s build` and this will generate localhost address.
![window

[2020-03-26 12:27] jeremyphilemon opened #175 "Add support for sorting districts"
**Is your feature request related to a problem? Please describe.**
Would be really helpful if we add sorting to districts table like how we have for the states table

[2020-03-26 12:30] jeremyphilemon commented on #162
@vinay-thallam sure! which ones from the list you've mentioned above do you plan on addressing?

Right now I'm planning on sticking to eslint and google's javascript style guideline, would like to hear suggestions on this. And would it be possible to have both eslint and prettier in the pipeline?

[2020-03-26 12:45] rajathsn opened #176 "Bugs in state expansion button"
**Describe the bug**
1. State expansion button/symbol is not aligned properly
2. The clickable area of state expansion button is to small. Unable to expand it to show district wise table

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ‘any mobile browser'
2. Click on 'state expansion symbol' see the attachment

**Expected behavior**
1. Symbol to be aligned properly to state.
2. Large c

[2020-03-26 12:50] rupeshkmr commented on #171
I tried the same in ubuntu 18.04 LTS
The server is running but the browser responds
**404 the requested path cannot be found**

Any solution to this?

[2020-03-26 12:51] manigandan-dorairaj commented on #171
Thanks, @SanjeevYadavcr7.  I am able to run it through this approach but it lost the instant updates (hot reload) feature. Whenever I make any changes I need to rebuild again which takes some time.

[2020-03-26 12:52] manigandan-dorairaj commented on #171
In Linux you can just do this

npm i && npm start

[2020-03-26 13:08] rupeshkmr commented on #171
This error comes up
![image](https://user-images.githubusercontent.com/37209481/77650140-069b3f00-6f91-11ea-82a6-51f1d5557550.png)

[2020-03-26 13:14] Rajanpandey commented on #171
Added the installation method for windows in readme.
PR: https://github.com/covid19india/covid19india-react/pull/177

[2020-03-26 13:14] aekanshd opened #178 "Use AJAX/XHR to fetch new data every x intervals."
**Is your feature request related to a problem? Please describe.**
Being a web developer, I assumed the website updates realtime. Having the network tab opened for 15 minutes, there was no XHR call made which forced me to do a manual refresh.

**Describe the solution you'd like**
Have a **Last Local Refresh** counter, and make the website pull new data every "x" intervals.

**Describe alternatives

[2020-03-26 13:17] aekanshd commented on #167
This is not necessary.

[2020-03-26 13:20] aekanshd commented on #102
#178 Same intention. Rather than push notifications (since it's not a PWA yet), a simple ajax call would suffice.

[2020-03-26 13:21] shaunmulark commented on #23
Can you look at this and check out the various graphs used ? https://docs.google.com/spreadsheets/d/1dEXS5dndsDvyJeWsjFllhq51Y_vntUS-1S_p2u1Om6c/edit#gid=0
Those would be helpful. Sorry for responding this late

[2020-03-26 13:36] manigandan-dorairaj commented on #171
Did you run npm install  ?

[2020-03-26 13:39] vinay-thallam commented on #162
Thanks @satishsingh35 for suggestion. I checked about setting sync as you mentioned. Looks like for me it is better suited for an individual to sync his VS Code settings across multiple machines.

I am looking at simpler solution where vs code applies the settings only for this repo when it is opened in vs code, thus not messing too much esp when he is working on other projects.

[2020-03-26 13:45] vinay-thallam commented on #162
@jeremyphilemon  Will be addressing all of them.
We can continue to stick to the google's guideline for Code-quality rules and prettier can handle formatting rules.  Please check below link for more info,
https://prettier.io/docs/en/comparison.html
It is possible to have both in pipeline.

[2020-03-26 13:47] rupeshkmr commented on #171
yes

[2020-03-26 13:56] iamkanhaiya opened #183 "Please Add this features tab in website that points to https://coronalatestupdate.com"
My team just seen this website , good guys you're doing a amazing work ! We at Wappgo also took an initiative and build a app https://coronalatestupdate.com/app as well as website https://coronalatestupdate.com , Our website has a section to track live status of India for that we are going to build a dedicated dashboard for India, but when i saw your website i think yes !! that's what we need and

[2020-03-26 13:56] manigandan-dorairaj commented on #171
## This worked for me.

In **package.json** under `scripts` -> `start` replace existing command to following

`SET PORT=3001 && react-scripts start css-watch`

But I guess this may not work in Linux.

[2020-03-26 14:04] siddharthhp commented on #183
https://coronalatestupdate.com/hospitalandtestcenters.php

This seems to be a really helpful link and a must have feature in the current application. Let's wait for admin to get back if we really can get this link in our application.

[2020-03-26 14:07] amit88265 commented on #168
would love to fix this issue. Please assign this issue to me

[2020-03-26 14:11] manigandan-dorairaj opened #184 "Switch to use Bright/Dark Theme"
**Is your feature request related to a problem? Please describe.**
It would help to provide user option to choose either Bright or Dark theme

**Describe the solution you'd like**
A small bulb icon in the header. On click of it, the theme of the site should toggle between dark and bright. The preference of user selection should be stored in cookie so that they can see the same mode next time when

[2020-03-26 14:12] shuklaayush commented on #184
See #116

[2020-03-26 14:17] manigandan-dorairaj commented on #184
Super, it is done!

[2020-03-26 14:17] #184 closed, assigned to nobody

[2020-03-26 14:18] pradeepbheron opened #185 "Breakdown by District don’t show recovered."
![3FD1A2D9-9C92-4136-BCA8-105FAAD39D67](https://user-images.githubusercontent.com/840782/77656700-431f6880-6f9a-11ea-9da9-081ff01ffde0.jpeg)
**Describe the bug**
I’m on iPhone 7 + safari browser

Breakdown by district didn’t show recovered cases, attached screenshot. I’ve drilled Haryana state and expecting 11 recovered in Haryana. I know those were foreigners but when we count them in total then

[2020-03-26 14:19] iamsh4shank opened #186 "Image button not working"
**Describe the bug**
The image button present on top left corner in the website is not working.

**To Reproduce**
Steps to reproduce the behavior:
open the website

**Expected behavior**
I should open the global tracker or the news related to covid-19

**Screenshots**
![Screenshot from 2020-03-26 19-42-36](https://user-images.githubusercontent.com/52889867/77656842-78c45180-6f9a-11ea-92d4-e175428f

[2020-03-26 14:19] pradeepbheron commented on #185
Also same for Active cases, that’s showing same as total cases, doesn't match with total numbers in Active cases. As per screenshot Active should show 21.

[2020-03-26 14:26] iamkanhaiya commented on #183
Yes !! for sure.

[2020-03-26 14:32] Rajanpandey commented on #186
I will do it.
Where do we want it to redirect though? who.int?

[2020-03-26 14:35] siddharthhp commented on #183
@jeremyphilemon Can you please take a look at this and let us know if we can get the hospitals and test centers link added to our application. If yes I can take it up!

[2020-03-26 14:37] siddharthhp commented on #186
@Rajanpandey Usually such click triggers are usually pointed to the homepage of the application. I know we have a 'home' tab right next to it but still it should be pointing to the homepage i believe.

[2020-03-26 14:38] s-naveen commented on #178
Adding to that if the tab is kept opened we can send out browser push notifications if there's new cases updated. But I guess we need web socket support in server side to achieve the same.

[2020-03-26 14:38] Rajanpandey commented on #186
@siddharthhp Agreed.

[2020-03-26 14:39] iamsh4shank commented on #186
Should I fix this?

[2020-03-26 14:42] Rajanpandey commented on #186
@robustTechie Ok go ahead

[2020-03-26 14:42] iamsh4shank commented on #186
@Rajanpandey it may open a global tracker. Which page should it direct?

[2020-03-26 14:43] s-naveen opened #188 "Active delta at top summary does not match with the one in table total row."
**Describe the bug**
Active delta at top summary does not match with the one in table total row

**Screenshots**
https://prnt.sc/rn8jkp

[2020-03-26 14:49] siddharthhp commented on #186
@robustTechie I believe this is the link it should redirect to !
https://www.worldometers.info/coronavirus/

[2020-03-26 14:50] sudevschiz opened #189 "Change the Daily trends to bar graph"
**Is your feature request related to a problem? Please describe.**
Since each series (Confirmed, Recovered and Deceased) are separate graphs, the best way to represent this information in DAILY TRENDS is to use bar graph.

**Describe the solution you'd like**
In DAILY TRENDS, graphs should be a bar graph

**Describe alternatives you've considered**
-

**Additional context**
We didn't do this initi

[2020-03-26 14:50] iamsh4shank commented on #186
Should I link this to the button?

[2020-03-26 14:58] Rajanpandey opened #190 "Add more informational regarding Transmission rate, mortality rate, age and sex ratio, symptoms, incubation, how to protect yourself, myth busters, virus life on different surfaces"
Refer to the following websites.
1. https://www.cov19.xyz/info/mortality-rate
2. https://worldcoronavirus.org/symptoms

We can use the same information and put it on this website.

[2020-03-26 14:58] amit88265 commented on #168
After inspecting a bit I found the issue is on the backend side. Data coming from the backend is not consistent.

[2020-03-26 14:58] s-naveen commented on #110
@jeremyphilemon I meant recent cases timeline like the one shown on worldometer.
https://prnt.sc/rn8vtt

[2020-03-26 15:00] krishnasen2401 opened #191 "Readme invalid link"
the link provided for live data link for google is not  view only link or shareable. pleas update it if possible

[2020-03-26 15:03] rohit2sharma95 commented on #188
May I fix this issue @s-naveen? We can show the data from first index of the statewise array that is being used in the total also. See the images:-

![image](https://user-images.githubusercontent.com/26922866/77661619-e2dff500-6fa0-11ea-8ab7-c48217f2bc6a.png)

[2020-03-26 15:04] sudevschiz commented on #185
@pradeepbheron Thanks for reporting this bug.

@jeremyphilemon @JunaidBabu , currently, we cannot calculate the Recovered, Deceased, Active numbers at a district level because, many states doesn't release the data at that granularity. It's simply not feasible to show that information.

Only confirmed numbers can be shown. What do you think about the following representation?

![image](https://user

[2020-03-26 15:08] vairavlaksh commented on #186
I already created a Pull Request on this. https://github.com/covid19india/covid19india-react/pull/108.

[2020-03-26 15:08] sudevschiz commented on #183
@iamkanhaiya @siddharthhp Thanks for bringing this website to our attention! Great work. However, we won't be able to point to this website as it is not using any of our data and is unrelated.

Thank you!

[2020-03-26 15:11] s-naveen commented on #188
@rohit2sharma95 that's what is already used. I guess its a bug in API confirmed delta also has mismatch now.

[2020-03-26 15:13] s-naveen commented on #136
@rishiraje I did some initial implementation on charts which includes log chart. Let me know your thoughts.

https://covid19-india-react-git-charts.s-naveen.now.sh/

[2020-03-26 15:14] r2dragon commented on #191
that should be read-only to the public tho right?
There is a form where users can submit cases -->  https://forms.gle/7NRSrbspW2a6pbm58

[2020-03-26 15:16] #186 closed, assigned to nobody

[2020-03-26 15:18] rohit2sharma95 commented on #188
@s-naveen Delta in the Level component is being shown from the first index of key_values array:-
![image](https://user-images.githubusercontent.com/26922866/77663160-c2b13580-6fa2-11ea-9707-66a79e630939.png)
Whenever the proper data is at the first index of the statewise array that is not being used in the Level component:-
![image](https://user-images.githubusercontent.com/26922866/77663370-fe4bf

[2020-03-26 15:20] roh-kan commented on #185
There is some issue with the calculation of "Recovered" state wise e.g.
As per sheet, UP - 2 Recovered, 42 Hospitalized.

In the table, its 11 Recovered, 42 Hopitalized
<img width="495" alt="image" src="https://user-images.githubusercontent.com/2139429/77663530-1f6b1b00-6fb8-11ea-8c5d-4454f81ec804.png">

[2020-03-26 15:21] iamkanhaiya commented on #183
@sudevschiz its not about the data..!! Its about to help the society .!! Please take a look it can help many people .!! Its time to think about our country.
 @jeremyphilemon please you too have a look.

[2020-03-26 15:22] JunaidBabu commented on #185
@jeremyphilemon

https://api.covid19india.org/state_district_wise.json
I'll remove active, deaths and recovered from the above api once the modification is done on the site.

"districtData": {
      "Thrissur": {
        ~~"active": 3,~~
        "confirmed": 5,
        ~~"deaths": 0,~~
        "lastupdatedtime": "",
        ~~"recovered": 2~~
      }

[2020-03-26 15:22] s-naveen commented on #188
I am not sure the one in the key_values json or statewise json first key is correct. Can you check it yourself.

[2020-03-26 15:24] rohit2sharma95 commented on #188
Okay, @s-naveen. I have checked the data manually. Let me give a pull request immediately.

[2020-03-26 15:24] iamsh4shank opened #193 "Title not highlighted"
**Describe the bug**
If home, FAQ or helpful links are selected then they are highlighted but if the cluster is selected then that is not highlighted.

**To Reproduce**
Steps to reproduce the behavior:
Click on clusters

**Expected behavior**
It should also get highlighted as home, FAQ or helpful links

**Screenshots**
![Screenshot from 2020-03-26 20-50-10](https://user-images.githubusercontent.co

[2020-03-26 15:25] abhishekakade commented on #154
@jeremyphilemon @JunaidBabu @satishsingh35 sorry, I worked on the issue without getting it assigned to me first. There was power outage since morning and I just checked the `.eslintrc.js` file and since it was unchanged, decided to make a pr now.

[2020-03-26 15:25] iamsh4shank commented on #193
I would like to work on this.

[2020-03-26 15:26] s-naveen opened #194 "Clicking on banner can trigger next text to display."

[2020-03-26 15:53] satishsingh35 commented on #178
@JunaidBabu What is the process of contribution to this repo? Can you help me add as a collaborator

[2020-03-26 15:54] Rajesh-Narayanappa87 commented on #188
@rohit2sharma95 : I think we have to either point all 'Confirmed', 'Active', 'Recovered' and 'Deceased' to not to point to 'key_values'.. I think this should be api fix not client side.. Open for suggestions..

[2020-03-26 16:04] #183 closed, assigned to sudevschiz

[2020-03-26 16:08] rohit2sharma95 commented on #188
@Rajesh-Narayanappa87 I have fixed the issue by showing the data the same as the total row at the bottom of the table. And if you will see the total is correct there.

[2020-03-26 16:13] Rajesh-Narayanappa87 commented on #188
@rohit2sharma95 : Did you had a chance to look into recover data.. Since first array has "recovered": 0. , graph will be flat.. Check snapshot below..
This still seems service fix.. If we refer state[0] then recovered data is incorrect.
If we refer key_values then active calc is incorrect..

<img width="594" alt="Screenshot 2020-03-26 at 9 42 54 PM" src="https://user-images.githubusercontent.com/2

[2020-03-26 16:16] iamrishav commented on #193
Duplicate of #91

[2020-03-26 16:18] iamrishav commented on #194
unable to understand!! please provide description.

[2020-03-26 16:21] s-naveen commented on #194
@iamrishav I mean this banner https://prnt.sc/rnan4s. Clicking on it can show next text.

[2020-03-26 16:28] iamrishav commented on #194
ok

[2020-03-26 16:30] rohit2sharma95 commented on #188
@Rajesh-Narayanappa87 Looks good to me. If the data is shown from statewise array.
https://covid19india-react-git-fork-rohit2sharma95-master.covid19india.now.sh/

[2020-03-26 16:31] #167 closed, assigned to nobody

[2020-03-26 16:31] iamrishav commented on #194
@jeremyphilemon @s-naveen  label this issue as #enhancement

[2020-03-26 16:43] #165 closed, assigned to nobody

[2020-03-26 16:46] Rajesh-Narayanappa87 commented on #188
@rohit2sharma95 : Can you attach snap?? I've looked through.. found simpler fix.. For pulling active case alone, we can parse through statewise array.. This means
line 45 in level.js will be replaced
from
`        <h4>[{props.deltas ? props.deltas.confirmeddelta-props.deltas.recovereddelta-props.deltas.deceaseddelta >=0 ? '+'+(props.deltas.confirmeddelta-props.deltas.recovereddelta-props.deltas.de

[2020-03-26 16:59] rajathsn opened #198 "Last updated time missing"
Last updated time is missing
![AF62AB06-EE53-4672-9BFD-DE0F895CB4F9](https://user-images.githubusercontent.com/52188338/77674202-32c6b800-6fb1-11ea-96ec-479ffa1f384b.png)

[2020-03-26 17:19] Rajesh-Narayanappa87 commented on #188
#199

[2020-03-26 17:19] #193 closed, assigned to nobody

[2020-03-26 17:21] abhishekkhandait commented on #198
@Rajath-BeeLab : I cant reproduce this. Tested it on all available devices with device mode in Chrome DevTools

[2020-03-26 17:24] Rajesh-Narayanappa87 commented on #188
@s-naveen , @rohit2sharma95 : See if this helps..

[2020-03-26 17:25] iamrishav commented on #198
Can't reproduce it.

[2020-03-26 17:29] Rajesh-Narayanappa87 commented on #198
It works in chrome. I could reproduce in safari desktop view itself..

[2020-03-26 17:31] rajathsn commented on #198
Then I think issue is in all iOS or apple device. All browsers in iOS.

[2020-03-26 17:32] iamsh4shank commented on #91
Are you working on this issue?

[2020-03-26 17:35] Rajesh-Narayanappa87 commented on #198
yes.. I can confirm issue exist on chrome of iOS too..

[2020-03-26 17:36] rajathsn commented on #198
I’m using iPhone and couldn’t see last updated time. I dint have android device in hand to check. So I think this is issue arise only in iPhone or iOS devices

[2020-03-26 17:39] rohit2sharma95 commented on #188
@Rajesh-Narayanappa87 Please check [this comment](https://github.com/covid19india/covid19india-react/pull/199#issuecomment-604569718).

[2020-03-26 17:39] Rajesh-Narayanappa87 commented on #198
Also strange one.. When i try working in local on same safari browser, it works.
But when i open prod version it isn't..

Both below snaps are from safari on MacOS

Prod version:
<img width="968" alt="Screenshot 2020-03-26 at 11 08 16 PM" src="https://user-images.githubusercontent.com/25228632/77678199-ccdd2f00-6fb6-11ea-9784-766c79bd8088.png">

local version:
<img width="674" alt="Screenshot 2020

[2020-03-26 17:39] sirajalam049 commented on #91
I've already made a PR on this.

[2020-03-26 17:41] iamsh4shank commented on #91
Nice

[2020-03-26 17:45] shuklaayush opened #200 "Trend charts do not scale properly"
On mobile landscape/iPad displays, the charts extend beyond the specified area.

![Screenshot_20200326-231308_Chrome](https://user-images.githubusercontent.com/27727946/77678769-a8358700-6fb7-11ea-8fa3-92b61c45ceba.jpg)

[2020-03-26 17:48] s-naveen commented on #198
I checked this and found the cause

We are checking date is valid or not by using Date.parse() safari returns NaN in this case while chrome parses it without any issues. . We might need to use library like momentJS to fix this issue.

[2020-03-26 17:53] s-naveen commented on #198
@Rajesh-Narayanappa87 your local might not have the latest changes.

[2020-03-26 17:59] jeremyphilemon commented on #198
Gotcha fam! Patched 🍃

[2020-03-26 17:59] #198 closed, assigned to nobody

[2020-03-26 18:10] iamsh4shank opened #203 "Districts record"
**Is your feature request related to a problem? Please describe.**
on hovering over a map it only shows percentage. It will be great if on clicking a particular state it will show the record of each district present in that state.

**Describe the solution you'd like**
On clicking the state the dropbox of that particular state can be opened so that all the districts can be visible.

**Describe alte

[2020-03-26 18:12] vinishanto commented on #178
I have added a pull request that will do an ajax polling every 5 seconds to update the data live without refresh. https://github.com/covid19india/covid19india-react/pull/202

[2020-03-26 18:14] iamsh4shank opened #204 "Districts records not completely visible"
**Describe the bug**
Districts record only contain confirmed cases. It doesn't show active cases, recovered cases, and deceased cases.

**To Reproduce**
Steps to reproduce the behavior:
Click on the dropbox arrow of any state.

**Expected behavior**
It will also show all the records which will help to maintain statistics.

**Screenshots**
![Screenshot from 2020-03-26 23-37-50](https://user-images.

[2020-03-26 18:23] Shashwat-Goyal commented on #171
The best solution for this is that we can create an .env file in the root of our application and set the PORT environment variable as 3001 there. That way we can run this app in both Linux and windows system. I can share a PR if required.

[2020-03-26 18:31] abhishekkhandait commented on #178
#196 closes this.

[2020-03-26 18:39] engg-rehman opened #205 "A disclaimer note should be on front page mentioning this is not an official site"
Before anything I must say, your work is very appreciated.

I believe there should be a disclaimer on the front page mentioning that this is not an official site, and the data collection is a community-driven effort collected from different sources of media. Optionally you can also have a link to the [Health ministry](https://www.mohfw.gov.in/) site which has official statistics

I know you have a

[2020-03-26 19:01] SanjeevYadavcr7 commented on #166
@jeremyphilemon  Is this issue already resolved ?

[2020-03-26 19:04] vinishanto commented on #178
#202 covers the home page component that was missed in #196. also included disabling the poll when navigated to other tab

[2020-03-26 19:26] s-naveen opened #208 "deltas in summary not resetting after 12 midnight"
However deltas in table got reset.

https://photos.app.goo.gl/ZTJBoiRSgkYVwCmAA

[2020-03-26 19:28] Shashwat-Goyal commented on #174
@jeremyphilemon This is fixed and here is the PR:
https://github.com/covid19india/covid19india-react/pull/207

Please review the live deployed link:
https://covid19india-react-66o0srlls.now.sh/

[2020-03-26 20:51] archana900 opened #209 "Population :: Add a new column against each state mentioning the population or Cases/1M population"
Population :: Add a new column against each state mentioning the population or Cases/1M population.

This will help understand how severe hit a state is.

[2020-03-26 21:58] monk1337 opened #210 "Need help to build reportfake.org | to stop fake Coronavirus news and messages"
Hello guys,

This is Aaditya, I am an A.I Researcher and backend developer. I am looking front-end help for website reportfake.org.

**What is more dangerous than Coronavirus?**

This time, everyone in India following Social Distancing and Self-Quarantine to break the chain and help to stop Coronavirus. People are getting information and updates only from social media like Facebook and Whatsapp bu

[2020-03-26 22:31] rishiraje commented on #136
@s-naveen Looks very nice. I especially like the fact that all the graphs are consolidated and the dates are shown when you click on the graph

[2020-03-27 00:26] Invoker96 commented on #204
@robustTechie Data is not available for active cases, recovered cases, and deceased cases when I hit districtWise api 'https://api.covid19india.org/state_district_wise.json'.
Once available please assign this issue to me.

[2020-03-27 01:06] JunaidBabu commented on #210
Not relevant to the current project.

[2020-03-27 01:06] #210 closed, assigned to nobody

[2020-03-27 01:09] JunaidBabu commented on #208
Probably an issue with the sheet @sudevschiz @mohammedshafeeqet

delta in table is generated by api, I've made sure that's updated at 00:00 IST

[2020-03-27 01:11] JunaidBabu commented on #204
We do not have this info at district level. Will implement this once we have such granular information from the govt.

[2020-03-27 01:11] #204 closed, assigned to nobody

[2020-03-27 01:39] mohammedshafeeqet commented on #208
@s-naveen deltas for the total fields right? They reset manually till now. It is fixed at the moment.
However, I am writing a script to automate it. Testing it now. Should be on production from tomorrow.

[2020-03-27 02:29] JunaidBabu commented on #178
Closed with #196

[2020-03-27 02:29] #178 closed, assigned to nobody

[2020-03-27 02:31] JunaidBabu commented on #117
Not really useful

[2020-03-27 02:31] #117 closed, assigned to nobody

[2020-03-27 02:33] JunaidBabu commented on #185
Fixed f1afbc1941f56f16ada6406bb7b55521bc86af86

[2020-03-27 02:33] #185 closed, assigned to nobody

[2020-03-27 02:34] JunaidBabu commented on #203
Duplicate of #13

[2020-03-27 02:34] #203 closed, assigned to nobody

[2020-03-27 03:00] sudevschiz commented on #205
We have done lot of initiative (Adding FAQ, mentioning that this is a crowdsourced website, replying to key people in Twitter) to get this message across.

That's enough time and effort spent on that. So, not change for now. Thanks for notifying!

[2020-03-27 03:00] #205 closed, assigned to sudevschiz

[2020-03-27 03:02] sudevschiz commented on #190
All this could probably go into a "Deep-Dive" tab. Could be a nice separate project on its own.

PR welcome.

[2020-03-27 03:18] krishnasen2401 commented on #191
It's was written as dataset source at https://innovate.mygov.in/covid19/
That why's I was asking for read access

[2020-03-27 04:16] sudevschiz opened #213 "Last updated time is incorrect across timezones"
**Describe the bug**
Relative last update time should be the same value across all timezones in the world. Users from US report "Last updated time" to be off by about 17 hours.

**To Reproduce**
Use geopeeker to load from a different location and send a screenshot (But surprisingly it didn't work for our website though)

**Expected behavior**
All relative times across regions should be the same

*

[2020-03-27 04:30] dakshshah96 opened #214 "Recognize all contributors"
**Is your feature request related to a problem? Please describe.**
There are a ton of amazing people working on this project and it's only fair to recognize the efforts of each and every one of them.

**Describe the solution you'd like**
I propose to use the awesome [All Contributors](https://allcontributors.org/) to automagically manage a table of all contributors in the project README.

[2020-03-27 04:31] manigandan-dorairaj opened #215 "Banner chart showing downward trend when day starts"
When the day starts, the banner charts are showing downward trend

**To Reproduce**
Check when the day starts
![image](https://user-images.githubusercontent.com/53426835/77721681-8c5ecf00-7011-11ea-992c-9016919b5409.png)

**Expected behavior**
The end point of the graph should stay as it was when the day ends and continue to update only when new cases gets added.

**Desktop (please complete the fo

[2020-03-27 04:33] iam-hitesh commented on #209
May I fix this issue @JunaidBabu ?

[2020-03-27 04:52] dprodigalson commented on #209
statewise google sheet is not having overall population information...This census link may be helpful here.

[Statewise Overall Population Census Link](https://data.gov.in/resources/stateut-wise-overall-population-st-population-percentage-sts-indiastate-total-population)

[2020-03-27 04:58] JunaidBabu commented on #214
@dakshshah96 thank you for raising this. Could you help with this?

[2020-03-27 05:05] dakshshah96 commented on #214
Would love to help! Don't have the necessary permissions for installing the bot though.

[2020-03-27 06:20] 23f2005514 opened #217 "Daily Spread Trends not reflecting Current Date"
The Daily spread trends is expected to reflect the current date's situation. The same is not reflected
1. Go to Spread Trends.
2. Click on Daily
3. The Data for 26 Mar 2020 is only reflected and not 27 Mar 2020.

The Data for 27 Mar 2020 needs to be reflected.

![image](https://user-images.githubusercontent.com/32433336/77727840-2da15180-7021-11ea-8d21-85e429dd5d4f.png)

[2020-03-27 06:24] 23f2005514 opened #218 "The count under confirmed cases shows -8 in spread Trends"
The increase in confirmed cases needs to be reflected as "+num"

Steps to reproduce the behavior:
1. Go to Spread Trends
2. Click on Daily Trends
3. The confirmed cases shows "78-8"

It should show "+num".

![image](https://user-images.githubusercontent.com/32433336/77728071-b91ae280-7021-11ea-807d-9190c3762942.png)

[2020-03-27 06:31] namahtuog opened #219 "State-wise spread trends"
The states in India have become pretty much isolated from each other, post lockdown - essentially making them different communities/entities combating Covid-19. Also different states are deploying different strategies and measures in combating Covid - like intensity of testing, quarantine, patient contact tracking etc.

Hence, the countrywide "SPREAD TRENDS" chart doesn't give a meaningful indicat

[2020-03-27 06:35] sudevschiz commented on #219
@mohammedshafeeqet
Need statewise cases time series for plotting this.

A Google script to compute the Confirmed, Recovered, Deceased, Active values for all states at 00:01 hours should do the trick?

[2020-03-27 06:52] abhinav098 opened #220 "Color change for active and confirmed cases."
I feel color for **active cases** should be **red** and for **confirmed** it should be something else.

Refer screenshot for the same. I can even pick this issue myself to fix.

Let me know in the comment section.

<img width="1280" alt="Screenshot 2020-03-27 at 12 21 33" src="https://user-images.githubusercontent.com/26408955/77729780-84a92580-7025-11ea-9769-1c3071f9ecc0.png">

[2020-03-27 06:55] #213 closed, assigned to JunaidBabu, jeremyphilemon

[2020-03-27 06:58] #81 closed, assigned to sibeshkar, someshkar

[2020-03-27 07:02] #147 closed, assigned to nobody

[2020-03-27 07:04] #87 closed, assigned to sibeshkar, someshkar

[2020-03-27 07:08] krishnasen2401 opened #223 "data mismatch"
when i have the accessed the api at
https://api.rootnet.in/covid19-in/unofficial/covid19india.org and https://api.covid19india.org/raw_data.json

this was the details present
![image](https://user-images.githubusercontent.com/13378434/77730709-53c9f000-7027-11ea-9d63-d2c2ea176e1a.png)

were as in the react website it shows as

![image](https://user-images.githubusercontent.com/13378434/77730780-7c

[2020-03-27 07:08] rajathsn opened #224 "Refresh webpage cause it to loose UI design"
**Describe the bug**
Refreshing cluster, helpful links and FAQ page cause the webpage to reload with unaligned framework.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any browser and any operating system'
2. Click on ‘refresh'
3. You will see that webpage loses it’s UI framework

**Screenshots**
1. When loaded by clicking tab
![9999E480-D594-4E78-B4F9-4526EB9A3454](https://user-ima

[2020-03-27 07:09] krishnasen2401 commented on #223
it was done in power bi itself and data is auto categorized in matrix

[2020-03-27 07:14] krishnasen2401 commented on #223
what does migrated means

[2020-03-27 07:16] shuklaayush commented on #218
I don't think this is a bug. The new cases earlier were 86 and the next they reduced to 78. Hence, -8.

[2020-03-27 07:27] JunaidBabu commented on #224
@sudevschiz I think we should remove the cluster link. it's not able to perform well with the latest numbers

[2020-03-27 07:28] rebelgiri commented on #224
Clusters tab has a refresh issue. I have just verified in Desktop Firefox browser Issue is reproducible.
Same behavior for Clusters, Helpful Links  and FAQ  Tabs

[2020-03-27 07:29] abhishekakade commented on #224
Clusters page when refreshed, gets a 404 on CSS file.
`GET https://www.covid19india.org/static/css/main.1a275089.chunk.css net::ERR_ABORTED 404 (Not Found)`

[2020-03-27 07:39] JunaidBabu commented on #223
Some state's have manually entered data in the API. this is not a bug related to this project

[2020-03-27 07:39] #223 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 07:43] JunaidBabu commented on #218
Not bug.

[2020-03-27 07:43] #218 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 07:44] JunaidBabu commented on #217
This is by design. Daily delta can be seen on top anyway.

[2020-03-27 07:44] #217 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 07:45] krishnasen2401 commented on #223
Does the website use the same api in your i.e raw_data.json or a different one??

[2020-03-27 07:54] JunaidBabu commented on #191
Not a bug

[2020-03-27 07:54] #191 closed, assigned to nobody

[2020-03-27 07:54] krishnasen2401 opened #225 "In Regards to issue 223 about data mismatch"
are you saying that the api used by the covid19india-react is not https://api.covid19india.org/raw_data.json but a different one???

[2020-03-27 07:57] JunaidBabu commented on #188
This was an issue with the data itself. We do not have the statewise data for active/recovered/deceased. So decided not to show them in statewise table.

Closing this issue.

[2020-03-27 07:57] #188 closed, assigned to nobody

[2020-03-27 08:02] 23f2005514 opened #226 "Covid 19 Tracker Active count"
The Active count on the top of the dash board shows "-1" instead of the "+num".

Steps to reproduce the behavior:
1. Go to the dashboard
2. The Active count on the top of the dash board is reflected as "-1".

The Active count should reflect as  increase as "+num"
![image](https://user-images.githubusercontent.com/32433336/77734824-6c3e0880-702f-11ea-8eee-114bc26b3892.png)

[2020-03-27 08:23] Rajanpandey commented on #220
Can I do this?

[2020-03-27 08:30] shuklaayush commented on #226
The numbers in brackets reflect the daily change where:
Active = Confirmed - Recovered - Deceased.

Right now, this is (18 - 17 - 2 = -1). Hence the negative value. Don't think this is a bug.

[2020-03-27 08:48] Rajanpandey commented on #220
@abhinav098 Done. Swapped color in level, minigraph, table, choropleth, and spread trends.
PR: https://github.com/covid19india/covid19india-react/pull/229

[2020-03-27 08:55] suryaceg commented on #13
One idea for the interaction would be.

Desktop:
Hover on state > Show a small tooltip along with the state % "View district-wise breakup" > On click > Expose the district > Back button as shown to go back to State map

Mobile:
On top > Show state name & data as shown in Issue #90 & show a call-to-action "View district-wise breakup" > On click > Expose the district > Back button as shown to back t

[2020-03-27 08:59] ghost commented on #13
Can I also work on this?

[2020-03-27 09:43] JunaidBabu commented on #152
Not an issue we can resolve at the moment

[2020-03-27 09:43] #152 closed, assigned to nobody

[2020-03-27 10:02] JunaidBabu commented on #223
The site uses a cleaner version of raw_data.
https://api.covid19india.org/data.json

[2020-03-27 10:08] JunaidBabu commented on #226
@shuklaayush is right. But to remove any further confusion, we've removed the field from website
d94e2be52555e2d5a0ec1ccf5bd47eaf2ce9c4dd

[2020-03-27 10:08] #226 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 10:09] #225 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 10:10] JunaidBabu commented on #168
Thanks for the report. This issue is being discussed and worked on here #168

Closing this item

[2020-03-27 10:10] #168 closed, assigned to nobody

[2020-03-27 10:33] JunaidBabu commented on #136
@s-naveen this is really nice.. is there a PR for this?

https://covid19-india-react-git-charts.s-naveen.now.sh/

[2020-03-27 11:09] jeremyphilemon commented on #215
Patched! Thank you for reporting :)

[2020-03-27 11:09] #215 closed, assigned to jeremyphilemon

[2020-03-27 11:34] Thedijje opened #231 "Direct access to URL /clusters not available or shows blank page"
**Describe the bug**
When navigation to `/clusters` from home page, it works fine. If i share someone direct URL `/clusters`, it either shows a page with lots of errors and most of the time its just blank page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.covid19india.org/clusters'

2. See the blank page.
3. If navigated through home page, it works absolutely fine.

**E

[2020-03-27 11:41] Nijanthane commented on #21
Regionalization would be a good thing to have!

[2020-03-27 12:28] shuklaayush commented on #231
Seems to be working fine for me. Can you recheck?

[2020-03-27 12:34] shahrk commented on #121
Already added PR #164

[2020-03-27 12:34] #121 closed, assigned to nobody

[2020-03-27 13:20] syntnc commented on #231
Checked with the same specs, wffm. Please recheck this issue.

[2020-03-27 13:23] Rajesh-Narayanappa87 commented on #188
oh man. My first ever PR..  :(

[2020-03-27 13:49] Rajesh-Narayanappa87 commented on #231
Same to me as well.. though there are some warnings, loading isn't halted..

[2020-03-27 13:53] shuklaayush commented on #231
Closing this for now. Will reopen if the issue resurfaces.

[2020-03-27 13:53] #231 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 13:54] vairavlaksh opened #233 "Some UTs are missing"
**Describe the bug**
Union Territories like Chandigarh, Lakshwadeep, Dadra and Nagar Haveli and Daman and Diu are missing in the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.covid19india.org'
2. See the above mentioned UTs are not in the list

**Expected behavior**
It has to show all the states and UTs of India

**Desktop (please complete the following information

[2020-03-27 13:59] Rajesh-Narayanappa87 commented on #157
I want to take it, but I am unable to find bug.. could you add more context to it pls.

[2020-03-27 14:04] dhruv10 opened #234 "Idea: Integrate the globe visualization"
**Is your feature request related to a problem? Please describe.**
Currently, `covid19india` doesn't depict the seriousness of the problem in a visual manner which should be easy to understand by an average joe. Exponential graphs are not much relatable to a wider audience especially with rural areas or non-mathematical minds, etc.

**Describe the solution you'd like**
I would like to integrate an

[2020-03-27 14:13] shivamkansal commented on #234
Nice Suggestion.
The visualization of data will be a great help to make this project engaging and interesting.
Comparisons in the increase of cases wrt the population in a region also help to analyze the scenario the situation.

[2020-03-27 14:17] Rajesh-Narayanappa87 commented on #233
@vairavlaksh : Chandigarh is showing up in list and rest are not showing because api is not having data.
Not a front end issue to fix...

[2020-03-27 14:27] sudevschiz commented on #234
Hi, Great suggestion! It would be so cool.

However, this would be out of our scope. Please feel free to use our data to work on this. Thank you.

Closing.

[2020-03-27 14:27] #234 closed, assigned to JunaidBabu, sudevschiz

[2020-03-27 14:29] sudevschiz commented on #233
They are missing in the list because they don't have any confirmed cases yet.

I confirmed that they are part of the larger list in the Sheet. Closing.

[2020-03-27 14:29] #233 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 14:31] sudevschiz commented on #224
@someshkar please suggest your roadmap. We can take the link off for development if more work is needed on the cluster viz.

[2020-03-27 14:36] sudevschiz commented on #220
I vote No for this change. There is no solid value add in changing the colors, especially now that the colors have been established.
@JunaidBabu  OR @jeremyphilemon make the final call.

[2020-03-27 14:36] unmesh-shukla opened #235 "Why is the change in Number of Active Cases not displayed?"
https://github.com/covid19india/covid19india-react/blob/309c48f613c51b5cc2222b78587df20844977dcf/src/components/level.js#L46

[2020-03-27 14:42] someshkar commented on #224
@sudevschiz As for the performance issue, we have some ideas on how to fix them (TLDR: run as many functions server-side as possible, just use frontend to display nodes instead of calculating positions too)

Moreover, the refresh issue on the clusters tab that @rebelgiri mentioned doesn't seem to be reproducible for me? Can you send a screenshot? Also, the issue seems to be for the Clusters tab +

[2020-03-27 14:46] nischalsamji opened #236 "Alignment of the Active/ Confirmed/ Deceased/ Recovered on main page broken."
![image](https://user-images.githubusercontent.com/887091/77767877-b5aa4a00-7067-11ea-91f2-d6799967d0ab.png)

The first two categories appear higher than the next two.

[2020-03-27 14:50] Rajanpandey commented on #220
Personally I feel that swapping the colors makes sense. The UI makes more sense and looks better when active cases are red, recovered cases are green and deceased cases are grey.
The changes in my PR has fixed the color scheme throughout the app so it has regained uniformity again.
The rest is your call.

[2020-03-27 14:53] Rajanpandey commented on #235
I think it might be related to this: https://github.com/covid19india/covid19india-react/issues/168

[2020-03-27 14:55] shuklaayush commented on #235
Please refer #226. It was intentionally removed since it was causing a bit of confusion. Closing.

[2020-03-27 14:55] #235 closed, assigned to nobody

[2020-03-27 15:01] shuklaayush commented on #236
I'm not sure what you're referring to. Seems fine to me.

![image](https://user-images.githubusercontent.com/27727946/77769406-cc51a080-7069-11ea-8206-56f860eb3109.png)

[2020-03-27 15:06] Invoker96 commented on #226
@shuklaayush Anyone working to correct this one?

[2020-03-27 15:18] nischalsamji commented on #236
It looks okay now. My be I was zoomed in/ out.
![image](https://user-images.githubusercontent.com/887091/77771107-48e57e80-706c-11ea-96fb-0d138c6651c9.png)

[2020-03-27 15:18] #236 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 15:18] shuklaayush commented on #226
Hi @Invoker96. It was decided that we skip the change in active cases on the website since it was confusing some people. So, as far as we're concerned, there's nothing to correct.

[2020-03-27 15:56] rajathsn commented on #224
Seems like issue is fixed. Now On refresh the page displays content properly

[2020-03-27 16:07] salmandaw commented on #106
This is definitely a must have, this metric can be used to compare ourselves to others in a more accurate way rather than cases per million since others are testing more and we aren't as much . Positive / 1000 tests would definitely be able to give the public some much needed clarity

[2020-03-27 16:12] rebelgiri commented on #224
Seems issue is fixed, not able to reproduce on Windows, Firefox version 74.0 (64-bit)
Can we close the issue?

[2020-03-27 16:18] rebelgiri commented on #176
Issue seems to fixed. Can we close it?

![image](https://user-images.githubusercontent.com/18268525/77777023-eb096480-7074-11ea-927d-d13b6292aa9b.png)

[2020-03-27 16:29] rajathsn commented on #224
Yes, since the issue is fixed, I’m closing this issue.

[2020-03-27 16:29] #224 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 16:37] lavac commented on #220
Is this bug still open? i see @Rajanpandey said he has already fixed it in the comment. Let me know if it is need to be fixed.

[2020-03-27 16:49] JunaidBabu commented on #25
Done

[2020-03-27 16:49] #25 closed, assigned to jeremyphilemon

[2020-03-27 16:59] s-naveen commented on #136
@JunaidBabu

https://github.com/covid19india/covid19india-react/pull/237

[2020-03-27 17:08] ar363 opened #238 "website doesn't scale properly in tablet/pc screens"
The website doesn't scale properly in tablet/pc screens

Here are screenshots from 10.1 inch tab:-

![Screenshot_2020-03-27-22-33-11](https://user-images.githubusercontent.com/49993491/77781377-77b72100-707b-11ea-88fe-a80505a25d0c.png)

![Screenshot_2020-03-27-22-32-46](https://user-images.githubusercontent.com/49993491/77781384-7a197b00-707b-11ea-96bb-f104f6371089.png)

I can fork the project and

[2020-03-27 17:11] WeileiZeng opened #239 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the Open-Source-COVID-19 page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are al

[2020-03-27 17:11] Rajanpandey commented on #220
@lavac Yes it's done and a PR has been created.

[2020-03-27 17:19] shuklaayush commented on #238
Related to #200. Can you confirm if the same happens in portrait orientation as well? And whether it fixes with a refresh? Thanks!

[2020-03-27 17:23] gosharmaa opened #240 "Upon changing the filter the incorrect state is displayed expanded"
**Describe the bug**
If state (let's say at position 3 ) is expanded by user and after that a filter is added > Incorrect state is displayed as expanded

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on any state to expand let's say the state on 3rd Position
3. Change the order by applying filter ( let's say by recovered )
4. Notice that the order of states have cha

[2020-03-27 17:31] Nitin96Bisht opened #241 "npm i && npm start does not work in windows"
**Describe the bug**
When I `npm i && npm start` as mentioned in README file. It gives error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone project
2. Go to project directory
3. Run `npm i && npm start`
4. See error

**Expected behavior**
It should run the application.

**Screenshots**
![image](https://user-images.githubusercontent.com/23516674/77782032-a255a980-707c-11ea-93a7-cfbfb4

[2020-03-27 17:41] s-naveen commented on #241
Try running this command then start (haven't tested it myself)

npm --add-python-to-path='true' --debug install --global windows-build-tools

[2020-03-27 18:15] shuklaayush commented on #240
Nice catch! Though it seems a bit more complicated than the state at the same index being expanded.

![Peek 2020-03-27 23-43](https://user-images.githubusercontent.com/27727946/77787078-f06eab00-7084-11ea-9dc5-d0587d04f397.gif)

[2020-03-27 18:18] sadarshannaiynar commented on #240
Can I work on this?

[2020-03-27 18:25] parthpatel1470 commented on #219
Can we do a thing as when we hover to a state it shows most affect city in that state??
It could possible spread more awareness among for where not to go in this situation

[2020-03-27 18:27] rajathsn commented on #176
Fixed

[2020-03-27 18:27] #176 closed, assigned to jeremyphilemon

[2020-03-27 18:29] parthpatel1470 commented on #194
hey, I can do this.

[2020-03-27 18:41] gosharmaa opened #243 "Mobile: UI : Text Overlapping when ANDAMAN AND NICOBAR ISLANDS is selected"
**Describe the bug**
Header 'Confirmed Cases' overlaps to the placeholder of Deceased cases when state/UT is selected as ANDAMAN AND NICOBAR ISLANDS

**To Reproduce**
Steps to reproduce the behavior:
1. Select ANDAMAN AND NICOBAR ISLANDS (It's pretty hard to select the Andaman and Nicobar in mobile phone - try to zoom and select)
2. Notice the header 'Confirmed Cases' overlaps to the placeholder o

[2020-03-27 18:45] sainak opened #244 "implement a symptom checker and add links to the helpful links section"
**Is your feature request related to a problem? Please describe.**
add a symptom checker so that the users can check if the require examination

**Describe the solution you'd like**
implement a symtom checker than can evaluate the result based on the answers of the users
example:
https://covid.bhaarat.ai/
https://www.apple.com/covid19/

**Describe alternatives you've considered**
for now add the l

[2020-03-27 19:02] Nitin96Bisht commented on #241
@s-naveen it does not work. Can somebody help me out? I want to be part of this and contribute.

[2020-03-27 19:08] s-naveen commented on #241
@Nitin96Bisht Its probably something do with python installation in your system. Its either not installed or environment variable not set.

[2020-03-27 19:10] #111 closed, assigned to nobody

[2020-03-27 19:14] #69 closed, assigned to nobody

[2020-03-27 19:17] s-naveen commented on #32
#159

[2020-03-27 19:23] #98 closed, assigned to nobody

[2020-03-27 19:40] rajathsn commented on #96
GitHub link for the code and apk https://github.com/rajathsn/covid19

[2020-03-27 20:07] d3v7 commented on #241
Right click on my computer (THIS PC) > Advanced system settings > In Advanced Tab > Environment Variables > In system variables look for the variable PATH > click Edit > click New then Add your python installed location
e.g: C:\Program Files (x86)\Python37-32\

[2020-03-27 20:09] kiku511 commented on #243
### Suggestion:
Move status boxes under the region name in a row.

####Mock:

**Current Behavior**
![image](https://user-images.githubusercontent.com/22063646/77796265-2fbcdd80-702c-11ea-8e7b-7220ea43910d.png)

**Proposed Behavior**
![image](https://user-images.githubusercontent.com/22063646/77796201-1451d280-702c-11ea-9485-c7f6a3318b08.png)

I can try the fix and send the PR

[2020-03-27 20:20] Rajanpandey commented on #241
Duplicate of https://github.com/covid19india/covid19india-react/issues/171
Already fixed with: https://github.com/covid19india/covid19india-react/pull/177

[2020-03-27 20:23] gosharmaa opened #247 "Active Recovered Deceased count is not displayed after state is selected"
**Describe the bug**
Active Recovered Deceased count is not displayed after state is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Maharashtra in the map
2. Click on different cities
3. Notice that Active Recovered Deceased count is not getting updated

**Expected behavior**
Information should get updated correctly

**Screenshots**
![Screenshot_20200328-015015](https://user-

[2020-03-27 20:26] Rajanpandey opened #248 "Lots of Pull Requests are left to be reviewed and merged."
Problems arising due to PRs being unchecked:
1. We are getting duplicate issues for old issues whose PRs are already created but not merged.
2. Someone else is creating a new PR for the duplicate issue even though one PR is already created for the same issue which was raised originally hence redundant work is being done.
3. Merge conflicts are arising every day in the old PRs which is a big pain.

[2020-03-27 20:36] d3v7 commented on #241
I am getting this error

PORT' is not recognized as an internal or ex operable program or batch file.

npm ERR! code ELIFECYCLE npm ERR! errno 1 npm ERR! Covid@e.1.0 Sart: `PORT=3001 react!

npm ERR! Exit status 1 npm ERR!

npm ERR! Failed at the covid@e.1.0 start scri npm ERR! This is probably not a problem with

[2020-03-27 20:40] Rajanpandey commented on #220
See how it looks: https://covid19india-react-i10jsp90z.now.sh/

[2020-03-27 21:26] manugupta10 commented on #244
@aakash714 Please review #250

[2020-03-27 21:32] sainak commented on #244
Yeah it's great

[2020-03-27 22:31] jeremyphilemon commented on #13
Closed! 🎉 #88

[2020-03-27 22:31] #13 closed, assigned to manojVivek

[2020-03-27 22:44] jeremyphilemon commented on #90
Fixed!

[2020-03-27 22:44] #90 closed, assigned to nobody

[2020-03-27 22:57] jeremyphilemon commented on #247
The district map support was a recent feature addition! We're only showing "confirmed" data as of now hence the "NA", but once we're sure with our datapoints at a district level granularity, we'll add those datapoints.

@JunaidBabu @sudevschiz word on when we'll be supporting district datapoints?

[2020-03-27 22:59] jeremyphilemon commented on #2
Poll:

<img width="294" alt="Screen Shot 2020-03-28 at 1 58 36 AM" src="https://user-images.githubusercontent.com/17938322/77807056-a9d67c00-7097-11ea-9568-3042bd03edb3.png">

[2020-03-27 22:59] #2 closed, assigned to nobody

[2020-03-27 23:00] jeremyphilemon commented on #8
We're not actively working on supporting social icons on the frontpage at the moment.

[2020-03-27 23:00] #8 closed, assigned to nobody

[2020-03-27 23:02] jeremyphilemon commented on #9
All the data that we can safely and responsibly show on the website are being shown at the moment. When we're absolutely sure about the data we have in hand, we won't hesitate to put them out!

[2020-03-27 23:02] #9 closed, assigned to nobody

[2020-03-27 23:06] jeremyphilemon commented on #15
We'd like it to be that way, less clutter and more information

It's more visible now since the addition of the banner

Fixed!

Please direct issues about the cluster to https://github.com/covid19india/covid19india-network

We feel it's better to have the helpful link as a separate page

Thanks!

[2020-03-27 23:06] #15 closed, assigned to nobody

[2020-03-27 23:10] jeremyphilemon commented on #23
The graphs already present pretty much do the job, I understand they may, however, not be on the same graph itself. This maybe a thing we implement in the future, but not at present. Thanks!

[2020-03-27 23:10] #23 closed, assigned to nobody

[2020-03-27 23:12] #30 closed, assigned to nobody

[2020-03-27 23:19] jeremyphilemon commented on #243
Fixed!

[2020-03-27 23:19] #243 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 23:24] jeremyphilemon commented on #241
Closing cause #177. Feel free to reopen the issue if you're still facing issues.

[2020-03-27 23:24] #241 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-27 23:28] jeremyphilemon commented on #239
Hey @WeileiZeng, thank you for the mention :)

[2020-03-27 23:28] #239 closed, assigned to nobody

[2020-03-27 23:35] #240 closed, assigned to JunaidBabu, sudevschiz, sadarshannaiynar, jeremyphilemon

[2020-03-27 23:37] jeremyphilemon commented on #220
We've established the colors and we can't confuse the users now. At this point we've defined what the colors mean, so we don't have to worry about what they usually mean.

[2020-03-27 23:37] #220 closed, assigned to JunaidBabu, sudevschiz

[2020-03-27 23:46] #194 closed, assigned to nobody

[2020-03-28 00:51] rohitpotato opened #252 "Use redux or react context for state management."
After seeing the source code, it is quite obvious that a lot of prop drilling is going on and functions are being passed from component to component. This will become a lot trickier when the project grows.

I sugggest a battle tested state management solution for the project. Redux or Context maybe?

[2020-03-28 01:42] meghprkh opened #253 "Issues with district names"
**Describe the bug**
District names of some districts are different in the maps and the data that we have. E.g Bangalore, Bengaluru; Mysore, Mysuru

**To Reproduce**
Steps to reproduce the behavior:
1. Go to site
2. Click on Karnataka in the map
3. See that neither of Bangalore or Mysore are coloured and have 0 cases

**Expected behavior**
They have more than zero cases and hence must be coloured

[2020-03-28 01:56] jeremyphilemon opened #254 "Districts of Jammu and Kashmir, and Ladakh are missing"
Self explanatory :)

[2020-03-28 02:01] jeremyphilemon commented on #11
Too bad :/

[2020-03-28 02:23] #189 closed, assigned to nobody

[2020-03-28 02:26] #119 closed, assigned to nobody

[2020-03-28 02:36] meghprkh commented on #253
As of the current data from the API, the following districts are missing in the maps:

[code]

(Tiny ugly script: might come handy later)
[code]

[2020-03-28 02:39] JunaidBabu commented on #157
Different project. Report the issue here https://github.com/someshkar/covid19india-cluster

Closing.

[2020-03-28 02:39] #157 closed, assigned to someshkar

[2020-03-28 02:47] dpnkrpl opened #255 "Tapping on states giving district view directly leaving no total count for the state"
Tapping any state on the graph taking us to the direct district wise counts. It is almost impossible to see the total count (state wise) from the svg map itself (in mobile devices).

[2020-03-28 02:47] JunaidBabu commented on #96
Not relevant. Closing.

[2020-03-28 02:47] #96 closed, assigned to nobody

[2020-03-28 02:52] JunaidBabu commented on #238
Clusters is a different project: https://github.com/someshkar/covid19india-cluster
Please report there

[2020-03-28 02:52] #238 closed, assigned to JunaidBabu, sudevschiz

[2020-03-28 02:53] JunaidBabu commented on #105
Clusters is a different project https://github.com/someshkar/covid19india-cluster

Closing this

[2020-03-28 02:53] #105 closed, assigned to nobody

[2020-03-28 03:00] #77 closed, assigned to nobody

[2020-03-28 03:05] JunaidBabu commented on #89
@sudevschiz do we have the data for this?

[2020-03-28 03:13] JunaidBabu commented on #80
This is under consideration. We do not have the data ready for this rn

[2020-03-28 03:20] meghprkh commented on #253
https://github.com/covid19india/covid19india-react/pull/256

[2020-03-28 03:30] jeremyphilemon commented on #254
Assigned to @guneetnarula

[2020-03-28 03:37] KrishnaPravin commented on #248
#161

[2020-03-28 03:46] KrishnaPravin commented on #248
@JunaidBabu  @jeremyphilemon  @sudevschiz
- Please add what each label 🏷means either in root README or in CONTRIBUTING. So that contributors can pick the right issue ✅to work on.
- Please mention UI enhancements that are not relevant to the core purpose  💝of the site will not be merged. So that contributors would spend their time more on fixing the existing issues 🔍rather than applying their creat

[2020-03-28 04:03] jeremyphilemon commented on #253
Really appreciate the well thought out issue!

Could you please elaborate more on this? Like if it's a group, how would we show that on the map? 🤔

[2020-03-28 04:06] jeremyphilemon commented on #209
Can we get data for population in respective districts we're displaying? If so, instead of cluttering the state rows with another datapoint, the district table have empty slots that can be filled.

Thoughts on the availability of district wise population?

[2020-03-28 04:59] jeremyphilemon commented on #188
@Rajesh-Narayanappa87 Hey, that's alright! I've had many PRs closed too during my first try but it's always been a learning experience! Hoping to see more PRs opened from you, head over to issues and feel free to open one from the accepted issues :)

[2020-03-28 05:29] UdayMallikarjun opened #258 "SEO: Page title changes for all pages"
Suggestions:
**Index page:** Coronavirus cases live dashboard | India
**Clusters:** Coronavirus spread in India | Visual Map
**Helpful Links:** Official Support helpline & useful links | Coronavirus
**FAQ:** FAQs | covid19india

Whoever is working on this, can also add hreflang tag in <head>

[2020-03-28 05:36] UdayMallikarjun opened #259 "SEO Enhancement: Adding alt text attribute to images"
Suggestions:
**Logo:** covid19india.org logo | Coronavirus cases live dashboard
**Clusters:**
1. Active: Coronavirus active case India
2. Recovered: Coronavirus recovered case India
3. Deceased: Coronavirus death case India

[2020-03-28 05:36] parthpatel1470 opened #260 "Can we do a thing as when we hover to a state it shows most affect city in that state?? It could possible spread more awareness among for where not to go in this situation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-28 05:45] UdayMallikarjun opened #261 "SEO: Meta tags optimisation & Schema markup addition"
We have to change the meta details of each page to match & optimize for search queries. Similarly, we have to add schema markup so that search engines can know more about our site and pages.

Whoever is working on this issue can pm on telegram for content. We will try to update the content here before that.

TG username: uday7darkrai

[2020-03-28 05:48] UdayMallikarjun opened #262 "Submitting page to google for crawling/indexing + adding sitemap"
We have to add the sitemap and submit the site. We can also ping google for crawling every time there is a major update.

More details: https://blog.hubspot.com/marketing/submit-website-google

[2020-03-28 06:00] ar363 commented on #238
The issue gets fixed in potrait orientation. It remains same after refresh and in other landscape devices

[2020-03-28 06:02] gauravumrani opened #263 "Site not working"
**Describe the bug**
When you open the site https://www.covid19india.org/, it does not open

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.covid19india.org/

**Expected behavior**
It should work, but the site is not loading.

**Screenshots**
![Screenshot 2020-03-28 at 11 30 09 AM](https://user-images.githubusercontent.com/17958457/77816284-92bf7a80-70e7-11ea-8531-df6e39e5c

[2020-03-28 06:09] gauravumrani commented on #263
It is working, It looks like it was on maintenance mode without any message

[2020-03-28 06:09] #263 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 07:00] guneetnarula commented on #254
Question for whoever is working on the district visualizations: I am right now working on / cleaning up the attributes, are these required: "cartodb_id", "censuscode", "st_cen_cd" and "dt_cen_cd" or do we just need the "district" and "st_nm" attributes?

[2020-03-28 07:39] delsin474 commented on #262
Is anyone working on this ?..If not you can assign it to me

[2020-03-28 07:58] #248 closed, assigned to JunaidBabu, sudevschiz

[2020-03-28 08:41] #255 closed, assigned to shuklaayush

[2020-03-28 08:52] JunaidBabu commented on #247
Not any time soon. We should remove Active/Recovered/Decease after selecting state

[2020-03-28 08:56] shuklaayush opened #270 "Crash on opening AP district view on mobile"
Browser crashes when opening district view of Andhra Pradesh on mobile (Chrome Android)

[2020-03-28 08:59] #254 closed, assigned to nobody

[2020-03-28 09:26] ikartik90 opened #272 ""Admitted", "Indigo" etc. Showing Up As Travel Clusters Among Cities and Countries"
**Describe the bug**
Certain airlines such as "Indigo", "Emirates" and "Air Arabia G9", and words like "Admitted" and "Arrived" are showing up on the Travel Cluster as International Destination Nodes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'covid19india.org'
2. Click on 'Clusters' tab
3. Select 'Travel' cluster filter
4. You would notice the above mentioned words showing up as

[2020-03-28 09:47] ikartik90 opened #276 "Countries and Their Acronym Aliases Showing Up As Separate Nodes on Graph"
**Describe the bug**
Countries that are also addressed by their acronyms, such as UK for the United Kingdom are showing up as two different international destination nodes on the travel cluster graph. You can see "UK" and "United Kingdom" as two separate nodes in the screenshot below. Similarly, "US" and "USA" are showing up as two separate international destination nodes on the graph. This is lea

[2020-03-28 10:00] #270 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 10:01] srikrishnamoorthis opened #278 "Push Notification for desired state / district"
**Is your feature request related to a problem? Please describe.**
 There are many users who ends up launching our app with the need to search for the same district/state again for the updated numbers. create a `web push` notifications through `service workers` that keeps notifying the users on a specified interval?
We could get the preferred state/ district and the interval after which he wants t

[2020-03-28 10:02] JunaidBabu commented on #276
Please report to https://github.com/someshkar/covid19india-cluster

[2020-03-28 10:02] #276 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 10:02] JunaidBabu commented on #272
Please report to https://github.com/someshkar/covid19india-cluster

[2020-03-28 10:02] #272 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 10:11] mananthprabhu opened #279 "Incorrect data in Karnataka district Mysuru Table vs Map"
**Describe the bug**
A clear and concise description of what the bug is.
Name of district in the main table says Mysuru. And shows the data as 3 confirmed.
Karnataka Map shows the district as Mysore and data is shown as 0
This seems to be adefect
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Main table click on Karnataka
2. Check the data for district specifically Mysuru
3. Click on K

[2020-03-28 10:11] harshind opened #280 "Age Categorisation"
Categorize cases based on age group including death toll

[2020-03-28 10:20] shuklaayush opened #281 "Districts not highlighted on map while hovering table"
As in the case of states, districts should also be highlighted while hovering over their table entries.

[2020-03-28 10:25] JunaidBabu commented on #260
Could you explain clearly what you want to see?

[2020-03-28 10:27] JunaidBabu commented on #214
Will do this later. Closing for now.

[2020-03-28 10:27] #214 closed, assigned to nobody

[2020-03-28 10:35] shuklaayush opened #282 "Improper column alignment in district-wise cases"
On mobile, the sticky header is misaligned when district entries are expanded. Gives the wrong impression that the entries are part of the Active Cases column.

![image](https://user-images.githubusercontent.com/27727946/77821082-60c10f00-710d-11ea-8786-cae7f2abd911.png)

[2020-03-28 11:06] anilgupta1591 commented on #247
How can contribute or how can take ticket ?
Sorry i know this is not proper medium to ask this question but dont know any other source for this like slack channel

[2020-03-28 11:13] andante-9 commented on #100
From a UX perspective, it is a problem. The user is accustomed to seeing today's data when they browse through the map and table. Upon reaching the graphs, they are still in the mindframe that they are seeing today's deltas. The date mentioned in the top left does nothing to alert the user that it's yesterday's date. (People aren't even aware what the date is anymore during the lockdown.)
Two poss

[2020-03-28 11:30] vinay-thallam commented on #154
@KrishnaPravin  @abhishekakade @jeremyphilemon  @JunaidBabu

This issue is duplicate of [https://github.com/covid19india/covid19india-react/issues/162](url).

@abhishekakade  I think we worked for this in parallel without knowing.

Please check the below PR.
https://github.com/covid19india/covid19india-react/pull/212
Some additional things apart from prettier setup were done in this. Please check

[2020-03-28 11:31] #163 closed, assigned to nobody

[2020-03-28 11:32] JunaidBabu commented on #252
@jeremyphilemon @shuklaayush @s-naveen thoughts?

[2020-03-28 11:34] sudevschiz commented on #244
Maybe we can later add this in "Showcase".

[2020-03-28 11:34] #244 closed, assigned to JunaidBabu, sudevschiz

[2020-03-28 11:37] shivanshs9 commented on #281
Can I work on this issue?

[2020-03-28 11:46] parthpatel1470 commented on #260
https://drive.google.com/file/d/10X3bNqOqpvvXiMKz2qMYIKzHhVnmXkDU/view?usp=sharing

here in below maharastra we could write
as
mumbai the most affected city

[2020-03-28 11:50] #279 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 11:56] KrishnaPravin commented on #154
duplicate #162

[2020-03-28 11:56] #154 closed, assigned to jeremyphilemon

[2020-03-28 12:12] shuklaayush commented on #252
I don't have any experience with either but would love to learn.

[2020-03-28 12:14] rohitpotato commented on #252
Can i make a pull request with a redux setup for the project?

[2020-03-28 12:27] sibeshkar commented on #272
@nirantk dealing with this. NLP analysis error.

[2020-03-28 12:29] s-naveen commented on #252
I am not that much familiar with redux either. Maybe we can try it if it does not make codebase complex.

[2020-03-28 12:31] rohitpotato commented on #252
The codebase will get trickier if the project expands and there's no state management container in place.

[2020-03-28 12:39] puneetnsit commented on #247
Working on it

[2020-03-28 12:44] findelallc commented on #252
Guys I don't think it will require a redux wrapped for this project as of use case, a plan to use react context in one of the main part would be sounds good to prevent memory leaking..Don't make the codebase complex for the sake of simplicity and usability.

[2020-03-28 13:01] agam-kashyap commented on #260
@parthpatel1470 Hey your idea is nice, but having that would be redundant, don't you think? Because we will anyway be able to click on a state and then see the severity. It isn't like a person will make a decision in hurry. Seems valid? Tell me if I am wrong :)

[2020-03-28 13:02] rohitpotato commented on #252
Hi everyone, since I am new to open source contribution on github, I didn't exactly see the guidelines and made a pull request. Really sorry for that. Would anyone mind reviewing that?

[2020-03-28 13:12] crup opened #285 "Enhance sort logic"
**Is your feature request related to a problem? Please describe.**
Enhance sort function to sort by changes and total affected. If some states have equal number of affected people, it should then sort them on `delta`. Whichever has higher delta will be shown on top.
![image](https://user-images.githubusercontent.com/2614954/77823721-38dca600-7123-11ea-9d79-c452f46b3f49.png)

**Describe the solutio

[2020-03-28 13:16] JunaidBabu commented on #260
Not really an issue. Closing

[2020-03-28 13:16] #260 closed, assigned to JunaidBabu, sudevschiz

[2020-03-28 13:47] shuklaayush commented on #190
Relevant: #141

[2020-03-28 13:57] JunaidBabu commented on #247
This cannot be fixed because we do not have the data at district level. Closing this issue.

[2020-03-28 13:57] #247 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 13:58] JunaidBabu commented on #253
Resolved

[2020-03-28 13:58] #253 closed, assigned to meghprkh

[2020-03-28 14:40] abhishekakade opened #287 "Sticky table header has transparent background color on hover"
**Describe the bug**
Sticky table header has a transparent background color on hover which shows the background text as well which in this case includes state names and confirmed/active/deceased counts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [COVID19India](https://www.covid19india.org/)
2. Hover over table header and scroll until you start seeing state names behind the table h

[2020-03-28 14:41] abhishekakade commented on #287
I've made a PR that fixes this and some accessibility issues #267

[2020-03-28 14:58] kousiksatish opened #289 "Highlight of page incorrect when navigated directly through link"
**Describe the bug**
When we directly navigate to a different page other than home page, for example, https://www.covid19india.org/faq, "Home" is highlighted instead of "FAQ".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.covid19india.org/faq directly.
2. Observe that "Home" is highlighted instead of "FAQ".

**Expected behavior**
FAQ should be highlighted

**Screenshots**

[2020-03-28 14:59] kousiksatish commented on #289
Please assign it to me. I have started working on it.

[2020-03-28 14:59] ramakrishnan3 commented on #285
can I take this up?

[2020-03-28 15:09] abhishekakade commented on #162
@jeremyphilemon, @JunaidBabu, this shouldn't be under enhancement, this issue should be made high priority and resolved ASAP. Everyone is using their own way and changing a lot of code as they see fit without any style guide and its getting messy.

[2020-03-28 15:30] vspassion007 opened #290 "Whatsapp Business account with automated responses of current Number etc. similar to WHO business account"
W.H.O have a whatsapp business account for similar purpose, a chatbot responses with numbers etc etc.
This idea can move ahead and help in reporting more cases etc.

[2020-03-28 15:38] vandanachandola commented on #261
@jeremyphilemon , @UdayMallikarjun  Is this taken? If not, I would like to give this a shot.

[2020-03-28 15:39] vspassion007 commented on #290
More info. on chatBot
https://botsociety.io/blog/2018/09/whatsapp-bot/

[2020-03-28 16:26] JunaidBabu commented on #290
Maybe not now

[2020-03-28 16:26] #290 closed, assigned to JunaidBabu, sudevschiz

[2020-03-28 16:34] kousiksatish commented on #289
@jeremyphilemon please review

[2020-03-28 16:42] bwayne2015 opened #292 "Activity Center needed to see history of cases throughout the day"
**Is your feature request related to a problem? Please describe.**
Whenever a new case coming in I cannot understand where it happened for  example I can see 1 minute ago updated and I can see the numbers but they are not clear enough to give me a clear picture where it happened without going into the db

**Describe the solution you'd like**
A clear and concise description of what you want to happ

[2020-03-28 17:02] rajathsn opened #293 "Last update time is wrong only on apple devices"
**Describe the bug**
Last updated time is not getting updated on iOS devices like iPhone

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.covid19india.org'
2. on 'any iOS and MacOS devices
3. It works fine on android devices

**Screenshots**
![337D641E-9E10-4D63-830D-4454AF6B4C1F](https://user-images.githubusercontent.com/52188338/77828815-c8924c80-7143-11ea-9c37-bd64f4878531.jpeg)

[2020-03-28 17:06] rahulzura commented on #282
I'd like to work on it, assign it to me.

[2020-03-28 17:09] chinmaydalvi opened #294 "Display the state wise Last updated time"
**Description**
When I load the page every time I always see that Page updated a few minutes ago. But the count for many states remains the same, and this gives the wrong assumption to the user that no new patient found in a particular state.

For example, I am seeing the count for Kerala is still 182 from the last few hours. and Recent page update is showing 10 minutes ago and count for other sta

[2020-03-28 17:10] chinmaydalvi commented on #294
If this feature is accepted then I will work on this issue.

[2020-03-28 17:11] Nitin96Bisht commented on #241
@jeremyphilemon I have already referred #177 as it did not work out and I have also added Python path. Hence I created an issue. I think setup documentation needs to be updated for Windows users with all prerequisites along with possible errors and their resolutions.

Secondly I am unable to reopen it. Can you please reopen?

[2020-03-28 17:12] chinmaydalvi commented on #294
Thanks, I will work on this.

[2020-03-28 17:16] ankush-0x90 commented on #293
Hi @rajathsn, I have confirmed it. It shows 5 hours ago. :) Good work guys

[2020-03-28 17:16] JunaidBabu commented on #293
@jeremyphilemon that z issue?

[2020-03-28 17:21] shuklaayush commented on #293
@jeremyphilemon @JunaidBabu Can someone try this with #216 (without the colon in the timezone)? I think that's a better approach.
~~Nevermind, doesn't work with that either.~~ It does :P.

[2020-03-28 17:50] naveen-nrj commented on #252
I think redux using hooks will not be that much complex since we are using functional components
So redux with hooks is a good choice. Also, Don't know much about context.

[2020-03-28 17:55] #293 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-28 17:59] Nitin96Bisht opened #298 "Delhi map does not show information"
**Describe the bug**
Delhi map does not show information when you click on Delhi.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Delhi from the state list.
2. Select the Delhi map from the India map.
3. See error

**Expected behavior**
It should show information on the Delhi map like other states.

**Screenshots**
![image](https://user-images.githubusercontent.com/23516674/77830052

[2020-03-28 17:59] vramana commented on #252
Hi, I just came across this repo. I have experience with Redux and Context. I'll take a look around source and try to make suggestion.  But simply sticking to prop drilling is just fine in some cases even if it's 5 to 6 levels deep.

[2020-03-28 18:01] rohitpotato commented on #252
@naveen-nrj @KrishnaPravin  check out a pull request I made: [HERE](https://github.com/covid19india/covid19india-react/pull/284)

[2020-03-28 18:02] rohitpotato commented on #252
Prop drilling is just bad practice and it becomes harder to debug when the project grows. I am assuming this project will eventually grow. It makes a lot of sense to stick with battle tested solutions.

[2020-03-28 18:19] vramana commented on #252
I looked around the source code. There is no problem with source I didn't spot any instance of prop-drilling. Data fetched via API is just passed 1 or 2 levels deep. I think this is a non issue at this point.

[2020-03-28 18:34] rsamit26 opened #299 "Dark Theme"
Working on the dark theme.

<img width="1440" alt="dark-1" src="https://user-images.githubusercontent.com/12140899/77830762-ce425f00-7150-11ea-9c53-972480e6bc10.png">
<img width="1440" alt="dark-2" src="https://user-images.githubusercontent.com/12140899/77830766-d1d5e600-7150-11ea-8297-9b53ce0b4136.png">
<img width="1440" alt="dark-3" src="https://user-images.githubusercontent.com/12140899/7783076

[2020-03-28 18:36] parthpatel1470 commented on #260
Thanks I got the point you are trying to make

[2020-03-28 18:37] shuklaayush commented on #299
Hey @rsamit26, please look at #116 before you proceed.

[2020-03-28 18:42] chinmaydalvi opened #300 "Update the data on page after every 15 / 20 mins"
**Description**
If you kept the page open for a long time it doesn't update the page automatically.
For example Currently, when you load the page first time it fetches the latest updated data and shows last updated is 10 min ago Now when you keep the tab open for a long time or minimize the browser (In case of the mobile device) and back again after 2 hours it still shows Last updated 10 min ago a

[2020-03-28 18:42] chinmaydalvi commented on #300
If this feature is accepted then I will work on this issue.

[2020-03-28 18:42] #299 closed, assigned to JunaidBabu, sudevschiz

[2020-03-28 18:43] tuxdna opened #301 "Uttarakhand Map does not show information for Pauri district"
**Describe the bug**
Uttarakhand Map does not show information for Pauri district

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.covid19india.org/
2. Click on "Uttarakhand" map

**Expected behavior**

The map shows Garhwal district, instead of Pauri. Rename from Garhwal -> Pauri required.

**Screenshots**

![Screenshot from 2020-03-29 00-04-54](https://user-images.githubus

[2020-03-28 18:44] parthpatel1470 commented on #298
It is happening for
firefox too
on ubuntu

[2020-03-28 18:47] parthpatel1470 commented on #298
Probably happening because the name district and state is the same
and the bug starts happening when we start hovering, and the data initially shown is also of delhi as district not state

[2020-03-28 18:55] tuxdna commented on #298
@jeremyphilemon Please review PR #303

[2020-03-28 19:19] parthpatel1470 commented on #298
covid19india/api/state_district_wise.json
in line 76 if you just change Delhi to New Delhi the bug would be solved just by adding simply one word

[2020-03-28 19:33] shuklaayush opened #304 "District names overflowing to the back button"
On mobile, long district names overflow and appear over the back button in expanded view.

![image](https://user-images.githubusercontent.com/27727946/77832046-1ebdba80-7159-11ea-9a1c-26c138d55785.png)

[2020-03-28 19:36] crup commented on #252
+1 on that.
I'm huge redux fan but imo this project is too tiny to have a state container like redux. Prop drilling and React Context will work just fine for this.

[2020-03-28 20:21] #289 closed, assigned to kousiksatish

[2020-03-28 20:25] #287 closed, assigned to abhishekakade

[2020-03-28 20:33] sandeepsk1024 opened #307 "Improve readability slightly for good looking FAQ page"
**Is your feature request related to a problem? Please describe.**
Not related to any problem. The only intention is to improve readability a bit.

**Describe the solution you'd like**
FAQ page has questions and answers. It is already looking good. To make it slightly better, we can modify question style a little bit. Also The answer text could have bit more letter spacing.

**Describe alternative

[2020-03-28 20:41] sandeepsk1024 commented on #307
Dear Admins,
I am proposing something like this - but it can be improved with more suggestions.
https://github.com/sandeepsk1024/covid19india-react/commit/2ae9d0dc3d13beb4f27eb3bd242815f7bddb54ab

[2020-03-28 20:49] kousiksatish opened #308 "Refactor code for routing and navbar using a dictionary with pageName-viewName"
This is a technical issue related to code management.

Current snippets of code:
[code]
As discussed in earlier PR https://github.com/covid19india/covid19india-react/pull/291 , this can be written in following way which will be better:
- Create a dictionary with ViewName, Pathname key value pair to be used across the project, including in App.js and Navbar.js . Loop through this dictionary in both

[2020-03-28 20:50] kousiksatish commented on #308
@jeremyphilemon Please assign it to me. I would like to work on it.

[2020-03-28 20:57] kousiksatish commented on #162
@vinay-thallam @jeremyphilemon I can work on fixing the eslint errors. Please let me know how to go about it. Should I create a new PR now or do it after the rules are finalised?

[2020-03-28 21:19] techhysahil commented on #304
Change style to following:
.MapExplorer .meta h2 {
    margin: 0;
    color: #e23028;
    word-wrap: break-word;
    font-weight: 900;
    width: calc(100% - 80px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

[2020-03-28 21:46] #175 closed, assigned to s-naveen

[2020-03-28 22:12] bahuja opened #310 "PDF download/Excel Download for state wise/ City wise Breakout for analysis along with Print functionality"
**Is your feature request related to a problem? Please describe.**

It is not related to the problem but it will be good to have featured since doctor and analyst might be interested in Print the whole page to get a snapshot of the current instance of the state or download it as a report so that it can be sent over to seniors etc. Also In analysts and researchers want to aggregate data that can be

[2020-03-28 22:37] jeremyphilemon commented on #247
@anilgupta1591 head over to the issues section, pick any accepted issue and open a PR :)

[2020-03-28 22:42] jeremyphilemon commented on #252
So I went through the discussion here, and frankly I'd love a redux store too. However, this project seems too small for a store like redux. It sucks to close this because I'm sure we'd might opt redux if the project gets too big to handle prop drills, but by that time the PRs would become outdated with the issue.

Hence, when we feel a move to redux is apt, we'll have it issued! Thank you so much

[2020-03-28 22:42] #252 closed, assigned to s-naveen, jeremyphilemon, shuklaayush

[2020-03-29 00:45] #32 closed, assigned to s-naveen

[2020-03-29 00:48] jeremyphilemon commented on #37
Closing this because we've made progress with the charts' readability by now. Will have to figure out the tooltips for the minigraphs since it's just an interpretation "upward/downward" we want people to visualize at the moment.

[2020-03-29 00:48] #37 closed, assigned to nobody

[2020-03-29 00:51] jeremyphilemon commented on #171
Closed since future revision of codebase wouldn't require setting the port.

[2020-03-29 00:51] #171 closed, assigned to nobody

[2020-03-29 02:23] JunaidBabu commented on #301
@guneetnarula could you please handle this?

[2020-03-29 02:27] #298 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-29 02:39] JunaidBabu commented on #292
This would be an interesting problem to solve. Change logs of the data is available here https://github.com/covid19india/api/commits/master

The change logs could be autogenerated to form meaningful statements.

[2020-03-29 02:40] JunaidBabu commented on #110
Duplicate of #292

[2020-03-29 02:40] #110 closed, assigned to nobody

[2020-03-29 05:19] jeremyphilemon opened #313 "Fixing react-hooks/exhaustive-deps warnings."
**Describe the bug**
Would be great if we could fix the `react-hooks/exhaustive-deps` warnings shown in the console .

**To Reproduce**
Just open your console after `npm I && npm start`

**Expected behavior**
The console should be clear of these warnings.

**Screenshots**
<img width="862" alt="Screen Shot 2020-03-29 at 8 14 54 AM" src="https://user-images.githubusercontent.com/17938322/77840974-a5

[2020-03-29 05:25] jeremyphilemon commented on #75
Hey, thanks for raising this! Isn't it possible to export the sheets as a .csv file currently?

[2020-03-29 05:25] #200 closed, assigned to nobody

[2020-03-29 05:27] #208 closed, assigned to mohammedshafeeqet, sudevschiz

[2020-03-29 05:30] jeremyphilemon commented on #100
I agree with @andante-9, it does seem a little too confusing. If anyone's willing to pick this issue up, I'd suggest to go with:

[2020-03-29 05:35] jeremyphilemon commented on #66
Is this data readily available now?

@aadityadar I don't think the google sheets we're using enter the data for tests done at the moment, but that may change if we get reliable numbers from a reliable source!

[2020-03-29 05:55] jeremyphilemon commented on #162
@kousiksatish So the ESlint errors have been fixed, looks like we still have a few warnings that need to be looked at, I've opened an issue for it at #313 and added a quick reference to get anyone started.

Closing this for now since the majority of it has been addressed! @vinay-thallam Thank you for bringing up this issue!

[2020-03-29 05:55] #162 closed, assigned to vinay-thallam

[2020-03-29 05:56] jeremyphilemon commented on #146
@satishsingh35 This seems to have been patched, feel free to work on other available issues!

[2020-03-29 05:56] #146 closed, assigned to nobody

[2020-03-29 05:57] jeremyphilemon commented on #145
DUNZOOOO THANKS TO @sivasatvik!

[2020-03-29 05:57] #145 closed, assigned to nobody

[2020-03-29 05:59] jeremyphilemon commented on #166
@SanjeevYadavcr7 well, there seems to be an error in the way the tables are being rendered in safari at the moment,

<img width="543" alt="Screen Shot 2020-03-29 at 8 58 43 AM" src="https://user-images.githubusercontent.com/17938322/77842488-8268d780-719b-11ea-9d05-e1e97adc21de.png">

Let me know if you'd like to have this assigned to you!

[2020-03-29 06:00] jeremyphilemon commented on #259
Patched!

[2020-03-29 06:00] #259 closed, assigned to nobody

[2020-03-29 06:01] jeremyphilemon commented on #282
So the strategy here would be is to make the district headers sticky just below the state headers.

[2020-03-29 06:02] jeremyphilemon commented on #294
How/where do you plan on displaying the last updated time for each states?

[2020-03-29 06:06] rajathsn opened #314 "state map dashboard"
**Describe the bug**
In state map dashboard, the active, recovered and deceased is not showing any numbers

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ' www.covid19india.org '
2. Click on 'any state twice to open state map'
3. Confirmed number appears in its tab but active, recovered and deceased number are missing

**Expected behavior**
Display numbers in active, recovered and de

[2020-03-29 06:15] vinay-thallam commented on #162
@jeremyphilemon  That's great. Thank you for incorporating as suggested.

[2020-03-29 06:25] s-naveen commented on #294
Can we show it above district table when state is clicked?

[2020-03-29 06:28] jeremyphilemon commented on #314
Patched!

[2020-03-29 06:28] #314 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-03-29 06:42] jeremyphilemon commented on #294
~I don't think that would be immediately obvious. Also having the last updated above the table could misrepresent that the whole table was last updated then (which is technically true but defeats the purpose of showing the last updated time for only districts).~ How about when you expand the state row, you could show the last updated time right below the state row, and above the district rows?

[2020-03-29 06:47] maniac-tech commented on #310
I can pick this up for Dev

[2020-03-29 06:49] acorreya opened #316 "Request: tiny arrows near Recovered and Deceased"
Please add tiny arrows near Recovered and Deceased showing recent activity, just like in Confirmed cases. Thank you!

[2020-03-29 06:59] s-naveen commented on #294
That's exactly what I meant by saying above district table.

[2020-03-29 07:02] Nitin96Bisht commented on #304
@shuklaayush Kindly also provide expected behavior so that we can start working on this.

I have tried and it looks like:
![image](https://user-images.githubusercontent.com/23516674/77843254-ff567a00-71b8-11ea-87ef-1b3c0093e4a7.png)

Although for smart districts it looks like:
![image](https://user-images.githubusercontent.com/23516674/77843279-27de7400-71b9-11ea-98ed-c75282933534.png)

Kindly che

[2020-03-29 07:05] vinay-thallam commented on #313
@jeremyphilemon  Can I take this issue ?

[2020-03-29 07:14] jeremyphilemon commented on #316
@JunaidBabu what was the reason behind removing state deltas from the table for active/recovered/deceased?

[2020-03-29 07:25] ssonal commented on #313
Happy to help with this. Have 5 components cleaned up so far.

[2020-03-29 07:40] jeremyphilemon commented on #313
@ssonal thank you :)

I'm gonna have to go with @vinay-thallam since he wanted to take the issue first!

Feel free to checkout the other available issues!

[2020-03-29 07:43] jeremyphilemon commented on #294
@s-naveen I need sleep.

[2020-03-29 07:44] ssonal commented on #313
No problem. This was a great way to learn the code-base! Will help out elsewhere.

[2020-03-29 07:48] jeremyphilemon commented on #304
This has been fixed!

[2020-03-29 07:48] #304 closed, assigned to Nitin96Bisht

[2020-03-29 07:51] shayanpaul opened #317 "Feature: Comparison between yesterday and today's data"
Is it possible to show the new death count beside each state just like the new cases has been denoted using red up arrow.

And also is it possible to have a separate tab to view the yesterdays’s data to compare with today’s data.

[2020-03-29 07:55] SinghRajenM opened #318 "Rajasthan map does not show details."
**Describe the bug**
In map patient count is not reflecting on 'Pratapgarh' district of Rajasthan

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Rajasthan map and expand it'
2. Click on 'Pratapgarh district'
3. Scroll down to 'Rajasthan' under column State\UT
4. See the patient count

**Expected behavior**
A clear and concise description of what you expected to happen.
1. Map color

[2020-03-29 07:57] chinmaydalvi commented on #294
@jeremyphilemon  @s-naveen
I am planning to display just above the district table, as well as just after state name in India map, when the user clicks on any particular state, as many users don't open district table they just hover on states in the map.

[2020-03-29 07:58] vinay-thallam commented on #313
wow... You guys are awesome.
Sorry. got busy with other work. @ssonal If you have already made progress please go ahead.

@jeremyphilemon Thanks for the gesture.

[2020-03-29 08:04] jeremyphilemon commented on #313
@ssonal all yours :)

[2020-03-29 08:09] jeremyphilemon commented on #294
@chinmaydalvi Sounds good! :)

The lower right corner seems to be empty as of now, so here's another suggestion:

<img width="353" alt="Screen Shot 2020-03-29 at 11 07 49 AM" src="https://user-images.githubusercontent.com/17938322/77844238-a2a19200-71ad-11ea-8876-4152eb2f2bb5.png">

[2020-03-29 08:20] jeremyphilemon commented on #317
The state deltas you're talking about has already been issued a little earlier, you'll have the status of that answered here at #316

Regarding the comparison of yesterday vs today's data, I think a timeline scrub would be a nice feature to compare data across different dates. At the moment you can do the comparison in the time series graphs below across all dates so far, but I'm assuming you'd li

[2020-03-29 08:25] sijusamson commented on #318
@jeremyphilemon can i take this issue ?

[2020-03-29 08:33] jeremyphilemon commented on #301
@guneetnarula I see that you've merged the PR! I'm not sure if all the corrections have been made, if so go ahead and close the issue :)

[2020-03-29 08:42] tannakartikey commented on #301
@guneetnarula @jeremyphilemon I don't think the issue is fixed. I still see Garhwal with no cases.

[2020-03-29 08:46] tannakartikey commented on #301
Are you sure it's deployed?

[2020-03-29 09:21] SinghRajenM opened #321 "Rajasthan District names are wrong"
**Describe the bug**
Rajasthan district names (few) are wrong.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Rajasthan map'
2. Click on 'Hover on the each district'
4. See few district names are wrong.

**Expected behavior**

| Wrong  | Correct |
| ------------- | ------------- |
| Chittaurgarh  | Chittorgarh  |
| Ganganagar  | Sri Ganganagar  |
| Dhaulpur | Dholpur |
| Jalor | Jal

[2020-03-29 09:21] chinmaydalvi commented on #294
@jeremyphilemon  Thanks
yes, we can display in district map also.

[2020-03-29 09:47] #174 closed, assigned to nobody

[2020-03-29 09:54] jeremyphilemon commented on #301
Just merged and deployed, Garhwal with reference to this issue has been fixed!

[2020-03-29 09:54] #301 closed, assigned to guneetnarula

[2020-03-29 09:57] sijusamson commented on #318
@jeremyphilemon it seems for this issue we are using below mentioned url: "https://api.covid19india.org/state_district_wise.json",
it returns : "Rajasthan": {
    "districtData": {
      "Jaipur": {
        "confirmed": 11,
        "lastupdatedtime": ""
      },
      "Jhunjhunu": {
        "confirmed": 7,
        "lastupdatedtime": ""
      },
      "Bhilwara": {
        "confirmed": 21,

[2020-03-29 09:59] jeremyphilemon commented on #318
This looks like a fix for API. I'll transfer this issue over there! @JunaidBabu @sudevschiz transfer issue to api repo no?

[2020-03-29 10:00] sijusamson commented on #318
Okay. @jeremyphilemon

[2020-03-29 10:11] #307 closed, assigned to sandeepsk1024

[2020-03-29 10:17] tecoholic opened #322 "Replace the Patient DB excel link with a new page in the website"
**Is your feature request related to a problem? Please describe.**
The patient DB is currently a link to a published Google Sheet. It is not very useful without any filtering or sorting functionality and also, it takes the user out of the website. There is no way to download the excel either.

**Describe the solution you'd like**
Add a page in the website which will show the patient DB as a HTML t

[2020-03-29 10:41] sijusamson commented on #318
@jeremyphilemon Issue has been fixed :-)

[2020-03-29 10:43] Rajesh-Narayanappa87 commented on #258
I can work on this.. Can you confirm below point.

1. Should below hreflang tag is fine?
`<link rel="alternate" href="https://www.covid19india.org" hreflang="x-default" />`
or should i set hreflang specific to india. Something like this.
`<link rel="alternate" href="https://www.covid19india.org" hreflang="en-in" />`

[2020-03-29 10:43] #318 closed, assigned to sijusamson

[2020-03-29 10:44] #321 closed, assigned to nobody

[2020-03-29 10:49] sudevschiz commented on #317
@shayanpaul Daily delta of number of deceased and recovered cannot the calculated from the raw_data directly as of now. This has to be calculated in a special way at the data source level, @mohammedshafeeqet is working on this.

After this is available through the API, we can show the delta numbers for each state.

[2020-03-29 10:51] sudevschiz commented on #316
Replied in #317

If this is a duplicate, please close @jeremyphilemon

[2020-03-29 10:52] #316 closed, assigned to nobody

[2020-03-29 11:10] Rajesh-Narayanappa87 commented on #258
@UdayMallikarjun, @s-naveen : Could you pls have a look at PR

[2020-03-29 11:22] sivasatvik opened #326 "Retract the old district wise popup when a new one is expanded on the table."
**Is your feature request related to a problem? Please describe.**
When you expand more than one district view in the table, all of the previous ones stay open. It might not be what the users would want.

**Describe the solution you'd like**
When we expand a new district table, the previous one, if opened, should close.

**Additional context**
Any thoughts on this enhancement? (I can work on this

[2020-03-29 11:26] khaaba opened #327 "District labelling in the map of Manipur is done with old data!"
1. Present number districts in the state of Manipur is 16 (sixteen), NOT 9 (nine)
2. Imphal West District should have been next to the Imphal East District.
![Present](https://user-images.githubusercontent.com/19713703/77847705-bd3f2f80-71dc-11ea-9c23-cf636328f95c.png)

Manipur map showing the districts and its location with boundaries:
![manipur-district-map](https://user-images.githubusercontent

[2020-03-29 11:34] tannakartikey commented on #326
It might be possible that the user wants to keep it open. We can give the 'Close All' feature.

[2020-03-29 11:39] sivasatvik commented on #326
Then the question begins to arise as to which state to focus on the map when which state is expanded. If there's a feature like this, it might be aesthetically sound and functionally unambiguous. Just a thought. Open to suggestions.

[2020-03-29 11:50] tannakartikey commented on #326
When we hover over the name of the state the map highlights the state. I think that is good enough.

I think it's better to keep multiple tabs open because it's easier to compare and take screenshots that way.

Leaving it to maintainers with that.

[2020-03-29 12:00] tannakartikey commented on #327
May I ask how have we got this data for the map?

[2020-03-29 12:39] Rajesh-Narayanappa87 opened #330 "Top logo at home page looks clickable but it isn't."
**Describe the bug**
Logo on (fadeInUp logo) img looks clickable as hand pointer appears. But it is not clickable.

**To Reproduce**
1. Load https://www.covid19india.org/
2. hover on logo appearing left of Home, cluster link.

**Expected behavior**
Page refreshes and loads home page

OS : mac
Browser: Chrome

Common on all browsers.

[2020-03-29 13:20] chinmaydalvi commented on #294
@jeremyphilemon

I need your view on  [comment](https://github.com/covid19india/covid19india-react/issues/294#issuecomment-605601257)

Currently, for Country map, I have shown the Last updated status for states and I am changing it when the user is hovering on different states.

On the district, map Should I need to show the Last updated status of the currently selected State as It gives the wrong

[2020-03-29 13:36] jeremyphilemon commented on #294
Hey, this is well thought out! I appreciate the analysis you've done :)

I believe it's best to show the last update times when hovered over the states, once we switch to district maps, it's best to remove the datapoint from the view. If you want, you can still add support for district last updates right now so that they can automatically display when we get the data!

So when the datapoint is mis

[2020-03-29 13:41] Rajesh-Narayanappa87 commented on #330
@JunaidBabu : I can disable cursor for img tag. Pls assign to me..

[2020-03-29 13:48] jeremyphilemon commented on #326
The problem with automatically closing tabs is that the table jumps around on the user's screen. In order to prevent that, I had made the decision to leave them open. Might as well enable people to compare the numbers between states 👀

Say if this feature was implemented anyway, it makes people lose the ability to compare then. No two state rows can be expanded, we're limiting the functions here.

[2020-03-29 13:54] JunaidBabu commented on #327
@guneetnarula can you check this?

[2020-03-29 14:01] shuklaayush commented on #326
I think #297 has addressed it perfectly without compromises. Just stick to expanding the map of the last clicked state (or state which contains the last hovered on district).

[2020-03-29 14:02] tanishq-soni commented on #330
@JunaidBabu  I can change it, i can assign homepage to that logo, when user clicks then he/she will be on HOME page.
or i can disable cursor,,.

please assign these task to me,.

[2020-03-29 14:09] tanishq-soni opened #335 "Donation Link not available."
Donation link to PM's COVID-19 relief fund not available in website,
It should be added as a button link which directly jumps to the website of COVID-19 relief fund when clicked on that button,
i can do if you assign the task to me.

[2020-03-29 14:21] sivasatvik commented on #326
Ah. I see. If the basic functionality is to provide user with as much information as possible, then the current functionality looks good.
I just felt like if the user decides to expand a lot of the rows, then the user has to scroll a lot in order to get from one place to the other place. Although as it is the information is what we aim to show, then this would be inevitable.

But as @tannakartikey

[2020-03-29 14:29] JunaidBabu commented on #209
There is already a PR on this #228
But we'll be handling this as a separate tab. Closing this for now. Will add later.

[2020-03-29 14:29] #209 closed, assigned to nobody

[2020-03-29 14:31] chinmaydalvi commented on #294
Thanks, @jeremyphilemon  for your quick response.

As per your suggestion, I am adding a provision to display the district status on the district map. Currently, it won't be visible to the user as district status is missing from API and would be visible automatically when API will start sending it.

[2020-03-29 14:35] shuklaayush commented on #326
@jeremyphilemon How about adding an arrow to the left of the table header as well? Expand/Collapse all?

[2020-03-29 14:37] soumiknandi opened #336 "District labelling in the map of West Bengal is done with old data"
Newly formed district (kalimpong) is not present on West Bengal.

[2020-03-29 14:39] shirshandu commented on #67
did you else I can?

cc @s-naveen

[2020-03-29 14:45] rahulzura commented on #282
That requires the district heading to be a th element inside a thead and there can be only one thead inside a table. I've tried several ways but none produced a good solution.

[2020-03-29 14:49] strikertanmay opened #337 "Extra column which shows date of 1st reported case."
This feature will help people to get information that may be important sometimes as the date of first reported case shows the level of danger in the particular state/district. This will also help doctors, analysts, and other people to take important decisions if required.

Simply add one column in the table which shows the date of first reported case in each state as well as in each district.

Loo

[2020-03-29 15:28] tecoholic commented on #335
There are some important questions raised here about that tweet did not officially come from @pmoindia. I think it is better to not include that link at this point.
https://twitter.com/logic/status/1243888629593731072?s=20

There are also individual state governments requesting donations, then it will become an issue of representation. It is better that the site stays unbiased.

[2020-03-29 15:34] sivasatvik commented on #326
How do you picture it? It's functionality would be

1. Expand all of the district views*
2. Close all of the expanded district views*
(* no matter what all district views are opened or closed currently)

Or do you have something else in mind?

[2020-03-29 15:57] #335 closed, assigned to JunaidBabu, sudevschiz

[2020-03-29 16:20] rishiip opened #341 "Can improve visuality of left & right section"
**Is your feature request related to a problem? Please describe.**
Have a look at following snapshot, there's no gap between them and it looks too close to each other -
<img width="1280" alt="Screenshot 2020-03-29 21 44 50" src="https://user-images.githubusercontent.com/7964257/77854307-2fc50500-7207-11ea-9756-0214d191d6b9.png">

**Describe the solution you'd like**
Can add 10px or 20px space betw

[2020-03-29 16:36] sijusamson commented on #341
@rishiip Is there any way to reproduce thus, as i wasn't able to reproduce this issue. please see the attached screenshot.
![Screenshot from 2020-03-29 22-04-33](https://user-images.githubusercontent.com/38852547/77854707-7156af80-7209-11ea-980c-93d8ed2fabe0.png)

[2020-03-29 16:38] rishiip commented on #341
@sijusamson Ah, forgot to mention my system config -

I am using -
MacOS Mojave
Google Chrome - Version 80.0.3987.149 (Official Build) (64-bit)

[2020-03-29 16:41] sijusamson commented on #341
Okay, it seems to be a system specific issue, :-)

[2020-03-29 16:45] chinmaydalvi commented on #294
Hi @jeremyphilemon

I have raised [PR](https://github.com/covid19india/covid19india-react/pull/342) for this feature
Please have a look.

Thanks and Regards,
Chinmay Dalvi

[2020-03-29 16:51] saberprashant commented on #330
@vamshi9666, I already submitted one PR #332 for this.

[2020-03-29 16:54] strikertanmay commented on #337
@JunaidBabu I would like to work on this issue

[2020-03-29 17:03] akshat112 opened #344 "Extra non-uniform coloured space on expanding any "ODD" number state"
**Describe the bug**
There are 3 lightgrey <td> on expansion on any ODD number of row in the state table on home page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home page'
2. Click on 'any row  with lightgrey background color in the state table'
3. See error

**Expected behavior**
That should be changed to white color to get consistency.

**Screenshots**
![image](https://user-i

[2020-03-29 17:26] harshk8 opened #345 "Error Generate while click on cluster user's pointing icons."
**Describe the bug**
Error coming on Cluster page, while clicking on the cluster user's pointing icon, whose data is not available in the data file/database i.e. from P1129
We can fix this by just deleting the unwanted rows.

![COVID-19 Tracker   India (1)](https://user-images.githubusercontent.com/30121010/77855722-d4e3db80-720f-11ea-8625-5c1a0c2ff219.png)

**To Reproduce**
Error Generated while

[2020-03-29 17:33] SanjeevYadavcr7 commented on #166
@jeremyphilemon i want to solve this issue.

[2020-03-29 17:57] mmshah278 opened #346 "Ahmedabad district misspelt in raw data; hence cases not showing on the map"
**Describe the bug**
0 cases of Ahmedabad city/district's are shown on the map when there are 20 (when this is being written)

**To Reproduce**
Go to and click on the Gujarat portion of the map and then go to and hover on the Ahmedabad city portion of the map. 0.00% cases from Ahmedabad will be displayed.

**Expected behavior**
Instead 0.00%, 31.74% should be displayed when hovered on Ahmedabad di

[2020-03-29 18:19] kousiksatish opened #347 "Infinite faq.json network calls when FAQ page is loaded"
**Describe the bug**
I was inspecting the network calls when I identified that infinite number of faq.json calls are being made when we stay in that page.

**To Reproduce**

1. Navigate to https://www.covid19india.org/faq d
2. Open dev tools of chrome
3. Observe network calls. Infinite number of faq.json calls are being made

**Expected behavior**
Single faq.json call is sufficient

**Screenshots*

[2020-03-29 18:19] kousiksatish commented on #347
Please assign it to me. Have started working on it.

[2020-03-29 18:41] mmshah278 opened #349 "New Cases vs Total Confirmed graph"
**Is your feature request related to a problem? Please describe.**
The graphs currently displayed show the current scenario of the cases but it fails to visualize the trend, or more specifically where the trend is headed - towards progress or opposite. On viewing the non-cumulative trend of the new cases, one can determine whether the pandemic is spreading (which can be verified by the upward tren

[2020-03-29 18:55] kousiksatish commented on #300
@JunaidBabu Please assign it to me. I would like to work on this.

[2020-03-29 19:06] anivar opened #354 "Tracking Non-Virus Covid19 Lockdown Deaths"
**Is your feature request related to a problem? Please describe.**
India have an increasing death rate linked to Covid19 Lockdown measures. This is peculiar comparing to other countries in the world.

**Describe the solution you'd like**
Please integrate API from
http://projects.datameet.org/covid19/non-virus-deaths/

[2020-03-29 19:07] tannakartikey opened #355 "Test Coverage"
**Describe the solution you'd like**

The project is attracting lots of contributors and the data we display is critical. So I thought if we add some test coverage to the codebase it will be great. That way we will be sure that the calculations are correct, new changes are not breaking anything and we will be confident while refactoring... (you know the benefits of the tests)

Since our project is

[2020-03-29 19:16] #347 closed, assigned to nobody

[2020-03-29 19:20] thejeshgn commented on #354
API details if anyone is interested. You can cache it on your server as it changes only once a day.

https://twitter.com/thej/status/1244342448664371200

[2020-03-29 19:28] asdofindia commented on #354
From a public health perspective, it is important to contextualize numbers to be able to make right decisions. There are no clear rights and wrongs in medicine. There are only relatively better/worse options.

Therefore integrating deaths due to non-virus causes is important.

It would also be useful to have breakdown of these deaths into different categories (eg: Non-COVID deaths due to lack of v

[2020-03-29 19:31] thejeshgn commented on #354
We have a reason columns which can contain one more values from

Medical Emergency
Road Blocked
Suicide
Lockdown
Exhaustion,
Migration
Hunger

etc. We can add more as when we encounter
[code]

[2020-03-29 19:41] vamshi9666 commented on #330
My bad.  I didn't see that.

[2020-03-29 19:41] vamshi9666 commented on #330
Shall i close my pr ?

[2020-03-29 20:00] saberprashant commented on #330
@vamshi9666, sorry, but I don't know that buddy.
Let, @JunaidBabu @jeremyphilemon decide which PR they want to merge :)

[2020-03-29 20:01] vamshi9666 commented on #330
okay cool

[2020-03-29 20:02] esafwan commented on #354
I think the API is not allowing cross-origin requests. I was just trying out the API after @anivar  shared the same.

[](https://data.thejeshgn.com/covid19/_design/india/_view/non_virus_deaths?descending=false)

[2020-03-29 20:27] rodiwa commented on #346
i checked on https://api.covid19india.org/raw_data.json and looks like it needs to be 'ahmadabad' (with a 'a'). Here's a quick fix PR, if that's the case - https://github.com/covid19india/covid19india-react/pull/358.

[2020-03-29 20:33] mmshah278 commented on #346
@rodiwa Actually, shouldn't it be "Ahmedabad" with an 'e' because that is what the name of the city and district is?

[2020-03-29 20:44] chinmaydalvi commented on #300
@kousiksatish
I have already started working.

[2020-03-29 21:12] rodiwa commented on #346
Totally agree :) But I see that the data has already been setup that way. This quick-fix basically starts showing up the count on the map.
PS - To fix to "Ahmedabad", changes to https://api.covid19india.org/raw_data.json will be needed and we'll need to ensure new data are now vary of this update.

[2020-03-29 21:29] #308 closed, assigned to kousiksatish

[2020-03-29 22:31] shuklaayush commented on #355
Yes! We need something other than just prettier errors to fix when pushing.

[2020-03-29 22:35] SubashAravindan commented on #337
I'd like to take this up

[2020-03-29 23:18] #294 closed, assigned to chinmaydalvi

[2020-03-30 01:12] sachingargtech opened #362 "Add graphs for each state (data is available on state health dept websites)"
The speed-of-spread and the lockdown-effect will vary across different states, and knowing which states will open sooner or later will depend on the trend of rise or fall in new cases over time in each state.

The site currently shows historical data and charts for all-india, but only shows current totals for each state. The historical data for each state and rising/falling trend data is not avail

[2020-03-30 03:05] guneetnarula commented on #336
New shapefile is available with both Kalimpong and Alipurduar districts

[2020-03-30 03:09] AnirudhSriram commented on #166
This has been solved with #319.

[2020-03-30 03:29] AnirudhSriram commented on #344
This issue seems to be fixed with #319

[2020-03-30 04:06] karan1919 commented on #346
similar issue exists for Ahmadnagar, Maharashtra; cases show correctly but district is not highlighted.

[2020-03-30 04:16] Nitin96Bisht commented on #304
@jeremyphilemon Have you done this? I can see it has not been fixed it.

[2020-03-30 04:22] kousiksatish commented on #300
@chinmaydalvi Okay. Missed to see that it was already assigned.

[2020-03-30 05:24] pavankirigeri commented on #337
@JunaidBabu Is this issue still open?

[2020-03-30 05:31] sanga03 opened #365 "Adding saperate chart for lockdown peroid mentioning the daily percentage increase.."
this chart helps in analyzing the importance of lock-down if increase is subtle or decreasing..
thanks

[2020-03-30 05:38] RajendrasinhParmar commented on #346
This was previously working just yesterday it was showing correct values and highlights on map for **Ahmedabad**.

Is there anything that is updated in source data somehow? and how much control do we have over source data?

[2020-03-30 06:04] thejeshgn commented on #354
@esafwan  Can you cache it on your server and use it. Server side pull should be okay right?

[2020-03-30 06:13] pk1997 commented on #337
Can someone work on API for this? Data that is to be populated in the column isn't present in the current API and it is not possible to calculate the same.

[2020-03-30 06:16] strikertanmay commented on #337
@pk1997 yeah I would like work on the API for this issue. Let distribute the work and Integrate this feature.

[2020-03-30 06:20] esafwan commented on #354
Yes, it should work.

I had forked this repo and was directly accessing via axios from client-side to see if I can send a PR.

[2020-03-30 06:26] pk1997 commented on #337
@strikertanmay Sure. Let me know once you are done with API. BTW do we have slack channel or something for communication

[2020-03-30 06:28] ashish199820 opened #367 "Overlapping of text and button under SPREAD TRENDS section in home page."
**Describe the bug**
The text and button overlap when the screen width is between 375 to 405 px. "SCALE UNIFORMLY" should also be clickable. Mainly a bug for mobile users.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '/HOME' and scale the width in between 375 to 405 px.
3. Scroll down to 'spread trend ' section
4. See error

**Expected behavior**
No overlapping between button and t

[2020-03-30 06:32] icp1994 opened #368 "Discrepancy in the death toll record for Maharashtra and J&K"
**Describe the bug**
Death toll numbers for J&K and Maharashtra are wrong as there were reported death cases yesterday

**To Reproduce**
N/A

**Expected behavior**
Maharshtra deceased 8
Jammu & Kashmir deceased 2

**Screenshots**
N/A

**Desktop (please complete the following information):**
N/A

**Smartphone (please complete the following information):**
N/A

**Additional context**
https://timesof

[2020-03-30 06:37] pk1997 opened #369 "Fix all lint errors"
Fix all lint errors since linter isn't allowing to commit because of them