[2020-04-14 03:30] dinesh0612 opened #1064 "Corrections needed in Cases from Nagpur and Yavatmal - Maharashtra"
In hitavada epaper - Nagpur cases showing are 44 but in website it is showing as 28

same in yavatmal case it is 9 but it's showing 4

Here giving link for reference
https://www.ehitavada.com/index.php?edition=VLpage&date=2020-04-14&page=1

[2020-04-14 03:40] dinesh0612 commented on #1064
Nagpur cases on dated 11-04-2020 are not added - 17

[2020-04-14 03:44] jaibatrik commented on #1030
In mobile, just scrolling the page changes the state dropdown. It's terrible usability.

[2020-04-14 04:56] sanjeev1379 opened #1065 "Fixed SPREAD TRENDS Graph ie position fixed Scroll Property"
**Is your feature request related to a problem? Please describe.**
Hi friends, when we see maharashtra cases on hover to maharashtra you are changing graph cases according to state wise but we are not able to see graph properly. because graph is too below according to state list.

**Describe the solution you'd like**
 Can, we do ne thing make this graph as fixed ie(position: fixed) and when we hov

[2020-04-14 05:04] nikita-11 commented on #1031
As soon as we submit any entry for this particular state in our backend sheet. The data will be reflected.

[2020-04-14 05:04] kunalpgithub commented on #647
@pastelsky  assign this to me, I have some time in this week. I understand we need to display mobility report data for india in graph. Both as time series and single day up/down.

Do we need tabbed UI for entire Deep dive page or just for mobility report?

Correct me if anything wrong.

[2020-04-14 05:15] faisal3389 commented on #647
@kunalpgithub I could not get any work done on this feature. Sure, you can start working on this.
For starters, you can push an empty tabbed UI page then we can add more features and API integration to it.

[2020-04-14 05:16] rahulnyk opened #1066 "Access the dataset as csv"
**Describe the bug**
Till April 13th the dataset was accessible programmatically as
[code]
Data is no longer accessible.
Is there any way I can read the data programmatically?

**I know this is probably not the right place** to raise this issue, but I can't find any info about the data hosts where I can ask for help. It would be great if the data set was hosted on a Github repository similar to Jo

[2020-04-14 05:26] xi1570-krupeshanadkat commented on #262
@jeremyphilemon Hi, due to heavy office workload, It is getting delayed. If you wish, you can un-assign me or if possible wait for few days more. sorry for inconvenience.

[2020-04-14 05:26] akshat112 commented on #874
If this is still not resolved and available, I’d like to work on it.

[2020-04-14 05:27] nikita-11 commented on #901
Hi. Since we are done away with the essentials page pagination. We can close this issue. We now have infinite scroll implemented.

[2020-04-14 05:28] prablr79 opened #1068 "Country wide over all cases need to be reported"
India wide cases at over all is not projected, hence TESTED data shows Nil or - in the Home page.  if that give more clarity this tool data make sense.

for more clarity please reply, I will comment on this issue

[2020-04-14 05:31] sarangrakhecha opened #1069 "Graph too much Dynamic on the screen"
**Suggestion for better USER INTERACTION**

**Is your feature request related to a problem? Please describe.**
The graph is too much dynamic for the entire screen, depending on where the cursor is. Problem is, the graph changes on hovering and not on clicking, hence it keeps on changing often.

**Describe the solution you'd like**
It would be better if the graph does not change on hovering over th

[2020-04-14 05:35] prablr79 commented on #1068
every state wise Tested details shown much clearer, which you have some data back up from State govt report directly opening as .pdf file.  Which is good, the same required at Nation level.

[2020-04-14 05:59] sudevschiz commented on #1068
Duplicate of #1013

[2020-04-14 05:59] #1068 closed, assigned to nobody

[2020-04-14 06:01] yuvrajsingh79 opened #1071 "City wise data for newcases, recovered and deceased"
**A feature request related to a city data.**
A feature to view the data of city covering new cases, recovered & deceased.
Currently it shows only for new cases in each city.

**Describe the solution you'd like**
I would be using the same pattern in which new cases are being displayed.

[2020-04-14 06:16] sudevschiz commented on #1066
All the data is available through APIs.
Please check out https://api.covid19india.org/

And this is probably what you are looking for :

[code]
Please do comment if you need any more information.

[2020-04-14 06:16] #1066 closed, assigned to nobody

[2020-04-14 06:20] DhiralKaniya opened #1072 "Gujarat state recovery mismatch between state government source and covid19"
**Describe the bug**
There is a recovery mismatch between gujarat state government web and covid19 data.

covoid shows 54 recovery and state government website shows 55 recovery.

source link:- https://gujcovid19.gujarat.gov.in/

also city wise all data available by state government. Have a look if you can accommodate.

[2020-04-14 06:28] sudevschiz commented on #1072
Fixed. Thanks for reporting. Please try to use the Contact Us form next time for (Check the Pinned Issue in the repository)

[2020-04-14 06:28] #1072 closed, assigned to nobody

[2020-04-14 06:43] rahulnyk commented on #1066
Thanks a lot!

I have used the data to create a small dashboard shared open source.
https://impactech.github.io/COVID19_India/

[2020-04-14 06:57] sudevschiz commented on #1064
Numbers are matched as per the MH state bulletin.

[2020-04-14 06:57] #1064 closed, assigned to nobody

[2020-04-14 07:51] Dhrumit8596 opened #1073 "Mehsana and Mahesana is same(in Gujarat state)"
**Describe the bug**
A clear and concise description of what the bug is.
Included new city with wrong spelling name.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'www.covid19India.org'
2. Click on 'gujarat'
3. Scroll down to 'Mehsana'
4. See error

**Expected behavior**
Removing Mahesana and changing count of mehsana in Gujarat state.

**Screenshots**
Added the screen shot from you

[2020-04-14 08:02] shree-vastava opened #1074 "get States data in the API along with disctricts"
I am using a rapid api which sends me the data of state_wise very similar to yours but it highlights the states highlights before jumping to disticts.

[code]
Will it be possible to add this data? From the current data, I can add up the confirmed cases and delta in confirmed. But there is not data for state level recovered and deceased.

[2020-04-14 08:03] pooja3 commented on #878
Can u assign this bug to me? I am willing to work on this.

[2020-04-14 08:13] jamy007 commented on #902
I reported the cased yesterday that jabalpur has total 11 cases sinse
previous sunday but still it has not beet updated yet, it is still showing
10 cases, i also has mentioned the the link-
https://www.google.com/amp/s/www.naidunia.com/lite/madhya-pradesh/jabalpur-jabalpur-coronavirus-update-one-more-coronavirus-positive-found-in-jabalpur-city-5482432

On Fri, Apr 10, 2020, 5:34 PM Krishna Pravin

[2020-04-14 08:14] shuklaayush commented on #1030
@jaibatrik So we've fixed that. It was happening because of touch events being triggered on the table. @nayakrahul We're working on that.

[2020-04-14 08:16] shuklaayush commented on #1069
Yeah, I agree. The UX is not the best right now. Can you repost your suggestions on #1017? It's easier for us to track. Closing this

[2020-04-14 08:16] #1069 closed, assigned to nobody

[2020-04-14 08:18] KrishnaPravin commented on #902
@jamy007 we usually update the data only if it is from official sources like government social media handles, press bulletins, official government websites, etc

[2020-04-14 08:28] faisal3389 opened #1076 "PATIENT AGE bar graph hover does not show appropriate data"
**Describe the bug**
When hovered upon the bar graph for patient age box, in the deep dive section. It does not show the proper data

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/deepdive'
2. Scroll down to 'PATIENT AGE'
3. Hover on the age groups and move the cursor to different bars.

**Expected behavior**
The tooltip should show the count of patients

[2020-04-14 08:36] nikita-11 commented on #1031
@kartheeki-kongara @jeremyphilemon You can close this one. Data team is working on aggregating data from seven sisters. It will reflect as soon as added.

[2020-04-14 08:37] #901 closed, assigned to nobody

[2020-04-14 09:03] nikita-11 commented on #983
Why do you say it is inaccessible? Can you please visit the Essentials tab. Select All states, All cities followed by Govt helpline in filters. You will be able to see the helpline numbers being displayed city wise. We can integrate it with your collated list as well, but that would need a city-wise filter to be shown.

[2020-04-14 09:14] nikita-11 commented on #890
@jeremyphilemon @Sanskar95 We can close this one. Currently we have "All States" button , so need not disable the search button for any such case. "All States", "All Cities" "All Categories" Are selected by default.

[2020-04-14 09:19] dpnkrpl commented on #951
@shuklaayush What's your plan regarding this issue? The right blank space is expanding day by day as the numbers are increasing.

![Screenshot_2020-04-14-14-52-24-185_com android chrome](https://user-images.githubusercontent.com/27947066/79208413-a137c100-7e5f-11ea-95a4-975b5e6ad24b.jpg)

[2020-04-14 09:20] #881 closed, assigned to nobody

[2020-04-14 09:21] #884 closed, assigned to nobody

[2020-04-14 09:23] bootleg-icarus commented on #647
@faisal3389  I added the charts based on the api, please take a look.
[Here's the code](https://github.com/bootleg-icarus/covid19india-react/tree/feature/mobility-tracker)

I'm working on the styling now, I know it is not yet responsive and the spaces seem a bit odd.

![Sample for the new charts](https://user-images.githubusercontent.com/39964085/79213242-7866fa00-7e66-11ea-87d6-81dd4e6cc161.png)

[2020-04-14 09:30] nikita-11 commented on #863
@ninjakx  This has been fixed with this release of Essentials page. We can close the issue for now. @shuklaayush

[2020-04-14 09:32] shuklaayush commented on #951
@deep5050 For the testing numbers above the map, @jeremyphilemon is working on a redesign.

As for the table, we were thinking of making it horizontally scrollable. From an implementation point of view, this would involve somehow making the first column sticky like the table header is right now. Then we can also add more columns to the table and not worry about the UI breaking on phone. Let me kno

[2020-04-14 09:32] nikita-11 commented on #842
@shuklaayush @swapniltomake Pagination has been removed. We can close this one too.

[2020-04-14 09:32] #863 closed, assigned to nobody

[2020-04-14 10:08] np000 opened #1077 "Adding a graph for current active cases"
**Is your feature request related to a problem? Please describe.**
No. Its an improvement to the existing visualization.

**Describe the solution you'd like**

When we select a particular state there are graphs for Confirmed, Recovered and Deceased. It would be good feature if we can an add en extra graph on "Active Cases"

**Describe alternatives you've considered**
Did not find any.

**Additiona

[2020-04-14 10:31] ghost opened #1078 "Please add a cumulative graph for "active" cases"
Hi Team,
Could you please add a cumulative graph for "Active" cases. Right now I think we have cumulative graph for "Confirmed" cases.

[2020-04-14 10:33] nikitha90 opened #1079 "Double clicking a key in any graph highlights the heading of next graph"
When the key of any graph is double clicked in desktop, the heading of the next graph is getting highlighted.

1. Click on "deceased" in the key section of INDIA - TOTAL CASES graph
2. See the next graph heading INDIA - DAILY CASES heading getting highlighted in text "INDIA"
3. On deselecting the key, the highlighting is turned off
3. This issue happens with all graphs that contains keys.

Tried i

[2020-04-14 10:36] #842 closed, assigned to nobody

[2020-04-14 10:40] shuklaayush commented on #1074
Hey @shree-vastava, have a look at this [API](https://api.covid19india.org/data.json). It contains the state-wise breakdown of confirmed, recovered and deaths. Hoping this is what you need.

[2020-04-14 10:42] shuklaayush commented on #1078
Duplicates #825

[2020-04-14 10:42] #1078 closed, assigned to nobody

[2020-04-14 10:42] shuklaayush commented on #1077
Duplicates #825

[2020-04-14 10:42] #1077 closed, assigned to nobody

[2020-04-14 10:42] #564 closed, assigned to KrishnaPravin

[2020-04-14 10:43] shuklaayush commented on #899
Duplicates #825

[2020-04-14 10:43] #899 closed, assigned to nobody

[2020-04-14 11:26] sarfarazit08 commented on #1063
![IMG_20200414_165351](https://user-images.githubusercontent.com/12494845/79219954-caad1880-7e70-11ea-92be-06b6277d2087.jpg)
This time the issue seems to be with confirmed and recovered cases.

[2020-04-14 11:36] pooja3 commented on #966
Can u assign this enhancement to me? I am willing to work on this.

[2020-04-14 12:22] swapneel12 opened #1083 "District name dohad & Dahod is same"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-14 12:22] #1083 closed, assigned to nobody

[2020-04-14 12:37] kunalpgithub commented on #647
@bootleg-icarus @faisal3389  I can add tabbed ui to this. Meanwhile it will be good if someone apply appropriate label to issue.

[2020-04-14 13:03] seabbs opened #1084 "Rt tracking by state"
**Is your feature request related to a problem? Please describe.**

Showing just case counts is informative but doesn't get at the root of the issue.

**Describe the solution you'd like**
 It would be nice to see regional Rt estimates. We have an approach for doing this by region (https://github.com/epiforecasts/covid-regional/blob/b5cd746537dfc1f2cb15bef233342c4bfc1987d4/united-kingdom/update_now

[2020-04-14 13:04] bootleg-icarus commented on #647
@kunalpgithub the tabbed ui is done too, you might be able to see that in the picture. If you want to  see any changes, please let me know.

@pastelsky please check if this is the feature you wanted.
Also, I got a couple of the questions about the API,
1. Does the API update everyday if google releases new data?
2. Will it always have 50 data points for each of those metrics?
And thank you for the

[2020-04-14 13:06] seabbs commented on #1084
Our national estimate may be of interest (note uses ECDC data and an international report delay): https://epiforecasts.io/covid/posts/national/india/

and apologies if this comes across as too much of an advert - feel free to ignore.

[2020-04-14 13:10] kunalpgithub commented on #647
@bootleg-icarus yes I saw tabs after settimg up branch, anyways let me know if needed anything. I will find something else.

[2020-04-14 14:29] marutha opened #1086 "[Deep Dive] [States - Total cases] Able to select and de-select all states"
**Is your feature request related to a problem? Please describe.**
It would be great if I am able to select a state in faster way, I am frustrated when I have to go and strike-out (disable) all the other states except the one I want to see.

**Describe the solution you'd like**
Probably a button with Select all (enabled by default), Select none, when clicked upon striking out all the states

**Des

[2020-04-14 14:30] marutha commented on #1086
#duplicate of #836

[2020-04-14 14:30] #1086 closed, assigned to nobody

[2020-04-14 14:37] #1087 closed, assigned to nobody

[2020-04-14 14:40] guptaofficial17 opened #1088 "How to deploy this script on my website"
Sir first of all thank you for this wonderfull script
Sir i am successfully deploy this scipt on localhost but i have to use it through my public ip
Sir please let me know how to use this with my public IP or A website

[2020-04-14 15:20] shree-vastava commented on #1074
@shuklaayush Thanks. I knew about this API. Could not see the statewise array. Didn't pay attention to the whole data, my bad.
Thanks a lot. i have made an android app using this.

[2020-04-14 15:55] gambitthiru opened #1089 "downloadable source data"
Team, Thanks for the wonderful work that you have done. It would be great if you could help me download the data source for educational purpose. We are trying to learn analysis through this data. Please help

[2020-04-14 16:02] #1074 closed, assigned to nobody

[2020-04-14 16:04] Subinsm opened #1090 "Issues in Raw Data JSON"
In the https://api.covid19india.org/raw_data.json, there are some misaligned values for keys. All values from "currentstatus" key are assigned to the next key

For Example,
currentstatus:                         instead of currentstatus: Recovered
dateannounced : Recovered instead of dateannounced: 21/03/2020

These misaligned keys are seen between dates 17/03/2020 to around 24/03/2020

[2020-04-14 16:14] JunaidBabu commented on #1090
I'm sorry I don't see any issues. Can you provide a screenshot or something?

[2020-04-14 16:19] Akcena007 commented on #1088
@gupta199862 how did u deployed the same on local host?

[2020-04-14 16:22] bansallabs opened #1092 "Sir I was not able to access the api as well the Dashboard on my cell phone for sometime on 14-04-20 evening"
was there any issue

both JSON and site was un available.

[2020-04-14 16:31] Subinsm commented on #1090
I am terribly sorry for wasting your time. It was a mistake in my JSON parser.
One example:
 "backupnotes": "Returned from Spain; Indira Gandhi National Forest Academy Trainee"
The semicolon made my parser read "Returned from Spain" as one key and added "Indira Gandhi National Forest Academy Trainee" to the next key.

[2020-04-14 16:31] #1090 closed, assigned to nobody

[2020-04-14 17:03] Mrutyunjay1992 opened #1093 "Add district wise active, discharged, deceased status on expanding the states"
Please add district wise active, discharged status on expanding the states

[2020-04-14 17:03] guptaofficial17 commented on #1088
it is not a php ... which i go and upload on cpanel and boom started working

[2020-04-14 17:05] Akcena007 opened #1094 "how to edit and run this project on my localhost (for personal use)"
how to edit and run this project on my localhost (for personal use).

I need to make my own website with selective components from the website

[2020-04-14 17:09] Akcena007 commented on #1088
@gupta199862 I need to make my own website with the selective components only from this source code for personal education purpose and for learning.
I dont need maps and all I just need table of figures statewise.
Can you guide me please.

[2020-04-14 17:13] shuklaayush commented on #1089
Hey, the APIs are public at https://api.covid19india.org

[2020-04-14 17:13] #1089 closed, assigned to nobody

[2020-04-14 17:22] aishmittal opened #1095 "Selecting All States in drop-down doesn't reset the map"
**Describe the bug**
On the home page when the user selects **ALL STATES** from the drop-down above the graphs the map still shows the previously selected state instead of a complete map of India.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home Page
2. Select a state from the table
3. Select ALL STATE option from drop-down above the graphs on left
4. The map on top still shows ol

[2020-04-14 17:34] MesumRaza commented on #647
Hey just wanted to specially appreciate and thanks for this wonderful work, I have setup a basic analysis for Pakistan and will be releasing World wide interactive kit for the same dataset.

The link is http://hyperurl.co/pakcovid I have combined all your country data into one.

[2020-04-14 17:55] SIFAR786 opened #1097 "City-wise Recovery vs Death Rates"
**Is your feature request related to a problem? Please describe.**
I am trying to understand what is the number of Recoveries vs Deaths for Active cases, in the case of Metro Cities like Mumbai, Chennai, Telangana etc. So a City-wise chart showing Active Cases and the number of Recoveries vs Death could give it's citizen's a clear indicator as to how much they are following social-distancing and w

[2020-04-14 18:15] nikita-11 commented on #892
@shuklaayush  We can close the issue. This has been taken care of in this release.

[2020-04-14 18:19] #892 closed, assigned to nobody

[2020-04-14 18:22] gambitthiru opened #1098 "api token"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-14 18:23] #1098 closed, assigned to nobody

[2020-04-14 19:01] Dhrumit8596 commented on #1073
Data Issue resolved

[2020-04-14 19:01] #1073 closed, assigned to nobody

[2020-04-14 19:29] guptaofficial17 commented on #1088
heroku is best for you in one click

[2020-04-14 20:47] hbgowda opened #1099 "Delta count doesn't reset at 12 am. It still adds to the previous day's delta count"
**Describe the bug**
Delta count doesn't reset at 12 am. It still adds to the previous day's delta. For eg. CONFIRMED  cases delta count was +1023 just before 12 am on 15th April 2020 and at 1:10 am on 15th April the CONFIRMED delta is +1033 when actually it should have been just +10. The same is the case for other statistics such as RECOVERED and DECEASED

**To Reproduce**
Go to home page and che

[2020-04-14 22:39] deepankkartikey commented on #1099
@hbgowda
Can I look into this?
Also, I was trying to set up the project in my local environment. Do we have document or any steps for this?

[2020-04-14 22:42] deepankkartikey commented on #1099
@hbgowda
I was able to launch project in my local, can I look into this issue?

[2020-04-14 22:47] aaditkapoor commented on #1062
I have made the feature.

[2020-04-14 23:15] deepankkartikey commented on #1099
@hbgowda
The delta is calculated inside the Patient Database sheet only and directly pulled from there.
The formula applied there may be wrong.

[2020-04-14 23:40] quantumfrost opened #1100 "Graphs should be independent of system time"
**Describe the bug**
The graphs change depending on what the system time is set to. This means different graphs are shown in different timezones, and some timezones show outdated information.

**To Reproduce**
Steps to reproduce the behavior:

1. Set system date to yesterday's date
2. Go to the website
3. Look at the graphs
4. Revert system date
5. Refresh website
6. Compare the graphs

**Expected

[2020-04-15 01:00] bhaumikmistry opened #1101 "A new Detailed Icon for the page for a better COVID representation."
**Is your feature request related to a problem? Please describe.**
A Graphical representation is very important, hence I have come up with a more detailed image to show the icon for the webpage

**Describe the solution you'd like**
Please see the attached image for the new reference package
![ms-icon-310x310](https://user-images.githubusercontent.com/17535720/79287789-e45f5780-7e92-11ea-967f-302ee

[2020-04-15 03:05] pankzkmr opened #1103 "Total number of confirmed cases are different in map and graph"
![IMG_20200415_083230](https://user-images.githubusercontent.com/29862569/79294536-0b9a4100-7ef4-11ea-9392-20b9026c419d.jpg)

[2020-04-15 03:07] pankzkmr commented on #1103
![IMG_20200415_083627](https://user-images.githubusercontent.com/29862569/79294668-55832700-7ef4-11ea-9c54-20d137cd3fd4.jpg)

[2020-04-15 03:32] sudevschiz commented on #1103
Yes, this is a known bug. Let me look into this.

[2020-04-15 03:44] sudevschiz commented on #1103
Fixed this. It was due to a formula not being present in a cell. Thanks for reporting :)

[2020-04-15 03:44] #1103 closed, assigned to sudevschiz

[2020-04-15 04:00] bootleg-icarus commented on #1094
You'll see the 'Fork' option in the top right corner. Click that. This will copy the repo on your page.
You'll see the big green button labelled "clone or download". You can use the link as
`git clone link` (replace link with the link you copied)
or download and extract the files manually.
You'll need [node](https://nodejs.org/en/) installed on your system.
Once you're in the directory of the loca

[2020-04-15 04:01] sudevschiz commented on #1101
Thanks for your icon design. However, don't you think a minimal flaticon is good enough?

Closes #1102

[2020-04-15 04:01] #1101 closed, assigned to nobody

[2020-04-15 04:02] sudevschiz commented on #1100
Yes, all graphs should be based out IST. Marking this available.

[2020-04-15 04:04] sudevschiz commented on #1099
@hbgowda @deepank120896 The delta is set to be reset at 7AM every day IST.
This has been set intentionally because many of the state bulletins come out close to midnight and we would like to display the current stats throughout the night.

Thanks for reporting.

[2020-04-15 04:11] sudevschiz commented on #1099
However, we do have an inconsistency with this behaviour for the district delta. @deepank120896 could you have al look at #1104 ?

Much appreciate your help.

[2020-04-15 04:11] #1099 closed, assigned to nobody

[2020-04-15 04:13] sudevschiz commented on #1097
We rarely get city-wise information from the state bulletins. So, with the current data, it might not be possible to plot anything geographically more granular than a district.

[2020-04-15 04:13] #1097 closed, assigned to nobody

[2020-04-15 04:23] sudevschiz commented on #1095
I am not able to reproduce the issue.
![Profile-20200415T132143](https://user-images.githubusercontent.com/4298868/79298511-4fa13c00-7f1c-11ea-8980-9f2506ec3aa5.gif)

Could you share more details or share a screen capture?

[2020-04-15 04:25] sudevschiz commented on #1084
This is quite interesting work. Potential candidate for the deep-dive section. @gautam1858 please do have a look.

[2020-04-15 04:27] sudevschiz commented on #1093
We are capturing the district of the Recovered/Deceased cases as much as possible. However many cases need to be back-updated. Will try to work on this as soon as possible.

Once the data is more complete, this can be easy shown in the table.

[2020-04-15 04:31] sudevschiz commented on #1092
There could've been some delay in API reflecting the numbers yesterday. However, there should not have been any downtime.

Please do join the [dev group](https://t.me/joinchat/APSO7lRvI-WwV4CW0LncKw) for faster updates and Q&A regarding the site downtime etc. Thank you.

[2020-04-15 04:31] #1092 closed, assigned to nobody

[2020-04-15 04:32] vamgan opened #1105 "Problem in Json"
**Describe the bug**
There is age inserted in gender.
**To Reproduce**
Steps to reproduce the behavior:
Check raw_data.json

**Screenshots**
![image](https://user-images.githubusercontent.com/13998000/79298898-1a86f080-7f00-11ea-9468-1663e7b95781.jpeg)

[2020-04-15 04:34] sudevschiz commented on #1062
Could you share your modeling process in detail as a write-up (medium article /latex/pdf)?
We have to be extremely cautious while modelling cases and especially deaths.

[2020-04-15 04:37] sudevschiz commented on #581
The data available at our end is mostly at a district level. The location accuracy is too small to suggest anybody recommended hospitals.

Also, the ICMR data might not be fresh enough.

[2020-04-15 04:41] sudevschiz commented on #672
The links that we sponsor need to be well thought out. Now that the economy is extremely volatile, requesting money has lot of issues behind it.
Putting this on hold.

[2020-04-15 04:43] sudevschiz commented on #751
This could be part of the new state page that we are creating. Will keep in mind. Thank you!

[2020-04-15 04:44] sudevschiz commented on #812
@jeremyphilemon @JunaidBabu thoughts?

[2020-04-15 04:48] sudevschiz commented on #931
We had added some meta tags to the page. Currently we don't have any intentional plans make the website more popular for the sake of making it popular.

However, will keep this mind. Organically, when we have more content in graphs section, this problem would solve on its own.

Closing this for now.

[2020-04-15 04:48] #931 closed, assigned to nobody

[2020-04-15 04:49] sudevschiz commented on #999
Sorry, didn't get you. What sort of push?

[2020-04-15 04:53] sudevschiz commented on #1105
Thanks for reporting. This was a data input error. Has been fixed.

[2020-04-15 04:53] #1105 closed, assigned to nobody

[2020-04-15 05:00] vamgan commented on #1105
Still not reflecting in the json file.

[2020-04-15 05:06] ameya-pandilwar opened #1106 "Incorrect state notes for the state in data"
**Describe the bug**
Incorrect state notes for the state in data

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://api.covid19india.org/data.json'
2. Click on 'statewise'
3. Scroll down to 'West Bengal'
4. The statenotes for West Bengal are shown in Punjab

**Expected behavior**
The statenotes for West Bengal should be shown in West Bengal

**Screenshots**
<img width="1280" alt

[2020-04-15 05:07] aishmittal commented on #1095
@sudevschiz Yes not reproducible in the current build. So I am closing it for now.

[2020-04-15 05:07] #1095 closed, assigned to nobody

[2020-04-15 05:39] pradeepAtcodingmart commented on #854
You guys showing only the top 10 states so that's why Karnataka is not visible because it's in 11th place. I have two suggestions for this issue.
1)I can show the top 12 states so that Karnataka will be visible
2) or else, we can show the states which have the count of corona cases >150.
NOTE : Showing all the states might be clumsy.
Suggest me the right one

[2020-04-15 05:51] maverickpeejay opened #1107 "Yesterday data button on top of tracker"
1. There should be an EASY way to see yesterday data for main tracker. I believe many users want to compare from last day.

2. Active cases column should be among first columns. Mobile users can see it directly and sort it.

[2020-04-15 06:26] tannakartikey commented on #854
@ninjakx I suggest you create an issue with the Enhancement template with proper specifications to keep the discussions relevant.  And if the suggestion is accepted then we can assign you the task and let you submit the PR for the same.

[2020-04-15 06:51] roshan000 commented on #1107
What we need to compare only count from old and new or increased/decreased percent.

[2020-04-15 06:52] pradeepAtcodingmart opened #1108 "Suggestion for KARNATAKA state missing from Deep Dive Line graph #854 issue"
**Describe the bug**
KARNATAKA state missing from Deep Dive Line graph

 **Suggestion**
You guys showing only the top 10 states so that's why Karnataka is not visible because it's in 11th place. I have two suggestions for this issue.
1)We can show the top 12 states so that Karnataka will be visible
2) or else, we can show the states which have the count of corona cases >150.

NOTE: Showing all the

[2020-04-15 07:05] abhishekakade opened #1110 "No sitemap available (SEO)"
**Describe the bug**
Sitemap XML will help increase the reach and improve crawling and overall SEO.

[2020-04-15 07:09] maverickpeejay commented on #1107
Count of confirmed cases- yesterday VS today.
For country, each state and each district/zone

[2020-04-15 07:13] darsh7807 commented on #999
like we need to push this to data providers, and ask them to publish the day wise count also, it possible but dont know how. Will be great feature though

[2020-04-15 07:21] tannakartikey commented on #1107
@maverickpeejay thanks for creating the issue.

We are already showing the difference on each level you mentioned.

The confirmed column is shown first as the other three columns sum up to the confirmed column. Also, all the columns are visible clearly on the mobile.

[2020-04-15 07:21] #1107 closed, assigned to nobody

[2020-04-15 07:23] tannakartikey commented on #1110
@abhishekakade the issue is duplicate of https://github.com/covid19india/covid19india-react/issues/262

Please edit your PR description to point the actual issue as well.

Thanks.

[2020-04-15 07:23] #1110 closed, assigned to nobody

[2020-04-15 07:44] abhishekakade commented on #1110
@tannakartikey, I searched for 'SEO' issues but didn't find any related to this so I created a new one.

[2020-04-15 07:44] soham4abc opened #1113 "Providing details of the hotspots marked by the government!"
The recent announcements of the government and the twitter handle of the health ministry should be added I believe. Thus people will be able to see all the government announcements plus the live data of the current cases of covid19
https://twitter.com/MoHFW_INDIA

[2020-04-15 08:26] Dhrumit8596 opened #1114 "Total test all over india not shown"
**Describe the bug**
Total number of cases all over the india is not shown.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Click on 'all states
3. Scroll down to 'Map'
4. It shows a "-" on total number of test done

**Expected behavior**
It will be great if it shows the total test done.

[2020-04-15 08:33] tannakartikey commented on #1114
Thanks for reporting the issue, @Dhrumit8596

It's duplicate of https://github.com/covid19india/covid19india-react/issues/1013

[2020-04-15 08:33] #1114 closed, assigned to nobody

[2020-04-15 08:42] tannakartikey commented on #1113
@soham4abc hotspot request is duplicate of https://github.com/covid19india/covid19india-react/issues/793

I will keep your issue open provided you edit the title and the description of the issue to mention just the social link.

Thanks.

[2020-04-15 08:47] soham4abc commented on #1113
Please see to it. Hope it's fine now!

[2020-04-15 08:54] bootleg-icarus opened #1115 "Indirect deaths data could be included"
**Is your feature request related to a problem? Please describe.**
There are several factors that could lead to fatality other than getting infected. ( Death on road, Starvation, Suicide, Neglect ) Showing this data might raise awareness and might even help plan out other activities to help those in need ( Provide food, shelter, emotional support )

**Describe the solution you'd like**
[This datas

[2020-04-15 09:23] faisal3389 commented on #647
@bootleg-icarus good work on the tabbed-UI, this looks great. I have a suggestion, It would be more meaningful if the y-axis displays the percentage instead of absolute numbers as represented by the API.
@pastelsky can comment on the further features that are planned.

[2020-04-15 09:31] faisal3389 commented on #905
I can work on this if this has not been picked yet.

[2020-04-15 09:39] faisal3389 commented on #1100
I would like to work on this. Please assign this to me

[2020-04-15 09:42] Code5500 opened #1116 "District wise Data is not being displayed in maharashtra"
**Describe the bug**
Rise in number of cases not being available.

**To Reproduce**

1. Go to 'maharastra'
2. Click on 'it'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome

[2020-04-15 10:17] bootleg-icarus commented on #647
@faisal3389 I made some changes. Please take a look

![covid19](https://user-images.githubusercontent.com/39964085/79326146-02c76080-7f30-11ea-9d34-45b7495d138e.png)

@pastelsky @sudevschiz @jeremyphilemon  Could you assign this to me?

[2020-04-15 10:22] shuklaayush commented on #1116
Seems to be fixed

[2020-04-15 10:22] #1116 closed, assigned to nobody

[2020-04-15 11:18] strikertanmay opened #1118 "Update README"
**Is your feature request related to a problem? Please describe.**
I saw new users/ newcomers found difficulty to set up the project locally. And also the current README is not looking good and doesn't provide the complete information and functionalities of the whole project.

**Describe the solution you'd like**
1) Update README which gives a clear and concise description of the project.
2) Write

[2020-04-15 11:18] DhiralKaniya opened #1119 "[Mobil-UI]State table and chart overflow from right side in the mobile view"
**Describe the bug**
State/UT table and summary chart having some extra space in the right side.

**To Reproduce**

1. Open google chrome browser in the mobile.
2. Go to https://www.covid19india.org/
3. Go to state/UT table
4. Go to the summary chart

**Expected behavior**
State/UT table and summary chart should be properly fixed on the screen. Overflow not expected. In-case of overflow(Width is e

[2020-04-15 11:36] maddhruv opened #1121 "PWA for the website"
**Is your feature request related to a problem? Please describe.**
Every time I have to open the web browser and visit the URL, let's have PWA for the same

**Describe the solution you'd like**
An installable and offline supportive PWA

[2020-04-15 11:44] akshitmehra opened #1122 "Uniformity in y-axis scales of summary charts"
**Describe the bug**
I think the Confirmed, Active, Recovered and Deceased summary charts have uniform y-axis scales. Because of which, if the Recovered and Deceased are compared with the Confirmed and Active, the line charts for the former look almost flat (straight line) and serves no purpose. The charts will flatten further as and if (god forbid) the cases rise.

**To Reproduce**
Steps to repro

[2020-04-15 11:55] snachiap opened #1123 "% of Tested vs Positive would give information about what proportion is affected"
**Is your feature request related to a problem? Please describe.**
For example, some states have higher number of positive cases, but it is proportional to how many have been tested. 400 affected out of 10000 tested is much less than 100 affected out of 500.

**Describe the solution you'd like**
Having another column in the home page giving proportionality would be helpful

[2020-04-15 12:03] trilloc commented on #825
Looks like the pull request is not going through? Any possibility of bumping this up pls

[2020-04-15 12:13] hbgowda commented on #1099
Thanks @deepank120896 for your interest in this issue and @sudevschiz for clarification. Appreciate it.

[2020-04-15 12:26] prablr79 opened #1124 "New addition of cases can be traverse to district level and Ward level of given city."
All new addition at the city level is fine, however if you can drill down to ward level / Thaluk level will be much help full at stage of project since most of the Govt agencies are started reporting at Municipal level of Red Zone and Green Zone.

[2020-04-15 12:30] prablr79 opened #1125 "Better show case Green Color coding"
Since some of the State/UTs are not growing the cases, can be showcased Green to show case some positive view on the Graph.

its time to showcase both side of the story.

[2020-04-15 12:32] kunalpgithub commented on #966
@kracekumar  this is really good feature. Do we have data for this API or can someone guide how can we use existing data that we have.

[2020-04-15 12:37] kunalpgithub commented on #905
@faisal3389  have you started on it.
I don't know from where to get data for this. Is there any API build for this?

[2020-04-15 12:38] alpha-k911 commented on #727
Pull Request: https://github.com/covid19india/covid19india-react/pull/1120
Deployment: https://covid19india-react-k9qct90h3.now.sh/

I have resolved the Network Error.

I have made the Forecast script and raw_data. Pull Request Link is provided above. Any suggestions are welcomed  :smile:

[2020-04-15 12:38] kunalpgithub commented on #887
@Zindra  which json you are looking at for data?

[2020-04-15 12:47] Bharath-Kumar-Perumalla commented on #1122
I agree with Akshit.
We need to match the Y-axis data scale with the average Y- axis data.
For example we need to use 10 scale ( rather 1000 ) for Y-axis for deaths.
By using 1000 ( K) in Y - axis scale, the graph looks like Flatten esepecailly in death chart.
It may create a wrong impression too.

[2020-04-15 12:54] tannakartikey commented on #1100
@faisal3389 all yours!

[2020-04-15 13:06] tannakartikey commented on #1121
@maddhruv it's duplicate of https://github.com/covid19india/covid19india-react/issues/758

[2020-04-15 13:06] #1121 closed, assigned to nobody

[2020-04-15 13:06] #760 closed, assigned to nobody

[2020-04-15 13:09] tannakartikey commented on #758
I was also not in favor of this but we have got 3 issues asking for this and it seems many people are checking the website multiple times a day. So upvoting!

https://github.com/covid19india/covid19india-react/issues/637
https://github.com/covid19india/covid19india-react/issues/1121

[2020-04-15 13:11] tannakartikey commented on #1123
@snachiap duplicate of https://github.com/covid19india/covid19india-react/issues/945

[2020-04-15 13:11] #1123 closed, assigned to nobody

[2020-04-15 13:13] shuklaayush commented on #1125
Hi @prablr79, it's not a good design principle to create maps with multiple colour hues. Also, a lot of people suffer from Red-green colour blindness (Protanopia), and your suggestion would make it extremely difficult for them to interpret the map. These are some of the reasons that we went with the current design.

We plan to add separate maps for recovered in the future. Hope that will address y

[2020-04-15 13:13] #1125 closed, assigned to nobody

[2020-04-15 13:14] tannakartikey commented on #825
Hello, @trilloc

Thank you for showing interest.

We are working on lots of fronts at once and there is quite a lot of activity going on so it might take us a while to get back to you.

Your patience is highly appreciated!

[2020-04-15 13:18] vedadeepta commented on #905
@kunalpgithub the data is available from this [api](https://api.covid19india.org/data.json). `totalindividualstested` & `totalpositivecases` is available in the `tested` array along with timestamps.

[2020-04-15 13:49] akshitmehra commented on #1122
Currently, all the summary charts use the `dailyconfirmed` values from the first chart to calculate their y-axis maximums. I suppose each chart should use their own daily values for this purpose so that they look somewhat like this

![image](https://user-images.githubusercontent.com/22560083/79348060-17b4eb80-7f52-11ea-9743-b8a6138adec1.png)

I don't think, comparing all four charts, makes sense h

[2020-04-15 13:55] prablr79 commented on #1125
Thanks, it's good to see new map with green status.

On Wed, Apr 15, 2020, 6:44 PM Ayush Shukla <notifications@github.com> wrote:

[2020-04-15 14:42] vikramnr opened #1127 "Add Tested cases in state wise table"
**Is your feature request related to a problem? Please describe.**
It would be nice to have column to have number of tested cases against each state
![image](https://user-images.githubusercontent.com/8538409/79350714-6c0d9a80-7f55-11ea-85d7-290603407bc4.png)

[2020-04-15 14:43] adithya77 opened #1128 "Graph to show trends of Active cases"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Currently there are trends for Total cases, recoveries and deaths.
Better to have trends of active cases by which we can clearly see the flattening of the cure.

**Describe the solution you'd like**
A clear and concise description of what y

[2020-04-15 15:13] Binu42 commented on #1119
Duplicate of #1006, #951 and this bug is fixed in PR #957

[2020-04-15 16:16] agnivesh3006 opened #1129 "Death report for every district wise in all state according to new case column"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-15 16:32] shilpi645 opened #1130 "map-stats div not responsive"
map-stats div is breaking in mobile view and is going out of the screen resulting in a scrollbar.

[2020-04-15 16:39] shivamsahewala commented on #1128
Even I was thinking of a graph showing current active cases. It will help us to show graph curve.

[2020-04-15 17:25] Neha0595 opened #1131 "Improve the UI of drop down menu on Essentials Page"
**Is your feature request related to a problem? Please describe.**
On Essentials page, for state, service and city selection, it'd be better if it have following functionalities:
1. There should be type and search functionality for these selections, as currently user has to scroll down every time in order to find the selection.
2. UI of drop down should be improved

**Describe the solution you'd l

[2020-04-15 17:26] Neha0595 commented on #1131
Please assign this to me.

[2020-04-15 18:09] srip1 commented on #945
Would like to contribute developing this enhancement. Please let me know if i can raise pull request.

[2020-04-15 18:16] srip1 commented on #1063
i would like to work on this issue if possible please assigned to me.

[2020-04-15 21:37] avneeshroks commented on #1046
Please assign this to me! PR : https://github.com/covid19india/covid19india-react/pull/1132

[2020-04-15 23:04] pankaj-dahiya-devops opened #1134 "Wrong district name as Italians are showing in State Rajasthan & Haryana"
**Describe the bug**
There are wrong entries in districts as "Italians*" in the table of states "Rajasthan" & "Haryana".

**To Reproduce**
Steps to reproduce the behavior:

1. Go to State Rajasthan/Haryana and expand it
2. You will find entries like "Italians" which is clearly not a district.

**Expected behavior**
There is no district with name Italians in Haryana or Rajasthan.

**Additional cont

[2020-04-15 23:37] avneeshroks opened #1135 "City column in the results table in essentials page has been covered by side navigation menu"
**Describe the bug**
The city column in the results table in essentials page is not showing up as the side menu is rendering on top of it.

**To Reproduce**

1. Go to https://www.covid19india.org/essentials
2. Click on Menu on side navigation menu
3. Click on Essentials
4. Click on search
5. Observe the first column i.e City column in the results table is not shown completely

**Expected behavior*

[2020-04-16 01:03] Joyouou opened #1136 "Confusing Home Page UI"
**India** is placed on top of the stats for states, on the right, while the numbers for the whole of India are on the left.

![a](https://user-images.githubusercontent.com/33721742/79403231-f1239e80-7fab-11ea-9865-e199b811feb4.jpg)

[2020-04-16 01:10] codeslane opened #1137 "Mobile View Layout Issue for Total Test"
Total Tests is hiding from of the viewport.

Screenshot attached.
![Screenshot_20200416-063620_Chrome](https://user-images.githubusercontent.com/26877201/79403658-267cbc00-7fad-11ea-88d9-965d664b9927.jpg)
![Screenshot_20200416-063625_Chrome](https://user-images.githubusercontent.com/26877201/79403667-2aa8d980-7fad-11ea-8e14-d010ad481782.jpg)

[2020-04-16 02:31] JunaidBabu commented on #372
This will be fixed in the redesigned version. Closing now.

[2020-04-16 02:31] #372 closed, assigned to jeremyphilemon

[2020-04-16 02:32] JunaidBabu commented on #777
Will be fixed in redesigned version.

[2020-04-16 02:32] #777 closed, assigned to nobody

[2020-04-16 02:33] #946 closed, assigned to jeremyphilemon

[2020-04-16 02:35] JunaidBabu commented on #992
This can be an item in the deep-dive page.

[2020-04-16 02:35] JunaidBabu commented on #1007
Can be an item in Deep-Dive section

[2020-04-16 02:36] #1002 closed, assigned to nobody

[2020-04-16 04:34] shuklaayush commented on #1134
I respect your opinion. But please keep the discussion limited to #882. Opening up a new ticket doesn't help anyone. Closing

[2020-04-16 04:34] #1134 closed, assigned to nobody

[2020-04-16 04:39] shuklaayush commented on #504
Fixed in #1133

[2020-04-16 04:39] #504 closed, assigned to guneetnarula, shuklaayush

[2020-04-16 04:39] shuklaayush commented on #1045
Fixed in #1133

[2020-04-16 04:39] #1045 closed, assigned to shuklaayush

[2020-04-16 04:46] himanshuhkm opened #1138 "the menu view in pc views"
![covid 19](https://user-images.githubusercontent.com/52048967/79415713-a9ad0a80-7fcb-11ea-9c48-6ce9c0ad25b1.PNG)

[2020-04-16 04:57] agajareiitr opened #1139 "Last Updated Time of All India cases is not updating"
**Describe the bug**
Last Updated Time of All India cases is not updating its still updated 11 hours ago

**Screenshots**

![image](https://user-images.githubusercontent.com/39427280/79416102-8767bc80-7fcc-11ea-83eb-7ad71b8c7532.png)

[2020-04-16 05:11] DhiralKaniya opened #1140 "Menu item title text should be align center"
**Describe the bug**
Menu item title are aligned start of the div. It should be center to provide batter UX.

**To Reproduce**

1. Go to https://www.covid19india.org/
2. Click on Menu
3. Menu title text

**Expected behavior**
Text should be center for better UX.

**Screenshots**
<img width="1676" alt="Screenshot 2020-04-16 at 10 37 56 AM" src="https://user-images.githubusercontent.com/21332852/794

[2020-04-16 05:14] DhiralKaniya opened #1141 "Essential table is not properly visibile"
**Describe the bug**
An essential table first column is not visible properly.

**To Reproduce**

1. Go to https://www.covid19india.org/essentials
2. Click on search
3. Scroll down to table
4. See error

**Expected behavior**
The table all columns should be visible properly.

**Screenshots**
<img width="1675" alt="Screenshot 2020-04-16 at 10 42 37 AM" src="https://user-images.githubusercontent.com/

[2020-04-16 06:06] prakhartripathi opened #1144 "Map View of Uttar Pradesh is overlapping with heading of 'unknown cases'."
**Describe the bug**
Map View of Uttar Pradesh is overlapping with text of unknown cases (class = unknown)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2. Click on Uttar Pradesh on Map view
3.  Uttar Pradesh Map is overlapping with unknown cases text.

**Expected behavior**
It should not overlap.

**Screenshots**
![bug image](https://user-images.github

[2020-04-16 06:13] vivek50 opened #1145 "Call Multiple Times of log.json file"
**Describe the bug**
Call Infine times of log.json file issue.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org'
2. Click on 'notification icon'
3. Open Network log.
4. See error

**Expected behavior**
The call of the json file should one time.

**Screenshots**
![Screenshot from 2020-04-16 11-41-41](https://user-images.githubusercontent.com/22144025/794209

[2020-04-16 06:22] nitinknolder commented on #1140
I would like to resolve this issue please assign this issue to me if it is available.

[2020-04-16 06:43] Binu42 opened #1146 "redesign issues"
**Is your feature request related to a problem? Please describe.**
new change in design and few other extra functionality are beautiful but current navbar redesign is not good for desktop user, user need to click on menu each time to navigate between pages it's an extra burden for them. and it's creating few other issues for desktop users like essential page. even the issue of not responsive is no

[2020-04-16 06:43] darsh7807 commented on #999
we are updating the city stats daily, so we can query from our sheet only to get daily data of cities and can keeo updating it?

[2020-04-16 06:43] bootleg-icarus commented on #1115
On further thought, It's better to remain focused on one idea instead of cramming every available information.

[2020-04-16 06:43] #1115 closed, assigned to nobody

[2020-04-16 07:36] aishmittal commented on #1145
I can work on this issue. Please assign

[2020-04-16 07:38] agajareiitr opened #1149 "Last Updated time for States is not updating"
The Last Updated time for States is not Working or not updating
steps to reproduce
1. hover over states and see on map side

for eg: for Maharashtra it says last updated 16 hours ago

![image](https://user-images.githubusercontent.com/39427280/79427868-f8b26a00-7fe2-11ea-9ae9-780e64c99abf.png)

[2020-04-16 07:38] mehuled opened #1150 "India's stats against other most infected countries from the days since 100th infection,"
**Is your feature request related to a problem? Please describe.**
- I would like to see how is India responding to the worldwide pandemic, just knowing numbers without an external reference scale makes it difficult to asses how better/worse we are doing than the others.

Pandemic is global and we must see if we are going in the right direction.

**Describe the solution you'd like**
I would like t

[2020-04-16 07:41] #1004 closed, assigned to nobody

[2020-04-16 08:07] #1030 closed, assigned to nobody

[2020-04-16 08:10] JamesMayengbam opened #1152 "Missing Data on Test for Manipur"
Problem: There are no data of number of test done on the State of MANIPUR.

Solution: I have no Idea where you got the earlier data from. Or may be our Government's Website is not updated. I have the daily updated data as Image file every day from my network.

I am new and don't know how to contribute to the data. But you can have the figures from me daily. If you guide me how to update for Manipu

[2020-04-16 08:22] pankaj-dahiya-devops commented on #882
Dear all, there is no district with name "Italians" in Haryana or Rajasthan.

You are focusing towards the "star" marked after this wrong district name and looking forward to put a note (info) regarding this star. Whereas, you should straight forward go and delete this Italians from the District names from the database. If the district of patients is not known, then it should go to "others" row. I

[2020-04-16 08:28] pankaj-dahiya-devops commented on #882
This site is at top list if anyone wants to see the data regarding Covid19 and still such a small typing error will take more then 10 days to rectify, then surely it is loosing it credibility!
Yes, I stating it as a typing error because if there is no such district and then it shouldn't be there on the first instance itself! Due to this lockdown, I do not have my laptop with me, else this is somet

[2020-04-16 08:41] cyrilmacphilip commented on #1128
+1

[2020-04-16 08:54] jeremyphilemon commented on #1145
Patched :)

[2020-04-16 08:54] #1145 closed, assigned to nobody

[2020-04-16 08:57] jeremyphilemon commented on #1152
cc @bee-rickey

[2020-04-16 09:05] vikasgarg3112 opened #1154 "Graph for Active cases state wise"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-16 09:08] sirajulm opened #1188 "Can we have the hotspot districts highlighted"
Based on the Home Ministry there are some inclusion and exclusion criteria which would help us to mark the hotspot districts with the available data. But we'd need district-wise timeseries to generate those values.

https://economictimes.indiatimes.com/news/politics-and-nation/govts-plan-to-contain-local-outbreak-is-yielding-results-lav-agarwal/articleshow/75159535.cms

[2020-04-16 09:16] vikasgarg3112 commented on #1154
This will help everyone to check which state graph is going down. Because at last number of active case is what that matter.

[2020-04-16 09:21] jeremyphilemon commented on #1119
Closing cause duplicate.

[2020-04-16 09:21] #1119 closed, assigned to nobody

[2020-04-16 09:24] shuklaayush commented on #1128
Duplicates #825

[2020-04-16 09:24] #1128 closed, assigned to nobody

[2020-04-16 09:25] vikasgarg3112 commented on #1154
![25F8E75C-8A6D-4F81-8256-12267179E028](https://user-images.githubusercontent.com/63781500/79439209-281ca300-7ff2-11ea-8d1c-6a24197263a3.png)

For eg this graph is for Australia.. It shows the graph of active case.

[2020-04-16 09:26] shuklaayush commented on #1154
Duplicates #825. Please comment over there. Thanks!

[2020-04-16 09:26] #1154 closed, assigned to nobody

[2020-04-16 09:35] jeremyphilemon commented on #1146
Patched :)

[2020-04-16 09:35] #1146 closed, assigned to nobody

[2020-04-16 09:36] vivekvroy opened #1156 "Close button for menu"
Instead of having a separate button for close when we click on menu,
when we hover back to the main content, automatically the menu drop down should go back or get closed.

[2020-04-16 09:37] jeremyphilemon commented on #1100
@sudevschiz Doesn't this have to do with the api side? The timeseries graphs don't refer to the system time at all though?

[2020-04-16 09:41] vivekvroy commented on #1144
In mobile view, it overlaps even more
![IMG_0317](https://user-images.githubusercontent.com/10249914/79441080-661ac680-7ff4-11ea-893d-ba6fc8d4209f.PNG)

[2020-04-16 09:47] Code5500 commented on #1150
Can be done but woukd take a lot of statistical data .

[2020-04-16 09:48] mdshamoon opened #1157 "No of positive cases in Pauri Garhwal District of Uttrakhand is wrong"
**Describe the bug**
No of positive cases in Pauri Garhwal District of Uttrakhand is wrong

**Attached file from uttrakhand government website**

[Corrected-15-04-2020-Health-Bulletin.pdf](https://github.com/covid19india/covid19india-react/files/4486238/Corrected-15-04-2020-Health-Bulletin.pdf)

[2020-04-16 10:03] elseasama commented on #596
I have both the city level geojson data and the data case data. Have been doing for more than a week now everyday.
![16-04-201](https://user-images.githubusercontent.com/17410369/79443481-8009d880-7ff7-11ea-8250-8db7ddcb418b.png)

[2020-04-16 10:07] vivekvroy opened #1158 "No of positive cases in Tumakuru District of Karnataka is wrong"
No. of confirmed cases for Tumakuru, Karnataka is shown as 1 and it is deceased.
But as per Karnataka government website details,
There is one active case and one person is deceased.
So, total cases should be 2.
[https://karunadu.karnataka.gov.in/hfw/kannada/nCovDocs/15-04-2020(English).pdf](url)
![image](https://user-images.githubusercontent.com/10249914/79443708-ceb77280-7ff7-11ea-8915-2c9e2769d

[2020-04-16 10:08] animesh-tarodia-sp commented on #1150
we can make use of pomber api for the data.
link:-  https://github.com/pomber/covid19

[2020-04-16 10:16] saifeesl opened #1159 "The font colors at notification area"
First of all thanks for the Nobel work.. hats off to you guys..

The notification area is right now plane text area..

![image](https://user-images.githubusercontent.com/63785125/79444705-9494a380-7fec-11ea-806c-f81af6ab0a31.png)

can it be like

![image](https://user-images.githubusercontent.com/63785125/79444827-c148bb00-7fec-11ea-9268-a260386cb1a6.png)

[2020-04-16 10:20] animesh-tarodia-sp opened #1160 ""Dadra and Nagar Haveli and Daman and Diu" is a single union territory while it is shown as two different states."
**Describe the bug**
Dadra and Nagar Haveli and Daman and Diu is a single union territory. It was merged in dec 2019 and came into effect from 26 jan. When we search the state it is shown as two different states.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Search'
2. Type 'd'
4. See error

**Expected behavior**
"Dadra and Nagar Haveli and Daman and Diu"  should be shown as single

[2020-04-16 10:26] deepanker0193 opened #1163 "Home Page Tabular infographic should also display columns for active, recovered and deceased people for the districts"
**Is your feature request related to a problem? Please describe.**
There is no problem as such, but this feature will give a detailed insight into a particular area to the reader.

**Describe the solution you'd like**
Add Column for Active, Recovered and deceased when I expand a state.

**Additional context**
Add any other context or screenshots about the feature request here.

<img width="600" al

[2020-04-16 10:27] deepanker0193 commented on #1163
Please assign this issue to me.

[2020-04-16 10:34] shuklaayush commented on #485
Closing because of inactivity

[2020-04-16 10:34] #485 closed, assigned to nobody

[2020-04-16 10:36] shuklaayush commented on #596
@elseasama Can you share those along with a source of the data?

[2020-04-16 10:38] shuklaayush commented on #721
Seems to be fixed

[2020-04-16 10:38] #721 closed, assigned to nobody

[2020-04-16 10:38] #723 closed, assigned to nobody

[2020-04-16 10:41] shuklaayush commented on #1163
@deepanker0193 This has more to do with the data/API. The relevant code is already there. Also, since this duplicates #888, please continue the discussion over there. It would make it easier for us to track. Thanks!

[2020-04-16 10:41] #1163 closed, assigned to nobody

[2020-04-16 10:58] elseasama commented on #596
[Ward and zone case data](https://docs.google.com/spreadsheets/d/1-SUs7yJeJzYQMNbH6ERPReV0ua9bDHZtb_uHqbEPeI8/edit?usp=sharing)

[Chennai zone and ward level geojson file](https://github.com/elseasama/chcovid19/blob/master/Chennai.geojson)

[Chennai containment zone map](https://github.com/elseasama/chcovid19/blob/master/containmentzone.geojson)

[2020-04-16 11:14] Binu42 opened #1164 "React Router dom problem of not scrolling to top on route changes"
**Describe the bug**
currently when user change from one page to another scrollbar remain at same position. it doesn't going at top.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to essential page(https://www.covid19india.org/essentials)
2. from dropdown select maharastra and click search.
3. Scroll down to bottom
4. then go to deep dive / Home(https://www.covid19india.org/deepdive / h

[2020-04-16 11:51] ghost commented on #1159
Assign this to me

[2020-04-16 12:36] #695 closed, assigned to sumukhah

[2020-04-16 12:42] limshark opened #1168 "Need catagory remote-consultation for partners in Menu/Essential"
**Problem:**
Currently in Webpage  - Menu/Essential
there is provision to search services based on categories,  However I find frustrating to find out anu service providers for home care and/or remote doctor consultation.

**Why it is important**
This is required as currently people mostly seniors or current patients requiring teleconsultation  and services for home care, during Covid Lockdown. It

[2020-04-16 12:49] marutha opened #1169 "Clicking on state navigate to state page"
**Is your feature request related to a problem? Please describe.**
It is not that user friendly to enter state names and then navigate to state page, it is kind of frustrating to key in and search for each state.

**Describe the solution you'd like**
Click on any state on the map to navigate to state page

**Describe alternatives you've considered**
- Not applicable -

**Additional context**
Exist

[2020-04-16 13:02] elseasama commented on #596
The containment zone map has been completed.

[2020-04-16 13:30] #951 closed, assigned to DashmeetArt

[2020-04-16 13:54] #1138 closed, assigned to nobody

[2020-04-16 14:06] dpnkrpl opened #1172 "[SERIOUS] Menu opens a transparent list !!"
On mobile devices Tapping on menu opens a transparent list of links leaving it impossible to navigate to the other pages.
A complete mess !!

![Screenshot_2020-04-16-19-34-55-528_com android chrome](https://user-images.githubusercontent.com/27947066/79465776-68434c00-8019-11ea-8f1f-0edd68307609.jpg)

[2020-04-16 14:19] dpnkrpl opened #1173 "Make `spread trends` center aligned on mobile devices"
![IMG_20200416_194057](https://user-images.githubusercontent.com/27947066/79467047-f9ff8900-801a-11ea-9c27-0104f35e1462.jpg)

1. Why not Make selected are center aligned for mobile devices?
2. It's a little bit confusion about scale mode label (do we really need to tell ?)
3. Toggling switches are too small to tap. Why not allow tap on their label too?

[2020-04-16 14:21] sandipndev opened #1174 "Tested Numbers on Home Page shows blank even though data is available"
**Bug Description**
The homepage of [https://www.covid19india.org/](https://www.covid19india.org/), on it's initial load, doesn't show any tested numbers even though tested data of many states are available.
![image](https://user-images.githubusercontent.com/40622610/79457216-7ab78880-800d-11ea-9df3-e8c134519283.png)

**Expected behavior**
Since data for almost all of the states are available (eve

[2020-04-16 14:29] Binu42 commented on #1172
tried to fixed at PR #957 link is [here](https://covid19india-react-25cirxyj3.now.sh/)

[2020-04-16 14:29] drdebmath commented on #1150
If you are looking for a visualization, you can find it at http://91-divoc.com/pages/covid-visualization/
It would be helpful to have such a visualization for state-wise cases to show the growth in one state vs the other, which may help in assessing the effectiveness of containment measures.

[2020-04-16 14:30] ghost opened #1175 "Content on main page overlaps the Menu items on mobile browser"
**Describe the bug**
Content on main page overlaps the menu items becomes un-clickable when 'Menu' button is clicked on top right corner.

**To Reproduce**
Steps to reproduce the behaviour:

1. Open website on mobile browser. (I am using Chrome on Android)
2. Click on 'Menu' in top right corner.
3. You'll see that content behind the menu items overlaps it.
4. Try and select any item from menu, and

[2020-04-16 14:32] himanshuhkm opened #1176 "navbaar in mobile mode is not opening proper way"
![covid 19](https://user-images.githubusercontent.com/52048967/79468831-0c7ac200-801d-11ea-83b8-2093ff0dbabc.PNG)

navebar is not opening seperatly its open over the home page

[2020-04-16 14:32] ghost commented on #1175
[content-overlaps-menu-item(1).mp4.zip](https://github.com/covid19india/covid19india-react/files/4487779/content-overlaps-menu-item.1.mp4.zip)

Zip file contains a video recorded. This might give you more clarity about the issue.

[2020-04-16 14:36] Binu42 commented on #1176
fixed at PR #957 can you look at it once link is [here](https://covid19india-react-25cirxyj3.now.sh/)
duplicate of issues #1175 #1172

[2020-04-16 14:38] ashishnirmal-dev opened #1177 "Plz Add Dark Mode OR Night Mode !"
Dark Mode OR Night Mode Which Ever Sound Good  ..  Thank You

[2020-04-16 14:39] Binu42 commented on #1175
fixed at PR #957 can you look at it once link is [here](https://covid19india-react-25cirxyj3.now.sh/)
duplicate of issues #1172

[2020-04-16 14:46] #1136 closed, assigned to nobody

[2020-04-16 14:47] Joyouou commented on #1136
solved by someone, by adding 'India Map' instead

[2020-04-16 14:56] himanshuhkm commented on #1176
yaa looks good now

[2020-04-16 14:56] jeremyphilemon commented on #1177
#743 Duplicate, but is in the works :)

[2020-04-16 14:56] #1177 closed, assigned to nobody

[2020-04-16 14:58] jeremyphilemon commented on #1176
Fixed :)

@Binu42 hey, it'd be nice if you could create separate PRs for separate issues instead of adding the fix in an already existing PR addressing a different issue!

[2020-04-16 14:58] #1176 closed, assigned to nobody

[2020-04-16 15:04] mehuled commented on #1150
Yes, @anitarodia exactly what I used to create my own visualization.

@drdebmath Yes agreed that makes sense too, but we already have that on the website.

I would still like to wait for a moderator to consider the feature request.

[2020-04-16 15:05] jeremyphilemon commented on #1173
Because readability is better when things are aligned from left to right.

I don't see where the confusion is, it could help if you could explain what the issue might be.

Duplicate of #895

Thanks!

[2020-04-16 15:05] #1173 closed, assigned to nobody

[2020-04-16 15:08] jeremyphilemon commented on #1172
Patched!

[2020-04-16 15:08] #1172 closed, assigned to nobody

[2020-04-16 15:12] himanshuhkm opened #1178 "update time and detail for complete understanding view the video in zip"
[COVID-19 Tracker _ India - Google Chrome 2020-04-16 20-34-15.zip](https://github.com/covid19india/covid19india-react/files/4488050/COVID-19.Tracker._.India.-.Google.Chrome.2020-04-16.20-34-15.zip)

as we can see in video when pointing to any state the update time and detail shows but when we wont select any state then its not showing the update and detail of India..... it shows when we reload the

[2020-04-16 15:18] jeremyphilemon commented on #1158
cc @bee-rickey

[2020-04-16 15:18] jeremyphilemon commented on #1157
cc @bee-rickey

[2020-04-16 15:19] jeremyphilemon commented on #1156
I feel like this would involve event listeners on the cursor. Or is there an elegant way to do this?

[2020-04-16 15:22] nitin065 opened #1180 "Revert the old functionality of clicking on name of state to show sub states"
**Describe the bug**
Drop down box in mobile phone is too small to operate. Revert to old option where clicking on state opens up.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on state name to show district.

**Expected behavior**
Clicking on state name shows district.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2020-04-16 15:28] jeremyphilemon commented on #1140
That was a design choice. Thanks :)

[2020-04-16 15:28] #1140 closed, assigned to nobody

[2020-04-16 15:30] jeremyphilemon commented on #878
Patched due to redesign. Thanks!

[2020-04-16 15:30] #878 closed, assigned to nobody

[2020-04-16 15:39] bee-rickey commented on #882
@pankaj-dahiya thank you for your views. If you put them under others, the immediate next bug would be - there is no district named “others”. We either put a note or find out a different solution.

[2020-04-16 16:02] jeremyphilemon commented on #1180
The old functionality is still there tho? Could you please clarify?

[2020-04-16 16:40] jitesh-trivedi opened #1181 "Clicking on the row in the table not opening respective city details"
Expanding the tablenrow is only limited to click on expand icon. Clicking on the row also should expand details containing city related details

[2020-04-16 16:49] #1164 closed, assigned to nobody

[2020-04-16 16:52] jitesh-trivedi opened #1182 "Know more link should be in different color"
Know more link is of same color and can be easily missed. It should be in link color

![Screenshot_20200416-221813_Chrome](https://user-images.githubusercontent.com/19927803/79483925-91230b80-8030-11ea-8554-3ba3f2a9865d.jpg)

[2020-04-16 17:10] pankaj-dahiya-devops commented on #882
Putting an info logo (star) on "other" is better then on "Italians" and "Evacuees". Again a common sense. Sorry if you can't even understand this simple thing, then I don't think I should be commenting on this further.
@jeremyphilemon request to remove these words from the site asap as they are effecting the credibility of this project. I also contacted my team-mate to help you in this open source

[2020-04-16 17:12] abhishekakade commented on #1180
@jeremyphilemon, clicking on the state name used to show the districts table dropdown but it doesn't anymore. One has to click on that `ChevronDown` dropdown arrow like thingy to see the districts table which is not very user friendly.

[2020-04-16 17:17] #895 closed, assigned to rvisharma

[2020-04-16 17:26] rsksh opened #1185 "State dropdown is still active if user clicks out of the dropdown."
**Describe the bug**
State dropdown is still active if user clicks out of the dropdown. If user selects all state and scrolls the page the value in dropdown changes to some other value, .i.e. other state.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Homepage
2. Click on All State from the state ropdown
3. Scroll down to the page
4. See error (The value changes to some other state)

[2020-04-16 17:30] nishcthulhu commented on #1007
Would be happy to work on this. Would need a new API to get the json created for this @JunaidBabu

[2020-04-16 17:31] ankushmadankar opened #1186 "Too much space wasted for search bar"
On home page we have wasted too much space for search bar. See additional space inside text bar plus shadow of text bar.

Device type: OnePlus 7 Chrome.
![Screenshot_20200416-225334](https://user-images.githubusercontent.com/6622447/79487646-355b8100-8036-11ea-84dc-255625751791.jpg)

Attached snap.

[2020-04-16 17:42] teja618 opened #1187 "Fade In Animation Missing"
On Clicking notification icon-

Updates list need FADE IN animation -which is an UX enhancement.

[2020-04-16 17:52] nikita-11 commented on #1135
@shuklaayush @avneeshroks  This has been fixed. Closing the issue.

[2020-04-16 17:52] #1135 closed, assigned to nobody

[2020-04-16 17:55] #1013 closed, assigned to nobody

[2020-04-16 18:00] aman4512 opened #1189 "Graphs to show trends in testing per state and overall"
**Is your feature request related to a problem? Please describe.**
A way to compare number of new cases and number of tests conducted would be nice to have.

**Describe the solution you'd like**
A graph similar to existing graphs which shows number of tests conducted per day per state (cumulative and daily)

[2020-04-16 18:18] saujanyanagpal104 opened #1190 "Navbar overlapping with the content on state pages"
**Describe the bug**
With the navbar open if I go to any state's page through the search bar, the navbar should close automatically but it's not happening right now on the desktop instead it's blocking the content.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Navbar by clicking on Menu and keep it open.
2. Search for any city or state and go to the states page you will see that navb

[2020-04-16 18:41] userhasnoname0 opened #1191 "Date is mismatching with updates timing are not matching"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...Update bell icon '
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
17 Apr should not be there.

**Screenshots**
[If applicable, add screenshots to help explain your problem.]
![Screenshot_20200417-000717](https://user-images.githu

[2020-04-16 18:47] Nikhiljoseph31 opened #1192 "New chart to depict source of Confirmed case, may be state wise"
![Screenshot_20200417-001448_Facebook](https://user-images.githubusercontent.com/63017808/79494511-c20b3c80-8040-11ea-81f4-41f0153ad2ce.jpg)
Similar to this pie chart

[2020-04-16 18:47] jaykukadiya99 opened #1193 "Date problem in notification"
![Screenshot_20200417-000924](https://user-images.githubusercontent.com/52033777/79494017-ef0b1f80-803f-11ea-89d6-65b0d4ca49de.jpg)

As per screen shot you can notice when i expend notification i show date 17 apr and all the notification of 16th Apr becomes a notification of 17th Apr.

Above that you display date and time of last notification.

Notice It with time on screen shot.

[2020-04-16 18:48] #1031 closed, assigned to nobody

[2020-04-16 18:49] ranujmili opened #1194 "Placeholder text should be inside the search bar"
**Describe the bug**
Placeholder text 'search your city, resources, etc.' should be inside the search bar on homepage.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/ '
2. On the homepage see the search bar where bug exists.

**Expected behavior**
Placeholder text should be inside searchbar.

**Screenshots**
![Screenshot 2020-04-17 at 12 12 50 AM](https:

[2020-04-16 18:51] #890 closed, assigned to Sanskar95

[2020-04-16 18:56] kbpatel1 commented on #1174
I think, this number should be number of sample tested, not number of people tested. As per ICMR update, as of April 16 number of sample tested are 3,02,956, where as number of people tested are 2,86,714. I think this site https://www.worldometers.info/coronavirus/ is also reporting number of samples tested for all countries.

[2020-04-16 19:04] shubhamjain2998 opened #1195 "Essential Search result fixed width."
**Describe the bug**
Searching for different cities on the essentials page in mobile is resulting into list of different widths.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the essential page on mobile.
2. Search for any city except Chandigarh and Jharkhand.
3. Notice the width of the list.

**Expected behavior**
A clean fixed-size list for every query should be there, with little

[2020-04-16 19:10] avneeshroks commented on #1194
Please assign this to me. PR : https://github.com/covid19india/covid19india-react/pull/1196

[2020-04-16 19:54] #686 closed, assigned to nobody

[2020-04-16 20:01] abhishek-kamal opened #1197 "Total number of tests one data should be shown"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-16 20:47] nayakrahul opened #1198 "Weird animation while moving to demographics page"
While moving to demographics page, the animation is weird. Perhaps it is due to some timing problem.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to demographics page
2. See the animation

**Expected behavior**
The animation should be same as for other pages.

**Screenshots**
![Screenshot from 2020-04-17 02-12-39](https://user-images.githubusercontent.com/11428805/79505118-8b89ed80-80

[2020-04-16 20:54] shubhamjain2998 opened #1199 "Add Polyfill File to the project."
**Is your feature request related to a problem? Please describe.**
In Many browsers, CSS is getting a little bit broken, like in Safari on ios search bar is not showing.

**Describe the solution you'd like**
The use of polyfill or polyfill.io will provide a great support to the site.

OS - ios
browser - Safari

![IMG-20200417-WA0003](https://user-images.githubusercontent.com/30628775/79511798-a19d

[2020-04-16 21:13] nayakrahul opened #1200 "when tested numbers are not available for a state, the height of stats div decreases"
When you hover over a state whose tested numbers are not available, the height of stats div decreases.

**To Reproduce**
Steps to reproduce the behavior:

1. Hover over states whose tested numbers are not available likeTelangana, Sikkim and Meghalaya.
2. Notice how the height of stats decrease.

**Expected behavior**
Height of all stats div should be fixed regardless of numbers inside them

**Scre

[2020-04-16 21:15] nayakrahul commented on #1200
Notice how the height of stats changes when you move from say Maharashtra to Telangana.

[2020-04-17 01:01] prashant0268 commented on #1200
Hello @maintainers.. I would like to contribute towards fixing this glitch. It is caused when there is no testing data for certain states like Telangana / Bhutan which causes the As Of Date label to show or hide. One fix could be to have the legend boxes of fixed height or show a No Data available for the date label as well.

[2020-04-17 01:13] prashant0268 opened #1202 "Padding and Margin issue on the Deep Dive Page on Desktop"
**Describe the bug**

The Deep Dive Page overlaps with the left Nav bar.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Deep Dive'
4. Notice the overlap of the left most boxes.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1280" alt="deepdive_issue" src="https://user-images.githubusercontent.com/2460304/79521319-e4905c00-8026-11ea-94bc-075

[2020-04-17 01:14] prashant0268 commented on #1202
I can work on the fix. Please assign me so that I may create a PR.

[2020-04-17 02:51] Dhrumit8596 commented on #932
Commenting to bringing issue in notice, its still having same issue.

[2020-04-17 03:36] DrAKR opened #1203 "cases in last 14 days"
since it is important to know how active is covid 19 in an area, it is pertinent to know how many fresh cases were confirmed in last 14 days . whether there is a sudden rise or the graph is flattening will be suggested by the number of fresh cases in last 14 days.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm alw

[2020-04-17 04:22] sudevschiz commented on #1203
The graph already has an option to select 1 month. Isn't that okay?

[2020-04-17 04:22] JamesMayengbam commented on #1152
Any update guys. What can I do?

[2020-04-17 04:31] #1041 closed, assigned to nobody

[2020-04-17 05:07] subhasish1315 opened #1204 "Icon Info Showing wrong"
**Describe the bug**
Two State info icon (West Bengal and Punjab are showing wrong... most probably interchanged

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'West Bengal and Punjab info icon in homepage'
2. See the tool tip information

**Expected behavior**
The status are interchanged.

**Screenshots**
![2020-04-17 10_36_08-COVID-19 Tracker _ India](https://user-images.githubuser

[2020-04-17 05:12] DrAKR commented on #1203
sorry that is just graphs of last 1 month or 2 weeks . but it doesnt give the actual figures during that period. and also incorporate this thing in deep dive section where data is being analyzed with comparing other areas....
more over cases are recovering in 14 days so figures of 14 days cases is important

[2020-04-17 05:19] ashishkshukla opened #1205 "StateNotes of West Bengal and Punjab are interchanged"
**Describe the bug**
If you hover over "West Bengal" a pop-up appears which displays "14 recovered Italian tourists included in the tally. 1 death in Ambala unaccounted ". I guess this information is related to Punjab.
Similarly ;hovering over "Punjab" , pop-up shows information related to West Bengal.

**To Reproduce**

1. Go to "Home".
2. Hover over "West Bengal" state field.
3. The pop-up appea

[2020-04-17 05:33] gaganxsaini commented on #1205
The information "14 recovered Italians..." belongs to Haryana.

[2020-04-17 05:42] championballer commented on #1205
Even Ambala resides in Haryana. So the issue should be modified into wrong statenotes.

Edit : The issue is resolved

[2020-04-17 05:43] championballer commented on #1204
Re : The one showing for Punjab should be for West Bengal and the one for West Bengal should be on for Haryana.

Edit : The issue is resolved

[2020-04-17 05:51] #1204 closed, assigned to nobody

[2020-04-17 06:02] ashishkshukla commented on #1205
Yes.

[2020-04-17 06:02] #1205 closed, assigned to nobody

[2020-04-17 06:10] tannakartikey commented on #1106
This is resolved.

[2020-04-17 06:10] #1106 closed, assigned to nobody

[2020-04-17 06:23] DattaPurohit opened #1206 "Add active case graph"
Request to add active cases graph

[2020-04-17 06:29] DattaPurohit commented on #1206
#825  already present

[2020-04-17 06:29] #1206 closed, assigned to nobody

[2020-04-17 07:22] gauravkhuraana opened #1207 "When clicking on map the other data on screen should change not just confirmed cases"
Goto https://www.covid19india.org/state/TG

and select the dark small portion i.e. Hyderabad.

You will notice that  only the confirmed cases gets updated rest remains the same.

A user can get confused and assume wrong data

Since user applied map filter we can give them information for that particular state

![image](https://user-images.githubusercontent.com/15048211/79542935-2d3d2900-80aa-11ea-

[2020-04-17 08:06] shuklaayush commented on #1197
This appears to be already there. Please provide details if you think otherwise

[2020-04-17 08:06] #1197 closed, assigned to nobody

[2020-04-17 08:10] shuklaayush commented on #1207
Hey, since we currently don't have accurate district-level data for active/recovered/deceased, it won't make sense to change the numbers on the top as well. We would have to leave the active/recovered/deceased empty. We can think about this when we have the data. Closing for now

[2020-04-17 08:10] #1207 closed, assigned to nobody

[2020-04-17 09:27] bee-rickey commented on #1187
Not really a necessity. Doesn't add much value to the cause.

[2020-04-17 09:27] #1187 closed, assigned to nobody

[2020-04-17 09:29] bee-rickey commented on #1094
Closing.

[2020-04-17 09:29] #1094 closed, assigned to nobody

[2020-04-17 09:34] bee-rickey commented on #1152
Please provide the link where we can get the testing data. We need a source for this. unless we have a source we cannot use the data.

[2020-04-17 09:39] bee-rickey commented on #1038
Closing. This does not add any value to the cause. Please see if there are functional issues that can help the site.

[2020-04-17 09:39] #1038 closed, assigned to nobody

[2020-04-17 09:45] vivekvroy commented on #1156
Yes, even I think is better to go with cursor event listener itself.

[2020-04-17 09:59] abhishekakade commented on #1181
Possible duplicate of #1180

[2020-04-17 10:10] #1200 closed, assigned to nobody

[2020-04-17 10:15] jeremyphilemon commented on #1180
Patched :)

[2020-04-17 10:15] #1180 closed, assigned to nobody

[2020-04-17 10:17] jeremyphilemon commented on #1181
Patched :)

[2020-04-17 10:17] #1181 closed, assigned to nobody

[2020-04-17 10:39] nayakrahul opened #1214 "On mobile view when tooltip icon in states table is tapped, the district table also opens"
**Describe the bug**
On mobile view, when tooltip icon in states table (if available) is tapped, the reveal of district table is also triggered which causes the district table to open as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home
2. Click on the tooltip icon in West Bengal row in states table
3. Notice that both tooltip info and district table opens

**Expected behavio

[2020-04-17 11:04] gondsuryaprakash opened #1215 "Time Problem in the Bell open and State wise Last Updated."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Bell icon
2. See the time where it is New Case updated.
3. Go to Same State and See the Last Updated Time
4. See error

**Expected behavior**
Time variation in the Las Updated.

**Screenshots**
![WhatsApp Image 2020-04-17 at 4 26 01 PM](https://user-images.githubuse

[2020-04-17 11:30] sudevschiz commented on #1215
This was due to some Google Scripts failing in the sheet. I have done some remedial action. Will monitor to see if this is happening again. Thanks for reporting.

[2020-04-17 11:30] #1215 closed, assigned to nobody

[2020-04-17 11:37] sudevschiz commented on #1193
If the updates cross over to the next day, yesterday's date should be visible in between the notifs.  The endpoint used to provide this updates has the absolute timestamp present in it. So, this should be easily doable.

https://api.covid19india.org/updatelog/log.json

[2020-04-17 11:42] sudevschiz commented on #675
This is because there is good data at district level for many of the recovered and deceased case. However, it's being worked on here to provide whatever data is available through : https://github.com/covid19india/api/issues/114

[2020-04-17 11:51] dlmandalia opened #1216 "Statewise daily testing Number on API."
Please provide a statewide daily testing number (whichever state that gives) on API. At this stage, those are crucial data now for further data analysis.

[2020-04-17 12:14] dlmandalia opened #1217 "Five day & Three Day doubling line in Logarithmic Chart"
Hi
For a better understanding of the data. if we can add 3 days doubling and 5 days doubling line on the logarithmic chart. This will signify the logarithmic chart.

Bellow is chart to make you understand what am I saying.

![image](https://user-images.githubusercontent.com/62377190/79566628-7ef8aa00-80d0-11ea-9293-f92522c9e007.png)

Calculation of this

for 5 days doubling the line

Considering d

[2020-04-17 12:19] shuklaayush commented on #1216
It's already there: https://api.covid19india.org/state_test_data.json

[2020-04-17 12:19] #1216 closed, assigned to nobody

[2020-04-17 13:30] shubhamjain2998 commented on #1193
@sudevschiz @shuklaayush please review my PR regarding this issue.

[2020-04-17 13:49] #852 closed, assigned to nobody

[2020-04-17 13:49] #747 closed, assigned to KrishnaPravin, jeremyphilemon

[2020-04-17 14:11] drhadia commented on #854
i want to work on this, please assign this to me

[2020-04-17 14:18] aamir200 opened #1221 "Access to data source permission"
Hello Team,

Before I can access the the data source that you given. Now on I cannot access the data source to pull data into my report. and its also taking too long.

Can you please have a look and as I cannot pull latest data for my report

[2020-04-17 14:29] ravigaggad opened #1222 "Timeseries stats overlap with graph"
**Describe the bug**
A clear and concise description of what the bug is.
Graph of confirmed patient and number of Patient overlap and number is not visible
**To Reproduce**
Steps to reproduce the behavior:

1. Go to  covid 19 website
2. Scroll Down to Spread Trends
3. Click on cumulative Graph
4. Select a Kerala State option from List box.
5. Click on two week button.
6. Drag the finger on confirm

[2020-04-17 14:32] shuklaayush commented on #1221
The APIs are all here https://api.covid19india.org/

[2020-04-17 14:32] #1221 closed, assigned to nobody

[2020-04-17 14:36] soubh1k opened #1223 "Menu items should be placed on the left bar"
**Describe the bug**
Simply having to click a Menu tab is unnecessary and all the menu items can be placed directly on the left bar.

**To Reproduce**
1. Go to covid19india.ord
2. Click on Menu
This click is unnecessary as there are no more options apart from menu.

**Expected behavior**
Remove Menu from left bar and add all the menu items directly in the left bar.

**Desktop (please complete the

[2020-04-17 14:48] aamir200 commented on #1221
But in my report i use following https://docs.google.com/spreadsheets/d/e/2PACX-1vSz8Qs1gE_IYpzlkFkCXGcL_BqR8hZieWVi-rphN1gfrO3H4lDtVZs4kd0C3P8Y9lhsT1rhoB-Q_cP4/pubhtml

now I cannot refresh the data in my reports can you please give me access. or provide url like that

[2020-04-17 14:52] aamir200 commented on #1221
As many user are looking the report and they are say report dont have latest data please allow me to pull the data every day using following link  https://docs.google.com/spreadsheets/d/e/2PACX-1vSz8Qs1gE_IYpzlkFkCXGcL_BqR8hZieWVi-rphN1gfrO3H4lDtVZs4kd0C3P8Y9lhsT1rhoB-Q_cP4/pubhtml

[2020-04-17 15:30] nayakrahul opened #1224 "In mobile, touch event is triggered while scrolling through timeseries graph"
**Describe the bug**
In mobile, touch event is triggered on the graphs making it changing always while scrolling through timeseries graph.

**To Reproduce**
Steps to reproduce the behavior (Mobile):

1. Go to Home
2. Go down to timeseries graphs
3. Scroll up and down
4. See error

**Expected behavior**
Scrolling through the timeseries graph should not affect the graphs.

[2020-04-17 15:43] #1010 closed, assigned to nobody

[2020-04-17 15:46] nayakrahul opened #1225 "In demographics page, animate when district or city dropdown appears or disappears"
**Is your feature request related to a problem? Please describe.**
When you select a state from states dropdown, district dropdown appears without any animation. It appears out of nowhere. Same for city dropdown.

**Describe the solution you'd like**
Add animation when district or city dropdown appears or disappears using transition

[2020-04-17 16:11] jeremyphilemon commented on #882
A tooltip has now been placed that will aid in understanding the context of those entries, thanks!

<img width="298" alt="Screen Shot 2020-04-17 at 7 08 52 PM" src="https://user-images.githubusercontent.com/17938322/79589984-f7666780-80de-11ea-9f6f-9eaa7a674e58.png">

[2020-04-17 16:11] #882 closed, assigned to mohitm15

[2020-04-17 16:15] aamir200 commented on #1221
Any update

[2020-04-17 16:40] jeremyphilemon commented on #1194
Hey, thanks for filing an issue. This was a design choice :)

[2020-04-17 16:40] #1194 closed, assigned to nobody

[2020-04-17 16:47] #836 closed, assigned to kousiksatish

[2020-04-17 17:02] jeremyphilemon commented on #262
@krupeshxebia no problem :)

[2020-04-17 17:05] jeremyphilemon commented on #262
Closed by #1111

[2020-04-17 17:05] #262 closed, assigned to nobody

[2020-04-17 17:12] jeremyphilemon commented on #278
Oh well. Thanks for trying though, and thanks for explaining the workaround you tried, I might need it for future reference. Cheers :)

[2020-04-17 17:12] #278 closed, assigned to omui

[2020-04-17 17:30] jeremyphilemon commented on #694
@DashmeetArt thanks for your input. I agree with you, having the border visible always makes sense. Closing this because we decided to show "Total" stats on the homepage anyway because the graphs need to be shown for all India, and the map is synced with the data fed to graph 🤷

[2020-04-17 17:30] #694 closed, assigned to nobody

[2020-04-17 17:44] kousiksatish commented on #1159
@kalesourabh01 If you are not working on this, I would like to take this up.

[2020-04-17 17:49] vidyashreen1991 commented on #937
I would like to work on it.

[2020-04-17 18:02] kousiksatish opened #1230 "Discussion: New design overloading more features and less intuitive"
I have been a regular user and a contributor to the website.
I recently noticed the changes in the site and just want to register my humble opinions on them.

1. State wise information
    - State wise pages is an excellent addition to the app
    - The way to reach these pages is not at all intuitive. User has to search for a city and then move to the state page which doesn't make sense.
    - Mo

[2020-04-17 18:04] kousiksatish commented on #1230
@jeremyphilemon @sudevschiz Would love to hear from you on this

[2020-04-17 18:04] Zindra commented on #887
State-district-wise | https://api.covid19india.org/state_district_wise.json
-- | --
State-district-wise V2 | https://api.covid19india.org/v2/state_district_wise.json

I checked the first one and the data was not there.. check the v2.

[2020-04-17 18:19] kousiksatish commented on #1169
Same point I had mentioned in #1230
I would like to work on this
### **In map**
![Screen Shot 2020-04-17 at 11 48 24 PM](https://user-images.githubusercontent.com/6641694/79601152-fd237380-8105-11ea-9d0b-82c1165c083e.png)
### **In table**
![Screen Shot 2020-04-17 at 11 45 55 PM](https://user-images.githubusercontent.com/6641694/79601159-001e6400-8106-11ea-9723-0ce0f8e7e5ec.png)

A link like this w

[2020-04-17 18:22] kousiksatish commented on #1230
Please check the above issue. I have suggested a way to navigate to state page.

[2020-04-17 18:31] strikertanmay commented on #1222
I would like to work on this. Please assign me

[2020-04-17 19:09] jeremyphilemon commented on #1006
Patched by #1170

[2020-04-17 19:09] #1006 closed, assigned to nobody

[2020-04-17 19:23] #1214 closed, assigned to nobody

[2020-04-17 19:28] #1193 closed, assigned to nobody

[2020-04-17 19:33] strikertanmay opened #1233 "Content overlapping with dropdown symbol on demographics page"
**Describe the bug**
Content is overlapped with the dropdown symbol on the dropdown menu which makes UI messy.

**Expected behavior**
Always have some space between the dropdown symbol and the content on it.

**Screenshots**
![rsz_1screenshot_from_2020-04-17_22-17-58](https://user-images.githubusercontent.com/32292953/79607181-70ca7e00-8110-11ea-8ece-7741ac683fd3.png)

[2020-04-17 19:41] elseasama commented on #596
the source of the data is from the Greater Chennai corporation [twitter feed](https://twitter.com/chennaicorp).

[2020-04-17 19:51] #1144 closed, assigned to nobody

[2020-04-17 20:45] Anshul797 opened #1235 "'Latest Update' icon notification is Always ON"
The **Blue Dot** as a new notification in the update icon is always on.
Even if i am done reading all new updates, It dosen't fades off.
The overall Home page looks very decent but the constant Blue dot is a bit irksome.

It would be great if you guys, get it turned off once a user opens up the update bar. :)
![one](https://user-images.githubusercontent.com/31384186/79612720-d28fe580-811a-11ea-995

[2020-04-17 20:52] shubhamjain2998 commented on #1235
I would like to work on this, assign it to me.

[2020-04-17 21:12] sriramsridar opened #1236 "Tested Samples numbers in the main table in the Home page"
**Is your feature request related to a problem? Please describe.**
No. It is just a new column that I request to be added in the main table in the Home page.

**Describe the solution you'd like**
Please add another column named "Tested Samples" after "Deceased". It would be great if you can add them. Right now, I have to scroll to every state and then find the tested numbers above the India map. H

[2020-04-17 22:25] shuklaayush commented on #1224
Can you elaborate?

[2020-04-17 22:31] avneeshroks commented on #1233
Can I please work on this. Please assign this to me. PR : https://github.com/covid19india/covid19india-react/pull/1238

[2020-04-17 22:36] nayakrahul commented on #1224
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/11428805/79619211-decf6f00-8129-11ea-92a3-29d75dfbb7af.gif)
Notice how the dots in graphs move while scrolling across the graphs

[2020-04-17 22:39] jeremyphilemon opened #1239 "Page stutters on transitioning to new page"
**Describe the bug**
Page stutters on going back to the home page. Or maybe just stutters between switching to a new page. (Maybe not visible in the gif below)

![ezgif-7-b547074b42e0-2](https://user-images.githubusercontent.com/17938322/79619295-20095400-8115-11ea-8ec0-a7936ba9e26d.gif)

**To Reproduce**
Navigate to any page, and head back to home.

**Expected behavior**
The page shouldn't stutte

[2020-04-17 22:45] jeremyphilemon commented on #596
cc @sudevschiz @bee-rickey

[2020-04-17 22:46] jeremyphilemon commented on #1222
@strikertanmay hey, thanks for requesting to work on it :)

How are you planning to go about the fix?

[2020-04-17 22:51] saurabhsharma1976 opened #1240 "show death rate by age"
**Is you
[New Microsoft Word Document.docx](https://github.com/covid19india/covid19india-react/files/4495581/New.Microsoft.Word.Document.docx)

replicate as in new case by age histogram by age to also by death rate

[2020-04-18 00:18] jeremyphilemon commented on #1169
Sure :)

Here's some reference for design consistency:

<img width="638" alt="Screen Shot 2020-04-18 at 3 12 46 AM" src="https://user-images.githubusercontent.com/17938322/79622986-8e084800-8122-11ea-986c-cf8549761528.png">

<img width="507" alt="Screen Shot 2020-04-18 at 3 17 42 AM" src="https://user-images.githubusercontent.com/17938322/79623133-31f1f380-8123-11ea-9113-1a3c59c7a8fa.png">

[2020-04-18 03:41] np000 opened #1241 "Can not zoom and select Mumbai in the map."
**Is your feature request related to a problem? Please describe.**
Yes. I could not select small districts in the map such as mumbai. I have tried  more than 30 times to zoom and select Mumbai in the Maharashtra map. As it's very small it's not selecting even in the maximum possible zoom . All the nearby districts can be selected but not the Mumbai.
Browser : Chrome
Platform: Android

**Describe t

[2020-04-18 03:51] praveentiru commented on #1084
There is a website live to track daily rt estimates for US. https://rt.live/
They have opensourced the Jupyter book they are using to arrive at these values. https://github.com/k-sys/covid-19/blob/master/Realtime%20R0.ipynb

This can be a good starting point.

[2020-04-18 03:52] sudevschiz commented on #1240
The mapping of demographics in Deceased cases are quite low. However, will keep this marked in Deep-dive as a potential idea.

[2020-04-18 03:54] soham4abc opened #1242 "the graph is not showing current data"
**The graph is showing data of 5th april which is 12 days back
**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...https://www.covid19india.org/'

3. Scroll down to 'graph'
4. See error

**Expected behavior**
cumulative
![Screenshot (32)](https://user-images.githubusercontent.com/63705023/79627486-46031880-8156-11ea-90fa-69e671ba5406.png)
 data of the last day should be visible

**Scre

[2020-04-18 04:01] gurumukhi commented on #1242
I also noticed this issue. Also note - This issue is reproduced only when "All states" is selected in dropdown, you you see graph for any one state, it shows data till today, however if we select 'All states', it shows data till 5th April only.

[2020-04-18 04:24] tshrwbl opened #1243 "The graph should change data on click, not on hover."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the graph changes automatically on hover. It looks cool but not practical and bad UI choice. To be precise,

- Everytime I want to see "all states", No matter how I go to graphs, I already had hovered over some states whose data is in graph now.  I have to reset it manually.

- If I wanted to change graph

[2020-04-18 04:38] tshrwbl commented on #1242
Working perfectly now.

[2020-04-18 04:57] kousiksatish commented on #1169
@jeremyphilemon Will do it as you suggested

[2020-04-18 05:15] gurumukhi commented on #1242
True, its working fine now. This issue can be closed (unless you want to investigate why did this happen at initial place to avoid it being repeated in future).

[2020-04-18 05:30] jaibatrik commented on #1027
#904 tries to address this issue.

[2020-04-18 05:38] NaveenBoggarapu opened #1244 "Recent reported date for a district"
With rules of changing districts to red, orange and green zones, based on last reported date.

I would be helpful to have the date on which last positive case was reported in a district.

[2020-04-18 06:18] shuklaayush commented on #1242
I can't seem to reproduce it now. Might've been a bug with the API. Please open the issue again if the problem persists

[2020-04-18 06:18] #1242 closed, assigned to nobody

[2020-04-18 06:37] nidran opened #1245 "Tests/Population Density District wise"
**Is your feature request related to a problem? Please describe.**
We are already displaying the data of no. of tests conducted, if we could add a feature wherein we show tests for district/ state as per the population will help give more idea of the scenario there

**Describe the solution you'd like**
I understand the census that we currently we have is of 2011, but still could help give us an id

[2020-04-18 07:18] shuklaayush commented on #1224
@nayakrahul This functionality is there to view previous data by horizontally scrolling the time series. It resets when you lift your finger. I'm sorry, I don't understand what the problem is. Is it interfering with normal scrolling for you?

[2020-04-18 09:45] sharadtank opened #1249 "Graph for showing trends of 5, 6, 7 day rolling averages for total cases, active cases, death count, recovered cases."
**Is your feature request related to a problem? Please describe.**
The current graph is prone to day to day volatility of cases and does not show the real trend of increase/decrease in case count.

**Describe the solution you'd like**
A graph to show 5, 6 or 7 day rolling averages for total cases, recovered cases, active cases and deaths would provide an easy way to understand the trend and smooth

[2020-04-18 09:51] nayakrahul commented on #1224
@shuklaayush Thing is that when we scroll up and down on mobile devices, we don't move our finger at exact 90 degree, it involves a bit of horizontal scrolling too. So that's why when you scroll up and down, the dots in timeseries graph change too. I don't know if you understand or not. In the gif, you can see that i am not doing horizontal scrolling rather i am scrolling up and down but the dots

[2020-04-18 10:27] JamesMayengbam commented on #1152
Okay can I make a google sheet and make it available for public

[2020-04-18 10:36] nishcthulhu commented on #1007
Is there any branch where i can make temporary commits for this feature?

[2020-04-18 10:39] rahul1995 opened #1251 ""Top Districts" on State page is not showing correct data"
**Describe the bug**
On state page, the "Top Districts" list is not showing correct data.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/state/HR (Haryana state)
2. Scroll down to 'Top Districts' list
3. See that "Nuh" district is not in the list despite it being the most affected district in Haryana.

**Expected behavior**
The districts listed should be

[2020-04-18 10:41] rahul1995 commented on #1251
The issue is coming because of `slice()` before `sort()` at https://github.com/covid19india/covid19india-react/blob/master/src/components/state.js#L194

[2020-04-18 10:47] ranjithsan opened #1252 "Npm-saas throwing error"
**Describe the bug**
./src/App.scss (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-5-1!./node_modules/postcss-loader/src??postcss!./node_modules/resolve-url-loader??ref--6-oneOf-5-3!./node_modules/sass-loader/dist/cjs.js??ref--6-oneOf-5-4!./src/App.scss)
Error: ENOENT: no such file or directory, scandir 'C:\Users\admin\PycharmProjects\covid19india-react\node_modules\node-sass\vendor

getting

[2020-04-18 10:50] shuklaayush commented on #1251
@rahul1995 Thanks for identifying this! Just pushed a fix.

[2020-04-18 10:50] #1251 closed, assigned to nobody

[2020-04-18 10:51] rahul1995 commented on #1251
Oops I wanted to submit the fix but cool. Thanks :)

[2020-04-18 10:58] shuklaayush commented on #1224
Okay, I see your point. But we need an alternative interaction then. A lot of people find it useful to scroll horizontally across the chart to view data from earlier dates.

[2020-04-18 11:00] shuklaayush commented on #1251
Sorry, didn't know that. It was a sensitive bug, so had to fix it ASAP. Feel free to submit other PRs related to open issues. Thanks again! :)

[2020-04-18 11:12] Neha0595 opened #1253 "On right header section of Demographics page legends must be selectable."
**Is your feature request related to a problem? Please describe.**
On Demographics page it'd be better if it have following functionality:

**Describe the solution you'd like**
I'd like to add tap functionality on it.
As an example:  In case of gender on tap of **Female** the Patient-Cards Infographic highlights only Female Patients ( ![#f33b6c](https://placehold.it/11/f33b6c?text=+) ).

**Additio

[2020-04-18 11:28] seabbs commented on #1084
If this is based on the Instagram analysis then there are some statistical/epi issues with their approach. The website looks excellent however.

[2020-04-18 11:53] strikertanmay commented on #1222
@jeremyphilemon By giving some left padding fix this problem very well. Attached SS after applying padding. If all things look fine to you. Can I make PR for this? :)
![Screenshot from 2020-04-18 17-14-13](https://user-images.githubusercontent.com/32292953/79636948-06a9eb80-8199-11ea-967b-5b86e068d60f.png)

![Screenshot from 2020-04-18 17-15-49](https://user-images.githubusercontent.com/32292953/7

[2020-04-18 12:29] pulakchakraborty opened #1254 "Discussion: Observations on design of the homepage and suggestions for improvement (Desktop Only)"
Hello everyone, I am a regular user of the website using a web-browser and I have a few observations concerning the design of the home-page from usability perspective which I would like to share with you.

## 1. Spread Trends component is not visible at first glance and not intuitive

- **Problem:** Currently when user visits the home-page from a web-browser, a scroll-down action is needed to view

[2020-04-18 12:36] abhishek-kamal opened #1255 "Total tests in not updating"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-18 14:11] #1255 closed, assigned to nobody

[2020-04-18 14:21] nayakrahul commented on #1224
If there is upward or downward movement of page, we should keep the charts static.

[2020-04-18 14:21] sapiencop opened #1256 "Interactive graph for Active Cases per state in Deep Dive"
In the Deep Dive Page, Graphs are available for total cases reported state wise. However, there is no graphs for Active Cases.

We can have a "States - Active Case" Graph on the pattern of "States - Total Cases " graph currently available.

[2020-04-18 14:34] shuklaayush commented on #1254
Hey @pulakchakraborty, thanks for the detailed suggestions. I think @jeremyphilemon would be able to better explain the design choices. I'll just give my two cents.

I believe you're looking at it only through the lens of a PC user. For example, having the buttons on the right of the *Spread Trends* is difficult to translate to mobile, since horizontal space is extremely limited. Our traffic is pr

[2020-04-18 14:37] kousiksatish commented on #1169
@jeremyphilemon Please review

[2020-04-18 14:44] shuklaayush commented on #1224
Okay, can you fix this? I'll assign it to you then

[2020-04-18 15:51] #825 closed, assigned to nobody

[2020-04-18 16:20] DhiralKaniya commented on #1141
Closing it. Its fixed now.

[2020-04-18 16:20] #1141 closed, assigned to nobody

[2020-04-18 16:21] vishwac09 opened #1259 "Console Error on HomePage related to States Select option"
**Describe the bug**

Console errors seen on homepage, related to the State select option. On inspecting the code the error corresponds to make the use of value or the defaultValue attribute on the select element and removing the selected option set on the child option elements.

File :: src/components/home.js line 226

**To Reproduce**
- Fork the project
- Checkout master take latest pull
- npm i

[2020-04-18 17:06] helios1101 opened #1261 "Flickering of sidebar on menu upon hovering to extreme corner"
**Describe the bug**
On hover to extreme left of menu on sidebar we see flickering of blue color.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to sidebar on menu
2. Hover to extreme
3. See error

**Expected behaviour**
Shouldn't be flickering as shown in video

**Screenshots**
https://drive.google.com/file/d/1b6NjEcyx7bHBIXPbMe0z4e6_pFvgjTmG/view?usp=sharing

**Desktop (please comple

[2020-04-18 17:26] #1235 closed, assigned to shubhamjain2998

[2020-04-18 17:27] Nitin96Bisht commented on #1252
@jeremyphilemon Can you please look into this. I have also come up with a similar type of error.

`Error: ENOENT: no such file or directory.`

[2020-04-18 17:33] strikertanmay commented on #1240
https://github.com/covid19india/covid19india-react/pull/978 was already exist!

[2020-04-18 17:49] ashokramcse opened #1262 "Enhancement: Auto Refresh of page"
Please implement auto refreshing of page when we go to other tabs and come back to application

Device: IPhone XR
Version: iOS 13.4.1
Browser: Safari Mobile

[2020-04-18 17:51] #1262 closed, assigned to nobody

[2020-04-18 17:53] ashokramcse opened #1263 "Auto Refresh of Page when we come back from other tab"
**Is your feature request related to a problem? Please describe.**
I am not getting the proper data without refreshing the page when I go to another tab and come back to the application

**Describe the solution you'd like**
Auto Refresh of page will get me accurate data.

**Describe alternatives you've considered**
Hard Refresh of page.

**Additional context**
Device: IPhone XR
Version: iOS 13.4.1

[2020-04-18 17:54] #1169 closed, assigned to kousiksatish

[2020-04-18 18:19] nayakrahul commented on #1224
@shuklaayush Actually, the problem is related to d3.js . The same problem can also be seen when we zoom the page  in or out on mobile devices by putting fingers on the timeseries charts.
Since there is an event on touch move, whenever we scroll or zoom by putting fingers on svg charts, the touchmove event gets trigerred.

[2020-04-18 18:32] bee-rickey commented on #596
@elseasama hello, are the geojson files available for other cities as well? Or do you have it just for Chennai as of now?

[2020-04-18 18:32] nayakrahul commented on #1224
@shuklaayush Anyhow I have made a hack to prevent charts from changing while scrolling but I don't know if it is a complete solution.

[2020-04-18 18:32] nsjithin commented on #1222
Also in small screens, the stats area prevents the user to click on the very top-left points in the graph as the stats area overlaps it.

1. Adding a left padding for the graph is an option, but it has to left pad more to fix the overlapping issue and there will be more wasted blank space in the small screens. OR can left pad with minimal content so that there won't be much wasted space.

OR

2. D

[2020-04-18 18:39] pulakchakraborty opened #1265 "Observations and Suggestions on India Daily Cases Visualization in Deep Dive"
## 1. Color Theme

- Problem: At this moment it is difficult to spot the Deceased part of the stacked column chart at first look.

![Screen Shot 2020-04-18 at 7 56 25 PM](https://user-images.githubusercontent.com/9195973/79647822-a4f57b80-81b0-11ea-87d6-a1fe992570e3.png)

- Solution: Use a different color to render the Deceased part of the column. In addition, avoiding the use of the colours red a

[2020-04-18 18:40] strikertanmay commented on #1222
@nsjithin U are right. As we can see the stats are already minimal and I don't think there is a point to minimalize the content just to fix the UI bug.
On point (1), I would like to say only a minimal amount of padding can fix this issue. I checked on different media screen sizes no such blank space wasted and UI looks cleaner and good.
That's why as an example I attach SS of the screen size (375

[2020-04-18 18:44] lakshmi14 commented on #1239
Hi I would like to take up this please assign it to me thanks

[2020-04-18 18:44] bee-rickey commented on #596
Anyone looking at this issue, here's a [nice datameet source ](https://github.com/datameet/Municipal_Spatial_Data)with some geojsons for certain cities. Not sure how accurate these are now though.

[2020-04-18 18:59] jeremyphilemon commented on #1239
@lakshmi14 Sure, all yours :)

[2020-04-18 19:09] praneetjainIN opened #1268 "Ghost cases (Recovered)"
**Is your feature request related to a problem? Please describe.**
I have come across someone who had all the symptoms except fever, he couldn't breath for good 2-3 days without a pump. All the time he thought that he had panic attacks, anxiety of isolation etc.

**Describe the solution you'd like**
An anonymous page so that they can share their experiences in writing to those who are not out and

[2020-04-18 19:18] mbj36 opened #1269 "Testing Pune?"
Hi. Is this line intentional ?

https://github.com/covid19india/covid19india-react/blob/654512926cf25b681262bc8be7ad1cda5dc555a7/src/components/search.js#L216

[2020-04-18 19:18] elseasama commented on #596
I have made just for Chennai since I had the verified data source and as far I am aware of, it is the only City published data by zones on a daily basis.

Looks pretty good to me for the major cities at least.

[2020-04-18 19:18] #1269 closed, assigned to nobody

[2020-04-18 19:22] bee-rickey commented on #1268
A really nice idea. But having moderated a lot of the communication that we receive, I know there'll be a flood of two types of messages on that page:
1. Updates for so and so state and districts.
2. Feature request.

I would want to close this, but will keep it open for review by other mods :)

[2020-04-18 19:28] praneetjainIN commented on #1268
I can help in filtering one layer of content (i.e. moderation if required)

[2020-04-18 19:29] strikertanmay commented on #1222
@nsjithin https://covid19india-react-cv8k071nf.now.sh, please view this and if you really think changes are required then we will discuss what we can do next. Thanks :)

[2020-04-18 19:30] AnshulAg03 commented on #905
@kunalpgithub @faisal3389 I can work on this if you guys have not started it.

[2020-04-18 19:37] KaustubhDamania commented on #1223
Yes, this looks cleaner than the original, I would like to work on this. The end result would look like the pic mentioned below

![image](https://user-images.githubusercontent.com/33577657/79669562-0bdb5a80-81da-11ea-8539-4b03c9049e56.png)

[2020-04-18 19:52] #1182 closed, assigned to nobody

[2020-04-18 19:54] nsjithin commented on #1222
Please select state Kerala and 2 Weeks filter from bottom and try to click on the first point in the graph. The stats area prevents the click as the stat area div is over the point.

This issue will start to appear more when the curve gets flatten. Now the data is in increasing phase so there will be room over the top left of the graph, but when the curve gets flattened the left/first points in th

[2020-04-18 19:57] shubhamjain2998 commented on #789
hey, @jainprabhash unassign yourself if you are not working on it, I would like to take this up.

[2020-04-18 19:59] jeremyphilemon commented on #596
@elseasama I think this would be a good start for incorporating city level granularity into the stats. And since you're using a verifiable source for the data, we can get started.

The twitter feed must be input into the sheets and updated timely for the api. And then someone can take up incorporating a district level page. (Adding districts to the existing map on the homepage would make the code

[2020-04-18 20:04] strikertanmay commented on #1222
I can understand your concern. Sorry but I don't face any problem while clicking over the first point. And I am saying that because of padding if the stats area div is outside the graph axis then how it can prevents the click or overlap the content ?

[2020-04-18 20:43] Ac-Srikanth opened #1273 "Adding a Scroll to top button on the home page."
Feature- A scroll to top feature on the home page.

Solution Description.
A arrow located at the bottom right corner of the screen when clicked scrolls to the top of the page.

![image](https://user-images.githubusercontent.com/32170771/79670783-1ea65d00-81e3-11ea-894c-57a40cf790ff.png)

[2020-04-18 20:45] Ac-Srikanth commented on #1254
I think a scroll to top feature can be added on the home page .

[2020-04-18 20:46] shubhamjain2998 commented on #1265
Assign this issue to me.

[2020-04-18 21:08] ghost commented on #1175
Hey @Binu42 The issue seems to be resolved.

[2020-04-18 21:09] saurabhsharma1976 commented on #1062
Can I get a copy please as well as was keen on doing exactly the same :) Thnx for taking lead

[2020-04-18 21:48] rohanmanthani opened #1275 "R_t tracking on a district level"
**Is your feature request related to a problem? Please describe.**
Would be useful to show Rt a key measure of how fast the virus is growing. All current measurements and division of districts is done purely on whether there is a case or not. Two weeks from now when more districts are infected, this measurement will become much more useful in categorizing districts as red or green.

**Describe the

[2020-04-18 23:23] saurabhsharma1976 commented on #1275
this is briiliant! how do we execute this?

On Sun, 19 Apr 2020 at 03:18, rohanstreamoid <notifications@github.com>
wrote:

[2020-04-19 00:06] gauravbgp commented on #1084
Is this being taken up? This could be the **single most important metric** to track and visualize current transmission rates both state wise and at a national level. http://systrom.com/blog/the-metric-we-need-to-manage-covid-19/
As pointed reference code is already available. This would be required to be calculated in the backend working on the state wise daily confirmed data.
Would love to contri

[2020-04-19 00:12] gauravbgp commented on #1275
Seeing as there are currently no Rt graphs it would be very informative to have them state wise first. Like http://rt.live

As requested here #1084

[2020-04-19 00:15] sudevschiz commented on #1039
This has already been worked on once before. However, rather than the misalignments, the footer buttons are now intuitive for the user and doesn't look like a standard social media icon footer.
Let's just keep it that way.

https://github.com/covid19india/covid19india-react/issues/1001
https://github.com/covid19india/covid19india-react/pull/1059

https://github.com/covid19india/covid19india-react/

[2020-04-19 00:15] #1039 closed, assigned to nobody

[2020-04-19 00:16] sudevschiz commented on #1001
Let's just keep the footer as-is, unless there is an enhancement in functionality (and not in design)

[2020-04-19 00:16] #1001 closed, assigned to HarshSBhatt

[2020-04-19 00:25] sudevschiz commented on #1040
Yes! This is an important piece of information, that would be useful even after Lockdown 2.0.

I just started off by creating a template of how the data should look like here :  https://docs.google.com/spreadsheets/d/1A-9EDpiD6vxSaCCa9yYwTRKiNwoJ2hdxjbQkmw_RgTA/edit#gid=0

@bootleg-icarus , please do discuss here and edit the sheet if this has to look differently. If you're interested, can you ple

[2020-04-19 00:25] sudevschiz commented on #1046
Will let @jeremyphilemon weigh in.

[2020-04-19 00:27] sudevschiz commented on #1047
We are not able to map the exact status changed date for the patients, now that the number of cases are too high. This is not feasible from a data perspective.

[2020-04-19 00:27] saurabhsharma1976 commented on #1084
happy to help consult from my prvs six sigma and stats experience!

[2020-04-19 00:28] sudevschiz commented on #1049
What are the improvements that you made? Thanks for the PR, however, please wait for the issue to the assigned to you so that we can keep track and follow up.

[2020-04-19 00:30] sudevschiz commented on #1060
Thanks for the detailed enhancement request. This sounds good! Marking it available.

[2020-04-19 00:31] sudevschiz commented on #1065
Yes, we are discussing regarding this UX issue. Thanks for your suggestions.

[2020-04-19 00:33] sudevschiz commented on #1076
Weird bug. Please do help.

[2020-04-19 00:35] sudevschiz commented on #1079
Weird. Marking it available

[2020-04-19 00:36] #1047 closed, assigned to nobody

[2020-04-19 00:37] sudevschiz commented on #1037
Duplicate of #967

[2020-04-19 00:37] #1037 closed, assigned to nobody

[2020-04-19 00:40] sudevschiz commented on #705
We now have a statewise pages. Please check it out!

[2020-04-19 00:40] #705 closed, assigned to nobody

[2020-04-19 00:42] sudevschiz commented on #1122
Each chart having an independent axes (like the screenshot) above would be more confusing, imho.

For now, I think we can stick with the scales that's being used. Once the recoveries start picking up in India, that curve will look more prominent.

[2020-04-19 00:42] #1122 closed, assigned to nobody

[2020-04-19 00:45] sudevschiz commented on #1265
Assigned to @shubhamjain2998 :)

[2020-04-19 00:46] sudevschiz commented on #1108
This should probably be solved by adding different toggles (Top infected states, Cases > 150) etc.

Please discuss your ideas here.

[2020-04-19 00:46] sudevschiz commented on #1124
Ward / City level information is simply too sparse to collect.

We will try to add details regarding the Red-Yellow-Green zones. This is being worked on in this sheet. https://docs.google.com/spreadsheets/d/1A-9EDpiD6vxSaCCa9yYwTRKiNwoJ2hdxjbQkmw_RgTA/edit#gid=0

Please do comment there and help us create a template for the data.

[2020-04-19 00:47] sudevschiz commented on #1127
This cannot be added in the main UI as there is simply not enough space to display these numbers. Also, this information is available in the state pages.

[2020-04-19 00:47] #1127 closed, assigned to nobody

[2020-04-19 00:48] sudevschiz commented on #1129
Duplicate of #888

[2020-04-19 00:48] #1129 closed, assigned to nobody

[2020-04-19 00:49] sudevschiz commented on #1130
Could you please add more details to the bug report - steps to reproduce and a screenshot?

[2020-04-19 00:59] sudevschiz commented on #1137
`-` was probably there because we hadn't included the total tested numbers then. Please check now and re-open if the issue persists.

[2020-04-19 00:59] #1137 closed, assigned to nobody

[2020-04-19 01:01] sudevschiz commented on #1139
Some Google scripts were failing then. Has been fixed hence. Thanks for reporting!

[2020-04-19 01:01] #1139 closed, assigned to nobody

[2020-04-19 01:02] sudevschiz commented on #1149
Duplicate of #1139

[2020-04-19 01:02] #1149 closed, assigned to nobody

[2020-04-19 01:03] sudevschiz commented on #1150
This could be a graph in deep-dive section. Please do discuss where you'll get the right data for other countries and how it would look like (a simple mockup?)

[2020-04-19 01:04] sudevschiz commented on #1152
@JamesMayengbam We will have to use official sources which has made the information public. Can you please provide links to those source?

[2020-04-19 01:24] sudevschiz commented on #1157
@mdshamoon Thanks for reporting! I have fixed the districts numbers in Uttarakhand

[2020-04-19 01:24] #1157 closed, assigned to nobody

[2020-04-19 01:27] sudevschiz commented on #1174
The site now reflects the Total Tested reported by ICMR. Thanks for reporting.

@kbpatel1 , since the other numbers reflect each individual, isn't it better to have parity with that and report the total individual tested?

[2020-04-19 01:27] #1174 closed, assigned to nobody

[2020-04-19 01:28] #1175 closed, assigned to nobody

[2020-04-19 01:29] sudevschiz commented on #1178
There was some issue with the google script that was failing. Last updated should be fine now.

[2020-04-19 01:29] #1178 closed, assigned to nobody

[2020-04-19 01:34] praveentiru commented on #1084
I am not an statistics expert but, wanted to add what is being done in US. If anyone takes up that would be great. There is a data set at state-level in deep-dive repo of the organization. [covid-19-india.csv](https://github.com/covid19india/deep-dive/blob/master/data/dataset/covid_19_india.csv).

One can use this data to build a model for Rt estimation. The same model can be extended to district-

[2020-04-19 01:48] sudevschiz commented on #945
It won't be useful to crowd this in the main table. @yashshah1 can you provide a mockup of any chart that you can add to the deep-dive section?
@srip1 please do suggest ideas your ideas for a graph too.

[2020-04-19 01:49] sudevschiz commented on #999
The coverage of city data is very less. It would be futile to plot this as of now.

[2020-04-19 01:49] #999 closed, assigned to nobody

[2020-04-19 01:52] sudevschiz commented on #1100
@jeremyphilemon interesting. The data in the sheet adds a new row for "yesterday" at around 12:05AM. If system times doesn't matter,I am wondering what happened in the steps to reproduce that OP mentioned

[2020-04-19 01:54] sudevschiz commented on #1203
Ok, 14 days could be a button in main page and in necessary dee-dive graphs. Marking this available.

[2020-04-19 01:55] sriram2403balajisriram opened #1276 "Multi Lingual"
English(multi lingual) button is not working.
Please provide multi lingual option for all the languages used in india.Jai Hind.

[2020-04-19 01:56] #1276 closed, assigned to nobody

[2020-04-19 01:59] saurabhsharma1976 commented on #1150
https://www.worldometers.info/coronavirus/  offers the best tabular data.
I suggest we pull from there. Have contacts in other countries incl Wuhan
and this is verifiable - of course like China countries can underdeclare...

------------------------------
*From:* Sudev <notifications@github.com>
*Sent:* Sunday, April 19, 2020 6:34:13 AM
*To:* covid19india/covid19india-react <covid19india-react@nor

[2020-04-19 01:59] guneetnarula commented on #1160
Yes these two can be merged. Any issues with the length of the UT name or should we go with "Dadra and Nagar Haveli and Daman and Diu". It will have 3 districts.

[2020-04-19 02:04] sriram2403balajisriram opened #1277 "Multi Lingual"
**Describe the bug**
Language settings for all the languages used in india.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home page
2. Click on English ,button is not working
4.See error

**Expected behavior**
Multiple language support of the app for the people of india.

**Screenshots**
![Screenshot_20200419-073257](https://user-images.githubusercontent.com/13765446/79677561-6d1e20

[2020-04-19 02:04] saurabhsharma1976 commented on #1084
thanks. data is very good though would have loved as many attributes to it
eg. city and even locality else it will be rework? Any idea on that
With the raw data a lot of stats hypothesis testing can be done and I can
help suggest visualise. HAve just got started wit hGithub on Udemy so a
long way to go to do myself :( any one willing to collaborate?

On Sun, 19 Apr 2020 at 07:04, Praveen T <notifi

[2020-04-19 03:44] iy3r opened #1278 "Make the crowdsourced patient database available as a csv download"
**Is your feature request related to a problem? Please describe.**
The patient database published as HTML from Google Sheets is now pretty heavy, over 22mb. A simple copy-paste into Excel for analysis is no longer easily possible and there are no other ways to access this data except as HTML.

**Describe the solution you'd like**
Make the data available as a csv download.

**Describe alternatives

[2020-04-19 04:18] rohanmanthani commented on #1275
I have done this. Numbers are still very low for Indian states other than MH, GJ and India as a whole.
**Daily cases normalized**
![image](https://user-images.githubusercontent.com/16709164/79679308-d2532100-81d2-11ea-9342-48e52b71b9c1.png)

 **Viral Reproductive Rate for India as a whole. Greater than 1 means still growing. Less than 1 means reducing.**
<img width="500" alt="india-rt" src="https:

[2020-04-19 04:22] vamshikilari commented on #996
hello @JunaidBabu @jeremyphilemon
i would like to work on this
please assign this to me

[2020-04-19 04:27] rohanmanthani commented on #1084
@seabbs   Could you elaborate on the statistical issues?

Plugged in India data but haven't really done a deep dive on the underlying issues with the model.

Linked here - https://github.com/covid19india/covid19india-react/issues/1275#issuecomment-616025618

[2020-04-19 04:32] rohanmanthani commented on #1245
I'm also looking for district wise population density and population size. Couldn't find anything online. Would be useful to add in one of the APIs.

[2020-04-19 04:51] gauravbgp commented on #1275
@rohanstreamoid  I think your analysis is not correct. I have tried to plot the obtained Rt as per process. Although this is a very preliminary run and not enough has been done for initial value/error and optimized sigma chosing, but looks like shape of Rt for National Average and States should hold like the graphs.

![00TT](https://user-images.githubusercontent.com/406183/79679889-68189b80-8227-1

[2020-04-19 05:35] rohanmanthani commented on #1275
Interesting, thanks for the second set of eyes.  I pulled the state data from the csv available on this site and didn't make major variable changes. Will review.

I was also reading more into the model framework - the model will not work as testing ramps ups. Its a relative reporting model where the fundamental assumption is a fixed rate&type of testing.  It could become more relevant once rate of

[2020-04-19 05:37] jaykishanparikh opened #1279 "Visit State Link next to the State name on main table view."
**Is your feature request related to a problem? Please describe.**
Currently 'Visit state page' link is displayed once the State is clicked. This comes as a third column title after 'District' and 'Confirmed cases'

**Describe the solution you'd like**
The user has to expand the state and then click on this link.
1) An additional click is required
2) The position of this link is more appropriate a

[2020-04-19 06:03] AnshulAg03 commented on #1203
I can work on this issue. You can assign it to me.

[2020-04-19 06:40] amar2215 opened #1280 "Incorrect Cases in Yavatmal, MH"
Number of cases as shown for YAVATMAL DISTRICT OF MAHARASHTRA does not tally with Government data.

Government Data shows 13-15 cases viz a viz 5 cases on this website.

The same needs correction for proper presentation of data.

[2020-04-19 06:53] abhishek-kamal opened #1281 "Incorrect data of confirmed case like kanpur , gujrat etc"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-19 06:54] bootleg-icarus commented on #1040
@sudevschiz Sure, would love to work on this.
Would you please mention your sources, so that we could add more states?

Also, for the view, are you thinking editing the colors on the map itself or create an entirely new map or page?

[2020-04-19 07:00] gtanaji opened #1282 "Incorrect total count for 18th April"

[2020-04-19 07:15] JunaidBabu commented on #738
https://docs.google.com/spreadsheets/d/e/2PACX-1vSz8Qs1gE_IYpzlkFkCXGcL_BqR8hZieWVi-rphN1gfrO3H4lDtVZs4kd0C3P8Y9lhsT1rhoB-Q_cP4/pub?gid=200733542&single=true

[2020-04-19 07:15] #738 closed, assigned to nobody

[2020-04-19 07:32] nikita-11 commented on #867
Fixed. Closing this.

[2020-04-19 07:32] #867 closed, assigned to nobody

[2020-04-19 07:36] PratikVGaikwad opened #1283 "Insecure Cross-Origin Resource Access Control"
**At a Glance:**
Classification  : Information

Resource        : /manifest.json

Risk                : **High**

**Request:**

GET /manifest.json

**Discussion:**
The resource has set an insecure** Cross-Origin Resource Sharing (CORS)** access control. CORS provides mechanisms that allow a server to restrict resource access for cross-site requests to certain trusted domains. The server in questio

[2020-04-19 07:53] lakshmi14 commented on #1239
![Covid Tracker Fixes](https://user-images.githubusercontent.com/7721961/79682549-dc136d80-8240-11ea-8d34-a29069bab3c4.gif)

I have fixed the issue let me know if I can commit the same ?

[2020-04-19 07:53] JunaidBabu commented on #1277
duplicate #432

[2020-04-19 07:53] #1277 closed, assigned to nobody

[2020-04-19 08:02] himanshuhkm commented on #1178
okay good

[2020-04-19 08:12] JunaidBabu commented on #1283
We are using github pages to host the website.
How do you suggest we make this change in our case?

[2020-04-19 08:15] #1283 closed, assigned to nobody

[2020-04-19 08:26] shubhamjain2998 opened #1285 "Line graph for daily cases in deep dive section."
**Is your feature request related to a problem? Please describe.**
Daily cases graph in the deep-dive section is not that much informative in the first look.

**Describe the solution you'd like**
If there is a line graph instead of a bar graph then it will provide a lot of information to the users, like they will be able to see clearly at which date new cases are in its peak, and also help analyst

[2020-04-19 08:44] Sumanta9x9 opened #1286 "Disable 'Change Active State' on hover. make it on click."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-19 08:51] jeremyphilemon commented on #1239
Sure this looks good according to the gif you've shared! In order to commit, you'd have to open a PR so that we can merge. Can you do that please? :)

[2020-04-19 09:04] tshrwbl opened #1287 "Mumbai Suburban showing 0 cases while its a most affected district."
**Describe the bug**
Even though most of the cases from Mumbai are in Mumbai Suburban district, The data displays all cases in Mumbai city district.
![image](https://user-images.githubusercontent.com/27141947/79683821-3bc24680-824a-11ea-8550-91b834f8c533.png)

**To Reproduce**
Click on Mumbai Suburban district and Mumbai City district.

**Expected behaviour**
It's a tricky part. How do we count ca

[2020-04-19 09:08] tshrwbl commented on #1286
Do you mean #1243 ?

[2020-04-19 10:10] #1198 closed, assigned to nobody

[2020-04-19 10:25] nayakrahul opened #1289 "Style of tooltip info in district row not same as that in state row"
**Describe the bug**
Style of tooltip info in district row is not same as that in state row. It is completely opaque.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home
2. Click on tooltip icon in West Bengal in states table
3. Open district table for West Bengal
4. Click on tooltip icon in Unknown district
5. See the difference in style

**Expected behavior**
It should be same as t

[2020-04-19 10:47] saifeesl commented on #1159
Sourabh seems engaged with some task, kousik.

[2020-04-19 10:54] Sanskar95 opened #1291 "Change the state row colour to green if all the active cases have been recovered."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-19 10:56] seabbs commented on #1084
So, unfortunately, I have some work I have to finish today but here is a brief summary of the issues that leap out at me:

1. Use of smoothed reported cases. They use a gaussian smoother which includes future and past information to smooth current reported cases. This means future information is included when estimating the Rt and biases the curve. An alternative approach to this is to impute the

[2020-04-19 11:15] amittttt opened #1292 "Issue with the Graph while selecting the Kerala as state [Desktop View][Mobile View]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Click on 'over on kerala'
3. see the graph is negative values

[desktop] [mobile] both have the issues

![image](https://user-images.githubusercontent.com/18753303/79686291-f9563500-825c-11ea-9f7c-155d8ce8e2f2.png)

[2020-04-19 11:16] amittttt commented on #1292
I want to work on the issue if you will give me the permission :)

[2020-04-19 11:26] jainprabhash commented on #789
@shubhamjain2998 carry on. I've made some progress in it. let me know if you want to discuss.

[2020-04-19 11:35] kousiksatish opened #1293 "Information : CLI tool for covidindia stats"
I have done some basic work to develop a CLI tool, covidindia-cli, using the same APIs.
You can try it out
npm i -g covidindia-cli

Contributions are welcome!
https://github.com/kousiksatish/covidindia-cli

[2020-04-19 11:43] makjn10 opened #1294 "Incorrect spelling of Ahmedabad state under Gujarat"
**Describe the bug**
Spelling mistake.
Ahmedabad is being shown as Ahmadabad.

**Desktop (please complete the following information):**

- OS: [Windows]
- Browser [Chrome]
- Version [81.0.4044.113]

[2020-04-19 11:48] pulakchakraborty commented on #1285
It's a good suggestion in my opinion. In addition, I also feel that the use and visualization of the new _active_ cases per day in the current chart is a bit odd. _Confirmed_ new cases is more relevant from the visualization aspect.

[2020-04-19 12:10] PURBABURDWAN opened #1296 "Covid19....pin 713423...west Bengal"
Purbobardhaman there is one confirm case of covid19 please update..pin 713423.as name should not be shared I am not sharing. thanks.

[2020-04-19 12:14] nayakrahul commented on #1291
You mean that when there are zero active cases. We can display a green dot in the row in such case.

[2020-04-19 12:24] JunaidBabu commented on #1278
https://api.covid19india.org/csv/

[2020-04-19 12:24] #1278 closed, assigned to nobody

[2020-04-19 12:27] Sanskar95 commented on #1291
Not a green dot as such , but changing the whole row colour from grey to green

[2020-04-19 12:29] sudevschiz commented on #1296
Please use the form mentioned in the website (Join Telegram to contribute) to report cases. THank you

[2020-04-19 12:29] #1296 closed, assigned to nobody

[2020-04-19 12:31] JunaidBabu commented on #1185
Is it because you've hovered over the states table or the map?

[2020-04-19 12:33] GanapathySundar commented on #1113
I can work on this issue. Kindly assign it to me

[2020-04-19 12:35] pvarma8 opened #1297 "Need API based on Area Input"
API should pull data based on area input.

For Example. using below API we can able to pull State and District wise data.

https://api.covid19india.org/v2/state_district_wise.json

Similar way if we can pull data based on AREA ie District Name would be good, Something like below:
https://api.covid19india.org/v2/DistrictName.json
https://api.covid19india.org/v2/Hyderabad.json should give Hyderabad

[2020-04-19 12:36] JunaidBabu commented on #1191
@sudevschiz this still happening?

[2020-04-19 12:41] JunaidBabu commented on #1297
The data size isn't that huge at the moment. It's easy to get all the data once and then use ones you need from https://api.covid19india.org

Also please raise api related issues at https://github.com/covid19india/api

[2020-04-19 12:41] #1297 closed, assigned to nobody

[2020-04-19 12:42] JunaidBabu commented on #1292
It's because the delta of daily-active is negative.

[2020-04-19 12:42] #1292 closed, assigned to nobody

[2020-04-19 12:43] JunaidBabu commented on #1291
Will consider later.

[2020-04-19 12:43] #1291 closed, assigned to nobody

[2020-04-19 12:46] #1289 closed, assigned to jeremyphilemon

[2020-04-19 12:51] #1293 closed, assigned to nobody

[2020-04-19 13:01] gyanendrapatro opened #1299 "Website Doesnt Work on IE"
**Describe the bug**
A clear and concise description of what the bug is.
The website doesn'y show anything on IE it only shows blank screen.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
Either i should see the page or else as i know fe

[2020-04-19 13:06] #1281 closed, assigned to nobody

[2020-04-19 13:08] Ninad99 commented on #1118
I can work on this

[2020-04-19 13:13] JunaidBabu commented on #1299
Sorry, the solution is to not use IE

[2020-04-19 13:13] #1299 closed, assigned to nobody

[2020-04-19 13:16] JunaidBabu commented on #1286
Duplicate of #1243

[2020-04-19 13:16] #1286 closed, assigned to nobody

[2020-04-19 13:21] gyanendrapatro commented on #1076
please do assign it to me i can fix it

[2020-04-19 13:23] lakshmi14 commented on #1279
![Enhancement (2)](https://user-images.githubusercontent.com/7721961/79688872-db91cb80-826e-11ea-97f1-dac38073702b.png)

Hi I have made a icon in the right side with a hover to know that it redirects to view state page. Let me know if I can proceed. Also i would like to take this enhancement

[2020-04-19 13:31] jaykishanparikh commented on #1279
Hi @lakshmi14  That's wonderful, but how about this.
We put that to each row on the main table. My experience with this page is user is very likely to go thorough table first (especially when they access from mobile as this table renders before the map).

See attached below.
![Uploading Screen Shot 2020-04-19 at 11.28.10 pm.png…]()

[2020-04-19 13:31] #1279 closed, assigned to nobody

[2020-04-19 13:35] GanapathySundar commented on #1256
I would like to work on this. Kindly assign to me

[2020-04-19 13:36] GanapathySundar opened #1300 "Interactive Deep Dive"
**Is your feature request related to a problem? Please describe.**
The deep dive page seems to be disjointed and a set of charts.

**Describe the solution you'd like**
I feel that there needs to be a more BI like feel across the screen to provide more interactivity and contextualization and better insights for the user

[2020-04-19 13:39] nikita-11 commented on #1195
This is fixed. Looks good now.

[2020-04-19 13:39] #1195 closed, assigned to nobody

[2020-04-19 13:40] jaykishanparikh opened #1301 "Adding testing graphs on Home and State Page"
**Is your feature request related to a problem? Please describe.**
We are already showing the number of testing done along with total cases, active, recovered and Deceased  number. These are also displayed in graphs below.

**Describe the solution you'd like**
Adding a graph after Deceased number would help to understand increasing number of testing per day. Testing is one of the most important nu

[2020-04-19 13:43] nikita-11 commented on #1131
1) This problem is only occurring in Mac. Didn't come across this on any other browser or device.
2) Every dropdown has inbuilt search functionality, it will start searching as soon as you put a word in there.

[2020-04-19 13:43] #1131 closed, assigned to nobody

[2020-04-19 13:43] jaykishanparikh commented on #1301
Along with this, the percentage of death and recovery rate could be very important data. For example, India's death rate was 23% that have now limited to around 17% that is very positive sign and relief to the people.

Closed cases = Total Death + Total Recovered
Death rate = Total Deaths * 100 / Closed cases

[2020-04-19 13:50] gyanendrapatro commented on #1241
yes same fr me i cant see mumbai you can assign to me i can fix it

[2020-04-19 14:00] shuklaayush commented on #1294
Please refer to this https://github.com/covid19india/covid19india-react/issues/662#issuecomment-609377552

[2020-04-19 14:00] #1294 closed, assigned to nobody

[2020-04-19 14:01] #1282 closed, assigned to nobody

[2020-04-19 14:02] lakshmi14 commented on #1279
We have implemented this? (You have closed this.)

I can add the view state next to the table. However, the problem would be in the mobile view.

I am not able to view your screenshot as well. Can you share that again?

[2020-04-19 14:04] gyanendrapatro commented on #1253
yup it make sense you can assign to me i can fix it

[2020-04-19 14:18] ghost opened #1303 "Cards on deepdive are touching navbar. Make it centered"
On Deepdive page the cards are not centered and touching navbar on left. Center the cards container.
![imageedit_3_4302082151](https://user-images.githubusercontent.com/29702340/79690164-9ec9d280-8276-11ea-9cd5-8956fba9b08a.gif)

[2020-04-19 14:21] lakshmi14 commented on #1239
Can we close this?

[2020-04-19 14:27] shubhamjain2998 commented on #789
@jainprabhash Yes will definitely like to discuss it.

[2020-04-19 14:41] shubhamjain2998 commented on #1195
hey @nikita-11, this bug is still showing, see the preview

![notfixedd](https://user-images.githubusercontent.com/30628775/79690796-e7cf5600-8279-11ea-9027-ec2059d70cf0.gif)

[2020-04-19 14:49] amittttt commented on #1292
yes, agree ... as a user what do you think?
Active negative values refer what :(

[2020-04-19 15:05] gyanendrapatro commented on #1253
![colormode](https://user-images.githubusercontent.com/13833855/79691458-477b3080-827d-11ea-8a17-cecb4ac7c97a.PNG)

Here is the sample and the logic which i developed so once you assign i can just upload with few styling

[2020-04-19 15:22] #794 closed, assigned to rohanharikr

[2020-04-19 15:30] ipimran commented on #1040
@bootleg-icarus  @sudevschiz

It will be helpful to also include details of containment zones within cities and district.

Many district info centers, collector offices, municipalities are announcing this info through their twitter handles,FB pages. Additionally it is also available through media like mentioned in link in above comment.

A new page "Containment Zones" will be better. This may cont

[2020-04-19 15:49] vedadeepta commented on #1079
@sudevschiz can you assign it to me, I'm willing to give it a go

[2020-04-19 15:54] #1046 closed, assigned to nobody

[2020-04-19 15:59] gyanendrapatro commented on #1076
fixed it with below PR
fixing tooltip for agechart #1307

[2020-04-19 16:01] #1239 closed, assigned to lakshmi14

[2020-04-19 16:03] avneeshroks commented on #1303
I would like to work on this. Please assign this to me. PR : https://github.com/covid19india/covid19india-react/issues/1303

[2020-04-19 16:04] lakshmi14 commented on #1263
Hi You can assign it to me. I can do it

[2020-04-19 16:05] shubhamjain2998 commented on #789
I have also tried to do some changes, attached gif for that also.
just asking if I have understood the issue correctly and does this change solve it, please have a look and provide feedback, so I can rectify it. @jainprabhash @sudevschiz
![demo](https://user-images.githubusercontent.com/30628775/79692934-97f68c00-8285-11ea-9349-75fe0e12c46c.gif)

EDIT -
look at the form of an updated message.

![S

[2020-04-19 16:15] gyanendrapatro commented on #1076
@shuklaayush @sudevschiz please review it and if you feel do merge

[2020-04-19 16:31] sudevschiz commented on #1076
Thank you. Merged!

[2020-04-19 16:31] #1076 closed, assigned to nobody

[2020-04-19 16:34] #1303 closed, assigned to nobody

[2020-04-19 16:37] dhanjit commented on #1301
@jaykishanparikh the no. Of tests column doesn't exist.
![Screenshot_20200419-220617_Chrome](https://user-images.githubusercontent.com/2098349/79693744-2967fd00-828a-11ea-8334-1c2e1a0951a6.png)

[2020-04-19 16:52] ahmadtaquee opened #1308 "Adding Google Translator API for Hindi"
**The website shows the contents only in English. What about if a person wants in Hindi, as Hindi is the native language of India.**

So, to overcome this problem, we can add Google Translator API which translates the website contents to any preferred language.

I already change in Google Translator API code to show the content in Hindi and English only.

Here is the screenshot!!!
**The only probl

[2020-04-19 16:58] rohanmanthani commented on #1084
@seabbs

Appreciate the response! I believe they actually use a 9-day smoothing window which would amplify some of the error you mentioned. I was looking through the model you linked https://epiforecasts.io/covid/ - really nice work btw.  How do you handle changing rate of testing affecting the number of positive cases? Is this at all captured in the uncertainty? To me this sticks out as a missing

[2020-04-19 17:09] elseasama commented on #596
@jeremyphilemon
Added recovered ,Hospitalized, and deceased sheet.
Added Sex and age wise distribution sheet.
Added source sheet.

[Google sheets](https://docs.google.com/spreadsheets/d/1-SUs7yJeJzYQMNbH6ERPReV0ua9bDHZtb_uHqbEPeI8/edit?usp=sharing)

Also mapped the containment zones and streets in the city using official data list.

 [Link to the map](https://elseasama.github.io/chcovid19/)

[2020-04-19 17:23] gyanendrapatro commented on #1256
if its not done please assign it to me

[2020-04-19 18:05] gyanendrapatro opened #1311 "menu sidebar scroll on mobile screen"
**Describe the bug**
A clear and concise description of what the bug is.
the menu bar in mobile phone when you click the sidebar is scrollable but it doesnt cover the whole screen its half way so it creates a problem, like i am seeing half menu info and half the back page info.
even if you scroll down you wont be able to close the sidebar as the close button goes up when you scroll.
**To Reproduce

[2020-04-19 18:06] gyanendrapatro commented on #1311
if the issue needs to be fixed please do assign it to me i can fix it

[2020-04-19 18:25] gyanendrapatro opened #1312 "top navbar and menu button open should be fixed in mobile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
so in mobile the top navbar and menu button should be fixed as its the navigation to all pages
**Describe the solution you'd like**
we can fix the navbar for mobile screens where the main covidindia link and menu button are there.
that should be fixed as it will help us to nav

[2020-04-19 18:26] gyanendrapatro commented on #1312
please do assign it to me so that i can fix the navbar for the navbar and menu button for easy navigation in mobile screen

[2020-04-19 18:38] nayakrahul opened #1313 "daily active cases gone negative in timeseries graph"
**Describe the bug**
Suppose no. of active cases decreases from day X to day Y. That means there is no addition to no. of active cases for day Y. So my point is : should we show negative value or zero in the daily active cases timeseries graph for day Y.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the state page of Tamil Nadu
2. Scroll down to timeseries graphs for Tamil Nadu
3. C

[2020-04-19 18:38] nayakrahul commented on #1313
You can assign it to me if you feel it to be relevant.

[2020-04-19 19:17] TheDominus opened #1314 "Network of Transmission - Additions"
**Is your feature request related to a problem? Please describe.**
**Show Patient Info**
See the patient information via a small popup on clicking/hovering on the dot.
**Add details about missing information**
Add a link to google doc asking people for more information about the transmission graph via regional sources.
**Add more colors for distinctions**
Color1 - Travelled from other state with d

[2020-04-19 20:53] rkkmmmkkr opened #1316 "Map border not visible in Microsoft Edge browser"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Microsoft Edge browser and open this site '
2. Click on 'Sikkim on India map to view its district map'
3. only selected district is visible

**Expected behavior**
map border should be visible so that we can recognize it.

**Screenshots**
![sikkimmap](https://user-i

[2020-04-19 21:11] nayakrahul opened #1317 "Outline in datepicker"
**Describe the bug**
There is outline around the elements inside datepicker when you click them.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Demographics page
2. Click on calendar button or clear button or date fields inside datepicker
3. See the outline

**Expected behavior**
There should not be any outline.

**Screenshots**
![Screenshot (27)_LI](https://user-images.githubusercon

[2020-04-19 21:59] #911 closed, assigned to nobody

[2020-04-19 22:48] #1317 closed, assigned to nobody

[2020-04-20 00:08] quantumfrost commented on #1100
@sudevschiz can you not reproduce it?

[2020-04-20 00:08] nayakrahul opened #1320 "In deep dive, segmentation in india daily cases chart doesn't make any sense"
**Describe the bug**
In deep dive, segmentation in india daily cases chart doesn't make any sense because the recovered and deceased ones for a particular day are not among the confirmed cases for that day.

In some states, there are negative daily active cases. For India, daily active cases are always positive for now but at some point of time, it will become negative when more people will be rec

[2020-04-20 00:30] sidealice opened #1321 "why tibet is country?"
Under the section of "PATIENT NATIONALITY" I found tibet is a country???

This is a seriouly problem.Wait your response.

UPDATEED:
You don't regard this is a seriouly problem and close without change anything?
This really hurts other country people.

I understand peoples suffers from the virus over the world.
At the beginning I'm worry about the India people and your life. But now ,haha.

Thank y

[2020-04-20 01:22] #1259 closed, assigned to nobody

[2020-04-20 01:27] nayakrahul commented on #1156
@jeremyphilemon Or just a click in the main content outside the menu should close the menu dropdown.

[2020-04-20 01:55] tshrwbl commented on #1321
Bohot accha kam krta he ye pados wala IT survillence.

[2020-04-20 02:10] gyanendrapatro commented on #1316
i saw it in microsoft edge chromiun there it works

[2020-04-20 02:46] jaykishanparikh commented on #1301
@dhanjit
It's down to the Map view.

<img width="191" alt="Screen Shot 2020-04-20 at 12 45 29 pm" src="https://user-images.githubusercontent.com/17736902/79709229-0169af80-8305-11ea-9d79-0c1df689773f.png">

[2020-04-20 03:20] Surya1231 opened #1322 "Convert it to progressive web app"
The progressive web app will be very handy to use. People don't have to visit the website all the time they want to check status. They can easily install the website as an app in their android/ios devices. You can easily convert this website to a web app. ( progressive web app provide a banner for installing the website as an app in their phone )

Solution:
We need to just add a service-worker.js

[2020-04-20 03:52] shekzek opened #1323 "West Bengal Database Related"
Hey' My Friends Here The States Of West Bengal Have Own Health Care Web Which Have Update Daily For Covid-19 Reports Officially.
For Information:-
https://www.wbhealth.gov.in/pages/corona/bulletin
#Kalibaba-Pro

[2020-04-20 04:32] Abhinav-Mani commented on #1322
I think its possible to create shortcut to website from browser and add it to home screen. Then directly visit the site.

[2020-04-20 05:21] shuklaayush commented on #1313
What's the point of showing zero instead of negative values for change in active cases?

[2020-04-20 05:25] 07tiru07 commented on #1241
@np000 I guess the other option already present is to click the major cities in the table itself to check the details. I tried it on my mobile and with a couple of zooms, I was able to click on Mumbai.

[2020-04-20 05:37] animesh-tarodia-sp commented on #1323
@Kalibaba-Pro The west Bengal bulletin doesn't include total number of positive cases but it only includes active cases in the state.

[2020-04-20 05:56] vivekvroy opened #1324 "District wise confirmed cases in state details page"
When we go into the details of a particular state for example
[https://www.covid19india.org/state/KA](url) or
[https://www.covid19india.org/state/MH](url)

It will be good to have a table of districtwise numbers like below table.
![image](https://user-images.githubusercontent.com/10249914/79718308-5acbe180-82f9-11ea-888f-be72bebbc7e4.png)

It will be even better when we have a more detailed view l

[2020-04-20 06:06] ahmadtaquee commented on #1308
Please assign it to me.

[2020-04-20 06:07] ron2911 commented on #1322
I am already using it that way on iOS since more than a couple weeks. Works fine for me.

[2020-04-20 06:08] shekzek commented on #1323
Hey' My Bro..... Let's Play Some Calculations.
if, Total Number = x
        Active case = y
         Recovered = z
         Deceased = d
so,
x = ( y + z + d)
therefore
   Total Number = Active case + Recovered + Deceased
:: Total Number = Confirmed.
Thank You.
#Kalibaba-Pro

[2020-04-20 06:09] gyanendrapatro commented on #1314
you can assign this to me

[2020-04-20 06:09] keerthanakumar commented on #906
This issue should be closed!

[2020-04-20 06:20] animesh-tarodia-sp commented on #1323
I totally agree with u but when you compare mohfw data and bulletin data there is so much difference.

[2020-04-20 06:29] Abhinav-Mani commented on #1313
I agree with @shuklaayush. There is no point showing 0 in place of negative.
I feel the daily active case has no significance, active cases should always be cumulative therefore the active case chart from daily should be removed .

[2020-04-20 06:32] vivekvroy opened #1325 "Confirmed cases number incorrect for multiple districts of Karnataka"
![image](https://user-images.githubusercontent.com/10249914/79721931-cf564e80-8300-11ea-809a-9a123bb11ade.png)

Many districts numbers are incorrect.
Data taken from [https://covid19.karnataka.gov.in/storage/pdf-files/Media-Bulletin/19-04-2020-05-00-English.pdf](url)

[2020-04-20 06:33] Binu42 opened #1326 "DatePicker Bugs"
**Describe the bug**
* select date input and date of data shown is not matching when demographics component mount.
* user can enter invalid date input.
* on click of input in date picker (in mobile) keyboard is opening which is awful.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Demographic page and see select date in empty.
2. Click on select date and type anything from keyboard.

[2020-04-20 06:58] nayakrahul commented on #1313
I agree with @Abhinav-Mani . Daily active cases chart doesn't make any sense.
Let me explain with an example
On day 1, person A, B and C are confirmed positive and on day 2, person D and E are confirmed positive but A dies and B recovers. So for day 1, daily active cases is 3. And for day 2, daily active cases is 0 (by formula: confirmed - recovered - deceased) but actually there are 2 active case

[2020-04-20 07:20] shuklaayush commented on #1313
I don't see what the confusion is. Active represents the number of people alive who have the virus right now. Thus, it captures the extent of the spread at this point in time. In your example, there were 3 such people on day 1, and on day 2, it remained at 3. Hence, the delta is 0. It makes perfect sense in my opinion.

[2020-04-20 07:52] Abhinav-Mani commented on #1313
@shuklaayush  in current version many states are showing -ve active cases. So if a state X shows -10 active case for 19 April 2020. Does this have any significance ? Or what does it mean?

[2020-04-20 07:58] shuklaayush commented on #1313
It means that the number of Active Covid-19 cases decreased by 10 on that day. This could be either because people recovered or because they died.

The daily graphs don't represent "active cases for 19 April 2020". Rather, they represent the change in the total Active cases on 19 April 2020.

[2020-04-20 08:00] gilsedition commented on #1324
Yes, this will give a more in-depth view, good suggestion @vivekvroy

[2020-04-20 08:07] anuragsetia opened #1330 "Deep Dive - Daily cases"
**Describe the bug**
The chart shows new cases, recoveries and deaths in a single bar demonstrating the additive effect of them which is wrong. E.g. when the new cases reduce and the recoveries increase, it might still show a tall bar.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/deepdive'
2. See error on center chart on top of the page

**Expected beh

[2020-04-20 08:11] nayakrahul commented on #1313
In daily chart for confirmed cases, it shows the no. of confirmed persons in a day which is equal to the delta itself (cumulative for current day - cumulative for previous day). Same for recovered and deceased. But for daily active cases, it is just the delta or how much the total number of cases has increased or decreased by.

[2020-04-20 08:13] anuragsetia opened #1331 "New Deep Dive Map for death rate"
**Is your feature request related to a problem? Please describe.**
I do not get clear view of which regions have higher death rates compared to others.

**Describe the solution you'd like**
A state map of India which is color coded as per the death rates of the state so far. Death rate can be represented with the ratio of deaths & recoveries **OR** percentage of deaths over the sum of deaths & rec

[2020-04-20 08:30] Vadi91 opened #1332 "Date Picker issue: Clear button not working/freezes"
**Describe the bug**
Date Picker issue: Clear button not working/freezes

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Menu > Demographics'
2. Update date 12/12/2019

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/16251338/79729359-fd419000-830c-11ea-9392-8dfc56ae63cc.png)

**Desktop (please complete t

[2020-04-20 08:33] pradeepAtcodingmart commented on #1108
![Screenshot 2020-04-20 at 1 59 15 PM](https://user-images.githubusercontent.com/44165454/79731100-6b875200-830f-11ea-8299-d362f4e364cb.png)
I have added this feature
Review needed

[2020-04-20 09:04] shubhamjain2998 commented on #1330
@anuragsetia refer to this suggestion #1285 , if this gets maintainers approval then this bug will also get resolved. or if there is any other better way to solve then please mention as I am already working on this graph.

[2020-04-20 09:07] lakshmi14 commented on #1263
Is this accepted ? I could see review needed still hasn't been available . Also hard refresh will affect the quality of the application.

[2020-04-20 09:17] lakshmi14 commented on #1192
Hi .. There is already a chart with confirmed statewise.
![image](https://user-images.githubusercontent.com/7721961/79735343-c2902580-8315-11ea-85fb-32614e188c6c.png)

Where would you suggest me to include pie chart. Need your inputs ?

[2020-04-20 09:20] gyanendrapatro commented on #1314
@shuklaayush could you tell about this point Add details about missing information
Add a link to google doc asking people for more information about the transmission graph via regional sources.( do you have any link which we can put there).

Data is not completely available for some states [BUG]
There are only 2 dots for Jharkhand state( this is checked the information is not there like transmitte

[2020-04-20 09:23] gyanendrapatro commented on #1314
Add more colors for distinctions
Color1 - Travelled from other state with disease
Color2 - Passed the infection to other person
Color3 - infected but did not pass the disease

if scenario 1 and 2 are there then how we will put color its difficult to assign color if the patient travleed from outside and also passed the infection.

[2020-04-20 09:45] anuragsetia commented on #1285
Lines for Confirmed, Recoveries and Deaths should be independent and not have additive effect as visible in the image. See how the top line is going upto 1400 almost when 1062 cases have been confirmed. This can be a problem when high number of recoveries happen on a day and the graph will still be going upwards.

[2020-04-20 09:47] anuragsetia commented on #1330
Had a look and #1285 does not address this issue either. It only converts the bar to lines with retention of the same error

[2020-04-20 10:06] shubhamjain2998 commented on #1285
@anuragsetia I totally agree with you, but in this line graph **lines are independent**, unlike previous bar graph lines are not stacked here, it may have confused you because of the background color.
let me show you a more clear example.
![Screenshot from 2020-04-20 15-35-36](https://user-images.githubusercontent.com/30628775/79740012-9fb53f80-831c-11ea-955b-7fa1749ad6c4.png)
just see the tooltip

[2020-04-20 10:24] shuklaayush commented on #1313
Yes, exactly.
Please close this thread if there's no further confusion.

[2020-04-20 10:32] pranavtalwar opened #1333 "Add tests per million population, cases per million population and deaths per million population for each state as well as the whole country"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-20 10:32] sumukhah opened #1334 "Map is flickering on moving mouse between Sikkim and West bengal"
**To Reproduce**
Move the mouse from Sikkim to West Bengal.

**Screenshots**
![ezgif-3-618435aebf07](https://user-images.githubusercontent.com/23723464/79742113-f7a17580-831f-11ea-8608-20e6ac4b53da.gif)

- Browser  chrome

This error may be raised because of some styling issue,
selecting west Bengal needs more space in the result cards, so the map will move down,
hovering Sikkim moves the map up,

[2020-04-20 11:56] meetzaveri opened #1335 "x-axis on spread trends shifts to top leaving non-perpendicular structure"
**Describe the bug**
The x-axis of graph of any state in spread trends section shifts to top, leaving non-perpendicular structure. This happens when I am in Daily tab and I switch to uniform for specific state in spread trends section(home page)

**To Reproduce**
1. Go to Home Page
2. Click on any state and its daily tab
3. Scroll down to see graph and check x-axis
4. See the design error

**Expec

[2020-04-20 12:14] #1313 closed, assigned to nobody

[2020-04-20 12:19] kunalpgithub commented on #887
@ravigaggad @ravigaggad yeah, it seems no. of test done data is not there.
 {
        "district": "Meerut",
        "confirmed": 74,
        "lastupdatedtime": "",
        "delta": {
          "confirmed": 0
        }
      },

[2020-04-20 12:47] SachinRammoorthy opened #1337 "Negative number of cases in spread trends"
**Describe the bug**
In the daily spread trends for many states, the number of active cases on various dates is negative.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Karnataka
2. Click on 'Daily' in the Spread Trends section
3. Scroll down to the Active cases graph
4. See error

**Expected behavior**
A positive number

**Screenshots**
If applicable, add screenshots to help expla

[2020-04-20 13:14] jaykishanparikh commented on #1301
Plz assign this to me.

[2020-04-20 13:17] shuklaayush commented on #1337
Please refer to the discussion in #1313, and comment over there if you still have any confusion

[2020-04-20 13:17] #1337 closed, assigned to nobody

[2020-04-20 13:22] pavan-shipmnts opened #1338 "Code Suggestion"
https://github.com/covid19india/covid19india-react/blob/29de2a7670f250cadb4ac47a9e262128ac1f3495/src/App.js#L18
This should be written outside of the function as it's independent of it.

[2020-04-20 13:54] nayakrahul commented on #1332
The problem occurs when we type in dates which are not allowed. All problems related to disallowed or invalid dates can be fixed by not allowing to manually type the dates in input field.

[2020-04-20 13:55] nayakrahul commented on #1326
All problems related to disallowed or invalid dates can be fixed by not allowing to manually type the dates in input field.

[2020-04-20 13:56] jaykishanparikh commented on #1301
My approach
- Update in https://api.covid19india.org/data.json API to return totalTested.
- Update timeseries.js to add one more graph (chartKey5)
- Add required variables in timeseries.js

[2020-04-20 14:03] gauravkhuraana opened #1339 "Caption to explain uniform and logarithmic"
**Is your feature request related to a problem? Please describe.**
Technical term which everyone would not know i.e. Logarithmic and Uniform

**Describe the solution you'd like**
If taking our cursor over it explains what it is or a link to some site which can explain in detail

**Describe alternatives you've considered**
A link to explain the idea in detail. A small one liner to explain it there

[2020-04-20 14:13] Binu42 commented on #1326
that's what i did on PR #1327

[2020-04-20 14:31] Ekaanth commented on #1334
Hi,
I just checked on Brave browser there is no flickering when moved from Sikkim to WB

[2020-04-20 14:34] nayakrahul commented on #1326
Oh ! And you set the default to yesterday's date.

[2020-04-20 14:48] Ekaanth commented on #1308
Hi,
Why restrict to Hindi? since adding translate is a one-time thing while we can add all the other official languages thus making it helpful for everyone.

[2020-04-20 14:53] Binu42 commented on #1326
yeah, otherwise when demographics page get mounted select date is empty and showing patients data for yesterday's doesn't make sense.

[2020-04-20 14:56] #1335 closed, assigned to nobody

[2020-04-20 15:25] Binu42 opened #1340 "pages are not aligned properly in Desktop(Home, state, essentials) and mobile(essentials) view."
**Describe the bug**
currently pages (Homepage, essentials page, state page) is not aligned properly in Desktop view which is substandard from UI view. it's not any big issue but if we consider these kind of small things, it will make our UI prettier. i think this thing happen after new Navbar.

* essential page is broken in mobile view i have attached screenshot you can see it (this screenshot is

[2020-04-20 15:40] ahmadtaquee commented on #1308
Hi @Ekaanth,
Your opinion is right, will add other languages too.

[2020-04-20 16:28] anuragsetia commented on #1285
That does clarify it. However, if the lines are not additive, its good practice for clear understanding sake not to have the area under the line shaded.

[2020-04-20 17:02] SmritiRao17 commented on #1332
There is an open issue in react-date-picker for this.
[Issue Link](https://github.com/wojtekmaj/react-date-picker/issues/247)

[2020-04-20 17:05] shubhamjain2998 commented on #1285
thanks for the feedback, i will keep this in my mind, let the maintainers also give their views in this and will apply final changes after that.

[2020-04-20 18:02] SREERAGI18 opened #1343 "Updates detail showing in previous version"
**Is your feature request related to a problem? Please describe.**
A No. but it was nice when details of the updates were shown in written form.

**Describe the solution you'd like**
A bring it back, please.

[2020-04-20 18:08] vishwac09 commented on #1338
Please create a PR if you have suggestions/enhancements for the current code. Try to find more and avoid creating issues for single changes. Find more and combines them according to features like State, Demographics, Deep dive etc. Creating multiple issues as per features is ok but please avoid creating 1 per change :).

[2020-04-20 18:31] Nikhiljoseph31 commented on #1192
Hi

First let me tell you awesome job building this site, this is amazing hats
off.

No the suggestion was more to indicate pie chart indicating source of
transmission like travel, contact, local transmission etc.

I saw this in one site related just to one state, of that can be collated
across the country will be super useful.

Thanks
Nikhil Stephen

On Mon, 20 Apr 2020, 14:47 lakshmi14, <notific

[2020-04-20 18:42] jeremyphilemon commented on #1343
Do you mean this, this is currently present in the website, you just have to click the bell icon to expand it!

<img width="504" alt="Screen Shot 2020-04-20 at 9 42 02 PM" src="https://user-images.githubusercontent.com/17938322/79787513-ca6cbb80-834f-11ea-9912-39144420c421.png">

[2020-04-20 19:11] sriramsridar opened #1344 "Tested number for Tamil Nadu is not correct or inconsistent with whole India numbers"
**Describe the bug**
For whole India, the details above India map shows the Tested numbers based on the number of people tested from the ICMR Status Update report and not the number of samples tested, since there can be repeat samples. But Tamil Nadu "Tested" numbers are showing Number of Samples tested. Please have "Total Number of persons tested today/ till date" for Tamil Nadu since that exclud

[2020-04-20 20:00] pavan-shipmnts commented on #1338
Creating a PR with changes. Thanks 👍

[2020-04-20 20:34] bee-rickey commented on #1344
Valid point. If the data on number of people tested is available that should be used @sudevschiz thoughts?

[2020-04-20 20:52] bee-rickey commented on #1325
This is under discussion. The issue is with Karnataka govt changing their counting logic on 14th April. Check the notes in this [bulletin](https://karunadu.karnataka.gov.in/hfw/kannada/nCovDocs/14-04-2020(English).pdf). This is a weird way of counting cases for districts.

<img width="721" alt="image" src="https://user-images.githubusercontent.com/63364562/79798532-c902b980-8376-11ea-8a99-295a882c

[2020-04-20 20:57] bee-rickey commented on #1321
Free Tibet (ง •̀_•́)ง

[2020-04-20 21:48] bharatmakhija opened #1345 "Hoveringover on Goa in the map shows 0.04 from goa ? It has total confirmed cases == total recovered cases,"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-20 21:53] bharatmakhija opened #1346 "Hoveringover on Goa in the map shows 0.04 from goa ? It has total confirmed cases == total recovered cases, shoudn't it show 0 percent ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-20 21:53] nayakrahul opened #1347 "In timeseries charts, when we hover a chart in region where stats are present, the focus dot doesn't shift appropriately rather gets reset."
**Describe the bug**
In timeseries charts, when we hover a chart in region where stats are present, the focus dot doesn't shift appropriately rather gets reset.

**To Reproduce**

1. Go to Home
2. Scroll down to timeseries graphs
3. Hover on stats region
4. The focus dot gets reset to the last point.

**Expected behavior**
The above action should also show change in position of focus dot appropria

[2020-04-20 21:54] #1346 closed, assigned to nobody

[2020-04-20 22:06] bharatmakhija commented on #1345
Hoveringover on Goa in the map shows 0.04 from goa ? It has total confirmed cases == total recovered cases.
When someone visits the website and hovers over on map and it shows 0.04 from goa, the first impression for this is number of infected patients in state  to the patients in entire country. Is this what 0.04 is ?, if so it should show 0 percent as currently there are no active patients in goa

[2020-04-21 02:04] bootleg-icarus commented on #1040
@ipimran we first need to collect all the data in a API friendly format, so if you can, please find data and update the document.

@sudevschiz I'm unable to find data on containment zones (other than Delhi, Maharastra) although the hot-spot districts data looks more open right now,
[Hot-Spots districts list]( https://www.businesstoday.in/latest/trends/coronavirus-lockdown-20-does-your-district-fal

[2020-04-21 02:27] bootleg-icarus commented on #1339
Would like to work on this. Please assign.

[2020-04-21 03:31] bootleg-icarus commented on #1188
I agree, the criteria is simple enough that the hotspots can be added based on the data automatically. We only need to compare the new reported cases in a district against the state's reports and/or calculate the doubling rate. To exclude,we need to check if no case has been reported in the last 28 days. All these data points are already available from the APIs
Although the data released by the go

[2020-04-21 04:11] SREERAGI18 commented on #1343
yes thanks you....just saw it...!!!

[2020-04-21 04:11] #1343 closed, assigned to nobody

[2020-04-21 04:27] abhinav-superlativegaming opened #1349 "API is down"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2.State-wise data is not coming
3.https://api.covid19india.org/state_district_wise.json is down
![covid19](https://user-images.githubusercontent.com/62693741/79825377-7ba63c80-83b6-11ea-9249-cbdb4c247231.jpg)
![covid19](https://user-ima

[2020-04-21 04:29] DhiralKaniya opened #1350 "Website home page is not working"
**Describe the bug**
No data display on the HomePage

**To Reproduce**

1. Go to https://www.covid19india.org/

**Screenshots**
<img width="1676" alt="Screenshot 2020-04-21 at 9 57 36 AM" src="https://user-images.githubusercontent.com/21332852/79825480-bd36e780-83b6-11ea-9f7a-8740c8eebb71.png">

Desktop with google chrome browser.

[2020-04-21 04:30] jeremyphilemon commented on #1350
Duplicate of #1349

[2020-04-21 04:30] #1350 closed, assigned to nobody

[2020-04-21 04:51] anj96 commented on #1349
This API call is failing as well: https://api.covid19india.org/data.json

[2020-04-21 04:55] chandrajob365 commented on #1349
Seems to be CORS issue

[2020-04-21 05:04] anilam opened #1352 "Data not displaying in website"
Data is not displaying in website. Please check the issue.

[2020-04-21 05:06] jeremyphilemon commented on #1349
Thanks for reporting :)

[2020-04-21 05:06] #1349 closed, assigned to nobody

[2020-04-21 05:06] lakshmi14 commented on #1349
![image](https://user-images.githubusercontent.com/7721961/79827445-ec038c80-83bb-11ea-919c-9efccf2bc866.png)

Clearing the cache worked.

[2020-04-21 05:06] jeremyphilemon commented on #1352
Duplicate of #1349

[2020-04-21 05:06] #1352 closed, assigned to nobody

[2020-04-21 05:06] varunkakkar commented on #1352
I think it's a network issue on your side. Please post additional details

On Tue, 21 Apr 2020, 10:35 anilam, <notifications@github.com> wrote:

[2020-04-21 05:10] lakshmi14 commented on #1352
![image](https://user-images.githubusercontent.com/7721961/79827603-692f0180-83bc-11ea-8558-4d4522751e17.png)

Clearing the browser cache and hard refresh solved the issue

[2020-04-21 05:19] kousiksatish opened #1353 "Essential page in mobile has unnecessary margin reducing space for the content"
**Describe the bug**
In essentials page, once we search and select a particular item, the details come up on screen. But the details have a lot of left and right margins wasting almost 2/3rd of the screen space.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to essentials page
2. Search for a city
3. View a particular project
4. See as in below screenshot

**Expected behavior**
We can r

[2020-04-21 05:20] kousiksatish commented on #1353
I would like to work on this if accepted

[2020-04-21 05:23] sainithinkumar3 opened #1354 "Telangana No.of Tests done is not mentioned why?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-21 05:24] poojapatel10 opened #1355 "Display wrong date and time"
On the home page of https://www.covid19india.org/  ,it's displying wrong date and time.

I have attached images for your reference, please have a look.

![WhatsApp Image 2020-04-21 at 10 49 30 AM (1)](https://user-images.githubusercontent.com/44190398/79828330-2a01b000-83be-11ea-9998-5afa9150df7b.jpeg)
![WhatsApp Image 2020-04-21 at 10 49 30 AM (2)](https://user-images.githubusercontent.com/441903

[2020-04-21 05:29] meetzaveri commented on #1335
@jeremyphilemon @shuklaayush
Hey, it fixed the current issue.

But issue now persists in "active cases" graph. Below is the screenshot.
![chrome-capture (9)](https://user-images.githubusercontent.com/21293048/79828786-10ad3380-83bf-11ea-94de-c093c3d76f37.jpg)

[2020-04-21 05:33] harishmathur commented on #1355
Please assign this issue to me.

[2020-04-21 05:33] preadatorshek opened #1356 "Number of Test Performed not Showing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-21 05:46] #1356 closed, assigned to nobody

[2020-04-21 05:48] shuklaayush commented on #1335
@meetzaveri Could you explain what exactly the issue is? Everything looks perpendicular to me

[2020-04-21 05:51] meetzaveri commented on #1335
Some of the states, when I hover on them, the "active" cases graph's x-axis moves to the top as shown in screenshot above.

For eg. Hover over "Odisha" and you will see the effect.

[2020-04-21 05:52] chetanbnaik opened #1357 "directory of covid-19 relevant websites"
Hi,

Do you think you guys could have a directory of covid-19 relevant websites?

I would like to have my website listed in that directory. The website I own can enable people to watch movies, TV shows together with friends in realtime. These kind of apps are useful during the time of lockdown and #stayhome is encouraged. what do you guys think?

Cheers

[2020-04-21 05:58] shuklaayush commented on #1335
The change in Active cases is negative for some dates, so we've added an extra zero axis to highlight the change from positive to negative. It is this zero axis that moves up and down.

[2020-04-21 06:15] kayceegeek opened #1358 "Names for districts of Maharashtra are mistyped."
**Describe the bug**
The district names are mistyped in your locales.json file

**To Reproduce**
Click on Maharashtra and expand the state. You will find two typos:

1) Raigarh. This should be Raigad and not Raigarh.
2) Bid. This should be Beed and not Bid.

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you ex

[2020-04-21 06:16] meetzaveri commented on #1335
Okay. Sounds perfect then!

[2020-04-21 06:33] aamir200 opened #1359 "Access database issue it frozen"
Hello Shukla

I didn't get any update. I was monitoring that your database in google is frozen for 19th. and didn't update. As I told you earlier that many people are watch this data.

it should open and get latest update every time. I also used in my report and client and other many are giving feedback that your datasets is not update. can you please share me the latest url for the report which w

[2020-04-21 06:56] #1358 closed, assigned to nobody

[2020-04-21 07:05] satish-chef opened #1361 "Display top 30 or 50 districts with highest no of patients separately in a table"
**Is your feature request related to a problem? Please describe.**
It would be great if you could create a table in the home page which has info on top 30 or 50 worst affected districts having highest number of patients.

**Describe the solution you'd like**
A table with list of top 30/50 districts of India with number of patients in descending order.

**Describe alternatives you've considered**
N

[2020-04-21 07:09] Abhinav-Mani opened #1362 "Pie Chart for Outcome of Cases in Deep Dive"
**Is your feature request related to a problem? Please describe.**
I do not get clear view of  outcome of cases.

**Describe the solution you'd like**
A pie Chart should be added showing outcome of case in Deep Dive

[2020-04-21 07:09] Abhinav-Mani commented on #1362
You can assign it to me if you feel it to be relevant.

[2020-04-21 07:20] Binu42 commented on #1353
This is fixed in PR #1341 issue #1340

[2020-04-21 07:36] AnkanDas97 commented on #1359
Please resolve the issue and keep the Spreadsheet running. My entire analysis works are based on the site's database. Please update the spreadsheet or else all my work will be lost.

[2020-04-21 08:05] aamir200 commented on #1359
Same here I have already raise this issue before but haven't get any reply yet. Don't forzen the database.

My entire analysis works are based on the site's database. Please update the spreadsheet or else all my work will be lost

[2020-04-21 08:47] AnkanDas97 commented on #1359
You people did a great job sharing us your shreadsheets....please dont freeze it right now .... Please update it by 23:59 tonight. All our hard work will go in vain if its not updated before 00:00 today. We depend on you. Covid19tracker.

[2020-04-21 09:04] aamir200 commented on #1359
please dont freeze the shreadsheets

[2020-04-21 09:21] nishcthulhu commented on #1060
On it

[2020-04-21 09:51] gyanendrapatro commented on #1345
you can assing this to me i can fix it with extra information showing the current status as well
and also planning to change the color to green which ever state has recovered fully

[2020-04-21 09:59] nayakrahul opened #1365 "A daily timeseries chart in deep dive for recovered vs deceased"
It will give insights representing hope. It will show if recovery rate is faster than decreased rate or not.

[2020-04-21 10:48] lakshmi14 commented on #1192
Sure will take it forward

[2020-04-21 12:13] aamir200 commented on #1359
Any update

[2020-04-21 12:16] Abhinav-Mani opened #1367 "States cases distribution in Deep Dive"
**Is your feature request related to a problem? Please describe.**
There is no charts for visualization for distribution of share of corona case in different states.

**Describe the solution you'd like**
A cases distribution pie graph should be added in deep drive

**Additional context**
This could made similar to worldometers' Countries cases distribution
![CountyWise](https://user-images.githubu

[2020-04-21 12:17] #906 closed, assigned to nobody

[2020-04-21 12:17] Abhinav-Mani commented on #1367
You can assign it to me if you feel it to be relevant.

[2020-04-21 12:22] Abhinav-Mani commented on #1365
Do you mean something like the worldometers' "Outcome of Cases (Recovery or Death)" graph. I too feel it can be insightfull
![outcometimeseries](https://user-images.githubusercontent.com/47060625/79865476-d8c2e200-83f8-11ea-9989-ea565e1d82f9.PNG)

[2020-04-21 12:41] himanshu8426 opened #1368 "Rajasthan state source link is not working"
**Describe the bug**
link stated source is not working.

**To Reproduce**
1. go to page: https://www.covid19india.org/state/RJ
2. click on link source on the page.

bug can be reproducible on all devices.

[2020-04-21 13:42] sizanvenk commented on #1239
Hi Jeremy, can you please let me what programming languages you use for APIs and for the charts?

Sorry to use this thread for this question?

[2020-04-21 13:56] sanjanind opened #1370 "Can I get the write access else Could you please Update below code for Dynamic Y axis."
Right y-axis is the same for all graphs, as active cases increasing the other graphs are not visible.

After the code change.

![image](https://user-images.githubusercontent.com/18461433/79874322-d1ee9c00-8405-11ea-84a0-961ff74ca283.png)

[code]

[2020-04-21 14:02] shuklaayush commented on #1370
Why not use the switch to toggle Uniform scaling off?

[2020-04-21 14:06] #1370 closed, assigned to nobody

[2020-04-21 14:07] aamir200 commented on #1359
Can you please provide he update.

[2020-04-21 14:18] ghost commented on #1159
@saifeesl I look into above enhancement request but I found there response is like

![image](https://user-images.githubusercontent.com/13964313/79876689-fbf58d80-8408-11ea-8b98-32e71388c3c7.png)

to fix this I need update status in a proper data object

[2020-04-21 14:33] shubhamjain2998 commented on #1159
@kalesourabh01, try to use regular expressions to match and replace the response string and manipulate it respectively with the HTML elements.

[2020-04-21 14:36] ghost commented on #1159
@shubhamjain2998  yep bro doing that

[2020-04-21 14:37] Ravindersingh1526 opened #1371 "World corna list"
If possible we want the following feature
- Show  world corna total active cases
I would like to contribute for this feature.

[2020-04-21 14:48] meetsitaram commented on #1275
I am trying to the same. Nice work. Can you share any link from where you got the historic data?

[2020-04-21 14:51] meetsitaram commented on #1275
Is there a way to download historic data of cases in csv format? I tried opening http://patientdb.covid19india.org, but that only returns a webpage.

[2020-04-21 16:15] soubh1k commented on #1223
Can any maintainer please assign this issue? The above screenshot looks much better.

[2020-04-21 17:31] gyanendrapatro commented on #1345
![IMG_20200421_225646](https://user-images.githubusercontent.com/13833855/79895026-e346a100-8423-11ea-8d08-05cb0f1647a2.jpg)
![IMG_20200421_225659](https://user-images.githubusercontent.com/13833855/79895043-e9d51880-8423-11ea-9fae-a60ed03b850a.jpg)

Here is the fix which has better explanation and even i was planning to change the color of states to green if they have 0 active.
do let me know if

[2020-04-21 17:50] gyanendrapatro commented on #1345
![image](https://user-images.githubusercontent.com/13833855/79896957-a6c87480-8426-11ea-9408-1469792a8bef.png)
also indicating states with green which has 0 active cases

[2020-04-21 17:55] ryan-rozario opened #1372 "Navigation between state pages"
**Is your feature request related to a problem? Please describe.**
Navigation from one state page to a different state page without going back to the home page.

**Describe the solution you'd like**
A drop down breadcrumb solution that lists links to all the other states would work well with the current design.

**Describe alternatives you've considered**
A separate dropdown list would occupy too

[2020-04-21 18:02] sethu24 opened #1373 "Hi , plese keep the data uptudate(csv -the data is frozen on 19.04.2020)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-21 18:03] #1373 closed, assigned to nobody

[2020-04-21 18:07] saberprashant opened #1374 "Deep dive graph for State-wise No. of Tests"
**Is your feature request related to a problem? Please describe.**
No. of tests plays an important role in understanding the spread, so for a deep dive, there should be one Statewise graph showing no. of tests done.

**Describe the solution you'd like**
A graph which will show no. of states just like we have for "States - Total Cases" in Deep dive in a bar graph format showing the no. of tests don

[2020-04-21 18:07] saberprashant commented on #1374
@jeremyphilemon @JunaidBabu
I can work on this one if you assign it to me.

[2020-04-21 18:09] yashshah1 opened #1375 "Graph display error"
**Describe the bug**
The baseline of the graph doesn't coincide with the x-axis

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the graph section, select all states
2. Set graph settings to be Uniform, daily and time interval to be from the beginning

**Expected behavior**
The  0 of the y-axis should be on the x-axis

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-04-21 18:20] championballer opened #1376 "Graphs should reset to pan India stats if anywhere on page, except on state slab in the table."
**Is your feature request related to a problem? Please describe.**
When we hover out of the table, the graphs still represent the last state we hovered over. Doesn't seem natural to me.

**Describe the solution you'd like**
I personally would prefer that it reset to pan India stats when we are not hovering over any particular state slab.

[2020-04-21 18:43] saberprashant opened #1378 "Clicking on "COVID19INDIA" title in header doesn't close "Menu Panel""
**Describe the bug**
This isn't a bug in general but a UX improvement. When we click Menu panel and navigate to some other page like "Deep Dive" then on that page if we again click menu panel(it opens) but we navigate to "Home" page using "COVID19INDIA" title (in middle of the header), then the menu panel doesn't close automatically. Due to this, user won't be able to see the Home content.

**To R

[2020-04-21 18:44] saberprashant commented on #1378
@jeremyphilemon @JunaidBabu
I would like to work on this one.

[2020-04-21 18:47] priya90rw8l opened #1379 "Display of district wise active cases"
**Is your feature request related to a problem? Please describe.**

Currently we see district level confirmed cases. It will be good to show active cases at district level for more awareness of the current situation.

**Describe the solution you'd like**
For active cases, a filter needs to be put at district level.

**Describe alternatives you've considered**
Adding a column next to the cases will

[2020-04-21 19:14] bee-rickey commented on #1354
Telangana doesn't provide this info. When the state govt provides, we will provide.

[2020-04-21 19:14] #1354 closed, assigned to nobody

[2020-04-21 19:18] bee-rickey commented on #1345
This has to be discussed. Current hover is for total positives the state contributes across the nation. If we are moving towards providing active cases, in that case the behavior has to change across all the states. Closing this bug as of now. If you want a map for active cases, please raise an enhancement for that. We can have the behavior discussions there.

[2020-04-21 19:18] #1345 closed, assigned to nobody

[2020-04-21 19:19] bee-rickey commented on #1339
@bootleg-icarus what description will you provide? And where?

[2020-04-21 19:37] Binu42 commented on #1378
hi, @saberprashant , @jeremyphilemon, @JunaidBabu  i've already fixed this issue in #1184

[2020-04-21 19:41] bee-rickey commented on #1359
@aamir200 How were you using the sheet? What was your methodology?

[2020-04-21 19:47] aamir200 commented on #1359
I am using following below url as a web API
https://docs.google.com/spreadsheets/d/e/2PACX-1vSz8Qs1gE_IYpzlkFkCXGcL_BqR8hZieWVi-rphN1gfrO3H4lDtVZs4kd0C3P8Y9lhsT1rhoB-Q_cP4/pubhtml#

[2020-04-21 20:05] Goutham88 opened #1380 "Can't see the complete info"
![Screenshot_2020-04-22-01-34-47-545_com android chrome](https://user-images.githubusercontent.com/13810239/79908846-9968b580-8439-11ea-86ff-3f8e5d9e993e.jpg)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise d

[2020-04-21 20:07] Goutham88 opened #1381 "Active colour is in red and deceased in other colour"
![Screenshot_2020-04-22-01-36-48-767_com android chrome](https://user-images.githubusercontent.com/13810239/79909000-e056ab00-8439-11ea-84f4-a1813d044c93.jpg)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise d

[2020-04-21 20:08] Goutham88 commented on #1381
I have already made the fix
https://github.com/covid19india/covid19india-react/pull/1305#event-3249204844
I can raise the pr again

[2020-04-21 20:24] aamir200 commented on #1359
please let me know and also this link https://api.covid19india.org/csv/latest/state_wise.csv
data is not updated regularly

[2020-04-21 20:30] saberprashant commented on #1378
Awesome @Binu42 .
Closing this issue then

[2020-04-21 20:30] #1378 closed, assigned to nobody

[2020-04-21 20:45] nayakrahul commented on #1375
It is because there is -1 as value of y in daily active cases on February 13.
![Screenshot (31)](https://user-images.githubusercontent.com/11428805/79912103-22362000-843f-11ea-915b-288edae73fba.png)

[2020-04-21 20:52] bee-rickey commented on #1381
Please raise issues before hand. Don't raise a PR and then raise an issue. It becomes difficult for us to track.

[2020-04-21 21:13] nayakrahul commented on #1380
I can fix this. @shuklaayush @jeremyphilemon

[2020-04-21 21:15] jeremyphilemon commented on #1380
@nayakrahul sure, go ahead :)

[2020-04-21 21:20] yashshah1 commented on #1375
Okay, it makes sense then! I'll go ahead and close the issue

[2020-04-21 21:20] #1375 closed, assigned to nobody

[2020-04-21 22:22] #743 closed, assigned to vandanachandola, gigatesseract

[2020-04-21 22:26] jeremyphilemon commented on #415
Patched by #1364

[2020-04-21 22:26] #415 closed, assigned to nobody

[2020-04-21 22:27] jeremyphilemon commented on #861
Patched by #1364

[2020-04-21 22:27] #861 closed, assigned to nobody

[2020-04-21 22:27] jeremyphilemon commented on #717
Patched by #1364

[2020-04-21 22:27] #717 closed, assigned to nobody