[2020-04-21 22:32] #300 closed, assigned to chinmaydalvi

[2020-04-21 22:36] passion8 opened #1382 "UI feedback"
Thank you guys for all your contribution. I tried hard not to criticize  but if i keep my mouth shut you guys will never understand what normal users are going though.

Earlier website was good but as you guys keep updating and integrating  many features, the website is now cluttered and he is hell confusing.

[2020-04-21 22:38] jeremyphilemon commented on #1311
Patched in #1364

[2020-04-21 22:38] #1311 closed, assigned to nobody

[2020-04-21 22:47] #1113 closed, assigned to nobody

[2020-04-21 22:53] jeremyphilemon commented on #1368
Patched, thanks!

[2020-04-21 22:53] #1368 closed, assigned to nobody

[2020-04-21 22:54] jeremyphilemon commented on #888
Closing cause duplicate of #675

[2020-04-21 22:54] #888 closed, assigned to nobody

[2020-04-21 22:55] jeremyphilemon commented on #1063
This seems to have been patched, thanks for raising the issue!

[2020-04-21 22:55] #1063 closed, assigned to nobody

[2020-04-21 22:56] jeremyphilemon commented on #1071
Closing cause duplicate of #596 (also relevant with discussions)

[2020-04-21 22:56] #1071 closed, assigned to nobody

[2020-04-21 22:56] jeremyphilemon commented on #1093
Closing cause duplicate of #675

[2020-04-21 22:56] #1093 closed, assigned to sudevschiz, bee-rickey

[2020-04-21 22:58] jeremyphilemon commented on #596
- @sudevschiz

Putting this here for reference. Also cc @sudevschiz, checkout the recent comments.

[2020-04-21 22:58] jeremyphilemon commented on #1124
Closing in favor of #675

[2020-04-21 22:58] #1124 closed, assigned to nobody

[2020-04-21 23:02] jeremyphilemon commented on #1280
Please report data discrepancies using this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-21 23:02] #1280 closed, assigned to nobody

[2020-04-21 23:02] jeremyphilemon commented on #1158
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-21 23:02] #1158 closed, assigned to nobody

[2020-04-21 23:03] jeremyphilemon commented on #1287
cc @bee-rickey

[2020-04-21 23:05] #1321 closed, assigned to nobody

[2020-04-21 23:07] jeremyphilemon commented on #1379
Duplicate of #675, please refer to the discussions of said issue

[2020-04-21 23:07] #1379 closed, assigned to nobody

[2020-04-21 23:09] jeremyphilemon commented on #1371
Hey, thanks for raising a feature request, however, we'd like to limit the scope of this repository to only display the statistics relevant to India as of now :)

[2020-04-21 23:09] #1371 closed, assigned to nobody

[2020-04-21 23:10] jeremyphilemon commented on #1357
Thanks for raising the PR, however, this sounds a little out of scope and not aligned towards the motivation behind this project at the moment.

[2020-04-21 23:10] #1357 closed, assigned to nobody

[2020-04-21 23:20] shubhamjain2998 commented on #1372
I would like to work on this.

[2020-04-22 00:01] #1326 closed, assigned to nobody

[2020-04-22 00:37] kumarun91 opened #1384 "Can we include 'Recovered' count column for each of the districts in every state?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-22 00:38] #1347 closed, assigned to nobody

[2020-04-22 00:39] jeremyphilemon commented on #1384
Thanks for raising the issue!

However, this issue was already raised, please find the discussion regarding this over at #675

[2020-04-22 00:39] #1384 closed, assigned to nobody

[2020-04-22 00:56] trilloc commented on #825
Thank you very much team. Fantastic effort!👍🙏

[2020-04-22 02:03] dpnkrpl opened #1385 "Worse essential page on dark mode"
Essential page contents are barely visible on dark mode.
![Screenshot_2020-04-22-07-29-07-281_com android chrome](https://user-images.githubusercontent.com/27947066/79932624-9090d780-846b-11ea-817d-b282cc1d10fc.jpg)

[2020-04-22 02:21] gyanendrapatro commented on #1385
I can fix it assign it to me

[2020-04-22 02:51] Binu42 opened #1386 "Navbar Issues which still exist"
New look is superb, but i still found few issues in UI. i've fixed essential page issue of alignment in mobile and desktop in PR #1341 and Navbar issues i'm mentioning below and i'll like to fix it as well.
**Describe the bug**
* when sidenavbar opens, pages get shifted toward right (Desktop)
* icons are not clickable which means user have to first hover over it and then go to sidenav links to cha

[2020-04-22 02:51] Binu42 commented on #1386
@jeremyphilemon assign it to me i would like to fix it.

[2020-04-22 03:01] arvindverma1992 opened #1387 "Add mortality rate"

[2020-04-22 03:03] gyanendrapatro commented on #1372
i can work o n this

[2020-04-22 03:13] gyanendrapatro opened #1388 "Map showing percentage for active and deceased as well like confirmed"
**Is your feature request related to a problem? Please describe.**
right now on the map when we hover we are seeing percentage of each state confirmed case
![IMG_20200422_083546](https://user-images.githubusercontent.com/13833855/79936364-ddc57700-8474-11ea-93e2-55f7229e24d8.jpg)
so we are not able to see current active and deceased percentage as the overall percentage info is very helpful.
**Desc

[2020-04-22 03:15] SensehacK commented on #1385
I'm also working on it 👍

[2020-04-22 03:15] gyanendrapatro commented on #1388
one thing would be users would be clear what percentage is this like confirmed or active , second they can see category wise things like confirmed active and third they can see green states will recovered rate as well so it would give overall info on map itself.
if you feel this is useful do assign it to me i can fix it

[2020-04-22 03:24] gyanendrapatro commented on #1388
@bee-rickey could you please check this and let me know

[2020-04-22 04:17] jeemitsha opened #1389 "Graph"
Pls don't pre-define the height of graphs, because it is unable to analyse anything in decreased graph

[2020-04-22 05:33] Thedijje commented on #1382
I would suggest simplicity over the feature.
For example,
1. Keeping one simple map on Home page and dedicated map page for all play around.
2. Same goes with the graph, Keep 1 simple graph on the home page and a dedicated section with many controls and fields for graph nerd.
3. We can have statewide pages as well to give a better and cleaner interface.

[2020-04-22 06:06] #1387 closed, assigned to nobody

[2020-04-22 06:06] shuklaayush commented on #1389
Which graph?

[2020-04-22 06:08] upx86 opened #1391 "District wise filter in 'Spread Trends'"
Currently there is State level data for 'Spread Trends', we can have additional filter for district to render trends for detailed numbers.

like:

![image](https://user-images.githubusercontent.com/42634202/79946298-4f112400-848d-11ea-832c-5a487fc857ec.png)

[2020-04-22 06:21] Abhinav-Mani commented on #1372
I would like to work on this.

[2020-04-22 06:54] sudokoi opened #1393 "Navbar issue in when switching screen sizes"
**Describe the bug**
* If the browser size is changed, the navbar icons are displayed on the top right corner, instead of `Menu`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'the homepage' in a desktop in maximized window.
2. Change window size to be small
3. The navbar-icons are displayed in the top right corner instead of `menu` label.
4. Clicking on icons brings up the menu with

[2020-04-22 06:57] jeemitsha commented on #1389
  You see in Deceased Graph nothing is clear as the it looks as a straight line because the y axis is too long already. Sent from Mail for Windows 10 From: Ayush ShuklaSent: Wednesday, April 22, 2020 11:36 AMTo: covid19india/covid19india-reactCc: jeemitsha; AuthorSubject: Re: [covid19india/covid19india-react] Graph (#1389) Which graph?—You are receiving this because you authored the thread.Reply t

[2020-04-22 07:03] sajus opened #1394 "Needs to show covid19 zone (green/orange/red) per state."
**Describe the solution you'd like**
State wise maps under ('state/:stateCode') needs to show covid19 zone, such as green zone, orange zone, red zone. Currently its just showing confirmed case.  As per my requirements it should show, confirm cases , active cases and zone.

**Additional context**

<img width="430" alt="Screen Shot 2020-04-22 at 12 32 14 PM" src="https://user-images.githubuserconten

[2020-04-22 07:14] Zindra commented on #861
Thank you everyone

[2020-04-22 07:27] vikkyomkar commented on #874
@akshat112 you can take it

[2020-04-22 07:32] Zindra commented on #1386
![image](https://user-images.githubusercontent.com/30254595/79953285-3a3a8d80-8499-11ea-8d33-7d6cf1b3a91e.png)

animation on mouse_hover is not working porperly when we moving mouse from left to right. Need to start the animation when a particular icon is hovered by the user.

[2020-04-22 07:46] Zindra opened #1397 "Let's make the icons clickable in the left navbar"
Let's make the icons clickable in the left Navbar

**Describe the solution you'd like**
Right now we have to click on after hovering over the icons and then on the text.
Idea is to make that icon itself clickable.

Screenshot:
![image](https://user-images.githubusercontent.com/30254595/79954389-e16bf480-849a-11ea-9b01-b914ea94a5f9.png)

[2020-04-22 09:46] animesh-tarodia-sp commented on #1397
I was about to raise this issue. Glad u did :)

[2020-04-22 09:49] animesh-tarodia-sp commented on #1397
And please add some graphics for deep dive icon too.

[2020-04-22 10:15] ssadev commented on #1121
Check #133

[2020-04-22 10:23] srikoushik commented on #771
@userhasnoname0 Are those the reproducing steps? Is this specific to data?

[2020-04-22 10:34] srikoushik commented on #781
@sudevschiz Can you assign this to me? I can take this.

[2020-04-22 10:51] praveentiru commented on #1084
Can someone from project kind of map-out how this can be executed? While my knowledge of statistics is poor, I am very good at figuring out languages and getting things to run. I can work on updating the R pipeline shared by @seabbs to work with India data that is available in deep-dive repo. Or, I can do the same with Jupyter notebook from rt.live website.

Can someone volunteer in building UI fo

[2020-04-22 10:57] chatRG commented on #1389
Agreed. Given these are exponential graphs and deceased rate is not increasing as quickly (thankfully), it makes more sense to toggle the Uniform scale **OFF**.

[2020-04-22 11:06] chatRG opened #1400 "Dark mode UI issues"
**Describe the bug**
Texts are almost unreadable in dark mode.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to demographics page
2. See error

**Expected behavior**
A clear and contrast view of text as some user may be color blind and even for normal user it is very hard to read that grey text and the blue text over blue background.

**Screenshots**
You can see the contrast ratio scor

[2020-04-22 11:15] saurabhsharma1976 commented on #1084
I can join hands as have reasonable experience on stats and hypothesis testing. Nube on coding and UI. Happy to speak to coordinate better. My no. is 9819003260 and can coordinate over watsapp to speak.

Rgds
Saurabh

________________________________
From: Praveen T <notifications@github.com>
Sent: Wednesday, April 22, 2020 4:21:50 PM
To: covid19india/covid19india-react <covid19india-react@noreply

[2020-04-22 12:01] jeremyphilemon commented on #1253
Quick mockup for reference:

<img width="670" alt="Screen Shot 2020-04-22 at 3 00 07 PM" src="https://user-images.githubusercontent.com/17938322/79979319-00be4e00-84aa-11ea-98a6-7e514b3ac765.png">

[2020-04-22 12:11] gyanendrapatro commented on #1388
@jeremyphilemon could you please see this one, would this be helpful.

[2020-04-22 12:15] Goutham88 commented on #1381
Sure @bee-rickey. Will follow from next time

https://github.com/covid19india/covid19india-react/pull/1401
raised the pr again.

[2020-04-22 12:33] animesh-tarodia-sp opened #1402 "State pages should have no. of district affected."
**Is your feature request related to a problem? Please describe.**
When we open district pages it does not have count of total district and no. of districts affected.

**Describe the solution you'd like**
Just below the map of state we can have something like 20/50 districts affected so that we can get idea of districts with 0 cases.

[2020-04-22 12:58] strikertanmay commented on #967
@jeremyphilemon Please assign me this one

[2020-04-22 13:10] praveentiru commented on #1084
ok. I will start model from @seabbs. I will let you know if you I run into any issues that I encounter.

[2020-04-22 13:18] bootleg-icarus commented on #1339
@bee-rickey The description would be visible on hover over the switches ( with a delay of say 300ms )
### uniform
- ( if it's **off** ) Turn on to make Y-axes in all graphs match the same range
(Additional info  - this might make the graphs with comparatively smaller numbers seem flatter )
- ( while it's **on** ) Turn off to make Y-axes adjust to their own highest ranges
(Additional info  - this m

[2020-04-22 13:22] xBones397 opened #1404 "Search Field in Home Screen is not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-22 13:22] soham4abc opened #1405 "Percentage of +ve results of tests"
*The percentage of +ve test results should be displayed statewise.
**The percentage will help the people to asses the severity of the covid19 in their respective states and can be a real eye opener!

[2020-04-22 13:39] gauravbgp commented on #1084
As mentioned, I had already done the modelling as per rt.live's model. And the results did have features which make qualitative sense. It's not needed to wait for a lot more data, though the model will remain sensitive to testing ramp ups even in future. I'm not an expert but I don't think it is a bad model to start with. We can incorporate changes and corrections suggested by experts, later subje

[2020-04-22 13:47] animesh-tarodia-sp commented on #1404
Can you please describe the issue?

[2020-04-22 14:11] lakshmi14 commented on #1192
![Covid Enhancement](https://user-images.githubusercontent.com/7721961/79992553-42aeba80-84d1-11ea-824f-e52d07a930bd.gif)

Please check if it is fine ? Need any corrections ?

[2020-04-22 14:15] meetsitaram commented on #1275
I was able to extract the district level data from there, cleaned and uploaded it at https://github.com/meetsitaram/covid-19/blob/master/covid19_india_04_19_2020.csv . See if you can get the notebook work with this. I had trouble running the notebook as the data is much less compared to U.S. data having cumulative and much larger counts.

[2020-04-22 14:30] gauravbgp commented on #1275
As mentioned in #1084 , kindly check out charts at [covid19rt.in](http://covid19rt.in/)

[2020-04-22 14:55] keshank opened #1408 "District Name Mismatch between Table and Map for Dahod, Gujarat"
**Describe the bug**
Mismatch of spell for District Dahod  in Gujarat between table and map ( District no being Highlighted )

**To Reproduce**

1. Open Table of Gujarat
2. Look for Dahod District
3. Click on Gujarat Map
4. Click on Dahod district on Map ( No. of cases shown is 0 and map is not been highlighted even though the district has reported cases as per table)

**Expected behavior**

1. Di

[2020-04-22 15:51] Nikhiljoseph31 commented on #1192
Yes this is good, put it in both country and state sites.

On Wed, 22 Apr 2020, 19:42 lakshmi14, <notifications@github.com> wrote:

[2020-04-22 15:54] lakshmi14 commented on #1192
Sorry I didnt get you?
Country and state sites meaning ?

[2020-04-22 16:01] keshank opened #1409 "Graph showing number of total beds available for patient (Total Health care system capacity)"
**Is your feature request related to a problem? Please describe.**

Adding a line to the states active case graph at the number of beds available.

**Describe the solution you'd like**

It will be useful to see the number of beds available in every state on the active cases graph helping us understand how many beds are empty and how much have we occupied.

It will also show how well we are flatten

[2020-04-22 16:01] #1397 closed, assigned to nobody

[2020-04-22 16:05] Zindra commented on #1397
Thank you everyone. cheers.

[2020-04-22 16:06] Nikhiljoseph31 commented on #1192
https://www.covid19india.org/

And
https://www.covid19india.org/state/MH (for example)

On Wed, 22 Apr 2020, 21:25 lakshmi14, <notifications@github.com> wrote:

[2020-04-22 16:24] asrinivas61 opened #1411 "Darkmode button toggling is not working"
**Describe the bug**
Darkmode toggle button should work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Open browser in desktop
2. And find the darkmode toggle icon at the left down corner
3. For every click on that icon should toggle the mode.

**Expected behavior**
Toggle actions should work perfectly between dark and light modes.

**Screenshots**
![image](https://user-images.

[2020-04-22 16:29] jeremyphilemon commented on #1411
Patched.

[2020-04-22 16:29] #1411 closed, assigned to nobody

[2020-04-22 16:33] #1385 closed, assigned to nobody

[2020-04-22 16:43] ghost opened #1412 "Key metrics needed"
Need the following metrics.

total infected (confirmed) / total population
total recovered / total infected (confirmed)
total active / total recovered

[2020-04-22 17:15] dpnkrpl commented on #1385
Still have problems .
@SensehacK You didn't fix the position of feedback and add button for mobile devices.
If possible change the colour of these two buttons too . Blue over black is not eye catching.

![Screenshot_2020-04-22-22-39-20-644_com android chrome](https://user-images.githubusercontent.com/27947066/80011960-33883680-84ea-11ea-9aab-bb296b51025c.jpg)

[2020-04-22 17:31] #789 closed, assigned to nobody

[2020-04-22 17:33] #1130 closed, assigned to nobody

[2020-04-22 17:33] #1088 closed, assigned to nobody

[2020-04-22 17:33] shuklaayush commented on #1088
Closed due to inactivity

[2020-04-22 17:33] shuklaayush commented on #937
Seems to be fixed

[2020-04-22 17:33] #937 closed, assigned to nobody

[2020-04-22 17:34] #785 closed, assigned to nobody

[2020-04-22 17:35] shuklaayush commented on #384
Closed due to inactivity

[2020-04-22 17:35] #384 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-22 17:36] #413 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-22 17:36] shuklaayush commented on #480
Closed due to inactivity

[2020-04-22 17:36] #480 closed, assigned to nobody

[2020-04-22 17:38] shuklaayush commented on #484
Closed due to inactivity

[2020-04-22 17:38] #484 closed, assigned to nobody

[2020-04-22 17:39] shuklaayush commented on #538
Closed due to inactivity

[2020-04-22 17:39] #538 closed, assigned to nobody

[2020-04-22 17:41] shuklaayush commented on #558
Sources have been added in the state pages. Closing

[2020-04-22 17:41] #558 closed, assigned to nobody

[2020-04-22 17:42] shuklaayush commented on #574
Districts are now highlighted by default. Closing

[2020-04-22 17:42] #574 closed, assigned to shuklaayush

[2020-04-22 17:43] shuklaayush commented on #592
Closed due to inactivity

[2020-04-22 17:43] #592 closed, assigned to lavjoshi

[2020-04-22 17:44] Binu42 opened #1413 "navbar is not closed on click of covid19India in top of navbar"
**Describe the bug**
* navbar is not closed on click of covid19india. it can be tolerable in desktop but not for mobile view.

**To Reproduce**
go to https://www.covid19india.org/deepdive hover over icon then click on covid19india. you will see that navbar expand remain open.

**Expected behavior**
it should close expand.

**Screenshots**
![navissue](https://user-images.githubusercontent.com/45959

[2020-04-22 17:47] shuklaayush commented on #681
Closing due to inactivity.

[2020-04-22 17:47] #681 closed, assigned to nobody

[2020-04-22 17:48] keshank commented on #1040
@bootleg-icarus
Details for containment zone in
Mumbai:-
https://www.businessinsider.in/india/news/checkout-the-name-of-coronavirus-containment-zones-in-mumbai/articleshow/75045928.cms

http://stopcoronavirus.mcgm.gov.in/pdf-doc-view.jsp

[2020-04-22 17:48] shuklaayush commented on #708
Active cases graph has been added to the home page. Closing

[2020-04-22 17:48] #708 closed, assigned to nobody

[2020-04-22 17:49] shuklaayush commented on #727
Duplicates #511

[2020-04-22 17:49] #727 closed, assigned to nobody

[2020-04-22 17:50] shuklaayush commented on #739
Seems to be have been addressed in Deep Dive

[2020-04-22 17:50] #739 closed, assigned to nobody

[2020-04-22 17:51] shuklaayush commented on #757
Closing due to inactivity.

[2020-04-22 17:51] #757 closed, assigned to nobody

[2020-04-22 17:52] shuklaayush commented on #766
Closing due to inactivity. Refer to #781 for more discussion on this

[2020-04-22 17:52] #766 closed, assigned to nobody

[2020-04-22 17:53] shuklaayush commented on #772
Closing due to inactivity.

[2020-04-22 17:53] #772 closed, assigned to jeremyphilemon

[2020-04-22 17:56] shuklaayush commented on #837
Closed due to inactivity.

[2020-04-22 17:56] #837 closed, assigned to nobody

[2020-04-22 17:58] shuklaayush commented on #845
Refer to https://github.com/covid19india/covid19india-react/issues/662#issuecomment-609377552

[2020-04-22 17:58] #845 closed, assigned to nobody

[2020-04-22 17:59] shuklaayush commented on #886
Refer to #781

[2020-04-22 17:59] #886 closed, assigned to JunaidBabu

[2020-04-22 18:01] shuklaayush commented on #874
Closing due to inactivity

[2020-04-22 18:01] #874 closed, assigned to vikkyomkar

[2020-04-22 18:02] shuklaayush commented on #927
Closing due to inactivity

[2020-04-22 18:02] #927 closed, assigned to jeremyphilemon

[2020-04-22 18:04] shuklaayush commented on #965
Closing due to inactivity.

[2020-04-22 18:04] #965 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-22 18:05] shuklaayush commented on #980
Closing due to inactivity.

[2020-04-22 18:05] #980 closed, assigned to nobody

[2020-04-22 18:08] shuklaayush commented on #1017
Instead of resetting to India count on mouse exit, we've added an option to reset on clicking outside the map.

[2020-04-22 18:08] #1017 closed, assigned to nobody

[2020-04-22 18:09] shuklaayush commented on #1027
Closing due to inactivity.

[2020-04-22 18:09] #1027 closed, assigned to nobody

[2020-04-22 18:09] #1413 closed, assigned to nobody

[2020-04-22 18:10] shuklaayush commented on #1062
Closing due to inactivity.

[2020-04-22 18:10] #1062 closed, assigned to nobody

[2020-04-22 18:12] shuklaayush commented on #1065
Seems to be fixed by the anchors

[2020-04-22 18:12] #1065 closed, assigned to nobody

[2020-04-22 18:13] shuklaayush commented on #1100
Is this still happening? Might be because of the date checks in the utility functions

[2020-04-22 18:13] SensehacK opened #1415 "Button Crowdsourced Patient Database link dead."
**Describe the bug**
Crowdsourced Patient Database button on every page doesn't work. It returns PR_END_OF_FILE_ERROR

**To Reproduce**
Steps to reproduce the behavior:
Button opens this link
Open this link : https://patientdb.covid19india.org/
This link returns error "Secure Connection Failed"

1. Go to home
2. Scroll down to bottom footer
3. Click on Crowdsourced Patient Database
4. See error

*

[2020-04-22 18:14] shuklaayush commented on #1108
Can you make a PR?
Also, I'm closing this. Continue the discussion in #854

[2020-04-22 18:14] #1108 closed, assigned to nobody

[2020-04-22 18:14] shuklaayush commented on #1118
Closing due to inactivity.

[2020-04-22 18:14] #1118 closed, assigned to nobody

[2020-04-22 18:15] nitishk72 opened #1416 "UI/UX bug"
SideNav(Desktop)/TopNav(Mobile) Color is darker than the background in light mode which is good. When I switch to dark mode complete page color get chaged to one color but the SideNav(Desktop)/TopNav(Mobile) color should be little dark.

**To Reproduce**
Change to Dark mode and you will see the changes

**Expected behavior**
When I switch to dark mode complete page color get chaged to one color bu

[2020-04-22 18:16] shuklaayush commented on #1185
Closing due to inactivity.

[2020-04-22 18:16] #1185 closed, assigned to nobody

[2020-04-22 18:16] SensehacK commented on #1385
@deep5050 We can have a color palette decided for dark mode in a new feature request!

I'll create the request.

It would add more consistency with the overall website.

[2020-04-22 18:17] shuklaayush commented on #1186
Closing due to inactivity.

[2020-04-22 18:17] #1186 closed, assigned to nobody

[2020-04-22 18:18] shuklaayush commented on #1191
Duplicates #781

[2020-04-22 18:18] #1191 closed, assigned to nobody

[2020-04-22 18:22] SensehacK opened #1417 "Consistent Dark Mode Scheme"
**Is your feature request related to a problem? Please describe.**
I love dark mode everything,
**Describe the solution you'd like**
Would like to propose a consistent dark mode color scheme / palette across the whole web app.
So that some pages would look consistent with the overall color schemes.

Relevant Issues:
#1385
#1416
#1400

**Describe alternatives you've considered**
Dark Reader extensi

[2020-04-22 18:22] #349 closed, assigned to JunaidBabu, sudevschiz

[2020-04-22 18:26] shuklaayush commented on #1241
Hi, you should be able to select those districts from the table. Closing this for now, reopen if you have any other solution

[2020-04-22 18:26] #1241 closed, assigned to nobody

[2020-04-22 18:27] shuklaayush commented on #1252
Closing due to inactivity

[2020-04-22 18:27] #1252 closed, assigned to nobody

[2020-04-22 18:32] shuklaayush commented on #1316
Closing this for now. Reopen if you're still facing the issue

[2020-04-22 18:32] #1316 closed, assigned to nobody

[2020-04-22 18:33] shuklaayush commented on #1334
Seems to be fixed

[2020-04-22 18:33] #1334 closed, assigned to nobody

[2020-04-22 18:34] shuklaayush commented on #1338
No point in creating a separate issue for this. Looking forward to your PR

[2020-04-22 18:34] #1338 closed, assigned to jeremyphilemon

[2020-04-22 18:35] shuklaayush commented on #1355
Duplicates #781

[2020-04-22 18:35] #1355 closed, assigned to nobody

[2020-04-22 18:38] #1056 closed, assigned to s-naveen, jeremyphilemon

[2020-04-22 18:38] shuklaayush commented on #1376
Thanks, but this is really subjective. I think resetting by clicking anywhere outside the map provides a good middle ground. Closing

[2020-04-22 18:38] #1376 closed, assigned to nobody

[2020-04-22 18:39] shuklaayush commented on #1382
@passion8 Can you elaborate?

[2020-04-22 18:41] shuklaayush commented on #1389
So, right now, the settings for Uniform Scaling are stored in local storage and therefore, preserved across sessions. I think this is a good middle ground. Hence, closing

[2020-04-22 18:41] #1389 closed, assigned to nobody

[2020-04-22 18:44] shuklaayush commented on #1322
Hey @Surya1231, seems like you have it figured out. Can you please comment on #758 and close this? It's easier for us to track

[2020-04-22 18:47] shuklaayush commented on #1333
Duplicates #1032

[2020-04-22 18:47] #1333 closed, assigned to nobody

[2020-04-22 18:51] Binu42 opened #1419 "typing inside search input is not visible in essential page in dark mode"
**Describe the bug**
typing inside search input is not visible because of dark color same as background color.

**To Reproduce**
go to https://www.covid19india.org/essentials, click search btn, start typing into search input make sure to be in dark mode.

**Expected behavior**
color should be visible inside input to see what user is typing.

**Screenshots**
![Screenshot from 2020-04-23 00-03-20](h

[2020-04-22 19:00] #1416 closed, assigned to nobody

[2020-04-22 19:10] #1419 closed, assigned to nobody

[2020-04-22 19:14] championballer commented on #1376
But even that does not happen, does it? Clicking anywhere on the page also doesn't reset the map. You have to go all the way in the drop box to select All states to get the pan India view.

[2020-04-22 19:18] shuklaayush commented on #1376
@championballer So it resets if you click anywhere outside the map, but still inside the SVG container. You're right that it should ideally reset by clicking anywhere outside the map on the whole webpage, but I couldn't figure out a way to do that.

[2020-04-22 19:21] TheDominus commented on #1314
"if scenario 1 and 2 are there then how we will put color its difficult to assign color if the patient travleed from outside and also passed the infection."
In this case, you  can assign a separate color may be a color which is a combination of 2 like orange = red  + yellow

[2020-04-22 19:22] TheDominus commented on #866
@kousiksatish, Are you working on this feature request?
@shuklaayush, Can you assign him, if he is interested like to get this feature in the website?

[2020-04-22 19:33] jeremyphilemon commented on #1376
@shuklaayush Found this while playing around with `react-use`, maybe you're looking for [this](https://github.com/streamich/react-use/blob/master/docs/useClickAway.md)?

[2020-04-22 19:51] kousiksatish commented on #866
@shuklaayush @TheDominus Will start working on this

[2020-04-22 20:11] Achal1607 opened #1421 "Inconsistent select state and gender drop down in dark mode UI"
Description:
The select state and gender drop down are not properly recognized as drop down buttons because of their color.

Steps to reproduce the behavior:

1. Go to 'Menu'
2. Click on 'Demographics'
3. See error

Expected Behavior:
Select state and gender should have white tab to properly recognize them as drop down menu.
Just like in light theme UI.

![Screenshot_2020-04-23-01-44-40-816_com an

[2020-04-22 20:12] Achal1607 commented on #1421
I can fix it if u assign me..

[2020-04-22 20:41] #1340 closed, assigned to nobody

[2020-04-22 20:50] Binu42 opened #1422 "Deep Dive card are not taking full space in mobile devices."
**Describe the bug**
deep dive charts are not taking full width in mobile devices and infact leaving white spaces in right.

**To Reproduce**
https://www.covid19india.org/deepdive and open it in mobile or mobile view.

**Expected behavior**
it should occupy full space to look cleaner.

**Screenshots**
![Screenshot from 2020-04-23 02-06-48](https://user-images.githubusercontent.com/45959932/8003227

[2020-04-22 20:57] ShubhamOnGrid commented on #1393
I would like to work on this
Already found the solution,
will create PR as soon as it's assigned

[2020-04-22 21:02] aniketnk commented on #1100
The bug seems to occur in the validateCTS function
https://github.com/covid19india/covid19india-react/blob/492bafe0dccfc8baeb4264040ad1f87422fd8fff/src/utils/commonfunctions.js#L39-L57
The variable `today` gets the device time and then the hours are set to 0. While returning the data, it is filtered with the condition `new Date(d.date + year) < today;` which will return false if the most recent da

[2020-04-22 21:12] abhilaksh opened #1425 "Two Important Metrics for Deep Dive: Case Fatality Rate and Case Recovery Rate"
**Is your feature request related to a problem? Please describe.**
The metrics we have presently are great to understand the spread of coronavirus but don't help us understand the stress that's being placed on the medical system.

**Describe the solution you'd like**
In deep dive, we can add two metrics in a day-wise, state-wise manner:
1) CaseFatality Rate (%)=(Number of deaths due to COVID−19/ N

[2020-04-22 21:32] shubhamjain2998 commented on #1425
Yup, that's a very nice suggestion, would like to work on this.

[2020-04-22 22:01] abhilaksh commented on #1425
@shuklaayush @jeremyphilemon please do prioritise this at your earliest convenience since it's an easy solution that will have a great impact on our understanding of the severity of the disease in different regions.

[2020-04-22 22:17] yoghesh opened #1427 "2 data are missing from the count details"
**2 data are missing from the report**
Patient id 4375 and 4933 are being excluded in all the reports. The reason is because it is missing state details in data source

**To cross verify**
New cases reported on 6th April - As per data is 485 and as per the report in website it is 484
New cases reported on 7th April - As per data is 573 and as per the report in website it is 572

**Screenshots**
![

[2020-04-22 22:36] abhishekakade opened #1428 "[Performance] Table renders unnecessary district info which is not visible on page load"
**Describe the bug**
- Table renders unnecessary district information which is not visible on page load or unless the user clicks on state name.
- This number of DOM elements rendered on initial page load is 4800 but it can be reduced to just ~1500 if districts are rendered on click as needed.
- Fixing this will help reduce rendering time and main thread work load.

**Expected behavior**
Only stat

[2020-04-22 23:24] shuklaayush commented on #1100
@aniketnk We can't remove the filter since we don't want to plot the data for today (in IST). You'll have to make the date check timezone independent. Also, the same modification has to be done in other API parsing functions.

[2020-04-23 00:53] #1422 closed, assigned to nobody

[2020-04-23 01:06] praveentiru commented on #1084
@gauravbgp Can we not get this integrated with covid19india website? Ideally in state page.

[2020-04-23 01:55] gyanendrapatro commented on #1402
You can assign it to me

[2020-04-23 02:25] manoj30075 opened #1430 "Remove icon disappears if a search value is not in the search results"
**Describe the bug**
When you enter a value in the search bar and if the value is not present in the search results the remove icon gets disappeared.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to home page
2. Click on the search bar
3. Start typing
4. If the value that typed is not in search results the remove icon gets disappeared.

**Expected behavior**
Remove icon in the search b

[2020-04-23 03:05] DrAKR commented on #1203
thanks for adding the graph of state wise  number of cases in last 7 days. but it would be more relevant if it is 14 days as it matches with the incubation period. if there is no case in last 14 days we can presume that there is no virus floating around. and another 2 weeks absence of cases will confirm

[2020-04-23 03:37] alpha-k911 commented on #727
Can you assign me for that feature...?

[2020-04-23 03:51] idris15 opened #1432 "Add reproduction number tracking for each state"
[https://rt.live/](url) tracks the evolution of reproduction number R<sub>t</sub> for each state in the US. The reproduction number is used as a very important epidemiological measure to track whether the containment measures are working or not.

The source code used to generate the necessary data (along with a very good explanation of the math behind the calculation) is provided at [https://githu

[2020-04-23 03:52] lakshmi14 commented on #1192
Sure thanks :)

[2020-04-23 04:39] #1156 closed, assigned to nobody

[2020-04-23 04:59] saurabhsharma1976 commented on #1084
And can we also put the district level pls in any format. I am from Mumbai and guess some detailed analysis will help this city!

[2020-04-23 05:06] chaha0s opened #1433 "Add a "Download reports as a PDF" button on homepage"
**Describe the solution you'd like**
We could add an option to download the current numbers of active,cured and dead cases from all states and districts as a timestamped PDF

[2020-04-23 05:14] vipulnewaskar7 commented on #966
Hi @kunalpgithub ,
We can use existing data.
say, we have day and cumulative confirmed cases,
Below snippet may help
[code]

[2020-04-23 05:16] vipulnewaskar7 commented on #966
**Note**
log to the base 2

[2020-04-23 05:24] gyanendrapatro commented on #1433
make sense you can assign it to me

[2020-04-23 05:52] siddesh-gundkanahalli commented on #1430
change the close button which is dependent on results.length to searchValue.length and it work.thats all.

[2020-04-23 07:00] jeemitsha commented on #1389
Ha

[2020-04-23 07:00] shubhamjain2998 commented on #1285
@jeremyphilemon @shuklaayush Please have a look at this.

[2020-04-23 07:24] Binu42 opened #1434 "Essential page is not aligned properly in devices"
**Describe the bug**
essential page is not aligned properly in devices. it will be better if it get aligned properly.

**To Reproduce**
go to https://www.covid19india.org/essentials and click search you can see it in desktop or mobile.

**Expected behavior**
page should aligned properly

**Screenshots**
![Screenshot from 2020-04-23 12-43-58](https://user-images.githubusercontent.com/45959932/80070

[2020-04-23 07:26] sudevschiz commented on #1079
@vedadeepta Sorry about the delay. However @jeremyphilemon is planning on an overall of the section. So @jeremyphilemon please confirm if this should be worked on?

[2020-04-23 07:28] jeremyphilemon commented on #1079
@sudevschiz will have to keep this on hold.

[2020-04-23 07:57] Binu42 opened #1436 "active icon in navbar have same color as others"
**Describe the bug**
* it will be better if active icon in navbar will have different colors from others. it will be visually more clear for users.

**To Reproduce**
go to https://www.covid19india.org/ and see it.

**Expected behavior**
it should have different color from other icons.

**Screenshots**
![Screenshot from 2020-04-23 13-26-05](https://user-images.githubusercontent.com/45959932/8007386

[2020-04-23 08:27] keshank commented on #1432
Dublicate
https://github.com/covid19india/covid19india-react/issues/1084

[2020-04-23 08:30] keshank commented on #1394
Dublicate https://github.com/covid19india/covid19india-react/issues/1040

[2020-04-23 08:46] aniketnk commented on #1100
@shuklaayush Oh okay. That makes sense.
I think I found a fix for this using the `moment` library. Will implement it and open a PR. I'll also make the modifications in the other API parsing functions.

[2020-04-23 08:53] keshank opened #1438 "Siri Support for Reporting Cases through API"
**Is your feature request related to a problem? Please describe.**
Adding Siri support for iPhone user through API

**Describe the solution you'd like**

Adding Shortcuts to iPhones through which you can ask Siri to look up for Cases

You can look up cases for India as well as cases for individual state for total infected, Active , recovered etc.

The website can show the links for the shortcuts t

[2020-04-23 08:58] #1438 closed, assigned to nobody

[2020-04-23 09:04] keshank opened #1439 "Siri Support for Reporting Cases through API"
**Is your feature request related to a problem? Please describe.**

Adding Siri support for iPhone user through API

**Describe the solution you'd like**

Adding Shortcuts to iPhones through which you can ask Siri to look up for Cases

You can look up cases for India as well as cases for individual state for total infected, Active , recovered etc.

The website can show the links for the shortcuts

[2020-04-23 09:30] lakshmi14 commented on #1192
![Covid Enhancement (1)](https://user-images.githubusercontent.com/7721961/80083222-fae06f80-8572-11ea-8745-de039e2df14c.gif)

Made some changes in colors and displaying the statename. ALso implemented in statewise page too :) If you are okay I  will create a pull request :)

[2020-04-23 09:34] Nikhiljoseph31 commented on #1192
Awesome, please go ahead.

Great job. Thanks.

On Thu, 23 Apr 2020, 15:00 lakshmi14, <notifications@github.com> wrote:

[2020-04-23 09:35] #1428 closed, assigned to nobody

[2020-04-23 09:44] bee-rickey commented on #1439
Hi @keshank is there something the devs need to do on this? isn't shortcut a feature you implement on your phone?

[2020-04-23 09:47] bee-rickey commented on #1432
Closing. Dupe of https://github.com/covid19india/covid19india-react/issues/1084

[2020-04-23 09:47] #1432 closed, assigned to nobody

[2020-04-23 09:49] #1436 closed, assigned to nobody

[2020-04-23 09:49] bee-rickey commented on #1415
This is ded :P (discontinued for now). Use https://api.covid19india.org/csv/

[2020-04-23 09:49] #1415 closed, assigned to nobody

[2020-04-23 09:50] bee-rickey commented on #1409
Where's the data for this? Some states provide a minimal amount of data. For the rest, we can provide info on this. Plotting a graph seems excessive IMO.

[2020-04-23 09:52] bee-rickey commented on #1402
Doesn't add much value IMO. Most of us don't even know the total district count in our states. So what value do we get by showing total districts affected?

[2020-04-23 09:53] bee-rickey commented on #1394
Closing as duplicate.

[2020-04-23 09:53] #1394 closed, assigned to nobody

[2020-04-23 09:55] #1224 closed, assigned to nobody

[2020-04-23 09:55] #1225 closed, assigned to nobody

[2020-04-23 09:55] Binu42 opened #1440 "all navlinks are not visible in horizontal view of mobile"
**Describe the bug**
all navlinks are not visible in horizontal view of mobile. some user might use horizontal view to see the details clear in mobile.

**To Reproduce**
go to https://www.covid19india.org/ open either in mobile or mobile view in desktop.

**Expected behavior**
expanded navbar should be scrollable to see all the navlinks.

**Screenshots**
![not scroll](https://user-images.githubuse

[2020-04-23 10:06] shubhams1497 opened #1442 "ToolTip of states info on table is hidden."
**Describe the bug**
The ToolTip when you hover over state info icon is hidden by table header. See screenshots attached below.
![image](https://user-images.githubusercontent.com/39676427/80086839-e783d300-8577-11ea-8ff8-171d057d6c4d.png)

**To Reproduce**
Steps to reproduce the behavior:
hover over the westbengal when it is on the top of the table.

**Expected behavior**
A clear and concise descr

[2020-04-23 10:08] jeremyphilemon commented on #1433
@gyanendrapatro Add it as a button here in demographics :)

<img width="113" alt="Screen Shot 2020-04-23 at 1 03 29 PM" src="https://user-images.githubusercontent.com/17938322/80087262-89e58b80-8563-11ea-8ab4-6f786b118c60.png">

[2020-04-23 10:18] #1054 closed, assigned to nobody

[2020-04-23 10:29] jainprabhash commented on #789
nice work @shubhamjain2998 . Nice thinking about using 'fetched'.

[2020-04-23 10:32] rushidaxini opened #1445 "Search bar layout change on home page"
Reduce the search bar height in mobile view (to minimize screen occupancy) and add border to highlight the component.

[2020-04-23 11:14] keshank commented on #1439
@bee-rickey that is correct, although you can add new page to website were you have link for pre build Siri shortcut by various people. iPhone and iPad users can download and implement directly from the link on the page.

_It’s just a suggestion if feasible. Gradually you can keep adding support for Google assistant and Alexa though API._

[2020-04-23 11:25] praveentiru opened #1447 "Improve telugu translation"
**Is your feature request related to a problem? Please describe.**
Telugu translation on feature/localization branch looks like generated from Google Translate with numerous Nouns still holding English values

**Describe the solution you'd like**
Fix the translation to have everything in telugu

**Describe alternatives you've considered**
There is no other alternative

**Additional context**
Examp

[2020-04-23 11:26] praveentiru commented on #1447
I will work on this and place PR for the same.

[2020-04-23 11:34] keshank commented on #1409
@bee-rickey
No need to plot a new graph you can have a button on existing graph which show a cut off line.
News agencies are regularly updating this information.
https://www.indiatoday.in/diu/story/india-ready-with-4-lakh-beds-in-400-districts-to-tackle-covid-19-1669776-2020-04-22

[2020-04-23 11:50] SensehacK commented on #1415
Shouldn’t we remove the button then?

[2020-04-23 12:06] keshank opened #1449 "Icons near State names indicating how states are performing"
**Describe the solution you'd like**

Red upward arrow near state names where number of active cases are higher then number of closed cases. ( eg :- Maharashtra )

Green downward arrow near state names where number of active cases are lower then number of closed cases. ( eg: - Andaman and Nicobar )

Crown icon / Star icon near state names where there are no active cases (eg :- GOA)

This could be

[2020-04-23 13:59] lakshmi14 commented on #1192
This is the preview site :
https://covid19india-react-git-fork-lakshmi14-newbranch.covid19india.now.sh/

 If its merged then it will be live, there are some merge conflicts which can be resolved only by maintainers.

[2020-04-23 14:00] vitorgomateus commented on #1060
I saw you commited this feature, but I don't understand it.
I read your code and it doesn't make sense to me, I have the feeling you didn't understand my idea.
I wrote some code, and tried to clone the project but I don't have the resources to run it. I want for the beggining of each data curve to be matched so we can see how each of them grows differently.

This is what I was thinking
1. have all

[2020-04-23 14:11] prakashpn007 opened #1451 "Tested"
Can you please add a column showing the tested numbers. Currently as the we scroll down we cannot see it as number shows up at top of the screen

[2020-04-23 14:32] Mxnxn opened #1452 "Can any one explain flow or how to understand workings of component? I'm new to react"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-23 14:41] tannakartikey opened #1453 "The state page does not render from the top on mobile devices"
**Is your feature request related to a problem? Please describe.**
This is only related to mobile devices.

When we scroll down and go to the state page of one of the bottom-most states the next page does not appear from the top. It seems like a blank screen and the user has to scroll up to see the content.

The attached GIF describes it best.

**Describe the solution you'd like**
The next page(th

[2020-04-23 14:54] shuklaayush commented on #1452
Not the appropriate place for this. Refer to https://reactjs.org/tutorial/tutorial.html

[2020-04-23 14:54] #1452 closed, assigned to nobody

[2020-04-23 15:08] bhavinkotak07 opened #1455 "Age chart show percentage data"
The Deep Dive sections show patients by age chart. Currently, only absolute numbers are reported but it can be modified to show data in terms of **percentage** for better analysis.

Solution: Hovering on the bar chart along with absolute numbers, data in percentage can be shown.
![Screenshot from 2020-04-23 21-31-28](https://user-images.githubusercontent.com/5495645/80121963-87f2eb00-85aa-11ea-873

[2020-04-23 15:13] Binu42 commented on #1453
@tannakartikey assign me i'll do it. same situation is for deepdive in desktop.

[2020-04-23 15:35] idris15 commented on #1084
@gauravbgp, I noticed that you are plotting reproduction numbers for 16 states. I was wondering why you haven't included the remaining states. Also, the first plot is for 'TT', and I am having a hard time figuring out what that is. Lastly, while this project figures when and where to include R<sub>t</sub> tracking, could you arrange yours in alphabetical order so that it is easier to navigate.

Th

[2020-04-23 15:43] shubhamjain2998 opened #1456 "Show more relevant statistics on state page"
**Is your feature request related to a problem? Please describe.**
It will be good if a user will be able to see the statistics in percent if he goes to a specific state page, it depicts the performance of the state.

**Describe the solution you'd like**
A Section showing all the statistics, after the mini graph, a very rough idea of what I suggest is
![Screenshot from 2020-04-23 21-09-24](https:/

[2020-04-23 15:47] bee-rickey commented on #1456
See if the data can be a switch view? Maybe something like an advanced option or something?

[2020-04-23 15:48] bee-rickey commented on #1449
This could be misleading since just a case count of active might not suggest the true picture.

[2020-04-23 15:50] KaustubhDamania commented on #1223
Yes, it's been 6 days since this issue was created.
How long does it take before being assigned an issue?

[2020-04-23 15:52] bee-rickey commented on #1451
Duplicate of #1301

[2020-04-23 15:52] #1451 closed, assigned to nobody

[2020-04-23 15:53] KaustubhDamania commented on #1455
Yes, both percentage and absolute cases will look better.

[2020-04-23 15:54] bee-rickey commented on #1447
Hi @praveentiru we are currently in the process of reviving the translation/localisation PR, refer #432 and comment there?

[2020-04-23 15:54] #1447 closed, assigned to nobody

[2020-04-23 15:59] shubhamjain2998 commented on #1456
okay like a switch toggler for the detailed statistics.

[2020-04-23 16:27] keshank commented on #1449
@bee-rickey
![Untitled](https://user-images.githubusercontent.com/63340632/80124018-457edd80-85ad-11ea-960c-adbbd5ba934d.png)
![Untitled2](https://user-images.githubusercontent.com/63340632/80124039-49aafb00-85ad-11ea-9832-f85a221a75b8.png)

What I meant to get the ratio of the active case to closed cases

if the ratio is greater than 1 then red arrow if the ration is less than 1 then green arrow.

[2020-04-23 16:30] iamrajee opened #1458 "Wrong values in daily cases graph"
**Describe the bug**
Daily cases graph's y axis having wrong scale or number.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to deep dive [page](https://www.covid19india.org/deepdive)
3. Scroll down to daily cases.
4. See y axis to see the error

**Expected behavior**
Daily cases yet is less than 1700. But y axis show it even more than 2000.

**Screenshots**
![IMG_20200423_214433](https

[2020-04-23 16:39] mayankparmar2000 opened #1459 "Gujarat - "Dahod vs Dohad""
For Gujarat In Left hand side list, it says "Dahod : 4", but right side in map it shows "Dohad : 0".

The issue may be you are using 2 different names for 1 single district ...

![Dahod Error](https://user-images.githubusercontent.com/4045325/80124922-98a56000-85ae-11ea-86ee-907c7e994855.png)

[2020-04-23 16:43] tannakartikey commented on #1453
@Binu42 assigned to you. Thanks

[2020-04-23 17:08] ahampriyanshu opened #1460 "New section to show all the districts and states with zero active cases"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
There should be a new section showing all the states like Manipur , Goa and districts with zero active cases.In the upcoming days more and more districts,UTs,states will go corona-free ,so a section at the top might give some hope in these uncertain times.

[2020-04-23 17:24] nishcthulhu commented on #1060
I hadn't committed it yet... Still building it out... But thanks for your suggestions maybe we can work on it together

[2020-04-23 17:36] amitmeetu12 opened #1461 "Wrong state count shown for new cases!"
Hi Team,
Thanks for the great work !

I just checked that, wrong state count is getting displayed under "Punjab".

The total count of new cases shown is 5 for Punjab, but under the cities, it's showing 6 for Jalandhar.

Please find the
![screenshot-www covid19india org-2020 04 23-23_00_22](https://user-images.githubusercontent.com/5120192/80130927-0a81a780-85b7-11ea-9510-f4888930b4d9.png)
attached

[2020-04-23 17:39] saberprashant opened #1462 "Problem in viewing tooltip data in States - Growth Trend - Deep Dive"
**Describe the bug**
The data available in the tooltip for States- Growth Trend (Deep-dive section) isn't visible distinctly. It is actually getting merge with a lot of background details. (a big problem for mobile users)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to "Deep Dive"
2. Scroll down to "Growth trends graph"
3. Click on graph trend, and see the tooltip.

**Expected behavio

[2020-04-23 17:40] saberprashant commented on #1462
@jeremyphilemon @JunaidBabu
I am already fixing this, will send a PR soon.

[2020-04-23 17:52] altamashqureshi9144 commented on #538
any live working module for magicmirror or any upcoming?

[2020-04-23 18:00] bhavinkotak07 commented on #1367
I can work on it. Please assign the task to me. Below is the screenshot of my work.
![Screenshot from 2020-04-23 23-29-23](https://user-images.githubusercontent.com/5495645/80133152-6994eb80-85ba-11ea-970d-3ac3eab705cc.png)

[2020-04-23 18:01] shuklaayush commented on #1459
Duplicates #1408

[2020-04-23 18:01] #1459 closed, assigned to nobody

[2020-04-23 18:03] lakshmi14 commented on #1461
Its an api side issue, have raised an issue and working on it

[2020-04-23 18:14] altamashqureshi9144 opened #1464 "any live working or upcoming module for magic mirror?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-23 19:27] vitorgomateus commented on #1060
I saw the Growth Trend Chart and assumed it was related with this.
 Isn't this the [commit](https://github.com/covid19india/covid19india-react/commit/f6ca65a89fc76c56f109bc6e55099b2c3a3e727a)?

Also yes, I haven't used React in a long time, but I'll help as I can :)

[2020-04-23 19:36] keshank commented on #1408
@jeremyphilemon @shuklaayush
I have fixed this issue and I would love to contribute to the project.
Unable to publish my branch please grant me permission.

[2020-04-23 19:50] 0xbhvn opened #1466 "City Level Report"
People should be able to see their city level data.

**Solution**
We can have a handful of volunteers in each city which can collect the data from their local authority. Every municipal corporation issues a report per day.

**Alternatives**
I am in the process of making our level website inspired by covid19tracker.org

It would make this website very personal to each and every person and maybe we

[2020-04-23 20:57] dharmesh-m opened #1469 "State, City and Services drop-downs selected value is not fully visible"
In Essentials section State, City and Services dropdowns selected value is not fully visible in the Chrome browser. (My browser Version 81.0.4044.122 (Official Build) (64-bit))

OS: Windows 10
Display Resolution: 2160 x 3840 (4k Portrait mode)  or 3840 x 2160 (4k Landscape mode)

<img width="1067" alt="DropdownValuesAreNotReadable" src="https://user-images.githubusercontent.com/5715772/80148535-2e

[2020-04-23 21:05] DDGudu opened #1470 "Active and recovered cases for district wise data"
**Is your feature request related to a problem? Please describe.**
District wise data for the currently actively cases and total confirmed cases should be present when clicked on the drop down beside the states

[2020-04-23 21:37] nayakrahul opened #1471 "Modern toggle button in deepdive page"
**Is your feature request related to a problem? Please describe.**
The toggle button in deepdive page is too simple and old-style.

**Describe the solution you'd like**
![Screenshot from 2020-04-24 03-14-03](https://user-images.githubusercontent.com/11428805/80152647-b3d99500-85d9-11ea-80b6-110f2beeb13e.png)

It will look like this and will also make changes in charts on clicking.

[2020-04-23 22:29] jeremyphilemon commented on #771
@srikoushik The filters seem to be working fine now, I think it must've been fixed in between patches, thanks :)

[2020-04-23 22:29] #771 closed, assigned to nobody

[2020-04-23 22:31] jeremyphilemon commented on #1470
Duplicate of #675

[2020-04-23 22:31] #1470 closed, assigned to nobody

[2020-04-23 22:33] jeremyphilemon commented on #1466
Duplicate of #596

[2020-04-23 22:33] #1466 closed, assigned to nobody

[2020-04-23 22:36] jeremyphilemon commented on #1464
Sorry, unfortunately this is out of scope for the repo at the moment. But anyone looking forward to creating a module can feel free to do so :)

[2020-04-23 22:36] #1464 closed, assigned to nobody

[2020-04-23 22:39] jeremyphilemon commented on #1461
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-23 22:39] #1461 closed, assigned to nobody

[2020-04-23 22:43] jeremyphilemon commented on #1456
Here's a mockup I had made earlier for this. You can use this for reference! Essentially we can maintain a flex box container that allows adding more stats in the future too.

<p  align="center">
<img width="282" alt="Screen Shot 2020-04-11 at 6 08 09 PM" src="https://user-images.githubusercontent.com/17938322/80156521-ca2d2400-85cc-11ea-99e7-33f0008a06d8.png">
</p>

[2020-04-23 23:03] jeremyphilemon commented on #1417
Go ahead! Let's try to keep discussions about the palette here. For now you can use the palettes that's currently being used and build upon it with a little research from looking at accessibility guides too :)

Resources:
- https://design.google/library/material-design-dark-theme/#hierarchy-simplify-uis-for-glanceable-information
- https://developer.apple.com/design/human-interface-guidelines/ios/

[2020-04-23 23:58] #1453 closed, assigned to Binu42

[2020-04-24 00:02] #1442 closed, assigned to nobody

[2020-04-24 00:07] Abhinav-Mani commented on #1469
Can you give some more details like screen resolution & OS .I was not able to replicate the problem.

[2020-04-24 00:09] jeremyphilemon opened #1472 "Support notes as tooltips for district rows as well."
**Is your feature request related to a problem? Please describe.**
Yes, it can be hard sometimes when some rows are labelled differently to accommodate a special situation etc. where an explanation would be useful to people.

**Describe the solution you'd like**
Similar to the current approach for state notes. The API now also has notes appended in the district objects.
<img width="363" alt="Scree

[2020-04-24 00:16] jeremyphilemon commented on #1421
All yours :)

[2020-04-24 00:23] Abhinav-Mani commented on #1472
You can assign me.  I would like to work on this.

[2020-04-24 00:28] #1440 closed, assigned to nobody

[2020-04-24 00:30] jeremyphilemon commented on #1472
Awesome, all yours :)

[2020-04-24 00:35] jeremyphilemon commented on #317
Just chiming in to say that 1. and 2. (specifically) have been added. You can check the individual states' pages to compare between the last five days :)

<img width="509" alt="Screen Shot 2020-04-24 at 3 33 51 AM" src="https://user-images.githubusercontent.com/17938322/80162595-6f032d80-85dc-11ea-9ee2-96ef6c03ceb6.png">

[2020-04-24 00:35] #317 closed, assigned to mohammedshafeeqet

[2020-04-24 00:36] jeremyphilemon commented on #355
Closing this because we now support tests. Henceforth we shall open new issues for adding specific test cases.

@tannakartikey you can recommend, we can assign it to people looking to contribute :)

[2020-04-24 00:36] #355 closed, assigned to tannakartikey

[2020-04-24 00:41] #89 closed, assigned to nobody

[2020-04-24 00:41] jeremyphilemon commented on #89
Hey thanks for filing the issue, unfortunately we're gonna have to mark this as abandoned since the feature addition in question is either out of scope or that we simply don't have enough data to support said feature.

Feel free to open an issue in the future if you think otherwise :)

[2020-04-24 00:47] jeremyphilemon opened #1473 "Visually highlight the currently selected row in table"
**Is your feature request related to a problem? Please describe.**

Currently we have indicators like for map (border) and timeseries graph (dropdown) to show the selected values, however, that's now the case for tables. Highlighting it could largely help to visually navigate around with ease.

**Describe the solution you'd like**
Highlight the rows that are selected. Essentially would have to use

[2020-04-24 00:51] jeremyphilemon commented on #444
This has been patched but with a different strategy in mind, thanks for raising the issue :)

[2020-04-24 00:51] #444 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-24 00:53] jeremyphilemon commented on #585
@shaksi apologies about the late response, here you go https://t.me/joinchat/Mb0ZhVRvI-VZyGuE8uvMbA :)

[2020-04-24 00:53] #585 closed, assigned to nobody

[2020-04-24 00:55] jeremyphilemon commented on #601
Patched by #847

[2020-04-24 00:55] #601 closed, assigned to jeremyphilemon

[2020-04-24 01:01] jeremyphilemon commented on #923
@umanghome I'm un-assigning myself due to limited knowledge on this topic, so go ahead :)

[2020-04-24 01:10] jeremyphilemon commented on #1430
This should essentially support clearing the input text and search results as well.

[2020-04-24 01:12] jeremyphilemon commented on #1404
Closing due to lack of proper description to reproduce bug.

[2020-04-24 01:12] #1404 closed, assigned to nobody

[2020-04-24 01:14] jeremyphilemon commented on #1427
cc @bee-rickey

[2020-04-24 01:17] jeremyphilemon commented on #1393
@shubhamjain2998 Sure go ahead, also looks like part of the issue has been fixed. Would still have to figure out a way to retain "Menu" instead of the home icon as it is now.

[2020-04-24 02:11] gyanendrapatro commented on #1433
@jeremyphilemon but the ask is to download it as a whole report information right like statewise active , confirmed like what ever is there in table and map info all those right so shouldn't it be on home page itself, as demographic wont have this much detail

[2020-04-24 03:21] lakshmi14 commented on #1473
Hello!!! I can take up this.
You mean the states table in the home screen right ?

[2020-04-24 03:29] lakshmi14 commented on #1471
I can take up this 👍

[2020-04-24 04:09] Binu42 opened #1477 "Sticky navbar"
**Is your feature request related to a problem? Please describe.**
currently i found that our mobile users are facing difficulties in navigating between pages, they need to scroll up all the way to top, to navigate between pages.

**Describe the solution you'd like**
my solution is to make navbar fixed, show navbar when user scroll up on pages and hide when scroll down.

[2020-04-24 05:07] lakshmi14 commented on #1471
@nayakrahul

![image](https://user-images.githubusercontent.com/7721961/80176894-a6430000-8617-11ea-9104-c8ca74171b9e.png)

See if it works ?

[2020-04-24 05:10] harishmathur commented on #1473
Feel free to assign this to me.

[2020-04-24 05:24] #1388 closed, assigned to nobody

[2020-04-24 05:43] devdashboard opened #1479 "Active & Deceased count needed in District-wise"
**Is your feature request related to a problem? Please describe.**
Many of the standardized Covid Dashboard websites failed to display the count of Active, Deceased fellows in District-wise

**Describe the solution you'd like**
It will be Good if you can pull out and display 'Active', 'Deceased' count details per District of the respective states.

![image](https://user-images.githubusercontent.co

[2020-04-24 05:56] Nikhiljoseph31 commented on #1192
Any idea if this can be merged?

On Thu, 23 Apr 2020, 19:29 lakshmi14, <notifications@github.com> wrote:

[2020-04-24 06:05] harshalc commented on #1430
You can assign me. I would like to work on this.

[2020-04-24 06:10] Julfekarmbd opened #1480 "The recovered patient should be show in the list district ways."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-24 06:25] shuklaayush commented on #1479
Duplicates #675

[2020-04-24 06:25] #1479 closed, assigned to nobody

[2020-04-24 06:31] shuklaayush commented on #1480
Seems to duplicate #675

[2020-04-24 06:31] #1480 closed, assigned to nobody

[2020-04-24 07:02] lakshmi14 commented on #1192
@jeremyphilemon  Can you merge this request ? thanks.

[2020-04-24 07:10] pradeepAtcodingmart commented on #854
@shuklaayush As we discussed in #1108 , I Made a PR

[2020-04-24 07:18] pavanmehta91 commented on #1473
I'm willing to take this up @jeremyphilemon Can you please show something visually what needs be done. Cos I can see the gray background on a row when a it's hovered for a particular state selection

[2020-04-24 07:19] pavanmehta91 commented on #1430
I can take this up

[2020-04-24 07:21] pavanmehta91 commented on #1391
I can pick that up

[2020-04-24 07:56] ShadabFaiz opened #1483 "Cannot run the project"
**Describe the bug**
Cannot run the project. After cloning the repo, I did install the packages by running `npm install` and this is the output of the command.
[code]

After this, I ran `npm start`, and this is  what happened:
![Covid Error](https://user-images.githubusercontent.com/8160121/80188098-54f23b00-862e-11ea-82ad-a11c18b20c63.PNG)
 Then I though running eslint:fix will fix the issue but

[2020-04-24 08:00] manoj30075 commented on #1430
You can assign it to me.

[2020-04-24 08:08] nayakrahul commented on #1473
Hey @jeremyphilemon, I have raised a pull request #1482 for this feature. Can you review and see if this is what is required.

[2020-04-24 08:40] srikoushik commented on #1483
When I pulled the latest master, it is not compiling. The error that I'm facing is in the below screenshot.
![Screenshot 2020-04-24 at 2 08 03 PM](https://user-images.githubusercontent.com/10307124/80192734-45c2bb80-8635-11ea-9103-bc450d561cc4.png)

[2020-04-24 09:10] shringiraj opened #1484 "Is there any link to see previous day status statewise"
Like previous day new case , recevez and death

[2020-04-24 10:25] dharamvrat opened #1485 "Show Active cases per district"
I can not see the active cases per district, which to me are more important than seeing confirmed cases.

I want to add one more column for Active cases per district when a state is expanded.

[2020-04-24 11:05] nprabhav opened #1486 "Website hangs when searched for essentials on smartphone"
**Describe the bug**
Site crashes when we search for essentials on Smartphones.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Menu
2. Click on Essentials
3. Click on Search
4. Type anything in Search Keyword
5. See error

**Expected behavior**
At least it should return 'No results found' when the search fails or it should return say top x items related to the search.

**Screenshots*

[2020-04-24 11:34] Achal1607 opened #1488 "Search Bar gets hanged"
**Describe the bug**
Search bar gets hang while finding something

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home Page'
2. Click on 'Search'
3. Start Typing
4. See error

Play around with the search, at some point it'll start to lag, and then hand completely.

**Expected behavior**
Search Bar should work properly without hanging.

[2020-04-24 11:38] shuklaayush commented on #1485
Duplicates #675

[2020-04-24 11:38] #1485 closed, assigned to nobody

[2020-04-24 12:15] shubhamjain2998 commented on #1456
@jeremyphilemon ya that's a nice idea to have a flexbox and your layout is also looking very decent.
I think that the flexbox below minigraph with toggler will be good, so a mobile viewer won't need to go down to see stats.
Here's a snippet of what I thought
![stat](https://user-images.githubusercontent.com/30628775/80211221-ec698500-8652-11ea-841a-ba62d8fbd8d1.gif)
![Screenshot from 2020-04-24 17

[2020-04-24 12:18] aishmittal commented on #1430
Fixed it in PR #1489

[2020-04-24 12:38] pavanmehta91 commented on #1488
Can you please provide a screenshot/gif for the same. Also please check and post if anything is there in the Chrome/Firefox devtools console.

[2020-04-24 13:03] np000 opened #1491 "Updating district map based on current active cases."
**Is your feature request related to a problem? Please describe.**
Can we update the colour intensity level of a state's district based on current active cases for state's if district wise stats available?. In kerala Currently more active cases are in Kannur district. Which is updated in kerala government s tracker.

https://dashboard.kerala.gov.in

![Screenshot_2020-04-24-18-22-34-264_com android

[2020-04-24 13:09] shuklaayush commented on #1491
Hi! You can now click on the coloured box to switch to Active cases map. I guess that addresses your concern.

![Peek 2020-04-24 18-37](https://user-images.githubusercontent.com/27727946/80215833-c21bc580-865a-11ea-92df-e36dbcc8562e.gif)

[2020-04-24 13:09] #1491 closed, assigned to nobody

[2020-04-24 13:18] akshay-kamalesh opened #1493 "Display the total no of recovered pepole for district wise"
**Is your feature request related to a problem? Please describe.**
Can you please display the total number of recovered peoples for each district wise

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-04-24 13:26] jaykishanparikh opened #1494 "State Page | Link on Sources for Gujarat is not working."
**Describe the bug**
Go to the Gujarat State page. and Click on the 'As of 23 Apr per **source**'. LIke other state pages it should redirect to the source page (In GJ its state dashboard)

**To Reproduce**
1. Go to the Gujarat State page
2. Click on source link

**Expected behavior**
Click should redirect to Gujarat Gov Dashboard.

**Screenshots**
<img width="1530" alt="Screen Shot 2020-04-24 at 1

[2020-04-24 13:27] jaykishanparikh commented on #1494
Please assign this to me. I have fixed this bug on my local.

[2020-04-24 13:27] np000 commented on #1491
I didn't know it's already available. This is great feature. Thanks for the update.

[2020-04-24 13:39] jeremyphilemon commented on #1473
Hey @lakshmi14, usually I'd assign the first person who requested to be assigned to the issue, but since we've already gotten a PR from @nayakrahul, I suggest we go with this since it's really needed at the earliest.

However, this is a problem we've noticed, and are currently working on a workflow that'll allow people who've requested to get assigned first to mark themselves as assigned to preven

[2020-04-24 13:41] shuklaayush commented on #1493
Duplicates #675

[2020-04-24 13:41] #1493 closed, assigned to nobody

[2020-04-24 13:45] itssmutnuri opened #1495 "Prevent graphs from changing on cursor hover"
**Is your feature request related to a problem? Please describe.**
When scrolling down to the graphs, if the cursor passes over the state list table, the graphs change to reflect the state my cursor is hovering upon. I've to always select "All States" from the list to get full country data or reload the page.

**Describe the solution you'd like**
It could be better to have such changes happen on c

[2020-04-24 13:54] shuklaayush commented on #1495
Duplicates #1243

[2020-04-24 13:54] #1495 closed, assigned to nobody

[2020-04-24 14:21] Geetakokate commented on #1469
@dharmesh-m @Abhinav-Mani I'm able to reproduce the issue. Fixing it.

[2020-04-24 14:22] sudevschiz commented on #468
@debasishdebs
1. This information has become more and more sparse. We only get District-level information now
2. No. If that information is available, we are capturing it in the comments. If the information is available, this api by @NirantK can extract the information : https://github.com/covid19india/api/issues/6

3. Capturing the quarantine zone is a work in progress.
4. I am failing to underst

[2020-04-24 14:22] #468 closed, assigned to jeremyphilemon

[2020-04-24 14:24] lakshmi14 commented on #1192
@jeremyphilemon can you do something about this ??

[2020-04-24 14:29] raxhvl commented on #1486
I can look into this.

[2020-04-24 14:39] jeremyphilemon commented on #1391
@pavanmehta91 sure go ahead :)

Let's try to implement this functionality in the state pages first!

[2020-04-24 14:56] #1100 closed, assigned to faisal3389

[2020-04-24 15:32] jeremyphilemon opened #1496 "Add a new page dedicated to a table"
Adding a new horizontally scrollable table, supporting all relevant data points and fulfilling column addition requests.

Below are the specifications (draft):

State (fixed column) | Confirmed | Active | Recovered | Deceased | Samples Tested | 1st Reported Case | Recovery % | Mortality % | Percentage by population | Percentage by area | Percentage of average growth | Last reported case | % of pos

[2020-04-24 16:06] lakshmi14 commented on #1473
Thanks @jeremyphilemon no problem have taken another enhancement and created pull request,  Please check and merge.

[2020-04-24 16:14] vishwac09 opened #1498 "Allow Table sorting on essentials page"
**Enable Sorting on essentials Page Table**
User navigates to "/essentials" page, selects a state, city clicks on search. The result set can be large, but i want to sort out or group similar items by clicking on header to sort.

**Describe the solution you'd like**
I Propose Columns City, Category and Organisation to be sortable.

**Describe alternatives you've considered**
None.

**Additional con

[2020-04-24 16:52] acorreya opened #1499 "Dark mode map gradient visibility"
**Describe the bug**
Map gradient color scheme needs to be tweaked in main page while using dark mode for visibility of low count states.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'index'
2. Scroll down to 'india map'
4. See error

**Expected behavior**
Better visibility for states like Goa.

**Screenshots**
![2020_04_24_22_12_14](https://user-images.githubusercontent.com/322509

[2020-04-24 17:19] JunaidBabu opened #1500 "Test Claiming Issue"

[2020-04-24 17:19] JunaidBabu commented on #1500
/claim

[2020-04-24 17:22] SVP-JunaidBabu commented on #1500
/claim

[2020-04-24 17:28] JunaidBabu commented on #1500
/claim

[2020-04-24 17:30] JunaidBabu commented on #1500
Let me /claim this issue

[2020-04-24 17:30] JunaidBabu commented on #1500
Sure bot!

[2020-04-24 17:35] kunvarsinghbisht opened #1501 "city row in mistakenly in Uttarakhand in Ayodha"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-24 18:01] ghost opened #1502 "Ayodhya district in Uttarakhand instead of Uttar Pradesh"
**Describe the bug**
The district Ayodhya should be present under Uttar Pradesh, but instead is shown under Uttarakhand in the table data.

**To Reproduce**
n/a

**Expected behavior**
District Ayodhya to be present under Uttar Pradesh and not Uttarakhand.

**Screenshots**
<img width="489" alt="Screenshot 2020-04-24 at 23 29 29" src="https://user-images.githubusercontent.com/22128987/80242790-8ea16

[2020-04-24 18:19] rayaji opened #1503 "Age wise deceased count with male and female"
**Is your feature request related to a problem? Please describe.**

We should have one more graph in deep dive for deceased data. We can have 10 age buckets as shown in "Patient by age" graph and we should show how many of them are male and female (refer "Daily Cases" graph).

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2020-04-24 18:20] aamir200 commented on #1359
Any update and also I cannot see any updated data in the following link https://api.covid19india.org/data.json please update accordingly as my full report depend on this

[2020-04-24 18:35] KaustubhDamania opened #1504 "Add Legend for Patients by Nationality graph"
**Describe the bug**
There should be a legend for the 'Patients by Nationality' graph since in the pic below, one has to hover and check for the nationalities.

![image](https://user-images.githubusercontent.com/33577657/80245175-d9bd7300-8687-11ea-93f7-af9458b265a9.png)

The legend could be added similar to the pic below:

![image](https://user-images.githubusercontent.com/33577657/80245275-08d3e

[2020-04-24 18:45] pavanmehta91 commented on #1391
https://api.covid19india.org/
I could not find date wise data for districts of a particular state in this.
Is there data and Api available for it?

[2020-04-24 18:59] pavanmehta91 commented on #1502
Is this the home page? Maybe it was a data issue or something. Seems fine to me now.

[2020-04-24 19:11] bee-rickey commented on #1502
It was an issue in the data entry side. All is good now.

[2020-04-24 19:11] #1502 closed, assigned to nobody

[2020-04-24 19:12] bee-rickey commented on #1501
Issue fixed.

[2020-04-24 19:12] #1501 closed, assigned to nobody

[2020-04-24 19:13] bee-rickey commented on #1500
lemme also /claim

[2020-04-24 19:14] bee-rickey commented on #1500
/claim yo

[2020-04-24 19:20] bee-rickey commented on #1483
Runs fine for me. Check the logs and post them here?

[2020-04-24 19:21] saberprashant commented on #1462
@jeremyphilemon
I've already added a PR for this. I think this addition will solve the tooltip for growth trend and will make the overall experience better (I've also added the tooltip change for patients by nationality).
Hope you'll take a look at it soon.

[2020-04-24 19:45] JunaidBabu commented on #1500
claim only works if it has label "Status: available"

[2020-04-24 19:46] JunaidBabu commented on #1500
@bee-rickey  you may / claim now

[2020-04-24 20:24] shuklaayush commented on #1500
/claim

[2020-04-24 22:18] jeremyphilemon opened #1507 "Added new contributing guidelines, check it out 🧑‍💻"
You click [here](https://github.com/covid19india/covid19india-react/blob/master/CONTRIBUTING.md).

[2020-04-24 22:20] jeremyphilemon commented on #337
Closed in favor of #1496

[2020-04-24 22:20] #337 closed, assigned to JunaidBabu, sudevschiz

[2020-04-24 22:21] jeremyphilemon commented on #447
Closed in favor of #1496

[2020-04-24 22:21] #447 closed, assigned to jeremyphilemon

[2020-04-24 22:22] jeremyphilemon commented on #464
Closed in favor of #1496

[2020-04-24 22:22] #464 closed, assigned to nobody

[2020-04-24 22:22] jeremyphilemon commented on #586
Closed in favor of #1496

[2020-04-24 22:22] #586 closed, assigned to nobody

[2020-04-24 22:23] #559 closed, assigned to jeremyphilemon, georgyjacob2020

[2020-04-24 22:24] #581 closed, assigned to nobody

[2020-04-24 22:25] jeremyphilemon commented on #511
Hey thanks for filing the issue, unfortunately we're gonna have to mark this as abandoned since the feature addition in question is either out of scope or that we simply don't have enough data to support said feature.

Feel free to open an issue in the future if you think otherwise :)

[2020-04-24 22:25] #511 closed, assigned to gautam1858

[2020-04-24 22:26] jeremyphilemon commented on #621
Closed in favor of #1496

[2020-04-24 22:26] #621 closed, assigned to jeremyphilemon

[2020-04-24 22:26] #627 closed, assigned to Ninad99

[2020-04-24 22:30] #672 closed, assigned to nobody

[2020-04-24 22:32] jeremyphilemon commented on #675
Closed by #1407

[2020-04-24 22:32] #675 closed, assigned to nobody

[2020-04-24 22:33] jeremyphilemon commented on #744
Closed in favor of #1496

[2020-04-24 22:33] #744 closed, assigned to jeremyphilemon

[2020-04-24 22:34] jeremyphilemon commented on #749
Closed in favor of #1496

[2020-04-24 22:34] #749 closed, assigned to nobody

[2020-04-24 22:38] jeremyphilemon commented on #758
Closing in favor of #1322

[2020-04-24 22:38] #758 closed, assigned to nobody

[2020-04-24 22:38] jeremyphilemon commented on #781
Patched.

[2020-04-24 22:38] #781 closed, assigned to nobody

[2020-04-24 22:39] jeremyphilemon commented on #751
Closed in favor of #1496

[2020-04-24 22:39] #751 closed, assigned to nobody

[2020-04-24 22:41] jeremyphilemon commented on #806
Hey, thanks for the feature request. However, the tabular look is already achieved in the excel sheet whose link is provided in the footer. Closing this because it would be redundant and putting in a lot of effort into something that's already there :)

[2020-04-24 22:41] #806 closed, assigned to nobody

[2020-04-24 22:42] jeremyphilemon commented on #795
Closing in favor of #1496

[2020-04-24 22:42] #795 closed, assigned to nobody

[2020-04-24 22:43] jeremyphilemon commented on #787
@BhaveshSGupta this sounds good, what strategy would you use to achieve this?

[2020-04-24 22:45] jeremyphilemon commented on #803
@mayankbhagya now that verifiable data is available through http://covidwarriors.gov.in, someone can get those numbers into the api so that we can display them on the website.

Keeping this on hold until someone adds this functionality over at the api repository.

[2020-04-24 22:49] jeremyphilemon commented on #812
We're currently in need of something similar to this, we're also looking forward to porting the deep dive to D3.js. @ninjakx would you like to help us with this?

[2020-04-24 22:51] #826 closed, assigned to Binu42

[2020-04-24 22:53] jeremyphilemon commented on #839
Please refer to https://github.com/covid19india/covid19india-react/pull/711#issuecomment-617447680

[2020-04-24 22:53] #839 closed, assigned to jeremyphilemon, ameyasd007

[2020-04-24 22:54] jeremyphilemon commented on #741
Closing in favor of #848

[2020-04-24 22:54] #741 closed, assigned to nobody

[2020-04-24 22:56] jeremyphilemon commented on #854
Closing in favor of #812

[2020-04-24 22:56] #854 closed, assigned to nobody

[2020-04-24 22:59] jeremyphilemon commented on #873
@nikita-11 thoughts?

[2020-04-24 23:01] jeremyphilemon commented on #900
Patched.

[2020-04-24 23:01] #900 closed, assigned to nobody

[2020-04-24 23:02] jeremyphilemon commented on #905
Closing in favor of #1496

[2020-04-24 23:02] #905 closed, assigned to nobody

[2020-04-24 23:03] jeremyphilemon commented on #918
Closed in favour of #1496

[2020-04-24 23:03] #918 closed, assigned to nobody

[2020-04-24 23:04] jeremyphilemon commented on #938
Closing since the states in question now show test numbers.

[2020-04-24 23:04] #938 closed, assigned to jeremyphilemon

[2020-04-24 23:05] jeremyphilemon commented on #945
Closing in favor of #1496

[2020-04-24 23:05] #945 closed, assigned to yashshah1

[2020-04-24 23:06] jeremyphilemon commented on #953
Closing in favor of #1496

[2020-04-24 23:06] #953 closed, assigned to nobody

[2020-04-24 23:07] jeremyphilemon commented on #966
Closing in favor of #1496

[2020-04-24 23:07] #966 closed, assigned to nobody

[2020-04-24 23:07] jeremyphilemon commented on #958
Patched by #1363

[2020-04-24 23:07] #958 closed, assigned to ManojPathak1, jeremyphilemon

[2020-04-24 23:08] #959 closed, assigned to jeremyphilemon, iDhruv22

[2020-04-24 23:11] jeremyphilemon commented on #983
This is available through essentials.

[2020-04-24 23:11] #983 closed, assigned to nobody

[2020-04-24 23:12] jeremyphilemon commented on #987
Closed by #80

[2020-04-24 23:12] #987 closed, assigned to nobody

[2020-04-24 23:13] #988 closed, assigned to sudevschiz

[2020-04-24 23:14] jeremyphilemon commented on #1049
Patched.

[2020-04-24 23:14] #1049 closed, assigned to nobody

[2020-04-24 23:15] #1079 closed, assigned to nobody

[2020-04-24 23:17] jeremyphilemon commented on #1152
Closing this due to lack of data from a verifiable source. Feel free to open this if verifiable source is available in the future.

[2020-04-24 23:17] #1152 closed, assigned to nobody

[2020-04-24 23:18] jeremyphilemon commented on #1150
Hey thanks for filing the issue, unfortunately we're gonna have to mark this as abandoned since the feature addition in question is either out of scope or that we simply don't have enough data to support said feature.

Feel free to open an issue in the future if you think otherwise :)

[2020-04-24 23:18] #1150 closed, assigned to nobody

[2020-04-24 23:18] jeremyphilemon commented on #1032
Closing in favor of #1496

[2020-04-24 23:18] #1032 closed, assigned to nobody

[2020-04-24 23:20] jeremyphilemon commented on #1160
@bee-rickey possible to change, or keep as is?

[2020-04-24 23:21] jeremyphilemon commented on #1168
cc @nikita-11

[2020-04-24 23:22] jeremyphilemon commented on #1189
Closing in favor of #887

[2020-04-24 23:22] #1189 closed, assigned to nobody

[2020-04-24 23:23] jeremyphilemon commented on #1190
Patched.

[2020-04-24 23:23] #1190 closed, assigned to nobody

[2020-04-24 23:23] jeremyphilemon commented on #1199
How would we go about this?

[2020-04-24 23:23] jeremyphilemon commented on #1202
Patched.

[2020-04-24 23:23] #1202 closed, assigned to nobody

[2020-04-24 23:24] jeremyphilemon commented on #1203
Patched.

[2020-04-24 23:24] #1203 closed, assigned to nobody

[2020-04-24 23:25] jeremyphilemon commented on #1223
Patched.

[2020-04-24 23:25] #1223 closed, assigned to nobody

[2020-04-24 23:28] jeremyphilemon commented on #1244
@bee-rickey do we record last updated time for districts as well?

[2020-04-24 23:30] jeremyphilemon commented on #1261
Patched.

[2020-04-24 23:30] #1261 closed, assigned to nobody

[2020-04-24 23:32] jeremyphilemon commented on #1263
Please refer to this comment https://github.com/covid19india/covid19india-react/pull/711#issuecomment-617447680

[2020-04-24 23:32] #1263 closed, assigned to nobody

[2020-04-24 23:35] jeremyphilemon commented on #1308
Closing in favor of #432, this is in the works

[2020-04-24 23:35] #1308 closed, assigned to nobody

[2020-04-24 23:36] jeremyphilemon commented on #1323
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-24 23:36] #1323 closed, assigned to nobody

[2020-04-24 23:37] jeremyphilemon commented on #1325
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-24 23:37] #1325 closed, assigned to nobody

[2020-04-24 23:39] jeremyphilemon commented on #1339
This sounds good, you can use react-tooltip already present to get this working. A hover over the labels would ideally present this info.

[2020-04-24 23:39] jeremyphilemon commented on #1344
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-24 23:39] #1344 closed, assigned to nobody

[2020-04-24 23:40] jeremyphilemon commented on #1353
Fixed.

[2020-04-24 23:40] #1353 closed, assigned to nobody

[2020-04-24 23:41] jeremyphilemon commented on #1359
You can access the sheets over at http://patientdb.covid19india.org/

[2020-04-24 23:41] #1359 closed, assigned to nobody

[2020-04-24 23:41] jeremyphilemon commented on #1361
/claim

[2020-04-24 23:44] jeremyphilemon commented on #1365
This is already present in the homepage.

[2020-04-24 23:44] #1365 closed, assigned to nobody

[2020-04-24 23:44] jeremyphilemon commented on #1362
This will be addressed in #1496

[2020-04-24 23:44] #1362 closed, assigned to nobody

[2020-04-24 23:46] jeremyphilemon commented on #1374
Closing cause addressed in #887

[2020-04-24 23:46] #1374 closed, assigned to nobody

[2020-04-24 23:47] jeremyphilemon commented on #1382
Closing cause no elaboration.

[2020-04-24 23:47] #1382 closed, assigned to nobody

[2020-04-24 23:47] jeremyphilemon commented on #1427
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-24 23:47] #1427 closed, assigned to nobody

[2020-04-24 23:48] jeremyphilemon commented on #1412
Closing in favor of #1496

[2020-04-24 23:48] #1412 closed, assigned to nobody

[2020-04-24 23:50] jeremyphilemon commented on #1439
Can you provide an example link for a proof of concept, please? :)

[2020-04-24 23:52] jeremyphilemon commented on #1445
Relevant #1199

[2020-04-24 23:52] #1445 closed, assigned to nobody

[2020-04-25 00:04] jeremyphilemon commented on #1494
I'm getting redirected to https://gujcovid19.gujarat.gov.in/uploads/pressbrief2304232020085856435.pdf. Seems to working fine. Thanks :)

[2020-04-25 00:04] #1494 closed, assigned to nobody

[2020-04-25 00:05] jeremyphilemon commented on #1484
Relevant #528

[2020-04-25 00:05] #1484 closed, assigned to nobody

[2020-04-25 00:06] jeremyphilemon commented on #1503
Duplicate of #967

[2020-04-25 00:06] #1503 closed, assigned to nobody

[2020-04-25 00:12] jeremyphilemon commented on #1483
@srikoushik looks like you have to install Xcode's CLI tool to download fsevents. Try `brew install fsevents`.

@ShadabFaiz Are you sure your cloned copy is up to date? Let me know if you are still facing issues.

[2020-04-25 00:26] #1472 closed, assigned to Abhinav-Mani

[2020-04-25 00:38] #1473 closed, assigned to nayakrahul

[2020-04-25 01:22] #1430 closed, assigned to nobody

[2020-04-25 01:24] #866 closed, assigned to kousiksatish

[2020-04-25 01:39] jeremyphilemon commented on #1500
dei /claim

[2020-04-25 01:40] jeremyphilemon commented on #1500
Ayy thanks :3

[2020-04-25 01:44] jeremyphilemon opened #1508 "Automate process to get all translatable strings from the website"
We're in need of an automated process to get the strings from the website. If this can be done, these strings then can be used to create locales.json (aiming to crowdsource translations in as many languages possible).

PR #432 handles and supports localization in the codebase. However, we chose not to use google translate due to bad translations, hence the need for scraping.

Feel free to discuss

[2020-04-25 01:48] jeremyphilemon opened #1509 "Roadmap now available! 🎉"
You can view it [here](https://github.com/covid19india/covid19india-react/projects/1?fullscreen=true).

[2020-04-25 01:55] jeremyphilemon commented on #468
Also roadmap has just been put up! https://github.com/covid19india/covid19india-react/projects/1?fullscreen=true

[2020-04-25 02:16] jeremyphilemon commented on #1192
@lakshmi14 I've assigned you to this. We're currently showing this data in demographics. Instead of adding it in deep dive, do you think it would be possible to add this in demographics instead and dynamically calculate the visual summary when the filters are applied?

Head to demographics > Choose modes of transmission

[2020-04-25 02:20] jeremyphilemon commented on #1372
This can be used to replace the current breadcrumbs and also add the requested functionality above https://primer.style/components/Breadcrumbs

Essentially the breadcrumbs would look like:
Home > State > State/UT Name

Reply with /claim to have this assigned to you.

[2020-04-25 02:30] jeremyphilemon commented on #1040
Reply with /claim to have this issued assigned to you.

cc @sudevschiz, can we add the zones to the sheet → api?

[2020-04-25 02:32] jeremyphilemon commented on #996
@vamshikilari Sure, go ahead :)

[2020-04-25 02:44] jeremyphilemon commented on #1499
Whoever claims this, please describe the strategy you would be using to tackle this :)

[2020-04-25 02:51] jeremyphilemon commented on #261
@vandanachandola would you like to revive this?

[2020-04-25 02:54] jeremyphilemon commented on #528
Closing in favor of #135

[2020-04-25 02:54] #528 closed, assigned to nobody

[2020-04-25 03:08] jeremyphilemon commented on #1275
Closing this to redirect everyone here to an earlier relevant issue, please discuss this in #1084

I'm aware this mentions it for state, but I'd like this to start at state level and iterate to district :)

[2020-04-25 03:08] #1275 closed, assigned to nobody

[2020-04-25 03:20] jeremyphilemon commented on #1084
@seabbs @gauravbgp @praveentiru

Apologies for the delay in getting back to this issue. This is an imperative statistic as learnt from the above discussion, and rt.live has visualized it very well. We can do the same too, however, for someone who gets confused with a lot of numbers, I'd really appreciate a simple summary on the status of this issue, and how much accurate we are/can be with the dat

[2020-04-25 03:36] jeremyphilemon commented on #1188
Are these classification points announced by the government, I'm unable to view the source at https://economictimes.indiatimes.com/news/politics-and-nation/govts-plan-to-contain-local-outbreak-is-yielding-results-lav-agarwal/articleshow/75159535.cms

[2020-04-25 03:38] jeremyphilemon commented on #1222
@strikertanmay Instead of applying the left padding, can we show "Yesterday" on the right of the graph instead?

[2020-04-25 03:41] jeremyphilemon commented on #1233
Need suggestions on how we can solve this, when the widths are set to the size of the content, the widths vary and can even get longer resulting in all of them aligned vertically, making it obstruct the page even more since are filters are stickied above.

[2020-04-25 03:42] jeremyphilemon commented on #1236
This will be addressed in #1496

[2020-04-25 03:42] #1236 closed, assigned to nobody

[2020-04-25 03:44] jeremyphilemon commented on #1217
Thanks for raising the feature request, we can add this line to the current timeseries graphs when we choose 1 week. Will mark this open for contributors :)

[2020-04-25 03:49] jeremyphilemon commented on #1273
Will be addressed by #1477

[2020-04-25 03:49] #1273 closed, assigned to nobody

[2020-04-25 03:52] jeremyphilemon commented on #1300
Addressed in #812

[2020-04-25 03:52] #1300 closed, assigned to nobody

[2020-04-25 03:52] JunaidBabu commented on #1500
Sounds good. Making this issue /available

[2020-04-25 03:53] triedcatched commented on #1500
me /claim

[2020-04-25 03:53] jeremyphilemon commented on #1312
Addressed by #1477

[2020-04-25 03:53] #1312 closed, assigned to nobody

[2020-04-25 03:58] jeremyphilemon commented on #1322
So for starters, let's start with showing the "add to homescreen" banner. If there's anything else we can add to this and use the power of PWAs to extend a functionality, please feel free to open a new issue addressing that.

[2020-04-25 04:03] jeremyphilemon commented on #1324
So essentially we're gonna do this like this:

Instead of having a table, we're already showing the top ~6 districts with their deltas and confirmed values. We can have a "view all" button below it to show the rest of the values. The rest of the values would then wrap column wise, pushing the bar graph below :)

[2020-04-25 04:06] jeremyphilemon commented on #1332
Looks like this has been sorted out in our codebase :P

[2020-04-25 04:06] #1332 closed, assigned to nobody

[2020-04-25 04:07] jeremyphilemon commented on #1400
Closing in favor of #1417, let's track the issue there :)

[2020-04-25 04:07] #1400 closed, assigned to nobody

[2020-04-25 04:08] jeremyphilemon commented on #1402
I feel the visual summary would be enough for this instead of knowing the exact values. Thanks for raising the issue anyway :)

[2020-04-25 04:08] #1402 closed, assigned to nobody

[2020-04-25 04:09] jeremyphilemon commented on #1405
Closing in favor of #1496

[2020-04-25 04:09] #1405 closed, assigned to nobody

[2020-04-25 04:11] jeremyphilemon commented on #1409
A cutoff line makes sense, however would require verifiable data on the number of beds. Please refer to #803

[2020-04-25 04:11] #1409 closed, assigned to nobody

[2020-04-25 04:26] jeremyphilemon commented on #1425
Addressed in #1496, keeping this open for discussion.

[2020-04-25 04:44] jeremyphilemon commented on #1386
Most of these are fixed. Feel free to open a new issue if some functionalities were still no fixed.

[2020-04-25 04:44] #1386 closed, assigned to nobody

[2020-04-25 04:48] jeremyphilemon commented on #1240
Addressed by #967

[2020-04-25 04:49] #1240 closed, assigned to nobody

[2020-04-25 05:17] mayankbhagya commented on #803
Thanks Jeremy.

[2020-04-25 05:34] karankiri commented on #1372
/claim I would love to work on this

[2020-04-25 05:43] kousiksatish opened #1510 "Toggle selection button for "States - Growth Trend" chart"
**Is your feature request related to a problem? Please describe.**
Toggle selection button for "States - Growth Trend" chart also similar to "Total Cases By State" chart. Same as #836  which I had earlier worked on.
If I want to compare only two or three certain states in this graph, I have to make multiple clips to deselect each state one by one.

**Describe the solution you'd like**
Add toggle s

[2020-04-25 05:43] kousiksatish commented on #1510
I would like to work on this issue.

[2020-04-25 05:53] strikertanmay commented on #1222
By considering your given option there will be chances that it can overlap with "confirmed" or with dates. That's why I think padding is the best and safest option.
Please tell if I'm wrong or you have any more approach

[2020-04-25 05:58] ninjakx commented on #812
@jeremyphilemon: I would like to. I have just started working on dc.js and d3.js 2-3 weeks ago. I don't know how much time it will take with this data. Also, I can't find state district historical data. Do you have api for that also? I can see the api for the current one.

[2020-04-25 06:03] pavanmehta91 commented on #1391
@jeremyphilemon can you guide me here?

[2020-04-25 06:05] shuklaayush commented on #1391
@pavanmehta91 Seems like we don't have district-level time-series data in the API. I'm putting this on hold for now. Will make it available when the data is added

[2020-04-25 06:08] shuklaayush commented on #1500
/available

[2020-04-25 06:09] shuklaayush commented on #1500
Nice, let me /claim

[2020-04-25 06:25] plibither8 commented on #1499
The main issue here is poor contrast between the background and states with darker colour (lesser number of cases/deaths/etc.). Increasing border brightness might help.

In general I feel contrast around the entire website is lacking in dark mode that will definitely hinder accessibility.

[2020-04-25 06:26] jeremyphilemon commented on #1488
Will reopen this again separately.

[2020-04-25 06:26] #1488 closed, assigned to nobody

[2020-04-25 06:27] jeremyphilemon opened #1511 "Search in home page freezes"
**Describe the bug**
Search bar gets hang while finding something

**To Reproduce**
Steps to reproduce the behavior:

Go to 'Home Page'
Click on 'Search'
Start Typing
See error
Play around with the search, at some point it'll start to lag, and then hand completely.

**Expected behavior**
Search Bar should work properly without hanging.

###### Originally issued by #1488

[2020-04-25 06:30] sudokoi commented on #1393
Since @ShubhamOnGrid was taking too long, I have fixed the issue and raised a PR.

[2020-04-25 06:38] chinmaydalvi commented on #1511
/claim

[2020-04-25 06:41] jeremyphilemon opened #1514 "Testing mod script"

[2020-04-25 06:41] jeremyphilemon commented on #1514
/available

[2020-04-25 06:42] #1514 closed, assigned to nobody

[2020-04-25 06:43] lakshmi14 commented on #1192
Sounds good. Will do it , Thanks :)

Have a question on do you want me to keep the pie chart in demographics ? As I think its already been assigned in Network of Transmission - Additions #1314  to someone.

[2020-04-25 06:48] keshank commented on #1439
@jeremyphilemon  sure.

Link for Shortcut for covid cases in India

https://www.icloud.com/shortcuts/ca76f1b11620441b89e701ea4f22b98f

Link for shortcut for covid cases in Gujarat

https://www.icloud.com/shortcuts/f6b33c05d57e4ec884c96ca385044938

**How to install :-**

1. Click on the link directly from your iPhone or iPad. this will open the shortcut in shortcut app
2. Scroll down to the bottom

[2020-04-25 06:48] kousiksatish commented on #1324
I would like to /claim this

[2020-04-25 06:55] lakshmi14 commented on #1192
Also will the below alignment issue along with this 👍

![image](https://user-images.githubusercontent.com/7721961/80273470-e2e22a80-86ef-11ea-8f52-c5cb779ab795.png)

[2020-04-25 07:02] goutamenara opened #1516 "Racing Bar Charts"
Hi,
I have made racing bar charts for Statewide Active as well as Confirmed cases. If found useful you can embed it to the website.
These are the links
Confirmed Cases : https://public.flourish.studio/visualisation/2085764/
Active Cases : https://public.flourish.studio/visualisation/2087477/

[2020-04-25 07:08] BhaveshSGupta commented on #787
@jeremyphilemon, We need to add source URL into https://api.covid19india.org/updatelog/log.json, afaik this api is used to manage update. All data is coming from google doc where sources are mentioned. So we can't add sources from there?

[2020-04-25 07:14] keshank commented on #1408
@jeremyphilemon I have fixed it on my local

![Untitled](https://user-images.githubusercontent.com/63340632/80273729-787eb980-86f2-11ea-9033-4d85ac76d887.png)

[2020-04-25 07:17] iamrajee opened #1517 "Latest update notification bell/icon shows wrong date"
**Describe the bug**
Pressing latest update bell on home page thrice(and thereafter) shows the wrong date.
**Note:** _I observed this bug at 02:35 hour on 25/4/2020. It seems we can only observe this bug at very begging of the day when a new date is included with no update yet._

**To Reproduce**
1. Go to home [page](https://www.covid19india.org/)
3. There is a bell icon below the search bar, pres

[2020-04-25 07:32] kousiksatish commented on #1324
@jeremyphilemon When I do it as you suggested, there are lot of columns of districts which actually mess the view
![Screen Shot 2020-04-25 at 1 15 22 PM](https://user-images.githubusercontent.com/6641694/80274283-e4632100-86f6-11ea-914f-9f662175d275.png)
![Screen Shot 2020-04-25 at 1 15 17 PM](https://user-images.githubusercontent.com/6641694/80274284-e7f6a800-86f6-11ea-96c4-1f9e0ce5e56e.png)

I h

[2020-04-25 07:32] jeremyphilemon commented on #1192
A pie chart will be fine for now.

I don't think #1314 is working on a pie chart, they're referring to the network map in state pages.

We've actually kept the alignment issue on hold at #1233, would like a discussion before making it available!

Let me know if you have any more questions :)

[2020-04-25 07:40] aamir200 commented on #1359
Issue is not solve you guys are closed the ticket may I know why?

1st check this site is updating the data or not and then tell others
Duplicate of # http://patientdb.covid19india.org/

[2020-04-25 07:41] aamir200 opened #1518 "Access database issue it frozen (#1359)"
issue #1359 is not solved and you guys are closed the ticket may I know why?

1st check this site is updating the data or not and then tell others
Duplicate of # http://patientdb.covid19india.org/

[2020-04-25 07:43] vandanachandola commented on #261
yes, i'll be on it!

[2020-04-25 07:49] lakshmi14 commented on #1192
ok @jeremyphilemon  Thanks for your clarification , I will work on it.. Also if you have any suggestions on where you want to place it , you can go ahead and suggest.

[2020-04-25 07:50] jeremyphilemon commented on #1517
/available

[2020-04-25 08:37] raxhvl commented on #1511
@chinmaydalvi issue is same as #1486 (assigned to me) & #1488

[2020-04-25 08:51] karankiri commented on #1372
@jeremyphilemon I've attached screenshot for desktop and mobile view for both the modes. Please let me know if any changes required.
![localhost_3000_state_MH(iPhone 6_7_8) (1)](https://user-images.githubusercontent.com/19989161/80275531-77a05480-86ff-11ea-8dc3-46cfaafd9e2b.png)
![localhost_3000_state_MH(iPhone 6_7_8)](https://user-images.githubusercontent.com/19989161/80275532-796a1800-86ff-11ea-

[2020-04-25 08:56] Sanskar95 commented on #1517
/claim

[2020-04-25 09:05] ShubhamOnGrid commented on #1393
@tsuki42 Go ahead, I also have same changes for the fix.

[2020-04-25 09:54] strikertanmay commented on #1322
We can do many kinds of stuff to promote PWAs. This article https://web.dev/promote-install/ will help us to explore other ways as well.

[2020-04-25 09:58] soumiknandi opened #1524 "Navbar UI Issue"
**Describe the bug**
On hovering mouse over navbar, it changes to 2 column view.

**Expected behavior**
There is enough space to fit both the map and the table, yet its not visible when the navbar is not expanded, and visible when it is expanded.

![ezgif-6-e7e712cf8739](https://user-images.githubusercontent.com/23258575/80276913-3b71f180-8709-11ea-9239-87fb6ba182b5.gif)

**Desktop**

- OS: Linux

[2020-04-25 10:14] nayakrahul commented on #1380
Hey @jeremyphilemon, the PR for this issue has been merged. Should the issue be closed?

[2020-04-25 10:17] #1380 closed, assigned to nayakrahul

[2020-04-25 10:25] bootleg-icarus commented on #1188
I too am unable to find the source of those rules provided by economic times but I did find sort of [guidelines released by govt to identify hotspots](https://pib.gov.in/PressReleasePage.aspx?PRID=1616084).
I suspect locking down a district is more nuanced than 4 simple rules. For example, if the number of cases rise from 1 to 2 (doubled in 4 days), is that still a hotspot?
We probably won't be ab

[2020-04-25 10:26] rajkapadia247 opened #1525 "White screen shows up with console errors if an invalid state code entered in URL"
**Describe the bug**
If I try to reach https://www.covid19india.org/state/MH, I am navigated to Maharashtra's page.
However, if I try to reach https://www.covid19india.org/state/mh or https://www.covid19india.org/state/xyz I see a white screen. For the former, I should be redirected to Maharashtra's page and for the latter I should be navigated to the Home page.

**To Reproduce**
Steps to reproduc

[2020-04-25 10:35] rajkapadia247 commented on #1525
/claim

[2020-04-25 10:39] nayakrahul opened #1526 "State page not working when state code is in lower cases or mix of upper and lower cases"
**Is your feature request related to a problem? Please describe.**
Suppose a person directly types in the url to visit a state page and he types the state code correctly but in lower cases, it should work.

**Describe the solution you'd like**
Solution is to convert the statecode params in state component to upper case before seeking for state data.

**Additional context**
Normal
![Screenshot (42)

[2020-04-25 10:39] nayakrahul commented on #1526
Assign me please if it becomes available :P

[2020-04-25 10:46] Binu42 commented on #1524
@jeremyphilemon assign it to me if it's get available
@soumiknandi can you tell about which system you are using and what is your screen size ? because i am also using linux and chromium browser, no situation like this is happening..
/claim

[2020-04-25 10:47] chinmaydalvi commented on #1511
@ravindranrahul Yes But will fix this.

[2020-04-25 10:55] #1526 closed, assigned to nobody

[2020-04-25 11:16] shuklaayush opened #1527 "Last updated time overlaps with the visit state button"
**Describe the bug**
Last updated time overlaps with the visit state button on switching the map if the mouse is hovered to a different state before the map is able to change.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on any state on the map
2. Swiftly move the mouse to any other state before the map changes

**Expected behavior**
The last updated time should not be shown on sta

[2020-04-25 11:16] shuklaayush commented on #1527
/available

[2020-04-25 11:17] shuklaayush commented on #1527
/claim

[2020-04-25 11:18] srikoushik commented on #1483
@jeremyphilemon Yeah, `npm i fsevents` resolved my issue.

[2020-04-25 11:22] soumiknandi commented on #1524
Model : Lenovo G50-80
product: HD Graphics 5500
vendor: Intel Corporation
physical id: 2
bus info: pci@0000:00:02.0
version: 09
width: 64 bits
clock: 33MHz
capabilities: msi pm vga_controller bus_master cap_list rom
configuration: driver=i915 latency=0
resources: irq:48 memory:c0000000-c0ffffff memory:b0000000-bfffffff ioport:4000(size=64) memory:c0000-dffff
resolution : 1366 x 768 (16:9)
screen s

[2020-04-25 11:29] #1527 closed, assigned to shuklaayush

[2020-04-25 11:38] Binu42 commented on #1524
@soumiknandi thanks, for all the information you shared. yeah, this problem is happening in this screen resolution. waiting for assignment @jeremyphilemon

[2020-04-25 12:12] nayakrahul opened #1529 "Recovery rate timeseries chart in deep dive"
**Is your feature request related to a problem? Please describe.**
A timeseries chart representing recovery rate ((total_recovered/total_confirmed)*100) in each day. This will provide insights about how much percentage are recovered. We can celebrate the day when it reaches maximum.
Now it is increasing and has reached 20%.
https://www.thehindu.com/news/national/coronavirus-indias-covid-19-recover

[2020-04-25 12:17] raxhvl commented on #1511
Sure this is what i found, in search.js the following two block is recursive.
[code]
____
`essentialsEngine.search(searchInput, essentialsSync, essentialsAsync);
`

[Function Reference](https://github.com/twitter/typeahead.js/blob/master/doc/bloodhound.md#bloodhoundsearchquery-sync-async)

[2020-04-25 12:41] sudevschiz commented on #1527
Lol

[2020-04-25 12:45] nayakrahul commented on #1233
@jeremyphilemon can we implement multi-level dropdown to solve this problem?
https://mdbootstrap.com/snippets/jquery/mdbootstrap/949080

[2020-04-25 12:49] itsplavika commented on #1486
The same issue is happening on chrome Mac as well, the page becomes unresponsive
<img width="1680" alt="Screenshot 2020-04-25 at 6 18 20 PM" src="https://user-images.githubusercontent.com/29068720/80280366-4173cc80-8721-11ea-992c-0d65c1eb6c41.png">

[2020-04-25 13:53] nayakrahul opened #1531 "Remove arrow icon in total row in table"
**Is your feature request related to a problem? Please describe.**
The arrow icon in total row in table has no significance. It should be removed

**Describe the solution you'd like**
when the total props is true in row component, we will not show the arrow icon.

![Screenshot (46)_LI](https://user-images.githubusercontent.com/11428805/80281657-556ffc00-872a-11ea-84e5-bb474c070657.jpg)

[2020-04-25 13:53] nayakrahul commented on #1531
please assign it to me if it becomes available.

[2020-04-25 14:11] jeremyphilemon commented on #1525
/available

[2020-04-25 14:14] kushal813 opened #1533 "State row should show up in a separate color(possibly green) when there are no active cases for that state"
**Is your feature request related to a problem? Please describe.**
For states where there are no active COVID cases should be highlighted

**Describe the solution you'd like**
The state should be highlighted in green color

**Describe alternatives you've considered**
None

**Additional context**
<img width="1306" alt="Screenshot 2020-04-25 at 7 43 28 PM" src="https://user-images.githubusercontent.

[2020-04-25 14:14] kushal813 commented on #1533
/claim

[2020-04-25 14:17] nikita-11 commented on #1486
@ravindranrahul Are you working on this? This is a critical fix. Will need to add it soon.

[2020-04-25 14:19] nikita-11 commented on #1486
Else we planned to disable search bar functionality for a while. If possible, Let me know the updates on this.

[2020-04-25 14:31] kushal813 commented on #1531
/claim

[2020-04-25 14:34] kushal813 commented on #1531
@jeremyphilemon Could you please assign this to me?

[2020-04-25 14:52] nikita-11 commented on #873
@aswaathb Can you check it now? Data refining has been done.

[2020-04-25 14:55] nikita-11 commented on #1168
@limshark Hi. This was a useful suggestion. We are looking into it from data end. Meanwhile, a few volunteers have been working on remote consultation platform as well. So it will be up as a separate platform soon.

[2020-04-25 15:26] #887 closed, assigned to shuklaayush

[2020-04-25 15:26] #1301 closed, assigned to shuklaayush

[2020-04-25 15:27] raxhvl commented on #1486
Yes, am working on this, meanwhile can we hotfix this by disabling search?

[2020-04-25 15:33] raxhvl commented on #1486
It would be ideal if we merge #1532 and i can add the fixes on this page too.

[2020-04-25 15:33] hp1207 opened #1535 "Add "No. Of Days since last positive" by district/state in main grid"
Adding number of days since last positive for each district will give insights on how districts are performing about handling COVID situation.

[2020-04-25 15:36] nayakrahul opened #1536 "Width of timeseries graph in state page is 100% for mobile devices"
**Describe the bug**
Width of timeseries graph in state page is 100% for mobile devices. It should look same as that in homepage.

**To Reproduce**
Steps to reproduce the behavior (mobile device):

1. Go to State page of any state
2. Scroll down to timeseries graph
3. See that the width is 100% of the screen.

**Expected behavior**
Styling should be same as that of timeseries graph in homepage.

*

[2020-04-25 15:42] shuklaayush commented on #1535
It's in the pipeline. Refer #1496

[2020-04-25 15:42] #1535 closed, assigned to nobody

[2020-04-25 15:42] nayakrahul commented on #1536
It can be solved by wrapping everything related to timeseries graphs (header, modes, charts, pills) in TimeSeriesExplorer div like in homepage. It should solve the issue.

[2020-04-25 15:45] zephy20 commented on #1322
/claim

[2020-04-25 15:51] datmemerboi opened #1537 "state is-odd highlight is not visible in Dark Mode"
**Issue**
The highlight of an is-odd row in the states table is not visible in dark mode.

**Steps**
1. On home page, switch to dark mode.
2. Mouse hover over any state on the map.
3. While the details highlight for odd rows (in the state table), the highlight (color difference) for even rows isn't visible.

**Expected behavior**
There must be a clearer distinction between the highlight bg-color a

[2020-04-25 15:51] strikertanmay commented on #1256
/claim

[2020-04-25 15:53] jaibatrik opened #1538 "Timeseries scale modes are not persisted for state pages"
**Describe the bug**
The switches for scale mode for time-series **on the state pages** keep resetting on refreshing the page or when re-opening the page. I have to change them according to my preference over and over.

*Note: This issue was fixed for the home page time-series via #904. Same changes can be done for the state page as well.*

**To Reproduce**
Steps to reproduce the behavior:

1. Go

[2020-04-25 15:54] strikertanmay commented on #1256
@jeremyphilemon @shuklaayush  I thought a pie chart is a good option for this. Any thoughts or suggestions?

[2020-04-25 16:06] shubhamjain2998 commented on #1217
I would like to work on this. /claim

[2020-04-25 16:13] #1538 closed, assigned to jaibatrik

[2020-04-25 16:52] raktim47 opened #1540 "U have some problem. The covid cases is 0 in jorhat district of Assam. Instead those 8 confirmed are from golaghat district. Kindly correct it"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-25 17:22] himanshumehta1114 opened #1541 "Add district wise numbers for Active, Recovered and Deceased."
**Is your feature request related to a problem? Please describe.**
Right now districts under states have only confirmed numbers but don't show Active, Recovered and Deceased numbers.
<img width="480" alt="Screenshot 2020-04-25 at 10 49 51 PM" src="https://user-images.githubusercontent.com/25463496/80286105-1e5c1380-8747-11ea-8ce1-61f515188275.png">

**Describe the solution you'd like**
We can add

[2020-04-25 17:33] Abhishekbhatia opened #1543 "Trending graph for daily cases in a district"
**Is your feature request related to a problem? Please describe.**

The information for number of cases in a district is shown for the present date only. It would be good to show the trend of cases in a line or bar graph for the number of cases reported in a district in the past. Monthly and 2-week graphs could be toggled just like the present functionality

**Describe the solution you'd like**

L

[2020-04-25 17:45] KaustubhDamania commented on #1504
I would like to work on this issue so I request one of the maintainers to assign me this issue so that I can submit a PR for the same

[2020-04-25 17:47] shuklaayush commented on #1543
Duplicates #1391

[2020-04-25 17:47] #1543 closed, assigned to nobody

[2020-04-25 17:48] nayakrahul commented on #1324
How about implement a carousel for it? Partition all the districts and view them by using carousel.

[2020-04-25 17:52] jeremyphilemon opened #1544 "Dynamically set height of css grid when districts are expanded"
**Describe the bug**
![Untitled copy](https://user-images.githubusercontent.com/17938322/80286793-1b0c5c00-8736-11ea-90b2-20868f9dfd59.png)

The districts on expansion have a grid rule attached to it, however, due to a fixed height the width overflows. The workaround is using scroll to handle the overflow.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any Uttar Pradesh state page
2.

[2020-04-25 17:53] jeremyphilemon commented on #1544
/available

[2020-04-25 17:53] #1324 closed, assigned to kousiksatish

[2020-04-25 17:57] jeremyphilemon commented on #1486
@ravindranrahul

Use the inbuilt useDebounce hook which is already defined in react-script - @chinmaydalvi

[2020-04-25 17:58] faisal3389 opened #1545 "Create a build using webpack and do treeshaking to reduce the size of the build"
**Is your feature request related to a problem? Please describe.**
There are many places in the code where we are importing all the modules from the dependent library, even the ones which are not required. Eg:
import * as d3 from 'd3';
import * as Icon from 'react-feather';
import * as topojson from 'topojson';

here 'import *' imports all the modules which will bloat the size of the application.

[2020-04-25 17:59] himanshumehta1114 commented on #1541
[https://api.covid19india.org/state_district_wise.json](https://api.covid19india.org/state_district_wise.json)
District records with deltas' are available. So I can implement this

[2020-04-25 18:03] #1511 closed, assigned to chinmaydalvi

[2020-04-25 18:24] nayakrahul commented on #1544
/claim

[2020-04-25 18:46] shuklaayush commented on #1541
@himanshumehta1114 We're cleaning up the data for districts. I'm putting this on hold until that's done.

[2020-04-25 19:04] himanshumehta1114 commented on #1541
@shuklaayush cool thanks, can you assign the issue to me?

[2020-04-25 19:37] bootleg-icarus commented on #1040
/claim

[2020-04-25 19:54] #1372 closed, assigned to karankiri

[2020-04-25 20:15] #1486 closed, assigned to raxhvl

[2020-04-25 20:24] shuklaayush commented on #1499
/claim

[2020-04-25 20:35] #1499 closed, assigned to shuklaayush

[2020-04-25 20:40] bootleg-icarus commented on #135
Are you thinking of adding a separate map with a date slider or replacing the date on home page with a slider and displaying changes on the choropleth map of India?

We could add this in the homepage but, it's already a bit congested, especially on mobile. ( the date component would either have to move or a new component would need to be added to be able to see it with the map in the same screen )

[2020-04-25 20:41] aswaathb commented on #873
@nikita-11 Yeah I think the refining sorted out this issue.

@jeremyphilemon Issue has been resolved, closing  it.

[2020-04-25 20:41] #873 closed, assigned to nobody

[2020-04-25 20:54] aswaathb commented on #135
I'd like to /claim this

[2020-04-25 21:04] bootleg-icarus commented on #1040
I assumed I'll be able to find tehsil (sub- district) level data for each state. In my mind that's the only useful data for any sort of economic planning. The district level data would lead to a solution that currently is already up on the website ( instead of different colors, it's different shades of the same color. but the key take away is the same ).
This level of detailed data is available fo

[2020-04-25 21:11] jeremyphilemon commented on #1540
Please report data discrepancies in this form https://forms.gle/7NRSrbspW2a6pbm58, thanks :)

[2020-04-25 21:11] #1540 closed, assigned to nobody

[2020-04-25 21:27] jeremyphilemon commented on #1536
@nayakrahul exactly, you got that right! Making this /available.

[2020-04-25 22:02] nayakrahul commented on #1536
/claim

[2020-04-25 22:50] Binu42 opened #1551 "Toggle switch styling in dark mode"
**Describe the bug**
toggle switches on demographics and home page is not good enough in dark mode. it doesn't show toggling effect in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
go to https://www.covid19india.org/ then scroll down near graphs and try to toggle switches in dark mode.

**Expected behavior**
it should show some toggling effect in background.

**Screenshots**
![swit

[2020-04-25 23:15] imohitkr opened #1553 "Please add percentage information to atleast India level numbers."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-26 01:44] praveentiru commented on #1084
@jeremyphilemon Thanks for the reply. The current state is that @gauravbgp has implemented rt.live model from which he has built a site for India [covidrt.in](http://covid19rt.in/). @seabbs belongs to a team base at London School of Hygiene and Tropical Medicine. They manage site [Epiforecasts](https://epiforecasts.io/aboutus/) where they track epidemics. He believes that there are flaws in model

[2020-04-26 01:48] praveentiru commented on #1084
@seabbs @gauravbgp looks like there is a model update from [rt.live](https://rt.live/) on 23rd April.

[2020-04-26 01:50] jeremyphilemon commented on #1553
Could you please elaborate on what percentage information?

[2020-04-26 02:35] #1536 closed, assigned to nayakrahul

[2020-04-26 02:54] jeremyphilemon opened #1556 "Add a positive indicator for states that hasn't had new confirmed cases the past five days"
**Is your feature request related to a problem? Please describe.**
Yes, currently bar graphs for states who did not have any new confirmed cases show no data.

<img width="75%" alt="Screen Shot 2020-04-26 at 5 41 06 AM" src="https://user-images.githubusercontent.com/17938322/80296260-05248880-8782-11ea-963f-471e17a7b7ce.png">

**Describe the solution you'd like**
Instead we can show this:

<img wi

[2020-04-26 02:54] jeremyphilemon commented on #1556
/available

[2020-04-26 03:01] jeremyphilemon opened #1557 "Use TimeSeriesExplorer component in state pages."
**Is your feature request related to a problem? Please describe.**
Currently, home.js adds timeseries by adding the component `<TimeSeriesExplorer>` which contains the header and controls to operate the timeseries graphs. However, this is not the case in state pages, we're adding `<TimeSeries>` directly and rewriting the contents of `<TimeSeriesExplorer>` again over here.

**Describe the solution

[2020-04-26 03:01] jeremyphilemon commented on #1557
/available

[2020-04-26 03:04] gyanendrapatro commented on #1433
And also if we put under demographic then people would think that the download content fk demographic page but we need content from main page all the detail right.like active and all.

[2020-04-26 03:22] imohitkr commented on #1553
Like percentage of death in all cases , percentage of people cured out of all cases , percentage of death among closed cases e.t.c

[2020-04-26 03:36] karankiri commented on #1556
/claim would love to work on this

[2020-04-26 03:36] gyanendrapatro commented on #1433
@jeremyphilemon could you please let me know where is the best place to put it.

[2020-04-26 03:40] karankiri commented on #1533
/claim Would like to work on this

[2020-04-26 03:43] jeremyphilemon commented on #1433
@gyanendrapatro I guess you're right. How are you planning on adding this feature? And how different would it be from generating a PDF normally by selecting "Save as" or under the "Print as PDF" option?

@chaha0s How exactly should the PDFs be formatted so that an option to allow for that is required?

Right now json and csv formats are possible. I'm curious to know which use cases would require a

[2020-04-26 04:15] jaykishanparikh opened #1558 "Search text box without border in white color background is very difficult to find (mobile)"
**Describe the bug**
Home Page search text field is the most important input parameter. Without border this text box is very difficult to find. Especially on iPhone safari

**To Reproduce**
Adding a border will help to identify this field.

**Expected behavior**
Should have border to easy identification

**Screenshots**
![IMG_3355](https://user-images.githubusercontent.com/17736902/80297644-50fa20

[2020-04-26 04:16] jaykishanparikh commented on #1558
Kindly assign this issue to me. Easy and quick fix.

[2020-04-26 04:19] jeremyphilemon opened #1559 "Use stylelint instead of sass-lint"
sass-lint is not actively being developed on and stopped maintenance in 2017, hence the switch.

[2020-04-26 04:25] shouviksmazumdar opened #1560 "Growth Rate"
Growth rate is an important metric that everyone would love to track

- Day to Day growth Rate
- Rolling 7 days growth rate
- Doubling Rate
- Progression of Doubling Rate
- Prediction of numbers in the next 30 days

All these can be calculated from the data source.

If you accept PR from public , I can volunteer to write this quick snippet. If you have already started working in this , it is helpf

[2020-04-26 04:25] chaha0s commented on #1433
@jeremyphilemon I think the PDF can include sitename , a timestamp and the main data table.
When saving the pdf using print option, the formatting isn't proper.
I can see map of India divided into two pages.
The use case. I can't think of anything much. Just a normal user ( not a dev ) who wants to save data ?
This can be marked as low priority.

[2020-04-26 04:26] jaykishanparikh commented on #1558
**Fix**
Filename - App.scss
Line number : 948
border :1;

[code]
**After Fix on my local**
<img src="https://user-images.githubusercontent.com/17736902/80297823-2c06ad00-87ca-11ea-8487-b72bf028c52f.png">

[2020-04-26 04:28] jeremyphilemon commented on #1558
@jaykishanparikh this is addressed in #1199. The search input field has a box-shadow property that's probably not getting rendered in unsupported browsers. Can you let us know what browser/os you're experiencing this bug on?

[2020-04-26 04:29] jaykishanparikh commented on #1558
@jeremyphilemon  This is on iphone safari

[2020-04-26 04:41] jeremyphilemon commented on #1558
So `box-shadow` is supposed to be supported by safari/iOS, I feel it'd be better to retain the box-shadow by figuring out what the problem might be rather than adding a border, because if the border is added now and some safari browsers are rendering both, then it'd be another issue of choosing either one.

Opening this up for a potential fix that'll retain the box-shadow property.

<img width="10

[2020-04-26 04:52] ThePiyushGupta commented on #1545
We can use webpack to build the js bundle through it . It is very easy but involves some manual verification . The documentation is descriptive enough https://webpack.js.org/guides/tree-shaking/ .

[2020-04-26 04:55] ThePiyushGupta commented on #1545
/claim

[2020-04-26 05:22] gyanendrapatro commented on #1433
Yes I guess the print as pdf shows every information not sure what information extra which needs to be added as download as PDF , let me know if anything needs to be added as pdf

[2020-04-26 05:32] gyanendrapatro commented on #1433
i checked for deep dive page if the analytics report someone want to download then the pdf is not coming good its overlapping may be that needs a fix , if someone wants to download as yes it makes sense for non dev people who wants to download it as pdf may be if they dont know how they can save from website
@jeremyphilemon @chaha0s

[2020-04-26 05:37] lakshmi14 commented on #1558
/claim

[2020-04-26 05:38] lakshmi14 commented on #1558
![image](https://user-images.githubusercontent.com/7721961/80298895-28652d00-87ae-11ea-96d5-89b1693bb88f.png)

Checked in safari

![image](https://user-images.githubusercontent.com/7721961/80298910-4599fb80-87ae-11ea-9faa-6941411c3dee.png)

[2020-04-26 05:56] lakshmi14 commented on #1558
Sorry for loads of commit , had network issues creating commits. Please take #1562 for merging pull request. Thanks.

[2020-04-26 05:57] Binu42 commented on #1557
/claim

[2020-04-26 07:55] jeremyphilemon commented on #1222
@strikertanmay, I [patched](https://github.com/covid19india/covid19india-react/commit/e70b495110c17fb4fe5ccd106d6677c40d568c9el) the issue by moving them to the right, also addressing @nsjithin 's concerns.

We needed to introduce changes to the testing graph, hence I had to hijack this issue, I hope you understand :)

[2020-04-26 07:55] #1222 closed, assigned to strikertanmay

[2020-04-26 08:20] isonso opened #1566 "Incorrect deceased data for Kerala"
**Describe the bug**
Number of deceased for Kerala is 4 while actual value is 3 (as of today, 26-Apr)

**To Reproduce**
Steps to reproduce the behavior:

This is visible in the home page itself - under Kerala.

**Expected behavior**
Deceased value should be '4'. As per data in 'https://api.covid19india.org/states_daily.json', it should be 3 as well.

**Screenshots**
NA

**Desktop (please complete

[2020-04-26 08:33] harivnair opened #1567 "India map not visible in dark mode"
**Describe the bug**
On the bottom left side, on changing to night/dark mode, the India Map visibility goes away. However, mouse hover suggests elements are present.

**To Reproduce**
1.  Go to the bottom left corner.
2. Toggle to dark mode.
3. See India Map then.

**Expected behavior**
The map should visible as in light mode with a complementary theme.

**Screenshots**
<img width="1330" alt="Scre

[2020-04-26 09:08] JunaidBabu commented on #1500
/claim

[2020-04-26 09:10] JunaidBabu commented on #1500
/claim

[2020-04-26 09:12] JunaidBabu commented on #1500
/available

[2020-04-26 09:13] JunaidBabu commented on #1500
/claim

[2020-04-26 09:19] shuklaayush commented on #1567
@harivnair Thanks for reporting! It should be fixed now :)

[2020-04-26 09:19] #1567 closed, assigned to shuklaayush

[2020-04-26 09:38] dlmandalia commented on #1217
@shubhamjain2998 let me know if you need any help on calculation part.

[2020-04-26 09:48] shuklaayush opened #1569 "Use 'prefers-color-scheme' query to set dark mode"
**Describe the feature and the current behaviour/state**
As of now, dark mode setting is persisted in local storage but is still disabled by default for a new user. It would be great if the default setting can instead be based on a user's preferred colour scheme.

**Describe the solution you'd like**
Create a hook which uses the 'prefers-color-scheme' media query to set the colour mode according t

[2020-04-26 10:13] Binu42 commented on #1569
/claim

[2020-04-26 10:21] JunaidBabu commented on #1566
![image](https://user-images.githubusercontent.com/1820279/80304774-21acd900-87f3-11ea-97d8-8f8a642dc5ac.png)

[2020-04-26 11:24] Nikhiljoseph31 opened #1570 "New pie chart indicating testing and confirmed status"
**Is your feature request related to a problem? Please describe.**
A pie chart indicating asymptomatic and symptomatic, critical etc

I found this in maharashtra site

![Screenshot_20200426-165000_Twitter](https://user-images.githubusercontent.com/63017808/80306054-7003ad00-87de-11ea-81ae-75e6242d5a84.jpg)

Please triage and see if this info can be useful anywhere, deep dive or demographics.

[2020-04-26 11:48] sreetamdas commented on #1545
Doesn't create-react-app support tree shaking by default?
Also, @ThePiyushGupta are you looking at rewriting the app to use webpack? its using `react-scripts` right now, and I'd love to help with the rewrite :)

[2020-04-26 11:52] Abhishekbhatia commented on #1391
I wrote a python script to parse the data from raw_data.json and prepare the data in the form of
{ State: District:Date: Number of cases }. The sample data is as below :

`"Chhattisgarh": {
        "Rajnandgaon": {},
        "Raipur": {
            "26/03/2020": 1,
            "28/03/2020": 1,
            "31/03/2020": 1
        },
        "Bilaspur": {},
        "Durg": {},
        "Korba": {

[2020-04-26 12:12] Nikhiljoseph31 opened #1573 "Include a trend line to show with different teams lines"
**Is your feature request related to a problem? Please describe.**
Indicate a trend line for future dates indicating how the graphs will look with respect to different doubling rates

https://www.google.com/amp/s/www.theverge.com/platform/amp/2020/4/2/21201832/novel-coronavirus-covid-19-best-graphs-tracking-data

This site has such a graph.

[2020-04-26 12:12] vishwac09 opened #1574 "Feature : Deepdive Charts expanded view"
**Is your feature request related to a problem? Please describe.**
A feature request to be incorporated, allowing charts to expand in a modal for better and bigger view.

**Describe the solution you'd like**
When viewing the deepdive page, i suggest providing an option to view the corresponding Chart as expanded.
![co](https://user-images.githubusercontent.com/7726776/80307143-f3c09800-87e4-11ea-8

[2020-04-26 12:20] bee-rickey commented on #1560
Already in works. At least a basic tabular view of this should be out soon.

[2020-04-26 12:26] saberprashant opened #1575 "Style changes for Updates list on Home page"
**Describe the bug**
It's not a bug, but a UX problem. When a user clicks on bell icon for updates, then, a list opens directly which looks a little abrupt. It doesn't look good with the overall experience of the web app.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to "Home page"
2. Click on "Bell icon under Search Box"
3. "Updates list" will open abruptly.

**Expected behavior**
We

[2020-04-26 12:33] saberprashant commented on #1574
@vishwac09
This looks good, but, any thoughts on mobile view?
Because I think most of the users use mobile to view this and adding a modal view will look the same as it is right now(as there is not enough width in portrait mode).

[2020-04-26 12:40] shuklaayush commented on #1573
Can you directly post the graph, please?

[2020-04-26 12:51] Nikhiljoseph31 commented on #1573
![Screenshot_20200426-182018_Chrome](https://user-images.githubusercontent.com/63017808/80308112-a9dab080-87ea-11ea-90c7-3def1bf27840.jpg)

[2020-04-26 12:51] YuvrajSingh01 opened #1576 "Map of Puducherry Way to Small"
**Describe the bug**
Map of Puducherry Way to Small to even see anything clearly

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/state/PY
2. Click on '....'
3. Scroll down to 'Map'
4. See error

**Expected behavior**
Map should be bigger to see.

**Screenshots**
![Screenshot_2020-04-26 COVID-19 Tracker India](https://user-images.githubusercontent.com/62892

[2020-04-26 12:57] #1557 closed, assigned to Binu42

[2020-04-26 13:08] ysingla opened #1577 "Total number of confirmed cases are incorrect"
**Describe the bug**
Total number of confirmed cases are incorrect. Ministry of health has reported 26,917 cases as of Apr 26 5PM. Here it is showing 26,740. Also number of cases per day is quite different than ministry of health

**To Reproduce**
Visible on website home page

![c2](https://user-images.githubusercontent.com/38974607/80308573-659cdf80-87ed-11ea-84d2-8d9e1ec1873d.PNG)

![Capture](ht

[2020-04-26 13:28] ackr-8 commented on #1577
Same issue

[2020-04-26 13:28] ackr-8 commented on #1577
Please update the count

[2020-04-26 13:57] rmmaitrey opened #1578 "Color shade coming up wrong"
**Describe the bug**
There is something wrong with colors. As I understand darker color represent higher number.
So After Maharastra Gujarat is on second number in terms of positive cases. In map I can see that Tamilnadu is having darker color while Gujarat is in light shade so looks like something wrong with data on calculation.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-04-26 14:01] vishwac09 commented on #1574
@saberprashant yes i did thought about this and in mobile view i am hiding this. Checking the screen width and deciding whether it is a desktop or not.

**Edit 1**
Added module react-device-detect which provides options isBrowser, isTablet have added this conditional checking in ""src/components/Charts/modal-wrapper.js" file. Allowing view only on tablet and dektops.

[2020-04-26 14:03] shruti-14 commented on #1578
Hi @rmmaitrey, the green color stands for recovered cases, and since tamilnadu has second largest number of recovered cases it is darker than gujrat.

[2020-04-26 14:07] rmmaitrey commented on #1578
Right it was my bad. I didn't knew that it is preserving the last selected state.

[2020-04-26 14:07] #1578 closed, assigned to nobody

[2020-04-26 15:04] SubhamZoman opened #1580 "[BUG][UI] Grid view of expanded districts is breaking for mobile screens"
**Describe the bug**
In mobile when switching to an expanded view of districts, the second column of the grid creates extra space thus breaking the mobile-friendly UI.

**To Reproduce**
1. Go to West Bengal State page
2. Click on `View All` button in `Top Districts` section.

**Expected behavior**
Second column in grid should be visible within the screen max-width.

**Screenshots**
<img width="364

[2020-04-26 15:43] #1556 closed, assigned to karankiri

[2020-04-26 15:44] shuklaayush commented on #1580
Duplicates #1544

[2020-04-26 15:44] #1580 closed, assigned to nobody

[2020-04-26 15:49] nsjithin opened #1582 "Other graph timelines have become very flat when the testing graph is introduced"
**Is your feature request related to a problem? Please describe.**
New testing graph is introduced. On initial loading the default scale mode is uniform. As the new testing graph will have high counts compared to the values in other graphs, the line graph displayed will a very flat one aligned to the bottom. So for first time users, the graphs won't be very informative unless they click off the un

[2020-04-26 15:57] #1544 closed, assigned to nayakrahul

[2020-04-26 16:14] Binu42 opened #1583 "Hide view all button for states with less districts"
**Describe the bug**
showing view all btn when districts are less than 5 doesn't make any sense.

**To Reproduce**
Steps to reproduce the behavior:
go to https://www.covid19india.org/state/GA

**Expected behavior**
view all btn should not be there if city is less than 5.

**Screenshots**
![goa](https://user-images.githubusercontent.com/45959932/80313179-fa600700-8806-11ea-8634-815f3950f94a.gif)

*

[2020-04-26 16:14] Binu42 commented on #1583
assign it to me when you make it available

[2020-04-26 16:25] #1558 closed, assigned to lakshmi14

[2020-04-26 16:52] lakshmi14 commented on #1471
/claim

[2020-04-26 17:24] pavanmehta91 commented on #1391
If this gives data for all the districts of a state for all the dates, I think this can work @Abhishekbhatia
Would the districts with no cases for a day show 0?
Also if data is structured in the following way it would be much easier.
[code]

[2020-04-26 17:46] #1393 closed, assigned to ShubhamOnGrid

[2020-04-26 17:47] nsjithin commented on #1582
Seems like it is fixed now by making the Tested chart independent of uniform scaling.

[2020-04-26 17:47] #1582 closed, assigned to nobody

[2020-04-26 17:47] nayakrahul opened #1585 "Logarithmic scale can't have zero as y value."
**Describe the bug**
A logarithmic axis can only plot positive values. There simply is no way to put negative values or zero on a logarithmic axis.
https://blog.datawrapper.de/weeklychart-logscale2/
There are few scenarios where the y-value is always 0 like in case of Sikkim where there are no cases till now. Thing is we can't plot zero in logarithmic scale. Refer to the screenshot to understand i

[2020-04-26 17:48] nayakrahul commented on #1585
Please assign me if it becomes available.

[2020-04-26 18:02] #1525 closed, assigned to rajkapadia247

[2020-04-26 18:22] shuklaayush commented on #1577
Please report data discrepancies using [this form](https://forms.gle/MLeSrdwRuf8AjFkp9). Thanks! :)

[2020-04-26 18:22] #1577 closed, assigned to nobody

[2020-04-26 18:38] #1421 closed, assigned to Achal1607

[2020-04-26 18:41] ThePiyushGupta commented on #1545
Yes u are correct create-react-app supports treeshaking by default.
Even after ejecting the project and rebuilding using webpack and making little config changes there were no changes.

Apart from it the parsing time is very less  as can be seen
![image](https://user-images.githubusercontent.com/16987573/80316706-f5a64d80-881c-11ea-95f5-3baa824b6a03.png)
We need to focus on other other areas to ma

[2020-04-26 18:46] jeremyphilemon commented on #1576
Ideally this would require editing Puducherry's topojson file in such a way that the districts are close to each, and not far apart (since the map automatically scales according to the width hence it becomes really small)

/available

[2020-04-26 18:51] jeremyphilemon commented on #1575
This would be an interesting fix because adding transitions on mount is easy, but on dismount we'll have to slow down the dismount in order for the transition to complete. I think a hook from `react-use` must be available for the delayed dismount. Animation can either be added using `animejs` or pure css.

Making this /available.

[2020-04-26 18:55] saberprashant commented on #1575
/claim

[2020-04-26 18:56] jeremyphilemon commented on #1566
^Hope this resolves :)

[2020-04-26 18:56] #1566 closed, assigned to nobody

[2020-04-26 19:07] jeremyphilemon opened #1587 "Support zoom for MapExplorer"
**Is your feature request related to a problem? Please describe.**
People get frustrated when it comes to clicking on small states/UTs like Delhi, Puducherry, Andaman and Nicobar islands from the map.

**Describe the solution you'd like**
Zoom in support.

<p align="center">
<img width="363" alt="Screen Shot 2020-04-26 at 9 42 11 PM" src="https://user-images.githubusercontent.com/17938322/80316981

[2020-04-26 19:09] jeremyphilemon commented on #1587
/available

[2020-04-26 19:14] shruti-14 commented on #1587
/claim

[2020-04-26 19:17] bee-rickey commented on #1518
Hi @aamir200 the APIs are working fine. We have discontinued the patientdb since it's too heavy to load and doesn't add much benefit. Please use the APIs listed at [api.covid19india.org](https://api.covid19india.org/) All of them are functional and updated.

Note: We are making some changes to raw_data apis and would request you to not use it until we are done with the changes (you can refer to th

[2020-04-26 19:17] #1518 closed, assigned to nobody

[2020-04-26 19:21] shubhamjain2998 commented on #1199
Actually, I also don't know exactly how to go about this, but for some reason, some dynamic styling is failing in browsers like edge and UC browser in android, this is not a very critical problem and also we can close this issue.
Here are the screenshots from edge
![photo_2020-04-27_00-42-21](https://user-images.githubusercontent.com/30628775/80317381-196b9280-8821-11ea-855e-a64f55f470b5.jpg)
![ph

[2020-04-26 19:43] vsasvipul0605 commented on #1576
/claim

[2020-04-26 19:44] BirenNegi opened #1588 "cursor not getting back from Map"
when we checked the status on MAP by state, cursor remains on last state, whereas it should be automatically get back on total cases in country, like when i reached this portal

[2020-04-26 19:46] vsasvipul0605 commented on #1576
/claim

[2020-04-26 20:18] jeremyphilemon commented on #1040
@bootleg-icarus I see, I think we can support cities that have containment details currently available, I don't think that would be a problem since it's obviously difficulty to obtain it for the entire country as a whole.

How many cities have these details available?

[2020-04-26 20:31] jeremyphilemon commented on #1545
@ThePiyushGupta @faisal3389 @sreetamdas +1 on the bundle size analysis, we're trying our best to minimize dependency on other packages, and trying to use vanilla js as much as we can.

With respect to using webpack, I'm assuming that would mean ejecting from `create-react-app`. [This](https://medium.com/curated-by-versett/dont-eject-your-create-react-app-b123c5247741) is a nice article addressing

[2020-04-26 20:32] Binu42 opened #1590 "Missing Daman and Diu leading to console errors on state page"
**Describe the bug**
when selecting daman and diu from drop down or navigating for D & D from search result blank screen is apearing with errors. i think this is happening because we don't have D & D json map.

**To Reproduce**
go to https://www.covid19india.org/state/DD

**Expected behavior**
it should either show details about daman and diu if available or daman and diu shouldn't be in dropdown

[2020-04-26 20:33] jeremyphilemon commented on #923
Opening this up again /available

[2020-04-26 20:34] Binu42 commented on #1590
assign it to me i'll fix it, if you will make it available :peace_symbol:  and also suggest which kind of fix will be better.

[2020-04-26 21:29] bootleg-icarus commented on #1040
This is all I've found till now -
[Delhi](https://www.financialexpress.com/lifestyle/health/delhi-hotspots-coronavirus-latest-news-containment-zones-full-list-covid-19-arvind-kejriwal/1935431/)
[Mumbai](https://www.indiatvnews.com/news/india/mumbai-red-zones-bmc-containment-zones-ward-wise-list-coronavirus-hotspots-mumbai-maharashtra-610806)
[Chennai](https://english.jagran.com/india/coronavirus-i

[2020-04-26 21:31] #1551 closed, assigned to Binu42

[2020-04-26 21:43] #1531 closed, assigned to nayakrahul

[2020-04-26 22:34] #1322 closed, assigned to zephy20

[2020-04-27 00:25] #1583 closed, assigned to Binu42

[2020-04-27 03:15] raghavkhurana opened #1593 "Active cases wrong for haryana"
No. Of active cases are mentioned wrong for haryana as confirmed=296 Active=79 Recovered=199 Decreased=3 does not add up! And on the haryana bulletin it says Active=94

[2020-04-27 05:18] karankiri commented on #923
/claim Would like to work on this

[2020-04-27 05:50] vivekvroy commented on #1544
When we click on View All Button, the label **"Top Districts"** should be updated to **"All Districts"**

[2020-04-27 06:12] vsasvipul0605 commented on #1593
- There are various **sources** that are tracking and aggregating _coronavirus_ data. They update at different times and may have different ways of gathering data.

- This **data** changes rapidly and might not reflect some cases still being reported.

[2020-04-27 06:15] subashiniu opened #1594 "Number of recovered cases in districts of tamilnadu is not equal to total number of recovered cases in tamilnadu."
**Describe the bug**
Number of recovered cases in each district of TamilNadu is not equal to the total number of cases in TamilNadu.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'HomePage'
2. Click on 'TamilNadu'
3. Click on 'Visit state page'
4. Click on 'Recovered cases'
5. See the count shown on map for each state and check with total count

**Expected behavior**
Number of recov

[2020-04-27 07:56] fantops opened #1595 "Number of cases is not updated in map as data"
**Describe the bug**
Number of Cases not updated in map with the data populated. Incase of Bihar observed, some districts still showing 0 even there are cases

**To Reproduce**
Scroll to maps go to location and compare with data populated in list

[2020-04-27 08:02] shuklaayush commented on #1595
Please give the name of a district as an example, so that we can reproduce.

[2020-04-27 08:38] vivekr316 opened #1596 "27th Apr State Level : Daily changes data - Incorrect"
The https://api.covid19india.org/states_daily.json is repeating 26th-Apr information for 27th-Apr as well on all 3 status  - confirmed, recovered and deceased.

[2020-04-27 08:40] #1596 closed, assigned to nobody

[2020-04-27 08:42] fantops commented on #1595
Check for Munger and Kaimur Bhabhua in Bihar for example , even you can check for bhopal and khandwa, Indore too in MP

[2020-04-27 08:57] gopaljigaur opened #1598 "Get Location of the user and display the Infection stats of their city."
**Is your feature request related to a problem? Please describe.**
I would like to see the coronavirus cases in my city as soon as I open the webpage, instead of selecting it from the list.

**Describe the solution you'd like**
There can be a section in the top right of the homepage which will display the infected, recovered, deceased and tested stats of the user's current location or city. Get th

[2020-04-27 10:14] nayakrahul commented on #1544
Raise an issue for this. I cam take this up if it becomes available.

[2020-04-27 10:36] gauravbgp commented on #1084
@jeremyphilemon

@praveentiru thanks for succinctly summarizing the status. Sorry, I've been busy and unable to reply. I'll just mention my rationale for putting up the website first.

Firstly, the model is understood to be deficient in terms of being epidemiologically inaccurate in certain regions and being sensitive to changes in testing rates. But, it converts the epi strength to easy to unders

[2020-04-27 10:41] jai-k-gohil opened #1600 "Navbar should be positioned fixed for small devices"
**Navbar Enhancement. Minor fix**
Navbar should be positioned as fixed for small mobile devices for accessibility and better ui/ux.

**Solution**
Check If Screen width is less than 769px, if yes then set navbar to be positioned as fixed.

[2020-04-27 10:58] nayakrahul opened #1601 "Border color matches with the color of state"
**Describe the bug**
The border color around state matches with the color of state and hence the border is not visible. This occurs in Map section in case of regions with highest number in confirmed cases (red color) both in country view and state view. It is not distinguishable.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home
2. In Map explorer, select confirmed.
3. Hover over M

[2020-04-27 12:48] praveentiru commented on #1084
@gauravbgp If you can package your model into a python program. I can work on packaging it to process data from [covid19india API](https://github.com/covid19india/api) once a day and publish the result as an csv or, json as needed for visualization. I can look into visualization part but, it is not really my area of expertise. We can get it to closure if we have someone who is more capable here.

[2020-04-27 12:59] gauravbgp commented on #1084
@praveentiru as mentioned even in the webpage, I am already using data from covid19india API. But as I have pointed out in my comment, it is the model that would need to keep undergoing modifications/validation and would also need to clean up and collate data from other sources about other facts.

[2020-04-27 13:19] nayakrahul commented on #1585
@shuklaayush I need suggestion for this. Now 0 is plotted as 1 in logarithmic axis. Shall we show 0 as 0.1 in logarithmic scale? If we do this, the transition from 1 to 0 or 2 to 0 or vice-versa will be visible in graph. If we just remove 0's from logarithmic graph, line chart will just stop at 1 and not progress ahead until some positive number comes. For now, transition from 1 to 0 is also not v

[2020-04-27 13:21] ThePiyushGupta commented on #1545
The actual react code execution is taking a lot of time due to many compnents

![image](https://user-images.githubusercontent.com/16987573/80377478-f8568080-88b8-11ea-9ec1-f44a7b7f4837.png)

As we can see the dom size of the home page is very large .
Code utlization is consistanly above 50 % for all the chunks .
Simplifying the code is I feel the only way.
The largest peices of chunk are :
charts.

[2020-04-27 13:36] vivek1996 opened #1602 "Page is displayed with 404 message in Brave browser"
**Describe the bug**
The browser  shows the  404 message (Still  the page displayed) when the page is reloaded on routes other than '/'.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to some route eg:  'https://www.covid19india.org/demographics'
2. Reload the page.
3. The page is shown with the message as 'Sorry that page is missing'.

**Expected behavior**
Page should be displayed wit

[2020-04-27 13:54] jeremyphilemon commented on #1600
Addressed by #1477

[2020-04-27 13:54] #1600 closed, assigned to nobody

[2020-04-27 13:59] jeremyphilemon opened #1603 "Support switching to active, recovered, and deceased stats on delta bar graph"
**Is your feature request related to a problem? Please describe.**
Now that MapExplorer on state page supports showing data for active, recovered, and deceased, we can show them on the delta bar graphs as well.

**Describe the solution you'd like**
<img width="835" alt="Screen Shot 2020-04-26 at 10 13 41 PM" src="https://user-images.githubusercontent.com/17938322/80380477-5038bb80-88a8-11ea-8b1a-7

[2020-04-27 13:59] jeremyphilemon commented on #1603
/available

[2020-04-27 14:01] tannakartikey commented on #1545
I don't think we need to re-write the config and hence eject the default config. The tree-shaking and minifications are configured in create-react-app(CRA) out of the box.

`create-react-app` (CRA) comes with tree-shaking and minifications out of the box. So I don't think it makes sense to eject the config. As @faisal3389 suggested, If we are importing the whole module instead of just the required

[2020-04-27 14:03] Binu42 commented on #1603
/claim

[2020-04-27 14:09] sreetamdas commented on #1545
<img width="165" alt="Screenshot 2020-04-27 at 7 37 09 PM" src="https://user-images.githubusercontent.com/11270438/80381419-88e38f80-88be-11ea-912a-7b1123551901.png">

Is this issue still up for claims? Would love to implement tree-shaking if it is.

[2020-04-27 14:11] shuklaayush commented on #1585
Yeah, handling zeros in a log scale is a pain. You can try starting the scale from 0.1 instead of 1. I'm just afraid that it might lead to a lot of extra empty space at the bottom.

[2020-04-27 14:17] mkesavan13 opened #1604 "Enhancement - UX: Serial number for States and districts"
**Is your feature request related to a problem? Please describe.**
It felt so difficult to find on what position my state is at although I get to sort. I had to count manually.

**Describe the solution you'd like**
We can have serial numbers state wise and district wise of each state so that it is easy to see the position of a state.

**Describe alternatives you've considered**
There could be no a

[2020-04-27 14:18] mkesavan13 commented on #1604
Although I've mentioned once in the original issue request, adding it here as well.

I'd like to /claim this issue myself if the reviewer sees this one to be a valid one.

[2020-04-27 14:27] devtechnocode commented on #1602
![covid19india_demograpics](https://user-images.githubusercontent.com/52890488/80383070-bb8e8780-88c0-11ea-8b7a-0872cb76dc1c.png)
It is working fine on brave browser.Also it's loading the page with '/' and without these also.So,kindly close the issue.

[2020-04-27 14:29] #1593 closed, assigned to nobody

[2020-04-27 14:29] raghavkhurana commented on #1593
okay!

[2020-04-27 14:42] anuragakella commented on #1598
I'd like to work on this, can anyone let me know how I can get started?

[2020-04-27 15:01] nayakrahul commented on #1585
@shuklaayush yeah, it will lead to a lot of extra empty space at the bottom. I made domain min and domain max different which fixed the chart when every value is 0 like in sikkim. But still 1 and 0 are shown as same on chart. Please check the PR #1605 .

[2020-04-27 15:02] devtechnocode opened #1606 "Feature : Adding Pie chart to give states-wise percentage"
**Is your feature request related to a problem? Please describe.**
No, it is related to enhancement , by adding pie chart to the home page.

**Describe the solution you'd like**

Like Worldometer website have this. [see this](https://www.worldometers.info/coronavirus/worldwide-graphs/#active-cases)

**Describe alternatives you've considered**
None

**Additional context**
![Worldometers](https://us

[2020-04-27 15:08] vivek1996 commented on #1602
Could you please refresh the page on the 'https://www.covid19india.org/demographics' route and check.

[2020-04-27 15:35] devtechnocode opened #1607 "Feature : Table on home page showing confirm cases district-wise, should also show active cases, recovered and decreased cases district-wise."
**Is your feature request related to a problem? Please describe.**
No, it is related to enhance the home page by, showing the details of the active cases, recovered and decreased cases district-wise.

**Describe the solution you'd like**
By adding a column of number of active, recovered and decreased cases.

**Describe alternatives you've considered**
Alternatively, it can show the same informatio

[2020-04-27 15:42] devtechnocode commented on #1602
Yes, I checked it. It's working Fine.

[2020-04-27 15:54] vivek1996 commented on #1602
ok may be the issue with the brave for windows.

[2020-04-27 15:59] nayakrahul opened #1608 "Tooltip style not consistent for growth trend and patients by nationality chart in deepdive"
**Is your feature request related to a problem? Please describe.**
Tooltip style not consistent for growth trend and patients by nationality chart in deepdive

**Describe the solution you'd like**
Currently they are not using chart options from chart-default.js by merging. we can use them.

![Screenshot (59)_LI](https://user-images.githubusercontent.com/11428805/80393516-37430100-88ce-11ea-83ba-ae

[2020-04-27 16:00] nayakrahul commented on #1608
Please assign me if it becomes available.

[2020-04-27 16:01] faisal3389 commented on #1545
@tannakartikey @sreetamdas, you are right. it looks like CRA does the tree-shaking and minification out of the box.

Here for the react-feather module, it only imports the icons which are used although we import it using, "import * as Icon from 'react-feather';"
<img width="1312" alt="Screenshot 2020-04-27 at 9 16 00 PM" src="https://user-images.githubusercontent.com/16716470/80392075-4d4fc200-88c

[2020-04-27 16:13] lakshmi14 commented on #1192
I have created a pull request, Kindly check @jeremyphilemon  ! Thanks :)

[2020-04-27 16:32] #1602 closed, assigned to nobody

[2020-04-27 16:45] #261 closed, assigned to vandanachandola

[2020-04-27 16:49] jeremyphilemon commented on #1545
How about using PostCSS to minify the css, or is that also handled during the build process?

We're in the process of removing redundant libraries, #1581 is dropping dependency on moment.js.

Would it be possible to treeshake libraries that do not support tree shaking, like primer? I'm limited in knowledge about that, hence I would like to know if someone could help me understand that.

Regarding

[2020-04-27 17:00] ThePiyushGupta commented on #1545
I don't think so that we can remove moment as moment is a dependency for charts.js

[2020-04-27 17:03] jeremyphilemon opened #1610 "Get a 100 on lighthouse for accessibility"
**Is your feature request related to a problem? Please describe.**
There are parts of the website that can use improvements in increasing the accessibility of the website.

<p align="center">
<img width="108" alt="Screen Shot 2020-04-27 at 7 58 18 PM" src="https://user-images.githubusercontent.com/17938322/80399540-065ccf00-88c2-11ea-8cab-38e61c14cd67.png">
</p>

**Describe the solution you'd like

[2020-04-27 17:04] jeremyphilemon commented on #1610
I'm leaving this open for first-time contributors, so please be mindful before claiming :)

/available

[2020-04-27 17:20] tannakartikey commented on #1545
@jeremyphilemon CSS minification is already there:
https://github.com/facebook/create-react-app/blob/e89f153224cabd67efb0175103244e0b7f702767/packages/react-scripts/config/webpack.config.js#L262

[2020-04-27 17:24] lakshmi14 commented on #1590
HI @Binu42/ @jeremyphilemon  ,

The problem being no value for Daman & Diu in MAP_META in the constants also no json file in public/maps directory for Daman & Diu. Screenshots below. Adding those will fix the issue !

src/constants.js
![image](https://user-images.githubusercontent.com/7721961/80401379-e1745600-88d9-11ea-9f94-34594b9787c6.png)

public/maps
![image](https://user-images.githubusercon

[2020-04-27 17:35] pranavtalwar opened #1611 "Feature: Calculating and showing the number of days in which cases double for each state"
**Is your feature request related to a problem? Please describe.**
A good measure of the growth in covid cases is by looking at the days it takes for cases to double

**Describe the solution you'd like**
Adding a column next to each state showing the case doubling rate/ days on the homepage

**Describe alternatives you've considered**
Adding a chart in the deep dive section to compare the doubling

[2020-04-27 17:36] mkesavan13 commented on #1610
I'm new to react and a first time contributor. I have another issue open though. #1604

However would like to work on this.

/claim

[2020-04-27 17:54] #1585 closed, assigned to nayakrahul

[2020-04-27 18:01] shuklaayush commented on #1611
Should be covered in #1496

[2020-04-27 18:01] #1611 closed, assigned to nobody

[2020-04-27 19:29] ThePiyushGupta commented on #1545
Though lazy loading is not reducing the size of the bundle however reloads / revisits have a much less transfer size due to caching
before lazy loading
![image](https://user-images.githubusercontent.com/16987573/80412339-5a2fde00-88eb-11ea-952d-ff98edbc06af.png)
After lazy loading
![image](https://user-images.githubusercontent.com/16987573/80412424-792e7000-88eb-11ea-9529-10a7f9bcc9b9.png)

I thin

[2020-04-27 20:28] nidhinakrani opened #1616 "Active cases calculation"
**Describe the bug**
The calculation for Active cases seems like _ACTIVE_CASES_ON_SELECTED_DATE = CONFIRMED_CASES_ON_SELECTED_DATE - RECOVERED_CASES_ON_SELECTED_DATE - DECEASED_CASES_ON_SELECTED_DATE_. This shows negative values for those days when confirmed cases are less than the sum of Recovered and Deceased.

**To Reproduce**
Steps to reproduce the behavior:

1. Select Telangana/Kerala from th

[2020-04-27 21:28] shubhamjain2998 commented on #1545
How about removing all the culprits that are increasing the bundle size, like
- Replacing chartjs with a library like rechart that uses react and d3, or simply D3 which is already used to make all the charts. so now we can remove moment also.
- We can also remove jquery and do that stuff with React only, I don't think we need jquery in the react app.
- Remove primer which is only used to make a br

[2020-04-27 21:35] saberprashant opened #1617 "Single date showing twice in updates"
**Describe the bug**
Single date (27 April) showing twice in updates (one with data one with "No updates").
Also, when I was viewing the same on 27 April around 11:50 pm, it started showing 28th April as "No updates".

**To Reproduce**
Steps to reproduce the behavior:

1. Click on "Bell icon"
2. See, single date is visible twice in the list. (I don't know if it is happening only in midnight)

**Ex

[2020-04-27 21:36] venunalla7731 commented on #1604
After going through https://www.covid19india.org/ , felt that serial number could help to sort by number for state and district.
From a developer perspective, I wanted to suggest, that to make sure those serial numbers are assigned for each entity so that when the filter button (up/down arrow) is clicked it automatically resets.

[2020-04-27 23:17] venunalla7731 opened #1619 "Essentials page -->drop-down names are cutting down."
**Describe the bug**
Found Bug in essentials page, in which ALL STATES, ALL CITIES, and ALL SERVICES drop-down fields not properly visible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'essentials tab'
2. Immediately after opening the page, field names on drop-down are not visible properly.

**Expected behavior**
needs to be visible fully.

**Screenshots**
added.
![image](https://u

[2020-04-27 23:26] #923 closed, assigned to karankiri

[2020-04-27 23:34] #1434 closed, assigned to Binu42

[2020-04-28 00:00] mkesavan13 commented on #1604
Hi @venunalla7731,

By resets, do you mean that, if I click on a particular column sort, the serial number should still say 1,2,3 and not get rearranged as well like 32,31,30?

**This is a screenshot that is sorted descending by confirmed cases:**

<img width="1665" alt="1" src="https://user-images.githubusercontent.com/8044050/80431902-595d7300-8910-11ea-8815-96ea24cbcc72.png">

**This is a scree

[2020-04-28 00:06] venunalla7731 commented on #1604
Yes, that's true.
once everyone agrees, you can move forward.
Thanks.

[2020-04-28 00:10] mkesavan13 commented on #1604
Great. Thank you for your review.

[2020-04-28 00:29] #1569 closed, assigned to Binu42

[2020-04-28 00:32] jeremyphilemon commented on #1517
Closing this in favor of #1617

[2020-04-28 00:32] #1517 closed, assigned to Sanskar95

[2020-04-28 00:32] jeremyphilemon commented on #1617
/available

[2020-04-28 02:01] mkesavan13 commented on #1610
Hi @jeremyphilemon

I have brought it up to 96 on home page alone and is available at [mkesavan13:covid19-react/HUNDRED_ON_LIGHTHOUSE](https://github.com/mkesavan13/covid19india-react/tree/HUNDRED_ON_LIGHTHOUSE).  Working on other page lighthouse issues. However I have a doubt.

The pending 4 points are related background and foreground colours. Bringing that one up to 100 requires minor colour ch

[2020-04-28 02:32] sudokoi commented on #1617
/claim

[2020-04-28 05:35] harishmathur commented on #1619
Please assign this to me

[2020-04-28 05:46] venunalla7731 commented on #1619
code changes are available to push from local.
Just waiting for the status to ready, so that I can create PR.
Thanks.

[2020-04-28 06:18] Rithvik2109 opened #1620 "Daily Increase Rate is Wrong"
Bug:
The daily increase yesterday night(27/04) was 1560, but today it shows 27/04's daily increase at 1052.

**To Reproduce**
Steps to reproduce the behavior: Go to graph > select all states > check total cases (1052 increase on 27/04).

**Expected behaviour**
Needs to reflect 1560.
<img width="630" alt="Screenshot 2020-04-28 at 11 42 30 AM" src="https://user-images.githubusercontent.com/64458533/

[2020-04-28 06:33] keepitopen opened #1621 "Recent Cases- Citywise"
A feature which clearly demonstrates the regions with recent cases, probably in descending order. Will help big time in understanding where there is lapse in lock down or some other fault that can be solved, because after a lockdown, especially one for this long, cases should be going up not down.

This could a graph figure. For eg:

Cases on 27/04/2020:
Mumbai: ____
Delhi: ____
Ahmedabad: ____

[2020-04-28 07:34] ashmaster opened #1624 "Cannot see data properly when howering over southern states in map"
**Is your feature request related to a problem? Please describe.**
When howering over the southern states(eg. Kerala) the data cannot be seen as it gets scrolled up.Then we have to scroll up to see the data

**Describe the solution you'd like**
The data should be shown by the side rather than on the top of the map so it can be viewed just by howering over it and so the user doesn't have to click o

[2020-04-28 07:43] kvnsnaresh opened #1625 "Number of deceased not reflected in state map of Tamil Nadu"
**Describe the bug**
In Tamil Nadu map, the district wise spilt-up of deceased cases is not getting depicted/reflected in the state view.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to state map of Tamil Nadu by clicking directly on the map
2. Hover/Click the mouse over any district.
3. Although at the time of reporting this bug, there are 24 deceased cases, all districts are showing

[2020-04-28 08:48] shuklaayush commented on #1620
It's showing 1568 for me. Can you check again please?

[2020-04-28 09:46] Rithvik2109 commented on #1620
It is rectified now. Thanks.

[2020-04-28 10:10] #1620 closed, assigned to nobody

[2020-04-28 10:11] sk100797 opened #1628 "Sort the drop-down menu in alphabetical order"
**Describe the bug**
The Drop-down menu present in spread trends is currently sorted based on the states table.
It is better to sort it in alphabetical order, so that it would be easy to select states.

**To Reproduce**
Select the drop-down menu present in SPREAD TRENDS.

**Expected behavior**
Sort the values in Alphabetical order by default.

**Screenshots**

![image](https://user-images.githubus

[2020-04-28 10:18] nayakrahul opened #1629 "No cases on 27/04/2020 in demographics page"
**Describe the bug**
There are no cases on 27/04/2020 in demographics page.

**Screenshots**
![Screenshot (60)](https://user-images.githubusercontent.com/11428805/80476172-a587d200-8967-11ea-9afb-10f63344b985.png)

[2020-04-28 10:29] nayakrahul opened #1630 "feedback and add text color not consistent in essentials page in dark mode in mobile devices"
**Describe the bug**
feedback and add text color is not consistent with other buttons in essentials page in dark mode which makes it not visible in dark mode **in mobile devices**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Essentials page
2. Notice the color of text in feedback and add button

**Expected behavior**
Should be of same color as of other buttons.

**Screenshots**
![S

[2020-04-28 10:30] nayakrahul commented on #1630
Please assign me if it becomes available.

[2020-04-28 11:12] shuklaayush commented on #1629
Why would there be cases in 2016? :stuck_out_tongue:
Anyways, I think it might be related to [this](https://telegra.ph/Changes-in-rawdata-api-04-26)

[2020-04-28 11:16] nayakrahul commented on #1629
Oh. sorry. typo mistake :D. Its's 2020 only

[2020-04-28 11:58] saifeesl opened #1631 "District wise data columns as it available for state wise"
The state-wise columns for confirmed - Active - Recovered - Deceased available, The similar breakdown is available at state map for the districts, can the same data made available as columns too in the data grid at the second level too.

![image](https://user-images.githubusercontent.com/63785125/80484545-f0eeb000-8968-11ea-9f53-20346b388220.png)

![image](https://user-images.githubusercontent.com

[2020-04-28 12:19] shuklaayush commented on #1631
Duplicates #1607

[2020-04-28 12:19] #1631 closed, assigned to nobody

[2020-04-28 13:17] ashishdawale20 commented on #1588
Created PR https://github.com/covid19india/covid19india-react/pull/1632

[2020-04-28 14:23] #1629 closed, assigned to nobody

[2020-04-28 14:23] 1998kajal opened #1633 "update also which place person recover covid-19 and how many?"
the update also which place a person recover COVID-19 and how many person place wise.
It is important and helpful full user also

[2020-04-28 14:25] priteshradadiya-coviam opened #1634 "Why are you not added no. of test done by particular state?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-28 14:26] priteshradadiya-coviam commented on #1634
Can you add the no. of test done so far , from each state?

[2020-04-28 14:47] nayakrahul opened #1635 "For mobile devices, since we have to scroll up to access menu, we can have a floating menu button at the bottom right."
**Is your feature request related to a problem? Please describe.**
For mobile devices, since we have to scroll up to access menu, we can have a floating menu button at the bottom right.

**Describe the solution you'd like**
There are libraries in react to implement it.

[2020-04-28 16:26] shuklaayush commented on #1633
We do show the recovery numbers for states and districts. Is that what you're looking for?

[2020-04-28 16:26] shuklaayush commented on #1634
The testing numbers show up on the state pages and when you hover on the states on the map

[2020-04-28 16:27] avinasshcm opened #1636 "API Data3 not fetching proper results"
**Describe the bug**
A clear and concise description of what the bug is.

https://api.covid19india.org/raw_data3.json returns following result.

Date | Number of Cases detected
27-04-2020 | 474
28-04-2020 | 435

[2020-04-28 16:37] 1998kajal commented on #1633
here you are just showing the recovery number person whose
belong which state not districts.
So I am trying to say that also shows the recovery person belongs to
districts also. It is helpful for us.
the same column (confirmed, recovered, active, death) show also district
wise.

Thanks and Regards

Kajal Kumari
Master Of Technology(M.Tech)
Dept. of Computer Science & Engg.
*Indian Institute of Tec

[2020-04-28 16:50] srikoushik commented on #1040
@jeremyphilemon @bootleg-icarus Here is an official overall picture of TamilNadu’s COVID19 status. Red, Green, and Orange at the district level. Not in zone wise yet.
https://nhmtn.maps.arcgis.com/apps/opsdashboard/index.html#/095ad0a1c0254b058fa36b32d1ab1977

[2020-04-28 17:07] shuklaayush commented on #1633
Okay. There's already an issue for that #1607

[2020-04-28 17:07] #1633 closed, assigned to nobody

[2020-04-28 18:16] bootleg-icarus commented on #1040
@srikoushik this is still district level data, as you mentioned. Which doesn't help us all that much. I don't understand what gain authorities expect from keeping such data locked. If the general public knew which areas to avoid while still being productive wouldn't that be the best of both worlds?

[2020-04-28 18:28] codebynitish opened #1638 "Distric wise breakdown change value is not updated"
![IMG-20200428-WA0012](https://user-images.githubusercontent.com/41028477/80523694-c1529e80-898e-11ea-98b7-47b5b3897b44.jpg)

[2020-04-28 18:31] vsasvipul0605 commented on #1634
This is not an issue as this is already on website :)

![SharedScreenshot](https://user-images.githubusercontent.com/47572837/80523930-76e01a80-89ac-11ea-9490-9735c02b171e.jpg)

[2020-04-28 18:50] vsasvipul0605 opened #1639 "top districts of delhi not showing correctly"
**Describe the bug**
Top districts are not showing perfectly. they are mixing into each other.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '[link](https://www.covid19india.org/state/DL)'
2. Click on 'Top Districts'
3. See error

**Expected behavior**
proper margin and padding.

**Screenshots**

![SharedScreenshot](https://user-images.githubusercontent.com/47572837/80525234-86f8f98

[2020-04-28 18:55] Utsavjain4561 opened #1640 "Show some hotspots cities and certain corona free cities distinctly"
**TODO**

1. Show some hotspot cities in which covid19 is affected most distinctly.
2. Show some green zones or covid free cities based on past cases frequency .

[2020-04-28 18:57] vsasvipul0605 opened #1641 "top districts of Andaman and Nicobar not showing correctly"
**Describe the bug**
Top districts are not showing perfectly. they are mixing into each other.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ['link'](https://www.covid19india.org/state/AN)
2. See error

**Expected behavior**
proper margin and padding.

**Screenshots**
![SharedScreenshot](https://user-images.githubusercontent.com/47572837/80526215-09ce8400-89b0-11ea-9617-2b4493345fd0

[2020-04-28 19:01] vsasvipul0605 commented on #1636
what's the issue?

[2020-04-28 19:02] vsasvipul0605 commented on #1636
can u explain in detail @avinasshcm ?

[2020-04-28 19:08] shuklaayush commented on #1641
/available

[2020-04-28 19:13] Sushant-DA commented on #1636
Facing the same issue, also do we have a single column for date? "dateannounced" which is being updated every time a patient either recovers or in case of death? For eg if I have to get the total number of cases in Karnataka today, I have to filter on the currentstatus column as well

[2020-04-28 19:17] vsasvipul0605 commented on #1641
/claim

[2020-04-28 19:40] vsasvipul0605 commented on #1638
This is not an issue. As the change in values totally dependent on data coming from API.

[2020-04-28 19:52] ghost opened #1642 "Global Ranking"
An international ranking will allow people to determine how is India and other countries standing against corona virus . It can also be followed by a list of countries sorted according to different options like testing rate, death toll , recovery rate etc.

[2020-04-28 20:32] dn07 opened #1643 "Rajasthan Daily Count Shown In Negative"
**Describe the bug**
The daily count for Active Cases (Rajasthan) of 23rd, 26th and 27th of April is shown in negative.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org'
2. Scroll down to 'Spread Trends'
3. Select 'Rajasthan'
4. Click on 'Daily Count'
5. See the count of above-mentioned dates.

**Expected behaviour**
The number of active cases can not be n

[2020-04-28 20:35] #1643 closed, assigned to nobody

[2020-04-28 20:53] petronav opened #1644 "Daily graph for tested"
**Is your feature request related to a problem? Please describe.**
Right now the tested graph shown only works for cumulative switch but not for daily switch. Upon clicking on daily switch the testing graph vanishes where as the rest four graphs remain in their position as they were.

**Describe the solution you'd like**
Show a daily basis tested graph just like the rest of the four graphs of conf

[2020-04-28 20:55] codebynitish commented on #1638
If there is no data coming as a district-wise change.. then that shouldn't bbe displayed.. it gives no information on drilling down.

[2020-04-28 21:15] shubhamjain2998 opened #1645 "Optimization."
**Describe the bug**
Table and row components in home page need optimized code as the whole table get re-rendered on hovering or selecting the city like it re-renders almost 15 20 times on normal hovering, use of state and effect hook are doing this, the performance of app can be improved if the number of re-renders can be reduced and kept to child component only

The attached gif explains more wh

[2020-04-29 00:52] Gronx16 opened #1647 "Search option not working"
We are unable to type on search field present at the upper corner of the website covid19india.org/

[2020-04-29 01:09] #1617 closed, assigned to sudokoi

[2020-04-29 01:21] #1634 closed, assigned to nobody

[2020-04-29 01:30] jeremyphilemon opened #1648 "Tree-shake primer components"
**Is your feature request related to a problem? Please describe.**
The primer components are imported as a whole and is bloating the bundle size.

**Describe the solution you'd like**
Tree shake the imports as mentioned here: https://primer-components-bkeydftbnx.now.sh/components/docs/getting-started

**Additional context**
The primer components (breadcrumb and dropdown) are used in the state page

[2020-04-29 01:32] jeremyphilemon commented on #1610
@mkesavan13 Hey thanks for working on this!

Between which colors and which components is the tool suggesting the contrast issue?

[2020-04-29 01:33] jeremyphilemon commented on #1648
I'm leaving this open for first-time contributors, so please be mindful before claiming :)

/available

[2020-04-29 01:51] #1320 closed, assigned to nobody

[2020-04-29 01:51] #1601 closed, assigned to nobody

[2020-04-29 01:54] mkesavan13 commented on #1610
Hi @jeremyphilemon

I'm glad to work on this. If you look at the screenshot below you'll know. It points out most of the elements. The tool mentions that the four colours for "Confirmed", "Active", "Recovered" & "Deceased" itself needs contrast adjustment. Do you need me note down and share, specifically which elements or which colours need a change?

<img width="1674" alt="Screen Shot 2020-04-29

[2020-04-29 02:03] jeremyphilemon opened #1649 "Auto suggester on the search field"
**Is your feature request related to a problem? Please describe.**
Currently the search bar is empty. A suggester on the type on search inputs can be a good visual aid in letting people know what all searches it supports.

**Describe the solution you'd like**
Something like this:

<p align="center">
<img src="https://user-images.githubusercontent.com/17938322/80554384-9e97a880-89d5-11ea-9ab1-b1d2c

[2020-04-29 02:03] jeremyphilemon commented on #1649
/available

[2020-04-29 02:11] abhilaksh commented on #1425
Thanks for keeping this open for discussion @jeremyphilemon.

#1496 seems like a good idea. How are you planning on showing a single state's change in fatality and recovery rates over each day?

I think there should be a time interval filter somewhere so we could scroll through the time intervals, and the ability to sort by any of the columns on the table.

So, in terms of usability, as we scroll

[2020-04-29 02:29] abhilaksh commented on #1425
Do note that (3) is also not a perfect system. There isn't a perfect system.

[2020-04-29 02:45] vivekvroy opened #1650 "Text overlap in barchart"
For some states the bar chart overlaps with the content behind I.e. confirmed, active, date and numbers.
![ACF383C0-CAB7-43DB-8E24-59E3D5B0B145](https://user-images.githubusercontent.com/10249914/80556556-8b92d180-89f1-11ea-921f-366fffe53773.png)

[2020-04-29 03:00] nayakrahul commented on #1649
/claim . I will make a try.

[2020-04-29 03:34] nitkuk commented on #1648
/claim

[2020-04-29 03:57] #1460 closed, assigned to nobody

[2020-04-29 04:56] sankalpjoisar opened #1651 "Wrong information regarding Jamnagar cases for corona Virus"
jamnagar has only 1 case and the website is showing 2 case kindly correct the same.

[2020-04-29 05:30] Abhishekbhatia commented on #1391
_Would the districts with no cases for a day show 0?_

The number of cases on a particular date will only be available if the date is available in the "dateannounced" key of the raw_data.json.

_Also if data is structured in the following way it would be much easier._
I can structure that way too.

[2020-04-29 06:57] abhishekakade opened #1652 "Main JS chunk file size can be reduced by chunking components that are not rendered on initial page load"
**Describe the bug**
Components like  DeepDive, States, PatientDB, Resources, FAQ are not rendered on initial page load. So they can be chunked into individual chunk files and loaded and rendered as needed.
Currently they are all inside one big main chunk file and it is slowing down the initial page load and rendering.

**Expected behavior**
Components are chunked into separate files instead of on

[2020-04-29 07:16] nayakrahul commented on #1649
@jeremyphilemon should the terms in the box be in a loop?

[2020-04-29 07:31] kunalnitt opened #1654 "Show spread trends by district"

[2020-04-29 07:32] shuklaayush commented on #1616
Please refer to the discussion in #1313, #1426 and reopen this if you think it's still valid.

[2020-04-29 07:32] #1616 closed, assigned to nobody

[2020-04-29 07:34] shuklaayush commented on #1642
I think this is a bit out of our scope right now, since we don't collect this data. Will open it later if it becomes relevant. Thanks anyway!

[2020-04-29 07:34] #1642 closed, assigned to nobody

[2020-04-29 07:34] shuklaayush commented on #1640
Duplicates #1188

[2020-04-29 07:34] #1640 closed, assigned to nobody

[2020-04-29 07:35] shuklaayush commented on #1639
Duplicates #1641, since it appears to be the same problem

[2020-04-29 07:35] #1639 closed, assigned to nobody

[2020-04-29 07:36] shuklaayush commented on #1654
Duplicates  #1391

[2020-04-29 07:36] #1654 closed, assigned to nobody

[2020-04-29 07:42] shuklaayush commented on #1644
Hi! The testing time series also contains some missing data points in between since the information wasn't released by the state/central government. For example, there's no data for 22 April in the All States chart. I couldn't think of an elegant solution to handle this, so I didn't add the daily testing graph. Let us know if you have a solution in mind. Thanks!

[2020-04-29 07:43] shuklaayush commented on #1625
Looks like it's fixed now :)

[2020-04-29 07:43] #1625 closed, assigned to nobody

[2020-04-29 07:43] shuklaayush commented on #1651
Please report data discrepancies using [this form](https://forms.gle/MLeSrdwRuf8AjFkp9). Thanks! :)

[2020-04-29 07:43] #1651 closed, assigned to nobody

[2020-04-29 07:46] shuklaayush commented on #1594
Looks like it's fixed now :)

[2020-04-29 07:46] #1594 closed, assigned to nobody

[2020-04-29 08:50] #1636 closed, assigned to nobody

[2020-04-29 09:59] Mryashbhardwaj opened #1655 "india map hotness weighted by area"
**Is your feature request related to a problem? Please describe.**
Currently the indian map we show , is only colored on basis of total number of case in that area. a smaller area with more cases is more alarming than the other

**Describe the solution you'd like**
the indian map should be coloured statewise with respect to the area, of the state. you can normalise the color with respect to area o

[2020-04-29 10:07] srikoushik commented on #1040
Yeah it would be. Right now the zone information is only available in the media links which you shared earlier.

[2020-04-29 10:28] jeremyphilemon commented on #1649
@nayakrahul Yes ideally that's what I'm looking for, but what do you suggest?

[2020-04-29 10:51] #1007 closed, assigned to nishcthulhu

[2020-04-29 10:53] nayakrahul commented on #1649
@jeremyphilemon I have tried by looping the terms in the box. Soon I will raise a PR.

[2020-04-29 12:55] petronav commented on #1644
Yup, didn't notice this discontinuity. There's multiple dates 28 march, 29 march, 20 April - no data. How about we put something like 'Not Available' for two days when we have data missing for a day, like plotting zero on graph but writing NA in stead of any count along with fluctuation wrt previous day on the plot legend. We have data for the 19th, the 21st - we don't know exact count for the 20t

[2020-04-29 14:18] aishmittal opened #1658 "Dark Mode: Essentials page search keywords not clearly visible"
**Describe the bug**
Search keywords are not clearly visible in dark mode on the essentials page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/essentials'
2. Click on 'Search' Button
3. Type the search keyword in the search box.

**Expected behavior**
The search keyword and search icon should be clearly visible. The color should be consistent with all

[2020-04-29 14:30] shuklaayush commented on #1644
I think your approach makes sense. We can omit the bar for an extra day for the period when the data is missing. Also, instead of writing NA, we can just show a '-' like we do for the cumulative graph.

Let me know if you'd like to make a PR for this.

[2020-04-29 16:42] srikoushik commented on #1040
Here is the Chennai contamination zone list. https://www.google.com/maps/d/viewer?mid=1cB9aB7wFszdzKCsBR45bZE6A6gxs3hIz&shorturl=1&ll=13.036272231113742%2C80.26422099332149&z=15

[2020-04-29 17:30] anirudh411 commented on #1658
let me /claim the issue.

[2020-04-29 18:43] kousiksatish commented on #1159
@kalesourabh01 Any updates on this? I can take this up if you are not working on it.

[2020-04-29 20:44] tarun7singh opened #1659 "Include increase or decrease in active case count"
**Is your feature request related to a problem? Please describe.**
Active cases is a really important criteria for seeing if a country or a particular state is doing bad or good, in containing corona infection.

**Describe the solution you'd like**
Showing a positive or negative daily change, maybe by using (todayNewCases - deathsToday - recoveriesToday )

**Describe alternatives you've considered

[2020-04-29 20:47] abhishekakade commented on #1645
I believe those are onMouseEnter and onMouseLeave events on table rows added to highlight states/districts on hover.

[2020-04-29 21:49] ghost opened #1660 "Recovery/Fatality rate in percentage"
Recovery/Fatality rate to be displayed on homepage in percentage (adjacent to the numbers showing total for India on top).

[2020-04-29 22:46] phoenicopteri commented on #1659
Something like this can be good

<img width="424" alt="active" src="https://user-images.githubusercontent.com/11295641/80652072-cf8ae280-8a94-11ea-836f-6c50e4ed2531.png">

Although I'm not sure if the colors for daily active in state rows should be the same for positive / negative values.

[2020-04-30 00:42] christopherbramya opened #1661 "Case count details at district levels within state"
Please add count for Active case Recovered and Death in state page details at district levels .

Example Chennai is district in TamilNadu
It is showing only confirmed case count of 772

[2020-04-30 00:53] christopherbramya opened #1662 "Highlight state and district wise with red orange and green zone"
Highlight state page and district page wise with red orange and green zone.

[2020-04-30 00:54] christopherbramya opened #1663 "Add last case reported date in state wise and district wise"
Add last case reported date in state wise and district wise .

[2020-04-30 00:56] christopherbramya opened #1664 "Add expected date in stage and district wise to change to orange zone and green zone"
Add expected date in stage and district wise to change to orange zone and green zone based on everyday case reported

[2020-04-30 01:04] christopherbramya opened #1665 "Add Expected recovered date for Active cases in State and District wise"
Add Expected recover date for Active cases in State wise and District wise details based on everyday report

[2020-04-30 01:24] vsasvipul0605 commented on #1663
Check the website. This is already there when you click on the bell icon under search bar.

![SharedScreenshot](https://user-images.githubusercontent.com/47572837/80662618-58af1300-8aaf-11ea-845e-d13649613e81.jpg)

[2020-04-30 01:32] christopherbramya commented on #1663
This is very hard to go through for each state and district wise instead you can add as an extra column after Confirmed , Active , Deceased , then you can display one more column latest cases reported date . So we can go through as easiest way in all state and district at a single glance

[2020-04-30 05:59] shubhamjain2998 commented on #1645
Yes definitely, but I think it will be good if it will not re-render the whole table component on every hover whether its district or state, also there are some extra useState and useEffect hooks that can be optimized to restrict the re-rendering of the component.

[2020-04-30 07:17] abhishekakade commented on #1645
I meant that's probably where the problem lies.

[2020-04-30 07:24] Sushant-DA commented on #1636
was this closed without resolution?

[2020-04-30 07:46] avinasshcm commented on #1636
Yes. I did not notice that for some states it was updated in Bulk, i.e. 1 row in result contains more than 1 patient added. found a work around later.

[2020-04-30 08:32] shubhamjain2998 commented on #1645
okay, sorry for getting you wrong. :)

[2020-04-30 09:01] ghost commented on #1159
Done and sent a pull request

[2020-04-30 09:11] kiranreddysn opened #1666 "Add loading spinner to application."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-30 09:21] kambleaa007 commented on #1660
add screenshots @samadmeets

[2020-04-30 09:22] kambleaa007 commented on #1659
that are present `+number` is there @tarun7singh

[2020-04-30 10:06] sudevschiz commented on #1638
The delta values for each districts are present in the API, even if it's 0. Whether to show 0 or now is a matter of interpretation. For now, let's keep this as is.

[2020-04-30 10:06] #1638 closed, assigned to nobody

[2020-04-30 10:08] sudevschiz commented on #1647
Can you provide more information regarding the bug? Steps to reproduce or maybe a screencapture?

[2020-04-30 10:34] pavanmehta91 commented on #1391
Let's do it then @Abhishekbhatia .
I'm not sure how the APIs is working. But there's another repo for it and you can suggest a solution there referring the link for this issue.
https://github.com/covid19india/api
Once api is made I can take over.

[2020-04-30 10:35] pavanmehta91 commented on #1391
Looks like APIs are in JS. I hope it won't be much of an issue with you and Ideally api response should also be fast enough.

[2020-04-30 11:43] ghost commented on #1642
Okay , I get that

[2020-04-30 12:13] ishandutta2007 commented on #1662
Duplicate https://github.com/covid19india/covid19india-react/issues/1040

[2020-04-30 12:15] ishandutta2007 commented on #1244
Tracked under https://github.com/covid19india/covid19india-react/issues/1040

[2020-04-30 12:21] #1607 closed, assigned to KrishnaPravin

[2020-04-30 12:30] animesh-tarodia-sp commented on #1590
Before going any further on this issue, issue #1160 must be resolved first.

[2020-04-30 12:44] jeremyphilemon commented on #1587
@shruti-14 Hey thanks for claiming the issue, are you still working on this or shall I open it up again?

[2020-04-30 12:45] Abhishekbhatia commented on #1391
Okay @pavanmehta91 : Will do that. There have been new APIs added recently, so will create an API endpoint probably and will link this issue at https://github.com/covid19india/api.

[2020-04-30 13:53] #1662 closed, assigned to nobody

[2020-04-30 14:09] codewithkaranjeswani opened #1667 "Adding number of individuals tested from ICMR data in daily section"
**Is your feature request related to a problem? Please describe.**
In the graphs for number of cases (confirmed, active, recovered and deceased), there is a number of people **"Tested"** graph for the **Cumulative** section. There is no such graph in the **Daily** section.

**Describe the solution you'd like**
It is simple to calculate the number of tested individuals per day by using the cumulati

[2020-04-30 14:52] skkart commented on #1661
Please assign me if it becomes available.

[2020-04-30 15:08] shruti-14 commented on #1587
You can re-open it, sorry for the delay, as I am new to this D3 library.

[2020-04-30 15:24] nayakrahul opened #1668 "Style issues in table"
**Describe the bug**
- districts heading text color not same as states heading text color.
- Arrow up and down icon does not appear on recovered heading unlike others in district table on clicking it while sorting based on recovered.
https://github.com/covid19india/covid19india-react/blob/820e14ace2acf5987f87d61bd8cb27c3dbfa540d/src/components/row.js#L314 (Don't know what `sort-black` is. It shoul

[2020-04-30 16:01] Albinzr opened #1670 "Negative values are showing up"
Duplicate

[2020-04-30 16:48] Achal1607 opened #1671 "Visit stage page in mobile not proper"
**Description**
Visit stage page button has not proper alignment in mobile view.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'home page'
2. Click on 'Any state name'
3.See error

**Expected behavior**
Proper alignment in one line should be there.

**Screenshots**
![Screenshot_2020-04-30-22-10-25-212_com android chrome](https://user-images.githubusercontent.com/55803675/80736775-36

[2020-04-30 16:48] Achal1607 commented on #1671
I can fix it..

[2020-04-30 16:49] swoodipto commented on #1650
We can fix this by increasing the height of the parent container and aligning the graph to the bottom of the parent, _just enough_ so that the info text container at the top left corner and the graph do not overlap.

Let me `/claim` this if you agree.

[2020-04-30 17:03] rohitbabugaddeti opened #1672 "Giving the % of new cases registered if possible."
**Is your feature request related to a problem? Please describe.**

There's a lot of misunderstanding around the number of new cases registered. If "A" is doing "n" tests per day and the other guy "B" is doing "n-k" tests per day, where 'k'<'n' and 'n'>0. Because of showing only the number of new cases, people seeing the stats may think that "B" is really doing a great job in controlling the pande

[2020-04-30 17:28] skkart opened #1673 "Good to have new chart "daily recovered & confirmed cases" in deep dive section"
**Is your feature request related to a problem? Please describe.**
Would be great to see daily trend of recovered & confirmed cases in deep dive section

**Additional context**
This chart will give us the signal & outcome of virus on a daily basics.
In coming future, we would be seeing crossover of trend between confirmed cases and recovered cases which will demonstrate the positive sign.

[2020-04-30 17:47] petronav commented on #1644
I'll have to pass on PR. I'm not well versed in react, tbh.

[2020-04-30 17:52] #1670 closed, assigned to nobody

[2020-04-30 17:53] shuklaayush commented on #1667
Duplicates #1644

[2020-04-30 17:53] #1667 closed, assigned to nobody

[2020-04-30 17:59] nayakrahul commented on #1668
please assign me if it becomes available. It's a quick fix.

[2020-04-30 18:01] Albinzr opened #1674 "Negative values are showing up"
Attached image for ref
![image](https://user-images.githubusercontent.com/7425577/80743557-c81e1480-8b3a-11ea-8789-f8c308f238a1.png)

[2020-04-30 19:04] shubhamjain2998 commented on #1587
I would like to work on this if it gets available.

[2020-04-30 20:27] shuklaayush commented on #1644
Sure, nevermind

[2020-04-30 22:02] #1529 closed, assigned to nobody

[2020-04-30 22:02] #1471 closed, assigned to nobody

[2020-05-01 04:45] lakshmi14 commented on #1192
@shuklaayush and @jeremyphilemon can you please review it and close.. it's long pending..Thanks :)

[2020-05-01 04:53] merbin2012 opened #1678 "We can not able to see the testing report and need to see last patient found date"
Only top districts, testing report only can see, while scroll down the testing report count move up and disappear from the screen.

Requirement
We must need to know the last patient found date in district wise.

[2020-05-01 05:30] ishandutta2007 commented on #1040
I was eager to know if the number of red districts is increasing or decreasing, which is why I created https://github.com/covid19india/covid19india-react/pull/1679 .
As per interests in this thread, It doesn't solve the problem completely as we need more data to know finer granular containment zones of cities and areas inside cities.
For the time being we can merge my changes to the deep-dive page

[2020-05-01 05:36] KrishnaPravin commented on #1668
- Recovered heading arrow is fixed
- Space above and below district table are intentional

[2020-05-01 05:53] KrishnaPravin commented on #1665
Could you elaborate on what you mean by _Expected recover date_.
Also, is that date available in the everyday reports?

[2020-05-01 06:09] KrishnaPravin commented on #1541
fixed #1637

[2020-05-01 06:09] #1541 closed, assigned to nobody

[2020-05-01 06:18] gyanendrapatro commented on #1673
You can assign it to me

[2020-05-01 06:36] KrishnaPravin commented on #1674
fixed

[2020-05-01 06:36] #1674 closed, assigned to nobody

[2020-05-01 06:41] KrishnaPravin commented on #1666
The site is responsive enough to know that something is happening.

If you still feel a spinner is required, provide more info for all the questions in the issue template and we can reopen if valid.

[2020-05-01 06:41] #1666 closed, assigned to nobody

[2020-05-01 06:52] KrishnaPravin commented on #1661
these counts are available
![Screenshot 2020-05-01 at 12 21 29 PM](https://user-images.githubusercontent.com/17372422/80788321-68f5e980-8ba6-11ea-8680-2802199f7689.png)
![Screenshot 2020-05-01 at 12 21 44 PM](https://user-images.githubusercontent.com/17372422/80788326-6bf0da00-8ba6-11ea-8b12-3b1c8c3a3e89.png)