[2020-04-06 11:49] Jaisinghpeter commented on #564
can you add my email also for the sheet. Ill also try the same task . and i Dont know that i can complete or not but let me give a try

[2020-04-06 13:30] shekzek opened #735 "West Bengal Database Related."
New Update For west Bengal Official Press Release.

https://bengali.abplive.com/news/covid-19-india-live-updates-21-corona-cases-in-bengal-mamta-banerjee-pm-modi-680247

[2020-04-06 13:55] ghost commented on #519
is this issue still open to work on ?

[2020-04-06 14:05] dhruvkaushal11 opened #736 "Api Response Changed Suddenly"
**Describe the bug**
The response of the api at "https://api.covid19india.org/data.json" was changed suddenly.
Previously there was state wise and active data but everything just messed up last night.
**To Reproduce**
Just go to https://api.covid19india.org/data.json
You have mentioned [here](https://api.covid19india.org/) also that "**National time series, statewise stats and test counts**" is av

[2020-04-06 15:21] shuklaayush commented on #736
Hey @dhruvkaushal11, I think it's best if you post this on the [API repository](https://github.com/covid19india/api/issues). We're only tracking website issues over here.

[2020-04-06 15:21] #736 closed, assigned to nobody

[2020-04-06 15:24] karanshah0206 commented on #695
I would like to be assigned to fix this bug.

[2020-04-06 16:41] pastelsky commented on #647
@faisal3389 @kunalpgithub I've posted a rough sketch of how this can look on a mobile device. The data sources are linked in this thread. I think this can be divided into two independent streams –

1. Creation of the tabbed UI with placeholder content & and adding code for API calls for the API I've created.

2. Charting of the data & insights from the API.

I'm happy to provide more high-fidelity

[2020-04-06 16:50] bwayne2015 commented on #292
can't there be a bell icon on the top which shows this info on click of it...with a simle scrolling feature

[2020-04-06 17:06] chaira19 commented on #727
@alpha-k911 I would like to work with you in this feature. Please let me know if you start working on this.

[2020-04-06 17:17] kaushal7005 commented on #718
Change district name at Crowdsourced Patient Database -> Row_Data

Row no:
849
27/03/2020 |   |   | Mumbai | Gujarat* | Maharashtra
to
27/03/2020 |   |   | Mumbai | Mumbai  | Maharashtra

3030
04/04/2020 |   |   |   | Gujarat* | Maharashtra
to
04/04/2020 |   |   |   | Unknown | Maharashtra

[2020-04-06 18:30] #683 closed, assigned to nobody

[2020-04-06 18:42] muniramotorwala opened #738 "Patient Recovered Data"
I want you to please update the data of patients who have recovered so far and also the details of the patient from where the virus have infected them. This is could be a great help...

[2020-04-06 18:54] sohamnandi77 opened #739 "Suggest for showing more visualization"
Suggest for showing more visualization like
- % of male/female/children affected
- age graph of which age group most affected

[2020-04-06 19:22] hemantpandey17 commented on #519
I think it is already fixed

[2020-04-06 19:25] kavishdahekar commented on #718
Thanks @kaushal7005 , have requested access to edit the sheet.
I had a few questions - Does the api fetch all the data from the excel sheet? Is this done periodically? Where's the code that fetches the data from the sheet and writes them to the json files in the api repo?

[2020-04-06 20:06] nakradheer commented on #739
temporal analysis of each district from starting of march to get.when click on district name,chart should appear for that district.

[2020-04-06 20:07] nakradheer commented on #739
I can try some advance excel analysis if you give source file.

[2020-04-06 21:09] ketank1000 opened #740 "Adding total test done"
We keep the data on total test done and plot them.
https://www.worldometers.info/coronavirus/

you can see the example over here.
the test done ratio to affected people for India is far more than any other country in world we need to populate this data.

This is possible as time take to get test result is around 6 7 hr, but India has developed A kit which takes around 2 3 hrs which is very efficie

[2020-04-06 21:21] ketank1000 opened #741 "Show nearest essentials on state page"
The data given over here [here](https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vShWjNeNn8n0hen_5KIWQhq_RLCq4Obn23SUzRSAT5fKCQgOZuZnWe57g79elkwum2zavntG_GSawDM/pubhtml?gid=1775152218&single=true) is perfect
We need a page which will plot this data on map so the people open the map and root to nearest lab or ward unit. it will be very help full to see this data

[2020-04-06 21:24] #740 closed, assigned to nobody

[2020-04-06 21:24] ketank1000 commented on #740
Duplicate

[2020-04-06 22:58] guneetnarula commented on #530
Hi @limshark I checked the official SoI / NIC service at bharatmaps.gov.in, the block Datia in this district has panchayats that geographical separated from the main Datia district.

[2020-04-06 22:58] #530 closed, assigned to guneetnarula

[2020-04-07 02:35] alpha-k911 commented on #727
Sure

[2020-04-07 02:58] gigatesseract opened #743 "A dark mode based on local clock"
**Is your feature request related to a problem? Please describe.**
During night time, it might induce eye strain.

**Describe the solution you'd like**
A dark mode that toggles automatically with system time.

**Describe alternatives you've considered**
An alternative would be to continuously alter the intensity of the background as per time. But a dark mode might be preferred

**Additional contex

[2020-04-07 03:16] hLokre opened #744 "Show percentage of recovered patients column"
**Problem**
I would like to see percentage of patients in individual states/districts that have recovered. A percentage of people recovered will be a good indicator on how individual states or districts are responding.

Ex: 312 total cases 32 recovered.
Percentage column would be: **10.25%**  (32/312 *100 rounded to two decimal places)

**Solution**
A column to show percentage of recovered patient

[2020-04-07 04:07] denvamsi opened #746 "Demographics blocks modal issue"
**Describe the bug**
It's an amazing feature though, When we click on any patient ID, the whole website getting stretched, Seems small, But it will better if we fix it :)
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Demographics.'
2. Click on 'Click on Patient ID'
3. Scroll down to 'Observe Blocks and Modal Background'
4. See error

**Screenshots**
Check the below presentation

![e

[2020-04-07 04:09] jeremyphilemon commented on #746
Thanks for filing the issue :)

@Binu42 saw your PR a couple of days regarding the modal fix, can you help me fix that? I'll have it assigned to you!

[2020-04-07 04:14] denvamsi commented on #746
#606 This is the PR :) Can you please help it @binu42

[2020-04-07 04:20] kiku511 commented on #485
@jeremyphilemon Do you know if d3 allows us to increase the size of the clickable. I was thinking maybe we could retain the scale of the state but have a buffer area around the state to forgive slight inexact clicks.

[2020-04-07 04:41] denvamsi opened #747 "Why not style dropdowns on the Demographics and Fix the Description :)"
**Is your feature request related to a problem? Please describe.**
No it is not, But a sweet styling :)

**Describe the solution you'd like**
The website has a whole new level of UI, But on the select dropdown styling is not good and didn't matched at all:)

**Describe alternatives you've considered**
I have written some CSS code, I know you can write more better :)

![image](https://user-images.g

[2020-04-07 05:12] Binu42 commented on #746
ya sure, assign it to me. i started working on it.

[2020-04-07 06:03] ghost commented on #519
i'd like to contribute, but the telegram link isn't working. Any help would be appreciated!

[2020-04-07 06:09] ridiis opened #748 "Deaths in hp"
The no of deaths in hp is 1 and the no of recovered is 2
And active cases are 25
3 jamatis from una
12 others una
1 from kangra
3 Solan
4 chamba
Do check and update

[2020-04-07 06:50] kaushal7005 commented on #718
**@kavishdahekar** No, I have no permission to edit the sheet.
Ans:-
yes, API fetches all the data from the excel sheet.
Sheets updated automatically every 5 minutes.
There is backend repo available https://github.com/covid19india/api.git

[2020-04-07 06:51] kiku511 opened #749 "Average growth in percentage"
**Is your feature request related to a problem? Please describe.**
This is a feature request related to the graphs right under the map.

**Describe the solution you'd like**
I think another interesting metric is to see what the average growth rate is in new cases as compared to previous day, previous week and previous X days. This is inspired from a visualization provided by [91-divoc](http://91-d

[2020-04-07 07:05] guptadev opened #750 "2 Confirmed case found in Mathura District UP but not added into report."
**Describe the bug**
While clicking the Uttar Pradesh state drop-down no data found for Mathura district.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...' **https://www.covid19india.org/**
2. Click on '....' UTTAR PRADESH

**Expected behavior**
Mathura District data should be shown.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://us

[2020-04-07 07:12] kiranreddysn opened #751 "Add growth factor"
Try to add another graph for Growth factor

[2020-04-07 07:31] kiku511 commented on #727
Here's a resource that I was reading for forecasting. http://www.healthdata.org/covid/updates
It's released by the IHME and they used it to predict the course of the spread through different states in the US. I think following a similar model might help us forecast better.
Link for the projections: https://covid19.healthdata.org/projections
Details on the methodology and formulae used: www.medrxiv

[2020-04-07 07:34] SKMitra opened #752 "Database Usage Request"
Hello to all. I am a Ph. D. scholar. Can I use the patient database of your website for my research?

[2020-04-07 07:35] architchandra commented on #464
It would be great if daily change _percentage_ can be added (or ratios as the OP mentioned). The number can be added right next to the _absolute_ daily change number when hovering on a daily sample (right next to `-36` in the screenshot above but in parentheses perhaps).

This number can give a more direct understanding of whether a "flattening" of the curve is actually being achieved or not.

[2020-04-07 08:05] guneetnarula commented on #723
Hey, we are using names as per the registrar general of india and survey of india. These districts are spelt like that by them, but it is true that there is no consistency among different government bodies

[2020-04-07 08:08] guneetnarula commented on #413
Hey @jeremyphilemon @shuklaayush just uploaded another batch of jsons. Covers all union territories and remaining northeast states. Only MZ and TN are left now. Needs some work. https://github.com/guneetnarula/indian-district-boundaries/tree/master/topojson/state-wise

[2020-04-07 08:08] anuragguptanbmc opened #754 "Duplicate Nationality"
**The bug**
In the Nationality Donut chart, you can see two Indian and India.

**To Reproduce**
https://www.covid19india.org/deepdive
look for patient nationality chart.

**Expected behavior**
Indian should be merged in India nationality.

**Screenshots**
![Bug_Covid19_Nationality](https://user-images.githubusercontent.com/36069918/78645320-ff4f2c00-78d4-11ea-949a-04c2fca545a4.png)

[2020-04-07 08:11] mdfaizan7 commented on #586
Hello, is this issue available? If it is, then I would like to work on it too

[2020-04-07 08:26] abhiyx opened #755 "WebApp is getting slow"
As the data is increasing, the app is getting slower, i think its time to introduce cache if you guys are not already using it.

[2020-04-07 08:29] s-naveen commented on #754
Fixed.

[2020-04-07 08:29] #754 closed, assigned to nobody

[2020-04-07 08:33] atharvaunde commented on #755
This can be sorted by deploying the app on firebase and connecting the current domain to it.

[2020-04-07 08:41] TheDominus commented on #708
@JunaidBabu  Part 1 of the solution can be easily implemented on the new deep dive, India total case graph and the graph can be reused.

[2020-04-07 08:54] #519 closed, assigned to jeremyphilemon

[2020-04-07 08:56] debasishdebs commented on #468
Have you guys thought about Graphical way to identify Clusters/Hotspots? Some sort of Graph analytics + Viz?
I know you guys used to have a Graph representation but it seems to be removed now. I've worked with Graph databases and Analytics extensively and here is what I propose:

1. For every patient detected, we know the state, city, and maybe even the region they belong to like neighborhood (Atl

[2020-04-07 08:56] faisal3389 commented on #647
@pastelsky sure, I would like to help out, I can create the tabbed UI.

Just to reverify my understanding of the feature, we are adding a new page to the current app, which will show the reports and will be using the APIs from https://github.com/pastelsky/covid-19-mobility-tracker.

[2020-04-07 09:11] GoutamHub opened #757 "Need Graph representation for no. of deceased VS age range"
Need Graph representation
(1) for no. of the deceased VS age range.
(2) Among all the cases how many of them are male & female.

This will give some more idea on survival probabilities for a specific age range.

[2020-04-07 09:58] vamshi9666 opened #758 "PWA with offline support"
**Is your feature request related to a problem? Please describe.**
It would be better to make this into PWA for mobile users. so that they dont need to open browser everytime
**Describe the solution you'd like**
To use workbox for enabling offline support.

**Describe alternatives you've considered**
Minimum is to just have a icon for homescreen without offline support

**Additional context**
mobi

[2020-04-07 11:07] faizan346 opened #759 "Add graph for states."
Additional feature.
  Plz add graph for states which shows daily increase in cases, recovered cases and deceased cases for state. Just like the graph for whole india. When we tap on state in indian map, show corresponding graphs.

[2020-04-07 11:09] kavishdahekar commented on #718
Thanks @kaushal7005
But I don't see the code in the [api repo](https://github.com/covid19india/api.git) that pulls the google sheets data.

[2020-04-07 11:16] shuklaayush commented on #759
Duplicate of #564

[2020-04-07 11:16] #759 closed, assigned to nobody

[2020-04-07 11:18] vasanth-rajan opened #760 "thoothukudi map selection is showing zero always"
table is showing correct figures , where as it doesn't match with the value above map

[2020-04-07 11:20] vasanth-rajan commented on #760
<img width="1447" alt="Screenshot 2020-04-07 at 4 49 41 PM" src="https://user-images.githubusercontent.com/10737996/78663513-dc7e4100-78ef-11ea-87bd-ff231a0e2250.png">

Attached the screenshot

[2020-04-07 11:53] shuklaayush commented on #760
@vasanth3045 Good catch. It's because of the different spellings (extra 'k') in the table and the map.

[2020-04-07 12:40] Manjukb commented on #741
@ketank1000 how to download the spread sheet ??

[2020-04-07 12:50] mohak1999 opened #762 "Active, Recovered and Decreased numbers not showing for Districts"
When we hover a district map it only shows confirmed cases. Active, recovered and decreased cases numbers are not shown in the window.

[2020-04-07 12:52] #632 closed, assigned to nobody

[2020-04-07 12:57] ketank1000 commented on #741
I dont know who maintains the sheet, but i can see very useful data over there.

I can see 2 way over here:
Case 1:
    - Download the file on the server side.
    - Parse the file and add it in our own database
    - we have to schedule this for everyday

Case 2:
    - Download the file on the client side.
    - Parse the the data and then directly plot it on the map

[2020-04-07 14:27] radiohertz opened #765 "Broken css on mobile"
**Describe the bug**
Broken css on mobile.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the site on Mobile

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**

- Device: Moto G6
- OS: Android 9
- Browser Chrome

**Additional context**
Add any other context about the problem here.

[2020-04-07 14:32] DhiralKaniya commented on #765
Same experience with Google Chrome Web also.

Link:- https://www.covid19india.org/

OS:- Mac
Chrome version:- 80.0.3987.163

<img width="1680" alt="Screenshot 2020-04-07 at 8 01 34 PM" src="https://user-images.githubusercontent.com/21332852/78681700-b31ede80-790a-11ea-9b35-a8952495efe1.png">

[2020-04-07 14:37] vandanachandola commented on #743
@gigatesseract  if this issue is not taken, i'd like to work on it. Also I was wondering, wouldn't providing a toggle button instead be better? The user can switch when he wants to.

[2020-04-07 14:38] DhiralKaniya opened #766 "Recovery record miss-match for Telangana State between Update and Table"
**Describe the bug**
Update shows the Telangana has 12 recovered cases but its not reflected in the table.

**To Reproduce**
1) Go to:- https://www.covid19india.org/

2) Go to:- Update section
<img width="732" alt="Screenshot 2020-04-07 at 8 04 48 PM" src="https://user-images.githubusercontent.com/21332852/78682191-4e17b880-790b-11ea-8e67-4cae41a1869a.png">

3) Go to :- Table view of Telangana
<im

[2020-04-07 14:40] karankiri commented on #765
@DhiralKaniya @davejon1337 It's working for me now. Can you check?

[2020-04-07 14:48] radiohertz commented on #765
Can confirm it's working.

[2020-04-07 14:48] #765 closed, assigned to nobody

[2020-04-07 14:58] sarafvpz opened #767 "12 persons have been declared negative on 07/04/2020 in Kerala. 5 from Kannur, 4 from Ernakulam and 1 each from Thiruvananthapuram, Alappuzha and Kasaragod districts. As of now 263 positive cases are active"
12 persons have been declared negative on 07/04/2020 in Kerala. 5 from Kannur, 4 from  Ernakulam and 1 each from Thiruvananthapuram, Alappuzha and Kasaragod districts. As of now 263 positive cases are active.

http://dhs.kerala.gov.in/wp-content/uploads/2020/04/Daily-Bulletin-HFWD-English-April-7-1.pdf

[2020-04-07 15:24] Manjukb commented on #741
looks  they already have parsed  data here https://github.com/covid19india/api/blob/master/resources/resources.json  not sure its exposed ?? @jeremyphilemon

[2020-04-07 15:26] tshrwbl opened #769 "It looks like graph is falling down"
While cases are actively increasing every day, The current graph is showing a negative slope.

[2020-04-07 15:28] shuklaayush commented on #769
Duplicates #761

[2020-04-07 15:28] #769 closed, assigned to nobody

[2020-04-07 15:31] jrishabh55 commented on #282
@jeremyphilemon I don't think issue exists any longer, can you confirm and let me know if you can replicate the same

![image](https://user-images.githubusercontent.com/18290665/78688431-e4031180-7912-11ea-8934-632223d1a7df.png)

[2020-04-07 15:31] shuklaayush commented on #762
Duplicates #675

[2020-04-07 15:31] #762 closed, assigned to nobody

[2020-04-07 15:34] Arusara commented on #760
i would like to work this one

[2020-04-07 15:55] userhasnoname0 opened #771 "Demographics filter is not working"
**Describe the bug**
Demographics filter is not working

**To Reproduce**
Steps to reproduce the behavior:

1. Go to demographics
2. Click on states and city
3. Scroll down to '....'
4. See error

**Expected behavior**
To show the filtered data

**Screenshots**
![image](https://user-images.githubusercontent.com/62875345/78691308-17936b00-7916-11ea-9ab5-2116ac929f49.png)

![image](https://user-imag

[2020-04-07 16:09] vivek-manjunath opened #772 "Navbar and summary section re-design(screenshot attached)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-07 16:15] DhiralKaniya commented on #766
![Screenshot_20200407_214053](https://user-images.githubusercontent.com/21332852/78693439-de102f00-7918-11ea-8d2e-98f3f53d302b.jpg)
![Screenshot_20200407_214107](https://user-images.githubusercontent.com/21332852/78693443-e10b1f80-7918-11ea-99b2-c3b2efcdec26.jpg)

Capturing screenshot for reference.

[2020-04-07 16:16] amrishkhan05 opened #773 ""Thoothukkudi" district under TamilNadu state under the table and map are mismatched"
**Describe the bug**
the district thoothukkudi is misspelled somewhere either under the table or under the map which causes
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Click on 'state tamilnadu and compare the table with state map '
3. we will find the district thoothukudi mismatching in data
4. See error

**Expected behavior**
A clear and concise

[2020-04-07 16:32] priyadharshini-github commented on #630
Any update yet?

[2020-04-07 16:59] #767 closed, assigned to nobody

[2020-04-07 16:59] sarafvpz commented on #767
Updated

[2020-04-07 17:01] sachinsangle8652 opened #775 "Need Separate count for Navi Mumbai under Maharashtra"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-07 17:08] userhasnoname0 opened #777 "Update section better view and enhancements"
**Is your feature request related to a problem? Please describe.**
Update should come on top for better readablity.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
![image](https://user-images.githubusercontent.com/62875345/78698754-6c3be380-7920-11ea-8fa9-ec8b04c7a48c.png)

[2020-04-07 17:13] discountedcookie commented on #743
@vandanachandola what about using `prefers-color-scheme`?

[2020-04-07 18:07] vandanachandola commented on #743
@ciaasteczkowy yes imo, using `prefers-color-scheme` along with a toggle button would do. That way, if a user generally prefers light mode but wants to access the website in dark mode, he can toggle. Is there a better way acc to you?

[2020-04-07 18:21] discountedcookie commented on #743
@vandanachandola exactly, a toggle + auto mode, which reacts on `prefers-color-scheme` instead of a defined time.

[2020-04-07 18:35] shuklaayush commented on #773
Duplicates #760

[2020-04-07 18:35] #773 closed, assigned to nobody

[2020-04-07 18:36] #775 closed, assigned to nobody

[2020-04-07 18:45] userhasnoname0 commented on #777
For reference

Added below in the beginning of function Home
`const [showUpdate,setShowUpdate] = useState(false);`

Added at the very beginning of <div className="home-right">
`<div className="update-block">

        {showUpdate && (
          <React.Fragment>

            <div
            className="updates-header fadeInUp"
            style={{animationDelay: '1.5s'}}

            <h1>Updates</h1

[2020-04-07 18:45] Vaibhav2812 opened #778 "NPM install is getting failed after clone."
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno ENOENT
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t ssh://git@github.com/srowhani/gonzales-pe.git
npm ERR! enoent
npm ERR! enoent
npm ERR! enoent spawn git ENOENT
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this r

[2020-04-07 18:52] shuklaayush commented on #778
It's an issue with git. Check if it's properly installed by running ``` git  --version ``` in ```cmd```.

[2020-04-07 19:13] jeremyphilemon commented on #743
Yes this sounds good! Assigning this to you, also before implemeting can we decide on the color palettes?

We can go with `#161625` for backgrounds, and `#bdbdbd` for the texts? I have a feeling the other colors may not need translation since they're all transparent, but correct me IfI'm wrong about that – we can decide on the other colors too!

[2020-04-07 19:40] discountedcookie opened #779 "Collapsed navbar for mobile"
**Is your feature request related to a problem? Please describe.**
After adding new items to the navbar, it doesn't fit anymore on mobile.

**Describe the solution you'd like**
A collapsed navbar, with an activator button, which opens a list with all the items.

**Describe alternatives you've considered**
Scrollable navbar? May be harder to use.

**Additional context**
![screenshot](https://user-i

[2020-04-07 21:17] sama007 commented on #676
Attaching screenshot for mobile view

![Screenshot_2020-04-08-02-44-49-084_com android chrome](https://user-images.githubusercontent.com/14778332/78720336-25131a00-7943-11ea-90aa-9bb973843d78.png)
![Screenshot_2020-04-08-02-45-00-799_com android chrome](https://user-images.githubusercontent.com/14778332/78720357-2f351880-7943-11ea-9515-f11e31f4fd87.png)

[2020-04-07 23:59] sudevschiz commented on #760
Marking @guneetnarula to the conversation.

[2020-04-08 00:02] guneetnarula commented on #760
Should be resolved by the upcoming Tamil Nadu json in #413

[2020-04-08 00:58] kiku511 commented on #771
I think it breaks when there are no cases in a particular area on a particular date. When I go through the case you provided, I saw that there were no reported cases on 7th April (till around 5 mins ago) but the date is still available in the date selector. When you select it, the patients component does not re-render as there are no updated cases for the day.

**Possible solution**
- Edit the dro

[2020-04-08 00:59] sudevschiz opened #781 "Date mentioned in the "Updates" section is non-intuitive"
**Describe the bug**
Update section has a date mentioned. Does it mean that all the updates are for that date?
If that is the case, there could be confusion in the news card below, because the time in that seems to be for next day?

![image](https://user-images.githubusercontent.com/4298868/78732967-0df21d80-797f-11ea-91f1-993095743aef.png)

Also, unsure when that date will change.

**Expected beh

[2020-04-08 02:38] aman4512 opened #782 "Pimpri Chinchwad shows up twice in city dropdown"
**Describe the bug**
Pimpri Chinchwad shows up twice in city dropdown when Maharashtra state and Pune district are selected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Demographics
2. Select Maharashtra in the state dropdown
3. Select Pune in the district dropdown
4. See error (Pimpri Chinchwad is visible twice, once as Pimpri Chinchwad and once as Pimpri-Chinchwad)

**Expected beh

[2020-04-08 02:54] JunaidBabu commented on #781
Why not remove the date field itself.

Just show "Updates" and below that the card with relative time.

[2020-04-08 05:05] amrishkhan05 commented on #773
@shuklaayush just saw #760 thanks for the update

[2020-04-08 05:33] smittal1209 commented on #672
@kant @tuxdna @tecoholic Any update on this team?

[2020-04-08 05:43] DarkPrince304 opened #784 "Clicking outside the modal in `Demographics` should close it"
**Is your feature request related to a problem? Please describe.**
Not really, it's just a UX thing. While using the website I felt like clicking outside the modal should also close it

**Describe the solution you'd like**
- Go to `Demographics`
- Click on any Patient ID
- Modal Opens up
- Clicking outside the Modal should close it

**Additional context**
I would like to work on it if possible! :)

[2020-04-08 05:52] userhasnoname0 commented on #771
Hi @kiku511 ,

Today and yesterday itself i checked from mobile, it is showing sorted data even when not selected the date.
Reference:
![Screenshot_20200408-112027](https://user-images.githubusercontent.com/62875345/78749090-29fbbc00-798b-11ea-8694-afbf7e663656.png)

[2020-04-08 05:59] userhasnoname0 commented on #781
Agrees with @JunaidBabu . Moreover it should come on the top for better readability, mentioned in #777

[2020-04-08 06:11] shuklaayush opened #785 "'Districts Unknown ...' text overlaps with legend"
**To Reproduce**
On phone,
1. Go to the India map
2. Double tap Madhya Pradesh to open district view

**Screenshots**
![image](https://user-images.githubusercontent.com/27727946/78750417-cfb02a80-798d-11ea-8aa3-ee09a490b90c.png)

[2020-04-08 06:22] BhaveshSGupta commented on #781
Or we could date with time, something like updates till 8 April 11:00 am IST
So that if someone keeps tab through the day they are viewing an old instance of data.

For better visibility we could add time and in small text size besides of Updates.

[2020-04-08 06:26] guptadev opened #786 "Duplicate like (Hatras , Hathras) District Name in Uttar Pradesh . Only one district in Uttar Pradesh i.e Hatharas which is correct"
**Describe the bug**
Only one District in Uttar Pradesh like Hathras which is correct. this issue is in Demographics page and report section

**To Reproduce**
Steps to reproduce the behavior:

1. Go to  https://www.covid19india.org/
2. Click on : Uttar Pradesh
3. Scroll down to  Report  Hatras and Hathras Ditrict which should be one only like Hathras
4. See error

**Expected behavior**
Only one sh

[2020-04-08 06:27] gigatesseract commented on #743
I wanted to work on this as well :sweat_smile: A single person can fix this though. I will try solving other issues. Looking forward to the dark mode soon! :smile:

[2020-04-08 06:27] BhaveshSGupta opened #787 "Make updates interactive"
**Is your feature request related to a problem? Please describe.**
Currently in updates section we are showing updates sources of data. But it non interactive normally updates are clickable section a user see individual updates

**Describe the solution you'd like**
We can add link to original source so that if any one needs to check source for this information they can see that.

[2020-04-08 06:36] userhasnoname0 commented on #781
@BhaveshSGupta @sudevschiz  as individual update log times we can see, in that case time besides date will be over information. Rather than, showing in each and every log like, "about four hours ago", we can show the original timings of update log.

[2020-04-08 06:40] vamsineelam opened #788 "Andhra Pradesh cases not updated from the last 14 hrs"
**Describe the bug**
Andhra Pradesh cases not updated from the last 14 hrs.

**To Reproduce**
Steps to reproduce the behavior:

1. open https://www.covid19india.org/
2. Click Andhra Pradesh in the carona cases tracker table
3. can see the last updated time is 14hrs ago

**Expected behavior**
The update should be more frequent in sync with the state government bulletin.
Please check the correct sou

[2020-04-08 06:46] jainprabhash opened #789 "Demography for dates when no new cases have been detected."
**Is your feature request related to a problem? Please describe.**
It seems like the website is not able to fetch the demographics data because data of the previously selected date is shown if there were no new cases on the selected date.

**Describe the solution you'd like**
"No New Case" label can be shown instead of the data of the previously selected date.

**Additional context**
I would like

[2020-04-08 06:53] Binu42 commented on #784
it's already solved here #753

[2020-04-08 06:55] chinmaydalvi commented on #387
@shuklaayush
This issue is fixed now so closing the PR

[2020-04-08 06:55] #387 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-08 06:56] helios1101 commented on #672
Hey, @smittal1209
I was wondering we can integrate all payment links of every state and show them when there is hover on map on state.
Additionally, we can add some page, illustrating authenticity of links and how each contributions will cause impact. Total number of clicks on each can be pictured, as total impact we have caused in this contributions.

[2020-04-08 08:16] gh1914 opened #791 "SATNA DISTRICT IS NOT IN MAHARASHTRA"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-08 08:36] userhasnoname0 commented on #781
@sudevschiz

Will this below one be ok?

![image](https://user-images.githubusercontent.com/62875345/78762918-24f63700-79a2-11ea-9268-443d0a05d448.png)

[2020-04-08 08:38] vandanachandola commented on #743
Hi @gigatesseract , I don't mind working on this on my own or in collaboration. If you wish to work together, you can reach me on Telegram @vandanachandola. Since I haven't decided on color palettes, I haven't started working on this yet.

[2020-04-08 08:42] akshat112 opened #792 "Text overlap in “Spread Trends” graph [Screenshot added]"
**Describe the bug**.
Name of the Month and date overlaps in the graph x-axis if we toggle 14D option.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to home page
2. Scroll to the graphs and see the option of choosing time frame. [All, 1M, 14D]
3. Select 14D option
4. Check the x-axis labels of graphs

**Expected behavior**
Text should not overlap and name of the month should be slightly

[2020-04-08 08:42] userhasnoname0 opened #793 "Can we create an API for the hotspot areas are declared in India and point them out in Map"
We should create an API for the declared hotspot places over India and point them out in map, for as an information.

[2020-04-08 08:43] kambleaa007 commented on #791
@gh1914 What is `...` means actually, where to click?

[2020-04-08 08:45] kambleaa007 commented on #791
i clicked on > Maharashtra
then i can see Satna, actually it must be in Madhya Pradesh

[2020-04-08 08:51] userhasnoname0 commented on #777
Updated with beacon and removed date and time for individual update log
![image](https://user-images.githubusercontent.com/62875345/78764182-cd58cb00-79a3-11ea-94e4-0cfcbc8bf38e.png)

[2020-04-08 08:52] kambleaa007 opened #794 "Scroll inappropriate"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home'
2. Click on '> of any state'
3. Scroll down to 'more info'
4. See error

DISTRICT | CONFIRMED gets Overwritten, after further scroll down which must not,

STATE/UT | CONFIRMED | ACTIVE | RECOVERED | DECEASED is still visible, which must not after scrolled fur

[2020-04-08 09:10] rohanharikr commented on #791
This is coming from the API.

[2020-04-08 09:20] rohanharikr commented on #794
Working on this issue.

[2020-04-08 09:22] kambleaa007 commented on #791
I dont think so,
search for `SAT`, only single correct entry,
![image](https://user-images.githubusercontent.com/19818679/78767614-74d7fc80-79a8-11ea-8fe0-b2a746885140.png)
There is only one name in maharashtra.json file, search for `SAT`

Two for string `SA`
![image](https://user-images.githubusercontent.com/19818679/78767989-efa11780-79a8-11ea-8d4b-7623f3f25c3d.png)
Which is correct

[2020-04-08 09:44] rohanharikr commented on #791
Will look into it.

[2020-04-08 09:47] userhasnoname0 commented on #777
Multiple update logs are seprated in json using '\n' , which causing a mess message in update

Issue:

![image](https://user-images.githubusercontent.com/62875345/78770170-d9e12180-79ab-11ea-8daa-746eb594458b.png)

Could be resolved by separating '<br/> '  atleast. like ,

![image](https://user-images.githubusercontent.com/62875345/78773610-1cf1c380-79b1-11ea-9d81-c1b8ed2d8235.png)

[2020-04-08 10:02] opheliagame commented on #674
@sudevschiz I have tried extracting the topologies. You can check the files [here](https://drive.google.com/open?id=1VZdMq30nGT9waN5qDYJpbhtFLJdyZEWm)

[2020-04-08 10:16] absrobot opened #795 "Please add case to death ratio somewhere in the site"
Please add case to death ratio somewhere in the site.

Possible area you can add:

1. Home page: Just mention the ratio.
2. Deep Dive page: State wise and whole country wide chart if possible.
3. Death in relation to age or gender in Demographic page

Keep up the good work... Bravo.

[2020-04-08 11:15] rohanharikr commented on #791
@kambleaa007 When I checked a while back, Satna district was coming in the Maharastra districtData. Now, they have removed "Satna" altogether; the reason why it's no longer being shown in the website. Prolly they are working on a fix in the back end.

[2020-04-08 11:18] shuklaayush commented on #792
Should be fixed in #776

[2020-04-08 11:28] akshat112 commented on #792
Great!

[2020-04-08 12:13] codeslane opened #800 "Move Update at Top of the Page"
Move the update section on top of the page will be easier to get updates at first.

[2020-04-08 12:16] smittal1209 commented on #672
@helios1101 I nice thought but lets break your concerns :

- The maps on the home page are showing the data and a lot of details already. So as per me, showing donate also there will mess up a lot of information on one place. Moreover we don't know that we will be able to provide donate links for all the states or not.

- Please check my PR on link [Here](https://github.com/covid19india/covid19ind

[2020-04-08 12:18] codeslane opened #801 "Rechecked & Repositive Cases"
It's in news that there are cases of corona positive cases / individual who have been treated and later on found positive again after few days.

Some extra row or extra method needs to show those data else it would show the wrong data and wrong graph 📈 every time if a city gets covid positive individual who have been treated before.

[2020-04-08 12:41] pranavtalwar opened #802 "Proper graph on website for active cases by date"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-08 12:52] shrisha-h commented on #782
This looks like an issue with the raw_data.json where Pimpri Chinchwad is present only once and Pimpri-Chinchwad is present elsewhere.

[2020-04-08 12:57] shuklaayush commented on #800
Duplicates #777

[2020-04-08 12:57] #800 closed, assigned to nobody

[2020-04-08 13:23] mayankbhagya opened #803 "Medical resources per district"
**Is your feature request related to a problem? Please describe.**
Policy makers need a clear view of how many medical resources (beds, icus, ventilators, doctors) have been provisioned per district. If projections for a city cross the number of available resources, it is a red flag and proactive measures can be taken to save lives.

**Describe the solution you'd like**
Data for medical resources

[2020-04-08 13:27] prabu-manickam commented on #300
@chinmaydalvi It would be great to have the counter to know the time left for the next automatic refresh

[2020-04-08 13:36] chinmaydalvi commented on #300
@prabu-manickam
I Need an opinion on your point.

@jeremyphilemon Are we good with functionality which I developed or do we need anything more?

[2020-04-08 13:51] rahul-chavda opened #804 "Wrong Link of Sources"
**Describe the bug**
patient information in https://www.covid19india.org/demographics having wrong links of source 2 and 3 (both are of source 1)

**To Reproduce**
open any patient information having 2 or 3 sources

**Expected behavior**
Should have the correct link to sources

**Screenshots**
source link of patient id 4921
![image](https://user-images.githubusercontent.com/12614320/78791589-b8912

[2020-04-08 13:55] shuklaayush commented on #777
Hi @userhasnoname0 , looks like you resolved the problem with git. Regarding this issue, my opinion is that the map should have a higher priority than the Updates section. If we want to show the latest update, we can include it in the banner, and maybe a click on it would scroll to the update section. I don't see the point in moving the whole update section to the top.

[2020-04-08 13:55] sagarhodar opened #805 "TAP OVER A DISTRICT FOR MORE DETAILS"
![IMG_20200408_190753](https://user-images.githubusercontent.com/16621185/78791656-ca72d000-79cd-11ea-9889-06bccb203117.jpg)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to

[2020-04-08 13:56] shuklaayush commented on #805
Duplicates #675

[2020-04-08 13:56] #805 closed, assigned to nobody

[2020-04-08 14:30] userhasnoname0 commented on #777
Hi @shuklaayush , Yeah git problem resolved. And I thought of banner but, as Banner is for awarness messages only, that's why didn't worked on it. And click and scroll I did, just commented in my codebase. And keeping the higher priority on map, update is something like flash message should come on the readable area at the very first look of website, that's why top ( Banner is also ok ).

[2020-04-08 14:41] jeremyphilemon commented on #743
@gigatesseract Oh my bad, I didn't think you wanted to be assigned too! I've assigned you both!

You can collaborate with @vandanachandola too imo :)

[2020-04-08 14:43] prabhakaryalla opened #806 "Showing Data in Tabular Structure With Filter, Sort and Export Functionality"
**Describe the solution you'd like**
Displaying the data to show in Tabular structure using material-table library.
It has built in features sorting, filtering, Export options.
This makes users to see the data in detail.

**Additional context**
The below is the sample screenshot how the screen looks
![image](https://user-images.githubusercontent.com/42337157/78797258-15441600-79d5-11ea-92a0-dd687a

[2020-04-08 14:44] shireeshaBongarala commented on #601
@jeremyphilemon I would like to work on this. Please assign it to me

[2020-04-08 15:07] srikanthlogic commented on #672
In case you are proceeding with this approach - You may find this useful - [State of payment digitization in Disaster Relief Funds -- India](https://docs.google.com/spreadsheets/d/1gTrGvX6HfGfd4zkfm7ctMgUBNwo6DhNUNvz5n5KVbw4/edit#gid=0)

[2020-04-08 15:13] #792 closed, assigned to nobody

[2020-04-08 15:23] gaurav7118 opened #808 "Wrong district name as Italians are showing in State Rajasthan & Haryana"
**Describe the bug**
There are wrong entries in districts as "Italians*" in the table of states "Rajasthan" & "Haryana".
**To Reproduce**
Steps to reproduce the behavior:

1. Go to State Rajasthan/Haryana and expand it
2. You will find entries like "Italians" which is clearly not a district.

**Screenshots**
![Bug_district](https://user-images.githubusercontent.com/46915693/78801110-dbc1d980-79d9-

[2020-04-08 15:27] prabhakaryalla commented on #806
I can work on it, if the feature is accepted

[2020-04-08 15:30] vandanachandola commented on #743
I checked out dark mode in a couple of websites. Recommended background color is `#121212`. Actually quite a few changes should be introduced in the palette - text color in the banner, the alternate rows in the table, h1 heading color is not clearly visible etc..
![image](https://user-images.githubusercontent.com/27973159/78802837-e7160480-79db-11ea-808f-53fefe4e2af0.png)

[2020-04-08 15:51] pratyankG opened #809 "Data does not show"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-08 16:04] helios1101 commented on #672
Sure, @smittal1209
It looks much clean. I can start working on the same, as a new page.
Thanks for suggestion @srikanthlogic
Will try to use the authentic links for the same.

[2020-04-08 16:17] bodasheera opened #810 "Who are patient E0 and E1 in column "contractedfromwhichpatientsuspected" column in raw data ?"
![image](https://user-images.githubusercontent.com/16837816/78808057-88a05480-79e2-11ea-94be-1c5d5110390d.png)

[2020-04-08 16:25] nayakrahul commented on #795
this will be useful

[2020-04-08 16:28] sudevschiz commented on #810
E0 is the Delhi Congregation event
E1 is the Noida cluster

[2020-04-08 16:28] #810 closed, assigned to nobody

[2020-04-08 16:28] #809 closed, assigned to nobody

[2020-04-08 16:30] sudevschiz commented on #806
Are you referring to the State/District table? My opinion is that it's good as it's.
Do you see any UX improvements?

[2020-04-08 16:31] sudevschiz commented on #791
Yes. It was a wrong mapping between Satna and Satara districts. Fixed in the data. Thanks for reporting.

[2020-04-08 16:31] #791 closed, assigned to nobody

[2020-04-08 16:32] sudevschiz commented on #804
Is it specific to P4921?

[2020-04-08 16:42] aashish-chaubey commented on #778
@Vaibhav2812  I faced the same issue once!

As @shuklaayush pointed out, improper installation of git could be the primary reason.

Else, this may be a `node-gyp issue` not being able to find the file. Could you please try to reinstall Node if there is no hard dependency on your local version in any of your projects?

[2020-04-08 16:43] rahul-chavda commented on #804
no its fow every patient details having multiple sources.

[2020-04-08 16:45] sudevschiz commented on #808
This is by design.

Maybe it's better to show it as "Others"? We will have to implement a feature to add a footnote then.

[2020-04-08 16:49] vedadeepta opened #811 "Embed Our-World-In-Data Tests per thousand people chart"
**Is your feature request related to a problem? Please describe.**
Test data not shown.

**Describe the solution you'd like**
[OurWorldInData](https://ourworldindata.org/grapher/full-list-cumulative-total-tests-per-million?time=45..76&country=IND) has "Total tests per thousand" graph. They maintain and update it. It can be embedded in the website.

**Describe alternatives you've considered**
No al

[2020-04-08 16:50] sudevschiz commented on #803
We have already started collecting this information in "StateWise_Tested_Numbers_Data" sheet.

However, if this should be the way it should shown would need further discussion. @jeremyphilemon  @JunaidBabu

[2020-04-08 16:53] sudevschiz commented on #803
Until have more coverage for this data across states, let's put this on hold.

[2020-04-08 16:53] sudevschiz commented on #802
Unclear. Closing.

[2020-04-08 16:53] #802 closed, assigned to nobody

[2020-04-08 17:02] mayankbhagya commented on #803
is statewise_tested_numbers_data already exposed as an api?

[2020-04-08 17:40] ninjakx opened #812 "Enabling crossfiltering on analytics graphs to make it more interactive"
**Is your feature request related to a problem? Please describe.**
We can add cross filter which can help to see the graph based on other criteria. Like If a user click on female gender on piechart then all the graph displayed should be based on that gender.

**Describe the solution you'd like**
We will use frame works which allows crossfiltering. For that we will be using D3.js and Dc.js.

![Scre

[2020-04-08 18:05] kann87 commented on #788
![Screen Shot 2020-04-08 at 11 35 16 PM](https://user-images.githubusercontent.com/63366780/78818021-a1643680-79f1-11ea-879a-dd229838274b.png)
Seems not an issue, Getting updated with latest data.

[2020-04-08 18:24] ninjakx opened #813 "Adding date range filter for the graphs."
**Is your feature request related to a problem? Please describe.**
We can add this to show graphs between two dates which will give more insight.

**Describe the solution you'd like**
We will use pre built library to create date time range sliding filter. Based on range it will create a slice of data. All the graphs will be based on this sliced data.

**Additional context**
![Screenshot 2020-04-08

[2020-04-08 18:36] mayankbhagya commented on #803
besides, are there plans to incorporate projections anytime soon? that'll help in authorities getting a clear picture of what is expected demand and what is available supply of resources.

anywhere we can brainstorm?

[2020-04-08 18:42] gaurav7118 commented on #808
@sudevschiz I think "Others"(under "**District**" column) can be used for **Indian** citizens if they are being confirmed in other districts but under district column we can not write any nationality because that doesn't make any sense and also creates confusion.

**Solution can be:**
To add one more row under total as "Total Confirmed Cases Including Foreign Nationals" and just add total confirme

[2020-04-08 18:54] aashish-chaubey commented on #480
Yes, I think this should be integrated, as it will help people to

A. Reach out to the authorities with very specific contact details (I can help train the chatbot)
B. Find any data in specific the user is looking for instead of having to through the drill through

Please let me know if I could be of any help here!

[2020-04-08 19:15] jhataka opened #814 "New Graph, New Cases Vs Total Cases"
Pl add a graph which I think will be more correct representative of state. Measure on y axis new cases vs on x axis total cases...this would give a better' comprehension as against the number of cases vs days.

A drop in new cases will bee seen immediately as against wait for trend to develop..

**Is your feature request related to a problem? Please describe.**
A clear and concise description of w

[2020-04-08 19:21] chaharnishant11 opened #815 "Delhi map not working properly"
The map of Delhi is not showing cases by districts.

Steps to reproduce the behavior:

1. Go to map of India.
2. Click on Delhi.
3. See error
![Screenshot from 2020-04-09 00-50-00](https://user-images.githubusercontent.com/44123094/78824613-45eb7600-79fc-11ea-83a0-76d06bf86c72.png)

[2020-04-08 20:00] samratthetechwiz opened #816 "Spread Trend should change to State wise trend when a particular state is selected"
**Is your feature request related to a problem? Please describe.**
As of now when we select a state, the map changes to that state but the Spread Trend remains as of the country.

**Describe the solution you'd like**
When a state is selected, Spread Trend should show the trend of that particular state.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2020-04-08 20:09] mauryan-nks opened #817 "Cpanel Installation"
is it possible to install this in cpanel if yes can you help me please

[2020-04-08 20:13] nmnrna opened #818 "* in Haryana district wise data"
**Describe the bug**
Haryana District wise list has * in front of Italians, but what this * signifies is not written

**To Reproduce**
Steps to reproduce the behavior:

1. Go to covid19india.org
2. Click on ">Haryana" from state table
3. Scroll down to Italians in the district wise data
4. See * in front of Italians

**Expected behavior**
An explanation of what the * in front of Italians signifies

[2020-04-08 20:58] bee-rickey opened #819 "Mismatch in the deaths delta count."
![image](https://user-images.githubusercontent.com/63364562/78832885-a339f400-7a09-11ea-9ee7-9fd783516eac.png)
![image](https://user-images.githubusercontent.com/63364562/78832911-acc35c00-7a09-11ea-869e-f9db713caea3.png)

The top count mismatches with the bottom one.

[2020-04-08 21:48] hemantpandey17 commented on #819
Can take a look into it. Please assign

[2020-04-08 22:54] faisal3389 commented on #804
looks like this is a valid bug, I would like to pick this up if accepted

[2020-04-09 01:17] DashmeetArt commented on #694
@jeremyphilemon , if we are showing the data for particular state of India based on number without user hovering on that, then I think we should highlight the area on map with boundaries, similar to when mouse hovers on that.
Because showing complete map, but data of particular region doesn’t make any sense, or at least add text among that data, that why that particular state’s data has been showi

[2020-04-09 02:02] #746 closed, assigned to Binu42

[2020-04-09 02:20] jeremyphilemon commented on #55
Closed by #539

[2020-04-09 02:20] #55 closed, assigned to nobody

[2020-04-09 02:20] jeremyphilemon commented on #67
Closed by #539

[2020-04-09 02:20] #67 closed, assigned to nobody

[2020-04-09 02:21] jeremyphilemon commented on #75
Added in #661

[2020-04-09 02:21] #75 closed, assigned to jeremyphilemon

[2020-04-09 02:24] jeremyphilemon commented on #190
Added by #539, #325 addresses myth busters

[2020-04-09 02:24] #190 closed, assigned to nobody

[2020-04-09 02:25] jeremyphilemon commented on #258
Closing this since #261 addresses this

[2020-04-09 02:25] #258 closed, assigned to nobody

[2020-04-09 02:25] jeremyphilemon commented on #262
@krupeshxebia sure go ahead :)

[2020-04-09 02:27] #78 closed, assigned to nobody

[2020-04-09 02:29] bodasheera commented on #810
Thanks a lot

[2020-04-09 02:29] jeremyphilemon commented on #278
Okay the explanation is just too good, all yours @omui :)

[2020-04-09 02:33] jeremyphilemon commented on #282
@jrishabh55 Oh you're right! Sorry for having assigned you, feel free to request an "available" issue, I'll be glad to assign you again :)

[2020-04-09 02:33] #282 closed, assigned to jrishabh55

[2020-04-09 02:34] #285 closed, assigned to JunaidBabu, sudevschiz

[2020-04-09 02:35] jeremyphilemon commented on #292
Closed by #725

[2020-04-09 02:35] #292 closed, assigned to faisal3389

[2020-04-09 02:36] jeremyphilemon commented on #292
@bwayne2015 Can you open a new issue for that? Would be easier to assign someone!

[2020-04-09 02:40] jeremyphilemon commented on #310
Closed by #661. If the people who commented here read this, csv/json downloads are being used at the moment, but a little more enhancements can be made especially when the filters are applied! Feel free to open it as an issue and assign yourself if you'd like to work on it :)

[2020-04-09 02:40] #310 closed, assigned to nobody

[2020-04-09 02:41] jeremyphilemon commented on #322
Dunzo!

[2020-04-09 02:41] #322 closed, assigned to tecoholic

[2020-04-09 02:41] #326 closed, assigned to nobody

[2020-04-09 02:42] jeremyphilemon commented on #371
Done yo!

[2020-04-09 02:42] #371 closed, assigned to JunaidBabu, sudevschiz

[2020-04-09 02:44] jeremyphilemon commented on #443
Closed by #725

[2020-04-09 02:44] #443 closed, assigned to JunaidBabu, sudevschiz

[2020-04-09 02:45] #453 closed, assigned to JunaidBabu, sudevschiz

[2020-04-09 02:53] jeremyphilemon commented on #485
@kiku511 mhmm I'm not really sure, the clickable is the fill of the state polygon, but one can add an invisible polygon in the topojson and scale it to make the "buffer area" as you mentioned?

[2020-04-09 02:56] jeremyphilemon commented on #504
@shuklaayush so is this still open?

[2020-04-09 02:57] jeremyphilemon commented on #611
Closed by #753

[2020-04-09 02:57] #611 closed, assigned to denvamsi

[2020-04-09 02:58] jeremyphilemon commented on #784
Closed by #753

[2020-04-09 02:58] #784 closed, assigned to nobody

[2020-04-09 02:58] jeremyphilemon commented on #816
Duplicate of #80

[2020-04-09 02:58] #816 closed, assigned to nobody

[2020-04-09 03:02] #788 closed, assigned to nobody

[2020-04-09 03:03] jeremyphilemon commented on #779
Closed by #790

[2020-04-09 03:03] #779 closed, assigned to discountedcookie

[2020-04-09 03:03] jeremyphilemon commented on #778
@Vaibhav2812 Did it work?

[2020-04-09 03:08] jeremyphilemon commented on #750
Thanks!

[2020-04-09 03:08] #750 closed, assigned to nobody

[2020-04-09 03:14] jeremyphilemon commented on #706
Patched #707

[2020-04-09 03:14] #706 closed, assigned to nobody

[2020-04-09 03:15] prabhakaryalla commented on #806
I  was referring to the Patent details.  In order to the see the patient details i need to go Patent Database where the user experience is not that great.

So my Idea is to create a new Page which will show all the Patient Details with Search, Filter, Sort Options with below Fields
Patent Name
Age
Gender
State
District
Status

On click of Patient Name it will redirect to the source_1

[2020-04-09 03:42] soninishank opened #822 "Showing wrong district name in Rajasthan"
<img width="551" alt="Screen Shot 2020-04-09 at 9 08 44 AM" src="https://user-images.githubusercontent.com/39820546/78855697-3db62980-7a42-11ea-8957-4dfc8a14085c.png">
There is no such district EVACUEES in Rajasthan

1. Open https://www.covid19india.org/
2. Choose Rajasthan state
3. Then you can  **EVACUEES** district.

[2020-04-09 04:02] bootleg-icarus commented on #793
The data is only available for districts. eg: We can know the reported cases in Jaipur as a whole but not more refined areas such as 'Malviya Nagar'. This would make sense too, seeing as making the information of the home of the infected public, could cause panic in that area.
If you can find a more refined data set, would love to make this enhancement

[2020-04-09 04:03] soninishank commented on #822
There is one more field  i can see Italians . Is it a bug too. Please review it once in Rajasthan state .

<img width="1440" alt="Screen Shot 2020-04-09 at 9 20 30 AM" src="https://user-images.githubusercontent.com/39820546/78856259-e0bb7300-7a43-11ea-95de-7fcc73fcdd36.png">

[2020-04-09 04:29] shuklaayush commented on #504
@jeremyphilemon Wait for the next PR :wink:

[2020-04-09 04:58] shuklaayush commented on #819
@hemantpandey17 I think this might be because of the [API](https://api.covid19india.org/data.json). The top count is calculated from the 'statewise' entry, while the bottom graph takes the last value of 'cases_time_series'.

[2020-04-09 04:58] smittal1209 commented on #672
@srikanthlogic Thanks for providing the data source.
Please refer to below screen shots on how the page will look like. I have already done the code and PR was raised but due to community guidelines was advised to first raise an issue for the same.
So, If this issue is approved, we can make other relevant changes and the PR can be merged.
Please approve the issue.
<img width="1391" alt="Screenshot

[2020-04-09 05:00] aakashsbhatia2 commented on #822
This looks like incorrect entries in the crowdsourced patient database. It is showing up in the "Raw_data" section and hence as entries in 'state_district_wise.json'.

![image](https://user-images.githubusercontent.com/55904554/78859502-8697bf00-79fd-11ea-8d6c-7f5c24859e1b.png)

[2020-04-09 05:08] hemantpandey17 commented on #819
I think you right. Bottom graph takes data by using some validateCTS() function which reduces the count of records by 1. That means, it is taking number of cases till the day before.  Any idea what is that function for ? It was my first time hovering over code today.

And yes, the values are different as they are taken by two different sources

[2020-04-09 05:15] aakashsbhatia2 commented on #808
This looks like an error thats starting at the crowdsourced data in the raw_data tab

![image](https://user-images.githubusercontent.com/55904554/78860239-b0ea7c00-79ff-11ea-929b-875e768a150e.png)

Correct me if I'm wrong please

[2020-04-09 05:20] burlarajesh opened #824 "Search functionality in the table component"
I thought it would be a great idea if we can have a search functionality where we can filter by state names.

The screen looks like below:

![image](https://user-images.githubusercontent.com/10438863/78860524-0cdcf100-7a50-11ea-87f3-966dc5b46f6c.png)

[2020-04-09 05:22] trilloc opened #825 "Graph of active cases"
Hi

Could you also add the graph of active cases along with the new/confirmed cases, recovered cases and deaths.

Thank you.
Rajesh

[2020-04-09 05:29] guptadev commented on #750
Thanks for your update.

[2020-04-09 06:35] #676 closed, assigned to ashwin06k, sama007, nikita-11

[2020-04-09 06:40] Binu42 opened #826 "loader on patient data area (demographics page) until patient data get loaded"
**Is your feature request related to a problem? Please describe.**
on demographics page, it's taking some time to load patient data. sometime user may visit downward and found that no patient data is there and moved on to next page.  loading of patient data can be slow from various cause like internet slow, or any late response from api or something. it will be better user experience, if we can gi

[2020-04-09 06:49] hemantpandey17 commented on #819
@jeremyphilemon Is there any particular reason of getting data from two different sources.
For time series graph, it is taking value from the last value of 'cases_time_series' and top levwl count is from 'statewise'.

Should we focus on changing the timeseries data source or getting value of 'cases_time_series' more frequently ?

[2020-04-09 06:51] shuklaayush commented on #819
@hemantpandey17 That's because the bottom graph only plots data till the previous day. The counter on the top is the live data at any particular time. It could be handled in the code by looking at the date and timestamp, but this is what we have right now

[2020-04-09 06:53] sarkar-sayantan commented on #675
<img width="960" alt="covid1" src="https://user-images.githubusercontent.com/21034360/78866271-b5914d80-7a5c-11ea-922a-f1ab13f43651.PNG">
I was checking it. The reason behind this was - two different types of data is recieved. Look at the right side of the picture (highlighted).

[2020-04-09 06:55] hemantpandey17 commented on #819
I am assuming that is part of the backend code. Correct me if I am wrong.
Curious to know, how frequent is data updated here : https://api.covid19india.org/data.json

[2020-04-09 07:19] shuklaayush commented on #819
No. its' there in our code. For the graphs, check out home.js -> timeseries.js. For counters, see home.js -> label.js

The API repository is here: https://github.com/covid19india/api. I think it's updated every 10mins or so.

[2020-04-09 07:22] yashsinghcs opened #829 "Comparision of india with worlds senario"

[2020-04-09 07:22] #829 closed, assigned to nobody

[2020-04-09 07:26] crypticrod commented on #803
Can you please point me to the discussion on why the parameters to be tracked in the statewise_tested_numbers_data sheet were chosen? If a few more parameters become relevant, then recollecting them can be a difficult actitvity.

[2020-04-09 07:27] yashsinghcs opened #830 "Comparision of Worlds DAILY CASES to INDIA"
This would provide a good view to the citizens of india that How good or bad they are doing from other powerfull countries . It could be a sence of motivation to all.

This could be done with a drop down Saying how well indians are doing on COVID-19 Crisis as compared to Worlds Out having more Facility but failing misserably.

btw:sorry for my bad English

[2020-04-09 07:28] crypticrod commented on #803
I think that this is a very important feature and would vote to get this unhold. Would love to participate in further discussion.

[2020-04-09 07:31] hemantpandey17 commented on #819
Both the top and bottom are getting values from  https://api.covid19india.org/data.json. It is just response.data.statewise is updated more frequently than response.data.case_time_series.

[2020-04-09 07:50] yashsinghcs opened #832 "map the patient for visualisatation of chain"
graphically map the patients ,area wise dipicting possible chain through which it spread .which will allow peple to know the affected people in thier area and and possibly notice the chain it could have spread. therefore maintaining the distance from suspected people.
also it would help people who are showing some symptoms to go in self qurantine if they are facing some symptoms and assume them to

[2020-04-09 08:01] rishabh091 commented on #830
I can do this.
It can be done like showing line graphs as the graphs we had seen earlier, those will be quite good at depicting how well we are performing as compared with the rest of the world.

[2020-04-09 08:09] yashsinghcs commented on #830
if possible try that,
the grap line must be overlapped with total cases today with recovered and died people for different countries including india, which would allow highest extraction of info from least studying the data from the user's end.

[2020-04-09 09:01] kousiksatish opened #836 "State - Total cases graph in deepdive should have "Select all" and "Deselect all" options"
**Is your feature request related to a problem? Please describe.**
Yes. If I want to compare only two or three certain states in this graph, I have to make multiple clips to deselect each state one by one.

**Describe the solution you'd like**
 It would be more easier to deselect all at once and select one by one.

**Additional context**
It took 8 clicks to get to below status:
![Screen Shot 2020-

[2020-04-09 09:02] kousiksatish commented on #836
I would like to work on this. Please assign it to me. I will review possibility with chartjs library

[2020-04-09 09:02] sarkar-sayantan commented on #675
I think, I can fix it. Please assign it to me. @jeremyphilemon

[2020-04-09 09:28] Siddharth11 opened #837 "Share covidmaps link under helpful links section ?"
**Is your feature request related to a problem? Please describe.**
I'm part of a [small team](https://github.com/covid-maps), united by a [common cause](https://covidmaps.in/about) 🙂
Our platform helps user find essential services by their location. The project is still in infancy (barely 2 weeks old), and we have already reached around 30k users globally. It would be great if you could share our

[2020-04-09 09:30] SivakumarNuthalapati opened #838 "How To Add Local Language Like Telugu Instead Of English"
How To Add Local Language Like Telugu Instead Of English By Defaullt

[2020-04-09 09:49] jeremyphilemon commented on #838
@sudevschiz

[2020-04-09 09:55] ameyasd007 opened #839 "Refresh button to update all the data"
**Is your feature request related to a problem? Please describe.**
I use the this website a lot. Usually I keep it open in one of the tabs of my browser. When I come back to this tab after few minutes or hours to check latest data, I still looking at the older data and I have to hit the refresh button which loads the entire page and I am just waiting for it to load.

**Describe the solution you'd

[2020-04-09 10:01] memetics19 opened #840 "Aligning the graphs"
The graphs ui is not so good. Should decrease the size of the graphs and align it correclty

[2020-04-09 10:07] swapniltomake opened #841 "about page link showing faq"

[2020-04-09 10:23] acorreya commented on #825
I second this! Please add!

[2020-04-09 10:24] swapniltomake opened #842 "fix text position on essentials page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'essentials page'
2. select state->city->category
3. click search button
4. Scroll down to 'pagination'

![Screenshot from 2020-04-09 15-34-48](https://user-images.githubusercontent.com/19332878/78885464-4e829180-7a7a-11ea-9e8f-72df4b136b46.png)

**suggetion**
add

[2020-04-09 10:33] pushkalsingh3 commented on #789
I think this issue should be categorised as a bug not an enhancement.

[2020-04-09 10:43] pushkalsingh3 commented on #789
![Screenshot_20200409-155552](https://user-images.githubusercontent.com/21074557/78887195-0f097480-7a7d-11ea-88d6-e864bcffd3f4.jpg)

[2020-04-09 10:44] pushkalsingh3 commented on #789
Same issue found for mobile application as well.

[2020-04-09 11:23] animesh-tarodia-sp opened #844 "Remove evacuees and italians from district in Rajasthan"
**Describe the bug**
It is clear that evacuees and italians are not a district in Rajasthan. The data of evacuees and italians must be added in the district they are kept and a note should be written about the same

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'State/Ut'
2. Click on 'Rajasthan'
3. See error

**Expected behavior**
The evacuees and italians must be added to the distri

[2020-04-09 11:25] TauseefMalik opened #845 "Typo in city name 'Ahmadnagar'"
Description of PR
fixed spelling mistakes in cities -> 'Ahmadnagar' to 'Ahmednagar'
https://en.wikipedia.org/wiki/Ahmednagar

Type of PR

[✓] Bugfix
 New feature
Relevant Issues
Fixes #...

Checklist

[✓] Compiles and passes lint tests
[✓] Properly formatted
[✓] Tested on desktop
[✓] Tested on phone
Screenshots

[2020-04-09 11:29] #844 closed, assigned to nobody

[2020-04-09 11:32] shireeshaBongarala opened #846 "Add the count of patients beside the date."
**Is your feature request related to a problem? Please describe.**
Yes. It's difficult to get a count of patients on a particular date. A small count beside the date would be helpful
**Describe the solution you'd like**
Something like this which would give a total count of patients.
![image](https://user-images.githubusercontent.com/12621572/78890602-90640580-7a83-11ea-8441-ce70f73a1c6d.png)

**Ad

[2020-04-09 11:49] srikanthlogic commented on #838
Worked in #21

[2020-04-09 12:04] aswaathb opened #848 "Map Healthcare Facilities nearby"
**Is your feature request related to a problem? Please describe.**
Show nearby hospitals on map.

**Describe the solution you'd like**
Show hospitals closest to me on the tracker page (by @ashish199820) which also shows the cases near me.

**Describe alternatives you've considered**
Current substitute of the essentials page?

**Additional context**
Add any other context or screenshots about the fe

[2020-04-09 12:04] Vaibhav2812 commented on #778
@shuklaayush @aashish-chaubey @jeremyphilemon

 it's  problem with git.  now working fine. closing this issue.
  Thanks.

[2020-04-09 12:05] #778 closed, assigned to nobody

[2020-04-09 12:15] rajeshkannanv opened #849 "Typo in DISTRICT name Thoothukkudi"
**Describe the bug**
Spelling mistakes in city name Thoothukkudi
Count mismatch in District Map and District list Please find attached image
Please change city name to **Thoothukudi** from Thoothukkudi

https://en.wikipedia.org/wiki/Thoothukudi

**To Reproduce**
1. Go to https://www.covid19india.org/
2. Click on "TAMIL NADU" from state
3. Find the DISTRICT "Thoothukkudi"
4. Click/Hover on  "Thooth

[2020-04-09 12:59] srikanthlogic commented on #849
Will be fixed along #413

[2020-04-09 13:09] jayantanth opened #851 "Please add test data"
I have seen few minites for Test data shown in State wise. Please add it again.

[2020-04-09 13:25] KrishnaPravin commented on #815
@chaharnishant11 I guess it is working can you check again?

[2020-04-09 13:30] dpnkrpl opened #852 "Drop down menus don't follow ( on mobile devices) the website theme"
Drop down menus do not maintain the entire website theme.

[2020-04-09 13:45] KrishnaPravin commented on #748
@ridiis please use [this form](https://docs.google.com/forms/d/1HVXi3-0ckxGTS81yAN1RmgrVnvg9cg2pyPTuPgBeVEo) to report cases
https://docs.google.com/forms/d/1HVXi3-0ckxGTS81yAN1RmgrVnvg9cg2pyPTuPgBeVEo

[2020-04-09 13:45] #748 closed, assigned to nobody

[2020-04-09 13:48] thecodegenie opened #854 "KARNATAKA state missing from Deep Dive Line graph"
The line graph in deep dive section was having Karnataka state a few days ago and now its missing. Might be a bug or an overlap with other states.

[2020-04-09 13:50] KrishnaPravin commented on #735
@Kalibaba-Pro please use [this form](https://forms.gle/MLeSrdwRuf8AjFkp9)

https://forms.gle/MLeSrdwRuf8AjFkp9

[2020-04-09 13:50] #735 closed, assigned to nobody

[2020-04-09 13:58] shuklaayush commented on #849
Duplicates #760

[2020-04-09 13:58] #849 closed, assigned to nobody

[2020-04-09 13:59] omui commented on #278
@jeremyphilemon Thank you for giving me this opportunity. I have implemented notification feature. Whenever there is any change in data.json, user will see notification with updated stats and clicking on notification will navigate to page with refreshed data. You can check code here.
https://github.com/omui/covid19india-react/commit/5aede169e729bfba94e23160dfad02afb12a4e3c

Everything was good unt

[2020-04-09 14:02] sudevschiz commented on #854
Deep-dive tab needs serious upgrades. Making a user-friendly way to compare all the states in teh state daily graph would be one key thing Making it issue available for interested folks to pick up and work on!

[2020-04-09 14:04] KrishnaPravin commented on #597
@Rajakumar1988 I guess this issue has been resolved. Can you check again now?

[2020-04-09 14:05] sudevschiz commented on #848
Where would the data for this be available?
If it's available, a user-generated custom map on Google Maps solve this requirement?

[2020-04-09 14:49] kambleaa007 commented on #791
@rohanharikr @sudevschiz  Thanks, Its Fixed

[2020-04-09 15:02] inderpreetsinghips opened #857 "Host Header Injection"

[2020-04-09 15:04] #857 closed, assigned to nobody

[2020-04-09 15:05] inderpreetsinghips opened #858 "Host Header Injection"
**Describe the bug**
An attacker can manipulate the Host header as seen by the web application and cause the application to behave in unexpected ways.

Very often multiple websites are hosted on the same IP address. This is where the Host Header comes in. This header specifies which website should process the HTTP request. The web server uses the value of this header to dispatch the request to the

[2020-04-09 15:11] cedricsandars opened #859 "Mismatch of Topology Thoothukudi district name"
**Describe the bug**
Looks like the district name has an extra "K" in it, which results in empty result in Tamil Nadu district map.

**To Reproduce**
Steps to reproduce the behavior:

1. Drill down to TN Map
2. Hover Thoothukudi
3. It has empty results, whereas the actual result is 20+

Solution:

Remove the additional K from Thoothukkudi to match Topology data Thoothukudi

[2020-04-09 15:31] shuklaayush commented on #859
Duplicates #760

[2020-04-09 15:31] #859 closed, assigned to nobody

[2020-04-09 15:36] Zindra commented on #760
Need fix this below API :
https://api.covid19india.org/state_district_wise.json

[2020-04-09 15:43] #804 closed, assigned to faisal3389

[2020-04-09 16:08] aswaathb commented on #848
Ive just modified the dataset. ICMR has a list of hospitals and private labs. heres a working version (with the rest of the elements stripped off)
aswaathb.github.io/covid19india-react

![knn_new](https://user-images.githubusercontent.com/25769767/78915998-dded6c00-7a9d-11ea-8f2d-d58fa41e8114.png)

Also only static maps are free via google maps. You need to pay for it beyond a certain point (only

[2020-04-09 16:09] Zindra opened #861 "Make the Right side MAP section non static"
_When we are selecting any particular District we can not see the map of that State/Disctrict_

Make the **Right side MAP section non static**. So when we are expanding the district section then we can see the map of that district on mouse_hover.

This issue in impacting more for the states or districts showing in below part like Arunachal Pradesh, Goa etc..

![image](https://user-images.githubuse

[2020-04-09 16:22] bee-rickey commented on #832
Data provided by the state govts is not enough to carry this development out.

[2020-04-09 16:22] #832 closed, assigned to nobody

[2020-04-09 16:25] #841 closed, assigned to nobody

[2020-04-09 16:29] JunaidBabu commented on #858
How can we solve this?

[2020-04-09 16:39] bee-rickey commented on #813
A good option to have in the deep-dive section.

[2020-04-09 16:42] bee-rickey commented on #837
Have a look at this once? https://github.com/covid19india/covid19india-react/issues/848 Seems like the two of you can sync up.

[2020-04-09 16:43] bee-rickey commented on #848
This request seems like they already have the workflow setup: https://github.com/covid19india/covid19india-react/issues/837 Might be interesting to have a look at this once.

[2020-04-09 16:46] bee-rickey commented on #840
Need more information on this. Please update with screenshots and describe what is required.

[2020-04-09 16:51] bee-rickey commented on #824
Since there are only 36 states, there's little usage for this. Closing as of now.

[2020-04-09 16:51] #824 closed, assigned to nobody

[2020-04-09 16:54] aruncodes commented on #814
I think OP is trying to explain this https://aatishb.com/covidtrends/ .

[2020-04-09 17:02] bee-rickey commented on #801
This data is not available as of now. Closing this until the state govts make this data available.

[2020-04-09 17:02] #801 closed, assigned to nobody

[2020-04-09 17:05] bee-rickey commented on #814
Could be a good addition for deep dive

[2020-04-09 17:13] Siddharth11 commented on #848
Hi @aswaathb, our platform [covidmaps.in](https://covidmaps.in/) is solving a similar problem. We need developers, designers and content writers (for localization). You can also [contribute to it](https://github.com/covid-maps/covid-maps) :)

[2020-04-09 17:17] ninjakx opened #862 "There is a random character in city dropdown list"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'essential page'
2. Click on 'Andhra Pradesh' from 'choose state'
3. There is this F in the city dropdown option.

**Screenshots**
![Screenshot from 2020-04-09 22-43-05](https://user-images.githubusercontent.com/29797787/78922353-054f3380-7ab4-11ea-992d-b2a04718a8c7

[2020-04-09 17:36] ninjakx opened #863 "Table size is not fixed in essential"
**Describe the bug**
Table is getting expanded and compressed due to length of text under Description column.

**To Reproduce**
Steps to reproduce the behavior:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/29797787/78923988-b2c34680-7ab6-11ea-956f-6a531b5e5c85.gif)

[2020-04-09 18:01] Nitin96Bisht commented on #862
@ninjakx issue is with the API. Kindly report an issue https://github.com/covid19india/api

[2020-04-09 18:02] ninjakx commented on #854
@sudevschiz  Can't we have interactive dashboard like this one ?

![img](http://adilmoujahid.com/images/viz_demo.gif)

[2020-04-09 18:19] mauryan-nks opened #864 "how to install this on cpanel server"
cpanel nodejs installations failed if anyone can help please do wite back. I m always getting 503 error while installing from nodejs software in cpanel

[2020-04-09 18:26] Zindra commented on #825
Hey @trilloc , Is this what you are talking about ? SS attached.
![image](https://user-images.githubusercontent.com/30254595/78928079-a1ca0380-7abd-11ea-9101-8d82da0f3e1e.png)

If yes , please assign it to me.. I am trying to add that feature.

[2020-04-09 18:31] acorreya commented on #825
@zindra This is what i was asking. I think this is what the OP wants too.

[2020-04-09 18:39] Zindra commented on #825
Okay @acorreya , Is it possible for you to assign this ticket to me ? I am working on this.

[2020-04-09 18:45] TheDominus commented on #825
![Capture](https://user-images.githubusercontent.com/21247346/78929577-49e0cc00-7ac0-11ea-92c7-94784fea695c.JPG)

I too was working on it some days back but I did some progress. But, you can continue the changes.

[2020-04-09 19:05] TheDominus opened #866 "Add toggle for dailys in DeepDive"
**Is your feature request related to a problem? Please describe.**
In the daily cases, add toggle option to enable disable a category.

**Describe the solution you'd like**
3 toggle buttons for each decreased, confirmed and recovered to see the status with multiple combinations.

**Describe alternatives you've considered**
Nothing

**Additional context**
N/A

[2020-04-09 19:05] lokeshbansal76 commented on #822
These are not belong to any particular district of rajasthan as these indians are evecuted form others countries & quarantined at Jodhpur & jaisalmer facilities.
![Screenshot_2020-04-10-00-31-58-989_com android chrome](https://user-images.githubusercontent.com/63422719/78931102-f8860c00-7ac2-11ea-892d-367e5cd4dec9.jpg)

[2020-04-09 19:11] saikrishnareddythummala opened #867 "Covid-19 testing labs data issue"
A same lab is showing twice.

URL: https://www.covid19india.org/essentials
Search filters: Telangana=> Hyderabad => Covid-19 Testing labs => Search

Centre for cellular and molecular biology should show once.

![image](https://user-images.githubusercontent.com/14174956/78931685-f1133280-7ac3-11ea-8f7a-7deb665ae1ee.png)

[2020-04-09 19:18] s-naveen commented on #866
You can already click on label to show/hide specific category.

[2020-04-09 19:54] mhlaskar1991 opened #869 "Feature to sort states on recovered and deceased"
The main table of states which shows the total cases, active cases, recovered cases and deceased cases is by default sorted by total cases. It would have been nice yo have a feature that would allow the records to be be sorted based on active cases or recovered cases or deceased cases. This can be achieved by making the column headers clickable, which upon clicking sort the records based on the co

[2020-04-09 20:08] helios1101 commented on #672
Sure, @smittal1209.
We can work together around.

[2020-04-09 20:15] helios1101 opened #871 "Typo in README under Contribution Section"
**Describe the bug**
There is a typo in README file. At last statement, under Contribution section there is .. instead of .

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://github.com/covid19india/covid19india-react#contribution
2. Read the line
2. See error at 2 dot.

**Expected behaviour**
Single dot should happen.

**Screenshots**
NA

**Desktop (please complete the followin

[2020-04-09 20:21] jhataka commented on #814
Delighted to see that someone has already thought about it.

Exactly something like that I was thinking.

Please consider adding it to deep dive or even on front page, if possible.

[2020-04-09 20:26] aswaathb opened #873 "Normalise City names in the essentials page"
**Describe the bug**
Unmoderated city names in the [essentials](https://www.covid19india.org/essentials) page.

**To Reproduce**
Essentials -> {Andhra Pradesh, Kerela, Maharastra} -> _unmoderated cities_

**Expected behavior**
Uniform list of cities throughtout the website instead of instances such as
_AreaName-1, AreaName2_
or
_City Railway station_

**Screenshots**
![F issue](https://user-images

[2020-04-09 20:32] resparx commented on #869
hey hi , What i understood from @mhlaskar1991  comment is to have a sorting feature based on the categories, But the feature is already present. If I am wrong would you please give some more context on the feature which you expect 😄.

[2020-04-09 20:37] mhlaskar1991 commented on #869
Hello. I missed that. I could see that the feature is available. Actually the headers dont look like clickable and therefore I missed that.

Thank you

[2020-04-09 20:37] #869 closed, assigned to nobody

[2020-04-09 21:12] acorreya commented on #825
@Zindra / @TheDominus , i am not very sure how i can assign this to you. I tried clicking a bit, but nothing works. Maybe you could guide?

[2020-04-09 21:13] saberprashant commented on #852
Hi @sudevschiz @jeremyphilemon ,
I would like to work on this one.
I think that dropdown burger button can be made a little bigger and claiming, and the list background and text style can be made attractive just like the one we are using in tables.
With this, it will fit properly in the website theme.
If you want other additions too, you can tell me.

So, can I start working on this issue?

[2020-04-09 21:14] KrishnaPravin commented on #866
<img width="805" alt="Screenshot 2020-04-10 at 2 42 54 AM" src="https://user-images.githubusercontent.com/17372422/78941282-fdec5200-7ad4-11ea-9b6f-a464c326a286.png">

@s-naveen Label is missing in Daily Cases. Is this what are you saying @TheDominus ?

[2020-04-09 21:15] saberprashant commented on #842
Hi @sudevschiz @jeremyphilemon,
I can fix this one in a day. Should I take this?

[2020-04-09 21:30] trilloc commented on #825
Hi .. thanks for accepting. how do I assign this to you.

Cheers
Rajesh

[2020-04-09 21:38] KrishnaPravin commented on #808
similar #822

[2020-04-09 21:50] KrishnaPravin commented on #852
#747 duplicate

[2020-04-09 21:53] KrishnaPravin commented on #861
#415 #717

[2020-04-09 22:02] KrishnaPravin commented on #524
cluster tab is no longer shown

[2020-04-09 22:02] #524 closed, assigned to nobody

[2020-04-09 22:04] KrishnaPravin commented on #517
fixed, works as expected

[2020-04-09 22:04] #517 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-09 22:04] akshat112 opened #874 "Visual inconsistency with stats"
**Describe the bug**
On homepage, the stats [Confirmed, Active, Recovered, Deceased] just above the map, seems a bit inconsistent with the other similar UI elements. Data is aligned in left corner, I believe it looks better when in center (Check SS below)

**To Reproduce**
Steps to reproduce the behavior:

1. Check the stats just above the map on the home page.

**Expected behavior**
A clear and c

[2020-04-09 23:31] #846 closed, assigned to nobody

[2020-04-10 01:41] dpnkrpl opened #878 "Tapping outide of navbar ( on mobile devices) should hide the already expanded navbar"
Tapping outside of a navbar are on mobiles devices should hide the already expanded navbar menu.
![gnome-shell-screenshot-U8CSI0](https://user-images.githubusercontent.com/27947066/78954676-74e81180-7afa-11ea-9bc4-4dfa50a4f736.png)

[2020-04-10 01:46] dpnkrpl opened #879 "Open ESSENTIALS search result links in a new tab"
Links under the search results under ESSENTIALS page should open in a new tab.

[2020-04-10 01:52] amitdhar15 opened #880 "Can we display previous day count on homepage."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 01:55] dpnkrpl opened #881 "Link telephone numbers for click to call"
While many modern mobile browsers automatically detect phone numbers and convert them to links, it’s a good idea to do this directly in your code. By manually tagging each phone number, you can ensure that phone numbers are always enabled for click to call and that they will be styled to match your site.

To mark a phone number as a link, use the tel: scheme. The syntax is simple:

example:
`<a hr

[2020-04-10 02:11] dpnkrpl opened #882 "Invalid entries under Rajasthan and Maharashtra"
What about the entry ITALIANS* and EVACUEES under rajasthan?
there is a entry GUJARAT under maharastra !

what is the significance of those * marks? we should specify that.
The information is getting erroneous day by day.

![gnome-shell-screenshot-A4SAI0](https://user-images.githubusercontent.com/27947066/78955922-5e43b980-7afe-11ea-9393-e729d9b0e4d9.png)

[2020-04-10 02:24] dpnkrpl opened #883 "last update text climbs up the back button under the MAP"
last update text climbs up the back button some times.
**Lastly, There should not be a back button either as i have not clicked on a state.**

![image](https://user-images.githubusercontent.com/27947066/78956556-49682580-7b00-11ea-9fe6-fa94d4adc8f1.png)

[2020-04-10 02:53] dpnkrpl commented on #852
@Binu42 does this PR style the drop down menus on mobile devices too? Latest update has fixed this issue for desktop version Only.
I'm still getting this .
![Screenshot_2020-04-10-08-08-30-912_com android chrome](https://user-images.githubusercontent.com/27947066/78958096-c09fb880-7b04-11ea-9435-9ee5d74acfc1.jpg)

[2020-04-10 03:05] dpnkrpl opened #884 "ESSENTIAL result table doesn't scale properly on small screen"
The table containing the search results under the ESSENTIAL page doesn't scale properly on mobile devices.
![Screenshot_2020-04-10-08-30-24-890_com android chrome](https://user-images.githubusercontent.com/27947066/78958546-f7c29980-7b05-11ea-9519-49b7080ef9a3.jpg)

[2020-04-10 03:32] shuklaayush commented on #864
Not the right place

[2020-04-10 03:32] #864 closed, assigned to nobody

[2020-04-10 03:34] shuklaayush commented on #880
It's there on the chart at the bottom.

[2020-04-10 03:34] #880 closed, assigned to nobody

[2020-04-10 03:57] shuklaayush commented on #883
@deep5050 Does this happen every time? I've only faced this intermittently. Let me know if you have any concrete steps to consistently reproduce it.

[2020-04-10 04:32] DhiralKaniya opened #886 "Data mismatch between Updates and state table"
**Describe the bug**
Updates show 14 new cases in WB and 4 new cases in ODISHA but the table shows 14 new cases only WB.
If I see data state-wise then I found only 1 case in UNKNOWN.

Screenshot for reference.

<img width="639" alt="Screenshot 2020-04-10 at 9 58 50 AM" src="https://user-images.githubusercontent.com/21332852/78962593-30687000-7b12-11ea-816f-35b342507c3a.png">

<img width="618" alt=

[2020-04-10 04:32] swapniltomake commented on #842
hi @sudevschiz, @jeremyphilemon  can i fix this. i want to contribute on this project for some bugfix.

[2020-04-10 04:33] DhiralKaniya commented on #886
A similar case happened earlier as well.
Issue link:- https://github.com/covid19india/covid19india-react/issues/766

[2020-04-10 05:01] ravigaggad opened #887 "Timeseries for tests"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 05:05] ravigaggad commented on #887
We can show the graph of number of test done date wise and then confirm recoverd and decided patient. So that we can get the ration of positive patient to the number of test.By this features we can check the spread and seviourity in the Country

[2020-04-10 05:08] ravigaggad opened #888 "No. of patient confirm,recovered and deceased showing for the state we can also show for perticular district too"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 05:17] xi1570-krupeshanadkat commented on #262
I will start today at evening and hopefully complete it before monday, thanks :)

[2020-04-10 05:17] vikkyomkar commented on #874
I will give it a try

[2020-04-10 05:18] Binu42 commented on #852
@jeremyphilemon `maintainer` have not merged it yet. @deep5050 ya, this PR is for all devices.

[2020-04-10 05:32] Zindra commented on #825
@jeremyphilemon can you please help us here to assign the ticket ?

[2020-04-10 06:32] Welcome1122 opened #889 "2 more recovered in bihar"
![IMG_20200410_115223](https://user-images.githubusercontent.com/63442472/78968795-12efd200-7b23-11ea-985e-6b010586d39b.jpg)

[2020-04-10 06:37] #889 closed, assigned to nobody

[2020-04-10 06:49] Sanskar95 opened #890 "Search Button enabled even if no indian state is selected on essesntial screen"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-10 07:22] inderpreetsinghips commented on #858
Please read this to slove for different type of servers.

https://niiconsulting.com/checkmate/2018/10/manipulating-host-headers-not-anymore/

[2020-04-10 07:48] Sanskar95 commented on #890
Pull Request:
https://github.com/covid19india/covid19india-react/pull/891

[2020-04-10 08:02] mohitm15 commented on #882
Adding a tooltip is a good option ? @deep5050 I like to work on it . @jeremyphilemon can you please tell the info to be displayed in that tooltip (* mark)

[2020-04-10 08:10] mohitm15 opened #892 "Irregular size of the button in essentials page"
**Describe the bug**
A clear and concise description of what the bug is.
The size of the button is very much larger and also the text written on it is not properly aligned

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...' essentials page
2. Scroll down to 'filter section
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
The text sh

[2020-04-10 08:47] bee-rickey commented on #882
This is by design. These numbers aren't counted by the states themselves as part of district counts. @mohitm15 Instead of a tooltip you can add a description for * at the end of the district list - Counted separately in line with state bulletins.

[2020-04-10 08:49] bee-rickey commented on #881
Good to have feature. In case anyone wants to pick this up.

[2020-04-10 08:51] bee-rickey commented on #879
Good to have feature.

[2020-04-10 09:06] dpnkrpl commented on #883
@shuklaayush  you are right , it happens between clicking a state and the getting the district view sometimes. I don't know the logic behind the implementation. But it could be due to slow internet connection or system lag / website poor performance.

[2020-04-10 09:07] bee-rickey commented on #871
(╬ ಠ益ಠ)

[2020-04-10 09:07] #871 closed, assigned to nobody

[2020-04-10 09:22] nrishabh commented on #672
The page at http://bit.ly/HelpIndiaFightCovid19 (Thanks to Amnesty International) might help in gathering data about various fundraisers.

[2020-04-10 09:29] rvisharma opened #895 "Improve accessibility of tapping toggle switches using associated label"
**Describe the bug**
Toggle switch for scale mode - UNIFORM | LOGARITHMIC are not being toggled by clicking their associated labels. Hence reducing the tap/click area for smaller devices.
toggle checkbox is missing the related `id` attribute which are being referred by the label element

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Home page'
2. Click on 'Scale Mode Label - Uniform

[2020-04-10 09:29] rvisharma commented on #895
would like to pick this up

[2020-04-10 09:36] DhiralKaniya opened #896 "Essential page link should be navigate to the new tab instead of same page"
**Describe the bug**
Website link mentioned in the essential page is opening on the same page.
Since it is an external resource link it should be open in the new tab.

**To Reproduce**
1:- Go to essential page
2:- Select any random state and city
3:- Click Seach
4:- Click on any WebSite link in the table.

**Expected behavior**
The Resource link is open on the same page. It should open in the new

[2020-04-10 09:47] RamaKrishnaKunda commented on #884
I see that the issue is only coming for Chandigarh and Jharkhand.

[2020-04-10 09:49] bee-rickey commented on #896
Duplicate https://github.com/covid19india/covid19india-react/issues/879

[2020-04-10 09:58] TheDominus commented on #866
Yes, Similar to the total cases, there should be labels in the "daily cases" to hide and show a particular category.

In addition to this, there could be a new category for "total cases" i.e. "Active Cases"
@KrishnaPravin @s-naveen

[2020-04-10 09:59] Zindra commented on #887
@ravigaggad I think 'no of test done ' this data is not coming in the JSON file  from this month . Please check and confirm .

[2020-04-10 10:14] JunaidBabu commented on #858
@inderpreetsinghips thank you. as you already know we are using github pages to serve the website, how can we make the changes proposed in our case?

[2020-04-10 10:15] Zindra opened #898 "Add Visitor count in the home page ->https://www.covid19india.org/"
Add Visitor count in the home page i.e., https://www.covid19india.org/

**Acceptance criteria :-**
Adding a visitor count will help them to rely on these data easily. You know what I mean, right !

**Enhancement or Upgrade :-**
_Total visitor / Daily visitor / Currently active or using_

![image](https://user-images.githubusercontent.com/30254595/78983527-0169f280-7b42-11ea-83ea-9703f919990c.png)

[2020-04-10 10:43] Zindra commented on #825
https://api.covid19india.org/data.json is not having the 'totalactive' data. @jeremyphilemon can you please help us here fixing this API.

[2020-04-10 10:49] pranavtalwar opened #899 "Show graph for the number of current active cases (total cases - recorvered cases) by day for the entire country as well for each state"

[2020-04-10 10:52] prabhakaryalla commented on #806
@sudevschiz  Any update ?

[2020-04-10 10:57] TheDominus commented on #825
@Zindra, I earlier raise a feature request for the same but it was declined as it id redundant.
You can calculate the total active cases instead.
https://pastebin.com/YF7L3bVC

[2020-04-10 11:00] Parag-Yadav-09 opened #900 ""Last updated about hrs ago" estimation time is not correct"
**Describe the bug**
The data last updated at 11:40am, at 4:20pm it is displaying 'updated 5hrs ago' which isn't correct

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'website' and verify last updated

**Expected behavior**
'updated 4hrs ago' should get displayed
I in this case.

**Screenshots**
![Screenshot_2020-04-10-16-29-25-583](https://user-images.githubusercontent.com/63452743

[2020-04-10 11:05] rominj commented on #862
https://github.com/covid19india/api/blob/master/resources/resources.json

"category": "Fundraisers",
"city": "F",
"contact": "http://www.irdwsi.in",

This file has an F as District name for Andhra Pradesh. It should be changed to Visakhapatnam. because The Integrated Rural Development of Weaker Sections in India (WIDA) is located at Visakhapatnam and comes under Fund Raisers.

[2020-04-10 11:21] the-sajith opened #901 "Page Number can be set negative in essentials page"
![Screenshot (54)](https://user-images.githubusercontent.com/48672482/78987377-7261d800-7b4b-11ea-93d3-3f0db4db9eee.png)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to hap

[2020-04-10 11:46] jamy007 opened #902 "Jabalpur,madhya pradesh cororna update"
Jabalpur district of madhya pradesh has now total 9 corona positive cases
On wednesday, 8 april a new corona case has been test positive in adarshnagar in jabalpur but it has not been updated yet in this site.
The new patient is 60-year-old man his contact history is being traced, said sources. He is from Adarsh Nagar locality from the city and had returned to Jabalpur from Hyderabad on March 20.

[2020-04-10 11:55] Parag-Yadav-09 opened #905 "Display percentage of number of positive cases per number of tests conducted in a day."
In the coming days, the positive test count is going to get increased only as government is increasing the number of test which is being conducted in a day to check the community spread. And this will be the ideal graph to keep a check at community level.

There should be a graph on main screen which tells the percentage of positive cases per number of tests conducted in a day.

Rest all the graph

[2020-04-10 12:04] KrishnaPravin commented on #902
@jamy007 please use [this form](https://docs.google.com/forms/d/1HVXi3-0ckxGTS81yAN1RmgrVnvg9cg2pyPTuPgBeVEo/) to report cases
https://docs.google.com/forms/d/1HVXi3-0ckxGTS81yAN1RmgrVnvg9cg2pyPTuPgBeVEo/

[2020-04-10 12:04] #902 closed, assigned to nobody

[2020-04-10 12:11] jaibatrik opened #906 "The setting for chart scale modes keep getting reset"
**Is your feature request related to a problem? Please describe.**
The switches for scale mode for chart keeps resetting on refreshing the page or when re-opening the page. I have to change them according to my preference over and over.

**Describe the solution you'd like**
The settings for scale modes should persist across sessions.

**Describe alternatives you've considered**
This is a basic pro

[2020-04-10 12:42] shuklaayush commented on #898
I don't see how this is relevant.

[2020-04-10 12:45] vedadeepta commented on #878
willing to work on this, please assign.

[2020-04-10 13:09] vedadeepta commented on #879
Willing to work on this, please assign.

[2020-04-10 13:30] raghavendrarai opened #907 "Active cases trend"
**Is your feature request related to a problem? Please describe.**
It will be good if we show the trend for active cases across the country. Currently we have only confirmed, recovered and deceased trends. This will help to understand how well the county is fighting against this battle.

**Describe the solution you'd like**
One more chart showing active cases (Total confirmed cases - Total recover

[2020-04-10 13:39] mohitm15 commented on #907
@raghavendrarai Clarify your issue briefly.. seems vague

[2020-04-10 13:42] dpnkrpl commented on #884
Yeah that's right, I checked too. Probably the long medical center names are the reason.

[2020-04-10 14:18] toransahu opened #909 "Showing wrong district name in Maharastra"
There are no such district `OTHER STATES` in Maharastra

1. Open https://www.covid19india.org/
2. Choose Maharastra state
3. Then you can see `OTHER STATES` district

![Screenshot from 2020-04-10 19-37-59](https://user-images.githubusercontent.com/10332436/78997444-35560f80-7b64-11ea-8366-43f736632f12.png)

[2020-04-10 14:20] Sanskar95 commented on #907
Its similar to this issue
https://github.com/covid19india/covid19india-react/issues/899
Either of them can be deleted

[2020-04-10 14:20] pushpulldecoder opened #910 "Future cases prediction of corona to provide better insight of data"
It would be nice to add an extrapolation graph of future possible cases from the previous and current data to give better insights into the data using machine learning techniques. People might become nothing but more aware and become more cautious reading those insights

[2020-04-10 14:21] toransahu commented on #909
The intension might have to make an entry with `OTHER DISTRICTS`, but committed a typo?

`s/STATES/DISTRICTS/`?

[2020-04-10 14:42] inderpreetsinghips commented on #858
You can make changes from the server end from where the website is hosted and managed. Like GoDaddy or something else.

[2020-04-10 14:43] nayakrahul opened #911 "Add better smooth slideshow animation in banner snippet"
The snippet in banner is not smooth transitioning.
It can be made better with smooth horizontal transition.

[2020-04-10 14:59] mohitm15 opened #913 "Adding package-lock.json to gitignore"
**Describe the bug**

Adding ` package-lock.json` file to .gitignore

**Additional context**
All other info.are not relevant
Working on it

[2020-04-10 15:03] skumar-commits opened #914 "We can provide the information in collective way to the public regarding the different schemes in the covid 19 Hotspot areas, like direct income support related information"
**Is your feature request related to a problem? Please describe.**
Due to Covid 19 pandemic , most hit is the poor families and by providing this feature we can help them in getting their survival

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The poor people have the mobiles but they dont know , what programs are run by the govt which can help them m

[2020-04-10 15:36] Sanskar95 opened #915 "Link should open in new tab for website column in resource table."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-04-10 15:36] Sanskar95 commented on #915
Some links are returning 404 .

[2020-04-10 15:37] Zindra commented on #898
Hi @shuklaayush ,
The use of this counter is to let the user know how many people are seeing this and as per simple rating-review system logic that user will follow this website data over others.

[2020-04-10 15:50] Sanskar95 commented on #915
Pull Request :
https://github.com/covid19india/covid19india-react/pull/916

[2020-04-10 15:51] jeremyphilemon commented on #743
@vandanachandola I feel `#121212` would be too dark. Can you open a PR so that I can experiment with some colors and figure out? :)

[2020-04-10 15:51] dpnkrpl commented on #915
Same as #879

[2020-04-10 15:56] dpnkrpl commented on #881
@KrishnaPravin your PR is working fine on phone. Thanks 😊

[2020-04-10 16:05] ravigaggad opened #917 "Rajasthan list contain 2 times EVACUEES"
![IMG_20200410_213507](https://user-images.githubusercontent.com/63439607/79004851-304c8c80-7b73-11ea-8899-a24e529e6b0f.JPG)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2020-04-10 16:18] DhiralKaniya commented on #886
Again observe this issue for Maharashtra state.  Update shows 210 but in the table it shows 410.

![Screenshot_20200410_214459](https://user-images.githubusercontent.com/21332852/79005650-fa100c80-7b74-11ea-9d87-63658eca6ceb.jpg)
![Uploading Screenshot_20200410_214511.jpg…]()

[2020-04-10 16:28] ravigaggad opened #918 "Need outcome of cases Statewise with percentag (deceased/Total outcome cases)*100"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 16:35] akshitmehra opened #919 "Add comma separator(s) in all numerical counts"
**Is your feature request related to a problem? Please describe.**
Numbers written like `1000`, `10000` and `100000` are difficult to read without comma separators

**Describe the solution you'd like**
Numbers like `1000`, `10000` and `100000` should be written as `1,000`, `10,000` and `1,00,000` respectively for better readability

**Describe alternatives you've considered**
N/A

**Additional con

[2020-04-10 16:43] vedadeepta commented on #873
@aswaathb  can you give some more examples. I don't think i understand. In the screenshot you provided which city name aren't normalized - i'm guessing its "F" - in that case how it should be normalized ? Also for Maharastra i'm not able to understand which city names are you referring to, most of them seem fine ? some examples of what cities and how do you imagine them to be normalized will be he

[2020-04-10 16:49] Zindra commented on #825
Thanks much @TheDominus . This is how it is looking now.

![image](https://user-images.githubusercontent.com/30254595/79007410-bfa86e80-7b78-11ea-87c7-de8008f10fd7.png)

But doing like this we may encounter a Bug . See below :
shuklaayush commented 14 days ago
The numbers in brackets reflect the daily change where:
Active = Confirmed - Recovered - Deceased.

Right now, this is (18 - 17 - 2 = -1).

[2020-04-10 16:50] SukhjinderArora commented on #913
`package-lock.json` should not be added to `.gitignore`, it should always be committed.

[More information on `package-lock.json`](https://docs.npmjs.com/files/package-lock.json)

[2020-04-10 17:02] RamaKrishnaKunda commented on #854
In States - Total Cases, showing all states(lines) at one place is looking clumsy, it is difficult to differentiate. Why can't we have a slider inside the card to select state. For showing all states together(as it is there now) we can give an option 'ALL'

[2020-04-10 17:04] TheDominus commented on #825
@Zindra No, You won't as "-1" in the above calculates the daily increase in the active account which can be negative.
Even it is very good that we see -ve values. -ve Values will show that we are defeating the disease.

In addition to it. Ping me if you need help with CSS for graph?

[2020-04-10 17:20] kaustumbh7 commented on #863
I would like to take this up 😊

[2020-04-10 17:59] ikshitiz opened #921 "Duplicate PATIENT NATIONALITY (India and indian)"
**Describe the bug**
In deepdive page Patients nationality section, Indian and India are tagged as a different nationality

**To Reproduce**
Merge Indian and India.

1. Go to 'DeepDive'
2. Click on 'PATIENT NATIONALITY'
4. Check India and Indian are different nationalities

**Expected behavior**
Both should be merged.

All Devices

[2020-04-10 18:12] Nitin96Bisht commented on #921
@iKshitiz issue is with API. Kindly report the issue https://github.com/covid19india/api.

We have an issue with https://api.covid19india.org/raw_data.json API.
"nationality": "Indian"
"nationality": "India"

Both can be found here.

[2020-04-10 18:14] mauryan-nks commented on #864
bro then can you tell how to bring the port 3000 to port 443 or 80

[2020-04-10 18:41] piyush-repo commented on #921
I believe over here we can translate the Indian to India and then plot the chart

[2020-04-10 18:48] Nitin96Bisht commented on #921
@piyush-repo Indeed we can do this but this is not the best practice approach. It is better we change the name in the excel sheet from where data is coming then it would be great.

[2020-04-10 19:29] 25prathamesh opened #923 "Improve website speed on slow networks"
covid-19 site loads slow on 3G mobile network it takes 5 second for first paint. lot of indian users are on slow network.

There are lot of things we can do
but right now below are some quick fix -
1) adding preconnect tags for www.googletagmanager.com & api.covid19india.org , so till css & javascript gets downloaded , dns & tcp connection will resolved for this domain , this will remove waiting t

[2020-04-10 19:44] anupriy97 opened #924 "ESSENTIALS Page - Clicking on arrows to change the page does not change page index in input"
**Describe the bug**
When using arrows to change page in search results in ESSENTIALS page, it does not change the value of page index in input field (as shown below). Also, page index input field can take input anything like negative numbers and letters.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'ESSENTIALS'
2. Choose "Assam" as state.
3. Click on "Search"
4. Click on right arr

[2020-04-10 19:55] wilsonrakesh opened #926 "Hotspots/ Red zone will be helpful in map"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 19:56] Krutarth-Bhatt commented on #910
I would definitely support this. By getting such insights even front-line workers like police and doctors can also bewell prepared and well alert for the coming time.
And if we have data we should definitely make the most out of it!!

[2020-04-10 20:12] swingcake commented on #917
That's a poor practice for raising an issue. At least go through the template provided.

[2020-04-10 20:31] akshat112 commented on #911
Hey!
Can you please attach a screenshot of the banner and snippet you are referring to?

[2020-04-10 21:12] bee-rickey commented on #926
Hello. Currently this data is not available as a part of state govts' press releases. Hence this would not be possible as of now.

[2020-04-10 21:17] bee-rickey commented on #923
Thank you for the detailed quick fixes!

[2020-04-10 21:22] bee-rickey commented on #921
Avoid client side changes for this. This issue is fixed on the sheet. Thank you!

[2020-04-10 21:22] #921 closed, assigned to nobody

[2020-04-10 21:22] umanghome commented on #923
Would like to pick this up.

[2020-04-10 21:26] hemantpandey17 opened #927 "Adding Code of Conduct"
**Is your feature request related to a problem? Please describe.**
Most open source projects have a code of conduct

**Describe the solution you'd like**
Open source software is used by everyone, and we believe open source communities should be a welcoming place for all participants. By adopting and upholding a Code of Conduct, communities can communicate their values, establish a baseline for how

[2020-04-10 21:27] hemantpandey17 commented on #927
https://github.com/hemantpandey17/covid19india-react/commit/41a25caacbd6394cd431c74693db26c52bb0cbc0

[2020-04-10 21:28] bee-rickey commented on #919
Metric system needs to be followed on this. Avoid usage of libraries for the same. Should be a vanilla solution :)

[2020-04-10 21:30] #917 closed, assigned to nobody

[2020-04-10 21:32] #913 closed, assigned to nobody

[2020-04-10 21:33] bee-rickey commented on #911
Please provide more info if you have a specific idea.

[2020-04-10 21:34] bee-rickey commented on #910
A good candidate for deep-dive section.

[2020-04-10 21:35] bee-rickey commented on #909
By design. Some of the cases in MH are from different states and MH classifies them so in their news bulletin.

[2020-04-10 21:35] #909 closed, assigned to nobody

[2020-04-10 21:40] bee-rickey commented on #907
Duplicate of #899

[2020-04-10 21:40] #907 closed, assigned to nobody

[2020-04-10 21:41] bee-rickey commented on #915
Duplicate of #879

[2020-04-10 21:41] #915 closed, assigned to nobody

[2020-04-10 21:46] bee-rickey commented on #811
Embedding some external feed which we have little control over or have little understanding of is not a good idea. Closing this.

[2020-04-10 21:46] #811 closed, assigned to nobody

[2020-04-10 21:47] bee-rickey commented on #914
Related to #793 Please add a comment on that issue. Closing this as duplicate.

[2020-04-10 21:47] #914 closed, assigned to nobody

[2020-04-10 21:49] bee-rickey commented on #926
Related to #793 Closing as duplicate for now. Please comment on that issue.

[2020-04-10 21:49] #926 closed, assigned to nobody

[2020-04-10 21:55] swingcake commented on #647
@pastelsky AFAIK [this is what they've been referring to as "deep-dive"](https://github.com/covid19india/deep-dive).

[2020-04-10 21:59] debopamb opened #928 "On Telangana more details boxes, link to source do not show up as Tested value is not available. Link to data source should be present irrespective of tested column value (this link validates the other column values e.g. Confirmed, Active etc.)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2. Click on Telangana
3. Scroll down to 'Hover Over A state /UT for more details'
4. No source link is present as Tested column is empty

**Expected behavior**
the source link should be present irrespective of Tested Column having value

[2020-04-10 22:00] niteeshravi opened #929 "Adding drilldown till hotspot level"
**Problem statement.**
The current website shows data drilldown till the district. A user would not know the hostpots in his/her district.They do not know how close they are to a hotspot (unless they explicitly follow news or search for hotspots in their region) and the density of cases in that hotspot.

**Solution:**

Add another level of drilldown to the district and circle them on the map.
![ma

[2020-04-10 23:04] KrishnaPravin commented on #919
@bee-rickey Metric system uses either dot or space to group the numbers. 1k -> 1.000 or 1 000. Do you want to go with that?
I would prefer the Indian locale for the site 10,00,000.

[2020-04-11 01:09] SaiTeja69 opened #931 "Poor Seo for the website"
The website is great but the seo for this page is weak.

[2020-04-11 02:30] Dhrumit8596 opened #932 "showing city wise increment of new cases"
**Is your feature request related to a problem? Please describe.**
New cases in different cities are not shown when we dropdown a particular state.
For example, we can see the number of new cases in Maharashtra but not able to find the number of new cases in Mumbai.
1. Go to 'https://www.covid19india.org/'
2. Click on 'Maharastra'
3. No specific new cases are been shown citywide

**Describe the so

[2020-04-11 03:27] guneetnarula commented on #413
Last two states done! See https://github.com/guneetnarula/indian-district-boundaries/tree/master/topojson/state-wise for TN and MZ

[2020-04-11 03:35] akshat112 commented on #878
I can work on this. Do assign.

[2020-04-11 03:37] akshat112 commented on #863
I am willing to work on it.

[2020-04-11 03:48] sudevschiz commented on #931
Please do let us know the suggestions you have.

[2020-04-11 03:50] sudevschiz commented on #932
We rarely get information at a city level, except from few state bulletins. Hence it's not possible to bring in this feature. Please do re-open this, if you find a vast data source that has this information. Closing for now.

[2020-04-11 03:50] #932 closed, assigned to nobody

[2020-04-11 03:51] sudevschiz commented on #929
https://github.com/covid19india/covid19india-react/issues/932

Closing.

[2020-04-11 03:51] #929 closed, assigned to nobody

[2020-04-11 03:54] sudevschiz commented on #928
In most cases, the source for the patient statistics and testing numbers are different. Also the patient statistics is sourced from multiple releases.
Hence, this is not a bug. Thank you for exploring this thought.

[2020-04-11 03:54] #928 closed, assigned to nobody

[2020-04-11 04:34] shuklaayush commented on #910
I'm closing this since it duplicates #727

[2020-04-11 04:34] #910 closed, assigned to nobody

[2020-04-11 05:19] ayusun opened #933 "Single graph for spread trend"
**Is your feature request related to a problem? Please describe.**
It's not very comfortable to compare the recovery rate and case rate and death rate in 3 different graph

**Describe the solution you'd like**
A combined graph to show all 3 in a single graph

**Describe alternatives you've considered**
None

**Additional context**
Got the idea from this graph
https://www.coronatracker.com/country/

[2020-04-11 05:22] thehitechpanky opened #934 "Delhi subdivision shows 90% as unknown"
**Describe the bug**
If you drill down in Delhi, it shows around 90% cases as from unknown area. These need to be properly classified.

**To Reproduce**
1. Go to Delhi
2. Click on Arrow in left-most position
3. Scroll down to bottom
4. See Unknown showing most of the cases

**Expected behavior**
Area-wise distribution should be there.

**Desktop (please complete the following information):**
- OS:

[2020-04-11 06:38] Sanskar95 commented on #879
Pull Request:
https://github.com/covid19india/covid19india-react/pull/916

[2020-04-11 06:41] vinaysagarsd-bhat opened #935 "Add Serial number in State/UT Table"
Adding serial number/rank in state/UT table would be helpful

[2020-04-11 07:10] iDhruv22 commented on #899
I have worked on this and added in #936

[2020-04-11 07:19] kabzzy opened #937 "Stats display on top right should show overall count"
As of now, the stats on top right (above the map) shows stats for the last state the mouse was hovered over and defaults to Maharashtra on page load.

Behavior should change so that the stats show overall, national count when the mouse if not over a particular state on the map.
![Capture](https://user-images.githubusercontent.com/3241528/79037910-cd9ad580-7bf2-11ea-90f9-0060729c58de.PNG)

[2020-04-11 07:22] kabzzy opened #938 "Stats for Meghalaya and Nagaland should have counts"
States with zero confirmed cases, Meghalaya and Nagaland, shows no count for number of tests done. There should be either a note somewhere on the site to inform what the blank value means - NO tests done or or the number of  tests will be updated only when a confirmed case is found.

Alternatively, show the  number of tests done and zero for other states.

[2020-04-11 07:25] shuklaayush commented on #935
How would that be helpful?

[2020-04-11 07:31] shuklaayush commented on #933
Hey, it's there in the deep dive section

[2020-04-11 07:31] #933 closed, assigned to nobody

[2020-04-11 07:34] shuklaayush commented on #851
Done via #699

[2020-04-11 07:34] #851 closed, assigned to jeremyphilemon

[2020-04-11 07:36] sudevschiz commented on #938
Yes. This is the expected behaviour. Even if no confirmed cases are present, testing data should be reported.

[2020-04-11 07:37] sudevschiz commented on #937
Yes, this is a UX improvement. Those numbers could be confused with India numbers. @jeremyphilemon please take a mental note for next version.

[2020-04-11 07:37] sudevschiz commented on #935
Wont be helpful. Especially that we have sorting functionality. Closing.

[2020-04-11 07:37] #935 closed, assigned to nobody

[2020-04-11 07:38] shuklaayush commented on #840
I guess this was fixed in #776. Please reopen and provide context if it wasn't

[2020-04-11 07:38] #840 closed, assigned to nobody

[2020-04-11 07:38] sudevschiz commented on #934
Yes. This is because we are not able to map individual patients to corresponding districts. Data team is working on this.

[2020-04-11 07:39] kabzzy commented on #937
Exactly. They look like India numbers on first glance.

[2020-04-11 07:39] #817 closed, assigned to nobody

[2020-04-11 07:41] kabzzy commented on #938
That's what I mean. They are missing right now. Here's Meghalaya for example. Same is the case with Sikkim. Nagaland on other hand, started showing the "Tested" count.

![Capture](https://user-images.githubusercontent.com/3241528/79038312-fe303e80-7bf5-11ea-9ac5-31683ff6032f.PNG)

[2020-04-11 07:42] bee-rickey commented on #898
Closing this. Doesn't add any value towards the cause.

[2020-04-11 07:42] #898 closed, assigned to nobody

[2020-04-11 07:43] theviveksahu commented on #842
This will already be fixed in #877

[2020-04-11 07:43] bee-rickey commented on #862
Communicated to the relevant team. Closing this.

[2020-04-11 07:43] #862 closed, assigned to nobody

[2020-04-11 07:44] #815 closed, assigned to nobody

[2020-04-11 07:44] bee-rickey commented on #839
Will be taken up in the subsequent change.

[2020-04-11 07:50] shuklaayush commented on #819
Fixed now

[2020-04-11 07:50] #819 closed, assigned to hemantpandey17

[2020-04-11 07:50] bee-rickey commented on #858
Hi @inderpreetsinghips, as explained, we are using github pages to serve the website. Is there a way to do this for github pages?

[2020-04-11 07:51] Dhrumit8596 opened #940 "Total number of tests all over india not shown"
**Is your feature request related to a problem? Please describe.**
The default page shows the total number of test of Maharashtra and then you can only the the total number of tests state wise

**Describe the solution you'd like**
You can show total number of tests for default and then statewise after selecting different states.

[2020-04-11 07:52] bee-rickey commented on #940
Duplicate of #937

[2020-04-11 07:52] #940 closed, assigned to nobody

[2020-04-11 07:54] shuklaayush commented on #280
Added in #539

[2020-04-11 07:54] #280 closed, assigned to jeremyphilemon

[2020-04-11 07:56] bee-rickey commented on #919
@KrishnaPravin How difficult would it be to change it later? The Metric system is the standard used for international numbers. So anyone using our site as a reference would be a bit confused. If it's an easy switch, lets keep the locale for now. Later take a call on metric.

[2020-04-11 07:58] shuklaayush commented on #403
Seems to be fixed

[2020-04-11 07:58] #403 closed, assigned to strikertanmay

[2020-04-11 08:01] sudevschiz commented on #662
## **Data Errors**

If your issue is regarding an error in the data, it's best reported through this form: https://forms.gle/MLeSrdwRuf8AjFkp9

[2020-04-11 08:02] bee-rickey commented on #905
Can be part of deep dive.

[2020-04-11 08:02] shuklaayush commented on #814
Duplicates #349

[2020-04-11 08:02] #814 closed, assigned to nobody

[2020-04-11 08:06] shuklaayush commented on #354
Sorry, but this seems out of our scope.

[2020-04-11 08:06] #354 closed, assigned to JunaidBabu, sudevschiz

[2020-04-11 08:07] shuklaayush commented on #365
Closing because of inactivity

[2020-04-11 08:07] #365 closed, assigned to nobody

[2020-04-11 08:09] bee-rickey commented on #838
Closing this bug for now. This is part of localization PR.

[2020-04-11 08:09] #838 closed, assigned to nobody

[2020-04-11 08:11] shuklaayush commented on #463
Duplicated several times

[2020-04-11 08:11] #463 closed, assigned to nobody

[2020-04-11 08:11] ameya-pandilwar commented on #919
@bee-rickey -- I would like to pick this up.

[2020-04-11 08:13] shuklaayush commented on #485
@jeremyphilemon @kiku511 That sounds like too much effort. An easy fix is just to add zoom in d3.

[2020-04-11 08:14] bee-rickey commented on #786
Issue fixed on the sheet entry.

[2020-04-11 08:14] #786 closed, assigned to nobody

[2020-04-11 08:16] bee-rickey commented on #839
Reassigning. Please talk to @jeremyphilemon before you pick this up.

[2020-04-11 08:18] shuklaayush commented on #506
Closing because of inactivity

[2020-04-11 08:18] #506 closed, assigned to JunaidBabu, sudevschiz, jeremyphilemon

[2020-04-11 08:18] shuklaayush commented on #509
Added via #699

[2020-04-11 08:18] #509 closed, assigned to JunaidBabu, sudevschiz

[2020-04-11 08:21] bee-rickey commented on #480
Overkill IMO. Not sure how good they will work on mobile screens as 95% of the traffic we have is from mobiles.

[2020-04-11 08:23] Krutarth-Bhatt commented on #727
I definitely feel this feature will be very useful, I also love to join for it!!!

[2020-04-11 08:23] bee-rickey commented on #918
Need more clarity on this. Can you please explain what you want?

[2020-04-11 08:25] atharvaj77 opened #941 "Number of Cases in Mumbai Suburban shows zero"
**Describe the bug**
While navigating through the map the cases in Mumbai Suburban displays zero as its confirmed cases.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Maharashtra State
2. Hover over Mumbai Suburban
3. See error

**Expected behavior**
Should display number of cases in Mumbai Suburban area

**Screenshots**
![Screenshot from 2020-04-11 13-43-11](https://user-images.git

[2020-04-11 08:27] ninjakx commented on #863
I ain't working on it. @kaustumbh7 you can proceed with it.

[2020-04-11 08:27] shuklaayush commented on #590
Closing because of inactivity

[2020-04-11 08:27] #590 closed, assigned to johnhorsema

[2020-04-11 08:30] shuklaayush commented on #597
Closing because of inactivity

[2020-04-11 08:30] #597 closed, assigned to nobody

[2020-04-11 08:30] shuklaayush commented on #629
Added in #712

[2020-04-11 08:31] #629 closed, assigned to umanghome

[2020-04-11 08:33] shuklaayush commented on #674
Seems to have been added

[2020-04-11 08:33] #674 closed, assigned to nobody

[2020-04-11 08:35] shuklaayush commented on #688
Since there's no more space in the table, added as a block like @swapdewalkar mentioned.  See #699

[2020-04-11 08:35] #688 closed, assigned to nobody

[2020-04-11 08:39] rajlocuz opened #942 "Total No. of testes for India & a graph for total test statewise"
**Can we add Total No of Tests beside India Map?**

**We need a graph which will show how much test done till date state-wise.**

[2020-04-11 08:39] shuklaayush commented on #709
Fixed via #699

[2020-04-11 08:39] #709 closed, assigned to nobody

[2020-04-11 08:40] shuklaayush commented on #716
Should be fixed now

[2020-04-11 08:40] #716 closed, assigned to JunaidBabu

[2020-04-11 08:40] #942 closed, assigned to nobody

[2020-04-11 08:42] shuklaayush commented on #718
Seems to be fixed now

[2020-04-11 08:42] #718 closed, assigned to nobody

[2020-04-11 08:43] kaustumbh7 commented on #863
Okay 👍🏼@ninjakx

[2020-04-11 08:46] shuklaayush commented on #743
@jeremyphilemon @vandanachandola Can we also have a CSS filter (invert + hue-rotate(180)) for the map. Otherwise, the brightness of the map could blind someone

[2020-04-11 08:47] rajlocuz opened #943 "Total No. of testes for India & a graph for total test statewise"
**Can we add Total No of Tests beside India Map?**

**We need a graph which will show how much test done till date state-wise.**

[2020-04-11 08:49] shuklaayush commented on #752
Yes, of course. The data is available through the APIs: https://api.covid19india.org/

[2020-04-11 08:49] #752 closed, assigned to nobody

[2020-04-11 09:27] ikshitiz opened #945 "Total number of test vs positive cases"
**Is your feature request related to a problem? Please describe.**
A detailed total number of test vs positive found ratio. This will give an overview of the statewide infection rate and nation-wide.

Say for example:
Karnataka

- Total Tests: 8k (Approx)
- Total Individuals Tested: 6.5k (Approx)
- Total positive: 214
- Infection rate: 3%

[2020-04-11 09:30] bee-rickey commented on #782
Issue with sheet entry. Fixed.

[2020-04-11 09:30] #782 closed, assigned to nobody

[2020-04-11 09:31] ikshitiz opened #946 "Green color on Map for all positives cases recovered from that state/UT"
We will be seeing 100% recovered in Ladakh, few NE states and the Andaman region in the coming days. Highlighting those areas with green color will give some positivity amidst this chaos in the pandemic.

[2020-04-11 09:37] SuyashD95 opened #947 "Recoveries in Madhya Pradesh not added to the counter"
In the updates section, it has been reported that MP has 14 recoveries... This news update came 2 hours ago (on April 11th) and yet, this stat has not been added to the total recoveries counter of the country as well as the state...

Hence, it is imperative that we add the 14 people that have succeeded recovered today, especially an unclear count could lead to the numerous graphs to display incorr

[2020-04-11 09:50] inderpreetsinghips commented on #858
Sorry I don't have idea of git pages. But where the website is hosted?

[2020-04-11 09:55] shuklaayush commented on #947
Duplicates #766. We're looking into it

[2020-04-11 09:55] #947 closed, assigned to nobody

[2020-04-11 10:04] ravigaggad opened #948 "Maharshtra state contain name of Nagaur district which is not in Maharashtra State"
![IMG_20200411_153336](https://user-images.githubusercontent.com/63439607/79040970-d9de5d00-7c09-11ea-921f-89d5c614d8fc.JPG)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to

[2020-04-11 10:16] ravigaggad commented on #918
Need to calculate the mortality rate State wise.To calculate this we have to first check Outcome i.e ( No. of Patient Recover +No. Of Patient Deceased)
Example Recoverd patient =792
                 Deceased patient = 250
So outcome of total patient =1042
Out of total 1042 patient 250 patient deceased. So Deceased rate is (250/1042)*100 = 23.99 percent till now.
So we can show whole Indian decease

[2020-04-11 10:58] kaustumbh7 commented on #863
@ninjakx  @bee-rickey  I have set a fixed width for all the columns and the above mentioned problem has been solved. Should I give different widths? Or is this fine?

[2020-04-11 11:02] ravigaggad opened #950 "Need a daily Number of test Done. So that we can Calculate the ratio of Occurance"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-11 11:19] dpnkrpl opened #951 "Homepage is not scaling up properly on mobile"
Only the homepage isn't scaling up properly on mobile devices. You can see the extra padding at the right side. I have zoomed and taken the screenshot for better visualization.

![Screenshot_2020-04-11-16-44-46-931_com android chrome](https://user-images.githubusercontent.com/27947066/79042310-4199a580-7c14-11ea-878a-b1f3284a2cb1.jpg)
** That happened due to the addition of `TESTED` count near map

[2020-04-11 11:38] Zindra commented on #825
@TheDominus  Yes , -1 can suggest that we are doing our best to stop the spread of the disease.
Still I want you to please check #226 . They have closed it.

[2020-04-11 12:43] spidynikhil opened #953 "Addition of data header for cases per million population"
**Is your feature request related to a problem? Please describe.**
As we all know India is second-largest populous country in the world. According to worldometers.info, we are 1,380,004,385 as of April, 2020. It would be better to show "total, active and death" cases at per million population base. I believe this will give our users a broad and better perspective on COVID 19 spread in India.

**De

[2020-04-11 13:04] dhruvsema4 opened #954 "Good to have: Chart by age."
Deep dive can have bar chart for patients who sadly died in this pandemic based on their age.

[2020-04-11 13:12] #879 closed, assigned to nobody

[2020-04-11 13:22] #919 closed, assigned to nobody

[2020-04-11 13:28] DashmeetArt commented on #951
@shuklaayush can you please assign this issue to me, I would like to work on it.

[2020-04-11 13:34] JunaidBabu commented on #534
#605

[2020-04-11 13:34] #534 closed, assigned to jeremyphilemon

[2020-04-11 13:56] vedadeepta commented on #813
Willing to give it a try, please assign.

[2020-04-11 14:04] ManojPathak1 opened #958 "Change in filters showing previous filters data"
**Describe the bug**
Change in filters showing previous filters data

**To Reproduce**
1. Open Home Page
2. Go to demographics
3. Select State and District with available data
4. Data will be displayed with patients
5. Now select state and district with no available patient data.
6. Data will be displayed of previously selected state and district.

**Expected behavior**
State and District selectio

[2020-04-11 14:07] ManojPathak1 commented on #958
Created a pull request for the same
https://github.com/covid19india/covid19india-react/pull/955

[2020-04-11 14:18] iDhruv22 opened #959 "Code splitting"
**Is your feature request related to a problem? Please describe.**
No, it's not a problem but it would be good to have as our codebase is increasing.

**Describe the solution you'd like**
Split the code based on router and lazy load other routes than "Home" so its performance can be a boost. It'll be great for low internet speed users.

[2020-04-11 14:19] iDhruv22 commented on #959
I would like to get assigned this to me.

[2020-04-11 14:29] ninjakx commented on #813
I have already started there is some issue that has to be resolved then it's ready to go.

[2020-04-11 14:52] guptadev commented on #919
Hi @pb03,

As I can see every numeric data count is now separated with comma, except district wise count. Please refer below screen capture:
![image](https://user-images.githubusercontent.com/15716246/79046787-88959400-7c30-11ea-9aae-fcff8acd09e5.png)

Can we have district wise data count separated by comma as well?

Thanks,
Dev

[2020-04-11 14:52] JunaidBabu commented on #681
Please submit the PR

[2020-04-11 15:03] ninjakx commented on #863
@kaustumbh7  Ask @bee-rickey and create a pull request then.

[2020-04-11 15:55] thehitechpanky opened #963 "Tablighi Jamaat / reason"
**Is your feature request related to a problem? Please describe.**
The Indian media is constantly saying something and social media is saying something and other blogs are depicting something else. There's so much of confusion over the breakup of diagnosed cases based on the reason.

**Describe the solution you'd like**
Is it possible to add a filter so that we can know exactly how much is foreign

[2020-04-11 16:03] vedadeepta commented on #813
NP, thanks for letting me know.

[2020-04-11 16:06] thehitechpanky opened #964 "Active, recovered and deceased in district-wise results"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm unable to find out the district of deaths and recoveries. There are a lot of rumours circling around that this district is case-free or this district is hot-spot.

**Describe the solution you'd like**
Just like we have 4 tabs for states, we can have 4 tabs for districts.

**Describe alternatives you'v

[2020-04-11 16:09] DashmeetArt commented on #951
Made required changes to resolve this issue, Kindly check at #956

[2020-04-11 16:11] rajeshpeddalachugari opened #965 "Add Percentage for Active,Recovered & Deaths"
let's add percentages as shown below.
![1](https://user-images.githubusercontent.com/3164281/79048801-3870fe80-7c3d-11ea-9ce4-2b64798f454b.png)
![2](https://user-images.githubusercontent.com/3164281/79048803-39099500-7c3d-11ea-9ca1-71dbd5931011.png)

[2020-04-11 16:16] vedadeepta commented on #905
@Maverick-09 are you working on this ? if not can maintainers please assign me this issue.

[2020-04-11 16:16] iDhruv22 commented on #825
I did a complete thing in PR #936, sorry I missed this thread. Moreover, I think issue #899 duplicate to #825.

[2020-04-11 16:28] kash1102 commented on #964
4 tabs for districts should be picked first and then we can bring the 5th one as part of enhancement.

[2020-04-11 16:36] kracekumar opened #966 "Add a graph to display doubling rate"
**Is your feature request related to a problem? Please describe.**

Now that cases are doubling quicker, it may be better to have a doubling rate at country level and state-level as a time-series. Y-axis "no of days" and x-axis "number of cases".

**Describe the solution you'd like**
This is a step to find out the "flatten the curve" is happening or not.
Example: https://covid19-india.datameet.org

[2020-04-11 16:42] dpnkrpl commented on #963
These things are not so important i guess, at least at this point of time (as most of the data is not available/ UNKOWN till this date) Thsese will just degrade the website's performance. Already it became heavier as lots of features have been added recently.

[2020-04-11 16:50] #954 closed, assigned to nobody

[2020-04-11 16:58] iDhruv22 opened #967 "Age of deceased chart"
Deep dive can have bar chart for patients who sadly died in this pandemic based on their age.

[2020-04-11 16:59] Parag-Yadav-09 commented on #905
@vedadeepta I would like to work on it, but I'm just an automation tester nd have less knowledge in this department. But I'm eager to learn more. If this ticket get assigned to you, Can I ping you on hangout? I have got your email id from profile, you could just let me know how u did it.

[2020-04-11 17:06] ameya-pandilwar commented on #919
Hi @guptadev -- I have added formatting for district wise count. Please reivew and merge the PR. Thanks!

[2020-04-11 17:18] yashshah1 opened #969 "Add the number of tests count in the table"
**Is your feature request related to a problem? Please describe.**
-

**Describe the solution you'd like**
The number of tests is displayed on the map, it can also be displayed in the table along with other figures like confirmed, recovered etc

[2020-04-11 17:28] sourav-patra opened #970 "No of tests for Tamil Nadu as of 11th April is displayed as NAN"
The number of tests for Tamil Nadu as of 11 April is displayed as NAN. Looks like a formatting issue

**Steps to reproduce the behavior:**
1. Go to1 `https://www.covid19india.org/1`
2. Click on any state in the map
4. `NAN` displayed in `Tested` card

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubuserconten

[2020-04-11 17:28] PriyamAr opened #971 "Delhi district wise information not updated"
i am from delhi and i would like to be informed about district wise data from the city. please update it as convenience.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternat

[2020-04-11 17:32] vedadeepta commented on #905
Hey I'm no expert myself. From skimming the deep dive codebase it seems like they use `react-chartjs-2` library to plot graphs. Seems the api is reasonably simple(you can read docs at their GitHub repo), although some trial/error might be required since i haven't used the lib before. you can give it a try yourself. Look here for reference: https://github.com/covid19india/covid19india-react/blob/ma

[2020-04-11 17:38] shuklaayush commented on #971
Duplicates #934

[2020-04-11 17:38] #971 closed, assigned to nobody

[2020-04-11 17:51] kash1102 opened #972 "https://api.covid19india.org/state_district_wise.json Api to send district wise recovered and deceased cases."
**Is your feature request related to a problem? Please describe.**
Show Recovered and Deceased District Wise.

**Describe the solution you'd like**
Modify Api and Consume these fields.

[2020-04-11 17:55] soumiknandi opened #973 "Positive/Plus symbol not visible in cumulative graph"
**Describe the bug**
In cumulative graph positive/plus sign is not present.

**To Reproduce**
On hovering over graph daily change values positive/plus sign is not present.
![Screenshot from 2020-04-11 23-21-01](https://user-images.githubusercontent.com/23258575/79051053-973d7480-7c4b-11ea-8b4e-d53f1f694149.png)

[2020-04-11 17:57] shuklaayush commented on #964
This has been duplicated a number of times. Please go through the issues before submitting a new one. The implementation for this is already there in the code. The bottleneck is the lack of data, which unfortunately is not being released by the respective state governments. Thanks

[2020-04-11 17:57] #964 closed, assigned to nobody

[2020-04-11 18:00] shuklaayush commented on #970
Fixed

[2020-04-11 18:00] #970 closed, assigned to nobody

[2020-04-11 18:01] #972 closed, assigned to nobody

[2020-04-11 18:06] guptadev opened #974 "Time series legend count not displaying with '+' symbol"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/15716246/79051174-585bee80-7c4c-11ea-9e75-ca2fdc

[2020-04-11 18:12] bee-rickey commented on #974
Duplicate of #973

[2020-04-11 18:12] #974 closed, assigned to nobody

[2020-04-11 18:17] bee-rickey commented on #963
Closing this. We will never add religion or anything that can lead to discrimination.

[2020-04-11 18:17] #963 closed, assigned to nobody

[2020-04-11 18:19] bee-rickey commented on #959
Please speak to @jeremyphilemon before you pick this up for development.

[2020-04-11 18:30] sudevschiz commented on #384
Thanks for looking into this and sorry for the huge delay in us getting back to you.

Making this low priority thought.

[2020-04-11 18:32] sudevschiz commented on #447
This could be part of the detailed state-view that we have planned. @jeremyphilemon

[2020-04-11 18:33] sudevschiz commented on #456
Does this really add any value? If we know that the first reported case in say, Himachal Pradesh is 15th March, how can it be used?

[2020-04-11 18:34] sudevschiz commented on #511
Could be a candidate for Deep-Dive.

[2020-04-11 18:35] sudevschiz commented on #528
Could be a candidate for Deep-Dive.

[2020-04-11 18:37] sudevschiz commented on #601
@jeremyphilemon Awaiting your consideration :)

[2020-04-11 18:38] tannakartikey commented on #456
@sudevschiz I am not sure the first reporting date (#337) will add any value or not but countdown surely will not. I think we should close this one.

[2020-04-11 18:39] #973 closed, assigned to nobody

[2020-04-11 18:40] strikertanmay commented on #456
This feature will help people to get information that may be important sometimes as the date of the first reported case shows the level of danger in the particular state/district. This will also help doctors, analysts, and other people to take important decisions if required.
Suppose first reported case of any district xyz is 11 April, it helps gov to take steps and people to stay aware

[2020-04-11 18:40] sudevschiz commented on #630
Quite understandably, the state authorities are not releasing patient travel history now. Using that to plot patient travel history is no more a feasible solution.

Probably a large scale community solution - like the app Singapore developed, Aarogya Sethu released by India Govt., or the one Apple/Google planning to work would be more useful candidates.

Closing this.

[2020-04-11 18:40] #630 closed, assigned to nobody

[2020-04-11 18:42] strikertanmay commented on #967
I would like to work on this issue. Please assign me this one

[2020-04-11 18:43] tannakartikey commented on #456
@strikertanmay good point.
I agree with the first report date with your argument but the countdown will clutter the UI. People can manually count from the first reported date.

[2020-04-11 18:43] sudevschiz commented on #637
This is quite unnecessary.

[2020-04-11 18:43] #637 closed, assigned to nobody

[2020-04-11 18:44] sudevschiz commented on #672
This could be a potential section in the "Essential" page that now have.

@nikita-11 @sama007 thoughts?

[2020-04-11 18:49] sudevschiz commented on #686
Could you add more details on what improvement this change makes?

(Just trying to make the maintainers' lives easier)

[2020-04-11 18:55] sudevschiz commented on #702
Only very few cases have city level information. The lowest granularity that we have good coverage is district-level (even that is missing in many cases). Hence, it would be incorrect to plot it on a map this way.

Closing.

[2020-04-11 18:55] #702 closed, assigned to nobody

[2020-04-11 18:55] bee-rickey commented on #950
Related to #943 Closing as duplicate. Add a comment there if you need more on the same.

[2020-04-11 18:55] #950 closed, assigned to nobody

[2020-04-11 18:56] bee-rickey commented on #969
Duplicate of #943. Closing for now.

[2020-04-11 18:56] #969 closed, assigned to nobody

[2020-04-11 18:57] sudevschiz commented on #717
What is the status here?
@KrishnaPravin are you working on this?

[2020-04-11 18:59] sudevschiz commented on #729
We don't have city/area level information for almost all the cases. The choropleth that we have provided is basically a Heatmap.

[2020-04-11 18:59] #729 closed, assigned to nobody

[2020-04-11 18:59] bee-rickey commented on #456
This feature does not add any value. Closing.

[2020-04-11 18:59] #456 closed, assigned to JunaidBabu, sudevschiz

[2020-04-11 19:01] sudevschiz commented on #741
This data is exposed through https://api.covid19india.org/resources/resources.json

However, the question whether we should have this view should be looked at by @nikita-11 and @sama007

[2020-04-11 19:01] amrishkhan05 commented on #773
Issue still exists @shuklaayush

[2020-04-11 19:02] bee-rickey commented on #943
A better request is #945 Please add any info required on that enhancement. Closing this.

[2020-04-11 19:02] #943 closed, assigned to JunaidBabu, jeremyphilemon

[2020-04-11 19:02] sudevschiz commented on #744
Potentially could be added to statewise view.
@jeremyphilemon

[2020-04-11 19:03] KrishnaPravin commented on #717
@sudevschiz we have added nav buttons for mobile screen.
Preview: https://covid19india-react-q4wrovyi3.now.sh/
PR: https://github.com/covid19india/covid19india-react/pull/930

This PR has the state wise time series graph too

[2020-04-11 19:04] sudevschiz commented on #751
What do you mean by growth factor? Can you provide more details and an example?

[2020-04-11 19:05] sudevschiz commented on #755
Please reopen the issue with instructions on how to reproduce the issue. (if it is still in effect)

[2020-04-11 19:05] #755 closed, assigned to nobody

[2020-04-11 19:07] sudevschiz commented on #758
Personally, I feel it's quite unnecessary. This would involve a pop up or a request to add to home page? Bad UX, I would say.

Will keep the issue open for others to vote.

[2020-04-11 19:09] bee-rickey commented on #858
@inderpreetsinghips Github pages. That's where we have hosted. Closing the issue.

[2020-04-11 19:09] #858 closed, assigned to nobody

[2020-04-11 19:12] sudevschiz commented on #781
@userhasnoname0 No. I would prefer Updates to be in its current location.

About the Date field, I echo with @JunaidBabu ,we should just remove that date and keep a relative time on the cards.

Opening this issue for that behaviour.

[2020-04-11 19:13] SaiTeja69 commented on #931
On page seo , add keywords related to corona such as covid , corona ,
covid-india , word which an Indian user might search to look up for the
meter would improve the page ranking.

On Sat, Apr 11, 2020, 9:18 AM Sudev <notifications@github.com> wrote:

[2020-04-11 19:14] bee-rickey commented on #830
This is out of scope for our cause. Although a comparison could help, we do not have a reliable source which we can use to build this. Closing.

[2020-04-11 19:14] #830 closed, assigned to nobody

[2020-04-11 19:15] Apoorve73 commented on #702
Okay! But what about areas too prone to this disease? We have almost every single detail for them.

[2020-04-11 19:16] JunaidBabu commented on #967
You'll have to make use of this
https://api.covid19india.org/deaths_recoveries.json

[2020-04-11 19:17] sumukhah commented on #695
thank you @sudevschiz, I will fix this soon,
can you suggest some UI design to handle this?
because from my old pr(https://github.com/covid19india/covid19india-react/pull/697), @shuklaayush suggested me
not to put time on that UI design.

[2020-04-11 19:21] sudevschiz commented on #789
@jainprabhash Good catch. Assigning you.

[2020-04-11 19:22] sudevschiz commented on #793
Doubt if we will ever have this data. Closing.

[2020-04-11 19:22] #793 closed, assigned to nobody

[2020-04-11 19:25] sudevschiz commented on #621
Could be a good add to state-wise view. @jeremyphilemon, in your court.

[2020-04-11 19:29] sudevschiz commented on #812
Thanks for raising the issue.

Can you provide more details on which all graphs would come under the filters?
Also, what would be the placement, an overall UI?

[2020-04-11 19:52] yashshah1 commented on #945
Can I work on this?

[2020-04-11 19:55] baronpankaj opened #977 "Patient Id 4933 has the city as Kannur but State is Missing. It may be updated to kerela"
Patient Id 4933 has the city as Kannur but State is Missing.  It may be updated to Kerela

You refer the data and see the state is empty in raw data for patient id 4933

[2020-04-11 19:55] sudevschiz commented on #883
Couldn't reproduce. Please reopen if you're seeing this issue consistently.

[2020-04-11 19:55] #883 closed, assigned to nobody

[2020-04-11 19:57] sudevschiz commented on #888
Not all states provide information regarding recovery and deaths at a state level. We are working on improving the data to have this info.

Data needs to be cleansed and made available before this can be worked on.

[2020-04-11 20:00] sudevschiz commented on #945
This is a good idea for Deep-Dive page. Assigning @yashshah1 . However, please wait for more guidelines regarding the structure of that page from @jeremyphilemon @shuklaayush before working on it.

@shuklaayush @jeremyphilemon could you share any ideas?

[2020-04-11 20:02] strikertanmay commented on #967
@JunaidBabu @sudevschiz Can u please suggest the title of this graph !

[2020-04-11 20:03] sudevschiz commented on #953
I think any statistics in India is skewed by the large population. I feel a better judge of the testing numbers would be to compare it with the number of cases detected. If more cases are detected, that means those cases have contacts and those contacts need to be tested aggressively.

https://github.com/covid19india/covid19india-react/issues/945 talks about this.

And definitely, top header is no

[2020-04-11 20:09] sudevschiz commented on #977
This is a tricky one.

So, Patient 4933 was considered as part of Kerala numbers till today when he sadly, demised. Mahe, Puducherry has not claimed this case as part of their numbers too. The case is not tied to either states now. We will update the state when more information is available.

[2020-04-11 20:09] #977 closed, assigned to nobody

[2020-04-11 20:17] bee-rickey commented on #965
Needs to be discussed.

[2020-04-11 20:27] bee-rickey commented on #946
IMO not required. We will end up with places like Nagaland that have no cases yet being white, places with recovery being green and then lots of shades of red. Although the intention seems noble, it creates confusion and the legend becomes complex.

[2020-04-11 20:34] Dhrumit8596 commented on #932
I feel there is some issue with city level cases because till evening it was showing the increment city-wise but suddenly now it is not showing the same.
Please have a look at the snapshot.

![image](https://user-images.githubusercontent.com/17471088/79054328-bbbc3100-7bf8-11ea-8ab8-dfd7c1231ab3.png)

[2020-04-11 20:47] sudevschiz commented on #932
@jeremyphilemon The delta numbers has to remain till 7AM IST, the next day even for district wise numbers. _That's one of the auto legs of the wind based motor mechanism that we have_

[2020-04-11 21:14] strikertanmay commented on #967
please review this https://github.com/covid19india/covid19india-react/pull/978 and suggest the changes if required

[2020-04-11 21:57] ridiis opened #979 "Correction in no of deaths for himachal Pradesh"
Current data shows 22 active cases from hp,8 recovered  and 2  deaths,as on 3:20am on 12 April, but the actual no of recovered cases is 9 and only 1 tibetian had died from kangra.
PFA the snapshot of the national health mission data and try to rectify the same.[](http://www.nrhmhp.gov.in/)

![Screenshot_2020-04-12-03-13-06-71](https://user-images.githubusercontent.com/63258358/79055808-7be36100-7c

[2020-04-11 23:30] hemantpandey17 commented on #927
I already have the commit for this. You can assign it to me.

[2020-04-11 23:31] deepa696398 opened #980 "Application not Loading on IE and Edge browser"
Application not Loading on IE and Edge browser

**To Reproduce**
Steps to reproduce the behavior:

1. Go to : hit url on IE or Edge browser
2. See error : see browser response

Application should be browser compatible.

I have screenshot with me with issue and i have fixed this issue on locally. i have screenshot after fixing this issue as well.

**Desktop (please complete the following informatio

[2020-04-12 01:49] sama007 commented on #672
Yes. It can be put in the essentials page

[2020-04-12 01:53] KrishnaPravin commented on #747
@bee-rickey what the plan for #877 👆?

[2020-04-12 02:29] shuklaayush commented on #979
Please read this https://github.com/covid19india/covid19india-react/issues/662#issuecomment-612361044

[2020-04-12 02:29] #979 closed, assigned to nobody

[2020-04-12 02:43] shuklaayush commented on #980
Seems to work fine on Edge mobile. Can you elaborate on what doesn't work?

[2020-04-12 02:46] spidynikhil commented on #953
I saw issue #945 and I think that's also a good idea. Please don't be confused that my idea is also the same. I will try to give a clear view of my idea:

The idea is to show the users how good/bad we are tackling corona virus spread in India. I talked about the ratios (no stats or graph needed), like totalCases-India/totalCases-World (this will give the spread ratio in India over world), totalCas

[2020-04-12 02:54] alokaroramca opened #982 "District level details to have Active, Recovered, Deaths, Delta"
**Is your feature request related to a problem? Please describe.**
When we click on State (table) to show District wise breakup (row), it is not showing all colums like for state e.g. Active, Recovered, Deceased and their Deltas.

Only DISTRICT, CNFMD are shown

**Describe the solution you'd like**
It is Low hanging fruit.
Low cost, High return

Step-1) Just add Deltas and these column values in a

[2020-04-12 02:57] shuklaayush commented on #896
Should be fixed via #920

[2020-04-12 02:57] #896 closed, assigned to nobody

[2020-04-12 03:53] dpnkrpl commented on #937
Yeah that's right that should be nation's total count

[2020-04-12 04:01] amateur-dev opened #983 "All Emergency Phone Numbers across States"
**Is your feature request related to a problem? Please describe.**
The current list of important numbers are hidden behind a PDF doc and not so easily accessible.

**Describe the solution you'd like**
Data Table to show the stat wise (searchable) list of phone numbers

I have collated this list from all the sources: https://docs.google.com/spreadsheets/d/1Cq9yLURiA5KW_nM3_beW32UaRFLmV8K77Z7e8pt3FO

[2020-04-12 04:07] ninjakx commented on #812
except for Patient nationality, I can connect all 5. Like if a user click on the recovered graph from the total cases. It will show all the graphs related to recovered cases. Patient gender and age who recovered and also the states recovery line graph.
Similarly, thing will be observed via all the other 4 graph.

But I can see there are 3 JSON files. first 2 and below two have the same JSON file.

[2020-04-12 04:30] ameya-pandilwar opened #984 "Incorrect spelling for district of Beed city"
**Describe the bug**
The spelling for the district of Beed city is incorrectly written as `Bid` in the Google Spreadsheet (https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml#) and hence showing up incorrectly on the website.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org

[2020-04-12 04:43] nitishhere opened #985 "Update the unknown cases from J&K"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Jammu and Kashmir..'
2. Click on '....'
3. Scroll down to '.Unknown ...'

**Expected behavior**
Unknown cases to be distributed across the reporting districts.

**Additional context**
The details are already published on twitter by J&K govt official twitter handle

[2020-04-12 05:01] harish1805 opened #987 "Create country and state wise graph"
Hi,
Can you please accept this feature request to create a country and state wise graph with daily cases and with seven day average similar to: https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html

This will be very helpful to get information about the curve.

Thanks,
Harish Nair

[2020-04-12 05:21] shuklaayush commented on #982
Please go through old issues before posting a new one

[2020-04-12 05:21] #982 closed, assigned to nobody

[2020-04-12 05:22] shuklaayush commented on #984
Refer to https://github.com/covid19india/covid19india-react/issues/662#issuecomment-609377552

[2020-04-12 05:22] #984 closed, assigned to nobody

[2020-04-12 05:22] #985 closed, assigned to nobody

[2020-04-12 05:34] iDhruv22 commented on #959
##### Routing scheme -
 - ***Demographics*** and ***Deep dive*** will have their own separate chunk.
 - The rest all will be in one main chunk.
##### Implementation -
The react Suspense and lazy will be used to achieve this. As a fallback of Suspense, the spinner Icon will be considered

@jeremyphilemon can I start working on this?

+Edit
Added PR as well, let me know you have any feedback on top

[2020-04-12 06:06] DhiralKaniya opened #988 "Last updated time is not update at a time of Recovery and Death count update"
**Describe the bug**
Last updated time is not been updated at the time of death and recovery.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot_20200412_113223](https://user-images.githubusercontent.com/21332852/79061856-df8f7d80-7cb1-11ea-96e2-830d956fcf34.jpg)
![Screenshot_20200412_113232](https://user-images.githubusercontent.com/21332852/79061858-e1f1d

[2020-04-12 06:50] ninjakx opened #992 "India map having district wise heatmap"
**Is your feature request related to a problem? Please describe.**
[#13](https://github.com/covid19india/covid19india-react/issues/13)
It has been implemented for a state-wise map but not for the whole India map.

**Screenshot:**
![districtindia](https://user-images.githubusercontent.com/29797787/79062290-9261da80-7cb6-11ea-90e5-1ecffcc48208.jpg)

Can we do the same?
![Screenshot 2020-04-12 12:12:

[2020-04-12 07:26] nidhidad commented on #924
Can I contribute?

[2020-04-12 07:35] swap-pakhare commented on #966
Hi, I'd like to work on this.

[2020-04-12 07:48] abhaybaiju commented on #948
Is this still an issue? I am not able to reproduce it.

[2020-04-12 07:52] xanterx opened #994 "Addition of PPE Tracker in the dashboard"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-12 07:56] deepa696398 commented on #980
Can you hit url on IE browser and see what happening.

PFB screenshot of live code on IE browser:
<img width="960" alt="IE_Browser_Before" src="https://user-images.githubusercontent.com/13164371/79063704-d659dd00-7cc0-11ea-835c-36105c00ad54.PNG">

PFB screenshot of locally code on IE browser after my changes:
<img width="960" alt="IE_Browser_After" src="https://user-images.githubusercontent.com/13

[2020-04-12 08:00] shuklaayush commented on #980
I don't use Windows. Also, we won't go the extra mile just to support IE. I recommend that you rather change your browser. Closing

[2020-04-12 08:03] #994 closed, assigned to nobody

[2020-04-12 08:08] deepa696398 commented on #980
**### If someone want to contribute then what is wrong that. If you guys don't have capability to listen any suggestion or improvement from anyone then why you are asking for help on social network.**

[2020-04-12 08:23] paragsh commented on #966
@kracekumar : I would like to work on this ticket please

[2020-04-12 08:24] paragsh commented on #906
@jaibatrik I would like to work on this ticket

[2020-04-12 08:27] jaibatrik commented on #906
Hey, I actually already submitted a PR #904 for this.

[2020-04-12 08:32] bee-rickey commented on #980
Reopening. Sorry about the previous comment. Do you have a fix for this issue?

[2020-04-12 08:35] shuklaayush commented on #980
@deepa696398 Please don't go on a tirade if you disagree. You can always reopen an issue. We're all well-meaning people over here. Looking forward to your fix

[2020-04-12 08:52] bee-rickey commented on #992
@jeremyphilemon @shuklaayush Thoughts? I prefer this TBH.

[2020-04-12 08:56] ramnatha opened #995 "like to have more district-wise report"
like to have more district-wise report
currently it sow only a few

eg: Dakshina Kammada has may district inside it

we need to report more granular level

[2020-04-12 09:15] shuklaayush commented on #992
@bee-rickey I agree it's a better representation. Apart from procuring the map file, the other issue that I see is availability of district-level data. What are we going to do about states like Telangana which only provide state-level data? It could be misleading if we just ignore them on the map

[2020-04-12 09:48] nikhilm19 commented on #743
Can you check this theme ? @shuklaayush

I have tweaked a few colors.

<img width="1279" alt="Screenshot 2020-04-11 at 9 18 22 PM" src="https://user-images.githubusercontent.com/22270301/79065816-cc3fda80-7cd0-11ea-9f63-c00aa49404c5.png">

[2020-04-12 09:50] deepa696398 commented on #980
Yes @bee-rickey As above attached screenshot i have fixed this issue.

Let me know how i can share code changes with you guys.

[2020-04-12 09:56] deepa696398 commented on #881
Hi Team,

I can pick this issue, Please assign on my name.

[2020-04-12 09:56] shuklaayush commented on #980
@deepa696398 Just open a PR. We'll have a look and merge

[2020-04-12 10:07] discountedcookie commented on #743
Personally I like the grey version better but the headers and even rows background is too bright. The map should also have some darker colours like @shuklaayush said.

[2020-04-12 10:13] ninjakx opened #996 "Timeline for map"
**Is your feature request related to a problem? Please describe.**
We can add the animation play and stop and date filter to see the heatmap. Since we have the previous data too. We can do it for table too.

On this page we can add it on the right side of spread trend.
![Screenshot 2020-04-12 15:39:15](https://user-images.githubusercontent.com/29797787/79066221-e333fc00-7cd3-11ea-9584-3feab8c18fd1

[2020-04-12 10:21] Zindra commented on #898
@jeremyphilemon can you please have a look at this ? I still believe this is relevant.

[2020-04-12 10:30] nikhilm19 commented on #743
Do you mean the purple header, table headers? Haven't worked on the Maps for now. Will try! @ciaasteczkowy

[2020-04-12 10:33] Zindra commented on #825
@iDhruv22 I see that your PR is not merged. Anyway not an issue if you want to work on the same.

[2020-04-12 10:34] sudevschiz commented on #898
No. Could you explain?

[2020-04-12 10:36] Zindra commented on #825
@TheDominus can you please ping me ?? need some help

[2020-04-12 10:40] bee-rickey commented on #992
@shuklaayush Valid point. It would be extremely difficult to map that data if the states do not give district break up. Telangana does provide district breakup, just that in between they stopped and hence we've not mapped. But the point is valid.

[2020-04-12 10:43] Zindra commented on #898
@sudevschiz Thanks for replying.

The use of this counter is to let the user know how many people are seeing this and as per simple rating-review system logic that user will follow this website data over others.
It is a common practice now-a-days to do what others are doing . That is why we have TRENDING in every app.

[2020-04-12 10:45] np000 commented on #992
It would be a good visualization when a specific state (with district level data available) is selected.

[2020-04-12 10:50] shuklaayush commented on #992
@np000 But that's already there, right? When you click on a state on the map. Or am I missing something?

[2020-04-12 11:00] darsh7807 opened #999 "City wise chart of growth"
**Is your feature request related to a problem? Please describe.**
It will be good to see if we can have a graphs city wise
**Describe the solution you'd like**
A chart like we have for countries

**Describe alternatives you've considered**
NA

**Additional context**
I dont have any, I can pick this up if no one else is alreadt doing this

[2020-04-12 11:07] HarshSBhatt opened #1000 "Footer improvement"
Describe the bug
New footer requirements with more elegant crisp design covering social media as well

[2020-04-12 11:09] #1000 closed, assigned to nobody

[2020-04-12 11:10] HarshSBhatt opened #1001 "Footer Enhancement"
New footer requirements with more elegant crisp design covering social media as well

[2020-04-12 11:15] swankyshahir opened #1002 "Mode of transmission terminology"
**Is your feature request related to a problem? Please describe.**
I cant make out what TBD stands for in mode of transmission column

**Describe the solution you'd like**
To give the full forms of any such abbreviations used

**Describe alternatives you've considered**
Searched the internet of TBD in relation to COVID-19 transmission but it was of no help

**Additional context**
Add any other con

[2020-04-12 11:44] iDhruv22 commented on #992
Its there, if you click on State.

[2020-04-12 11:48] petronav opened #1004 "Confirmed Cases Map Legend Level Change"
**Is your feature request related to a problem? Please describe.**
Right now in the mini map of India where the total confirmed cases are shown, the legend levels is dynamically and linearly clustered wrt the highest total confirmed case for any state and thus no matter what, there will be only one state, the one with the highest confirmed cases will be shown the darkest red zone. At a point Mahar

[2020-04-12 12:00] kousiksatish commented on #866
I would like to work on this. Please assign it to me.

[2020-04-12 12:02] kousiksatish commented on #854
I have added a "Toggle Selection" button in #1003 fixing #836. That may make it more useable, when you want to compare only few states

[2020-04-12 12:23] shuklaayush commented on #1004
@petronav Hi! Thanks for the issue. I've also been thinking about this a lot. I experimented with a continuous legend in #865. What I realized was that it makes it even harder to perceive the value that the colour corresponds to in the legend, especially when differences are subtle.  Another way is to use a [quantile scale](https://gisgeography.com/choropleth-maps-data-classification/), but since

[2020-04-12 12:23] np000 commented on #992
@shuklaayush yes , its there already. I didn't noticed it earlier  . You are right.

[2020-04-12 12:28] sudeepnokia commented on #447
For calculating mortality rate correctly, we should be using deceased count as of today, and the number of cases as of 7 days ago:
Mortality rate = 100*(deceased as of now)/(cases as of 7 days ago)

This is because people who were detected as positive a week ago will be the ones who will die now
In other words, the mortality curve lags the detection curve by a week

References:
https://www.youtube

[2020-04-12 12:35] smittal1209 commented on #672
@sama007 @sudevschiz Agreed that it can be integrated with the essentials page but lets focus on some points :

- Segregation of Responsibility : Essentials page is to provide people the information that can help them in any way that's why its being called Essentials.

- Data on the Donations page will increase in future and thus I would prefer it to be a separate page clearly visible from the hom

[2020-04-12 13:25] discountedcookie commented on #743
Oh, sorry. @nikhilm19 I meant the table header.

[2020-04-12 13:37] nayaksanjay99 opened #1006 "Responsiveness bug"
On mobile platforms with screen widths 320px and 375px, there is an extra space in the extreme right.( If you can't see the space, just try zooming out by pinching-in on the screen). The screenshot for 375 px is attached below.

![Screenshot_2020-04-12-18-58-30-87](https://user-images.githubusercontent.com/41791460/79070013-4a5fa980-7cf0-11ea-8d31-2a791056618c.jpg)

# Bug
The reason/bug is because

[2020-04-12 13:52] guptadev commented on #1006
@nayaksanjay99  can you please let me know in which mobile phone you are checking?
can you please also let me know the height and zooming % so it would be easy to identify the responsive issue.
Thanks,
Dev.

[2020-04-12 13:56] nayaksanjay99 commented on #1006
Device- Realme 3 Pro and Redmi Note 4
U can also reproduce this issue by opening the site in responsive mode using chrome-dev-tools.

[2020-04-12 13:59] ikshitiz opened #1007 "Statewise heat-map based on Population density"
**Is your feature request related to a problem? Please describe.**

State with a large population will have more cases compared to one with less population. I have seen multiple websites (Other countries) using the number of infected persons per million population criteria to plot heatmap.

This will help in visualizing district-wide hotspots.

If You compare UP, Maharastra and Kerala. the ratio o

[2020-04-12 14:09] gaurav7118 opened #1008 "Only Unknown cases showing in dropdown of every state ."
**Describe the bug**
Only Unknown cases showing in dropdown of every state .

**Screenshots**
![bug](https://user-images.githubusercontent.com/46915693/79070737-5bf78000-7cf5-11ea-95b2-0cdf03d4c7eb.png)

[2020-04-12 14:10] Godspeed007 opened #1009 "District-wise number of patients is not showing,instead it is made 'unknown'."
I opened the website to check current number of patients in each district of Uttar Pradesh.But their wasn't any district-wise tally,but an 'unknown' tag.Also,not in U.P but in each of the state
Hope this gets rectified.
Here is the screenshot of the same.
![Screenshot (244)](https://user-images.githubusercontent.com/50884193/79070730-4a15dd00-7cf5-11ea-9b3f-b711e9ec5e44.png)

[2020-04-12 14:12] nayakrahul commented on #911
of this sort : https://codepen.io/Washable/pen/Oxqjbq?editors=1100

It can be made using carousel component.
https://react-bootstrap.github.io/components/carousel/

[2020-04-12 14:14] gaurav7118 commented on #1009
Hi @Godspeed007  if you will open website in smartphone's chrome browser or incognito mode in windows chrome browser then it will work fine.

[2020-04-12 14:16] gaurav7118 commented on #1009
Try to clear cache. After clearing cache everything will work fine

[2020-04-12 14:16] #1008 closed, assigned to nobody

[2020-04-12 14:16] gaurav7118 commented on #1008
It was a cache problem.

[2020-04-12 14:18] Godspeed007 commented on #1009
Think issue is solved.Check without incognito.

[2020-04-12 14:19] #1009 closed, assigned to nobody

[2020-04-12 14:21] gaurav7118 commented on #1009
Actually it was not the issue. It was just cache problem. I also encountered the problem but after clearing the cache issue was solved

[2020-04-12 14:31] prabhakaryalla commented on #806
![image](https://user-images.githubusercontent.com/42337157/79071255-6e26ed80-7cf8-11ea-9cf7-d777f7fc5387.png)

[2020-04-12 14:39] salus-sage commented on #1006
This bug is visible, when you see the figures for whole india which has more digits compared to when you click on any states.

[2020-04-12 14:41] himanshu8426 commented on #686
Just made the react app more component based(footer component is written in app.js should be an another component). Also footer component was outside router.

[2020-04-12 14:52] nikita-11 commented on #672
It can be put there. But I don't understand the purpose of highlighting the PM Cares fund as such! If we want

I think the essentials page Shouldn't include the Fundraisers. Though currently it includes this as a category. But going for a separate donations page makes complete sense.

The data team has done commendable work in gathering so many on ground NGOs, which have their official sites as we

[2020-04-12 15:18] nayakrahul opened #1010 "Make select options in demographics cleaner"
The select options component is compact. It should be more clean and the font should be same as base font (Archia). It looks bad in mobile devices. It should be responsive.

[2020-04-12 15:41] amrutroul opened #1011 "Bhubaneswar isn't a district."
In Odisha, under the list of district there's Bhubaneswar. However BBSR isn't a district. It comes under district Khordha. BBSR is a city and capital of Odisha but it isn't a district

[2020-04-12 15:41] parthbhide commented on #1001
I would like to contribute to this .

[2020-04-12 16:25] shuklaayush commented on #1011
Please read this: https://github.com/covid19india/covid19india-react/issues/662#issuecomment-609377552

[2020-04-12 16:25] #1011 closed, assigned to nobody

[2020-04-12 16:50] #80 closed, assigned to sksavant

[2020-04-12 17:06] aruncodes commented on #349
I put some effort into implementing this but mine doesn't look very pretty or informative at the moment. The data trend is correct as we can see for example Kerala's growth is declining.

Anyone who is interested to take this forward or suggest changes are welcome.

What I tried to make was something similar to this https://aatishb.com/covidtrends/

![image](https://user-images.githubusercontent.c

[2020-04-12 17:16] akumar90 opened #1013 "Total Number of tests"
Steps to Reproduce
* When user first navigates to the page, data for all the states is summed and displayed.
* Total number of tests is not displayed

![Screen Shot 2020-04-12 at 10 15 03 AM](https://user-images.githubusercontent.com/13646657/79075270-b1587080-7ca6-11ea-88e7-a91c5129eb60.png)

[2020-04-12 17:22] smittal1209 commented on #672
@nikita-11 A great example given.
You are correct in the sense of not showing the PM Cares Fund and Other State Govt. Funds on the page but that section is included in equal weightage to other NGOs fundraisers. (Refer the Screenshot below)
My only concern to show these on the donations page is due to following points :

- Provide people a sense of authenticity that they are directly contributing t

[2020-04-12 17:27] dhanendraverma opened #1014 "Wrong recovered trends"
For **All states** the Deceased and Recovered trends have been interchanged whereas it looks fine in number charts

<img width="1141" alt="Screenshot 2020-04-12 at 10 53 40 PM" src="https://user-images.githubusercontent.com/46896989/79075505-e7cad580-7d10-11ea-9124-420229b7d031.png">

[2020-04-12 17:27] Naitikagrawal opened #1015 "Graph of recovered and confirmed cases interchanged for states"
**Describe the bug**
Graph of recovered and confirmed cases seems interchanged for states.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to graphs
2. Click on say chattisgarh
3. There it shows 0 recovered and 9 deceased, however it's other way round.

[2020-04-12 17:31] nikhilm19 commented on #743
I still liked a blue theme. And tweaked as you said @ciaasteczkowy. Maps are left.
<img width="1279" alt="Screenshot 2020-04-12 at 10 59 35 PM" src="https://user-images.githubusercontent.com/22270301/79075579-5c057900-7d11-11ea-9d9f-12c54ae1f0ae.png">

[2020-04-12 17:40] sudevschiz commented on #1015
Thanks for reporting promptly. This has been fixed with https://github.com/covid19india/covid19india-react/commit/a0068f0e410fe5aa9cc0e733cc0b71a42965d64a

[2020-04-12 17:40] #1015 closed, assigned to nobody

[2020-04-12 17:41] discountedcookie commented on #743
@nikhilm19 that looks much better. My vote still goes for grey ;) but now you have less contrast, which is nice in a dark theme.

[2020-04-12 17:42] sudevschiz commented on #1014
Thanks for reporting promptly. This has been fixed with https://github.com/covid19india/covid19india-react/commit/a0068f0e410fe5aa9cc0e733cc0b71a42965d64a

[2020-04-12 17:42] #1014 closed, assigned to nobody

[2020-04-12 17:44] sudevschiz commented on #1013
Yes, this would be a valid expectation from the user. We can use the data released by ICMR to show this information. This is available in the data.json api too.

Marking this available.

[2020-04-12 17:46] sudevschiz commented on #995
We hardly get details at a city or locality level. So, this is currently out of scope.

[2020-04-12 17:46] #995 closed, assigned to nobody

[2020-04-12 17:55] nikhilm19 commented on #743
Yeah! Will try a grey theme too.

[2020-04-12 18:47] SensehacK commented on #1013
@sudevschiz Do you mind If I look into this issue.
This would be first time having hands-on with react though on a live website but as long as I get it up and running on local machine. I'm good to go.

[2020-04-12 19:01] abbhhiisseek opened #1017 "Last hovered state count showing even after moving out of India map."
**Describe the bug**
Count not updated even after hovering out of a state.

**To Reproduce**
On loading page, initially the India count is shown.Now hover over any state. Then, move cursor out of the India map.

**Expected behavior**
After moving out of map,India Count should be visible. But last hovered state count is still showing.

[2020-04-12 19:09] SensehacK commented on #1013
@sudevschiz
I noticed one thing in the API's google sheet document source that sheet "Statewise" we don't have a column for Tested for each state & therefore we don't have cumulative tested number within the whole India.
Can we have that column added in the sheets document so that we can parse that number directly rather than calculating other states array every time with  a new request?

![Screen

[2020-04-12 19:17] Mayur1496 commented on #1002
I think that stands for:  **To Be Declared**

[2020-04-12 20:16] dhrubesh commented on #1017
Mind if I pick this up?

[2020-04-12 21:22] abbhhiisseek commented on #1017
@dhrubesh please do

[2020-04-12 21:22] dhrubesh commented on #1017
@abbhhiisseek please assign it to me

[2020-04-12 21:26] particleX-J opened #1020 "API: Stray entry in data.json"
![image](https://user-images.githubusercontent.com/59204865/79080398-202edb80-7d32-11ea-80da-7bd666656210.png)

There has been a stray entry at the end of case-time-series for the last two days

[2020-04-12 21:31] abbhhiisseek commented on #1017
Seems like it can be assigned once moderators change status to available

[2020-04-13 04:16] shuklaayush opened #1023 "Cannot zoom into any other state after selecting one from dropdown"
**Describe the bug**
The map of other states is not expanded after selecting a state in the dropdown.

**To Reproduce**
Steps to reproduce the behavior:

1. Select a state from the dropdown above the charts.
2. Now go to map and select any other state.

**Screenshots**
![Peek 2020-04-13 09-42](https://user-images.githubusercontent.com/27727946/79091624-8be16a80-7d6b-11ea-9c7f-1fdd0754be6a.gif)

[2020-04-13 04:47] kaustubh77 opened #1025 "Add a column for # testings done in eash state"
It will be useful to compare state wise number of testings done easily. Also since your website is so much popular now, I am sure many authoritative people might be keeping themselves updated using your website. Adding this column will kind of be like pushing them to work harder. Also adding a column showing the number of tests done per million people of each state will be helpful

[2020-04-13 05:13] ravigaggad commented on #888
Maximum States are giving info about recovery to.

[2020-04-13 05:15] ravigaggad commented on #948
Done.issue resolved

[2020-04-13 05:15] #948 closed, assigned to nobody

[2020-04-13 05:15] ravigaggad commented on #948
Issue resolve

[2020-04-13 05:21] ravigaggad opened #1026 "Chhattisgarh not showing update in recovery list"
![IMG_20200413_104944](https://user-images.githubusercontent.com/63439607/79094300-b2f06a00-7d74-11ea-90d5-3b67337235bd.JPG)
![IMG_20200413_105043](https://user-images.githubusercontent.com/63439607/79094304-b552c400-7d74-11ea-976c-0f160a5fb317.JPG)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click

[2020-04-13 05:21] vivekvroy opened #1027 "Recovered and Deceased graph on top should be uniform"
The two line graphs of recovered and deceased on top, looks like a straight line.
I think it is in sync with confirmed and active cases.
There is no clear curve for these two attributes and needs to be differentiated with confirmed and active.

[2020-04-13 05:32] Binu42 commented on #1006
@nayaksanjay99 this bug is fixed in PR #957

[2020-04-13 06:02] #1023 closed, assigned to shuklaayush

[2020-04-13 06:14] nayaksanjay99 commented on #1006
Cool 👍

[2020-04-13 06:24] aswaathb commented on #1027
@vivekvroy think you want different y-axis limits for the recovered and deceased graphs. In which case this issue is a duplicate of #722 (which has been closed)

[2020-04-13 07:54] bee-rickey commented on #1017
We are looking at a possible better interaction on the maps. Since the current behavior isn't a bug, but not intuitive enough either! Wil keep this open and not making it available until there's a better interaction :)

[2020-04-13 07:57] nayakrahul opened #1030 "After hovering a state in India map, we can't get back all states info again using the map div itself"
It's annoying to use the dropdown to again get the all states info in the map. Can' t we use the map itself to again get the all states info.

We can use the area where there is no states in the map div. We can use click or tap (not hover) on empty area to again get the all states info.

Or we can create a button on top right for that.

[2020-04-13 08:12] tannakartikey commented on #1017
Possible relation with https://github.com/covid19india/covid19india-react/issues/1030

[2020-04-13 08:16] tannakartikey commented on #1025
duplicate of https://github.com/covid19india/covid19india-react/issues/945

[2020-04-13 08:16] #1025 closed, assigned to nobody

[2020-04-13 08:18] tannakartikey commented on #1010
@nayakrahul can you add some screenshots here to explain your case?

[2020-04-13 08:25] kartheeki-kongara opened #1031 "In essentials coloumn while searching for states Arunachal pradesh is mising"
**Describe the bug**
A clear and concise description of what the bug is.
When we traverse to essentials in covid19 tracker and search for states in 'choose state' checkbox Arunachal Pradesh is missing.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/essentials''.
2. Click on 'Choose state' check box.
3. In drop down box 'Arunachal Pradesh is missing'.

**

[2020-04-13 08:29] shubhamjain2998 commented on #884
As I can see from source code, this issue can be fixed with few lines of CSS, I request you to assign this issue to me. @deep5050 @RamaKrishnaKunda @sudevschiz
See the below working Screenshot.
![Screenshot from 2020-04-13 14-59-37](https://user-images.githubusercontent.com/30628775/79110156-6e29fa80-7d97-11ea-8e1c-7fb4257e7e85.png)
![Screenshot from 2020-04-13 14-59-17](https://user-images.github

[2020-04-13 08:37] kp666 opened #1032 "Add test per million"
**Is your feature request related to a problem? Please describe.**
Test per million is a clear indicator of how effective testing happens at the ground level.

**Describe the solution you'd like**
Add test per million header(preferably PPM)
**Describe alternatives you've considered**
Data is not available to do PPM at this point.
**Additional context**
![image](https://user-images.githubuserconten

[2020-04-13 08:40] nayakrahul commented on #1010
![Screenshot (15)](https://user-images.githubusercontent.com/11428805/79106609-73d01200-7d90-11ea-8459-e94e0ebd1400.png)

Here I have made the select a bit cleaner than it was before and also used "archia" font.

[2020-04-13 08:42] nayakrahul commented on #1010
![Screenshot (17)](https://user-images.githubusercontent.com/11428805/79106693-9cf0a280-7d90-11ea-9b3a-914a1059a444.png)
![Screenshot (14)](https://user-images.githubusercontent.com/11428805/79106700-a11cc000-7d90-11ea-8500-772d91511182.png)
Using the above css only, I made it look better in mobile devices. As you can see in the first screeenshot, it is looking odd.

[2020-04-13 08:44] nayakrahul commented on #1010
I have raised a pull request https://github.com/covid19india/covid19india-react/pull/1012 for this. You can check it.

[2020-04-13 09:10] vivekvroy commented on #1027
Yes that's correct, when you say it is closed, can't that be updated or is the work is in progress now?

[2020-04-13 09:29] kiranreddysn commented on #751
Growth Factor = Todays' new cases / Yesterday's new cases

Example : =783 / 500 = 1.566

[2020-04-13 10:02] akhiltulluri commented on #743
This looks great! Can't wait for dark mode

[2020-04-13 11:27] sudevschiz commented on #1001
@HarshSBhatt Could you provide your screenshots and ideas here as a comment too.

Assigning to you anyways.

[2020-04-13 11:32] vinaypathak07 commented on #1031
Hi kartheeki-kongara:
The state is missing in the json we are fetching from the api.

[2020-04-13 11:34] strikertanmay commented on #1031
I checked there is no data available for Arunachal Pradesh in (https://api.covid19india.org/resources/resources.json), that's why it is missing in drop down box.

[2020-04-13 11:59] strikertanmay commented on #988
@sudevschiz I checked both the APIs(https://api.covid19india.org/updatelog/log.json) & (https://api.covid19india.org/data.json) from which data is fetched to update the time. And I found that there is no problem on the react-app side. I also compared timestamps but no such big difference found. Only 4-5 min difference is coming which is also justifiable.
If u have any point on this issue, please s

[2020-04-13 12:27] anuragsetia commented on #749
Is someone working on this? I had a similar idea of representing daily growth rate in terms of percentage. Attached is an example based on data. This helps get a real picture of how fast the disease is spreading.

I am willing to take this up as well

![12-Apr](https://user-images.githubusercontent.com/15847056/79120261-219ee900-7db0-11ea-8619-8249caa177ca.png)

[2020-04-13 12:31] kunalpgithub commented on #681
Hey, I can work on this. Assign this to me.

[2020-04-13 12:40] BhaveshSGupta commented on #787
I can work on this, if any one else cannot pick one!

[2020-04-13 13:12] alpha-k911 commented on #729
Fine, even the new district-level feature is awesome

[2020-04-13 13:36] tkkhhaarree opened #1037 "Add deceased vs age graph in deep dive section."
Please add a graph for number of people deceased vs their age in the deep dive section.

[2020-04-13 13:57] Chaitanyassr opened #1038 "Adding smooth collpased."
Adding smooth collpased.
smooth collapsed can be added over the tabs that mentioned states name.

[2020-04-13 14:01] yash-rajpal commented on #1037
I would very much like to work on this issue, but I checked the API for deaths. It doesn't have the age of all dead people.

[2020-04-13 14:01] Abhinaay opened #1039 "Footer Improvement"
The footer looks uneven and asymmetric. It can be designed in a better way.

It will be a great pleasure for me if I could design it in a better way. I will use the design concepts and will try to create a better look and feel.

A motivating image or slogan can be further added in the footer if design requirements are being satisfied.

[2020-04-13 14:05] strikertanmay commented on #1037
Duplicate issue (https://github.com/covid19india/covid19india-react/issues/967) and PR for this issue were already made.

[2020-04-13 14:14] bootleg-icarus opened #1040 "Add containment zones as they get declared"
**Is your feature request related to a problem? Please describe.**
New containment clusters are being declared by the govt with different severity levels. It would be helpful to add them to this project

**Describe the solution you'd like**
A new page with the map color coded to match the govt's data.
eg:
Red- Total lockdown
Orange- Partial lockdown
Yellow - Community guidelines

**Additional cont

[2020-04-13 15:26] sudevschiz opened #1041 "Add info icon and tooltip next to statename in table IF a note needs to be shown"
**Is your feature request related to a problem? Please describe.**
When a remark needs to be made regarding a state's number in the main table, it's currently added to the "About (FAQ)" page. Instead of that, it should be a ℹ️ icon, which on tap/hover pops up a tool-tip.

**Describe the solution you'd like**
1. Fetch the `statenotes` field now available in the `statewise` object for each state at

[2020-04-13 15:40] jeremyphilemon commented on #871
Hey, thanks for raising the issue. Unfortunately, that period was put there intentionally. It's hard to notice at first sight, but that extra . keeps all the components of this repo together. @JunaidBabu also used it to fix a major outage we experienced a few days ago, so removing it might bring everything down and crash the whole thing.

[2020-04-13 15:47] jeremyphilemon commented on #924
Thanks for raising this issue! It looks like the essentials team went ahead and implemented an infinite scroll instead, so no more pagination worries :)

[2020-04-13 15:47] #924 closed, assigned to nobody

[2020-04-13 15:54] sudevschiz commented on #1020
Couldn't reproduce this. Confusion is probably because of no new cases added for the 13th whioe OP took the screenshot

[2020-04-13 15:54] #1020 closed, assigned to nobody

[2020-04-13 15:56] sudevschiz commented on #1026
This is probably because a recovery reported in the previous day was added today. For this case, delta value shouldn't be shown in table. Not a bug.

[2020-04-13 15:56] #1026 closed, assigned to nobody

[2020-04-13 15:57] JunaidBabu commented on #871
Thank you :)

[2020-04-13 16:08] sudevschiz commented on #941
Separate numbers are not being published by the state government. Mumbai and Mumbai suburban are clubbed under Mumbai in bulletins.

[2020-04-13 16:08] #941 closed, assigned to nobody

[2020-04-13 16:10] sudevschiz commented on #934
District level information is not clearly published in the govt press bulletin. We have added a note for the same.

[2020-04-13 16:10] #934 closed, assigned to nobody

[2020-04-13 16:12] sudevschiz commented on #822
This intentionally mentioned so because the press bulletin also does the same and doesn't assign a district to these patients. We will try to make it more intuitive to understand that.
Closes #808

[2020-04-13 16:12] #822 closed, assigned to nobody

[2020-04-13 16:12] #808 closed, assigned to nobody

[2020-04-13 16:14] sudevschiz commented on #818
Yes. This info note need to be more intuitive. Will be fixed by #1041 .

Please follow that issue for updates. Closing this

[2020-04-13 16:14] #818 closed, assigned to nobody

[2020-04-13 16:26] sudevschiz commented on #999
Do you have city wise data available?

[2020-04-13 16:27] darsh7807 commented on #999
No  I dont have, I think its possible, It will need push I think

[2020-04-13 16:32] kunalpgithub commented on #647
I am late to respond, is anything started on this @faisal3389. I can help with front end back end both.

[2020-04-13 16:46] nirmalby opened #1045 "Colour coding not working"
Colour coding given for severity for state is not getting updated with scale change

Steps to reproduce the behavior:

1. Go to  maps -> kerala
2. Kerala should be in severity scale 1 but shows severity level 2

4. See error

**Expected behavior**
Kerala to be on least severity

**Screenshots**
Added

**Desktop (please complete the following information):**

- OS:  windows
- Browser chrome
- Versi

[2020-04-13 16:58] pastelsky commented on #647
This week looks busy for me, so I haven't been able to make any progress.
I've synced the mobility data with the latest available update from google.
Now that the deep dive section is live on the site, I think both of you can
get started on the tabbed UI & the graph.

I'll try to join the effort this weekend.

On Mon, Apr 13, 2020 at 10:02 PM Krunal Parmar <notifications@github.com>
wrote:

--
Reg

[2020-04-13 17:04] knayan1 opened #1046 "Please use datepicker for the dates in demographics"
As the dates are going ahead, we're seeing a long list of dates, that is bit tough to select older dates, specially in mobile.

Please add datepicker/calendar for this.
https://www.covid19india.org/demographics

[2020-04-13 17:11] knayan1 opened #1047 "Please add current status info in demographics"
Please add last status change date and current status (death/recovered/hospitalized) to the demographics of each patient in the popup window.

If possible, please change the color codes too while displayin.

![image](https://user-images.githubusercontent.com/6613637/79141398-58d4c080-7dd7-11ea-8113-70549b61f3cb.png)

[2020-04-13 17:39] shuklaayush commented on #1045
Should be fixed in #865

[2020-04-13 17:48] abishekrsrikaanth opened #1087 "BUG: Essentials page is making multiple calls to resources.json"
The Essentials page when loaded make repeated calls to `resources.json`. Even though the 2nd call retrieves the data from the disk cache, it's better to get this bug fixed.

<img width="1680" alt="Screen Shot 2020-04-13 at 11 16 47 PM" src="https://user-images.githubusercontent.com/1639302/79144611-e4048500-7ddc-11ea-86bc-fde6e1982188.png">

[2020-04-13 17:51] strikertanmay opened #1049 "Improve the UI of dropdown menu on demographics page"
Attach pics of improved UI dropdown menu-
![rsz_1screenshot_from_2020-04-13_23-10-30](https://user-images.githubusercontent.com/32292953/79144998-81f84f80-7ddd-11ea-99d8-972065b0eb0d.png)

[2020-04-13 18:41] strikertanmay commented on #1049
https://covid19india-r-git-fork-strikertanmay-strikertanmay-fx-d-f63272.covid19india.now.sh/demographics

[2020-04-13 18:46] nayakrahul commented on #1041
I can take this

[2020-04-13 19:37] Binu42 opened #1054 "scroll to top button on essential page"
**Is your feature request related to a problem? Please describe.**
scroll to top button will remain there always without scrolling of user also. it will might confuse user for some states/UT like andaman & nicobar, chattisgarah, himachal pradesh etc.. where there is less resources.

**Describe the solution you'd like**
remove scroll to top button until user scroll on the page. i'm working on it.

[2020-04-13 20:53] bee-rickey opened #1056 "Deep-dive Daily cases for India graph is having wrong calculation."
The graph shows active data as: (today's total number of cases - today's recovery - today's deceased count)
It should be: today's total number of cases.

Eg:
**For 13th April: there were 1242 new cases, 107 recoveries and 27 deaths.**
<img width="583" alt="image" src="https://user-images.githubusercontent.com/63364562/79159740-3d2ce280-7df6-11ea-8af7-82bd103ddae4.png">

The graph shows:
**(1242 -

[2020-04-13 21:36] Binu42 commented on #1056
i agree with you @bee-rickey. it's now fixed at #1057 to help @jeremyphilemon @s-naveen

[2020-04-13 23:22] vitorgomateus opened #1060 "Normalize plots with origin on 1st, 10th or 100th case, in All States at Deep Dive."
Normalize plots with origin on 1st, 10th or 100th case, in All States at Deep Dive

**Is your feature request related to a problem? Please describe.**
No.

I would like to compare how each state (and maybe even cities, maybe for later) deals and progresses after the the 10th case. Usually using the 100th case would be more significant, but some the ones that have crossed that line are still less t

[2020-04-14 00:13] Binu42 commented on #1056
@bee-rickey currently bar plot is showing daily cases from 1 march to today date. which is making plot very clumsy and thin and this plot is going to be thin dailywise. i have raised PR #1061  to solve this issue by limiting the number of days to recent 28 days and i think that nobody will want to know daily cases before 28 days. Have a look...

[2020-04-14 00:53] aaditkapoor opened #1062 "Death Predictor Model Covid19India"
## Feature
The feature I am proposing is a separate tab or a column in the data that can give you a predicted number of deaths for each date.

## Solution
A machine learning model hosted as an API that takes in a date parameter to get the predicted number of deaths.

## Technologies used
- Python 3.8
- Pandas
- Scikit Learn
- Flask REST API

## Additional requests
It would highly be appreciated if

[2020-04-14 01:59] sarfarazit08 opened #1063 "Stats data and graph data is mismatched"
![IMG_20200414_072437](https://user-images.githubusercontent.com/12494845/79177917-80507b00-7e21-11ea-9b1b-d1beba01b417.jpg)
**Describe the bug**

Stats data and graph data is mismatched.