[2020-05-01 06:52] #1661 closed, assigned to nobody

[2020-05-01 06:54] KrishnaPravin commented on #1663
#1496

[2020-05-01 06:55] KrishnaPravin commented on #1664
#1496

[2020-05-01 07:15] skyprince999 commented on #1084
any update on this activity? i have created a python version on kaggle using data from this site (covid19india.org)
Tracking done only for states where case count > 100
[realtime tracking of Rt for Indian states](https://www.kaggle.com/skylord/real-time-tracking-of-r-t-for-indian-states)

[2020-05-01 07:18] #1516 closed, assigned to nobody

[2020-05-01 07:29] abbhhiisseek opened #1681 "Disable invalid hidden hyperlink in State Pages"
**Describe the bug**
The back button or the button to exit state pages is not visible.

**To Reproduce**
Click on any of the Visit State Pages.
Back button is not visible.

**Expected behavior**
Back button should be visible.
Once site is switched to dark mode and back, back button is visible. But initially on visting site and goint to state pages, back button not there

**Desktop (please complete

[2020-05-01 07:33] KrishnaPravin commented on #1630
cc @nikita-11

[2020-05-01 07:33] KrishnaPravin commented on #1658
cc @nikita-11

[2020-05-01 07:38] abbhhiisseek opened #1682 "See overall India statistics date wise"
**Is your feature request related to a problem? Please describe.**
Currently the Confirmed, Active, Recovered and Deceased cases for all state in a rowwise manner in the home screen, are visible only for the present Calendar day. No option there to check rowwise statistics for all states, individually, in one screen, at one glance for previous dates.

**Describe the solution you'd like**
All state

[2020-05-01 08:02] shuklaayush commented on #1681
Which back button is this? Can you send a screenshot?

[2020-05-01 08:06] abbhhiisseek commented on #1681
[
![back](https://user-images.githubusercontent.com/27771780/80791936-c4c57000-8bb0-11ea-8fd4-1be3dd1098ad.png)
](url)

[2020-05-01 08:08] abbhhiisseek commented on #1681
![back2](https://user-images.githubusercontent.com/27771780/80792024-03f3c100-8bb1-11ea-83e6-9322e5eb3b38.png)

[2020-05-01 08:22] shuklaayush commented on #1681
Okay, so we've intentionally hidden the back button on the state pages since you can use the breadcrumbs on the top to go back.
![image](https://user-images.githubusercontent.com/27727946/80792655-9fd1fc80-8bb2-11ea-8807-9cec52958996.png)

This should never happen since we've hidden the back button. I can't reproduce it either. Can you confirm again that this happening? Maybe send a screenshot as

[2020-05-01 08:25] abbhhiisseek commented on #1681
![back3](https://user-images.githubusercontent.com/27771780/80792924-56ce7800-8bb3-11ea-81f7-64848838fafa.png)
Please find back button, today's date

[2020-05-01 08:28] shuklaayush commented on #1681
That is not a state page

[2020-05-01 08:29] ravigaggad opened #1684 "Mismatch of Data and Tally"
**Describe the bug**
A clear and concise description of what the bug is.
Their is mismatch in tally of Total no. of patients,Active Patient,Recoverd Patient,Deceased.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Covid19india web site.'
2. Click on '' Menu button"
3. Scroll down to 'Himachal pradesh'
4.  Click on Himachal Pradesh
5. See error the total tally of the no.of active pat

[2020-05-01 08:32] abbhhiisseek commented on #1681
got it. Thanks

[2020-05-01 08:34] abbhhiisseek commented on #1681
however, even in state pages, at the location where back button was there's a hidden hyperlink which returns you back
![back3](https://user-images.githubusercontent.com/27771780/80793715-7ebedb00-8bb5-11ea-810c-ea0efac709ba.png)

should this  hidden hyperlink be visible?

[2020-05-01 08:53] shuklaayush commented on #1681
Yeah, the reason it returns you to the home page is because the link is actually invalid :sweat_smile:. It's a remnant from reusing the same map component as on the home page. I guess you can hide it through some small changes to MapExplorer.js and/or the CSS. Feel free to make a PR

[2020-05-01 08:54] abbhhiisseek commented on #1681
sure :) making a PR

[2020-05-01 09:26] abhinaynatti opened #1685 "total no of cases don't match in the 3 raw data json files"
**Describe the bug**
total no of cases don't match with the sum of total cases in the 3 raw_data files.
**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'api.covid19india.org/raw_data1.json', "api.covid19india.org/raw_data2.json" , "api.covid19india.org/raw_data3.json" .
2. Do a sum of total counts in the 3 files.
3. Check this sum with the total no of cases provided in https://www.cov

[2020-05-01 09:28] #1685 closed, assigned to nobody

[2020-05-01 09:34] #1668 closed, assigned to nobody

[2020-05-01 11:20] sudevschiz commented on #1684
HP has 4 Migrated cases which are reduced from Active #. Also, death of Tibetan refugee is included in deceased numbers, but not in confirmed.

I have added this explanation to the note besides the state names. Thank you!

[2020-05-01 11:20] #1684 closed, assigned to nobody

[2020-05-01 12:06] asharoraa opened #1688 "Volunteering"
Your cause and efforts are highly noble. I'm looking to volunteer with your website. Please let me know how I can help contribute.

[2020-05-01 12:53] bhavinkotak07 commented on #1606
/claim

[2020-05-01 13:20] rajkapadia247 opened #1689 "The user shouldn't be shown the state charts merely on hovering on a state as it creates unintended effects."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm moving my mouse through the screen and now when I'm looking at the chart, instead of showing me the country's stats it is showing me some random state's stats that I had accidentally hovered over. Also, now to see the country's trends I have to go to the drop-down and select "All states."

**Describe

[2020-05-01 13:24] rajkapadia247 commented on #1655
I disagree on this request. The user is expecting to see the hotness based on the number of cases. However, we can add another country map in which the hotness can be weighted by area or by population or by population density.

[2020-05-01 13:49] mazarie opened #1691 "doesn't showing the correct map data as on the table format"
when I open the map and for eg click a state and then select the state and then the district its showing the 0 cases while on the table the district have reported the cases.
![Screenshot_2020-05-01-18-46-10-713_com android chrome](https://user-images.githubusercontent.com/36659626/80809926-58fafb80-8be0-11ea-909e-0a330423df9d.jpg)
![IMG_20200501_184713](https://user-images.githubusercontent.com/36

[2020-05-01 13:55] nayakrahul commented on #1691
This is happening because of spelling mismatch.

[2020-05-01 14:13] KMaheshBhat commented on #1040
Attached TXT is district-wise zones in CSV format : [20200501-india-covid-zones.txt](https://github.com/covid19india/covid19india-react/files/4564628/20200501-india-covid-zones.txt)

Source: https://www.news18.com/news/india/centre-marks-all-metro-city-as-red-zones-for-covid-19-curbs-post-may-3-heres-the-full-list-2600595.html
(Fixed source)

[2020-05-01 15:11] ishandutta2007 commented on #1040
The colour of the zones will change daily so mark this file with date as initial day, I have calculated from our raw data as
- last case > 28 days or no case till now means green,
- 14<last case<28 days means orange
- last case<=14 days means red
If we have to know the colour of days before this list we have to calculate from raw data.

[2020-05-01 15:34] devtechnocode opened #1692 "Difference in sum of tests done, as total sum of tests done in india is not same as cumulative sum of tests done by each state."
**Describe the bug**
Difference in data, as tests done differ when we see tests done in india and total sum the tests done adding up all states.

**Expected behavior**
There should not be difference between total tests done in india and cumulative sum of tests done by states.

**Screenshots**
As it is showing that tests done in india is approx 8.3 Lakhs but by adding separately all states sum of t

[2020-05-01 15:37] ravigaggad opened #1693 "District having no patient can be Coloured."
**Is your feature request related to a problem? Please describe.**

 [ We can show the colored background of district currently having no active patient. So that user can easily identified the district currently having 0 active patient.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Ad

[2020-05-01 15:42] KMaheshBhat commented on #1040
That makes sense.

On a bit broader note, I realized after commenting here that this possibly need to go to the API project and not the UI. Anycase - I am leaving the comment+attachment up for posterity.

[2020-05-01 15:48] knayan1 opened #1694 "Show recovery percentage on top"
As number of patients getting recovered is increasing, it would be good to give percentage od total case
- active
- recovered
- deceased

Please also show the delta (change from previous)

![IMG_20200501_211554](https://user-images.githubusercontent.com/6613637/80818655-39b89a00-8bf1-11ea-9f75-ac1768c6e9d2.jpg)

[2020-05-01 15:56] jeremyphilemon commented on #1688
@aashimaarora2 Hey thanks for reaching out, I've hidden your description because it contained personal information.

If you're looking to contribute with respect to the codebase, feel free to check out the [contributing](https://github.com/covid19india/covid19india-react/blob/master/CONTRIBUTING.md) guidelines :)

If you're looking to contribute apart from the codebase (data operations, social), f

[2020-05-01 15:56] #1688 closed, assigned to nobody

[2020-05-01 16:13] ashok-tg opened #1695 "visual zone classification across the country"
**Is your feature request related to a problem? Please describe.**
As the govt. has released the zone tag against districts, it will be helpful to have visual cue across the map represented by zone color. The map gets updated as the status of district changes.

**Describe the solution you'd like**
Start with the table listing of district Vs zone tag. Extend to map in sub-menu.

**Additional contex

[2020-05-01 16:21] nayakrahul commented on #1691
It can be fixed by editing here: public/maps/bihar.json

[2020-05-01 16:49] ashishdawale20 commented on #1688
@jeremyphilemon you are pointing to the wrong person but never mind :)

[2020-05-01 16:52] mkesavan13 commented on #1610
Hi @jeremyphilemon

There's a problem with material select w.r.t accessibility labels. I'm working on it as well. Other than that one and these Background and foreground colour changes, every other page is complete.

Please let me know about these colour changes alone. Looking forward and thank you.

[2020-05-01 17:22] capturemathan opened #1698 "Negative Active cases Found"
**Describe the bug**
The active cases are negative under some circumstances like Recovered cases become equal to Confirmed cases (eg) **Thoothukkudi** active cases column in the below image.

**To Reproduce**
Fix the minor arithmetic error.

**Screenshots**
See **Thoothukkudi** active cases column

![covidindiabug](https://user-images.githubusercontent.com/36666781/80825490-1f38ed80-8bfe-11ea-943a

[2020-05-01 17:26] dewansh3255 commented on #1698
Why do am I getting so many mails from COVID19 even after I have
unsubscribed the respective thing

On Fri, 1 May, 2020, 10:52 PM Mathana Kumar S, <notifications@github.com>
wrote:

[2020-05-01 18:48] asharoraa commented on #1688
Thanks Jeremy, Ashish.

Will reach out.

On Fri, May 1, 2020 at 10:20 PM Ashish Dawale <notifications@github.com>
wrote:

--
Best,
Aashima Arora
​(+91) 9873-141-104
New Delhi, India

Please consider your environmental responsibility. Before printing this
e-mail message, ask yourself whether you really need a hard copy.

[2020-05-01 18:53] jashasweejena opened #1699 "Colorize city name based on their zones"
**Is your feature request related to a problem? Please describe.**
As the Govt. Of India has divided the cities and districts into several zones, namely, Red Zones, Orange Zones, and Green Zones. According to the color that the city or district is assigned, we can color the specific cell in the page by red, orange, or green.

**Describe the solution you'd like**
Firstly, there is a list that the G

[2020-05-01 20:38] christopherbramya commented on #1665
Hi Krishna Pravin
First a fall thanks for review my feature request . I'm looking through the map state wise and district wise it will very hard to understand when it will solve all cases in particular districts and state wise.
For example Chennai is a district present inside a state of TamilNadu . It has more cases and don't know when it will get cured all patients . To know the rough estimate we

[2020-05-01 21:02] arjunsoota commented on #1699
I have scraped the pdf and added a [csv](https://github.com/covid19india/covid19india-react/pull/1700) for the same.

[2020-05-01 21:15] shubhamjain2998 opened #1701 "Update API Endpoints in Demographics Page."
**Describe the bug**
Currently, in the Demographics page, data is fetched from old raw_data API that is frozen now as shown in the documentation of API repository and as a result, page not showing anything from 27th April onwards.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Demographics Page
2. Select any state and date after 26
3. No data is displayed

The code needed to be refac

[2020-05-01 21:26] navilg opened #1702 "Zone based font color of districts name (Red, Orange and Green)"
**Is your feature request related to a problem? Please describe.**

Government of India has categorised all the districts into three categories, Red, Orange and Green. And conditions in districts will be evaluated weekly and based on that districts will be placed in one of three categories every week.

**Describe the solution you'd like**

When we expand the state in the list, it display the list

[2020-05-01 22:36] thebestakashgoel opened #1703 "Color code district with green orange red"
We should color code district with new red green orange listed by government.

[2020-05-02 01:59] bharath-spartan opened #1705 "Wrong number of cases is indicated"
TIRUPUR, TAMILNADU
[official Twitter handle - Tirupur district collector](https://twitter.com/Vijaykarthikeyn/status/1256228947760644097?s=09)

Actual active cases -4
Active cases shown in website -7

![Screenshot_20200502-072824](https://user-images.githubusercontent.com/64671780/80852662-defe5d00-8c47-11ea-9d01-4540b99785e3.png)

[2020-05-02 04:12] jashasweejena commented on #1699
Great work! Can I use your data in the code?

[2020-05-02 04:32] arjunsoota commented on #1699
Yeah it's open source 😉

[2020-05-02 04:48] w3dg opened #1707 "The Title on the sidebar is distorted."
**Describe the bug**
The **COVID19INDIA** writing on the top left wraps in a weird way making it hard to read at once

**To Reproduce**
Steps to reproduce the behavior:

1. Go to homepage
2. See the logo distorted and wrapped around in the column

**Expected behavior**
I expect the text Covid 19 and India to be on separate lines

**Screenshots**
![Screenshot_2020-05-02-09-54-21-933](https://user-i

[2020-05-02 05:17] jashasweejena commented on #1699
Thanks 🙂

[2020-05-02 05:21] tshrwbl commented on #1287
Any lead on this?

[2020-05-02 06:29] arjunsoota commented on #1703
check isuue #1699

[2020-05-02 06:29] arjunsoota commented on #1703
and then please close this issue

[2020-05-02 06:31] arjunsoota commented on #1702
check issue #1699 and close this issue

[2020-05-02 06:31] arjunsoota commented on #1695
check issue #1699

[2020-05-02 06:59] ishandutta2007 commented on #1040
Yes It's slowing down the UI not matter how hard I try, can you review the code and suggest parts to move to API. I will refactor it and move the core logic to API. I am not familiar with API layer of this project, meanwhile let me learn about it. As per me API should pre-compute the results and return the daily [red_count, orange_count, green_count] array immediately on calling.

Why are @jeremyp

[2020-05-02 07:25] shekzek opened #1708 "West Bengal Worng City Name"
Hey My Bro .... Here Have A Wrong District Name On West Bengal
Here Purba Medinipur Is Not Purba It's Paschim ( West) and Paschim Medinipur is Purba (East).
example:

![Screenshot (133)](https://user-images.githubusercontent.com/62648401/80858001-0bc86980-8c74-11ea-984e-fc268f05884a.png)
Alter That Purba And Paschim.
Thank You .
#Kalibaba-Pro

[2020-05-02 07:27] avsingh999 opened #1709 "Migration form link need to be added for states."
**Is your feature request related to a problem? Please describe.**
Some of the state governments launched a migration registration online form workers/people/student who has stuck in other states of India. I think need to be added as a feature where the user can directly go to the official page of the migration registration form COVID19.

[2020-05-02 07:35] nagur opened #1710 "Dockerization of the project for local development,testing and production."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-02 08:19] DikshantYadav19 opened #1711 "Clicking on Deceased option in state page doesn't show the number in the placeholder below"
**Describe the bug**
Go to any of the state's page. Clicking on any other option except for "Deceased" shows the number but not for deceased

**To Reproduce**
Steps to reproduce the [behavior:](url)

1. Go to 'https://www.covid19india.org/state/MH'
2. Click on 'Deceased'
3. Doesn't show the number in the placeholder below

**Expected behavior**
Like all other options there, "Confirmed", "Active" a

[2020-05-02 08:28] shuklaayush commented on #1695
Duplicates #1040

[2020-05-02 08:28] #1695 closed, assigned to nobody

[2020-05-02 08:29] shuklaayush commented on #1702
Duplicates #1699. Please comment over there

[2020-05-02 08:29] #1702 closed, assigned to nobody

[2020-05-02 08:33] shuklaayush commented on #1699
Hi, we already published an [API yesterday](https://api.covid19india.org/zones.json). I'm not sure whether it was done manually, or if the data was scraped from the pdf. In any case, it's better if the information is published over an API and is not statically stored.

[2020-05-02 08:43] shuklaayush commented on #1040
Hi @ishandutta2007 , appreciate your analysis, but I don't think redefining the criteria for district zones is a good way forward. It directly conflicts with government terminology and might lead to confusion.

And yes, ideally we'd like all heavy computation to be done on the API side. @JunaidBabu might be able to help with that.

@KMaheshBhat We already added an [API endpoint](https://api.covid1

[2020-05-02 08:44] #1703 closed, assigned to nobody

[2020-05-02 08:45] shuklaayush commented on #1705
Please report data discrepancies using [this form](https://forms.gle/MLeSrdwRuf8AjFkp9). Thanks! :)

[2020-05-02 08:45] #1705 closed, assigned to nobody

[2020-05-02 08:46] shuklaayush commented on #1708
Thanks for pointing it out. District names are difficult to get right. Please refer to [this](https://github.com/covid19india/covid19india-react/issues/662#issuecomment-609377552)

[2020-05-02 08:46] #1708 closed, assigned to nobody

[2020-05-02 08:47] shuklaayush commented on #1710
More details would be appreciated

[2020-05-02 08:47] #1710 closed, assigned to nobody

[2020-05-02 08:51] shuklaayush commented on #1691
Fixed via #1704

[2020-05-02 08:51] #1691 closed, assigned to nobody

[2020-05-02 08:54] ishandutta2007 commented on #1040
I though that's the govt [criteria](https://timesofindia.indiatimes.com/india/covid-19-centre-lists-red-green-zone-districts-for-week-after-may-3/articleshow/75489944.cms), what is the govt criteria ?

this is static for one particular day, we need dynamic view to know number of red zones are increasing or decreasing? see my plot to understand.

[2020-05-02 08:55] shuklaayush commented on #1693
Duplicates #1533

[2020-05-02 08:55] shuklaayush commented on #1408
Fixed via #1704

[2020-05-02 08:55] #1408 closed, assigned to nobody

[2020-05-02 09:09] shuklaayush commented on #1040
@ishandutta2007 I'm not sure either. That article seems to suggest that the final authority is with the Health ministry and that the 14-28 days classification isn't used anymore. Someone better versed with current affairs might be able to help out here.
/cc @bee-rickey

Yes, it's a list only for the current day. I was just pointing out that we've added it to the API. We can add another API endpoin

[2020-05-02 09:14] ishandutta2007 commented on #1040
True, UI will become slow. In the process of extracting out the code from UI to API repo I checked the https://github.com/covid19india/api. but couldn't follow as I found there are only static jsons, how are you updating the data in that, where are those jobs running?

[2020-05-02 09:16] ishandutta2007 commented on #1040
I don't think govt would release new red, orange, green list everyday. To calculate intermediate lists you have to use 12-28 day classification.

[2020-05-02 09:19] anilgupta1591 opened #1713 "Display total number of added test"
**Description**
Number of added test in total count under Tested data column  as showing in other part like Recovered, Active , Deceased etc

![Coronavirus_Outbreak_in_India_covid19india_org](https://user-images.githubusercontent.com/9134071/80860214-e9d6e300-8c83-11ea-9a01-37cdc873a189.png)

[2020-05-02 10:06] hardik124 opened #1714 "Scaling of Y axis"
**Describe the bug**
All graphs use same Y range, it would be better if y ranges were independent for each graph , so for deaths graph, a Y axis of 100 as max would be better than 3K .
**Screenshots**
![Screenshot from 2020-05-02 15-34-08](https://user-images.githubusercontent.com/6649948/80861206-9b791280-8c8a-11ea-9674-13908c9aa8cb.png)

**Desktop (please complete the following information):**

[2020-05-02 10:14] shuklaayush commented on #1714
Hi! Use this to adjust the scales
![Peek 2020-05-02 15-43](https://user-images.githubusercontent.com/27727946/80861345-ac765380-8c8b-11ea-9e71-86f816211880.gif)

[2020-05-02 10:14] #1714 closed, assigned to nobody

[2020-05-02 10:51] jashasweejena commented on #1699
Well, I don't think that the Green Zones are going to change to Red Zones overnight or vice versa. So even if the data IS hardcoded, I guess it still can be statically stored and updated. But anyway, an API is always more efficient.

[2020-05-02 11:08] bee-rickey commented on #1711
This seems to be working on firefox + OSX. Need someone on android/windows to have a look before we resolve this issue.
<img width="511" alt="Screenshot 2020-05-02 at 4 36 54 PM" src="https://user-images.githubusercontent.com/63364562/80862489-42fa4300-8c93-11ea-80ba-58c640da2dab.png">

[2020-05-02 11:10] bee-rickey commented on #1713
What should be the behaviour if a state does not report testing numbers for a specific day? Will the number show the 2 day jump for the next report?

[2020-05-02 11:13] bee-rickey commented on #1701
This needs to be picked up by @jeremyphilemon after discussion on the behaviour. Putting this on hold till then.

[2020-05-02 11:14] bee-rickey commented on #1699
This is in progress. https://github.com/covid19india/covid19india-react/pull/1712

[2020-05-02 11:17] bee-rickey commented on #1698
Issue has been fixed. TN was not publishing the data of the deceased and this lead to this discrepancy. Thank you for reporting. This does not require a front end fix as this is a data issue.

[2020-05-02 11:17] #1698 closed, assigned to nobody

[2020-05-02 11:20] anilgupta1591 commented on #1713
Yes, if not reported then fine, otherwise as I see already updating test data daily statewise and All state data.

[2020-05-02 11:25] bee-rickey commented on #1604
@mkesavan13 What does this look like on a mobile screen?

[2020-05-02 11:32] bee-rickey commented on #1713
So if on 1st May the test report is not given. On 2nd May the report is given, then what's the + count you would want to show in the graph for 2nd May? Would it be the delta from 30th April to 2nd May? Or zero?

[2020-05-02 11:34] shubhamjain2998 commented on #1711
Hey, @bee-rickey I think you misunderstood the issue here because as far as I can see on the website when the state page is opened and **no district** is selected then the issue persists with a deceased value like in the ss shared by @DikshantYadav19 only Maharashtra is selected and no region is selected, once you click the region it works totally fine like in the ss shared by you.

[2020-05-02 11:34] bee-rickey commented on #1659
This is already part of the daily graph by the way. The reason why we've held off on active count is because -ve numbers seem to confuse people a lot.

[2020-05-02 11:52] mkesavan13 commented on #1610
Hi @jeremyphilemon

There's an update. I also found what the problem was with the Select native and fixed the accessibility issues. Have opened a Draft PR #1715

Kindly let me know how do we proceed about this. Thank you.

[2020-05-02 11:57] sandeepsj opened #1716 "path of MiniGraph is not visible in Edge."
**Describe the bug**
The path in the Mini Graph is not visible in Edge.

**To Reproduce**
Open the page in Edge browser

**Expected behavior**
The reason I found is that hexcode of rgba format is not working with edge. The problem can be fixed either by using rgba() function or by adding a style of attribute opaque.

**Screenshots**
![image](https://user-images.githubusercontent.com/36895341/80863

[2020-05-02 12:12] mkesavan13 commented on #1604
Hi @bee-rickey

Please find below the screenshots of the same,

**State wise Confirmed Descending order -**
![Confirmed desc](https://user-images.githubusercontent.com/8044050/80863702-aee0a980-8c9b-11ea-90e1-2e6dc86d46c6.png)

**District wise Confirmed Descending order -**
![State Confirmed desc](https://user-images.githubusercontent.com/8044050/80863704-b0aa6d00-8c9b-11ea-8df5-39e555533f41.png)

[2020-05-02 12:13] shubhamjain2998 commented on #1711
![Screenshot from 2020-05-02 17-37-58](https://user-images.githubusercontent.com/30628775/80863725-d0da2c00-8c9b-11ea-95a2-0cc8c343fe61.png)

The issue persists because we are showing the value of a deceased key in the object which if you can see is present in Maharashtra object as **death** that's why it's returning null, other keys active and confirmed are same in both state and district object.

[2020-05-02 12:19] Monsieurvishal opened #1717 "Color combination of dark mode."
Dark mode is a great idea but  color combination of the country side must be little on non darker side.
You can move to lighter color shades.Since the dark color of country fades in dark mode.
No issues with the Day mode side.
![Screenshot (76)](https://user-images.githubusercontent.com/59202862/80863949-37137e80-8c9d-11ea-9869-106092a52906.png)

[2020-05-02 13:23] nayakrahul opened #1718 "states with nil test cases style issues"
**Describe the bug**
For states with nil test cases, there is no gap between confirmed, active etc. headers and top border of colored boxes in their respective state's page. It is happening because "As of {date}" is not present.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Lakshadweep state page or any state with nil test cases
2. Notice how confirmed, active etc. headers are very

[2020-05-02 13:35] prksh143 commented on #1716
I can fix it. I will change it to RGBA

[2020-05-02 13:43] sandeepr1 opened #1719 "Incorrect Data is shown in areal graph for Kadapa District (Andhra Pradesh)"
Details:
iOS 13.4
Safari Browser

![C8F1F4B4-F20E-4071-AFAD-9485A3978FDE](https://user-images.githubusercontent.com/15373793/80865715-13dbd580-8c83-11ea-8f78-ccdc94813bb7.jpeg)

![D179334B-9EC8-4B2E-8E88-D24253E70056](https://user-images.githubusercontent.com/15373793/80865670-d414ee00-8c82-11ea-9106-f62ec6b0386e.jpeg)

[2020-05-02 14:11] nayakrahul commented on #1719
This is happening due to spelling mismatch.

[2020-05-02 14:11] sarthikbhat opened #1721 "New feature on maps"
Can show red zones, green zones and orange zones on the map, as this is the new data given by GOI and can be really helpful as people are still confused as to which areas are in which zones.

[2020-05-02 14:18] #1644 closed, assigned to shuklaayush

[2020-05-02 14:32] viggyprabhu opened #1722 "Firozpur district of Punjab in map and in table are spelled different due to which the cases are not reported accurately on map"
**Describe the bug**
The district in Table is "Firozpur" but in map it is Ferozepur. Thats why in table it is showing 26 cases as of 2nd May but in map it shows 0% with 0 cases.

**To Reproduce**
Steps to reproduce the behavior:
Hover over Firozpur in Punjab district table

**Expected behavior**
Map and table should be in sync.

[2020-05-02 15:14] shuklaayush commented on #1721
Duplicates #1040

[2020-05-02 15:14] #1721 closed, assigned to nobody

[2020-05-02 15:29] parthbhide opened #1723 "Showing negative data in 'tested' graph"
**Describe the bug**
Tested graph under when plotted as "daily" is showing negative numbers . How can a state test negative number of people ? Probably it is because the difference b/w yesterday's and today's value is plotted rather than today's value.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to covid 19 home page
2. Scroll down to the graph section , select state "Madhya Pradesh"

[2020-05-02 15:30] parthbhide commented on #1723
I can contribute to this if accepted.

[2020-05-02 15:36] ghost opened #1724 "Addition of the case doubling rate graph to the main page, highlighting the current rate of growth for the virus!"
The addition of a graph for case doubling rate could be done,also basing the algorithm to calc. the CDR based on the increment in cases for a 24 hrs span .

[2020-05-02 15:39] #1462 closed, assigned to saberprashant

[2020-05-02 15:46] Nikhiljoseph31 commented on #1192
Is this not getting included?

On Fri, 1 May 2020, 10:15 lakshmi14, <notifications@github.com> wrote:

[2020-05-02 16:18] harshit741 opened #1725 "Regarding real time update of data."
I want to know how the data on main page is update with respect to updatelog api, because I dont see any other XHR that is pulling updated data so frequently. Can you tell from where that data is coming from?

[2020-05-02 16:25] TheDominus commented on #1314
@gyanendrapatro, I hope you are working on this issue. I want this feature to be live on website. Do ask for help from others if you need anything. or if you don't have bandwidth ask anyone else to continue working on this issue.

@shuklaayush, Can you provide the assigned person the link of google form/database entry point where you maintain the travel details of patients or contact tracing detai

[2020-05-02 16:38] devtechnocode opened #1726 "Percentage of confirmed, active, recovered and decreased cases are showing same in the particular district in the map."
**Describe the bug**
Percentage of the confirmed, active, recovered and decreased cases are same in a particular district on the map but it's should be different as it is calaculated on the basis of the percentage of recovered, confirmed and decreased in a particular states accordingly.

**To Reproduce**
Show proper percentage of confirmed, active, recovered and decreased cases .

1. Go to '[ clic

[2020-05-02 16:41] shuklaayush commented on #1723
This is based on the daily testing data released by the MP state bulletin. Tagging other people who might be able to elaborate further.
/cc @bee-rickey @sudevschiz

[2020-05-02 16:47] ashishdawale20 commented on #1726
I can work on this issue..

[2020-05-02 16:50] shuklaayush commented on #1314
@TheDominus I think this data is rarely being released by the state governments ever since the volume of cases has increased. Also, the transmission network is based on data taken from raw_data.json API which has since been frozen. I don't have time right now to add/replace the API and/or check if the data is being updated, but on the face of it, there seems to be a significant possibility that we

[2020-05-02 17:17] harshit741 commented on #1725
that was statewise from data.json, I m so dumb.

[2020-05-02 17:17] #1725 closed, assigned to nobody

[2020-05-02 17:30] #1608 closed, assigned to nobody

[2020-05-02 17:30] abbhhiisseek commented on #1681
Created PR. Can you please check ?

[2020-05-02 17:47] shubhamjain2998 commented on #1723
@shuklaayush I think that this issue is because the calculation of current calculation of daily testing numbers for a particular day is done by subtracting total tests done that day and previous day testing, so generally the trend is everyday testing numbers increase only, so the difference will always be positive. But if in case there is less testing done the next day then the resulting value wil

[2020-05-02 18:02] parthbhide commented on #1723
@shuklaayush @shubhamjain2998 . The problem is in API itself. Please have a look at data below for date 20/04/2020 and 21/04/2020 . Total tested on 20/04/2020 are 27661 and that on 21/04/2020 are 20905 according to covid19 API.

![image](https://user-images.githubusercontent.com/50196988/80871907-3e9e4c00-8ccc-11ea-907e-c15b103060f8.png)

Going through the references therewith we may observe that

[2020-05-02 18:17] pthadaka opened #1728 "Total cases is not matching with sum of active, recovered, death cases."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-05-02 18:55] ashishdawale20 commented on #1726
@jeremyphilemon @shuklaayush - Please take a look
 Created PR https://github.com/covid19india/covid19india-react/issues/1726
After fix:
![varanasi1](https://user-images.githubusercontent.com/43884208/80873194-8032f500-8cd4-11ea-9b86-7d6853023a64.png)
![varanasi2](https://user-images.githubusercontent.com/43884208/80873197-832de580-8cd4-11ea-970a-abdf03d76c15.png)
![varanasi3](https://user-images.g

[2020-05-02 18:58] bee-rickey commented on #1723
@parthbhide The issue on 13th April is something that cannot be corrected due to the issue with data given by the state report. Wrt, 20-21st, I'll get back to you. Figuring out why the total samples collected was used just for 21st.

[2020-05-02 18:59] tarun7singh commented on #1659
I Understand how it could be confusing to some people but surely we can add
little information icon like some States show so when you hover, so it
explains the data.

On Sat, 2 May, 2020, 5:04 pm bee-rickey, <notifications@github.com> wrote:

[2020-05-02 19:00] shubhamjain2998 commented on #1723
Ohh I see there is a discrepancy in API too, I don't know much about the API part but still feel the above-suggested fix is needed, in case if there is any low number of tests done.

[2020-05-02 19:44] parthbhide commented on #1723
@bee-rickey .. thank you for your kind attention. From 21st onward till 25th we are using "total samples collected" . From 26th format of report changed ( hence you may see the same above mentioned issue ). This probably made data more ambiguous.

**25-Apr**
![image](https://user-images.githubusercontent.com/50196988/80885479-313c8e00-8cdb-11ea-9021-04bd56ad5b92.png)

**26-Apr**
![image](https://u

[2020-05-02 19:45] parthbhide commented on #1723
probably the issue is with state data itself .. you may close if not necessary.

[2020-05-02 20:22] shuklaayush commented on #1723
@shubhamjain2998  The 'totaltested' variable coming from the API is the total tests conducted **till** (and including) that date. It is not the tests conducted **on** that date. Hence, it should ideally be a monotonically increasing series. Taking the absolute value has no logical basis. I don't think we can do anything about this unless there's a clarification from the government.

[2020-05-02 20:37] shubhamjain2998 commented on #1723
@shuklaayush sorry my bad, I just got totally confused in daily and total calculation. You can close this issue now.

[2020-05-02 20:55] #1723 closed, assigned to nobody

[2020-05-02 22:44] aswaathb commented on #135
Reverting status back to /available as I'm working on another PR atm. Feel free to claim it!

[2020-05-02 23:18] sudevschiz commented on #1728
This is due to some migrated cases (HP) and a non-covid related death in Karnataka. Please see the info icon near the state names.

[2020-05-02 23:18] #1728 closed, assigned to nobody

[2020-05-03 03:57] vikujangid opened #1730 "Graph is not showing correctly"
![34BBD8C2-CABC-4A72-BDC4-34DB05EF77F1](https://user-images.githubusercontent.com/12443918/80898365-29530d00-8d20-11ea-8d7d-bb96bc9ba846.png)

Graph values are spreading in minus values. I’m not sure if it is an issue or not. But I supposed to let you know about it. Great work guys !!

[2020-05-03 04:48] phoenicopteri commented on #1730
If the number of recovered cases ( 126 in this case ) is more than the number of confirmed cases ( 106 in this case ) , the number of active cases will drop and show as negative on the graph
This isn't an issue

[2020-05-03 06:12] #1730 closed, assigned to nobody

[2020-05-03 07:18] YuvrajGit opened #1731 "Colour-coding of districts"
Districts are classified as red, orange and green zones on the basis of incidence of coronavirus cases. I wish to see the same color coding for distric in this website.

Read more at:
https://economictimes.indiatimes.com/news/politics-and-nation/colour-coding-of-districts-in-battle-against-covid-19/articleshow/75416339.cms

**Describe the solution you'd like**
Either backgroud color or font color

[2020-05-03 07:59] bee-rickey commented on #1692
This is not an issue on data collection or the front end. This is an issue with the govt agencies reporting different numbers. Let us know if there's any genuine mistake on our side, else I'll be closing this issue. Thank you :)

[2020-05-03 08:02] bee-rickey commented on #1660
https://github.com/covid19india/covid19india-react/issues/1496

[2020-05-03 08:03] #1641 closed, assigned to vsasvipul0605

[2020-05-03 08:04] bee-rickey commented on #1628
The ordering is based on the ordering of the table. So if you sort the table, this should reflect in the dropdown too.

[2020-05-03 08:14] bee-rickey commented on #1731
Duplicate https://github.com/covid19india/covid19india-react/issues/1040

[2020-05-03 08:14] #1731 closed, assigned to nobody

[2020-05-03 08:24] bee-rickey commented on #1665
IMO this could be very speculative and misleading. Unless all the asymptotic cases are mapped and there are no unknown cases, the average recovery rate cannot be used to predict the estimated date of recovery for all patients.

[2020-05-03 08:49] w3dg commented on #1707
![image](https://user-images.githubusercontent.com/51162936/80909812-d80b4380-8d48-11ea-9cf0-355b9036448b.png)
**Desktop**
Device: Lenovo ideapad 110 151BR
OS: Windows 10 1903
Browser: Chrome
Version 81.0.4044.129

The issue occurs on desktop as well.

[2020-05-03 10:32] devtechnocode opened #1732 "Feature: To represent districts as red, orange and green zone as divided by government and show it on the map."
**Describe the solution you'd like**
Representation of district as red,orange and green zone on the map of states of india by adding a new column other than confirmed,active,recovered and decreased case , and so it on the map .

**Describe alternatives you've considered**
It can be also shown on the table by adding an column of zone to show zone of the districts.

**Additional context**
![Screensh

[2020-05-03 11:25] shuklaayush commented on #1732
Duplicates #1040

[2020-05-03 11:25] #1732 closed, assigned to nobody

[2020-05-03 11:42] christopherbramya commented on #1665
Thanks
________________________________
From: bee-rickey <notifications@github.com>
Sent: Sunday, May 3, 2020 1:54 PM
To: covid19india/covid19india-react <covid19india-react@noreply.github.com>
Cc: christopherbramya <Christopher.r.v@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [covid19india/covid19india-react] Add Expected recovered date for Active cases in State and District wise

[2020-05-03 11:56] nayakrahul commented on #1719
@sudevschiz fix this too

[2020-05-03 11:56] anilgupta1591 commented on #1713
On 1st May Zero and 2nd May the report is given, but as I see its implemented. If yes please close the ticket.

[2020-05-03 11:57] vmanish219 opened #1733 "Add district zone category data in district list"
Please add the data about the district zone category (Red,orange, or green) under district list

[2020-05-03 13:07] sudevschiz commented on #1722
This has been fixed. Thanks for reporting!

[2020-05-03 13:07] #1722 closed, assigned to nobody

[2020-05-03 13:27] DhiralKaniya opened #1735 "Himachal Pradesh Records miss-match"
**Describe the bug**
Himachal Pradesh records are not matching properly.
Total:- 40
Active:- 1
Recovery:- 34
Death:- 2

I believe Total = Active + Recover + Death.
Attached screenshot for reference.

<img width="650" alt="Screenshot 2020-05-03 at 6 55 12 PM" src="https://user-images.githubusercontent.com/21332852/80915424-ddc84f80-8d6f-11ea-99b5-b3558b50a9de.png">

[2020-05-03 13:29] DhiralKaniya commented on #1735
This four case miss-match is effected in total as well.
Screenshot for reference.

<img width="549" alt="Screenshot 2020-05-03 at 6 59 33 PM" src="https://user-images.githubusercontent.com/21332852/80915485-41eb1380-8d70-11ea-899d-dd02c5b2af21.png">

[2020-05-03 13:45] mkesavan13 commented on #1610
Hi again,

https://covid19india-react-git-fork-mkesavan13-hundredonlighthouse.covid19india.now.sh/state/DL

In the state page, there's a hidden "Visit state page" link. Since this is hidden, I think there's no point providing an accessibility label to a hidden button. Kindly let me know your thoughts. Thank you.

[2020-05-03 13:52] anamritraj commented on #1682
Given here there is less control on the backend, it might be a bit tough to transform the data to be presentable. If you want you can check https://github.com/anamritraj/livecovid.in-webapp.
I recently implemented something similar to what you are talking about and you are welcome to contribute :)

[2020-05-03 14:06] phoenicopteri commented on #1735
HP has 4 migrated cases which are reduced from active# . Also, death of Tibetan refugee is included in deceased numbers but not in confirmed.
This is mentioned in the disclaimer ( the small i circle )  besides the state name

[2020-05-03 14:13] itssuyog96 opened #1738 "Escape button on demographics patient's view modal"
**Is your feature request related to a problem? Please describe.**
While browsing through demographics, when looking for patient information. user needs to click on close button option on the modal to get to another patient's detail.

**Describe the solution you'd like**
Escape button should close the modal.

**Another solution**
As the complete data is being loaded on initial load, the informatio

[2020-05-03 14:38] lokeshpathrabe opened #1739 "'No Results Found' on search field when nothing matches the entered text"
**Is your feature request related to a problem? Please describe.**
The Search Location/Essentials field on home page does not show "No Results Found" is the entered text matches no result. Feedback, in this case, is needed to suggest user reenter text in the field.

**Describe the solution you'd like**
Show "No Results Found" in results when nothing matches.

PS: If this suggestion is accepted ple

[2020-05-03 14:48] nayakrahul commented on #1739
![Screenshot_20200503-201756](https://user-images.githubusercontent.com/11428805/80917248-61d40480-8d7b-11ea-99bd-6ce81081ab52.jpg)

It is there in essentials page.

[2020-05-03 14:50] DhiralKaniya commented on #1735
I think this is miss-leading in total Confirmed cases.
Confirmed cases should be =.Active +. recovered + Death.
Is there any way to display 4 cases in the column of Total as well?

[2020-05-03 14:56] lokeshpathrabe commented on #1739
It's not on the home page. Similar should be added here
![image](https://user-images.githubusercontent.com/13837361/80917405-4c130f00-8d7c-11ea-9bde-bbd55ab49413.png)

[2020-05-03 15:02] nayakrahul opened #1740 "Doubling time graph with progressing days in deepdive"
**Describe the bug**
Doubling time graph with progessing days in deepdive will show at what rate the infection is spreading whether it is increasing or decreasing. The formula is given in following link: https://blog.datawrapper.de/weekly-chart-coronavirus-doublingtimes/ . We can use it to plot a graph.

[2020-05-03 15:02] nayakrahul commented on #1740
If it is relevant, please assign me.

[2020-05-03 15:18] praveentiru commented on #1084
Hi all,

I have built R pipeline for using [epiforecasts](https://github.com/epiforecasts/EpiNow) model for generating state level predications.

It generates analysis only for states which have at least one day where there are 40 cases in a day. Which gives analysis for 14 states which are: "AP" "BR" "DL" "GJ" "JK" "KA" "MH" "MP" "PB" "RJ" "TG" "TN" "UP" "WB".

@jeremyphilemon if you can specify

[2020-05-03 15:20] ghost opened #1741 "Head"
-

[2020-05-03 15:21] devtechnocode commented on #1732
But, the issue was about showing these zones on map. So, how can it be same as #1040 @shuklaayush

[2020-05-03 15:38] ghost commented on #1741
Kindly delete this issue.

[2020-05-03 15:42] vikramsra opened #1743 "Mark the Map green to show covid free states"
**Is your feature request related to a problem? Please describe.**
Not related to a problem but gives a positive vibe when looking at the map

**Describe the solution you'd like**
You already have the data changing the color wont be a problem

Hope to see the update soon

[2020-05-03 15:49] DhiralKaniya opened #1744 "District wise Deceased records are missing."
**Describe the bug**
District wise Deceased records was there. After "Added zones to district tables" is all Deceased became empty for all states.

**To Reproduce**

1. Go to https://www.covid19india.org/
2. Click on Gujarat

**Expected behavior**
Deceased records should be displayed District wise.

**Screenshots**
<img width="552" alt="Screenshot 2020-05-03 at 9 16 22 PM" src="https://user-images

[2020-05-03 16:00] DhiralKaniya opened #1745 "State table content overflow in mobile browser"
**Describe the bug**
The last column "Deceased" for State table is not properly visible in the mobile browser. The content overflow from the right side of the screen.

**To Reproduce**

1. Go to Mobile Chrome Browser
2. Search for https://www.covid19india.org/
3. Scroll down to State
4. Expand state
5. See the right side of Table

**Expected behavior**
Content should be properly fit in the browser

[2020-05-03 16:02] jeremyphilemon commented on #1744
Patched :)

[2020-05-03 16:02] #1744 closed, assigned to nobody

[2020-05-03 16:14] jeremyphilemon commented on #1745
Seems to be working fine in this environment

<img width="656" alt="Screen Shot 2020-05-03 at 7 15 31 PM" src="https://user-images.githubusercontent.com/17938322/80919430-811a6400-8d72-11ea-957c-1603ee01b664.png">

Not sure why chrome on iOS is behaving differently. Looking for an more elaborate fix than a media query (last resort)

/available

[2020-05-03 16:15] ghost commented on #1741
Please delete this complete issue.

[2020-05-03 16:16] DhiralKaniya opened #1746 "Default sort behaviour should be Descending order of confirm cases not Ascending order"
**Describe the bug**
Default sort is happening on the Ascending order of confirm cases for new users.
Table sort column default behavior should be descending order of confirm column for new users.

**To Reproduce**
Steps to reproduce the behavior:

1. Remove sort order from local storage if any
2. Go to https://covid19india-react.now.sh/
3. Scroll down to State table
4. See error

**Expected behav

[2020-05-03 16:23] jeremyphilemon commented on #1746
Thanks! Patched :)

https://github.com/covid19india/covid19india-react/commit/54ae761915e5283680294f9b5b4e9991aabb3ba1

[2020-05-03 16:23] #1746 closed, assigned to nobody

[2020-05-03 16:24] DhiralKaniya commented on #1746
Adding local storage image for batter understanding.

<img width="1680" alt="Screenshot 2020-05-03 at 9 52 19 PM" src="https://user-images.githubusercontent.com/21332852/80919611-8e424d80-8d88-11ea-9f28-f366e605050b.png">

[2020-05-03 16:24] jeremyphilemon opened #1747 "Sorting by state name not working"
**Describe the bug**
Be able to allow sorting by state names.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to home page
2. Click on state header column
3. You'll see states are not sorting
**Expected behavior**
Should be able to sort by that column

[2020-05-03 16:24] DhiralKaniya commented on #1746
sorry comment was not reflected.

[2020-05-03 16:24] jeremyphilemon commented on #1747
/available

[2020-05-03 16:27] #1741 closed, assigned to nobody

[2020-05-03 16:28] jeremyphilemon commented on #1733
Done :)

#1696

[2020-05-03 16:28] #1733 closed, assigned to nobody

[2020-05-03 16:32] kousiksatish commented on #1747
/claim

[2020-05-03 16:36] kousiksatish commented on #1745
I have checked in my Redmi Note 8 pro... Seems to be working fine...

[2020-05-03 16:43] #1652 closed, assigned to nobody

[2020-05-03 16:55] jeremyphilemon opened #1748 "Add support for 'cache then network' strategy (PWA)"
**Is your feature request related to a problem? Please describe.**
Yes, in order for us to be able to work in a PWA environment, we need a service worker that would update as we update the codebase so the patches made can be live.

**Describe the solution you'd like**
Employ 'cache then network' policy. Here's the material for reference https://developers.google.com/web/fundamentals/instant-and-of

[2020-05-03 16:55] jeremyphilemon commented on #1748
/available

[2020-05-03 17:05] kousiksatish commented on #1748
/claim

[2020-05-03 17:11] kousiksatish commented on #1748
@jeremyphilemon Reading about various options and how to achieve this.

[2020-05-03 17:50] shubhamjain2998 commented on #1745
Yeah, content is overflowing in table component as I can see in my phone, and also in chrome dev tools.
![Screenshot from 2020-05-03 23-14-00](https://user-images.githubusercontent.com/30628775/80921495-58a36180-8d94-11ea-9187-3ea560f613bd.png)

[2020-05-03 17:52] #1665 closed, assigned to nobody

[2020-05-03 17:56] kousiksatish commented on #1748
This is to update the latest data or update the latest code?

[2020-05-03 17:58] DhiralKaniya commented on #1745
The resolution is 375 * 667 and 325 * 568 on which I got this issue.

[2020-05-03 19:04] kpkeerthi25 commented on #1672
I think this may do a great job. Because people can see the prediction and they'll stay in their homes in order to prevent the predicted numbers. Assign me for this .

[2020-05-03 19:13] crimemastergogo92 opened #1751 "As a colorblind I have difficulty distinguishing colors of zones"
Red is okay. Orange and Green are pretty much look same here. Kindly It would be better if you give normal grey color (as it was before ) for green zone.

[2020-05-03 19:17] Cryptonex7 opened #1752 "[BUG]: Crowdsourced Patient Database button redirects to API page."
**Describe the bug**
Crowdsourced Patient Database button on the main website and on the API home page, both redirect to API page itself.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Scroll down to 'The End of the page'
3. Click on 'CROWDSOURCED PATIENT DATABASE'
4. See error: Redirects to the API page.

**Expected behavior**
Its should transfer t

[2020-05-03 20:47] Binu42 opened #1753 "Disable expand switch in demographics"
**Describe the bug**
expand switch always remains active even when there is no active case for a particular date on state/UT/District/city. it will be better if it will be disabled when there will be no cases, otherwise user will be little bit confused.

**To Reproduce**
go to https://www.covid19india.org/demographics.

**Expected behavior**
expand switch must be disable when there is no patients

[2020-05-03 20:51] gujral1997 opened #1755 "TypeError: Cannot read property 'Any State or UT' of null"
**Describe the bug**
Website crashes on production if any state or UT is selected from the map.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'website's homepage'
2. Click on 'any of the states or the UT from India's Map'
3. See error

**Expected behavior**
State or UT's map should be visible with district wise details of the COVID-19 related patients.

**Screenshots**
<img width="1

[2020-05-03 20:56] gujral1997 commented on #1755
I have raised the PR for the same with the issue fixed.

[2020-05-03 21:01] relaxedcoder commented on #1745
/claim
I have been working on this issue and I have found a solution.

[2020-05-03 23:15] jeremyphilemon commented on #1748
@kousiksatish This would be to update the latest code, the user needn't download new asset files until there's been a change pushed to the codebase.

Regarding data wise, do you think we should handle its cache as well? I feel the user can afford to make those api calls alone while a non-updated codebase needn't be fetched every time.

[2020-05-03 23:31] #1747 closed, assigned to kousiksatish

[2020-05-03 23:41] #1738 closed, assigned to itssuyog96

[2020-05-04 00:18] jeremyphilemon commented on #1648
@nitkuk Hey were you able to make progress wrt this issue, I shall open it up again if otherwise :)

[2020-05-04 00:22] #1753 closed, assigned to nobody

[2020-05-04 00:37] shuklaayush commented on #1732
@devtechnocode The other issue also mentions showing the zones on the map. Please comment over there, since we're already that discussion

[2020-05-04 00:43] shamse-alam opened #1758 "Add no of patient recovered in district wise display"
**Is your feature request related to a problem? Please describe.**
Currently, it displays the count of a new patient in red at the district level

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Adding count of patient recovered at district wise will be a good feature. Currently its display a commutative count at the state level

[2020-05-04 02:38] sudevschiz commented on #1719
This has been fixed. Thank you!

[2020-05-04 02:38] #1719 closed, assigned to nobody

[2020-05-04 02:38] #1692 closed, assigned to nobody

[2020-05-04 02:40] sudevschiz commented on #1391
Let's discuss this at https://github.com/covid19india/api/issues/192

[2020-05-04 02:40] #1391 closed, assigned to pavanmehta91

[2020-05-04 03:43] kousiksatish commented on #1748
Okay. I will look into updating code base.
I remember discussion in #278 regarding push notifications for data update, where we concluded with the need for real server serving the data. Will look into that code piece of code too.

[2020-05-04 05:34] #1456 closed, assigned to shubhamjain2998

[2020-05-04 05:48] #1755 closed, assigned to nobody

[2020-05-04 06:49] ajinkyad92 opened #1759 "Number of patients count mismatch in Raw Data post 26th April 2020"
Post 26th April 2020, the raw data is not providing with the correct data, Number of patients in Maharashtra on 27th April was 522 but in the 'api.covid19india.org/csv/latest/raw_data3.csv' we get a count of 33 patients for the state of Maharashtra

Steps to reproduce the behavior:

1. Go to api.covid19india.org/csv/latest/raw_data3.csv , Download (raw_data3.csv), Open the (.csv) file in excel.
2.

[2020-05-04 07:03] #1649 closed, assigned to nayakrahul

[2020-05-04 08:02] nikhilB93 opened #1760 "Feature: Show percentage of Recovered & Deceased to the Confirmed count on Home page table"
**Is your feature request related to a problem? Please describe.**
I want to see what is percetage of:
* patients Recovered to Confirmed
* patients Deceased to Confirmed

**Describe the solution you'd like**
2 New columns to show percentage on the state wise table rendered on the Home page.

[2020-05-04 08:22] nayakrahul opened #1761 "In mobile, map explorer and time explorer rendering again and again (extra renders) on scrolling in homepage"
**Describe the bug**
In mobile, map explorer and time explorer rendering again and again on scrolling in homepage. It is causing extra renders by repeating the same rendering on scrolling.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home
2. Scroll down to map explorer or time explorer and then scroll up.
3. Again scroll down to map or time explorer.
4. See the re-rendering.

**Exp

[2020-05-04 09:45] abbhhiisseek commented on #1682
@anamritraj your dashboard is nice :) I will check the codebase.

[2020-05-04 10:23] #1759 closed, assigned to nobody

[2020-05-04 11:36] Hyraze commented on #1658
Issue is fixed please see the reference of pull request

[2020-05-04 11:46] Banbari opened #1762 "hover is not working as expected"
**Describe the bug**
On hover to some state row right side of page is showing the information related to hovered state but after removing the mouse pointer from hovered row it's still showing previous hovered state data until we are not hover to some other state row. which is not expected and also a bad user experience. Generally if mouse pointer is removed from hovered state row, data should be r

[2020-05-04 11:48] aishmittal commented on #1658
@Hyraze The color of the search icon is still black which is not visible clearly.

[2020-05-04 12:00] bee-rickey commented on #1762
Hi can you provide more details? Which browser you are facing this issue in? Screenshot maybe?

[2020-05-04 12:03] bee-rickey commented on #1758
We do show the recovered in both the table and state views. Can you elaborate where you need the recovered count?
<img width="515" alt="Screenshot 2020-05-04 at 5 31 30 PM" src="https://user-images.githubusercontent.com/63364562/80963734-314ca300-8e2d-11ea-9e39-32cbbe270a9b.png">

[2020-05-04 12:07] abhishekakade opened #1763 "Memory leak due to setState in unmounted components"
**Describe the bug**
Memory leak because of setState on unmounted components.

If an user goes to `/deepdive` (component mounted) from home but then immediately goes to `/faq` (`/deepdive` unmounted; `/faq` mounted) before `/deepdive` page could finish loading, the fetch requests in `/deepdive` fetch data in the background and then react tries to `setState` on (unmounted) `/deepdive`. This is caus

[2020-05-04 12:23] ikshitiz opened #1765 "Active cases showing in negative"
**Describe the bug**
Active cases showing in negative for few districts of Kerala.

**To Reproduce**
See screenshot

**Expected behavior**
It should not be negative

**Screenshots**
Added
![Screenshot )](https://user-images.githubusercontent.com/23147077/80965396-14fe3580-8e30-11ea-86cf-d292cf6e3735.png)

- OS: Windows
- Browser: chrome
- Version: 55.x

[2020-05-04 12:25] Joyouou commented on #1765
so does for Meghalaya

![image](https://user-images.githubusercontent.com/33721742/80965549-5393f000-8e30-11ea-8058-c8922db7d1f7.png)

[2020-05-04 12:35] Banbari commented on #1762
I've checked in chrome on mac. Since can't capture the mouse pointer in Screenshot so attaching the video. please check the link [https://vanspublicbucket.s3.us-east-2.amazonaws.com/Hover+Issue.mov](url)

[2020-05-04 12:36] Banbari commented on #1762
after removing the mouse pointer from last focused state row, it's still showing last focused row data.

[2020-05-04 12:41] cheralathann commented on #1762
Yes, after mouse leave table row remains highlighted. Need to remove this `is-highlighted` class from table row after mouse leave.

[2020-05-04 12:43] priya90rw8l opened #1766 "Total recovered cases are more than the confirmed cases."
**Describe the bug**
Recovered cases can not be more than confirmed cases.

**To Reproduce**
1. Go to 'https://www.covid19india.org/'
2. Click on 'Kerala'
3. Scroll down to 'Kozhikode'
4. See error

**Expected behavior**
Recovered cases should always be less than then confirmed cases.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2020-05-04 12:45] Banbari commented on #1762
I've fixed it in other way where if some state is expended/clicked then default will be that clicked row data other country data will be there.

[2020-05-04 12:57] sudevschiz opened #1767 "District names of Purba Medinpur and Paschim Medinpur in WB are interchanged"
**Describe the bug**
District names are interchanged in the maps

**Expected behavior**
Switch the names

**Screenshots**

![image](https://user-images.githubusercontent.com/4298868/80967971-2eb07480-8e52-11ea-8ba1-eb2661f7358c.png)

**Additional context**
Just need to update the names in districts geoJSONs

[2020-05-04 13:24] #1767 closed, assigned to sudevschiz

[2020-05-04 13:40] justinsamuel92 commented on #1766
This seems to be a duplicate of https://github.com/covid19india/covid19india-react/issues/1765

[2020-05-04 13:40] iamnagaky opened #1769 "Blank page displayed, when selecting Daman & Diu through dropdown in statewise page"
**Describe the bug**
Blank page displayed, when selecting Daman & Diu through dropdown in state-wise page

**To Reproduce**
Steps to reproduce the behaviour:

For Eg.
1) Enter Tamil Nadu state page from main page
2) From the Dropdown in Home/Tamil Nadu ^ select Daman & Diu
3) Only a blank page is displayed

**Expected behaviour**
Daman & Diu state page should be displayed.
If there is no info avai

[2020-05-04 13:41] #1758 closed, assigned to nobody

[2020-05-04 13:43] shamse-alam commented on #1758
My suggestion was to daily recovered count at the district level similar to the state level in green color. It's there.

Thanks

[2020-05-04 13:45] jatin0406 opened #1770 "In telangana state, in district column,in unknown a error in the no. of cases."
summation of the number of recovered and decreased cases is equal to 195 but confirmed cases are just 29.
![error](https://user-images.githubusercontent.com/42699221/80971448-6a3f4480-8e3a-11ea-937a-4a52f1d24cf3.png)

**Expected behavior**
when you open the site and open the location you see just as described in the screenshot and above context.

**Screenshots**
![error](https://user-images.github

[2020-05-04 13:54] jaibatrik commented on #1313
@shuklaayush @nayakrahul I still think this is confusing. I think others also think in the same way (presumably so many issues are getting created because of that). My suggestion is to change the title of the chart from "Active" to "Change in active cases" when the "Daily" tab is selected.

[2020-05-04 13:55] jaibatrik commented on #1765
https://github.com/covid19india/covid19india-react/issues/1313#issuecomment-623478272

[2020-05-04 13:57] nayakrahul commented on #1313
Actually, all the daily charts are change in _ cases only.

[2020-05-04 14:07] jaibatrik commented on #1313
Yeah, just that in case of "Active", it's a bit confusing with those negative numbers; which is why I was suggesting verbosity.

If you observe, the "Active" does not sit well in the daily category - it is the only metric that can go negative there. It does not really belong there.

[2020-05-04 14:12] bee-rickey commented on #1770
The understanding of unknown row:
Unknown confirmed: "x" cases out of total state cases are not mapped to a district.
Unknown recoveries: "y" recoveries out of total state recoveries are not mapped to a district.
Unknown deceased: "z" deceased out of total state deceased are not mapped to a district.

These numbers are independent of each other and are those cases that we've not been able to map t

[2020-05-04 14:12] #1770 closed, assigned to nobody

[2020-05-04 14:13] bee-rickey commented on #1766
Duplicate of #1765

[2020-05-04 14:13] #1766 closed, assigned to nobody

[2020-05-04 14:21] ikshitiz opened #1771 "Add closed cases outcome card"
A card to show all closed cases outcome. Recovered + Death (Numbers and Percentage)

Cases which had an outcome: 13,372

| Recovered        | Deaths          |
| ------------- |:-------------:|
| 11972     | 1400 |
| 89.45%      | 10.55%

[2020-05-04 14:26] lakshmi14 commented on #1192
Not sure seems like nobody responding:(

[2020-05-04 14:30] nayakrahul commented on #1313
Adding a note using tooltip might be useful here.

[2020-05-04 15:37] shekzek opened #1772 "Update Data By Dristict"
![Screenshot (134)](https://user-images.githubusercontent.com/62648401/80986354-18081e80-8e4e-11ea-83a3-599869e66bff.png)
Update That...!!!
Please Visit That  link :-
That Was Given by West Bengal govt. That is New Format Which Given By WB Govt.
URL is
https://www.wbhealth.gov.in/uploaded_files/corona/WB_DHFW_Bulletin_4TH_MAY_FINAL.pdf
That This Describe Vary Well By District By Hole Transparency

[2020-05-04 16:03] sagar-cenation opened #1773 "Issue with total count in Confirmed cases"
**Describe the bug**
The total count doesn't correctly sum up.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the 'home page'.
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/12188886/80986823-b8f6d980-8e4e-11ea-93f3-c34d0ac39369.png)

**Desktop (please complete the following information):**

- OS: MAC OS
- Browser: Google Chrome

[2020-05-04 17:55] Sushanthece commented on #1732
Could add one more option...

[2020-05-04 18:55] vipul1999 opened #1774 ""Deep Dive" doesn't return in the prev interface from zoom level 25% to zl 100%."
**Describe the bug**
"Deep Dive" Page doesn't return in the prev interface while returning from 25% zoom level to 100% zoom level.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Deep Dive section
2. Decrease the zoom level to 25%
3. Increase the zoom level to 100%.
4. Now Deep Dive Section will never come back in the original interface until it will be refreshed.

**Expected behavior

[2020-05-04 19:21] #1553 closed, assigned to nobody

[2020-05-04 19:21] imohitkr commented on #1553
Implementation done.

[2020-05-04 19:44] nayakrahul opened #1775 "stop propagation for all tooltips"
**Describe the bug**
Stop propagation for all tooltips otherwise it is causing problem when viewing tooltip info on mobile devices because tap is interfering with their ancestor classes too. One tap on tooltip icon is not showing the info. Info is disappearing immediately.

**Expected behavior**
In mobile devices, one tap should show tooltip info.

[2020-05-04 20:26] Nikhiljoseph31 commented on #1192
Hi Lakshmi

No worries, anyway this was good work that was done.

Shame it is not yet reflected in the website after all your efforts.

On Mon, 4 May 2020, 19:56 lakshmi14, <notifications@github.com> wrote:

[2020-05-04 21:09] nayakrahul commented on #1761
Perhaps it can be solved by using `isIntersecting` state. Once `isIntersecting` state changes from false to true, it should not revert back to false again. We should lock `isIntersecting` state once it changes from false to true.

[2020-05-04 21:15] niinpatel commented on #1648
Hey @jeremyphilemon, can I take up this issue?

[2020-05-04 23:25] jeremyphilemon commented on #1648
@niinpatel Sure go ahead :)

[2020-05-05 01:07] shubhamjain2998 commented on #135
@jeremyphilemon Is this still an active issue, I would like to work on this. A date slider component suggested will be good to visualize the spread.
@bootleg-icarus I think something like [this](https://www.nbcnewyork.com/news/national-international/map-watch-the-coronavirus-cases-spread-across-the-world/2303276/) will not look congested.

[2020-05-05 01:37] mkesavan13 commented on #1604
Hi @bee-rickey,

Can I open a PR for this so that you can see how it looks by yourself?

Looking forward. Thank you.

[2020-05-05 06:22] chsasank opened #1778 "[Feat] Add doubling period"
**Is your feature request related to a problem? Please describe.**
Not really.

**Describe the solution you'd like**

Doubling period graph in your dashboards will help asses better if the curve is peaking. Something like this:

**Describe alternatives you've considered**

Alternative to doubling period can be daily growth rate.

**Additional context**

![image](https://user-images.githubuserconte

[2020-05-05 06:38] #1761 closed, assigned to nobody

[2020-05-05 06:40] ShivS01 opened #1779 "Adding a Yesterday stats button"
Hi, I'd like to recommend a yesterday statistics button, which shows stats of yesterday statewise/district wise.

kinda similar to https://www.worldometers.info/coronavirus/

![Screenshot_19](https://user-images.githubusercontent.com/43378694/81040573-4545e280-8ec9-11ea-9da4-49c60e617883.png)

Loving the website, amazing work, keep it up! Hopefully I can contribute, learning react/express myself.

[2020-05-05 06:46] vipul1999 commented on #1779
I was in the middle of the opening this issue but just saw it appeared already. Good Work. Hopefully, this issue gonna reviewed soon.

[2020-05-05 07:10] pavelkudr opened #1780 "Wrong 'num of cases' scale for Daily Cases histogram"
**Describe the bug**
Open page https://www.covid19india.org/deepdive
Wrong 'num of cases' scale for Daily Cases histogram
Selected item has 3656 confirmed cases for 04 may, but the top end of red line is between 4500 and 5000 of the scale

**To Reproduce**
See screenshot

**Expected behavior**
Top end of red line should be between 3500 and 4000 of the scale
**Screenshots**
![Screenshot 2020-05-05

[2020-05-05 07:35] vipul1999 opened #1781 "Home page shifts right while hovering on side bar b'coz of the right scroll bar."
**Describe the bug**
The whole home page shifts right while hovering on the left sidebar and It comes into original form when hovering ends. This creates an undesired user experience.

**To Reproduce**
Steps to reproduce the behavior:

1. Hover over the left sidebar
2. Sidebar will expand
3. Home web page shift right
4. Right scroll bar disappears
5. Returns into original when hovering ends

**Exp

[2020-05-05 09:05] pratikgupta123 commented on #1779
+1
I was going to open this feature request.

[2020-05-05 09:45] atulgaurnet opened #1782 "Graph of Active Cases"
Hi,

1. Please include trends of active cases in total cases graph in deep dive section

![image](https://user-images.githubusercontent.com/64836891/81053105-34ee3180-8ee2-11ea-87db-9801b3950dd6.png)

2. Also for total cases by state please provide a selection to view trends for total or active cases.
![image](https://user-images.githubusercontent.com/64836891/81053446-b5ad2d80-8ee2-11ea-8596-f235

[2020-05-05 09:48] atulgaurnet opened #1783 "List of top 10 cities"
Please include a list of active cases for top 10 worst affected cities in India. A bar chart would be quite beneficial

[2020-05-05 10:15] ikshitiz opened #1784 "Test Per million"
**Test per million** and **Total positive vs Total Test** will give an overview of preparedness and severity of Outbreak.
For example, Maharashtra has a ratio of  8.63 (Total positive ve Total Test), whereas AP has less 1.28.

| State | Total Test  | Total Positive   |  Percentage |
|---|---|---|---|
|   Tamilnadu | 162970  |  3550 | 2.17%   |
|  Maharashtra | 168374   | 14541  | 8.63%  |
|  Rajas

[2020-05-05 10:28] phoenicopteri commented on #1780
This graph shows the total number of confirmed + deceased + recovered cases,
You can check for the total number of confirmed cases only by toggling off deceased and recovered

<img width="290" alt="daily cases" src="https://user-images.githubusercontent.com/11295641/81056955-28b9a280-8ee9-11ea-800d-e7e31f109c10.png">

[2020-05-05 10:53] bee-rickey commented on #1779
Since we already have a delta per district/state, what's the advantage of this yesterday's data?

[2020-05-05 10:55] bee-rickey commented on #1772
This is already updated.

[2020-05-05 10:55] #1772 closed, assigned to nobody

[2020-05-05 10:56] #1765 closed, assigned to nobody

[2020-05-05 10:57] bee-rickey commented on #1752
Since we have partitioned the data into three different sheets, the google sheets link has been deprecated on the site. Please use the csv file if you wish to see in the sheet format.

[2020-05-05 10:57] #1752 closed, assigned to nobody

[2020-05-05 10:59] bee-rickey commented on #1735
Well as of now there's no way since the state govt isn't giving enough details about where the patients migrated to and why the refugee death has not been considered.

[2020-05-05 11:10] ShivS01 commented on #1779
The graphs are good, but with the yesterday's button, one could simply see the numbers in the same list on the home screen. Just saves time and keeps stuff clutter free who don't want to go too deep into stats.

Though it's not necessary, but I think it's a convenient feature to have.

[2020-05-05 11:13] ShivS01 commented on #1779
![Screenshot_21](https://user-images.githubusercontent.com/43378694/81060028-4a1d8d00-8eef-11ea-8e9d-a8da1c132759.png)

Like if a person clicks the button, the counters beside the state/district  attributes render yesterday's data.
It gives a good idea if you see yesterday's data as it summarizes the whole day's data, rather than today's data which is updated dynamically.

Yesterday's data is stat

[2020-05-05 11:59] jaibatrik commented on #1659
@bee-rickey My suggestion is to make the chart title more verbose (something like "Change in active cases" instead of just "Active") when "Daily" is selected. Related https://github.com/covid19india/covid19india-react/issues/1313#issuecomment-623478272.

[2020-05-05 12:06] ashishdawale20 commented on #1739
I can work on this issue

[2020-05-05 13:02] mandarpotdar opened #1786 "Total cases limited to 1000 in "States - Growth Trend""
DeepDive -> States - Growth Trend.
The x-axis showing Total cases is limited to only 1000. Now we are well past that.

[2020-05-05 13:26] AgamAgarwal opened #1787 "Value in graph uses Indian numbering system, while axis uses international number system"
**Describe the bug**
For example, in the "Tested" graph, the current value is shown as `11,07,233` while the Y-axis of the graph shows the numbers in millions like `1M`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/
2. Scroll down to "Tested" graph on the bottom right.
3. Select "All States" to show data for all states. (Bug is there even without this b

[2020-05-05 15:01] Cryptonex7 commented on #1752
Hey @bee-rickey
While I am fully Aware of the data partition that took place, I have raised this issue from a UX perspective.
______

![image](https://user-images.githubusercontent.com/34197902/81081093-1ce0d700-8f0f-11ea-9ac7-0401ca31ca77.png)

## This Button for "CROWDSOURCED PATIENT DATABASE" should be removed, and also the hyperlinks on https://api.covid19india.org
_____

I can take up the iss

[2020-05-05 17:05] nmgvikas commented on #1739
I can work too.

[2020-05-05 17:07] mkesavan13 commented on #1739
Are any one of you working? Because this is not under either of your names yet.

Kindly read the guideline [here](https://github.com/covid19india/covid19india-react/blob/master/CONTRIBUTING.md) on contribution and claiming an issue.

[2020-05-05 17:24] #1040 closed, assigned to nobody

[2020-05-05 17:29] Joyouou opened #1789 "Negative 'recovered' number"
-ve numbers for May 3rd Recovered of West Bengal

![image](https://user-images.githubusercontent.com/33721742/81096239-b914d900-8f23-11ea-884e-bcb0bd5c1066.png)

[2020-05-05 17:39] relaxedcoder commented on #1739
/claim

[2020-05-05 17:50] shuklaayush commented on #1699
Added via #1712

[2020-05-05 17:50] #1699 closed, assigned to shuklaayush

[2020-05-05 18:21] sumeetpri opened #1790 "Highlight States with badge with no active case"
Highlight states with no active case and award a green fighter badge.

States whose active cases are zero can be awarded a badge of Green color with a fighter icon. It will motivate people of that state as pride and drive to always keep a green badge.

[2020-05-05 18:36] niinpatel commented on #1648
Actually, it seems that we cannot just import individual modules into our app right now, `import Dropdown from '@primer/components/src/Dropdown'` does not work because primer does not export the transpiled jsx.

This will be fixed in v19.0.0 according to this -> https://github.com/primer/components/issues/797

It seems that we're using create-react-app so it doesn't transpile the third party packa

[2020-05-05 18:40] jeremyphilemon commented on #1748
@kousiksatish Just chiming in, what's the progress like on this?

[2020-05-05 18:47] sai-chervi opened #1791 "Indicate a difference between no cases in a state vs data not updated yet."
I'm always confused about what to comprehend when I do not see a red upward arrow beside the confirmed cases of a state. Does it mean there were no new cases in that state that day? Or does it mean the data hasn't been obtained yet?

I think it would be a good idea to show a zero (say, in blue- without an arrow) to represent when there have been no new cases in a state on a day.
Alternatively, we

[2020-05-05 19:07] bee-rickey commented on #1791
From a data operations point of view, unless states say that they have zero cases that day, we cannot update it to zero. And a lot of states do not send out a report at all on a given day if they have no new cases/recoveries to update for the day.

[2020-05-05 19:14] #1775 closed, assigned to nobody

[2020-05-05 19:21] shubhamjain2998 commented on #1648
what if we implement dropdown from material ui component library and remove primer completely @jeremyphilemon .

[2020-05-05 19:21] shuklaayush commented on #1726
Fixed via #1712

[2020-05-05 19:21] #1726 closed, assigned to ashishdawale20

[2020-05-05 19:56] Hyraze commented on #1658
@aishmittal  I have changed it to gray which is the default color set text in the app #1675
this is the preview deployment of my pull request. please let me know your view on that
https://covid19india-react-git-fork-hyraze-master.covid19india.now.sh

[2020-05-05 20:22] parthbhide opened #1792 "displaying stats on home page"
**Is your feature request related to a problem? Please describe.**
There is empty space ( gap ) between states table and the footer of the home page of site.

**Describe the solution you'd like**
We can utilise this empty space by displaying stats above the table ( similar to that displayed on the states pages. ex. avg growth ,test per million and so on... ) making page more informative.

**Additi

[2020-05-05 20:22] parthbhide commented on #1792
if accepted i would like to work on it

[2020-05-05 20:28] Binu42 opened #1794 "irregular padding around view state page btn inside table"
**Describe the bug**
padding arround view state page link is irregular which is not looking good in desktop view.

**To Reproduce**
go to homepage and open two three rows of table and notice on view state page link.

**Expected behavior**
it should have regular padding

**Screenshots**
![Screenshot from 2020-05-06 01-54-40](https://user-images.githubusercontent.com/45959932/81112661-a064ed00-8f3c-

[2020-05-05 20:33] kumargulshan91 opened #1795 "e.changeLanguage is not a function [Status: Review Needed]"
#1798  [Status: Review Needed] e.changeLanguage is not a function error is coming in console due to not initialization of language modules properly

[2020-05-05 20:44] devtechnocode opened #1796 "Feature: To show details of top disctricts active, recovered and decresed cases similar to confirm cases on state page when hover."
**Is your feature request related to a problem? Please describe.**
To show details of top disctricts active, recovered and decresed cases similar to confirm cases on state  page when hover. By hovering on the confirm, active, recovered and decreased cases we can see the data of top district on the state page.

**Describe the solution you'd like**
By adding the same as done for confirmed cases.

**

[2020-05-05 20:54] kumargulshan91 commented on #1795
#1798 added fix for localization issue

[2020-05-05 22:00] Binu42 opened #1799 "showing pointer cursor on districts and last update on hover inside table."
**Describe the bug**
in PC's hovering over districts, empty space and last update of state table showing pointer cursor on seeing pointer cursor it's feels like it's clickable.

**To Reproduce**
go to homepage of website open dropdown of state and hover over districts, empty-space and last update text.

**Expected behavior**
as we are currently showing pointer cursor only when something are clicka

[2020-05-06 01:24] shubhamjain2998 commented on #1740
A graph like this can be very much informative I think.

![Screenshot from 2020-05-06 06-36-31](https://user-images.githubusercontent.com/30628775/81130695-4e38c180-8f66-11ea-9cd0-da9ac05ef54e.png)

[2020-05-06 01:30] sudevschiz commented on #1314
Except for very few states (only KA maybe), the information about from who the patient contracted the virus is not shared anymore. I sincerely hope that the government is still doing contact tracing actively. However, with the large number of cases that are getting added everyday,   reality could be harsher.

Anyway, this data is not sufficiently available and the network transmission graphs that

[2020-05-06 01:30] #1314 closed, assigned to gyanendrapatro

[2020-05-06 01:53] shubhamjain2998 opened #1801 "Graph to show relation between doubling time and tests per million in deep dive."
A graph that shows the relation between doubling time and tests per million can be very informative. It will show the areas where there is a high chance of infection. See this graph for reference

![Screenshot from 2020-05-06 06-36-11](https://user-images.githubusercontent.com/30628775/81131833-1fbce580-8f6a-11ea-837f-c52827d45edb.png)

Here you can see Punjab has relatively low doubling time but

[2020-05-06 03:25] kousiksatish commented on #1748
Read about this but I was not able to spend quality time in the last 2 days. Today I will be working on this. Will let you know in sometime.

[2020-05-06 05:24] sudevschiz opened #1802 "Overlapping zone maps when switched from one state to another"
**Describe the bug**
Boundary of the previous state map remains when switched from one state to another on the Red/Orange/Green zone maps on the main page.

![image](https://user-images.githubusercontent.com/4298868/81139855-3e3ed300-8fa2-11ea-8977-9ec53c318317.png)

**To Reproduce**
1. Switch to All India zone view.

2. Dropdown the districts of any state (Chhattisgarh, in this example) from the

[2020-05-06 05:25] pratikgupta123 commented on #1779
Adding to @ShivS01 's point.
A Yesterday button will provide a way to see the District wise numbers for yesterday which is not present in the state page.

[2020-05-06 05:32] shuklaayush commented on #1802
Fixed via e0b5657802c6248b5185294965bc992af1f8eb3a

[2020-05-06 05:32] #1802 closed, assigned to nobody

[2020-05-06 06:11] shuklaayush commented on #1769
Fixed via 6a801d6f41fd26e7c9725a4c248ae24b03f533ee

[2020-05-06 06:11] #1769 closed, assigned to nobody

[2020-05-06 06:11] shuklaayush commented on #1590
Fixed via 6a801d6f41fd26e7c9725a4c248ae24b03f533ee

[2020-05-06 06:11] #1590 closed, assigned to nobody

[2020-05-06 06:11] shuklaayush commented on #1160
Fixed via 6a801d6f41fd26e7c9725a4c248ae24b03f533ee

[2020-05-06 06:11] #1160 closed, assigned to guneetnarula

[2020-05-06 06:16] shuklaayush commented on #1713
Fixed via #1676

[2020-05-06 06:16] #1713 closed, assigned to nobody

[2020-05-06 06:21] shuklaayush commented on #1796
Duplicates #1603

[2020-05-06 06:21] #1796 closed, assigned to nobody

[2020-05-06 07:11] shuklaayush commented on #1188
Fixed via #1712

[2020-05-06 07:11] #1188 closed, assigned to nobody

[2020-05-06 08:23] rohitbabugaddeti commented on #1672
@kpkeerthi25 There is no prediction described. The issue is about giving accurate and unambiguous information. However, if you want to take up the issue, try "/claim". The github-bot may assign it.

[2020-05-06 09:03] JunaidBabu commented on #1716
Is this still happening?

[2020-05-06 09:09] JunaidBabu commented on #1268
Out of scope. Closing.

[2020-05-06 09:09] #1268 closed, assigned to nobody

[2020-05-06 09:11] JunaidBabu commented on #1285
@shubhamjain2998 please raise a PR with your solution.

[2020-05-06 09:23] nikhilo commented on #1689
I agree. That is very annoying. We can also consider increasing the hover duration before triggering the update on the charts.

[2020-05-06 09:57] devtechnocode commented on #1796
But , it not similar as I ssaid to show the active , recovered and decreased cases as shown for confirmed cases on the right side of the state page as you can see in the screenshot @shuklaayush

[2020-05-06 10:41] kousiksatish commented on #1748
@jeremyphilemon In angular, there is inbuilt service worker https://angular.io/guide/service-worker-devops which provides this feature. And they have versioning of the builds. I am trying to find something similar for react.

[2020-05-06 11:25] sandeepsj commented on #1716
Yes it is still happening. I have made a PR

[2020-05-06 11:43] priya90rw8l opened #1804 "Today's Data is displaying wrong."
**Describe the bug**
Today's Data is displaying wrong.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Verify data

**Expected behavior**
Data shuuld be proper.

**Screenshots**
![Screenshot 2020-05-06 at 5 10 31 PM](https://user-images.githubusercontent.com/17856723/81172951-d649b600-8fbc-11ea-96a3-d49a8f6768c6.png)

**Desktop (please complete the f

[2020-05-06 11:43] rbharadbb opened #1805 "Search placeholder stops working after blur event"
**Describe the bug**
Placeholder of the search input field goes away after first blur event on search input.

**To Reproduce**

1. Go to home page
2. You can see the placeholder of the search input field is working
3. Click on search box
4. Remove the focus (click somewhere else)
5. Now the placeholder is gone

**Expected behavior**
Once focus is removed from the search input, the placeholder shou

[2020-05-06 11:45] rakeshpandey791 opened #1806 "Problem with today's data"
Problem with today's data.
Please see in attachment
![Screenshot (22)](https://user-images.githubusercontent.com/7344397/81173091-1dd04200-8fbd-11ea-9f8a-b60a8f99692c.png)

[2020-05-06 11:47] swapdewalkar commented on #1804
Working fine for me. Can you add brower details.
I checked on phone and mac working fine.

[2020-05-06 11:49] nayakrahul opened #1807 "Timeseries explorer not aligned center in homepage in mobile"
**Describe the bug**
Timeseries explorer elements are not aligned center. They are towards left side.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to Home
2. Scroll down to timeseries explorer
3. Notice the issue

**Expected behavior**
It should be same as in state page

**Screenshots**

![Screenshot_20200506-171915](https://user-images.githubusercontent.com/11428805/81173468-bbc40c8

[2020-05-06 11:52] VarunChawla opened #1808 "Site giving incorrect data"
Hi team,
Your site covid19india.org is giving incorrect information..

Please find attached screen shot.
![IMG_20200506_171409](https://user-images.githubusercontent.com/8905041/81173667-0e9dc400-8fbe-11ea-8a60-4e28fc8b34cf.jpg)

[2020-05-06 12:12] DattaPurohit opened #1809 "Change state colour in map according to active cases"
**Describe the solution you'd like**

Map colour gradient which changes dynamically according to active cases would give a more accurate visualisation of the data

[2020-05-06 12:51] #1603 closed, assigned to Binu42

[2020-05-06 12:54] shuklaayush commented on #1796
Hey @devtechnocode, this was addressed in the PR linked to that issue. Anyways, it's been added with #1626.

[2020-05-06 12:55] shuklaayush commented on #1804
Seems to be fixed

[2020-05-06 12:55] #1804 closed, assigned to nobody

[2020-05-06 12:55] shuklaayush commented on #1806
Seems to be fixed

[2020-05-06 12:55] #1806 closed, assigned to nobody

[2020-05-06 12:56] shuklaayush commented on #1808
Seems to be fixed

[2020-05-06 12:56] #1808 closed, assigned to nobody

[2020-05-06 12:59] shuklaayush commented on #1809
Did you try this?

![Peek 2020-05-06 18-27](https://user-images.githubusercontent.com/27727946/81179581-7a385f00-8fc7-11ea-8ad0-92255c4e9610.gif)

[2020-05-06 13:29] ishandutta2007 commented on #1040
@shuklaayush  @jeremyphilemon  Is there any dynamic red/orange/green API ready already ? It's important to know if the reds are increasing or decreasing.
Static colouring is fine but it's becoming very less useful now, given that every one already knows the declared colour of their district from 2nd May itself.

[2020-05-06 15:34] shubhamjain2998 commented on #1285
@JunaidBabu please review the PR. Also, can I close the PR #1284 now?

[2020-05-06 15:47] kousiksatish commented on #1748
@jeremyphilemon I am trying to integrate workbox
It provides the required versioning and we can just specify various caching strategies for each of the file and not worry about the implementation.
Will let you know if it works fine.

[2020-05-06 15:49] ShekharReddy4 opened #1811 "Today's bulletin data updated"
**Is your feature request related to a problem? Please describe.**
I want to see on the home page if today's bulletin is released by state and the data is updated or the data is as of yesterday.

**Describe the solution you'd like**
add a column on the far right and put a :heavy_check_mark: if today's bulletin is updated yet.

**Describe alternatives you've considered**

**Additional context**

[2020-05-06 17:08] animesh-tarodia-sp opened #1812 "When hovering over zones in homepage the stats of districts should be shown"
**Is your feature request related to a problem? Please describe.**
Whenever we hover over zones, the name of district is only shown and when we click on a district stats of the state is shown while the stats of district should be shown.

**Describe the solution you'd like**
The number of confirmed, active, recovered & deceased should be shown respectively according to the district hovered or click

[2020-05-06 18:30] kousiksatish commented on #1748
I am working on a POC in this branch https://github.com/kousiksatish/covid19india-react/tree/workbox-pwa-integration

Few things to be noted:
- You may not be able to run the code as it uses a local instance of workbox
- I am currently using workbox 3.6.3 which is not the latest. Had some issues with the latest version so started with this. Once I get the POC done in this, will move to the latest

[2020-05-06 18:41] parasgoyal12 opened #1813 "Show data from other top 10 countries for comparison"
**Is your feature request related to a problem? Please describe.**
A comparison chart with countries from top 10 total case count in the deep dive section as people need to visit other sources like worldometers or john hopkins

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The table might include similar stats as the worldometers.info/coronavirus

[2020-05-06 19:05] shuklaayush commented on #1040
@ishandutta2007 We plan to update the API as the zones are reclassified. Not sure if I understand correctly, but no, we haven't yet added an API containing the history of classification for each district.

[2020-05-06 19:13] ishandutta2007 commented on #1040
zones wont get reclassified by govt everyday. would it ? where from would you know the daily trend then? Look at my plots [above](https://covid19india-r-git-fork-ishandutta2007-featurecontainmen-8f423a.covid19india.now.sh/deepdive)  to understand how the daily trend looks like. if you don't want to confuse with govt terminology we can name them as _recent positive zone, moderately old positive zon

[2020-05-06 19:27] shuklaayush commented on #1040
@ishandutta2007 Adding it to the API might not be that straightforward. I don't know the entire API generation pipeline myself, hence I'm not the best person to ask. @JunaidBabu would be able to help with this. Alternatively, if it's not too big a performance hit, we can keep it in the client code as well.

Yes, the terminology will have to be changed since otherwise, it would lead to confusion. A

[2020-05-06 19:38] ishandutta2007 opened #1815 "Track daily trend of how zones look like"
**Is your feature request related to a problem? Please describe.**
Creating a new issue as per discussion https://github.com/covid19india/covid19india-react/issues/1040#issuecomment-624843738

**Describe the solution you'd like**
Some works have been done on this https://github.com/covid19india/covid19india-react/pull/1679
Just the code needs refactoring to move it from UI to API. And since govt m

[2020-05-06 20:15] purveshmakode24 opened #1817 "Sticky 'spread trends' component is not working"

[2020-05-07 02:41] gyanendrapatro commented on #1782
You can assign it to me I can fix it

[2020-05-07 04:01] vaibhavthapa opened #1818 "Uttarakhand covid19"
The deceased case in uttarakhand is not due to covid19 but because of brain hemorrhaging.
Please mention it.

[2020-05-07 04:16] atulgaurnet commented on #1782
@gyanendrapatro Thanks for your response but it seems that I cannot assign an issue to you or is it something that I am missing here. I am also new to this space.

[2020-05-07 04:37] 1709abhishek opened #1819 "Active testing in labs citywise"
**Is your feature request related to a problem? Please describe.**
During these lockdowns, people are constantly searching for productive and useful news for the coronavirus cure and testing. We can add name and number of labs state or citywise to keep people informed about the testing carried by given labs.

**Describe the solution you'd like**
We can map the labs in a seperate tab to specify tha

[2020-05-07 05:49] kapilraghuwanshi opened #1820 "Once the user clicks on State/UT or District list sorting header(Arrow - Up or Down), there is no way to get back to default sorted list as per no of cases."
**Describe the bug**
A clear and concise description of what the bug is.

Once the user clicks on sorting on states or districts, there is no way to get back to default sorted as per no of cases. Since, we are storing user's sorting preference in the local storage, untill we remove that there is no way to get back to the original sorted even if you refresh the page. This is common issues across we

[2020-05-07 07:23] wsameer commented on #1781
Let me /claim this issue

[2020-05-07 07:54] #1809 closed, assigned to nobody

[2020-05-07 08:03] kapoorp99 opened #1821 "Feat this feature can pop- up a alert on screen regarding covid -19 cases in the visitor's city"
I have developed a website using your api of district wise data which helps the user to let him know about active,confirmed,deceased and recovered patients data in his city on the basis of his current location and by just visiting the site link

I think that this type of feature can also be implemented in your site and i am pretty sure that it will help the users alot.

**Additional context**
It n

[2020-05-07 08:36] AzimJaved opened #1822 "Map colours on Firefox and Chrome"
**Describe the bug**
Colours on Firefox and Chrome are vastly different, using the dark mode and, look ugly on Firefox.

**To Reproduce**
Steps to reproduce the behavior:
Visit the site using Firefox and Chrome.

**Expected behavior**
Colours look like they do on Chrome even on Firefox.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githu

[2020-05-07 10:11] phoenicopteri commented on #1822
This also happens for active, recovered and deceased graphs

ACTIVE

<img width="365" alt="active-negative" src="https://user-images.githubusercontent.com/11295641/81282429-c68fa780-9078-11ea-8539-0ad8ebb597e6.png">

RECOVERED

<img width="366" alt="recovered-negative" src="https://user-images.githubusercontent.com/11295641/81282456-cf807900-9078-11ea-91d5-1dcba5bddb02.png">

DECEASED

<img width=

[2020-05-07 10:59] raxraj commented on #1711
I can confirm that the issues exist.
I believe I can solve the issue, I'm gonna try right away.

![image](https://user-images.githubusercontent.com/41513907/81287039-b3340a80-907f-11ea-9761-7bf5c7d5ceea.png)

![image](https://user-images.githubusercontent.com/41513907/81287099-d1016f80-907f-11ea-9e99-6e84c0f4d905.png)

![image](https://user-images.githubusercontent.com/41513907/81287118-da8ad780-9

[2020-05-07 12:01] balrajsingh9 commented on #1417
The current dark theme is great 👍 . Some minor suggestions I would like to posit.

Can we have something similar to what _twiter_ has? It shows three options to the user -
- Default (Light)
- Dim
- Lights out
<img width="666" alt="Screenshot 2020-05-07 at 5 01 38 PM" src="https://user-images.githubusercontent.com/37571874/81290007-ee850800-9084-11ea-8865-18cce71ac149.png">

There are some colors i

[2020-05-07 12:16] nayakrahul commented on #1820
The default sorting is based on no. of confirmed cases. You can click on confirmed header tab to get default sorting order. You can sort the rows on the basis of alphabetical order, no. of confirmed, active, recovered and deceased cases.

[2020-05-07 12:55] nmgvikas opened #1826 "Upon loading the demographics page, the label 'There were no new cases' is not appearing."
**Describe the bug**
Upon loading the demographics page, if there are no results for the chosen/ default filter type, the message 'There are no new cases in <location> on <date>' isn't appearing. In order for it to appear, records must be populated at least once.

Also, the message is not grammatically proper when there are no states chosen in filter.

Currently the message is:
There were no new c

[2020-05-07 14:54] sarangrakhecha opened #1827 "Bring back report on individual cities"
**Describing the feature I'd like**
On selecting the particular state, there used to be the total numbers of "Increases/Recovered/Deceased" per day. It looks like that feature has been removed and now it directly shows the total figure. How about we have both of those embedded in the same table?

We can have a small arrow pointing UP or DOWN depending on the increase or decrease of cases, and have

[2020-05-07 17:03] SensehacK commented on #1417
@balrajsingh9  Nice insight on 3 options for UX.

Also font weight makes quite the difference, I'm currently swamped till next week with my final year project and thats the reason I wasn't able to put some design thinking towards this enhancement.

If you have any Color palettes in mind, you could share it using a table

1. Light

- Primary color 1: UIColor(rgb x,x,x)
- Primary color 2: UIColor(rg

[2020-05-07 17:20] balrajsingh9 commented on #1417
Thank you @SensehacK.
I'll read more about what color scheme is apt. for the theme variants that we're going to use and which conforms to _Google's Material Guideline_ (Twitter's scheme is good though!). I'll check the exact color values that we can use.

Let me know if you need any help with writing code for this. I can take out some time out of my job 😆

[2020-05-07 17:31] balrajsingh9 commented on #1417
Twitter has 6 primary colors and they remain the same for all the theme variants. They have chosen a very nice set of primary color scheme which doesn't look odd or creates any visibility issues.

Here is a short video that I recorded demonstrating my above point - [GDrive](https://drive.google.com/file/d/1qqZuTl2B_i6xv_3RVPEHeUtFzsAjim3X/view?usp=sharing)

[2020-05-07 17:44] Sushanthece opened #1828 "Add 1/Million features"
add no of test taken features ....in the home page...

People affected against per 1L/1M -

- most website like world ometer gives details information such as 3456 people out 1Million are affected

[2020-05-07 17:49] SensehacK commented on #1417
So they have played around with opacity of every element like **Basic Color** (h1-h6, span, text) & just change the primary prominent feature of UI with only 5 UIColors options.

By checking your video, only thing they change of the 3 UI Modes is the background color as the **basic contrast color** blends well with it.
Utilizing just one of the 5 UIColor options as "Icing on the cake" personalizat

[2020-05-07 19:33] shubhamjain2998 opened #1830 "Graph showing recovery, active and mortality rate."
Trends shown in total cases graph of deep dive section gives the same information as the time-series graph on the Home page.
We can refine that graph by showing the rate of recovered, active, and deceased cases like this.
![Screenshot from 2020-05-07 22-56-08](https://user-images.githubusercontent.com/30628775/81336794-97545700-90c7-11ea-8bd7-a54a54530fbb.png)

[2020-05-07 23:44] ishandutta2007 commented on #1244
Now it is being tracked under https://github.com/covid19india/covid19india-react/issues/1815 I have added more details there .
And here is a first cut code change, though this code eventually needs to move to API https://github.com/covid19india/covid19india-react/pull/1679

[2020-05-08 03:27] sgandhi9 commented on #1287
I think we should merge Mumbai and Mumbai Suburban districts. The data from Brihanmumbai Municipality Corporation (Local municipality body) also release data as one for daily cases.

Just for reference:
https://twitter.com/mybmc/status/1257706125530525703?s=20

[2020-05-08 07:57] Shivangi2301 opened #1831 "Not able to run the project."
**Description**
I am not able to the project in my system.

Version with which I am trying to run the project.
node: 12.16.3
npm: 16.14.5

I have already installed node modules. I am getting some error while running the project. i.e after running the command _npm start_.

**Screenshots**
![image](https://user-images.githubusercontent.com/46815652/81384508-9ff85d80-90c6-11ea-9d5f-2ba672c939b9.png)

[2020-05-08 08:54] Priya1114 opened #1832 "Bug - Navbar About icon Incorrect navigation"
**Describe the bug**
When the About icon inside Navbar is clicked it is navigating to Homepage. whereas the text  'About' beside the icon is navigating correctly to `/about`.
This happening because the link to the icon is `/faq` whereas the link to the text is `/about`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the last option in Navbar and hover on the question mark icon.
2. Cl

[2020-05-08 09:20] ruralad opened #1833 "The know more in the home page (compiled from State govt... )href seems to be not working. Its just refreshing the home page."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-05-08 09:23] Pranav9931 opened #1834 "Hover issue with Navbar"
Issue
When we hover over the navbar or any nav items the page loses its proper orientation.
This thing happens in desktop version of the site, the divisions on the page get styled by display: flex; or something like that and they come one after another that looks weird.

I think that this issue should be solved.
I do am trying but wants other to solve this.

[2020-05-08 09:51] swapnilshrikhande opened #1835 "Crowdsourced Map Tracking Important Locations"
**Problem**

- Track mobile clinics, checkpoints, help desks, food distribution points setup by local authorities and NGOs in an area
- Tracking open / closed food malls, grocery stores, vegetable stalls etc. in an area
- Track crowded places which should be avoided.

**Solution**
- Use a crowd sourced mapping platform like [Ushahidi](https://github.com/ushahidi/platform)

**Alternatives**
Please

[2020-05-08 09:54] swapnilshrikhande commented on #1835
Duplicate Of : #848

[2020-05-08 10:16] nmgvikas commented on #1831
The npm command when run, is looking into the C:\Shivangi path for react-scripts folder. Did you download the node modules there? Try running npm i && npm start (together) from cmd in the path C:\Shivangi\R & D\COVID\covid19india-react .

[2020-05-08 10:44] Shivangi2301 commented on #1831
Yes, I installed node modules, which was then followed by npm start command to run the project.

[2020-05-08 12:52] bee-rickey commented on #1835
Closing as it's a duplicate.

[2020-05-08 12:52] #1835 closed, assigned to nobody

[2020-05-08 12:57] bee-rickey commented on #1833
Duplicate of https://github.com/covid19india/covid19india-react/issues/1832

[2020-05-08 12:57] #1833 closed, assigned to nobody

[2020-05-08 13:05] bee-rickey commented on #1820
One can always click on confirmed header to get back to default sorting order no? Why does it have to be per session? One could easily make an argument that the choice should persist across sessions.

[2020-05-08 13:07] bee-rickey commented on #1811
The uptick on each state tells whether the data is updated today. That's an indication of data being updated based on today's bulletin?

[2020-05-08 13:11] bee-rickey commented on #1795
Hi @kumargulshan91 did you have a read about the contributing guidelines: https://github.com/covid19india/covid19india-react/blob/master/CONTRIBUTING.md ? Please do not fix an issue unless one of the mods has a look at the issue.

[2020-05-08 13:31] bee-rickey commented on #1834
Can you add a screenshot for the same?
Thank you!

[2020-05-08 15:00] bee-rickey commented on #1828
This is related to https://github.com/covid19india/covid19india-react/issues/1792. Let me know if there's any difference.
Thank you.

[2020-05-08 16:18] ShekharReddy4 commented on #1811
but 'no uptick' doesn't mean that it is not updated --assuming that a few northeast states are having no updates(everything is stable for the day/no bulletin) for the day.

[2020-05-08 16:43] nayakrahul opened #1836 "Region highlight on map does not work when we hover over a district of a state in table for first time"
**Describe the bug**
Region highlight on map does not work when we hover over a district of a state in table for first time. Same thing happens when we hover from a district of a state to a district of another state in table or when we hover from a district to a state. So basically, it happens when the map in mapexplorer changes i.e from country view to a state view or vice-versa or from one state

[2020-05-08 16:49] Pranav9931 commented on #1834
Before

![Coronavirus Outbreak in India - covid19india org - Google Chrome 08-05-2020 22_15_42](https://user-images.githubusercontent.com/64951792/81428449-e4910100-9179-11ea-8fe9-aba8642d820c.png)

 After

![Coronavirus Outbreak in India - covid19india org - Google Chrome 08-05-2020 22_15_36](https://user-images.githubusercontent.com/64951792/81428480-ed81d280-9179-11ea-8f6e-551c451c87ad.png)

[2020-05-08 18:07] BinaryMuse commented on #1648
Primer Components `v19.0.0` is available and should have what you're looking for; if you're not using ESM, you can import components from the `lib/` folder. See https://primer.style/components/getting-started for more info.

[2020-05-08 19:08] Cryptonex7 opened #1838 "[BUG]: Crowdsourced Patient Database button redirects to API page."
**Describe the bug**
Crowdsourced Patient Database button on the main website and on the API home page, both redirect to API page itself.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Scroll down to 'The End of the page'
3. Click on 'CROWDSOURCED PATIENT DATABASE'
4. See error: Redirects to the API page.

**Expected behavior**
Its should transfer t

[2020-05-08 19:12] qadratic opened #1839 "Crumbled text on smaller devices"
**Describe the bug**
Crumbled Level component data text on smaller devices displaying large number.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'home page'
2. See error

**Expected behavior**
Clear and meaning ful text appearance.

**Screenshots**
![WhatsApp Image 2020-05-07 at 5 55 53 PM](https://user-images.githubusercontent.com/36514842/81440332-7eae7480-918d-11ea-8946-86f6646f

[2020-05-08 19:14] niinpatel commented on #1648
Thanks for letting me know @BinaryMuse.

@jeremyphilemon I've raised a PR, can you check. :)

[2020-05-08 19:31] bee-rickey commented on #1838
API is still a database in a way no? Why should it go away?

[2020-05-08 20:01] relaxedcoder commented on #1839
I too have noticed this on my iPhone.
@jeremyphilemon, https://github.com/covid19india/covid19india-react/pull/1757 fixes this issue along with table content overflow.

[2020-05-08 22:09] niinpatel commented on #1832
I'd like to work on this if possible.

[2020-05-08 22:23] SamirBhosle opened #1840 "Under search your city - Search bar with Pune Testing label"
![Screenshot_20200509-034320__01](https://user-images.githubusercontent.com/24218043/81453793-25a00a00-91a8-11ea-8be1-ef518a4f1492.jpg)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you

[2020-05-08 23:28] Cryptonex7 commented on #1838
What I think is, when you put a button for the Database for public access, they generally look for something like a spreadsheet.

## Problem
- A common man wont understand the API and how it works, they wont know how to look at JSON files and HTTP requests. This has happened to me when I showed the website to my parents and relatives. Some of them who dont have a technical background, yet get fasc

[2020-05-09 06:18] rbharadbb commented on #1805
@bee-rickey Thank you for assigning this issue to me. I've already raised #1768 to fix this issue. Please have a look.

[2020-05-09 07:50] rbharadbb opened #1841 "Navbar item hovering is registered only on navbar text"
**Describe the bug**

When user hovers on navbar text, the background color of text changes, but hovering on icon does not reflect the same. Also hover on text should reflect hover event on associated icon and vice versa.

**To Reproduce**

1. Open site on large screen
2. Hover on side navbar
3. The navbar text will expand
4. Hover on text, the background changes the color
5. Hover on nav icon, ba

[2020-05-09 08:02] rbharadbb commented on #1841
I have pushed a solution to this issue on a new branch (https://github.com/rbharadbb/covid19india-react/tree/issue-1841/nav-item-hover) of my forked repository. Please assign this issue to me so that I can raise a PR for the same.

[2020-05-09 12:35] kamalpreet-singh18 opened #1843 "Unable to get COVID status for Chandigarh(U.T) from Map of India"
If user wants to check number of CORONA cases in chandigarh by hovering over map of India, user wont be able to access chandigarh. Kindly try to resolve this issue please.

[2020-05-09 12:44] qadratic commented on #1839
As a matter of fact, I have also solved this issue here #1825 I believe small text is preferable here over  rounding the number off.

[2020-05-09 12:47] bshivam2001 opened #1844 "Wrong Delhi Test Data"
The number of cumulative tests done in Delhi on 8th May is **81,367** according to the daily health bulletin, while the site shows **82,367**.
Seems like a common typo.

[2020-05-09 13:29] #1648 closed, assigned to niinpatel

[2020-05-09 14:16] nagu741 commented on #1844
Also notifications is showing new cases in delhi but not in State table
![Screenshot_20200509-192343](https://user-images.githubusercontent.com/10534116/81476103-90475900-922d-11ea-8c41-1a83170f13c8.png)

[2020-05-09 14:18] jayanta231 opened #1845 "Age and sex missing data"
It seems that about more than 80% of age and sex data is missing in the raw data. Is there any possibility to get it in your database. Also, when the raw data with all demographic information post 26 th April 2020 will be available in your database.

[2020-05-09 14:31] rkkmmmkkr opened #1846 "Active Case shows negative number"
**Describe the bug**
the active case shows negative number

**To Reproduce**
Steps to reproduce the behavior:

1. Go to covid19india.org
2. Expand Uttrakhand to shows district wise case
3. Scroll down to Unknown district
4. See error

**Expected behavior**
no of Active case is calculating by (active = confirmed - recovered ) but there should be a negative check

**Screenshots**
If applicable, add

[2020-05-09 15:57] bshivam2001 commented on #1846
That is not a bug, it's a feature.

When the recovered number is higher than the today's positive count, the number of Active Cases is reduced, i.e the number of Active Cases is negative for that day.

By introducing a check to negative Active Cases, you are essentially saying that the number of Active Cases cannot be less what it was the previous day, which is not necessarily true for each day.

[2020-05-09 16:02] bshivam2001 commented on #1844
That happens when you view the site while they are updating the data. It takes a few minutes after they receive the date for them to upload it to the database.

[2020-05-09 16:19] naveennamani opened #1847 "filtering and showing new cases in orange/green zones"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Is it possible to add a filter such that the table only shows orange/green zones from each state where there are new cases.
If filtering of the table is not possible, add a chart in the deep dive page where the trend shows the number of orange/green zones where there are new cases.

**Descri

[2020-05-09 17:38] siddharthsrivastava commented on #1084
Hi

We have worked on predicting estimated cases, deaths and recoveries for next week in India. We are achieving < 2% error rate till now wrt actual cases. Feel free to explore it at

https://coronaindia.github.io/views/researchcentre.html

I do look forward to improving such forecasts and any suggestions or contributions are welcome.

Now with respect to Rt, http://covid19rt.in/ seems to be givin

[2020-05-09 21:41] bee-rickey commented on #1845
The data is released by state govts. So there's nothing much to do on that front. The demographics work is going on as it needs to adapt to new data format post 26th April.

[2020-05-09 21:41] #1845 closed, assigned to nobody

[2020-05-09 21:42] bee-rickey commented on #1844
Closing the issue as it seems to be an understanding issue.

[2020-05-09 21:42] #1844 closed, assigned to nobody

[2020-05-09 22:36] venunalla7731 opened #1849 "Adding Minigraph to Tested section"
**Is your feature request related to a problem? Please describe.**
It is not a problem but wanted to add this feature to the Home page next to Deceased Minigraph, in order to view the high-level graph of how much was tested as of now.

**Describe the solution you'd like**
Show the Minigraph to Tested section

**Describe alternatives you've considered**
As of now, I am focusing on this. Later this

[2020-05-09 23:06] aseef17 commented on #1839
Rounding off might be required once the cases cross a threshold number. I suppose that can be started with 100,000 or 1 lakh.

[2020-05-10 06:31] Priya1114 commented on #1832
Let me /claim this issue

[2020-05-10 06:38] #1832 closed, assigned to jeremyphilemon

[2020-05-10 07:02] realkushagrakhare opened #1851 "The graphs show 0 cases for the last 15 days"
Confirmed, Active, Recovered graphs show 0 value for the last 15 days.

[2020-05-10 07:37] ayushya opened #1852 "Bug - Hover State in Menu is not unset in Mobile Devices"
**Describe the bug**
This issue is there on both Dark and Light Mode on Mobile Devices.
There are two bugs but both are related to hover state, so I am clubbing them together.

1. After opening and closing the Menu, the hover state of the menu is not removed.
2. If the menu is expanded and a user clicks outside, the hover state is removed.

**To Reproduce**
Steps to reproduce the behavior:
1st Iss

[2020-05-10 07:40] ayushya commented on #1852
I would like to /claim it

[2020-05-10 08:29] gsluthra commented on #1846
The point of an active column is to tell the reader -- how many active cases are there?

A -ve number is confusing. 0 is all they care about, which means, no active cases.

[2020-05-10 08:32] gsluthra commented on #1851
Hi @realkushagrakhare - Could you attach a screenshot? Is this for a particular page/state?

[2020-05-10 10:02] aTrueSeeker commented on #596
I would like to take this up

[2020-05-10 13:40] abhishekkhandait opened #1854 "Homepage not loading"
**Describe the bug**
Homepage details not visible

**To Reproduce**
Steps to reproduce the behavior:
Open . Homepage shows up with just stats. Map, chart, footer everything is not visible.

1. Go to  https://www.covid19india.org/
2. Click on Home
3. Scroll down
4. See error

**Expected behavior**
Homepage should be visible as expected

**Screenshots**
![Screenshot_20200510-190837](https://user-ima

[2020-05-10 13:45] rahulbhanushali opened #1855 "Home page not showing state & district wise table"
**Describe the bug**
The state and district wise table showing the numbers is no longer rendering on the home page.
Possibly due to a change in keys of API response.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the home
2. See missing table

**Expected behavior**
The table should be visible.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone

[2020-05-10 13:48] abhishekkhandait commented on #1854
![steps to reproduce](https://thumbs.gfycat.com/SpecificWarlikeAmericanratsnake-size_restricted.gif)

[2020-05-10 13:58] rahulbhanushali commented on #1855
This is happening due to a malformed entry which has the state value set to a space value in the https://api.covid19india.org/state_test_data.json API.

Malformed record here:

[code]

[2020-05-10 14:00] rahulbhanushali commented on #1854
I have found the issue, it's due malformed data entry in the https://api.covid19india.org/state_test_data.json.

We both created the same issue around the same time. We can link one of these and mark one as duplicate. https://github.com/covid19india/covid19india-react/issues/1855. I have added the details of the record causing the problem in the mentioned link.

[2020-05-10 14:00] ghost opened #1856 "Using a translation platform"
Hi,
I'm from Algeria and trying to use my own Weblate platform to manage the localization of the project and trying to translate the main UI into french and arabic.

What do you think about using Weblate as a subdomain such as translate.covid19india.org to translate the project; Weblate allows to submit PR and Merge Requests automatically every 24 hours (customizable) to a branch of the main repo.

[2020-05-10 14:01] nambi-rajan-k opened #1857 "Home page is not getting loaded fully as there is an error is some variable usage please check on that"
![Screenshot from 2020-05-10 19-30-59](https://user-images.githubusercontent.com/58591984/81501247-006ce200-92f5-11ea-8ecb-49c7727cb2f5.png)

[2020-05-10 14:02] rahulbhanushali commented on #1857
Hi, there's already an open issue for this: https://github.com/covid19india/covid19india-react/issues/1855

[2020-05-10 14:05] #1857 closed, assigned to nobody

[2020-05-10 14:06] m-garg commented on #1855
The site seems to be loading now.

[2020-05-10 14:13] abdulnasar85 commented on #1854
https://github.com/covid19india/covid19india-react/pull/1858/ This PR has an additional check to instantiate this as an array. Its always a best practice to assign an empty array  using || [] when the data is null or undefined.

[2020-05-10 15:22] shuklaayush commented on #1854
Fixed via 8e2bc774f1111d3fcad71407f7f376be41aeb05c

[2020-05-10 15:22] #1854 closed, assigned to nobody

[2020-05-10 15:23] shuklaayush commented on #1855
Seems to be fixed

[2020-05-10 15:23] #1855 closed, assigned to nobody

[2020-05-10 15:23] shuklaayush commented on #1851
Seems to be fixed

[2020-05-10 15:23] #1851 closed, assigned to nobody

[2020-05-10 15:25] shuklaayush commented on #1846
Yes, it looks like an error. Active cases shouldn't be negative. Only the delta can be negative

/cc @bee-rickey

[2020-05-10 15:27] #1840 closed, assigned to nobody

[2020-05-10 18:05] parthbhide opened #1859 "Showing negative data for active cases"
**Describe the bug**
In **'unknown'** row for MAHARASHTRA state, number of active cases shown are negative.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to covid 19 home page
2. In states table click on MAHARASHTRA
3. Scroll down to last row for the state
4. See error

**Expected behavior**
If all cases recovered active cases should be zero.
It may be affecting total tally for the sta

[2020-05-10 18:52] abbhhiisseek opened #1860 "India Map unresponsive on Android"
**Describe the bug**
India Map unresponsive on Android

**To Reproduce**
Steps to reproduce the behavior:

Tap on any State in the map in Android. Either the wrong state opens or it lags a lot.
Ex. When you tap Rajasthan, Gujarat is opening

[2020-05-10 19:02] #1856 closed, assigned to nobody

[2020-05-10 20:11] mohammedsrehan opened #1861 "Addition of Doubling rate of cases"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

A new feature can be added which describes the doubling rate of the coronavirus cases in India can be displayed and state wise doubling rate can be displayed in the state page. By adding this feature the covid19.org website will be more informative in terms of statistics.

[2020-05-11 02:17] sarangrakhecha commented on #1827
Guess, this has been brought back. Thanks for working on it.
Closing the issue.

[2020-05-11 02:17] #1827 closed, assigned to nobody

[2020-05-11 04:17] reetpriye opened #1863 "Incorrect data of Lakhisarai Bihar"
![Screenshot_2020-05-11-09-44-43-261_com android chrome](https://user-images.githubusercontent.com/55601795/81523680-431dd100-936c-11ea-8372-f11dc36a85bc.jpg)
**Describe the bug**
Kindly check the data of Lakhisarai Bihar.
I found it wrong.
Update it.

[2020-05-11 04:57] kapilraghuwanshi commented on #1820
@nayakrahul explained the complete behaviour of sorting in the data tables, so this issue can be closed now. Thanks for the support.

[2020-05-11 04:57] #1820 closed, assigned to nobody

[2020-05-11 05:17] mkesavan13 commented on #1610
Hi @jeremyphilemon,

I am still waiting for an update from you. Please let me know how to proceed about this.

Thank you.

[2020-05-11 05:18] mkesavan13 commented on #1604
Hi @bee-rickey,

I am still waiting for an update from you. Kindly let me know.

Thank you.

[2020-05-11 05:50] saurabhsharma1976 commented on #1084
Hi. went through the details. Great work by you and team! Any possibility
of including at district level pls? For example Mumbai will be very diff
prediction vs Maharashtra. city level details are found at
https://www.covid19india.org/ as we know best.

On Sat, 9 May 2020 at 23:09, Siddharth Srivastava <notifications@github.com>
wrote:

[2020-05-11 09:29] DpA70 opened #1864 "Pre-cautions to stay away from virus."
Website should have one new tab so that it should provide all the information how to stay away from virus . Plus it should include exercise and diet to increase immunity power.

[2020-05-11 10:28] ketanyadav10 opened #1866 "Washim district shows active 1, recovered 3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-05-11 10:29] ketanyadav10 commented on #1866
![Screenshot_20200511-154318](https://user-images.githubusercontent.com/8640607/81552003-59de1b00-93a0-11ea-9c6a-d897128ad162.jpg)

[2020-05-11 10:33] ketanyadav10 opened #1867 "Incorrect values"
**Describe the bug**
Washim district of maharashtra shows 1 confirmed - 2 active  and 3 recovered
**Smartphone (please complete the following information):**

- Device: oneplus5t
- OS: android 9
- Browser chrome

**Additional context**
Add any other context about the problem here.

[2020-05-11 12:32] abhijeetviswam opened #1868 "Add TPM and TPC entries and map"
Tests per Million and Tests per Cases will give more insight than just the raw number of people tested.

TPM can provide info on the percentage of the population has been tested till date.
TPC can provide an insight on the possible undetected cases in the region.
Higher values of both TPM and TPC together is desirable.

Plotting these in the map can help show how each state is performing in the co

[2020-05-11 13:54] ksulekha7 opened #1869 "Mismatch in count of recovered cases"
![Screenshot_2020-05-11-19-10-02-556_com android chrome](https://user-images.githubusercontent.com/46781670/81569254-aa637180-93bc-11ea-8465-2a7e66b4b2a9.jpg)

Observing at total recovered cases of karnataka is 4 but when we see district wise recovered cases of bangalore only is 5.

[2020-05-11 14:34] shuklaayush commented on #1864
Hi, this seems out of our scope right now. Might address it later. Thanks!

[2020-05-11 14:34] #1864 closed, assigned to nobody

[2020-05-11 14:35] #1866 closed, assigned to nobody

[2020-05-11 18:38] bee-rickey commented on #1867
MH state dashboards are having some very weird numbers. We aren't really sure what to do with this data. This is on 11th May:
<img width="223" alt="Screenshot 2020-05-12 at 12 08 23 AM" src="https://user-images.githubusercontent.com/63364562/81598328-bd8a3780-93e4-11ea-8b14-97aa36b520af.png">

[2020-05-11 18:39] OptimusKrish opened #1870 "Empty list in the state dropdown"
**Describe the bug**
There is an empty `<li>` placed inside `<ul>` in the state page drop-down selection

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://www.covid19india.org/state/MH
2. Click on (Eg: Maharashtra)state dropdown
3. Scroll down to the state list
4. See error empty list in the select dropdown without any state name

**Expected behaviour**
Need the proper state na

[2020-05-11 18:40] bee-rickey commented on #1859
This is when the total confirmed cases are mapped to districts but the recovery data is not mapped to districts. Happens with Maharashtra since they do not update the recovered details immediately.

Active unknown = Confirmed unknown - Recovery unknown - deceased unknown.

[2020-05-11 18:40] #1859 closed, assigned to nobody

[2020-05-11 18:43] bee-rickey commented on #1846
Active unknown = Confirmed Unknown - Recovered Unknown - deceased unknown.

When the state releases the district details of all the patients who are confirmed positive, but does not release the district details of recovered and deceased patients, in that case the number of unknown active cases becomes -ve. This is neither a bug, nor a feature. This is essentially the dashboard telling you that the

[2020-05-11 18:47] bee-rickey commented on #1819
Have you checked the essentials tab? https://www.covid19india.org/essentials

[2020-05-11 18:48] bee-rickey commented on #1838
@jeremyphilemon and @shuklaayush  your views on this?

[2020-05-11 19:07] shuklaayush commented on #1846
I guess that clears things up

[2020-05-11 19:07] #1846 closed, assigned to nobody

[2020-05-11 19:10] shuklaayush commented on #1838
I agree that the terminology might be confusing now. We can switch if we have a good alternative

[2020-05-12 06:09] jaibatrik commented on #1659
If the proposal is okay, I can send a PR.

[2020-05-12 15:15] SanjayChandak95 opened #1873 "Hyderabad city which is part of telangana state having active patients is larger than Telangana state total"
![496D1241-76BB-4F71-868F-83409D86C694](https://user-images.githubusercontent.com/32013144/81711274-1d3e1c80-9491-11ea-8e7e-3b3a979452b5.png)

You can see the overall active patients in Hyderabad is 451 but overall telangana state have 444 active patients. Seems like a bug.

[2020-05-12 18:50] anuj-kh commented on #1805
I am willing to work on this issue if it's still pending.

[2020-05-13 05:30] rbharadbb commented on #1805
Thank you for looking into this @anuj-kh . I have already raised a PR for fixing this issue. Link - https://github.com/covid19india/covid19india-react/pull/1768

[2020-05-13 06:19] har2008preet commented on #1602
Its also happening on mac
![image](https://user-images.githubusercontent.com/7850138/81778036-adbb4200-950f-11ea-91f5-cf4c36407798.png)
**NOTE**: It is 404 in chrome as well

[2020-05-13 07:53] sivasatvik opened #1877 "STATE_CODE for Telangana should be TS instead of TG"
**Describe the bug**
As the heading suggests, the abbreviation for Telangana is widely known as TS instead of TG. (TS signifying Telangana State). The redirects for state details has "/state/TG". It should be "state/TS" instead.

Thoughts?

[2020-05-13 08:08] shishupal082 opened #1878 "Google search not finding https://www.covid19india.org/ in search list"
**Is your feature request related to a problem? Please describe.**

When we search **covid 19 india** on google, search result does not show https://www.covid19india.org/ in search items. When i tell someone about this website and i have to send him exact link of this website.

**Describe the solution you'd like**
- I think some short of meta tags are required for google to make it available in se

[2020-05-13 08:34] mayankkt9 commented on #1870
Can I work on this ?

[2020-05-13 08:34] mayankkt9 commented on #1877
Can I work on this ?

[2020-05-13 11:12] rohankeskar19 commented on #1576
/claim

[2020-05-13 16:55] kunvarsinghbisht opened #1880 "mumbai suburban none"
In that Mumbai suburban count is 0 so it's green zone.
but it's Red area and in that dahisar location 10 people  cronna positive

[2020-05-13 19:22] abhisheknaiidu opened #1881 "Charts not aligned properly in mobile breakpoint"
**Describe the bug**
Charts are not aligned properly

**To Reproduce**

![Screenshot_20200514-004745](https://user-images.githubusercontent.com/55599878/81855277-c6157600-957c-11ea-9e46-a4c17cf7518d.jpg)

**Expected behavior**
 `margin-left` needs to be given in charts div.

**Smartphone (please complete the following information):**

- Device: OnePlus
- OS: Oxygen OS
- Browser: Chrome

**Addition

[2020-05-13 19:24] championballer opened #1882 "Scalar field negative for Maharashtra"
**Describe the bug**
The confirmed cases for unknown = 0, and recovered is being shown as 2, which puts active to -2. This seems to be an updation error and should be accounted for.

**To Reproduce**
Go to the main page of the website, expand to the Maharashtra row, and scroll to the bottom of the cases information for the state.

**Expected behavior**
The sum of all involved fields should be cons

[2020-05-13 19:28] shuklaayush commented on #1882
Refer to [this comment](https://github.com/covid19india/covid19india-react/issues/1846#issuecomment-626884611)

[2020-05-13 19:28] #1882 closed, assigned to nobody

[2020-05-13 20:30] alkuhlani opened #1883 "Maps Technology"
Hi,

I'm from Yemen, and I would like to use your opensource for my country, I really appreciate your work.
and I already opened and customized some of the data.
I have only one question which is:
I don't know how did you design your maps (states and districts).
I have created all  Yemen maps with Inkscape software. but the maps don't loke awesome like yours.
so please tell me the technology which

[2020-05-13 20:38] vineetrathor commented on #1878
let me \claim  in this @shishupal082

[2020-05-13 21:29] nayakrahul commented on #1881
Issue #1807 and PR #1823 are already for this.

[2020-05-14 01:17] arhamshah commented on #1878
\claim

[2020-05-14 04:06] sparsh-99 commented on #1843
Let me /claim this issue. I will review it and come up with a solution

[2020-05-14 04:15] isonso opened #1884 "Incorrect data in testing json"
**Describe the bug**
Data incorrect here. Updatedon should be 04/04/2020.
https://api.covid19india.org/state_test_data.json
{
			"negative": "8586",
			"numcallsstatehelpline": "",
			"numicubeds": "",
			"numisolationbeds": "",
			"numventilators": "",
			"populationsourcecovid19india": "",
			"positive": "306",
			"source": "https://dashboard.kerala.gov.in/testing-view-public.php",
			"source2":

[2020-05-14 05:54] Monsieurvishal commented on #1717
Now it is great.

[2020-05-14 05:54] #1717 closed, assigned to nobody

[2020-05-14 07:33] pratikgupta123 commented on #1779
@bee-rickey
Hoping that this feature will be added soon.

[2020-05-14 07:39] alkuhlani commented on #1883
Sorry,
I think I get it is is a TopoJSON.

[2020-05-14 07:39] #1883 closed, assigned to nobody

[2020-05-14 10:44] nayakrahul opened #1885 "Ceiling should be taken instead of round off."
**Describe the bug**
In state page, when we tell "x persons have passed away or recovered", we should consider ceiling not round off because if mortality rate is 1.4%, it means 2 persons have passed away not 1, we should consider 0.4% as 1 too. It makes sense when mortality rate is say 0.4% because according to current method, it will say "0 have passed away" which is obviously misleading. We are

[2020-05-14 11:37] KapoorAyush commented on #1885
let me /claim this issue

[2020-05-14 11:46] amogh-kalalbandi opened #1886 "Time period filter on the Demographics Tab"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

There needs to be a time period filter on the Demographics tab. Currently it has a filter on a single day by selecting a date. Add a feature

[2020-05-14 13:53] sgandhi9 commented on #1880
I think it's a duplicate issue which already exists. Please follow the following link: https://github.com/covid19india/covid19india-react/issues/1287
Also, this is is been long pending, needs to be addressed.

[2020-05-14 14:08] Prankurtiwari opened #1887 "News Feed Features"
**Is your feature request related to a problem? Please describe.**
Simple news feeds feature to display top feeds on the side of the page.

**Describe the solution you'd like**
A div on the page to show the latest news like the top 10 news feed.

[2020-05-14 14:13] #1819 closed, assigned to nobody

[2020-05-14 14:59] ludwig2000 commented on #1887
assign me this issue , I will like to work on it

[2020-05-14 18:17] shuklaayush commented on #1807
Fixed via 7740f5c8f764b7a521fdfae695b622f160d2e734

[2020-05-14 18:17] #1807 closed, assigned to nobody

[2020-05-14 18:17] shuklaayush commented on #1881
Fixed via 7740f5c8f764b7a521fdfae695b622f160d2e734

[2020-05-14 18:17] #1881 closed, assigned to nobody

[2020-05-14 19:06] bee-rickey commented on #1887
Hi we have purposefully kept this out since curating the feed would be an effort. And the decisions on what news handles should be used and which shouldn’t are extremely opinionated.

[2020-05-14 19:10] bee-rickey commented on #1884
Issue is fixed. Thanks for bringing this to our notice.

[2020-05-14 19:10] #1884 closed, assigned to nobody

[2020-05-14 19:12] bee-rickey commented on #1880
Not exactly a duplicate. But This cannot be handled as the state bulletin does not give the breakup of Suburban. And the categorization of the zones is based on MOHFW list.

[2020-05-14 19:12] #1880 closed, assigned to nobody

[2020-05-14 19:17] #1867 closed, assigned to nobody

[2020-05-14 19:41] #1887 closed, assigned to nobody

[2020-05-14 19:44] bee-rickey commented on #1877
@sudevschiz Your call. I don't see how we can fix this on the API side. Loads of changes.

[2020-05-14 19:46] bee-rickey commented on #1838
Assigned to @Cryptonex7 Please change it to "Crowdsourced data API". And include an appropriate icon if the current one looks odd.

[2020-05-14 20:06] bee-rickey commented on #1815
This isn't a straight forward classification. Zone classifications are based on the state/central decisions. These decisions cannot be taken by us. Also, the api for Zones is already available [here](https://api.covid19india.org/zones.json).

[2020-05-14 20:14] bee-rickey commented on #1779
@pratikgupta123 I’m not convinced. We already have the delta arrow per district. We have delta arrow per state. How does showing yesterday’s number help? Example, UP has more than 70 districts. If we provide a toggle to yesterday’s numbers you’ll see 70*3 data points. Will keep this open and request other mods to weigh in. @sudevschiz @jeremyphilemon

[2020-05-14 20:19] bee-rickey commented on #1873
Issue is with Telangana state not releasing district wise recovery data. This results in some districts having a higher count of active cases since their active cases haven’t been adjusted with the recovery numbers. Nothing much we can do about this.

[2020-05-14 20:19] #1873 closed, assigned to nobody

[2020-05-14 20:55] vineetrathor commented on #1870
/claim

[2020-05-14 22:03] #1748 closed, assigned to kousiksatish

[2020-05-14 23:27] #1718 closed, assigned to nobody

[2020-05-15 03:39] phoenicopteri opened #1892 "Add reset time / note to mention reset time for daily data"
Currently daily data on the front page is reset only when there is a new case confirmed for that day

Daily number should be reset at a fixed given time every day OR there should be a note mentioning the reset time

<img width="411" alt="resetTime" src="https://user-images.githubusercontent.com/11295641/82008916-93a66e80-968b-11ea-8afc-8379a1b11532.png">

In the screenshot, we see the daily data f

[2020-05-15 06:53] ishandutta2007 commented on #1815
@bee-rickey we are talking about different classification not the usual Red, Orange , Green one by government. Secondly we are creating this new kind of parallel classification because the standard govt zones are not updated daily. As the title states the new system will get updated daily and give us a clear picture of where the country is heading. Please refer to the thread in the link for detail

[2020-05-15 08:39] bee-rickey commented on #1892
/available

[2020-05-15 10:35] abhirupmjdr opened #1893 "A little bug in darkmode feature"
**Describe the bug**
When I’m opening this website in mobile then the darkmode and daymode mixed up in the mobile page.

**To Reproduce**
You should check your codes for the dark mode again.

**Expected behavior**
Anyone of this mode should work.. either dark mode or light mode.

**Screenshots**
![FF6F84E5-64DF-4A3B-9B36-E45AE5C43407](https://user-images.githubusercontent.com/52421748/82041350-a50

[2020-05-15 13:43] ayushya commented on #1893
Duplicate of https://github.com/covid19india/covid19india-react/issues/1852
Fixed with https://github.com/covid19india/covid19india-react/pull/1853

[2020-05-15 15:56] tejashbutani opened #1894 "Bug in Gujarat district wise data view."
AMRELI district is showing in other state  in Gujarat state. AMRELI is one of the district of Gujarat and i suggest you to include in list of district

**To Reproduce**
Steps to reproduce the same.

1. Click on 'Gujarat state name'
3. Scroll down to last district mentioned
4. You will see that amreli is under heading of other state

**Expected behavior**.
Consider amreli inside the list of distric

[2020-05-15 16:07] vishals9711 commented on #1892
I would like to /claim this.
This is my first contributing.
Please guide me.

[2020-05-15 16:32] ijesuraja opened #1895 "District label shown as Unknown and active count shown in negative (-1)"
District label shown as Unknown and active count shown in negative (-1). Below is the screen shot of data and it was taken from Tamil Nadu state.

![IMG_20200515_214242](https://user-images.githubusercontent.com/65412962/82073850-7b6c3900-96f7-11ea-8783-abf2e52f785b.png)

[2020-05-15 17:02] nanduri1998 opened #1896 "Toggle Selection button in Deepdive page not styled or illegally placed"
**Describe the bug**
The Deep Dive page has a button underneath the "Total Cases by State". It is not styled. Also, except for hiding the lines of the graph, it has no major work.

**To Reproduce**
Steps to reproduce the behavior:
Go to https://www.covid19india.org/deepdive and check below "Total Cases by State"

**Expected behavior**
Button needs to styled or removed

**Desktop (please complete t

[2020-05-15 18:31] ayushag10004 opened #1897 "Negative Recovered in West Bengal data"
**Describe the bug**
I am seeing negative recovered in westbengal recovered graph on homepage
**To Reproduce**
always reproducible

1. Go to homepage
2. Click on westbengal
3. See recovered graph on right side

**Expected behavior**
not getting the meaning of negative recovered

**Screenshots**
<img width="562" alt="Screenshot 2020-05-16 at 12 04 58 AM" src="https://user-images.githubusercontent.c

[2020-05-15 21:18] bee-rickey commented on #1897
3rd May is when we shifted from MOHFW updates to state updates. Till the the state was not giving recovery numbers. Hence on that day there's a backward adjustment done and this resulted in the negative value. Nothing much can be done about this since this is an issue with state not releasing numbers in a timely manner.

[2020-05-15 21:18] #1897 closed, assigned to nobody

[2020-05-15 21:20] bee-rickey commented on #1894
This is an understanding issue. "Other state" is a category where Gujarat has put number of patients belonging to other states. This is not some other state to which Amreli belongs.

[2020-05-15 21:20] #1894 closed, assigned to nobody

[2020-05-15 21:22] bee-rickey commented on #1895
This is not an issue. The reason why the unknown is negative is because the district for the deceased is not provided by the state at that point in time. So unknown active = unknown confirmed (0) - unknown deceased (1). Hence -1.

[2020-05-15 21:22] #1895 closed, assigned to nobody

[2020-05-15 21:23] #1893 closed, assigned to nobody

[2020-05-15 21:47] #21 closed, assigned to harshzalavadiya

[2020-05-16 00:21] Hyraze commented on #1658
Can you review this

[2020-05-16 00:49] nayakrahul opened #1901 "Demographics page alignment issue in mobile devices"
**Describe the bug**
In mobile devices, the demographics page is not aligned properly. It happened because of renaming of component but renaming in media queries was missed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Demographics page
2. See error

**Expected behavior**
Should be aligned properly.

**Screenshots**
![97549654_547504082824155_6079684399723446272_n](https://user-ima

[2020-05-16 01:16] #1901 closed, assigned to nobody

[2020-05-16 02:14] nayakrahul opened #1903 "Code refactoring for suggestions in search.js"
In `search.js`, code for suggestions is repeated. It can be shortened by rendering through an array both for essentials and locations.

[2020-05-16 02:39] #1836 closed, assigned to nobody

[2020-05-16 05:18] ijesuraja commented on #1895
**Its fine. But it will be good to show as 0 or NA instead of showing in negative...**

[2020-05-16 07:52] HaiderShawl opened #1906 "App crashing on Heroku"
I had made a exclusive state page using our code. It was deployed Heroku. It was working fine till a week ago. But now due to some reason it is crashing just after "Starting the development server" process. How can I resolve this issue?

[2020-05-16 09:13] tejashbutani commented on #1894
Okay got your point.

On Sat, 16 May, 2020, 2:51 AM bee-rickey, <notifications@github.com> wrote:

[2020-05-16 11:05] subodhk01 commented on #1839
Don't you think decreasing font size of the crumbled text would be a better fix 🤔🤔

[2020-05-16 11:17] aseef17 commented on #1839
It is a better fix but when the numbers become large, the text would need to be shrunk even further which won’t be legible anymore

[2020-05-16 12:18] bee-rickey commented on #1906
Logs please.

[2020-05-16 13:01] sijusamson commented on #1843
@bee-rickey Basically, chandigarh is a city which comes under both Punjab and Haryana, so where should the chandigarh be displayed ?

[2020-05-16 13:12] nayakrahul opened #1907 "In mobile devices, in essentials page, tapping on label button doesn't gray out the button"
**Describe the bug**
In mobile devices, in essentials page, tapping on label button doesn't gray out the button. It is happening because hover interferes with touch in mobile devices, it shows hover behaviour style. It grays out when we tap somewhere on second time.

**To Reproduce**
Steps to reproduce the behavior:
(Mobile)
1. Go to Essentials page
2. Tap on "View Essentials"
3. Tap on any of the

[2020-05-16 15:20] qadratic commented on #1839
If numbers become very large (god forbid) then we will have to change layout on other places as well. Not just here.

[2020-05-16 16:33] vishals9711 commented on #1892
@bee-rickey Please could you guide me on how to approach this?
The response for daily data comes from API.

[2020-05-16 19:51] kamalpreet-singh18 commented on #1843
Just like there's small place for delhi, if somehow you can display the
chandigarh on border of both Punjab and Haryana, because actually it is U.T
and doesnt belongs to either state.

On Sat, May 16, 2020 at 6:32 PM Siju Samson <notifications@github.com>
wrote:

[2020-05-16 22:43] #1630 closed, assigned to nobody

[2020-05-17 06:02] ysingla opened #1909 "Total Cases reported are wrong"
**Describe the bug**
Total cases reported, recoveries etc are wrong. MOH says number of cases till 16 May is 90,927 but on your website it's 90,649.

**To Reproduce**
Steps to reproduce the behavior: Check website of MOH and compare with COVID19India.

[2020-05-17 07:14] shuklaayush commented on #1909
Please read https://github.com/covid19india/covid19india-react/issues/662#issuecomment-612361044

[2020-05-17 07:14] #1909 closed, assigned to nobody

[2020-05-17 07:21] #1863 closed, assigned to nobody

[2020-05-17 07:21] #1869 closed, assigned to nobody

[2020-05-17 07:29] shuklaayush commented on #1818
Please read https://github.com/covid19india/covid19india-react/issues/662#issuecomment-612361044

[2020-05-17 07:29] #1818 closed, assigned to nobody

[2020-05-17 07:29] shuklaayush commented on #1822
Was this fixed?

[2020-05-17 07:30] shuklaayush commented on #1831
Was this resolved?

[2020-05-17 07:30] #1817 closed, assigned to nobody

[2020-05-17 07:31] #1795 closed, assigned to nobody

[2020-05-17 07:36] shuklaayush commented on #1789
Please read https://github.com/covid19india/covid19india-react/issues/662#issuecomment-612361044

[2020-05-17 07:36] #1789 closed, assigned to nobody

[2020-05-17 07:40] shuklaayush commented on #1743
I think the zone map is a good proxy for this

[2020-05-17 07:40] #1743 closed, assigned to nobody

[2020-05-17 07:47] deadshotsb opened #1910 "Adding legands to the "Patients by Nationality""
The circular chart representing the patients by nationality in deep dive section contains no legend. It can be helpful in analyzing the minor number of foreigners present in India that have tested COVID-19 positive.

A solution would be to add legends to the circular chart.

A bar chart can also be considered a substitute representing people of various nationality.

The reference plot is :-
![map_

[2020-05-17 08:06] shuklaayush commented on #1711
Fixed via 9ff0278

[2020-05-17 08:06] #1711 closed, assigned to nobody

[2020-05-17 08:08] shuklaayush commented on #1701
Fixed via #1899

[2020-05-17 08:08] #1701 closed, assigned to jeremyphilemon

[2020-05-17 08:08] shuklaayush commented on #1709
Seems out of our scope

[2020-05-17 08:08] #1709 closed, assigned to nobody

[2020-05-17 08:12] shuklaayush commented on #1658
Irrelevant after #1872

[2020-05-17 08:12] #1658 closed, assigned to nobody

[2020-05-17 08:14] AzimJaved commented on #1822
Not yet.

[2020-05-17 08:21] shuklaayush commented on #1822
I can't seem to reproduce this. Are you sure that this is not because of DarkReader?

[2020-05-17 08:22] #1693 closed, assigned to nobody

[2020-05-17 08:27] shuklaayush commented on #1655
I think this is an inherent limitation with Choropleth maps. We can normalize the colours based on a number of factors, but that won't solve it completely. I'm hoping that the recently added Hotspots view addresses this
![image](https://user-images.githubusercontent.com/27727946/82139546-21c65480-9846-11ea-9343-7681af373279.png)

[2020-05-17 08:27] #1655 closed, assigned to nobody

[2020-05-17 08:28] shuklaayush commented on #1647
Closing due to inactivity

[2020-05-17 08:28] #1647 closed, assigned to nobody

[2020-05-17 08:29] shuklaayush commented on #1645
I think this has been fixed now. The performance should be much better

[2020-05-17 08:29] #1645 closed, assigned to nobody

[2020-05-17 08:29] #1628 closed, assigned to nobody

[2020-05-17 08:31] shuklaayush commented on #1619
Irrelevant after the Essentials redesign

[2020-05-17 08:31] #1619 closed, assigned to nobody

[2020-05-17 08:33] shuklaayush commented on #1595
Might've been happening because of district name mismatches. Should be fixed now

[2020-05-17 08:33] #1595 closed, assigned to nobody

[2020-05-17 08:33] #1907 closed, assigned to nobody

[2020-05-17 08:40] shuklaayush commented on #1498
Seems irrelevant now after the Essentials redesign

[2020-05-17 08:40] #1498 closed, assigned to nobody

[2020-05-17 08:41] jeremyphilemon commented on #1508
@tannakartikey thank you for helping with the automation :D

[2020-05-17 08:41] #1508 closed, assigned to nobody

[2020-05-17 08:41] #1483 closed, assigned to nobody

[2020-05-17 08:42] shuklaayush commented on #1469
Seems irrelevant now after the Essentials redesign

[2020-05-17 08:42] #1469 closed, assigned to Geetakokate

[2020-05-17 08:43] #1906 closed, assigned to nobody

[2020-05-17 08:51] shuklaayush commented on #1230
I guess a lot of this is obsolete now. It's best if we open separate issues for things that are still left to be addressed

[2020-05-17 08:51] #1230 closed, assigned to nobody

[2020-05-17 08:52] shuklaayush commented on #1168
Closing due to inactivity

[2020-05-17 08:52] #1168 closed, assigned to nobody

[2020-05-17 08:52] #1903 closed, assigned to nobody

[2020-05-17 08:58] shuklaayush commented on #992
I think the hotspot view is a good alternative for this. In my opinion, a district-wise heatmap isn't a viable option since the number of cases differs by an order of magnitude across districts. This results in the visualization being extremely sparse.

![image](https://user-images.githubusercontent.com/27727946/82140006-12e1a100-984a-11ea-9423-4a7ef0886a12.png)

[2020-05-17 08:58] #992 closed, assigned to shuklaayush

[2020-05-17 09:15] AzimJaved commented on #1822
I'm not sure. I still have the issue in Incognito with all addons disabled. @phoenicopteri was able to reproduce it.

![image](https://user-images.githubusercontent.com/24254528/82140549-f7c46080-984c-11ea-94db-0471df5a49c4.png)

[2020-05-17 09:34] phoenicopteri commented on #1822
Yes, this is still reproducing without DarkReader
Please note issue is only on firefox, chrome works fine

[2020-05-17 09:48] shuklaayush commented on #1870
This was because of a stray entry in the API. It's fixed now

[2020-05-17 09:48] #1870 closed, assigned to nobody

[2020-05-17 09:51] bee-rickey commented on #1822
@phoenicopteri @AzimJaved It's working for me on Mac. Are you both on windows?

[2020-05-17 09:52] phoenicopteri commented on #1822
Yes this is on Windows 10 for me

[2020-05-17 09:57] bee-rickey commented on #1287
I don't think we can fix this. The reason is two fold -
1. We can't go based on bmc bulletins. We follow state bulletins and it become impossible to reconcile data given by districts with states as their time frames for reporting are different.
2. Merging two geographical districts is not a call we can take. I'm not even sure if it's legal to do so :P. If we remove Mumbai Suburban and keep it as M

[2020-05-17 09:57] #1287 closed, assigned to bee-rickey

[2020-05-17 09:58] sijusamson commented on #1843
@bee-rickey is anyone assigned for this ?

[2020-05-17 10:06] shuklaayush commented on #1822
Weird, it's working for me on Windows. Which version of Firefox are you guys on?

[2020-05-17 10:20] AzimJaved commented on #1822
Windows 10, Firefox 76.0.1 for me.

[2020-05-17 10:35] phoenicopteri commented on #1822
Firefox 76.0.1, it worked fine in Firefox 75.x

[2020-05-17 10:43] tshrwbl opened #1913 "ALL-STATE as a button not in drop-down"
**Is your feature request related to a problem? Please describe.**
Users always need to reset ALL-STATE through the drop-down menu although it's most sought after graph view. The site has become much dynamic with hover feature all over. The only safe mouse path is the green one. Make a mistake and you have to reset it.
![image](https://user-images.githubusercontent.com/27141947/82142325-247e7500-9

[2020-05-17 10:49] shuklaayush commented on #1822
I'm on the same version and it's working fine for me. Do you guys get any logs?

![ss](https://user-images.githubusercontent.com/27727946/82142383-9bb40900-9859-11ea-9e38-4660ca251260.JPG)

[2020-05-17 11:36] ayushya commented on #1787
I would like to /claim it

[2020-05-17 11:52] nayakrahul commented on #1913
You can click in empty space in map(where there is no states) or total row in the table to reset it.

[2020-05-17 12:16] phoenicopteri commented on #1822
I did not get any logs.
This issue seems to be happening on devices with the default Intel GPU only. Did not hit it on a Windows 7 machine with additional NVIDIA GeForce on it

[2020-05-17 12:37] tshrwbl commented on #1913
I can't reproduce what you said @nayakrahul

[2020-05-17 12:57] shuklaayush commented on #1822
So, it probably has something to do with the SVG filters that we're using. Can you play around with those and see if changing anything fixes this?

![image](https://user-images.githubusercontent.com/27727946/82147228-f0f91600-986b-11ea-96d0-1ebc43d8af67.png)

[2020-05-17 13:12] AzimJaved commented on #1822
![image](https://user-images.githubusercontent.com/24254528/82147809-f48d9c80-986d-11ea-8c12-1a53a9e8e763.png)
Removing ```url(#balance-colour)``` makes it similar, although not exactly the same as on Chrome for me. Removing it from both Chrome and Firefox make the maps identical for me.
If it matters, I run an Nvidia GPU and have this issue. I do not believe it's related.

[2020-05-17 13:14] aman4512 commented on #1913
Double click in map's empty area works for me

[2020-05-17 13:28] shuklaayush commented on #1822
So that's a custom SVG filter that we've defined in https://github.com/covid19india/covid19india-react/blob/c030fa8f9d8b3bf83d34cc5c8cdaea7c498e3d8e/src/components/choropleth.js#L474-L486

Can you check if removing the position/height style attributes from this filter helps?
You'll find it here

![image](https://user-images.githubusercontent.com/27727946/82148178-5d761400-9870-11ea-8961-cf556034e7

[2020-05-17 13:36] AzimJaved commented on #1822
Nope, no change.
![image](https://user-images.githubusercontent.com/24254528/82148384-74693600-9871-11ea-8bc4-923dd7abdfc5.png)
The buttons below got shifted downwards a bit though.

[2020-05-17 13:41] shuklaayush commented on #1822
Yeah, ignore that. Looks like the filter is not working properly. This could be related to the GPU thing mentioned earlier. I'll read up and see if I can find anything

[2020-05-17 13:49] AzimJaved commented on #1822
Alright.

[2020-05-17 14:22] maheshwarimrinal opened #1915 "Date of last patient found"
Request for a column where we can see when was the last patient found or admitted in particular state as per date.

[2020-05-17 17:57] harishmathur commented on #1915
Please assign this to me

[2020-05-17 20:26] KaustubhDamania commented on #1504
Hey, can anyone of the mentors review the issue and assign it to me? @jeremyphilemon @shuklaayush @JunaidBabu @sudevschiz

[2020-05-17 20:46] venunalla7731 commented on #1619
thanks

[2020-05-18 08:11] Shivangi2301 commented on #1831
No, not yet. I also tried installing latest versions of npm and node.

[2020-05-18 08:31] rahgurung commented on #1831
I think the error is because of the space in your folder name `R & D`. Try removing the space, first of all, it is always a good idea to never include whitespaces in folder and file names as it might cause parsing errors internally.

[2020-05-18 10:22] rahgurung commented on #1831
Try `RandD`, in case removing space doesn't work because `&` is a special character.

[2020-05-18 10:27] djkher opened #1919 "Add recovery rate & mortality rate to the dashboard"
**Problem:**
Currently the dashboard displays the numbers (active, confirmed etc) but it doesn't show various rates such as recovery rate, mortality rate etc. These figures could be quite useful.

**Solution:**
Add recovery and mortality rate to the dashboard. These can be calculated using simple division.

Recovery Rate = Total Recovered / Total Confirmed * 100
Mortality Rate = Total Deaths / Tot

[2020-05-18 12:10] ghost opened #1921 "[Language issue] Mortality Rate on state pages say "0 have unfortunately passed away per 100 confirmed""
### The Issue
![image](https://user-images.githubusercontent.com/51771172/82210818-637dfa80-992d-11ea-9f8e-8a1c9faf92ac.png)

Please correct this by providing alternative statement to translate when there's no death cases.

### Suggested alternative wording in English
`For every 100 confirmed cases, fortunately no one has died from the virus.`

[2020-05-18 14:08] ghost commented on #1915
Okay

[2020-05-18 14:11] #1724 closed, assigned to nobody

[2020-05-19 03:41] abhigupta19 opened #1922 "Add data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-19 04:21] prabodhmeshram opened #1923 "Website not loading on Browsers"
**Describe the bug**
The site is down

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org.'
2. See blank page
3. Console error

**Expected behavior**
Should load the website

**Screenshots**
<img width="1384" alt="image" src="https://user-images.githubusercontent.com/6660187/82284032-a1befc80-99b5-11ea-8a87-96b2dcfe0844.png">

**Desktop (please complete the f

[2020-05-19 05:39] nanduri1998 commented on #1896
Any update on this? Or can I do a pull request

[2020-05-19 05:39] harsshjain opened #1924 "Space between confirmed and active case"
To change little formatting between the confirmed and active case.

![Screenshot_2020-05-19-11-06-14-567_com android chrome](https://user-images.githubusercontent.com/65491327/82288929-38dd8180-99c1-11ea-95a0-c84d5337b4db.png)

[2020-05-19 05:46] #1922 closed, assigned to nobody

[2020-05-19 05:47] shuklaayush commented on #1923
Seems to be fixed

[2020-05-19 05:47] #1923 closed, assigned to nobody

[2020-05-19 06:16] rajat9garg opened #1925 "Wrong Information"
The Total number of cases and district wise data of Haryana is wrong. I matched it with daily state bulletin the data is wrong.

[2020-05-19 06:18] shuklaayush commented on #1925
Please read [this](https://github.com/covid19india/covid19india-react/issues/662#issuecomment-612361044).

[2020-05-19 06:18] #1925 closed, assigned to nobody

[2020-05-19 07:40] ChaituVR commented on #1924
+1 same for me in smaller devices

[2020-05-19 08:31] anukaal commented on #1924
Yes , I think so some spaces should be there in between the confirmed and the active cases

[2020-05-19 09:20] anantakrroy opened #1930 "Bihar state recovery increment numbers not shown in state row"
**Describe the bug**
The recovery increment numbers using the green arrow and corresponding number is not being shown for Bihar state since atleast the past 4 instances even though the updates stated the same.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/'
2. Scroll down to 'Bihar' and check **Recovered** column
3. See error

**Expected behavior**
The

[2020-05-19 10:23] yashshah1 opened #1931 "Add all-contributors bot"
**Is your feature request related to a problem? Please describe.**
Not a feature for the website, but for the repository instead
**Describe the solution you'd like**
Add something like: https://allcontributors.org/ that automates the process of recognising people for their contributions

**Describe alternatives you've considered**
Haven't yet.

[2020-05-19 10:49] sijusamson commented on #1843
I would like /claim for this issue

[2020-05-19 11:24] gurudeb commented on #1924
Let me /claim this issue

[2020-05-19 12:42] sarangrakhecha opened #1936 "State daily report missing"
**Describe the bug**
Per day information for some states is missing. This feature for some reason keeps on changing.
It shows up for some states, but for most of them its missing. Maharashtra is always missing, where the cases are the highest.

**Screenshots**
<img width="538" alt="Screen Shot 2020-05-19 at 8 38 24 AM" src="https://user-images.githubusercontent.com/20394342/82327329-39b7e880-99ac-

[2020-05-19 12:52] phoenicopteri commented on #1936
The daily cases are updated here after state governments provide an update with the daily bulletin. For Maharashtra it is usually at night around 8-9 pm local time daily.
At the end of the day , the numbers for all states that provided an update on that day can be seen

[2020-05-19 13:10] bee-rickey commented on #1936
Understanding issue. The behavior is already explained by @phoenicopteri. Closing this. If there's a difference in our understanding, please tag me in a comment.

[2020-05-19 13:10] #1936 closed, assigned to nobody

[2020-05-19 13:34] rajadilip opened #1937 "Total no of cases overlapping with Active cases in mobile devices."
Total no of cases overlapping with Active cases in mobile devices.

[2020-05-19 13:48] shuklaayush commented on #1937
Duplicates #1924

[2020-05-19 13:49] #1937 closed, assigned to nobody

[2020-05-19 14:19] Divastra opened #1938 "Text overlapping in statistics area"
**Describe the bug**
The number of confirmed cases and active cases of whole india are overlapping because after crossing 1 lakh confirmed cases, I there is no gap between the two columns.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Main page'
2. Scroll down to 'Statistics of whole India'
3. See error

**Expected behavior**
A small space between the numbers of 2 columns was expec

[2020-05-19 16:39] manan36chauhan opened #1939 "update every hour this site"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-19 17:37] #1939 closed, assigned to nobody

[2020-05-19 18:10] iamrishav commented on #1938
Duplicate #1924

[2020-05-19 23:53] nayakrahul opened #1941 "Wrong delta percentage if previous value is negative"
**Describe the bug**
Delta percentage is wrong in deltabar graphs if previous value is negative. As you can see in the screenshot, the last 3 delta percentage is wrong.

1. For May 17, cases decreased from -17 to -26, so percentage delta should be negative but it is shown positive.
2. For May 18, cases increased from -26 to -18, so percentage delta should be positive but it is shown negative.
3. F

[2020-05-19 23:53] nayakrahul commented on #1941
Let me /claim this.

[2020-05-20 00:34] shuklaayush commented on #1941
Oops :sweat_smile:

[2020-05-20 01:44] #1941 closed, assigned to nayakrahul

[2020-05-20 02:16] #1938 closed, assigned to nobody

[2020-05-20 03:36] vineetrathor commented on #1930
/claim

[2020-05-20 03:48] vineetrathor commented on #1930
I don't think that green arrow is shown for any state, the only red arrow is shown when a new case comes.

[2020-05-20 04:26] anantakrroy commented on #1930
Please refer to state of Odisha in attached image. Green arrows are a part of the row

[2020-05-20 05:43] vineetrathor commented on #1930
yes that's true, I will try to solve it

[2020-05-20 05:44] humble-barnacle001 opened #1943 "Problem with the display attribute"
**Description*
The problem with the display attribute of the sidebar (I guess) on 1366*768 resolution monitor. Basically, on hovering over the sidebar, the map and the list of states is displayed side by side and moving away from it displays them both on top of each other.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to homepage
2. Hover over the side navigation bar
3. See the Error

[2020-05-20 05:50] harsshjain commented on #1924
Issue solved!

![IMG_20200520_111832](https://user-images.githubusercontent.com/65491327/82409682-e7e68f80-9a8b-11ea-9eca-386ae4993aab.jpg)

[2020-05-20 05:50] #1924 closed, assigned to nobody

[2020-05-20 10:11] mohammedsrehan opened #1944 "Tap on Maharashtra on India map redirects to karnataka"
**Describe the bug**
Tapping on the Maharashtra on the India map redirects to the Benguluru urban in Karnataka

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'India map section'
2. Click on Maharashtra
3. See error

**Expected behavior**
Maharashtra state page was expected to be displayed.
But it is directing to the Bengaluru urban district in Karnataka

**Screenshots**
![Chrome](htt

[2020-05-20 10:30] mohammedsrehan commented on #1944
I have noticed that this unexpected behaviour happens with all the states. Tapping on a state redirects to another state's district.

Also this doesn't happen on all occasions. It happens few times but it is very annoying. So it has to be fixed.

[2020-05-20 10:51] Shivangi2301 commented on #1831
I Tried this too. It didn't solve the issue.

[2020-05-20 11:16] rohit154 opened #1945 "Adding "Restaurant Opened for Delivery" feature in Essentials."
To make people aware of the restaurants providing home delivery to them, a restaurant feature must be made available to them in the Essentials section.

I would like to add this feature on a new page which will include the details of the restaurant ( such as an address, contact number, and image). Basically this page will help people to know about the restaurants available for them in this bad tim

[2020-05-20 11:54] harishmathur commented on #1943
Please assign this to me

[2020-05-20 12:39] rahgurung commented on #1831
Alright, can you show me the error with new folder name?

[2020-05-20 13:30] Shivangi2301 commented on #1831
Sorry, my bad, using "and" instead of "&" solved it. But I am running into another issue. After running the project the homepage is not displaying the page on live site, it just shows a blue dot.

[2020-05-20 14:36] gopaljigaur opened #1946 "Bug: Need to click two times on the menu button to close it on mobile version"
**Describe the bug**
On the mobile version of the site, after opening the menu we need to click on the menu button twice to close it. Clicking it only once causes the menu list to reopen.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to mobile version of the webpage
2. Click on menu button, menu list will open
3. Click on the menu button again, it won't close
4. Click on it again and i

[2020-05-20 14:38] gopaljigaur commented on #1946
/claim if possible

[2020-05-20 14:38] bee-rickey commented on #1945
How do you collate this data? I presume it's quite a lot of data that needs to be collected? Also, wouldn't Zomato/Swiggy already have this?

[2020-05-20 14:43] bee-rickey commented on #1944
@jeremyphilemon @shuklaayush Have you noticed this any time? Some state resolution issue or caching issue perhaps?

[2020-05-20 14:52] shuklaayush commented on #1944
Naa, I think it's because of the flexbox. Somehow touch events aren't propagated properly when the layout changes due to differences in state numbers. We should be able to fix it by adjusting the width of the boxes.

![Peek 2020-05-20 20-19](https://user-images.githubusercontent.com/27727946/82460797-408f4a00-9ad7-11ea-8810-23a3811c3950.gif)

[2020-05-20 15:13] brunettebungirl opened #1947 "Count of state unassigned"
Wanted to know if these cases have been counted twice

[2020-05-20 16:11] VarunChawla opened #1948 "Corrupted data for Haryana coming"
Please find attached screen shot for the same..
![Screenshot_20200520-213708](https://user-images.githubusercontent.com/8905041/82470158-9c130500-9ae2-11ea-827d-55b4dabbc5f6.jpg)

[2020-05-20 18:24] mohammedsrehan commented on #1944
This is happening when we switch from the India map with confirmed cases of length 6 digits to state map with cases < 6 in length. The width of the confirmed cases increases when the confirmed cases length exceeds 6 digits. There by moving the alignment of the map every time this change in cases happen.

To solve this issue the width of the confirmed cases can be increased to accomodate digits of

[2020-05-20 18:31] shuklaayush commented on #1948
Refer to https://github.com/covid19india/covid19india-react/issues/1846#issuecomment-626884611

[2020-05-20 18:31] #1948 closed, assigned to nobody

[2020-05-20 18:33] shuklaayush commented on #1946
Seems to be working fine for me on Chrome. Is this browser specific?

[2020-05-20 19:09] rohit154 commented on #1945
If we use google forms to collect data directly from the restaurant owners them it would be easy to collate this data. We will only be collecting the data such as
-restaurant name
-complete address
-contact number
Now considering the platforms Swiggy and Zomato,swiggy charges around 18-23% per order for the restaurants on its platform similarly zomato charges around 1000rs. Looking at the current

[2020-05-21 04:41] itsmeatlokesh opened #1949 "Telangana data is incorrect"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Telangana state check active count'
2. Check Hyderabad Active cases'
3. District active cases are more than State for Telangana
4. See erro

[2020-05-21 07:11] #1949 closed, assigned to nobody

[2020-05-21 07:23] manoj30075 opened #1950 "Change the route when language is changed."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to share a link to my uncle where he can read the page directly in Telugu(LANGUAGE). The problem with the present issue is the route is not changing when language is changed. This is becoming an issue for me to explain to my uncle ho

[2020-05-21 07:57] HelioStrike opened #1951 "Telangana contains a data point called 'Unknown', containing '-430' active cases."
**Describe the bug**
Telangana contains a data point called 'Unknown', containing '-430' active cases.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [covid19india.org](https://www.covid19india.org/).
2. Click on 'Telangana' in the states list.
3. 7th in the list of places is 'Unknown' with '-430' active cases.

**Expected behavior**
The number of active cases shouldn't be negative.

[2020-05-21 09:20] harsshjain commented on #1433
Can we add a button which gives result for previous day like this. It would be helpful for those who couldn't catch up previous day's update.

![IMG_20200521_100106](https://user-images.githubusercontent.com/65491327/82544161-530a9180-9b72-11ea-8358-0d9d3d9e118e.jpg)

[2020-05-21 09:52] shuklaayush commented on #1951
Refer to https://github.com/covid19india/covid19india-react/issues/1846#issuecomment-626884611

[2020-05-21 09:52] #1951 closed, assigned to nobody

[2020-05-21 10:23] HelioStrike commented on #1951
@shuklaayush I still don't get it. What variables are fixed in the equation, from the data that's released?

Active unknown = Confirmed Unknown - Recovered Unknown - deceased unknown.

From what I understand 'Confirmed Unknown' is the only data that we receive.

[2020-05-21 11:10] guru-sode opened #1952 "Issue with CSS while changing the language"
In home page there is a option to change the language. If we click 'English' which is default selection the CSS is breaking

**To Reproduce**
1. Visit the homepage.
2. Click on 'English'
2. See the CSS breaking

**Expected behavior**
The width of the selection panel should be proper.

**Screenshots**

![Screenshot 2020-05-21 at 4 39 50 PM](https://user-images.githubusercontent.com/41196239/8255349

[2020-05-21 11:14] specter78 opened #1953 "Show changes over a time period"
**Is your feature request related to a problem? Please describe.**

I want to see changes in the last 24 hours and in the last 7 days, which I do not think is possible.

**Describe the solution you'd like**

Add a button or page where changes over a time period can be seen.

**Describe alternatives you've considered**
NA

[2020-05-21 11:23] shuklaayush commented on #1953
We do have a time-series at the bottom which shows changes in the state/country data. Or are you referring to something else?

[2020-05-21 11:26] guru-sode commented on #1952
@shuklaayush Please assign this issue to me, if it is a genuine issue

[2020-05-21 11:27] shuklaayush commented on #1951
So what happens is that sometimes states do not disclose the districts of the patients who are recovering. For confirmed cases, the data is usually released. In this case, the Unkown confirmed becomes less than the Unknown recovered, and therefore the Unknown active is negative.

Hope that clears things up.

[2020-05-21 11:36] specter78 commented on #1953
On a closer look, yes that does provide the data.

[2020-05-21 11:36] #1953 closed, assigned to nobody

[2020-05-21 11:51] HelioStrike commented on #1951
@shuklaayush I think I understand. Thanks :)

[2020-05-21 12:28] bee-rickey commented on #1945
Interesting. @sudevschiz @JunaidBabu thoughts?

[2020-05-21 12:32] bee-rickey commented on #1947
Open for interpretation I would say. The MohFW site puts these numbers out as unassigned to any state. And we have seen PB say they have transferred cases to "Central pool". So these could be cases that are not being owned by states for whatever reason. We tally with the state bulletin counts. And every morning by 9:15 (when the mohfw site updates), we match with mohfw state numbers. Hence it's an

[2020-05-21 13:40] gopaljigaur commented on #1946
Yeah, so I checked that again today on the same browser and it worked fine now. Yesterday, I couldn't see the 'close' button on opening the menu, but now it seems to be working fine.

[2020-05-21 13:47] #1946 closed, assigned to nobody

[2020-05-21 14:33] mohammedsrehan commented on #1944
i want to /claim this

[2020-05-21 15:31] anukaal opened #1955 "Provide Information For the Amphan Cyclone"
You can add information about the deaths have been there in the cyclones prone area which was occurred on Wednesday(20th May).
More helpful more for the local peoples to get how many deaths have been there due to the Amphan cyclone

[2020-05-21 15:37] shuklaayush commented on #1839
Fixed via addca3bce4dda6c0a9543ab03c805f0ef2b6469d

[2020-05-21 15:37] #1839 closed, assigned to nobody

[2020-05-21 18:19] Dinesh-Dewangan opened #1957 "Within State total count is less than showing count."
Within State total count is not showing proper.
![image](https://user-images.githubusercontent.com/35292249/82591646-4bbca580-9bbd-11ea-8214-d04250267c56.png)

Expected:- State Count should be show summation of all district

[2020-05-21 19:25] shuklaayush commented on #1955
I think this is out of our scope. It's better if we stick to Covid19 reporting

[2020-05-21 19:25] #1955 closed, assigned to nobody

[2020-05-21 21:12] ayaankhan98 opened #1958 "search box placeholder text"
**Describe the bug**
Search box placeholder text is placed out of the box

**Expected behavior**
expected within the search box

**Screenshots**
![bug](https://user-images.githubusercontent.com/43348292/82607063-bd085280-9bd5-11ea-8445-89cba0223294.png)

[2020-05-21 23:48] srvraj311 opened #1959 ""Unassigned States" Link opens blank page"
Clicking on the "Unassigned States" button takes to a blank page, navigating back closes the window.

[2020-05-22 03:19] rahgurung commented on #1831
Let us know if there was any error log in the terminal further, try deleting the node_modules folder and then do 1) `npm install` 2) `npm start`.

[2020-05-22 05:15] maheshwarimrinal opened #1960 "Calendar View"
Request for calendar view in website where user can go and check details as per dates

[2020-05-22 10:29] bmnidhin opened #1961 "Contrast of Red (.ischerry) colour in Dark Mode"
**Describe the bug**
Red color (#ff073a)[.is-cherry] in dark mode is not WCAG standard for accessible text against Background rgba(51,20,40,1).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '/ '
2.  'class .is-confimed  '.is-cherry'

**Expected behavior**
A red colour matching to background contrast

**Screenshots**
If applicable, add screenshots to help explain your problem.
![imag

[2020-05-22 10:49] noii98 opened #1962 "State select drop down list on desktop website."
**Describe the bug**
When you select one of the first few options. Your mouse is still on the map and this changes the state you've selected from the drop down to where your mouse was.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the state select drop down
2. Click on 'All States'
3. If you click in front of one of the states in the map. Your selection from drop down is overridden.

[2020-05-22 11:43] crygnus opened #1963 "For Marathi, show digits in Marathi (e.g. ४ instead of 4)"
**Is your feature request related to a problem? Please describe.**
People trying to look at the data in their regional language (e.g. Marathi) like to see digits in their regional language.

**Describe the solution you'd like**
Render the digits in numbers in Marathi when user has chosen Marathi as the locale.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
Ad

[2020-05-22 14:00] anukaal commented on #1957
API is not working properly

[2020-05-22 14:01] anukaal commented on #1958
Not so needed I think , its look fine

[2020-05-22 14:38] #1958 closed, assigned to nobody

[2020-05-22 14:44] nayakrahul opened #1964 "when there is no match in search bar, nothing happens but loader persists which gives a feeling that some result is coming up"
**Describe the bug**
When there is no match in search bar,  nothing happens but loader persists. Loader persists which indicates that some result will come up but nothing comes up. So, we should indicate that there is no result for given term by using text or some kind of svg.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home
2. Type random like 'abc' in search bar
3. Notice that t

[2020-05-22 16:36] Binu42 opened #1965 "Expanded Navbar is not getting closed on first click of close btn in mobile device"
**Describe the bug**
on changing theme and clicking close btn, doesn't close navbar on first click, user need to click two times to close expanded navbar. even on click of close btn expand component render again.

**To Reproduce**
Steps to reproduce the behavior in mobile only:
1. go to https://www.covid19india.org/
2. click on menu btn.
3. click on moon or sun icon.
4. then try to close navbar by

[2020-05-22 17:19] kumaravel95 opened #1968 "Focus and blur search input animation effects"
**Feature request**
Focus and blur input animation effects always can enhance the experience of the user. That can be added in the search input

Solution:

**BEFORE:**
![captured (1)](https://user-images.githubusercontent.com/9389944/82691056-d5678400-9c4c-11ea-9454-c4b0fc14bbaf.gif)

**AFTER:**
![captured](https://user-images.githubusercontent.com/9389944/82691043-ce407600-9c4c-11ea-89a1-1bc0ba04

[2020-05-22 17:19] kumaravel95 commented on #1968
I already worked on this request and below is the pull request
#1967

[2020-05-22 17:27] noii98 commented on #1834
What is the size of your viewport?

[2020-05-22 18:44] yashbujji opened #1969 "There is a deepscan plug-in VScode used to scan all react code for unused variables, code practice and warnings. I am implementing that on our code base so that there might be some cleanup"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2020-05-22 18:50] shuklaayush commented on #1969
Please follow the issue format

[2020-05-22 18:50] #1969 closed, assigned to nobody

[2020-05-22 19:18] yashbujji opened #1970 "Scanning our code base with DeepScan Plug-in of Visual studio code."
There may be some code clean-up like unused variables, null-check operator, code severity warnings. We can run a deepscan plug-in provided by VS-code. and see if our code is free of the above.

To Reproduce:
1.Install DeepScan plug-in from extensions on the left panel in VScode.
2.after it is installed, confirm the plug-in message and start running.
3. To run, go to any .js file and wait for 1 sec

[2020-05-23 06:18] sandeepsj commented on #1716
Looks like nothing changed!!

[2020-05-23 07:46] Pranav9931 commented on #1834
Its 1366*768 man

[2020-05-23 07:51] rahul8436 opened #1971 "**Bankura is having one case of covid19 positive**"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-23 09:06] gagan3012 opened #1972 "Unknown number of cases in demographic page"
**Is your feature request related to a problem? Please describe.**
In the demographic page if we could not include the cases in which the gender data is not reported it would make the page more organized.

**Describe the solution you'd like**
In the demographics section if we could change the way we display data into a more organized form like a larger scatter plot based on India's map.

**Describ

[2020-05-23 09:07] #1971 closed, assigned to nobody

[2020-05-23 10:36] humble-barnacle001 commented on #1943
Comment with '/claim'

Ref: https://github.com/covid19india/covid19india-react/issues/662

[2020-05-23 11:47] nayakrahul opened #1973 "In state page, clicking outside in window does not close dropdown menu (opened)"
**Describe the bug**
In state page, clicking outside in window does not close dropdown menu (opened)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to state page of any state.
2. Click on dropdown menu
3. Now click anywhere outside of opened dropdown menu
4. See that the dropdown menu does not close.

**Expected behavior**
Dropdown menu should close when clicked outside.

**Screenshots*

[2020-05-23 16:57] rishigole42 opened #1975 "Hi covid-19 website made using your api"
Hello, I am made a covid-19  dashboard using covid19india.org

Here is the link  of dashboard made by me

https://web2.eu5.org/

[2020-05-23 17:19] championballer opened #1976 "Summation of confirmed cases for the day in Haryana"
**Describe the bug**
The total cases for Haryana are not equal to the sum of cases from individual districts. Is there a specific reason behind it?

**To Reproduce**
Tap the Haryana row in the main stats table.

**Expected behavior**
In my knowledge the confirmed cases for the day should be equal to the sum of cases confirmed from individual districts. Would love to know if a different design deci

[2020-05-23 17:35] nayakrahul opened #1977 "Footer in all pages"
**Is your feature request related to a problem? Please describe.**
Footer should be added in all pages (deepdive, essentials, about).

[2020-05-23 18:22] #1740 closed, assigned to nobody

[2020-05-23 18:22] #1885 closed, assigned to nobody

[2020-05-23 18:39] kalpana267 opened #1978 "Unable to view gender and country flag colour codes and flags"
Issues
1.Unable to see the patient details like gender and other non essential details.Question mark is coming up
2.colour code for gender is not populating
3.flag for countries are not getting reflected.

[2020-05-23 23:43] sparsh-99 opened #1979 "Toggling dark theme button generates delay in switching"
**Describe the bug**
There is a bug which delays the switching between the dark theme and the normal theme which looks unattractive and horrible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Menu'
2. Click on 'Dark theme button'
3. Again, click on the same button
4. See error

**Expected behavior**
There should be no delay. Toggling should be done in one go.

**Screenshots**

**Be

[2020-05-24 06:03] roydebalina opened #1980 "onClick of "State Unassigned" in dropdown takes to "All State data""
**Describe the bug**
Click on "State Unassigned" in the drop down menu of state data takes the cursor to "All State" data, i.e. to the beginning of the list.
If using keyboard to navigate the list. This makes you return to top and the keyboard cursor never reaches to the states bellow "State Unassigned"

[2020-05-24 06:18] aseef17 opened #1981 "Wrong report of cases in Telangana"
The number of recovered cases for unknown district is more than the confirmed.

![image](https://user-images.githubusercontent.com/26878414/82747207-7ae93780-9db4-11ea-97b1-bdc24c4cf88e.jpeg)

[2020-05-24 07:43] shuklaayush commented on #1981
Refer to https://github.com/covid19india/covid19india-react/issues/1846#issuecomment-626884611

[2020-05-24 08:15] anantakrroy commented on #1930
Any updates on this? **To add:** The recovery number increments are shown very rarely and I do not understand why this is so for certain days but are not shown rest of the days.Aren't the update figures mapped to the row data? Currently, this does not seem to be true.

[2020-05-24 09:47] #1981 closed, assigned to nobody

[2020-05-24 10:08] sparsh-99 commented on #1843
@sijusamson @kamal-aujla If its possible to place Chandigarh on the map, then it will be wrong  according to the Indian map. As there is no area assigned to chandigarh on the Map of India!!!

[2020-05-24 11:48] kamalpreet-singh18 commented on #1843
You can check out the state map of Punjab and Haryana and then you can get
the idea about its location. Just like other Union territories like
Pondicherry, Dadar&nagar Haveli, if  it is possible to place chandigarh's
location on the map. Otherwise, there won't be any way to get data of
chandigarh from the Map displayed.

On Sun, May 24, 2020 at 3:38 PM Sparsh Garg <notifications@github.com>
wrote:

[2020-05-24 14:22] anukaal opened #1982 "Summation of confirmed cases for the day in Goa"
**Describe the bug**
The total cases for Goa(increased cases) are not equal to the sum of cases from individual districts. Is there a specific reason behind it?

**To Reproduce**
Go to the section of Goa in the map and click it..

**Expected behavior**
In my knowledge the confirmed cases for the day should be equal to the sum of cases confirmed from individual districts. Would love to know if a di

[2020-05-24 16:17] Divastra opened #1983 "Red/Orange/Green Zone is missing"
**Describe the bug**
Red zone orange and Green Zone was present earlier is now missing from all the states in the statistics

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'All state statistics'
2. Click on 'Any state name'
3. See error

**Expected behavior**
Colours of all zones was expected to be present in the district of all states.

**Smartphone (please complete the following in

[2020-05-24 16:22] sparsh-99 commented on #1843
Okay

[2020-05-24 17:50] viji12oct commented on #1977
Do you mean links to GitHub page and others at the bottom?

[2020-05-24 17:51] viji12oct commented on #1964
/claim

[2020-05-24 17:57] nayakrahul commented on #1977
Yes

[2020-05-24 19:10] #1947 closed, assigned to nobody

[2020-05-24 19:12] bee-rickey commented on #1983
Zones have been removed from the site aa, the classification has moved to containment zones. Zones will not be displayed unless the govt brings back district zones.

[2020-05-24 19:12] #1983 closed, assigned to nobody

[2020-05-24 19:14] bee-rickey commented on #1975
Nice! :) If you want us to include this in our list, please head over to https://github.com/covid19india/api and raise a PR adding your website in the list.

[2020-05-24 19:14] #1975 closed, assigned to nobody

[2020-05-24 20:05] Indrasen-007 opened #1984 "Percentage value of number of death and recovered."
**Is your feature request related to a problem? Please describe.**
As a user I would like to know what percentage of people have recovered and percentage of the total cases led to death.

**Describe the solution you'd like**
A very simple percentage value.
For example RecoveryRatePercentage = TotalRecovery * 100/TotalCases
TotalDeathsPercentage = TotalDeaths * 100/TotalCaese

**Describe alternativ

[2020-05-25 03:28] rishigole42 opened #1985 "Include This https://web2.eu5.org/"
i want to include my project and working with you please

Here is the link
https://web2.eu5.org/

[2020-05-25 05:38] prabureddy opened #1987 "Dropdown in displaying an empty string"
**Describe the bug**
An empty string which is rendered in the breadcrumb dropdown list on the state page.

**Description of PR**

I tested this in my machine. When I console log the states in PureBreadcrumbs Method which is located in components/ state.js, I noticed there is a state code called UN which does not exist and the state code UN is rendered in the PureBreadcrumbs dropdown list as an emp

[2020-05-25 05:49] prabureddy commented on #1987
I would like to /claim this issue after this issue is /available.
Thank You.

[2020-05-25 06:51] #1812 closed, assigned to nobody

[2020-05-25 08:47] shuklaayush commented on #1985
Raise a PR in the [API repo](https://github.com/covid19india/api) if you're using our API for your website and want it to be mentioned like others over [here](https://api.covid19india.org/projects/miscellaneous.html).

[2020-05-25 08:47] #1985 closed, assigned to nobody

[2020-05-25 10:45] aayushgupta97 opened #1988 "Gender and Age distribution plots not updated with all raw data API"
**Describe the bug**
The gender pie chart and the age distribution histogram are not using all the 5 different raw data APIs. The collective sum of both should be over 20k while our sample is only 5k and 2k respectively.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/deepdive
3. Scroll down to Patient Gender and patient's by age
4. See error

**Expected b

[2020-05-25 11:13] prabureddy commented on #1988
I would like to /claim this issue after this issue is /available.
Thank You.

[2020-05-25 16:14] harsh1399 commented on #1984
I'm new to react and a first-time contributor. But I would like to work on this.

/claim

[2020-05-25 16:17] harsh1399 commented on #1982
I'm a first-time contributor. But I want to contribute to solving this issue.

\claim

[2020-05-25 16:21] harsh1399 commented on #1977
I'm new to react and a first-time contributor. But I would like to work on this.

/claim

[2020-05-25 16:22] harsh1399 commented on #1976
I'm new to react and a first-time contributor. But I would like to work on this.

/claim

[2020-05-25 21:42] sank8dalvi commented on #1287
This issue can be solved by considering Mumbai Suburban and Mumbai as one district and they are also referred as one district by Maharashtra government.
I can fix the map by editing the topojson as I have experience working with it.
I will remove Mumbai Suburban completely which as of now is shown as zero cases and expand Mumbai to cover Mumbai Suburban as well.
I will be editing maharashtra.json

[2020-05-26 03:32] flashblaze opened #1989 "TypeError: ansiStyles.color is undefined"
**Describe the bug**
Upon running `npm i && npm start`, the app displays this error
`TypeError: ansiStyles.color is undefined`

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the repo
2. Go into the directory and run `npm i && npm start`
3. The app shows blank screen with `TypeError: ansiStyles.color is undefined` error in console

**Expected behavior**
The app should display the map

[2020-05-26 11:18] bee-rickey commented on #1989
Works fine for me. @jeremyphilemon @shuklaayush Confirm?

[2020-05-26 11:21] bee-rickey commented on #1988
There are some data changes that need to be done in order for this to work. @jeremyphilemon is currently working on this. Till then this will be kept on hold.

[2020-05-26 11:21] #1988 closed, assigned to nobody

[2020-05-26 11:23] bee-rickey commented on #1978
This isn't an issue. The data and color is shown where details are available. Most of the states do not provide these details. Hence you see a question mark or a gray color.

[2020-05-26 11:23] #1978 closed, assigned to nobody

[2020-05-26 11:27] bee-rickey commented on #1976
Can you tell for which date this was?

[2020-05-26 11:53] championballer commented on #1976
23rd May

[2020-05-26 14:02] bee-rickey commented on #1976
Will have a look. Thank you!

[2020-05-26 19:36] RaghavK16 opened #1990 "Absence of a scroll-to-top button in index page"
I think adding a scroll-to-top button to the index page will make the website more convenient and responsive.

I could help you with the adding of the button.

[2020-05-27 12:19] vsasvipul0605 opened #1991 "State name is state unassigned"
**Describe the bug**
the state name is state unassigned after Uttar Pradesh state in the table with 4013 active as well as 4013 confirmed cases.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ['link'](https://www.covid19india.org/)
2. Scroll down in states table after the state name UP.
3. See error

**Expected behavior**
State name must be something.

**Screenshots**
![Screenshot (8

[2020-05-27 14:00] tarun7singh opened #1992 "UI is buggy on a specific resoltution."
**Describe the bug**
When we visit the website. UI does not stack properly. But on hover it stacks but looks bad.
Check attached screenshots.

**To Reproduce**
- Visit Website
- Tested at 1366px X 768px

**Expected behavior**
Stack when not hovering on sidebar and to not stack on hover on sidebar.
Screen real estate is being wasted on blank space.

**Screenshots**
**Without Hover**
![Annotation 20

[2020-05-27 15:58] nayakrahul commented on #1991
This is intentional. They are yet to be assigned.
https://indianexpress.com/article/india/coronavirus-india-lockdown-unassigned-cases-near-3000-rise-as-curbs-on-movement-lifted-6428789/

[2020-05-27 20:55] #1991 closed, assigned to nobody

[2020-05-27 21:43] hmaheshwari92 commented on #1952
On hovering the mouse pointer on the different languages their is no effect......

[2020-05-28 02:08] flashblaze commented on #1989
Any updates?

[2020-05-28 05:12] rishigole42 opened #1993 "Add This http://web2.eu5.org/"
http://web2.eu5.org/

[2020-05-28 05:37] Rakshith-V commented on #1990
Is the code for this already in @RaghavK16 ?

[2020-05-28 07:15] manaswinidas opened #1994 "State unassigned in home page"
![Screenshot from 2020-05-28 12-41-41](https://user-images.githubusercontent.com/22885912/83110548-dbdc7c80-a0e0-11ea-8c29-c4e4c5e7149f.png)
**Describe the bug**
State and districts unassigned in home page(Please find screenshot)

[2020-05-28 11:12] shuklaayush commented on #1989
I tried on a fresh clone, and it works fine. Might be specific to Windows? I can't check

[2020-05-28 11:13] #1993 closed, assigned to nobody

[2020-05-28 11:13] #1994 closed, assigned to nobody

[2020-05-28 12:18] RaghavK16 commented on #1990
Yes, I've created a pull-request just now.

[2020-05-28 13:20] flashblaze commented on #1989
Working fine now without any changes. No idea how. Closing.

[2020-05-28 13:20] #1989 closed, assigned to nobody

[2020-05-29 13:10] Avni-Sharma opened #1999 "State unassigned showing on the website"
On viewing on Chrome browser[Desktop] the state under UP shows `state unassigned`
![Screenshot from 2020-05-29 18-38-23](https://user-images.githubusercontent.com/18097007/83263151-c39d5800-a1db-11ea-85f6-231bbf187457.png)

[2020-05-29 13:28] jigar1101 commented on #803
@mayankbhagya @sudevschiz @jeremyphilemon

I have raised an issue [here](https://github.com/nic-delhi/AarogyaSetu_Android/issues/330) which I think can help us get the data, please give your views.

[2020-05-29 14:30] ayush000 commented on #1779
It is nice to see yesterday's delta. It gives a static point of reference. And some people might find it useful to compare deltas of similarly affected states.

E.g. If I were to compare Maharashtra & Tamil Nadu's rate of recovery, it will be more convenient to compare yesterday's delta, because cases for the same day don't get reported at the same frequency. Now, you can go to individual state an

[2020-05-29 16:13] ghost opened #2000 "validation required on active cases"
**Describe the bug**
Out of 844 active cases in Telangana, 888 are from Hyderabad.

**To Reproduce**
check the active cases in hyderabad

**Expected behavior**
total active cases should be higher.

**Screenshots**
![Screenshot_20200529_213150_com android chrome](https://user-images.githubusercontent.com/29313274/83281039-20593c80-a1f5-11ea-82d3-98238cfb95f7.jpg)

**Desktop (please complete the fol

[2020-05-29 17:38] afeesps opened #2001 "Expand button is in disabled state"
**Describe the bug**
Expand toggle button is in disabled state under Demographics

1. Go to https://www.covid19india.org/demographics

**Expected behavior**
Expand Toggle button is unnecessary

**Screenshots**
https://www.covid19india.org/demographics
![Capture](https://user-images.githubusercontent.com/8069377/83288620-4c7aba80-a201-11ea-8e81-cd8e381452d4.PNG)

[2020-05-29 18:54] RisingGeek opened #2002 "Missing phone number in Essentials"
**Describe the bug**
Some of the results only show the telephone icon but not the phone number. This may happen if a certain result doesn't have a phone number.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on  'Essentials'
2. In my area, clicking on the 'Lab' tag reproduce the issue.

**Expected behavior**
No telephone icon when the phone number is not available.

**Screenshots**
!

[2020-05-29 19:06] RisingGeek opened #2003 "Confusing category tags in Essentials"
**Is your feature request related to a problem? Please describe.**
The category tags present in Essentials are a bit confusing. It seems to be difficult to keep track of which tag is enabled.

**Describe the solution you'd like**
Instead of using color as an indicator of currently applied tags, It would be better to represent it by a checkbox.

**Describe alternatives you've considered**
Another a

[2020-05-29 21:32] shuklaayush commented on #1999
Tap/click on the info icon next to it to see why it's there

[2020-05-29 21:32] #1999 closed, assigned to nobody

[2020-05-30 07:41] RisingGeek commented on #1892
@vishals9711 are you working on this issue?

[2020-05-30 12:04] ggupta011 commented on #2002
Can i work on this issue?