[2020-07-27 21:44] khpatel8 commented on #2179
cant seem to reproduce the issue. looks like it has been fixed.

[2020-07-27 21:50] khpatel8 commented on #1950
/claim

[2020-07-27 21:52] khpatel8 commented on #2056
seems like the issue is on all mobile sizes in general not just android. would like to fix this.

[2020-07-27 21:52] khpatel8 commented on #2056
/claim

[2020-07-28 00:30] shuklaayush commented on #2179
Sort by Confirmed ascending and hover over Maharashtra info icon

[2020-07-28 03:57] khpatel8 commented on #1950
is there a format that you would like to be followed when making a new route for language ?

[2020-07-28 10:59] parikannappan opened #2288 "(mobile view ) graph overlapping text for some states"
**Describe the bug**
In the mobile view, the graph is overlapping the text.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Spread Trends'
2. ADD ' Maharashtra'
3. Scroll down to
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complet

[2020-07-28 11:26] shuklaayush commented on #2288
Duplicates #1650

[2020-07-28 11:26] #2288 closed, assigned to nobody

[2020-07-28 11:34] #2182 closed, assigned to nobody

[2020-07-28 15:44] coderjojo opened #2289 "Numbers are getting overlapped on each other."
**Describe the bug**
Confirmed, Active and Recovered Cases numbers are getting overlapped on each other.

**Screenshots**
  ![screenshot](https://user-images.githubusercontent.com/45591748/88688630-301ecf80-d117-11ea-9218-2f2802420b4a.jpeg)

**Smartphone (please complete the following information):**

- Device: Asus Max Pro M1
- OS: Android 9
- Browser: Chrome

[2020-07-28 15:58] coderjojo commented on #2289
Resolved after updating chrome.

[2020-07-28 15:58] #2289 closed, assigned to nobody

[2020-07-28 17:53] iamirulofficial opened #2290 "[First, Enhancement] A feature to track in which state or city people are getting discharged (lack of bed and other issues) without being fully recovered,"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**

It will be really informative as this measure to get discharge people from hospital without being fully recovered is limited to certain cities where may be more cases!

**Describe alternatives you've considered**
Not any, I guess

**Additional context**
Nope!

[2020-07-28 20:06] shuklaayush commented on #2290
Hey, this would probably be useful, but it's difficult to get this data from any credible source. Most of our sources are official state government bulletins and I don't see this being available there

[2020-07-28 20:06] #2290 closed, assigned to nobody

[2020-07-29 03:12] Vasudha15 opened #2291 "Negative count for Tested"
Could please clarify if it is bug?
How can number of “Tested” can be negative for Delhi on 13th July

[2020-07-29 03:14] Vasudha15 commented on #2291
![B0C2C5AE-6465-4F9D-974D-F51E20D552D5](https://user-images.githubusercontent.com/30729845/88752502-ba971b80-d177-11ea-8eb6-5725f46e188a.jpeg)

[2020-07-29 04:47] khpatel8 commented on #1950
what i have implemented so far:

(1) baselink takes you to (2) with default language english
(2) baselink/[language name]/   : Home route
(3) baselink/[language name]/about : about page (english only as per previous implementation)
(4) baselink/blog as usual takes you to blog.covid19india.org

**Do you want me to convert the language name to it's ISO code or just the full name is fine ? **

If thi

[2020-07-29 06:47] snehsumant commented on #2281
Do you need this issue to be solved? I can work on this.

[2020-07-29 06:50] snehsumant commented on #2281
/claim

[2020-07-29 07:26] shuklaayush commented on #2291
Duplicates #2279

[2020-07-29 07:26] #2291 closed, assigned to nobody

[2020-07-29 09:11] faizhameed commented on #2257
@shuklaayush in the app.js itself. I have tested this

[code]

[2020-07-29 09:31] jay1310 commented on #2281
Yeah, its a very important requirement. Can, I work on it?

[2020-07-29 15:28] vishalgodha opened #2292 "District level CSV data can't be fetched by Google Sheets due to large size"
**Describe the bug**
District level CSV data can't be fetched by Google Sheets due to large size

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://api.covid19india.org/documentation/csv/
2. Scroll down to https://api.covid19india.org/csv/latest/districts.csv
3. In Google Sheet formula A1 > =IMPORTDATA("https://api.covid19india.org/csv/latest/districts.csv")
4. Formula Error - Re

[2020-07-29 15:44] shuklaayush commented on #2292
Please create an issue in the [API repository](https://github.com/covid19india/api)

[2020-07-29 15:44] #2292 closed, assigned to nobody

[2020-07-29 17:04] onshadeep opened #2293 "Add tooltip on footer icon"
**About adding tool tip on footer icon**
There are five icon on bottom footer. Can we put the tool tip on each icon?
![Screenshot_2020-07-29 Coronavirus in India Latest Map and Case Count](https://user-images.githubusercontent.com/43501083/88830436-94ab5e80-d1eb-11ea-9e64-051cfdb7b684.png)

[2020-07-29 18:30] KhanStan99 commented on #2293
A PR is raised for this issue. hope it gets merged.
https://github.com/covid19india/covid19india-react/pull/2263

[2020-07-29 19:00] jay1310 commented on #2293
Hey, can i work on it? Or it has been resolved?

[2020-07-29 21:16] navnit0707 opened #2295 "hover info for 3 filter buttons"
**while clicking on these three options map changes but I didn't know what is this for because I don't know the meaning of that three-button**

** solution **
I want to use simple external CSS hover for these three buttons to show quick hover info about them
![Screenshot (407)](https://user-images.githubusercontent.com/40719341/88854217-95092100-d20e-11ea-8ea2-b4d9a894e1bd.png)

let me know if thi

[2020-07-29 21:33] navnit0707 opened #2296 "to change district,time ,notes in hindi when user select hindi language"
**problem**
when user select the Hindi language some important things like short with ascending, descending,  district name, time should also change in Hindi for better understanding for all peoples

**solution**
1) I would change the time conversation in Hindi when users select the Hindi language.
2) will change district name in Hindi so that when user changes lang he will find helpful.
3) in the

[2020-07-30 04:05] rahulmr123 commented on #2295
Hey all
            I am a react developer and a first-time contributor, I would like to work on this issue.

[2020-07-30 04:43] rahulmr123 opened #2298 "UI issue | Graph overlapping with the count and title."
**The graph is overlapping with the count, title and date when the base of the graph is negative, no issues when the base of the graph is zero.**

For reproducing the issue, select '**DELHI**'.

solution
It would be better for graphs with negative base, the title count can be shown at the bottom.

![graph_covid19](https://user-images.githubusercontent.com/21059591/88881482-29927400-d24d-11ea-8c88-

[2020-07-30 07:33] shuklaayush commented on #2298
Duplicates #1650

[2020-07-30 07:33] #2298 closed, assigned to nobody

[2020-07-30 08:57] rahulmr123 commented on #2179
@shuklaayush I would like to work on this.

[2020-07-30 13:10] rahulmr123 commented on #2179
/claim

[2020-07-30 19:30] venunalla7731 commented on #2293
According to PR #2263  footer icons also added tooltips.
And issue resolves when PR Merged.

[2020-08-01 04:45] abhisharkjangir commented on #2261
@JunaidBabu Added PR, please review...

[2020-08-01 07:07] syedsadiqali commented on #2281
it would be better to have both kind of number systems, interchangeable by a click, showing a tooltip for first time users, default could be Indian number system.

[2020-08-01 10:59] mkp95 opened #2302 "Error in Displaying Active Cases"
If there are more recovered cases than new confirmed cases then the active cases graph show it as negative but in real world the new confirmed cases are actually active cases for next day. So i think it should reflect the same in the Graph. It should be shown maybe as

**Active Cases = (New cases + Old Active Cases) - (Recoveries + Deaths)**

It would reflect current total active cases in any loca

[2020-08-01 12:47] shuklaayush commented on #2302
Refer to https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2020-08-01 12:47] #2302 closed, assigned to nobody

[2020-08-01 13:36] FrozenHearth commented on #2281
Agreed. This is the best of both worlds.

[2020-08-02 08:30] IamAkku opened #2303 "In Search box of " your district or state " It should must take users district or state name automatically."
As I was seraching for Covid positive people in my district and then I found this website, but the problem what I see when I open the website it is not showing the data according to my current location. It should must take users district or state name automatically and show the covid record data locally, along with total record. As I am taking example I go through the website " weather " my locati

[2020-08-02 09:13] shuklaayush commented on #2303
Duplicates #2251

[2020-08-02 09:13] #2303 closed, assigned to nobody

[2020-08-02 16:03] #2261 closed, assigned to abhisharkjangir

[2020-08-02 17:21] #2281 closed, assigned to nobody

[2020-08-03 07:37] saandeepgithub opened #2304 "can we append number change from yesterday to today for confirmed cases column (Green column if cases are less than yesterday and red if they are more) as i could see Delhi cases are doing down day by day"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-03 07:45] saandeepgithub commented on #2304
![image](https://user-images.githubusercontent.com/32898077/89158221-6af78c00-d58b-11ea-99b8-ab077af16ac0.png)

[2020-08-03 07:46] #2304 closed, assigned to nobody

[2020-08-03 07:47] saandeepgithub commented on #2304
duplicate

[2020-08-03 07:51] saandeepgithub opened #2305 "Display before day Confirmed, Recovered, Deceased cases"
Would be good, if the app can display a day before active, recovered ,deceased cases like in below image,

This would give a glimpse on how our country is overcoming the virus day by day

we can change display colour to green if today confirmed cases are less than yesterday and red if they more and vice-versa for deceased and recovered cases

Note: I have shown the sample data only for active case

[2020-08-03 09:08] shuklaayush commented on #2305
I don't see any particular need for doing this. The trend of daily increase in cases can already be seen in the charts

![image](https://user-images.githubusercontent.com/27727946/89165915-e27ee880-d596-11ea-966b-d2f53ce4e6ba.png)

[2020-08-03 09:08] #2305 closed, assigned to nobody

[2020-08-03 20:48] khpatel8 commented on #2056
actually issue is only on android phones. I suggested opposite in my previous comments because I used chrome tools to adjust size and issues existed in all sizes because chrome only changes the screen sizes not the environment. It still runs on web for computers but with smaller sizes.
I do not have access to android phones. Someone with an android phones might be able to fix it. I did some resear

[2020-08-05 03:00] shreyanshi2228 commented on #2293
Can I work on this.

[2020-08-05 03:03] shreyanshi2228 commented on #2293
A tooltip is often used to specify extra information about something when the user moves the mouse pointer over an element. So, what is that extra information?

[2020-08-05 21:53] archit120 opened #2306 "Source for districtwise testing data"
I went through the APIs and the raw data but I couldn't find what the source for the district-wise testing data is. I'm specifically curious for Bihar as I'm not aware of any public sources that release the exact districtwide testing counts for Bihar.

[2020-08-06 00:08] shuklaayush commented on #2306
Check out [this file](https://github.com/covid19india/api/blob/gh-pages/csv/latest/district_testing.csv)

[2020-08-06 00:08] #2306 closed, assigned to nobody

[2020-08-07 03:24] BhargavSatya opened #2307 "Hide Top Districts for States like Telangana with No District info available."
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2020-08-07 08:47] shuklaayush commented on #2307
Follow the issue template

[2020-08-07 08:47] #2307 closed, assigned to nobody

[2020-08-08 09:22] ksasan commented on #2302
The defect is still there!

As of today (8-Aug-2020), the graph of Total active cases in Delhi is showing negative bar entries (which is not possible!)

Possibly the formulae of calculation needs revisit

![image](https://user-images.githubusercontent.com/9150010/89706782-73363980-d986-11ea-81cd-e4e0615b94ec.png)

[2020-08-08 09:27] ksasan opened #2309 "Negative Active Cases in Bar Graph"
See the right bottom Graph in attached image. The graph has negative bar entries as well for Active Cases (in Delhi), which is not possible. Formulae needs revisiting.

1) Goto Home Page
2) Click Delhi -> Details
3) See below

**Expected behavior**
Active cases should always be >= 0

**Screenshots**
![image](https://user-images.githubusercontent.com/9150010/89706889-5c441700-d987-11ea-8d30-f5e1181

[2020-08-08 11:33] shuklaayush commented on #2309
Refer to https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2020-08-08 11:33] #2309 closed, assigned to nobody

[2020-08-08 11:48] shuklaayush commented on #2296
Partially fixed via 9b310bb7b9ee4f8d881d53af993e099227aefe5e

[2020-08-08 11:48] #2296 closed, assigned to nobody

[2020-08-08 16:06] atmanikumar opened #2310 "Leverage the use of tooltip"
**Is your feature request related to a problem? Please describe.**
No, But This will help user to understand more on what are all features available currently on platform.

Currently in many places we do have icon as button interface, example

<img width="1217" alt="Screenshot 2020-08-08 at 9 00 29 PM" src="https://user-images.githubusercontent.com/24696060/89714315-4fd9b180-d9bb-11ea-9770-5c19438

[2020-08-09 13:34] bmnidhin commented on #2310
In this era 90% of users may use mobile phones over desktop/laptop. Therefore a tooltip may not help mobile users. I think a **button label**  is useful.

But icons may speak for itself. Huh?

[2020-08-10 06:59] karthikshetty03 commented on #2056
/claim

[2020-08-11 12:15] Achal1607 opened #2311 "UI Issue"
**Description**
The history of cases timeline and suggestions for search bar coincide with each other.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Go to any date in history'
2. Click on 'search bar'
3. See error

**Expected behavior**
A clear distinction should be seen between suggestions and timeline

**Screenshots**
![Screenshot (4)](https://user-images.githubusercontent.com/55

[2020-08-11 12:41] shuklaayush commented on #2311
Duplicates #2225

[2020-08-11 12:41] #2311 closed, assigned to nobody

[2020-08-11 14:21] RamolaWeb opened #2313 "Detail Information of Country"
**Is your feature request related to a problem? Please describe.**
It will be great to add information like recovery ratio, active ratio, case fertility ratio, and average growth ratio for India similar to the state.

**Describe the solution you'd like**
The same UI showed in the State details page can be used here.

[2020-08-11 14:45] govardhan27 commented on #2295
Hey Guys,
Is the review for this done?
I am willing to help out here. Please let me know
Thanks

[2020-08-11 15:16] shuklaayush commented on #2313
Check out this button

![Peek 2020-08-11 20-44](https://user-images.githubusercontent.com/27727946/89915120-988ba780-dc13-11ea-8deb-2c67a50a9686.gif)

[2020-08-11 15:16] #2313 closed, assigned to nobody

[2020-08-12 14:31] yrvenkat opened #2314 "Active cases delta"
**Is your feature request related to a problem? Please describe.**
No, Just a nice to have.

**Describe the solution you'd like**
It would be nice to have Active case changes delta. Ex. If 5 nos decreased in active we can show it in green. If 5 nos increased in active we can show it in red with count.

**Describe alternatives you've considered**
--

**Additional context**
--

[2020-08-12 17:11] shuklaayush commented on #2314
Refer to https://github.com/covid19india/covid19india-react/issues/2105#issuecomment-641833409

[2020-08-12 17:11] #2314 closed, assigned to nobody

[2020-08-15 01:12] alkuhlani opened #2316 "Question - What is the difference between maps and projected_maps ?"
What is the difference between [maps](https://github.com/covid19india/covid19india-react/tree/master/public/maps) and [projected_maps](https://github.com/covid19india/covid19india-react/tree/master/public/projected_maps)

I have a map for my country in the last covid19india editions, they work fine, but now after you update the covid19india, my maps do not work, and I don't know what is the differ

[2020-08-15 09:36] ShadabFaiz opened #2317 "Question - Source of Shape Files"
What is the source of Shapes files that the project is using for plotting India map and district maps ?

[2020-08-15 10:29] shuklaayush commented on #2317
/cc @guneetnarula

[2020-08-15 10:37] shuklaayush commented on #2316
`maps` contain the raw map files where each value corresponds to a lat/long coordinate.
`projected_maps` contains a pre-projected Mercator projection of these maps onto a fixed size canvas. Here, each value corresponds to the x/y coordinate of the map after projection onto the canvas. Check out [this script](https://github.com/covid19india/covid19india-react/blob/master/scripts/project-maps.sh)

[2020-08-15 10:37] #2316 closed, assigned to nobody

[2020-08-15 13:49] abbhhiisseek opened #2318 "Site Crashing Arbitrarily with " ChunkLoadError: Loading chunk 27 failed "."
[**Describe](url) the bug**
Site crashing arbitrarily with  ChunkLoadError: Loading chunk 27 failed ".

**To Reproduce**
1 ) Hit the site URL
2) Try to scroll down.
3) Site crashes.

**Expected behavior**
 Contents should load.

**Screenshots**
[
![Capture](https://user-images.githubusercontent.com/27771780/90313628-a438e000-df2b-11ea-842b-e4ecd804e36c.PNG)
](url)

**Desktop (please complete the f

[2020-08-15 13:57] navnit0707 commented on #2295
no , owner didnt replied yet you can send a pull req if he founds useful then it will be good else time waste , thats why i waited for reply .
you can work on it .

[2020-08-15 15:54] thegreatshivam opened #2319 "District selection by map"
**Describe the bug**
When someone howers the mouse on any district on the district map, it shows the related info in the right side.
That's good.
But when someone clicks on any district to make the selection to see the related info in the right area, it shows that.
But after removing mouse from the selected district, the selected district changes.
That's not good.

**To Reproduce**
Steps to reprod

[2020-08-15 17:09] shuklaayush commented on #2318
I'm guessing it's because the browser is looking for old chunks which have been cleaned up. A refresh should usually solve this.

/cc @JunaidBabu

[2020-08-15 17:37] JunaidBabu commented on #2318
I've also felt this when there is a new build. I think we should disable the CLEAN field in the build workflow for some time.

[2020-08-15 17:44] JunaidBabu commented on #2319
/available

[2020-08-16 02:10] rahulkumar3384 opened #2320 "We can add no of containment zone in the following district as well as in the state on the tap"
we can add number of containment zones in the district as well as in state itself by getting the data from state govt press releases daily.

[2020-08-16 08:01] guneetnarula commented on #2317
@ShadabFaiz the admin boundaries are sourced from state/district government gazettes wherever possible, or from block level or ward level maps in some cases, and then digitized by the datameet.org community. The one's that have been used here are for visualizations only and are not super accurate.

[2020-08-16 08:01] #2317 closed, assigned to guneetnarula

[2020-08-17 04:54] ASaiVivek opened #2321 "District-wise data for Telangana"
**Is your feature request related to a problem? Please describe.**
It's not a major problem but it would be good if district-wise data is visualised for all the states.

**Describe the solution you'd like**
The district-wise data is actually **available now** for Telangana state.

**Describe alternatives you've considered**
The current visualisation on map looks awesome, i can't tell about any oth

[2020-08-17 07:14] anantakrroy commented on #1817
Why was this closed?  I see the sticky attribute set but it is not "truly" sticky. When the `.home-left` component is scrolled to the bottom , the `.home-right` starts scrolling after a certain point too. I do not know the reason why this happens even as `position: sticky!important;` is set and hence came to check if someone brought this up.

[2020-08-17 07:58] nithincspnr commented on #2319
/claim

[2020-08-17 09:50] shuklaayush commented on #1817
I guess that's because an element is only `sticky` till the end of it's parent. Anyways, the issue was closed because they didn't follow the issue template, and it was difficult to make out what they meant.

[2020-08-17 10:26] purveshmakode24 opened #2322 "Distorted placeholder in the search field"
**Describe the bug**
The auto type-writer/placeholder for search field get distorted number of times we clicked on any language. (sometimes it overflows the search box)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'language section'
2. Click on 'English (or any language)' multiple times
3. See the distorted placeholder at the search field

**Screenshots**
![Annotation 2020-08-17 15

[2020-08-17 11:25] sourabhbagrecha commented on #1861
Any chance if we can get the doubling rate displayed on the home? @shuklaayush

[2020-08-18 07:03] alkuhlani commented on #2316
@shuklaayush thank you for your replay,

Could you please provide me with any way to convert my maps to be a fixed size canvas.
for example how ydo ou change this file https://github.com/covid19india/covid19india-react/blob/master/public/maps/india.json to be this https://github.com/covid19india/covid19india-react/blob/master/public/projected_maps/india.json
because I have this file https://github

[2020-08-18 07:05] alkuhlani commented on #2316
@shuklaayush
Okay thank you I check the script, and it does the mission, thank you again for your replay.

[2020-08-18 08:17] kashyapkaki opened #2323 ""Unassigned" State in States Dropdown"
**Describe the bug**
An "Unassigned" State appears in States Dropdown in Spread Trends Section.
By selecting that dropdown, incorrect data appearing in Maps and Charts as well.
Refer the screenshot for reference.
![image](https://user-images.githubusercontent.com/30841403/90487034-8223a580-e157-11ea-853c-1cbabd8090d9.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Homepage' or'D

[2020-08-18 10:55] shuklaayush commented on #2323
Duplicates #2018. It has to be kept in the historical data to maintain consistency

[2020-08-18 10:55] #2323 closed, assigned to nobody

[2020-08-19 02:35] sanjaynaiswal opened #2324 "Sanjay naiswal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-19 02:36] sanjaynaiswal commented on #2324
Thank you

[2020-08-19 03:36] #2324 closed, assigned to nobody

[2020-08-20 19:21] bee-rickey commented on #2321
@vivekboss99 if I'm not wrong, only confirmed daily numbers are provided. No recovery or deceased values are provided. If this is the case, we can't really go ahead with providing this data since the active values for districts will go for a toss.

[2020-08-20 19:26] bee-rickey commented on #2295
Hover is useful for web versions. 95% of the site users are mobile users. I don't really find much of a value in this. But I'm making this available. Please pick up and raise a PR.

[2020-08-20 19:27] bee-rickey commented on #2310
Duplicate of #2295

[2020-08-20 19:27] #2310 closed, assigned to nobody

[2020-08-20 19:30] bee-rickey commented on #2286
Doesn't add much value to the site. Closing this issue.

[2020-08-20 19:30] #2286 closed, assigned to nobody

[2020-08-20 20:11] khpatel8 commented on #2322
/claim

[2020-08-21 15:03] sakshianand commented on #2295
Is someone already working on this issue? Else I can take this up.

[2020-08-21 16:43] navnit0707 commented on #2295
Sakshi you can work on this because Govardhan is not working on this I
think ... i opened this but have no time to do so this will good for you
.And I also want to see (codes) how this will be implemented because I
never contributed in large projects

On Fri, Aug 21, 2020 at 8:34 PM sakshianand <notifications@github.com>
wrote:

[2020-08-21 17:22] govardhan27 commented on #2295
Hey Guys, have already started on this task.

[2020-08-21 17:31] navnit0707 commented on #2295
ok govardhan let me mention you so that no people will be confused  later.

On Fri, Aug 21, 2020 at 10:52 PM govardhan <notifications@github.com> wrote:

[2020-08-21 17:34] navnit0707 commented on #2295
@govardhan27 is working on this feature

[2020-08-21 18:47] abhisharkjangir commented on #2295
/claim

[2020-08-21 18:51] abhisharkjangir commented on #2295
I claimed it, If anyone interested to work on this, please let me know, I can unassign me.

[2020-08-22 09:34] sirdarthvader commented on #2076
@nayakrahul @shuklaayush Need your help with this team, I am quite confident that we can close this if someone can review the PR and merge it or share feedback otherwise.

[2020-08-22 10:24] govardhan27 commented on #2295
Hey, @abhisharkjangir I have already started on this.

[2020-08-22 11:07] abhisharkjangir commented on #2295
@govardhan27 Okay, let me unassign it.

[2020-08-22 16:53] nayakrahul commented on #2076
@shuklaayush kindly look into this.

[2020-08-23 07:28] abhisharkjangir commented on #2318
@shuklaayush I think if a major chunk is failing to load then it should reload the page automatically.

[2020-08-23 12:29] bee-rickey commented on #2321
Closing due to inactivity.

[2020-08-23 12:29] #2321 closed, assigned to sudevschiz

[2020-08-23 12:37] ASaiVivek commented on #2321
Your website is awesome by the way,it inspired me to start learning web development and JS.
Thanks for checking it out I thought the numbers add up each day but totally forgot about active and recovered cases.

[2020-08-24 03:33] sarangrakhecha opened #2328 "UI Graph Disturbed for turned on "Lograthmic" and "Uniform" options"
**Describe the bug**
UI graph labels are disturbed for the graph

**To Reproduce**
1. Turn on the toggle for "Lograthmic" and  "Uniform"
2. Overlap Y-axis Labels is disturbed. Also the graph line comes above the numbers
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

<img width="570" alt="Screen Shot 2020-08-23 at 11 29 23 PM" src="https://us

[2020-08-24 10:19] alkuhlani commented on #2316
@shuklaayush
I tried to **bash** the script project-maps.sh but I get these errors:
topomerge: command not found
topo2geo: command not found
geoproject: command not found
geoproject: command not found
Also I tried to install them by npm install - but I get errors again

Note: I delete the maps in the projected_maps before I start the **bash**

Is there are another way to run the project-maps.sh fi

[2020-08-24 16:20] singh-sarabjeet opened #2329 "Add unit testing for React components using Jest"
**Is your feature request related to a problem? Please describe.**
A unit testing framework will ensure the code doesn't break by additions of new features or bug fixes.

**Describe the solution you'd like**
We can add Jest as the testing library and all new features added should have unit test cases for them. Also, unit test cases for previously written code can be added slowly.

**Describe alter

[2020-08-25 07:41] alkuhlani opened #2330 "Error in bash project-maps.sh"
I tried to bash the script [project-maps.sh](https://github.com/covid19india/covid19india-react/blob/master/scripts/project-maps.sh) but I get these errors:
topomerge: command not found
topo2geo: command not found
geoproject: command not found
geoproject: command not found
Also I tried to install them by npm install - but I get errors again

Note: I delete the maps in the projected_maps before I s

[2020-08-25 15:42] shuklaayush commented on #2328
/available

[2020-08-25 15:47] shuklaayush commented on #2330
Install using `npm install -g ...` and make sure that the directory where the binaries are installed is in the PATH env variable. [This](https://superuser.com/questions/1081769/after-npm-install-g-command-still-not-found) might be of help

[2020-08-25 15:47] #2330 closed, assigned to nobody

[2020-08-25 17:44] shashankofficialgupta commented on #2328
/claim

[2020-08-25 18:54] alkuhlani commented on #2330
Please check these
http://registry.npmjs.org/topomerge
http://registry.npmjs.org/topo2geo
http://registry.npmjs.org/geoproject
the result is

{"error":"Not found"}

[2020-08-25 19:05] shuklaayush commented on #2330
The binaries are in these packages. Try after installing these
https://www.npmjs.com/package/d3-geo-projection
https://www.npmjs.com/package/topojson-client
https://www.npmjs.com/package/topojson-server

[2020-08-25 19:15] alkuhlani commented on #2330
I tried to install them, and they had been installed.
Everything works fine, except running the .sh file.
I get the same error
topomerge: command not found
topo2geo: command not found
geoproject: command not found

and I do not know why!

[2020-08-25 19:36] alkuhlani commented on #2330
Now I get this error
[code]

[2020-08-26 11:30] akash-jain-toppr opened #2331 "Toggling the languages options on clicking current language in sidebar"
Clicking on the current language on the side bar does not close the select language menu.

**To Reproduce**
Steps to reproduce the behavior:

1. click on the current language on the side bar.. it open the menu to select the language.
2. clicking on the current language on the sidebar does not close the menu.

**Expected behavior**
clicking on the current language on the sidebar if the select langu

[2020-08-26 14:00] shuklaayush commented on #2330
Looks like `topo2geo` is either not installed or not in PATH. You can check if it's working by running `topo2geo -V` on the terminal. Maybe try reinstalling `topojson-client`

[2020-08-26 17:26] alkuhlani commented on #2330
@shuklaayush
Thank you I really appreciate your support, I added all nodes to PATH, and the `node -v` is working fine
by this way:-
1. cd /usr/bin/
2. sudo ln -s nodejs node
I do it with all of these node (`d3-geo-projection,topojson-client,topojson-server,topo2geo,districts,geoproject,geo2topo,districts,prettier`)

Now I get this error 😢
[code]

[2020-08-26 17:49] alkuhlani commented on #2330
@shuklaayush, I do the below command:-
[code]

and every thing goes OK 🙂, I'm so so happy 😅,
Now I get only this message
`prettier: bad option: --loglevel`

Thank you for everything.

[2020-08-27 09:32] abinayabalaji93 commented on #1610
I'm new to react and a first-time contributor
How can I claim the project

[2020-08-28 05:55] shreeshampandey commented on #2225
Can be fixed by #2231

[2020-08-28 07:47] SahilRS200 opened #2332 "Allow inter-state navigation when viewing state details"
**Is your feature request related to a problem? Please describe.**
Currently when we click "see more details" on a state, it navigates to the state page. To see another state, we need to go back and select the state

**Describe the solution you'd like**
We would like to see a paginated view, so that we can navigate to the previous or next state without needing to go back.
We can also add a jump to

[2020-08-28 08:49] shuklaayush commented on #2332
There is actually a way

![Peek 2020-08-28 14-18](https://user-images.githubusercontent.com/27727946/91541128-78f5be00-e939-11ea-9bfb-254115153585.gif)

[2020-08-28 08:49] #2332 closed, assigned to nobody

[2020-08-28 09:50] gagangaur commented on #1831
Hey, any updates on resolving I am getting an error like this and the error remains after installing typescript too.

![image](https://user-images.githubusercontent.com/40167245/91547693-ead20580-e941-11ea-88b1-0e79c6aa0c91.png)

[2020-08-28 10:19] priyanshshah1997 commented on #2331
i've reviewed it and saw that, whenever as user click the on the language selected button, and at the moment languageSwitcher menu is open, and when a user clicks the button then there are two **set Change** events, which makes the **_showLanguageSwitcher_** from false to true. which eventually doesn't doesn't closses the languageSwitcher

i want to work on this issue.

/claim

[2020-08-28 12:47] priyanshshah1997 commented on #2331
i've resolved the issue in my local machine, please asssign me the task, so that i can push the my branch and i can PR.

[2020-08-28 13:43] Shivangi2301 commented on #1831
The problem for me was solved by renaming the folder that contained this cloned project. Try removing special characters and spaces from the folder name.

[2020-08-28 13:49] gagangaur commented on #1831
Well it's solved now I just deleted the node module folder and run those commands again.

[2020-08-28 15:41] #1417 closed, assigned to SensehacK

[2020-08-28 20:06] sahil-sheikh-jdas commented on #2332
Oh.. perhaps a dropdown arrow could help.. i never thought of clicking the title.
Thanks for the info

[2020-09-01 09:13] Madhav2108 opened #2333 "Graph review"
Graph should contail sheet with data tu analize` the numbers
graph from begining is difficult to analize

[2020-09-02 17:50] artorias111 commented on #2188
Hey, I want to contribute to my first open source project, can I take this up if it's not taken?

[2020-09-05 16:29] priyanshshah1997 commented on #2331
#2335 @ #2335 please check the PR request

[2020-09-06 05:16] mkp95 commented on #2302
I know that I already read that but to make the severity clear we should use a current active case to be the method i proposed as it makes a clear picture of what the current situation is.. As of any day the total active cases should always be positive as new cases are coming daily...

[2020-09-06 07:26] whitesky1225 opened #2336 "Can we improve the version of react-spring to v9?"
**Describe the enhancement**
v9 api is more convenient and allows for more compact, less distracting code.
For example, the component named Timeline.js use react-use-gesture and react-spring,  but it's inconvenient to use react-use-gesture with react-spring that is of version v8.

[Reference link](https://use-gesture.netlify.app/docs/introduction)

[2020-09-06 12:15] shuklaayush commented on #2336
Hey
We tried migrating to `react-spring` v9 a couple of months ago but had some difficulties. Would be great if you could raise a PR. /available

[2020-09-09 17:22] Binu42 commented on #2336
/claim

[2020-09-09 20:55] abde1992 opened #2337 "Negative values in active cases graph"
**Describe the bug**
![image](https://user-images.githubusercontent.com/2977369/92653852-3ba50f00-f2ef-11ea-91e2-009c3e188a72.png)

The active cases graph shows negative numbers.

**To Reproduce**
https://www.covid19india.org/state/RJ
Go to a state with relatively low number of cases such as this one. Select a city such as Jaipur.

**Expected behavior**
Numbers expected to be positive. Or at-least

[2020-09-10 05:45] Anshuman04 opened #2338 "Enhancement: Additional graph of (No. of infections) / (No. of tests) for each day"
**Need of this enhancement:**
I have observe that no. of tests done vary a lot (like there is drop in testing for every 7th day) which actually distorts the way we interpret no. of infected cases .
For Ex: day1: 5 infected case when 10 tests were done, day2: 5 infected case when 5 tests were done.

There should be a graph that do not shadows the info that infection is increasing.

**Solution:**

A

[2020-09-10 06:03] shuklaayush commented on #2337
Refer to https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2020-09-10 06:03] #2337 closed, assigned to nobody

[2020-09-10 10:11] DheeruYS opened #2339 "Circle size not correct"
If you see the circle circle map of india ,

there we can see bengaluru has a big circle and chennai has a really small circle tho the difference is not much
I think there is a issue

Please check
Thanks

[2020-09-10 10:19] DheeruYS opened #2340 "Yesterdays contest"
See yesterday's and 2 days before number of cases and the increase
Thanks

[2020-09-10 10:19] #2340 closed, assigned to nobody

[2020-09-10 10:19] DheeruYS commented on #2340
sorry

[2020-09-10 10:20] DheeruYS opened #2341 "Increase in number of cases : yesterday and 2 days ago"
See yesterday's and 2 days before number of cases and the increase
Thanks

[2020-09-12 23:29] #2341 closed, assigned to nobody

[2020-09-12 23:32] shuklaayush commented on #2339
The difference is of 30,000. Use the map for confirmed if you want to compare the value of confirmed cases.

![Peek 2020-09-13 05-00](https://user-images.githubusercontent.com/27727946/93006792-46c19e80-f57e-11ea-8ed9-df53ec7dd791.gif)

[2020-09-12 23:32] #2339 closed, assigned to nobody

[2020-09-13 16:40] ayushsrivastav0811 commented on #2338
hi

[2020-09-13 16:42] Anshuman04 commented on #2338
Hey...

Any issues in understanding the requirement?

Regards,
Anshuman

On Sun, Sep 13, 2020, 10:10 PM Ayush Srivastav <notifications@github.com>
wrote:

[2020-09-14 13:04] whoque opened #2342 "UI: Missing heart icon in Active section of the state-wise view."
**Describe the bug**
In the state-wise view, the heart icon is missing in the active section just above the active count.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on any state to expand for options.
2. Click on 'See more details on <STATE NAME>'
3. See the active section for the missing icon.

**Expected behavior**
A blue colored heart icon should be present in the active secti

[2020-09-16 05:02] karishnu opened #2343 "District level statistics (active ratio, recovery ratio, etc.)"
**Is your feature request related to a problem? Please describe.**
Clicking on a district shows district level graphs but stats are still state level. I would like to see how my district is performing using those stats (data for which we already have).

**Describe the solution you'd like**
Clicking on a district should also update the stats to show stats for that district instead of the state.

**

[2020-09-16 05:05] karishnu commented on #2338
I suggest this be done in the stats section over a 7 day period since number of tests are not updated regularly and are correct over larger periods of time (atleast for Mumbai)

[2020-09-16 08:39] shuklaayush commented on #2343
This might help

![Peek 2020-09-16 14-08](https://user-images.githubusercontent.com/27727946/93313469-2287eb00-f826-11ea-8f9c-237d32b1b2a7.gif)

[2020-09-16 08:55] karishnu commented on #2343
This the graph that changes. I am talking about the stats in the boxes.

[2020-09-16 08:56] karishnu commented on #2343
<img width="565" alt="Screenshot 2020-09-16 at 2 26 34 PM" src="https://user-images.githubusercontent.com/5600938/93315404-a347e680-f828-11ea-89ea-b1a9ffee755c.png">

[2020-09-17 20:14] Zaman3027 commented on #2158
/claim

[2020-09-19 02:27] raunak-shr commented on #1610
/claim

1st time contributor. What has to be done reply please @jeremyphilemon

[2020-09-23 03:42] adrijshikhar commented on #2336
/claim

[2020-09-23 03:51] adrijshikhar commented on #2336
I would like to contribute to this issue but I am unable to claim it.

[2020-09-25 09:10] satyakam3156 commented on #2342
The above issue was reflecting due to the presence of a check condition which used to render the '\u00A0' character. Removing the condition has resolved the issue.
PR number #2346

[2020-09-25 10:47] shuklaayush commented on #2342
Refer to https://github.com/covid19india/covid19india-react/issues/2105#issuecomment-641833409

[2020-09-25 10:47] #2342 closed, assigned to nobody

[2020-09-26 09:25] tshrwbl opened #2347 "Overlapping Graph text and graph bar."
**Describe the bug**
Minor UI bug.

**Expected behaviour**
Text and graph bar should not overlap.

**Screenshots**
![image](https://user-images.githubusercontent.com/27141947/94337424-d009b400-0007-11eb-9e7b-8404eb6d07a4.png)

**Desktop (please complete the following information):**
- OS: Windows 10
- Browser: chrome
- Version  85.0.4183.121

[2020-09-28 09:35] kuharan opened #2348 "Question on APIs"
Hello,

I want to know which API this app is using to display daily counts (confirm, recover, decease, active) for district wise results. I found this [National/State/District Level : Latest cumulative/daily counts](https://api.covid19india.org/v4/data.json) but its cumulative. This [National/State/District Level : Specific date cumulative/daily counts](https://api.covid19india.org/v4/data-YYYY-MM

[2020-09-28 11:41] shuklaayush commented on #2348
This: `https://api.covid19india.org/v4/data.json`.  Example:
![image](https://user-images.githubusercontent.com/27727946/94427659-12b8c100-01ad-11eb-8ee7-7534d692f03b.png)

The `YYYY-MM-DD` in `https://api.covid19india.org/v4/data-YYYY-MM-DD.json` represents the date. As an example, try [`https://api.covid19india.org/v4/data-2020-07-26.json`](https://api.covid19india.org/v4/data-2020-07-26.json).

[2020-09-28 11:41] #2348 closed, assigned to nobody

[2020-09-28 11:41] shuklaayush commented on #2347
Duplicates #1650

[2020-09-28 11:41] #2347 closed, assigned to nobody

[2020-09-30 14:32] krithikha2001 opened #2352 "Add appropriate Badges to the project for better viewer understanding and documentation"
### **Is your feature request related to a problem? Please describe.**
The readme file of this project is not properly done.Adding badges could increase efficiency of code

**Describe the solution you'd like**
Badges can improve the readability of a GitHub repository because they provide the users with a quick way to collect metrics about the repository.

[2020-09-30 14:33] krithikha2001 commented on #2352
I would like to work on this issue

[2020-10-01 12:52] prajjwalarora opened #2358 "Images are not shown in CONTRIBUTING.md"
###  Description
This issue in the process flow in the CONTRIBUTING.md guide. Images added in this section are not visible(the only Alt text is visible) and I found that the link in src of these images is not working(closed).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://github.com/prajjwalarora/covid19india-react/blob/master/CONTRIBUTING.md'
2. Scroll down to 'process flow

[2020-10-01 14:13] fleece30 commented on #1650
@shuklaayush is this issue still open? I'd like to work on it /claim

[2020-10-01 21:00] alkuhlani opened #2362 "Error in Build"
I get below error in build, but after I remove this `cp build/index.html build/404.html ` from package.json its work fine.
[code]

[2020-10-02 11:46] Cazaimi commented on #2254
I'd like to pick this up.

[2020-10-03 12:07] parshnt commented on #2362
@alisolanki this happens when you're building on Windows, npm will throw an exception as the `cp` command doesn't exist in Windows. Simply replace `cp` with `copy`

Better [Explanation](https://ourcodeworld.com/articles/read/615/learn-how-to-solve-the-npm-error-cp-is-not-recognized-as-an-internal-or-external-command-operable-program-or-batch-file)

[2020-10-03 17:40] abhinavkrin opened #2364 "The navigation panel appears to be behind all the elements in mobile sized screens."
**Describe the bug**
In small screens, the navigation pane appears to be behind all the other elements in the start. Though after some time, the navigation panel appears correctly.

**To Reproduce**
1. Open the website in mobile browsers.
2. Click on "menu".

**Expected behavior**
The navigation panel should be displayed on top.

**Screenshots**
![alt text](https://i.ibb.co/BZyrkn1/www-covid19indi

[2020-10-03 17:54] #2362 closed, assigned to nobody

[2020-10-03 18:00] shuklaayush commented on #2352
Thanks for creating an issue, but I don't think this adds much value

[2020-10-03 18:00] #2352 closed, assigned to nobody

[2020-10-03 18:06] shuklaayush commented on #2364
Spooky. Should be fixed via 234d2daa2f45f7b0a5cbc19865d2e2afa4f337b0

[2020-10-03 18:06] #2364 closed, assigned to nobody

[2020-10-03 20:57] alisolanki commented on #2362
@parshnt *****It is: @alkuhlani not @alisolanki

[2020-10-03 21:11] alkuhlani commented on #2362
Already I used copy instead of cp, and still happend, by the way I copied it manually.

Thank you.

[2020-10-04 04:40] parshnt commented on #2362
@alisolanki my bad :p

[2020-10-05 08:43] whoque commented on #2342
This was my very first contribution to open source.
Thanks @shuklaayush for closing it.
I know its verrry insignificant but its a start :)

[2020-10-05 13:06] debrajhyper opened #2366 "how you get the district wise tested data?"
tell me in which API I would find the State-District-Wise tested data.

[2020-10-05 23:41] sarbbottam opened #2367 "The word INDIA in the logo is wrapping in the next line [Chrome Only]"
**Describe the bug**
The word `INDIA` in the logo is wrapping in the next line [Chrome Only]. Please refer to the attached screenshot. So far I have only observed it on Chrome, not reproducible in Edge, Firefox, and Safari at my end.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org/ on Chrome
4. Observe the logo

**Expected behavior**
All the letters of the

[2020-10-06 05:18] shuklaayush commented on #2367
Might be because of font-size scaling. Check your Chrome settings?

[2020-10-06 05:30] shuklaayush commented on #2366
If you're brave enough, then you can try [`district_testing.csv`](http://api.covid19india.org/csv/latest/district_testing.csv). Otherwise, use [`data.json`](https://api.covid19india.org/v4/data.json). It should have testing data for districts under the `total:tested` key.

Keep in mind that we only collect testing data for a subset of districts, and in some cases, this data might also be outdated.

[2020-10-06 05:30] #2366 closed, assigned to nobody

[2020-10-06 05:35] sarbbottam commented on #2367
<img width="703" alt="Screen Shot 2020-10-05 at 10 33 06 PM" src="https://user-images.githubusercontent.com/949380/95162703-12936500-075b-11eb-9e9b-97f0f2c74c0e.png">

[2020-10-06 16:20] bee-rickey commented on #2336
@adrijshikhar because it's already claimed.

[2020-10-07 05:23] nikhilcheke opened #2368 "Text and chart bars are overlapping in Daily growth chart under Spread Trends"
**Describe the bug**
When we click on "Daily" button under spread trends and select "India" in drop down list, in the charts for "confirmed", ""active", "recovered" etc. there is an overlapping between chart heading/statistic details and chart bars(which shows the number of patients)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Spread Trends'
2. Click on 'Daily' button
3. Select S

[2020-10-07 19:33] K-Phaneendra commented on #2368
Hey team, here is the fix for this issue, kindly mark this as "Available". I can submit my PR on this.

Here is my work sample

![image](https://user-images.githubusercontent.com/33480024/95378735-f67df800-0901-11eb-916f-206e8c5333b0.png)

[2020-10-11 06:07] angelxlakra commented on #2368
/claim

[2020-10-12 09:35] parthbyt opened #2372 "Update Chhattisgarh map to add Gaurela Pendra Marwahi District"
**Is your feature request related to a problem? Please describe.**
When viewing the state page, the Gaurela Pendra Marwahi District is missing. It is due to old map.

**Describe the solution you'd like**
Based upon [here](https://blog.covid19india.org/2020/09/04/architecture/), the maps are adopted from [this repo](https://github.com/guneetnarula/indian-district-boundaries). It has the district in

[2020-10-13 02:12] whitesky1225 commented on #2336
I'm too busy on working to handle it by myself, can we handle it together?

[2020-10-14 17:51] i-anuragmishra opened #2373 "Sikkim test per million is suddenly zero"
**Describe the bug**
Sikkim Test per million is reduced to 0(Zero).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'the covid19.org website'
2. Click on 'Sikkim more details'
3. Scroll down to 'test per million'
4. See error

**Expected behavior**
The test per million of Sikkim is released by the govt and was also there on website till yesterday, but now test per million in Sikkim is

[2020-10-15 08:59] industrial-marketing opened #2375 "Values are not visible"
**Describe the bug**
Values are not visible. See the screen shot.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'main pages'
2. Check All-India charts on the right to see yesterdays results

**Expected behavior**
The values on the charts should be visible

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/

[2020-10-15 09:01] #2375 closed, assigned to nobody

[2020-10-15 09:01] industrial-marketing commented on #2375
sorry for the duplicate

[2020-10-17 02:38] sumanth-culli commented on #2367
Looks fine in my machine.
Version 86.0.4240.80 (Official Build) (x86_64)
Catalina 10.15.6

[2020-10-17 20:34] shuklaayush commented on #2373
Seems to be fixed

[2020-10-17 20:34] #2373 closed, assigned to nobody

[2020-10-23 11:36] ShadabFaiz opened #2378 "No Districts in Delhi [Question]"
This is neither a bug report nor a feature request. It is a question.
Earlier the map used to have the districts of Delhi, but now, it does not have. I have looked into the delhi.json file and there is only 1 district called Delhi. Is there any reason for removing other districts?

[2020-10-23 13:47] swoodipto commented on #1650
~If this is still open I would like to /claim it~
NVM, just noticed [the PR](https://github.com/covid19india/covid19india-react/pull/2285)

[2020-10-23 13:52] swoodipto commented on #2367
Looks fine on my Chrome and Vivaldi (both chrome based).
- Chrome: Version 86.0.4240.111 (Official Build) (x86_64)
- Vivaldi: 3.3.2022.47 (Stable channel) (64-bit)

on Catalina 10.15.7

When I change the browser font-scaling to large, only then I see this. Looks to be a scaling issue on your browser.

[2020-10-24 05:47] sanyam-git opened #2379 "District wise cases for Assam"
The website says that the state bulletin does not provide district wise data. The district wise data is available at https://covid19.assam.gov.in/all-districts/. I myself would have made the change, but I'm not that familiar with the code yet. And this should be added as soon as possible. Thanks !
![assam](https://user-images.githubusercontent.com/43791665/97069011-82726e00-15ea-11eb-85d8-273e4c48

[2020-10-24 06:10] shivangswain commented on #2367
What exactly is your screen resolution? Are you using a secondary display? This seems like a resolution/scaling problem.

[2020-10-24 08:45] shuklaayush commented on #2379
It's better if you can create an issue in the [API repository](https://github.com/covid19india/api). Anyways, @bee-rickey @sudevschiz you might want to have a look

[2020-10-24 08:51] shuklaayush commented on #2378
Yes, since the Delhi health bulletin doesn't contain district-wise split of the data and never will, it made no sense to keep the district map. It just created more confusion with us adding an 'Unknown' district to compensate for that. If you want the district map of Delhi for any other purpose, you can get it by going through the Git history.

[2020-10-24 08:51] #2378 closed, assigned to nobody

[2020-10-25 15:54] sanyam-git commented on #2379
moved to [API repository](https://github.com/covid19india/api/issues/433) as suggested by @shuklaayush

[2020-10-25 15:54] #2379 closed, assigned to nobody

[2020-10-29 05:06] PPInfy commented on #2358
I think this can be closed. It is just few lines change. Someone can merge the contributing.md only.  @prajjwalarora

[2020-10-29 05:45] prajjwalarora commented on #2358
@PPInfy yes this can be done by this but problem is that merge request cannot be made without issue has been assigned as per there terms.

[2020-11-06 05:57] DantrazTrev opened #2381 "New icons for different views of map"
**Is your feature request related to a problem? Please describe.**
In the three views of the map : District, States or Cities ( that I assume) is quite unclear as it lacks a proper labels or icons
![image](https://user-images.githubusercontent.com/43457420/98331280-4267ae00-2022-11eb-9b43-ab0f04a996ab.png)

Further the functionality of each is quite not clear as the icons aren't standardized

**De

[2020-11-07 12:59] vengeance1464 commented on #2381
/claim

[2020-11-10 18:38] shbhmnk opened #2382 "Add support to display 7-day running average"
**Is your feature request related to a problem? Please describe.**
New feature request

**Describe the solution you'd like**
Running/Moving average is a metric that represents the average over smaller continuous subsets.
This helps to understand the current trend better.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've con

[2020-11-11 14:45] mradul2 commented on #2367
Is fine on my machine (on Chrome).
Chrome Version : 86.0.4240.183 (Official Build) (64-bit)
On changing browser font-size too, it is unaffected, But on changing the font - size on `div.navbar-middle` the problem seems to arise:
`font-size: 12px;`
You might have the problem when you have loaded your source code, and it must not be permanent.

[2020-11-13 15:25] #2319 closed, assigned to nithincspnr

[2020-11-19 17:38] ShikariShambuJr commented on #2320
We have started adding this metric in the API you can view it in https://api.covid19india.org/csv/latest/statewise_tested_numbers_data.csv

[2020-11-19 17:38] #2320 closed, assigned to nobody

[2020-12-01 13:18] harishv3 opened #2384 "Maps"
How can I create maps for different countries. Where all the maps.json files can be found with all the lat/long coordinates.

[2020-12-03 18:43] riteshkr54 opened #2385 "Daily active cases are showing negative in graph"
Daily active cases shown for state is negative for some dates, most probably due to wrong formula being assigned (daily positive- daily recovered ??) instead of total postive - total recovered till that day

[2020-12-04 19:20] minks77 opened #2386 "## **District Name Errors** ##"
## **District Name Errors** ##

Before sending feedback or creating an issue that deals with a district name, please note:
Central and State governments, local authorities and the media are not consistent in how they refer to a district. Registrar General of India, Survey of India, State Govt websites use different spellings or even different names sometimes. In light of this, we are standardizing

[2020-12-17 17:10] vivek-owwit opened #2387 "Clicking English twice in Desktop View should be toggle back to Home Page for better experience"
**Is your feature request related to a problem? Please describe.**
No, It is a not a problem in Mobile View but I'm always frustrated when in Desktop View clicking on "English" shows languages option but again clicking on it doesn't toggle back, we have to do so by clicking in the language selection area. Please take a look at GIF to get the Problem.

![screen-capture](https://user-images.githubus

[2020-12-18 15:22] sonat98 commented on #1610
/claim

[2020-12-18 19:56] SingingApple opened #2388 "Count going out of screen"
**Describe the bug**
The number of confirmed cases are not completely visible now.

**Expected behavior**
Confirmed cases should be visible within the site container.

**Screenshots**
![Screenshot_2020-12-19-01-21-40-678_com.android.chrome.jpg](https://user-images.githubusercontent.com/39864404/102655924-19961500-4199-11eb-9556-d94d2fd2a460.jpg)

[2020-12-22 09:19] praveenscience opened #2390 "Contribution guidelines has images missing."
**Describe the bug**
When we open the [covid19india-react/CONTRIBUTING.md at master · covid19india/covid19india-react · GitHub](https://github.com/covid19india/covid19india-react/blob/master/CONTRIBUTING.md) page, the images are missing.

**To Reproduce**
Open [covid19india-react/CONTRIBUTING.md at master · covid19india/covid19india-react · GitHub](https://github.com/covid19india/covid19india-reac

[2020-12-22 14:08] #2387 closed, assigned to nobody

[2020-12-23 08:24] harirajv commented on #2385
@riteshkr54 Could you please share a screenshot of it?

[2020-12-23 12:09] riteshkr54 commented on #2385
![dailyactive2](https://user-images.githubusercontent.com/31988503/102994774-b8c65e00-4545-11eb-8b53-9a9cdfd78cb9.png)
![dailyactive1](https://user-images.githubusercontent.com/31988503/102994779-bcf27b80-4545-11eb-88ee-09732c72e51c.png)

[2020-12-23 18:03] grahanpurush commented on #2388
brother though I am new here, I support your dedication. Salute you.

[2020-12-23 18:28] ilicina1 commented on #1610
Hi, i would like to work on this :)

/claim

[2020-12-30 05:23] singparvi commented on #2367
Fine on my machine as well. Using Version 87.0.4280.88 (Official Build) (64-bit) on Windows 10.

[2021-01-05 11:12] #2388 closed, assigned to nobody

[2021-01-08 04:30] Shubham0324 opened #2392 "Regarding Mutated Virus Cases in India"
In past days Sars Cov-2 virus cases are increasing in India and people visiting a website do not know which district or states the spread is.

It is better to mark **states either in a different colour** for direct understanding or give **Normal Case + Sars Cov-2** confirm case pattern or **give the necessary information in the information icon next to the state name**. This way we can give better

[2021-01-09 07:48] devkapilbansal commented on #2390
Duplicate of #2358

[2021-01-10 16:23] sambhavsaxena commented on #2392
I would like to work on this issue
Please assign

[2021-01-17 03:32] imbansalaniket opened #2393 "Add number of people vaccinated too."
It'll help us to know how many people have been vaccinated.

[2021-01-17 19:48] bee-rickey commented on #2392
We don’t plan to do this since we do not anticipate these numbers being published over a longer period of time

[2021-01-17 19:48] #2392 closed, assigned to nobody

[2021-01-19 16:19] ShikariShambuJr commented on #2393
We've seen vaccination summary data published. Will wait to see the format and frequency at which this is published in coming days and decide the best way to represent on the site/API.

[2021-01-19 16:19] #2393 closed, assigned to nobody

[2021-01-24 02:06] jain opened #2395 "Add a columns Showing Vaccines Distributed!"
Currently the amount of vaccines administered are not being tracked, and I am sure this is a statistic many people would like to see. It would be great to get this information and display it on the site, ideally another column like tested.

[2021-01-24 06:28] ShikariShambuJr commented on #2395
Hi, We've seen vaccination summary data published. Will wait to see the format and frequency at which this is published in coming days and decide the best way to represent on the site.

[2021-01-25 18:51] #2395 closed, assigned to nobody

[2021-01-28 06:44] kuharan opened #2397 "No of people vaccinated state wise"
This is a feature request related to no of vaccinated candidates, if the data is available in some api.

This feature will show the no of people vaccinated beside confirm active recovered and deceased.

This will add a huge benefit to all whoever is still tracking the information on this website.

[2021-01-28 10:58] chatRG opened #2398 "Chart axis points overlap for log scale"
**Describe the bug**
Chart axis points are overlapping for logarithmic scale.

![image](https://user-images.githubusercontent.com/22965855/106128901-cd6dc580-6185-11eb-9f4b-b525a3387c48.png)

[2021-01-28 12:11] dhirajshet opened #2399 "The data displayed for last updated day and previous day is same."
**Bug Description**
1.The data displayed for last updated day and previous day is same.
2. No direct way to come back to last updated day from previous day.

**Bug 1**
Right below the search bar if I click on the last updated date, the data shown for last updated day and previous day is same. Say in this screenshot the data shown for 28th Jan and 27th Jan is same.

**Screenshot**
![bug](https://us

[2021-01-30 13:20] himanshub16 opened #2400 "Page does not load"
**Describe the bug**
The page does not load on opening, due to some errors (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to "https://covid19india.org"
Page does not load

**Expected behavior**
Page should load

**Screenshots**
![image](https://user-images.githubusercontent.com/14041572/106357362-b10b8d80-632b-11eb-9c96-579dcfab76e7.png)

**Desktop (please complete the

[2021-01-31 05:49] #2399 closed, assigned to nobody

[2021-01-31 06:17] dhirajshet opened #2401 "The chart data points and line overlap on the number of cases displayed"
**Describe the bug**
The chart data points and line overlaps on the number of cases displayed in the chart when the time range is selected as one month.

**Screenshots**
![tempsnip](https://user-images.githubusercontent.com/42807097/106376304-0e4e2000-63ba-11eb-9408-4368a1dad9aa.png)

[2021-01-31 15:42] ShikariShambuJr commented on #2397
Refer Here- https://twitter.com/covid19indiaorg/status/1355558760354205696?s=20

[2021-01-31 15:42] #2397 closed, assigned to nobody

[2021-01-31 17:59] TheTrio commented on #2385
If you want to see `total positive - total recovered`, click on the Cumulative tab. Daily shows `new positive - new recovered`, which can certainly be negative.

[2021-02-01 10:00] #2386 closed, assigned to nobody

[2021-02-01 10:03] shuklaayush commented on #2400
Should be fixed now

[2021-02-01 10:03] #2400 closed, assigned to nobody

[2021-02-01 10:04] #2384 closed, assigned to nobody

[2021-02-01 10:04] #2390 closed, assigned to nobody

[2021-02-01 10:07] shuklaayush commented on #2333
Closing due to inactivity

[2021-02-01 10:07] #2333 closed, assigned to nobody

[2021-02-01 10:07] shuklaayush commented on #2398
Duplicates #2328

[2021-02-01 10:07] #2398 closed, assigned to nobody

[2021-02-01 10:08] shuklaayush commented on #2257
Closing due to inactivity

[2021-02-01 10:08] #2257 closed, assigned to nobody

[2021-02-01 10:09] shuklaayush commented on #2318
/available

[2021-02-01 11:14] ShikariShambuJr commented on #2385
In case recovered cases and deceased cases are more than the confirmed cases on that particular day the graph will go in negative

[2021-02-01 11:14] #2385 closed, assigned to nobody

[2021-02-01 12:01] shuklaayush commented on #2385
Refer to https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2021-02-02 06:25] Vishv07 opened #2403 "Implement a share feature"
We can implement one share feature for a share a link of specific state data or region
- we can put the share button in /state/ route
- with the help of that user can share a whole state covid data[ LINK ] on other social media or [copy the link]
- furthermore, we can actually drill it down more like share a particular field like active cases, vaccinated, daily cases, etc.

[2021-02-02 12:17] #2188 closed, assigned to nobody

[2021-02-02 12:17] #2368 closed, assigned to nobody

[2021-02-02 12:17] #2382 closed, assigned to nobody

[2021-02-02 12:17] #2401 closed, assigned to nobody

[2021-02-05 02:03] Allenagarciaa commented on #1610
/claim

[2021-02-09 19:29] Gronx16 commented on #2403
Great Idea..
Are you working on it.

[2021-02-14 09:20] Vishv07 commented on #2403
Seems like this project is up for grabs

[2021-02-17 02:50] RahulMR42 opened #2404 "Add new fields for main dashboard"
Would it possible to add two more fields to get more accurate and positive view with

- % test positivity ( as it has the test count and positive case hopefully it would be easy).

- % detection rate ,like what is the % of cases per X numbers (100 or 1000) of cases were tracked

[2021-02-25 18:40] seenudivi opened #2405 "Syntax error - terser-webpack-plugin/node_modules/p-limit/index.js:29 catch {} - needs node update."
I got the below error when I cloned the repository and try to execute npm i && npm start

_terser-webpack-plugin/node_modules/p-limit/index.js:29
                } catch {}
                        ^
SyntaxError: Unexpected token {_

I have spent several hours trying to figure out the problem.
Ran _npm update, npm cache clean --force and npm install_ several times to see if all the dependencies get

[2021-02-25 18:41] seenudivi commented on #2405
I am closing the issue as this is for information only.

[2021-02-25 19:04] #2405 closed, assigned to nobody

[2021-02-25 21:13] Akshantjain commented on #2404
I think these features are already there in the dashboard with name "Test positivity Ratio".
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/34630484/109217862-021c6f00-777c-11eb-946a-e779cc8c29a4.png">

And for the detection rate, there is already one with cases per 10L.

[2021-02-26 02:28] #2404 closed, assigned to nobody

[2021-02-27 12:21] panwarab opened #2406 "Vaccine Data is ambiguous."
It should separately show the first dose administration count and second dose administration count for better clarity.

[2021-02-28 16:23] Adityamerc commented on #2403
That's a great idea!, Have you started working on it? I would like to contribute to it as well.

[2021-03-01 10:15] Rugved1512 opened #2407 "Cancellation Button to exit from Search"
When we click/tap on the search Bar there is no way to get out of it except
for clicking on random spaces on the pages.

Solution: There should be a 'CROSS' button within the search bar exit from search or a "cancel" button near the search bar (somewhat like Apple)

![IMG_20210301_154040](https://user-images.githubusercontent.com/29044907/109483296-1080c880-7aa5-11eb-89ae-b69871391618.jpg)

![Scre

[2021-03-11 08:00] srikanthlogic commented on #2406
There is a detailed vaccination data put out by CoWIN - from 08 March 2021 onwards.

Data for each day updated as of 6 PM IST, change the date parameter. A proper data archiving / visualization design that scales needs to be worked on.

* All India Statistics - Summary at state level - https://api.cowin.gov.in/api/v1/reports/v2/getPublicReports?state_id=&district_id=&date=2021-03-08
* Statewise St

[2021-03-14 15:44] devtechnocode opened #2409 "Add a feature to show no. of vaccine doses administered district-wise also different columns for phases 1 and 2"
Similar features for district level as it's showing no. of doses administered at the state level.
![Image for reference](https://user-images.githubusercontent.com/52890488/111074625-db935d80-8509-11eb-8e9a-ac46bb43cda3.png)

[2021-03-19 08:58] itsakashp commented on #2407
Good Find

[2021-03-28 13:37] Saptarshee94 commented on #2403
I have added sharing links to Twitter, Facebook, Whatsapp and Email. But changes isn't pushed as this issue is in review stage.

[2021-03-28 14:24] Saptarshee94 commented on #2407
I have fixed this issue. I will push the code when this issue will be 'Available'.

[2021-04-01 12:42] 0x6773 opened #2413 "Request for feature to show enlarged graph"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but I think we have too much data to be shown in that small graph.

**Describe the solution you'd like**
There should be an option to enlarge the graphs which are being shown on the right side. There are too many data points and it's kinda messy when viewing it from the beginning.

**Additional context**
Here

[2021-04-03 15:57] anmol-gh opened #2414 "Graphs,Data shifts to the left in potrait view"
![Screenshot_20210403-211703_Chrome](https://user-images.githubusercontent.com/75087252/113483817-f5014700-94c2-11eb-8325-207d692a28c1.jpg)
The window cannot be scrolled to see the data of states if we open the entire data which contains vaccination status active ratio and so on.

[2021-04-04 02:45] #2409 closed, assigned to nobody

[2021-04-05 04:24] dbmohit commented on #2413
Can we use target="new" for it

[2021-04-06 02:33] Kashishjain04 commented on #2413
can we create a new route /charts to show only charts on a page

[2021-04-06 15:25] sambhavsaxena commented on #2414
i would like to work on this issue

[2021-04-06 17:23] anmol-gh commented on #2414
Great let me know if any changes have been approved,I will be happy to test it out.

[2021-04-06 21:09] shuklaayush commented on #2414
Fixed via 886b39a379f1b4dfa7135abd99941ed6c60ae37d. Thanks for reporting!

[2021-04-06 21:09] #2414 closed, assigned to nobody

[2021-04-09 04:18] humble-barnacle001 opened #2417 "Add vaccination data source"
**Describe the solution you'd like**
The source of the vaccination could be put as a link here:
![image](https://user-images.githubusercontent.com/58736240/114127845-b16e6900-9918-11eb-884d-0dfa86981839.png)

[2021-04-10 11:52] grvaries opened #2418 "Add population density to help estimate how fast the spread could be"
**Is your feature request related to a problem? Please describe.**
It could be difficult to estimate how slow or fast virus can spread in different areas.

**Describe the solution you'd like**
Since I already see population added (not sure to what granularity), would be worth adding population density to see where the government needs to focus on more based on how dense that particular area is.

*

[2021-04-12 09:45] #1650 closed, assigned to kousiksatish, jeremyphilemon

[2021-04-12 09:51] shuklaayush commented on #2338
Duplicates #2199

[2021-04-12 09:51] #2338 closed, assigned to nobody

[2021-04-12 21:17] #2024 closed, assigned to rtkg12

[2021-04-12 21:17] #2026 closed, assigned to akbansa

[2021-04-12 21:17] #2225 closed, assigned to nobody

[2021-04-12 21:17] #2336 closed, assigned to nobody

[2021-04-13 18:02] mohit1337 opened #2422 "Why is deceased graph for India scaled into a 3L scale on Y axis?"
Is it intentional or are website owners instructed to do so?

Because it's obviously a flat line at that scale which makes no sense from data point of view.

Also other scales like testing are scaled to different numbers.

[2021-04-13 19:36] mechiragjain opened #2423 "Dark Theme Mode Option and 'A crowdsourced initiative.' Placement Issue"
When we open the sidebar menu then we get the option to change the theme mode. There you had mentioned 'A crowdsourced initiative.' instead there should be written text 'Dark/Light Theme Mode' just like for Home, Blog and About.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Sidebar Menu
2. See the Dark Theme Mode option
3. There you'll find text 'A Crowdsource initiative' instead of

[2021-04-14 06:53] shuklaayush commented on #2422
See https://github.com/covid19india/covid19india-react/issues/2270

[2021-04-14 06:53] #2422 closed, assigned to nobody

[2021-04-15 16:03] shubham1532 commented on #2423
Hello, I want correct these things. please give me this opportunity

[2021-04-15 16:18] shubham1532 commented on #2417
Hello, I want to add source of the vaccination link . please give me this opportunity

[2021-04-16 09:09] humble-barnacle001 commented on #2417
Create a pr

[2021-04-17 06:33] Prankurtiwari opened #2424 "Please add Hospital beds available in major cities."
It would be very useful if you people could add number of beds available in the cities or states where there is surge in covid cases.
One of my friend created an API for DELHI only. It would be great if it could be extended to various states or major cities and if possible whole country.
Just a suggestion if you could implement it.

[2021-04-17 12:09] parvezdittia commented on #2199
I would like to work on this issue, if not already being worked on.

[2021-04-17 17:48] priyanshshah1997 commented on #2424
how would you like to add those section?

[2021-04-17 20:17] JigneshWorld commented on #2424
Yeah, I was thinking for this same feature.. it would be really helpful to many people now a days..

I got these kind of details in PDF for my city - Ahmedabad, Gujarat. (From my WhatsApp groups)

[ALL COVID HOSPITAL NODAL PERSON 06-APR.pdf](https://github.com/covid19india/covid19india-react/files/6329964/ALL.COVID.HOSPITAL.NODAL.PERSON.06-APR.pdf)
[AMC REQUISITIONED HOSPITAL STATUS 16-04-2021 5.0

[2021-04-17 20:18] JigneshWorld commented on #2424
@Prankurtiwari can you share some insight or reference - how this things are currently working for Delhi?

[2021-04-18 07:12] GNSubrahmanyam opened #2425 "State wise history timeline data"
**Is your feature request related to a problem? Please describe.**
Yes, I will be very useful if we provide statewise history timeline data and playback feature

https://user-images.githubusercontent.com/18217008/115137408-9223ba00-a043-11eb-8e90-bf0dd76a7e19.mp4

[2021-04-18 08:40] Prankurtiwari commented on #2424
@JigneshPatel23 this is the link for the reference
 https://delhifightscorona.in/data/hospital-beds/

@priyanshshah1997 sorry I couldn't understood what you are asking.

[2021-04-18 11:31] priyanshshah1997 commented on #2424
@Prankurtiwari in which page and where to show available beds category?

[2021-04-18 13:29] Prankurtiwari commented on #2424
@priyanshshah1997  we could add a section for that in the page, not exactly on homepage rather a help/info section to fetch user location and help help to locate nearby hospital with beds available and there contact details.
Few days back when i was check this app on mobile there was this section but now I couldn't able to find it on web app.

[2021-04-18 19:47] ssinha8752 opened #2426 "Adding the list of empty beds for Delhi hospitals ( as of now we can expand for other states with time)"
**Is your feature request related to a problem? Please describe.**
Since there is exponential growth in the number of patients it's very difficult to keep a track record of empty beds. ( in Delhi as of now)

**Describe the solution you'd like**
Since the API is yet to be built. Delhi government has come up with their website (https://coronabeds.jantasamvad.org/) which is keeping a record of all th

[2021-04-19 10:50] #2199 closed, assigned to nobody

[2021-04-19 14:21] humble-barnacle001 opened #2427 "Support to show vaccination data as full or partially vaccinated"
**Describe the solution you'd like**
Vaccination count displayed as two:
- Full
- Partial

[2021-04-19 18:56] cybergeekgyan commented on #2318
/claim

[2021-04-20 05:14] devRawnie commented on #2426
Seems a great feature for the current website. Would love to work upon this

[2021-04-20 10:15] justshivam opened #2428 "Graph issue"
**Describe the bug**
Daily active cases cannot be negative

**To Reproduce**
Just visit the site😂

**Expected behavior**
Daily active cases should always be positive

**Screenshots**
![Screenshot (30)](https://user-images.githubusercontent.com/59390818/115379448-28e0aa00-a1ef-11eb-8caf-7fa1ab910094.png)

**Desktop (please complete the following information):**

- OS: Windows 10 (20H2)
- Browser: B

[2021-04-20 10:26] shuklaayush commented on #2428
https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2021-04-20 10:26] #2428 closed, assigned to nobody

[2021-04-21 11:46] zippytyro commented on #2426
read the contribution guide @devRawnie use the **"/claim"** feature to claim an issue, after review.

[2021-04-21 11:54] zippytyro opened #2429 "Add a resources page for people looking for Oxygen, Remdesivir, Plasma etc"
**Is your feature request related to a problem? Please describe.**
The site is having a good amount of traffic, add a resources page, people are looking for Oxygen, Remdesivir, Plasma, Meal services, Blood banks, Beds, etc, expanding #2426

**Describe the solution you'd like**
I've looked for resources that have some data related to this, state or city-wise. Adding them as resources will do the wo

[2021-04-21 19:22] kush-agra commented on #2423
you can do `/claim` and then work on it, see contributing.md

[2021-04-22 02:38] marootushar commented on #1610
/claim

[2021-04-22 02:43] marootushar commented on #2407
/claim

[2021-04-22 02:54] marootushar commented on #2158
/claim

[2021-04-22 02:57] marootushar commented on #2372
/claim

[2021-04-22 17:37] abhi31aug opened #2430 "List of testing center and vaccination district wise"
**Is your feature request related to a problem? Please describe.**
-> we can have list of testing centers and their location: People can get to know the testing centers(different colour coding for RAT and RT-PCR) nearby and get themselves tested.
-> the list of vaccination centers can help people who are planning to walk-in.

**Describe the solution you'd like**
-> There must be government source

[2021-04-23 17:46] ShikariShambuJr commented on #2430
At cowin.gov.in you can vaccination centres and at icmr.gov.in for testing facilities.

[2021-04-23 17:46] #2430 closed, assigned to nobody

[2021-04-23 17:49] ShikariShambuJr commented on #2429
We have collaborated with CovidFyi Today. Browse the website Covid19india.org. We have linked them.

[2021-04-23 17:49] #2429 closed, assigned to nobody

[2021-04-23 17:50] ShikariShambuJr commented on #2427
This is something in works. In coming days some progress will be done on this.

[2021-04-23 17:51] ShikariShambuJr commented on #2417
Can you describe what will be the use of it?

[2021-04-24 05:01] manurampandit commented on #2418
Suggestion: Initial point suggesting the rate could be (number of covid patient found)/ (number of test conducted).

[2021-04-24 05:19] shubham1532 commented on #2417
Can we use 'a' tag for this.?

On Fri, 23 Apr 2021 at 23:21, Shikari Shambu Jr. ***@***.***>
wrote:

[2021-04-24 06:10] Anshluthra1 opened #2433 "webpack.config.js"
where is the webpack.config file. cannot build an optimized production without that. pls if you can provide that

[2021-04-24 07:01] Sayan-Nandy commented on #2367
Happening on my machine as well, in Firefox(87.0) on Manjaro-KDE(5.21.1)

[2021-04-24 07:13] Sayan-Nandy opened #2434 "Stick the table headings to the top while scrolling down"
I can't remember which column stands for what when I scroll down, so it might be helpful to stick the table headers to the top when scrolling down. This is especially helpful in mobiles.
![Screenshot_20210424_123957](https://user-images.githubusercontent.com/33047064/115950736-a9a6eb00-a4fa-11eb-8363-631a8cd72a6e.png)

[2021-04-24 08:03] shivangswain commented on #2367
It'd be really helpful if you could also let us know your screen resolution and OS & browser scaling settings.

[2021-04-24 09:26] pramodgargpkg opened #2436 "Covid Resource"
**Problem**
1. No single resource to access all covid related resources.
2. Currently, all information is scattered on all social media like Facebook Instagram Twitter.
3. People are facing problems with bed availability, oxygen availability.
4. No one knows what to do when they get a positive result. All they try is a home remedy or people mostly panic.

**Solution**
1. Since this website is acce

[2021-04-24 19:28] samin-batra commented on #2343
Hi, has this been done? If not, I'd like to take it up.

[2021-04-24 20:41] Sayan-Nandy commented on #2367
My screen resolution is 1920x1080(16:9)
Both OS and browser scaling are at default(100%)
Obviously, this is a very minor detail in an otherwise excellent and very functional website. Cheers!

[2021-04-24 20:54] Sayan-Nandy commented on #2436
1. For solution 3&4, maybe write a blog? There's already a feature there.
2. As for oxygen availability, I don't think the data is available district/state-wise in real time. But I maybe wrong.
3. Bed availability isn't going to help either if we don't specify where the bed is available(i.e. which hospital in the state/district has how many beds) as saying UP has n no. of beds isn't going to help

[2021-04-25 07:20] pramodgargpkg commented on #2436
1. For 2, we can collect data from the administration. Currently, they don't have it. We can create some feature where the administration can provide data in the required format and that can be shared. Something like an android app.
2. For 3, this is what I am suggesting, We will collect data of all hospitals in India and we will update in real-time. We can have volunteers ( at least big hospitals

[2021-04-25 07:47] pramodgargpkg commented on #2436
Please add https://covidfacts.in/ on your website. This seems a genuine website.

[2021-04-25 14:15] Aanandgupta opened #2437 "District portal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to work on one route "/kanpur" which will be of my district kanpur containing verified information of beds and oxygen cylinder  and other medicenes  we were thinking of making a new website for that but it will take time so adding on

[2021-04-25 14:22] Aanandgupta commented on #2436
for this we can devide this into specific route of each district where group of 3/4 people will collect genuine information and put them live on site
for i can take responsibility of kanpur with group of my friends and same should be followed for all other districts

[2021-04-25 14:33] humble-barnacle001 commented on #2417
So that we shall be able to directly obtain the data directly from source as well as cross-verify. Also, we can see the first dose and second dose data seperately

[2021-04-25 14:40] Aanandgupta opened #2438 "Red alert for covid patients"
As the last years recovery rate was 98Percent people think that they just need to be quarantined when turned positive but thats not the case now people need to be told getting an oximeter and having regular check for that. first people dont check and when they check its too late simmiliar cases are find every where and as they oxygen level goes down to 80's people think its normal and dont get hos

[2021-04-25 19:24] Sayan-Nandy commented on #2438
Again, these infos can be put into the blog(which can be renamed as FAQ or Important Info) section of the website.

[2021-04-26 12:08] hareshpatel1990 commented on #2437
I think you are talking something like [https://life.coronasafe.network/uttar_pradesh/kanpur_nagar](https://life.coronasafe.network/uttar_pradesh/kanpur_nagar)

[2021-04-26 18:16] humble-barnacle001 opened #2439 "Add TPR for states and India"
A new column is added to the state wise table which shows TPR (test positivity ratio) as a percentage

[2021-04-26 18:20] Aanandgupta commented on #2437
yes and thanks for the link

[2021-04-27 04:27] ShikariShambuJr commented on #2439
Its already there. Try clicking on expand icon. You may be able to see that

[2021-04-27 04:58] nehabadiani opened #2440 "In Gujarati language, certain information is displayed in English as well."
**Describe the bug**
On selecting a different language to read the page in, I selected Gujarati and on scrolling down, I noticed that quite an amount of information is still displayed in English, this could lead to incomplete information to someone viewing it in Gujarati.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Navigation Bar on the left and at the bottom
2. Click on 'Engl

[2021-04-27 16:49] ghost opened #2441 "Language Issue: displaying English in some fields, even when other languages are selected"
Strangely website is displaying other language when selected for a particular language.
when English is selected some other language is displayed in some fields.
when any other language is selected other than English there are many fields which are displaying other than the selected language .
[New Microsoft Office Word Document.docx](https://github.com/covid19india/covid19india-react/files/638623

[2021-04-28 07:26] hemanth-kotagiri opened #2442 "Telangana name being rendered incorrectly in resources page."
**Describe the bug**
The name of the state Telangana is being rendered as "Telengana" in the resources page.

**To Reproduce**

1. Go to 'resources page'
2. Scroll all the way down
3. See error

**Expected behavior**
I can see from the project structure that these names, links are being directly fetched from this link : `https://api.covid19india.org/crowdsourced_resources_links.json`
And so, I wen

[2021-04-28 08:14] adarshsunil commented on #2367
Please check the browser scaling/zoom settings. tested and working perfectly in chrome, opera and brave

[2021-04-28 08:23] adarshsunil opened #2443 "See More Detail Button Position"
**Is your feature request related to a problem? Please describe.**
See more Detail Button is almost hidden in all the views, even though expand button shows it.
![gt1](https://user-images.githubusercontent.com/17540187/116371192-c9a31b00-a828-11eb-9e75-b45fb4e30ded.png)

**Describe the solution you'd like**
 Can be positioned to left-side to have a better view both in web and mobile view and repos

[2021-04-29 19:27] gauravsinhaweb opened #2445 "Transition needed while toggling Light and Dark Mode"
There is a need to _add a transition or animation_ while switching between themes i.e. dark and light themes.

[2021-04-30 06:40] surfmuggle opened #2446 "Add documentation what counts as a case and what as a death"
**Is your feature request related to a problem? Please describe.**
It is unclear to me how cases (active infections, deaths) are determined.
On https://www.mohfw.gov.in/ i could not find details about that

**Describe the solution you'd like**
If possible document what counts as a case. For example a case is every person with a confirmed positive rtPCR-test result or someone who has antibodies.
So

[2021-04-30 16:15] Jaideep25 opened #2447 "Cases in negative"
Hi!
Your app is just amazing and cool!

Just their is a bug I have seen....
Click on daily,
And choose any state, or let it be the coutry, as you can see the active cases go to negative
![image](https://user-images.githubusercontent.com/67269475/116723563-4edf2900-a9fd-11eb-9800-e0900d74e364.png)
Hoping you can solve this problem or bug!
Thank you!
Regards!

[2021-04-30 18:31] JaapHaitsma opened #2448 "Test positivity ratio is incorrect on main page"
<img width="1272" alt="Screen Shot 2021-04-30 at 14 27 36" src="https://user-images.githubusercontent.com/905295/116738372-59c79880-a9c0-11eb-8b14-05b14ee8623a.png">
See screenshot: For instance test positivity ratio in Karnataka is shown as 6% while there were almost 50.000 new cases and number of tests were 1.9L. So positivity rate should be around 25%

[2021-04-30 20:10] pratham1002 commented on #2447
That is the daily change in active cases you are seeing, it is not a bug but is supposed to be that way. To track the total number of active cases on a particular day, use the `Cumulative` graphs.

[2021-04-30 20:15] pratham1002 opened #2449 "Add Vaccinations per Million to States Page"
**Is your feature request related to a problem? Please describe.**
Just like the
![image](https://user-images.githubusercontent.com/54350608/116749527-b35eb000-aa1e-11eb-989c-1c3732b23fd3.png)
it might be useful to have vaccinations per million

**Describe the solution you'd like**
Simply another tab on the state page without any required change to API.

**Describe alternatives you've considered**

[2021-04-30 20:37] iBhavesh opened #2450 "Minigraph at the top of homepage not working appropriately"
Active mini graph and active count should also increase but in the mini graph it is not changing appropriately in the bigger graph its working fine

[2021-05-01 05:50] Jaideep25 commented on #2447
But how can the cases go negative?? @pratham1002

[2021-05-01 06:12] pratham1002 commented on #2447
More people recovered on a particular day than got infected. Hence the net change in active cases is negative.

[2021-05-01 06:31] Jaideep25 commented on #2447
But in real... we can't get negative....

[2021-05-01 20:36] Ncchoudhury opened #2452 "Capturing of Covid Antigen Test results along with the date when the test is done"
**Feature Description **
 - > Ability of feature to capture the test results of the Covid antigen Test (carried out at home)in the tracking app
- > The Tracking App feature gives a reminder to the person/user to carry out the Covid antigen  test every two days.
- > Ability of the Tracking app feature to register the history of test results of the user over a period of 14 days or even more..

**Sho

[2021-05-02 11:48] rajputmahesh commented on #2442
Yes to fix, changes required at the API side.

Telengana Government Should be "Telangana Government"
Independent aggregator - Telengana Should be "Independent aggregator - Telangana"

[2021-05-02 11:56] hemanth-kotagiri commented on #2442
@maheshdevelop absolutely. I'll raise one over there as well.

[2021-05-02 12:18] rajputmahesh commented on #2442
Sure, I will check how that could be fix

[2021-05-02 12:21] hemanth-kotagiri commented on #2442
AFAIK, we can't fix it. It comes directly from the server and I have also mentioned the route of which the data is available through. And, in the API Repository as well there is no mention of the link I just pasted. If you have found something, or any other way we can fix it, do let me know here first. Thanks!

[2021-05-02 13:23] rajputmahesh commented on #2442
Well this is the JSON - https://api.covid19india.org/crowdsourced_resources_links.json
where changes are required, currently I am not sure where this JSON is, I am configuring API project to understand better

[2021-05-02 14:57] bee-rickey commented on #2442
There's nothing to fix on the API. This is directly pulled from a google sheet and the same has been corrected. Thank you for notifying the error.

[2021-05-02 14:57] #2442 closed, assigned to nobody

[2021-05-02 15:07] hemanth-kotagiri commented on #2442
@bee-rickey Exactly, as I said. We as contributors couldn't do anything because the data itself is coming from a different private source. Thanks for elaborating more on the issue. Awesome!

[2021-05-02 16:08] krishnashenoy123 commented on #2447
@Jaideep25, it's not the confirmed cases, active case can't be negative whereas the active cases it can go negative or positive or zero. If more number of people are recovered than the number of confirmed cases that day, then the active case will become negative.
active case = confirmed case - recovered case - deaths.

[2021-05-02 16:18] ravi-maithrey commented on #2446
What i can see is the mohfw itself isnt releasing too many details. before we classify anything, we need further info on how these are being classified at the source

[2021-05-03 05:31] Jaideep25 commented on #2447
I know that formula, but active cases means that the number of people who still are suffering from corona that day, which isn't possible to be negative..

[2021-05-04 16:45] vishwaphansal7 opened #2455 "Please add availability of vaccine slot and vaccine"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-04 22:00] nitesh0007-edith opened #2456 "Please provide a open source data link which update daily"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-04 22:02] nitesh0007-edith commented on #2456
provide us data link which can easily connect with Tableau / Power BI etc

[2021-05-05 10:18] kaijain opened #2457 "Wrong calculation of total number of tests,"
The total number of test reflected is wrong because when you add all the states test individually the number is much higer.
This error is leading to a high test posotivity ratio.
Please look into the error.

[2021-05-05 11:38] krishnashenoy123 commented on #2447
You still didn't get it !!?
Its not the people suffering, its the net total for the day.

[2021-05-05 12:07] niteshnamdeoshinde opened #2458 "Mumbai test cases numbers not visible since 30th Jan 2021"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Maharashtra section
2. Click on Mumbai/Thane district
3. Scroll down to Tested
4. no counts found since 27th Jan

**Expected behavior**
its

[2021-05-09 12:26] jayavardhan3112 opened #2459 "The Language Button on the bottom left is getting clicked twice"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home page
2. Click on Language button in the bottom left
3. wait for it to open
4. Then click on the language button again (you can find the error - where the button is getting clicked twice hereby the language tab is not getting closed)

**Expected behavior**
the language button should work as a toggle

**Screenshot

[2021-05-09 14:00] jayavardhan3112 commented on #2459
Found the issue, it's caused due to the `useClickAway` function called in the ``LanguageSwitcher.js` file`
[code]

[2021-05-09 17:29] jayavardhan3112 opened #2462 "Cases in table are negative"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Home page
2.  Click the option toggle button on the top left of the table
3. Check the Table entries
4. See error

**Expected behavior**
Screenshots shouldnt be in negative

**Screenshots**
<img width="1440" alt="Screenshot 2021-05-09 at 6 06 09 PM" src="https://user-images.githubusercontent.com/22497670/117581386-15

[2021-05-10 16:22] adarsh500 commented on #2423
As of today, 10 May. This issue has been fixed

[2021-05-10 16:47] adarsh500 commented on #2443
Yes, I agree, a direct link to statistics would be preferred. I would like to work on this.

[2021-05-11 02:20] adarshsunil opened #2464 "Remove Case fatality and Add Death per million/thousand"
**Is your feature request related to a problem? Please describe.**
Case fatality is totally misleading as it stays low if cases rises too much. We have seen this metric gone wrong with Delhi, Maharashtra and Kerala where death when rising still show low case fatality due to large number of cases
**Describe the solution you'd like**
Remove case fatality and Add deaths per million/thousand which wil

[2021-05-11 05:59] shubham1532 commented on #2423
Sorry, I am suffering from covid..

On Mon, 10 May, 2021, 9:53 pm adarsh500, ***@***.***> wrote:

[2021-05-11 08:24] thecodingaviator commented on #2458
[Collection of testing data at district level has been stopped](https://api.covid19india.org/)

[2021-05-13 07:20] absuag opened #2466 "test numbers are not right"
The number of tests for Lucknow, Mumbai and other cities are the same since December 2020.

![image](https://user-images.githubusercontent.com/34994647/118092398-b1ff9100-b3e9-11eb-9add-c87e34f93686.png)

[2021-05-13 08:11] absuag commented on #2466
it seems data is not getting updated:
![image](https://user-images.githubusercontent.com/34994647/118097969-f7738c80-b3f0-11eb-84ee-c6f1a6f0dab4.png)

[2021-05-13 13:16] niteshnamdeoshinde commented on #2458
atleast add for main cities in Maharashtra as its the worst affected state :(
and if data is not collected at district level/city level how its available to social media pages/news channels/newspapers?

[2021-05-14 08:59] ShikariShambuJr commented on #2466
We have discontinued District Wise Testing from Feb'21

[2021-05-14 08:59] #2466 closed, assigned to nobody

[2021-05-14 09:02] ShikariShambuJr commented on #2458
It is a very hectic and difficult task to collect this data as we are a volunteer based group with limited resources so have discontinued it.

[2021-05-14 09:02] #2458 closed, assigned to nobody

[2021-05-14 09:03] ShikariShambuJr commented on #2457
This maybe due to different cut-off timings for reporting for the every state  and for national data. Would request you to contact authorities via relevant channels like RTI etc to get a clarification on this.

[2021-05-14 09:03] #2457 closed, assigned to nobody

[2021-05-14 09:04] ShikariShambuJr commented on #2452
The data you are referring is not available anywhere to capture from.

[2021-05-14 09:04] #2452 closed, assigned to nobody

[2021-05-14 09:06] ShikariShambuJr commented on #2455
Several third party players are doing work in this field like under45.in and Paytm Slot Finder. Try using them.

[2021-05-14 09:06] #2455 closed, assigned to nobody

[2021-05-14 09:06] ShikariShambuJr commented on #2456
All data is available at api.covid19india.org. The data is updated every 10 minutes.

[2021-05-14 09:06] #2456 closed, assigned to nobody

[2021-05-14 09:07] #2439 closed, assigned to nobody

[2021-05-14 09:07] #2459 closed, assigned to nobody

[2021-05-14 09:09] ShikariShambuJr commented on #2447
Refer to https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2021-05-14 09:09] #2447 closed, assigned to nobody

[2021-05-14 09:10] #2437 closed, assigned to nobody

[2021-05-14 09:10] ShikariShambuJr commented on #2436
Refer to covid19india.org/resources

[2021-05-14 09:10] #2436 closed, assigned to nobody

[2021-05-14 09:11] #2426 closed, assigned to nobody

[2021-05-15 10:18] Siddharth-Gandhi opened #2467 "Enhancement: Move time-series controls to the top with other Spread Trends controls"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I have to scroll all the way to the bottom to have to see graphs by time period. I think it really looks out of place at the bottom. When I first used the site, I was bummed that I couldn't find any controls for seeing trends over a specific time period (say last 30 days), even though they were there at

[2021-05-15 16:29] vitamin2025 opened #2468 "Menu Layout"
The Dark mode Button and "A crowdsourced initiative." statement is on the same line, which may create confusion.
![2021-05-15 (2)](https://user-images.githubusercontent.com/72799488/118371142-cf3e8600-b5c8-11eb-9388-5bc9b54427de.png)

[2021-05-16 05:43] arshzip commented on #2468
It would make more sense for that to be pushed to the empty space at the bottom like so

![image](https://user-images.githubusercontent.com/23417273/118386809-a86b6880-b637-11eb-89a9-1486e4628eaa.png)

I have a fix ready, will issue a PR once someone okays it

[2021-05-16 07:51] vitamin2025 commented on #2468
Yea, i can help too :)

[2021-05-16 14:48] namaste09 opened #2470 "Website View stuck on 16th May, 8.12 am IST"
**Describe the bug**
When ever I open the website, the time on the top is 16th May, 8.12 am IST. I believe it should be the current time.

**To Reproduce**
Steps to reproduce the behavior: Open the link, the home page has an error

**Screenshots**
Attached the current date in the screen shot

![Screenshot 2021-05-16 at 8 17 26 PM](https://user-images.githubusercontent.com/37135478/118401589-e55d4c

[2021-05-16 19:57] namaste09 commented on #2470
Fixed

[2021-05-16 19:57] #2470 closed, assigned to nobody

[2021-05-16 20:35] #2446 closed, assigned to nobody

[2021-05-16 20:35] bee-rickey commented on #2448
Table shows the overall TPR

[2021-05-16 20:35] #2448 closed, assigned to nobody

[2021-05-17 02:34] froster02 opened #2471 "website content size"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2021-05-17 05:31] stephen-talari opened #2472 "Negative daily active cases"
**Describe the bug**
Negative daily active counts are shown in the spread trends,
we can not have any number less than 0.
Ex:
[code]
We can not have `-100883` as daily count.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.covid19india.org
2. Click on 'Daily' tab in 'spread trends' and select 'India' from drop down
3. Scroll down to 'Active Chart(blue)'
4. See negative dai

[2021-05-17 09:57] dheerajagrawal19 opened #2473 "Number in percentage"
India is huge and numbers could look big and small from the point where we stand, for example 1 million people for India could be small but for many European countries it's big.
Whether we talk about the testing/tested/vaccinated, everyone is discussing as a cumulative number, instead of let's talk in percentage as well.

**Describe the solution you'd like**
For Vaccination, let's show much a city

[2021-05-18 07:08] KANE-99 commented on #2434
/claim

[2021-05-18 09:08] ShikariShambuJr commented on #2472
Refer to https://github.com/covid19india/covid19india-react/issues/2038#issuecomment-641962963

[2021-05-18 09:08] #2472 closed, assigned to nobody

[2021-05-18 20:11] DantrazTrev opened #2476 "Do not render Unknown for district view in the table"
**Describe the bug**
When switched to the district view the data viewed also contains an Unknown [ State Name ] which more or less has the entire state data
![Screenshot_20210519-013721_Chrome.jpg](https://user-images.githubusercontent.com/43457420/118716844-eab4c580-b842-11eb-8d4a-b86eec54b91a.jpg)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the table view
2. Switch to district
3

[2021-05-19 05:06] ShikariShambuJr commented on #2476
It is there because states like Telangana,Assam,Manipur,Goa,Sikkim,Delhi,Andaman and Nicobar do not provide district wise data. If they start displaying data this will go away

[2021-05-19 05:06] #2476 closed, assigned to nobody

[2021-05-19 15:43] kuharan opened #2477 "Black Fungus Infection"
Add a section to display the New Black Fungus Infection numbers.

Reasons:
1. It is related to covid-19
2. The numbers are significantly increasing and are a matter of concern.

[2021-05-20 15:35] ShikariShambuJr commented on #2477
The project is related to Covid. We would like to stick to that.
Moreover no public database for this disease exists.

[2021-05-20 15:35] #2477 closed, assigned to nobody

[2021-05-20 15:41] ShikariShambuJr commented on #2473
We are working on this and will soon add it in the same way described by you. Due to some personal issues it has been postponed for a while for implementation.

[2021-05-20 15:41] #2473 closed, assigned to nobody

[2021-05-20 15:44] ShikariShambuJr commented on #2464
You can click on 10L button to switch to Deceased per Million
![Screenshot from 2021-05-20 21-12-54](https://user-images.githubusercontent.com/68983486/119008979-4a7caf00-b9b0-11eb-8c4f-46c057eeae13.png)

[2021-05-20 15:44] #2464 closed, assigned to nobody

[2021-05-20 15:52] ShikariShambuJr commented on #2449
You can click on 10L button to view Total Doses Administered(Vaccination) per million at the Home Page not only for Statewise but also for DistrictWise
![Screenshot from 2021-05-20 21-12-54](https://user-images.githubusercontent.com/68983486/119010272-806e6300-b9b1-11eb-8bdc-4e6572a6822e.png)

[2021-05-20 15:52] #2449 closed, assigned to nobody

[2021-05-20 15:54] ShikariShambuJr commented on #2462
This was due mismatches in totals.Has been corrected by reconciliation of the entries.

[2021-05-20 15:54] #2462 closed, assigned to nobody

[2021-05-20 15:57] ShikariShambuJr commented on #2438
We have made a telegram group regarding Medical Help(https://t.me/CovidMedHelp) and we do post awareness material on our twitter handle regularly. Do check that out.

[2021-05-20 15:57] #2438 closed, assigned to nobody

[2021-05-20 15:59] ShikariShambuJr commented on #2443
You can also move slightly towards right without clicking on expand to have a view on the Detail Button. The button also works in partial view redirecting to the state page without any issues.

[2021-05-20 15:59] #2443 closed, assigned to nobody

[2021-05-20 16:00] #2427 closed, assigned to nobody

[2021-05-20 16:03] ShikariShambuJr commented on #2417
We are working on separating the doses part on our side.It will rolled out in the coming months. The data is sourced from www.mohfw.gov.in but as the data on the website is dynamic(Changes everyday) there is no use of adding the source here.

[2021-05-20 16:03] #2417 closed, assigned to nobody

[2021-05-20 16:05] ShikariShambuJr commented on #2424
There is no source where we can this data in real time that was the reason of no work on this. The data from Delhi App is subjected to adding the data from Staff which is not useful as the situation changes in minutes adn the application is updated every 2 hours I presume.

[2021-05-20 16:05] #2424 closed, assigned to nobody

[2021-05-20 16:06] ShikariShambuJr commented on #2406
We are adding and archiving all the data points on State,District and All India Wise. You can have a look at Cowin Sheets at StateWise (http://api.covid19india.org/csv/latest/cowin_vaccine_data_statewise.csv)
District Wise (http://api.covid19india.org/csv/latest/cowin_vaccine_data_districtwise.csv)

[2021-05-20 16:06] #2406 closed, assigned to nobody

[2021-05-20 16:09] ShikariShambuJr commented on #2425
Implemented in the latest Build.

[2021-05-20 16:09] #2425 closed, assigned to nobody

[2021-05-20 16:29] GNSubrahmanyam commented on #2425
@ShikariShambuJr Where i can't see that ?

[2021-05-20 22:37] shivansh-13 commented on #2295
@abhisharkjangir hey, I am a new developer and learning opensource for the first time. I want to work on this issue. can you please assign me it? or  tell me how to claim ?

[2021-05-21 13:02] stephen-talari commented on #2472
Referred to that comment, from that comments, only delta will be negative but not daily reported active cases.

This issue is not related to that!

[2021-05-21 21:44] hinoryu opened #2478 "Additional context"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-22 11:46] malay-satapathy opened #2479 "Adding Skip-forward ▶️ and Skip-backward ◀️ to timeline 📅"
**Is your feature request related to a problem? Please describe.**
While using the website to scroll on the timeline to see past or future date records, there is no button to click for going to the previous or next day. Going to the previous/next date is possible only in two ways:
1. Clicking on the date 📅 below the FastForward button.
2. Pressing previous/next keys from the keyboard. ( P.S ~ I re

[2021-05-22 11:59] abhisharkjangir commented on #2295
@shivansh-13  This issue is already claimed and I assigned it to @govardhan27 .

[2021-05-22 14:28] shivansh-13 commented on #2295
@govardhan27 I have completed the work already. I am ready to create a PR.  If you haven't done the work please give me the claim so that I can create a PR.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/80212477/119230244-ffda6e80-bb38-11eb-8c72-ba0f3ef7edc0.png">

EDIT: PR generated with PR number #2480

[2021-05-23 09:04] vsvipul opened #2481 "Add a separate column to show vaccines administred per unit population"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Add a separate column to show vaccines administred per unit population

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
A separate column can be added in the expanded view for this feature.

[2021-05-23 15:00] Anubhav-developr commented on #2477
@kuharan which api is providing the data how will you get the numbers .....?

[2021-05-23 17:11] malay-satapathy commented on #2479
@shuklaayush Tagging you here as I saw the Timeline ⌛ component is developed and maintained by you.
Let me know if I can add this feature?

[2021-05-24 02:54] shuklaayush commented on #2479
@malay-satapathy Appreciate the request, but this doesn't seem to simplify things. On the contrary, it'll probably add more redundancy. If I have to click on the skip-forward button now to go to the next date, why won't I just click on the date itself?

[2021-05-24 04:57] Nirmitjatana opened #2482 "Adding styling to the scrollbars, according to theme of the web app"
**Is your feature request related to a problem? Please describe.**
White scrollbars look odd with respect to the current theme of the website.

**Describe the solution you'd like**
We can add styling to the scroll bar for both dark mode and light mode.

**Describe alternatives you've considered**
The solution is pretty straightforward, and shouldn't require alternatives

**Additional context**
Sty

[2021-05-24 06:02] Rspoonia opened #2483 "Navbar Overlapped"
If i have open Desktop screen size and expand Nav-manu options and while keep opened menu bar and try to change screen size then it's not in proper format and adding screen shot for reference

![Screenshot 2021-05-24 113045](https://user-images.githubusercontent.com/46380080/119303605-a92d7b80-bc83-11eb-95bb-4d001bccba5f.png)

![Screenshot 2021-05-24 113128](https://user-images.githubusercontent.c

[2021-05-24 07:11] #2450 closed, assigned to nobody

[2021-05-24 07:14] shuklaayush commented on #2471
What's your screen resolution?

[2021-05-24 07:14] #2478 closed, assigned to nobody

[2021-05-24 13:40] froster02 commented on #2471
the issue has been resolved by developers !

[2021-05-24 13:40] #2471 closed, assigned to nobody

[2021-05-25 08:45] prablr79 opened #2484 "Possible to pull total number of population within the given district ?"
**Is your feature request related to a problem? Please describe.**
Possible to pull total number of population within the given district  ? Need clarity since vaccination is not sufficient in terms of doses / district.

**Describe the solution you'd like**
total number men and women count from age of 18+ from aadhar db

**Describe alternatives you've considered**
provided this data should not have

[2021-05-25 13:10] sarathsp06 opened #2485 "0.3 rounded as 0 , makes statement wrong"
**Screenshots**

![image](https://user-images.githubusercontent.com/964542/119502463-94d2a700-bd87-11eb-849f-cfce6d1f2858.png)

**Describe the bug**

The above page shows `~0` which is marginally different from `0.3` as 0 sort of means none

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.covid19india.org/state/KL'
2. Scroll down to Case Fatality Ratio

**Expected behavior

[2021-05-26 07:21] piyushgupta92 commented on #1610
@jeremyphilemon  /claim

[2021-05-27 18:25] Phoenix0783 commented on #1610
/claim

[2021-05-28 06:35] sayanmdn opened #2487 "Size of front page numbers are not right"
I have tested it in Android, 6.2 inch, Chrome, it's looks annoying. please take a look at the confirm and active numbers.
![Screenshot_2021-05-28-11-57-55-67](https://user-images.githubusercontent.com/21085290/119940426-c8424b00-bfac-11eb-8fb1-6aecc1798f14.jpg)

[2021-05-29 05:48] malay-satapathy commented on #2479
@shuklaayush Agree with your rationale! It will just increase the cognitive load on the end-user using the application.

I had another feature improvement for the Timeline component. The speed of transition from one date to the end date is slow! We can have speed controls for dates transition. What do you feel about this enhancement?

[2021-06-04 06:32] shuklaayush commented on #2479
I think the transition is slow because of the heavy rerender. If you switch between dates quickly without stopping at a date, the transition should be smooth. If you can somehow reduce the rerendering time though, then that would be really welcome.

Also, one can always use the calendar to switch between dates that are far apart.
![image](https://user-images.githubusercontent.com/27727946/12075594

[2021-06-04 11:49] ujjwalpuri29 opened #2489 "District and State graph UI not consistent"
The 90 days graph UI on the homepage (India and states) has a smooth curve which was updated a few months back. But on the districts page, the graph is still old bar graph style and not continuous.

**Solution**
Change the districts graph UI for 90 days to be consistent with the state graph

**Screenshots**
Homepage graph for 90 days
![image](https://user-images.githubusercontent.com/77334754/1207

[2021-06-04 13:16] ujjwalpuri29 commented on #2487
This seems to be an issue on your end...Maybe some setting tweaking or accessibility option. Is there a way to replicate this on our phones?

[2021-06-05 06:01] shuklaayush commented on #2318
This might've been because of dynamic imports (check [this](https://medium.com/@botfather/react-loading-chunk-failed-error-88d0bb75b406)). I added a retry to all dynamic imports in 9b53879ef29fc3aefe1f11f039f0af0227d9dee4 so this should be fixed

[2021-06-05 06:01] #2318 closed, assigned to cybergeekgyan

[2021-06-05 06:27] shuklaayush commented on #2489
This might've been because of different page margins. Should be fixed in the latest build

[2021-06-05 06:27] #2489 closed, assigned to nobody

[2021-06-05 06:30] shuklaayush commented on #2487
Looks like you're using an older version of Chrome that doesn't support CSS min/max functions. Should be fine once you update

[2021-06-05 06:30] #2487 closed, assigned to nobody

[2021-06-05 06:31] shuklaayush commented on #2484
Population data is already there if you expand the table

![image](https://user-images.githubusercontent.com/27727946/120882467-c7856680-c5f5-11eb-8e61-dfdd9c79e72b.png)

[2021-06-05 06:31] #2484 closed, assigned to nobody

[2021-06-05 06:36] shuklaayush commented on #2441
Duplicates #2440

[2021-06-05 06:36] #2441 closed, assigned to nobody

[2021-06-05 06:37] #2483 closed, assigned to nobody

[2021-06-05 06:37] #2481 closed, assigned to nobody

[2021-06-05 06:37] #2479 closed, assigned to nobody

[2021-06-05 06:40] #2433 closed, assigned to nobody

[2021-06-05 06:41] shuklaayush commented on #2434
/available

[2021-06-05 06:44] shuklaayush commented on #2467
I think it's too late to change this now. It'll probably annoy more people than it pleases

[2021-06-05 06:44] #2467 closed, assigned to nobody

[2021-06-05 06:48] shuklaayush commented on #2468
Duplicates #2423

[2021-06-05 06:48] #2468 closed, assigned to nobody

[2021-06-05 06:51] shuklaayush commented on #2482
Duplicates #2158

[2021-06-05 06:51] #2482 closed, assigned to nobody

[2021-06-05 07:03] shuklaayush commented on #2331
Fixed via b5bdd8ea191ab5c18ac09c7d9672d1414bd0247f

[2021-06-05 07:03] #2331 closed, assigned to nobody

[2021-06-05 07:42] shuklaayush commented on #2358
Fixed via 059fc13fbc9d13495971926a4c41e3abdb0140ce

[2021-06-05 07:42] #2358 closed, assigned to nobody

[2021-06-05 07:43] Nirmitjatana commented on #2158
/claim

[2021-06-05 09:17] prablr79 commented on #2484
Thanks

On Sat, 5 Jun 2021, 12:02 Ayush Shukla, ***@***.***> wrote:

[2021-06-05 09:24] shuklaayush commented on #2293
Closing due to inactivity

[2021-06-05 09:24] #2293 closed, assigned to nobody

[2021-06-05 09:40] shuklaayush commented on #2381
Closing due to inactivity

[2021-06-05 09:40] #2381 closed, assigned to nobody

[2021-06-05 09:46] shuklaayush commented on #2343
Closing due to inactivity

[2021-06-05 09:46] #2343 closed, assigned to nobody

[2021-06-05 09:46] shuklaayush commented on #2418
Closing due to inactivity

[2021-06-05 09:46] #2418 closed, assigned to nobody

[2021-06-05 09:47] shuklaayush commented on #2413
Closing due to inactivity

[2021-06-05 09:47] #2413 closed, assigned to nobody

[2021-06-05 09:49] shuklaayush commented on #2367
Closing due to inactivity

[2021-06-05 09:49] #2367 closed, assigned to nobody

[2021-06-05 11:33] singharyan1007 commented on #2434
/claim

[2021-06-06 07:00] #2485 closed, assigned to nobody

[2021-06-06 23:06] psomdeb25 opened #2491 "Curious about the data source"
This seems like a very comprehensive list of COVID-19 data. Kudos on the hard work.

I was just curious about what your source of data is.

Thank you.

[2021-06-06 23:09] ayush9pandey opened #2492 "Percentages for "Vaccine doses administered" instead of (or in addition to) absolute numbers for every state"
Solution would be simply adding a new column for vaccines administered/population for every state. My personal preference would be to go a step further and remove absolute numbers and replace by percentages.

[2021-06-07 10:02] #2076 closed, assigned to sirdarthvader

[2021-06-07 10:02] #2179 closed, assigned to rahulmr123

[2021-06-07 10:17] shuklaayush commented on #2491
See https://api.covid19india.org/csv/latest/sources_list.csv

[2021-06-07 10:17] #2491 closed, assigned to nobody

[2021-06-08 03:42] goofynugtz opened #2494 "Inconsistent Bar Graph"
**Description**
The graph is inconsistent on zooming in and out in 90 days range.

**To Reproduce**
1. Below spread trends, under class "tabs".
2. Set tab on **Daily**.
3. Scale modes **Uniform** and **7 day Moving Average** turned off.
4. Set graph range for **90 days** from time-series.
5. Zooming in/out the page would change bar graph to solid ups/downs (idk what to call it).

**Expected behavi

[2021-06-08 06:19] #2494 closed, assigned to nobody

[2021-06-09 12:29] vidhyasagarreddy opened #2495 "Implement Calendar Picker to look at a specific day's status"
With current To and Fro controls, we can just jump on to one day at-a-time. I would suggest you to include a "Calendar Picker" to easily navigate to a specific day and see status

[2021-06-09 14:05] shuklaayush commented on #2495
It's already there

![Peek 2021-06-09 19-34](https://user-images.githubusercontent.com/27727946/121369821-d2275f00-c959-11eb-9422-930c79d7e1ea.gif)

[2021-06-09 14:05] #2495 closed, assigned to nobody

[2021-06-09 15:02] vidhyasagarreddy commented on #2495
May be the accessibility is way too bad. How would a user expect the current date label is clickable ? May be place a Calendar icon on the right or left of those control set.

[2021-06-09 15:09] shuklaayush commented on #2495
Yeah, you're right. I guess I thought the change of colour while hovering would be enough of a hint, but it's probably not. I'll look into this

[2021-06-10 06:51] #2295 closed, assigned to nobody

[2021-06-11 05:58] krishhteja opened #2497 "Every click on page sends request to fetch data"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2021-06-11 06:38] shuklaayush commented on #2497
I think it only fetches data when the tab regains focus. Otherwise, it should fetch only once every ~10mins (which is reasonable). Are you observing something different?

[2021-06-11 06:42] krishhteja commented on #2497
Yes. Any click on any part of the page fetches data

[2021-06-11 06:42] shuklaayush commented on #2497
Can you share a video/gif?

[2021-06-11 07:20] krishhteja commented on #2497
https://user-images.githubusercontent.com/8438143/121646863-6c90bb00-ca9e-11eb-9108-db7b6b515d42.mov

This issue is not reproducible in mac with chrome but very clearly observed in windows with chrome (version 91.0.4472.77)

[2021-06-11 07:23] shuklaayush commented on #2497
Weird, I'm guessing it's a browser issue. Anyways, it shouldn't really matter since the files are served from cache so there's no network usage

[2021-06-11 07:26] krishhteja commented on #2497
That's great. I was thinking about network load on server side as people tend to click tens of times.

Quick question : What is the point on sending requests when it uses cached data?

[2021-06-11 07:39] shuklaayush commented on #2497
Ideally, it should only send requests every 10 minutes or so to check for updated data. We don't want people to manually have to refresh the website to see if there's a data update. The service worker handles the caching part of the requests

[2021-06-11 10:09] #2497 closed, assigned to nobody

[2021-06-11 15:55] krishhteja opened #2498 "first load and scroll of page to map renders empty view"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2021-06-11 16:09] vidhyasagarreddy commented on #2495
Thanks for adding new calendar icon :) Kudos.

[2021-06-14 19:23] YatinMishra opened #2499 "Hindi search bar Isn't working properly"
**Describe the bug**
When changed the application from english to hindi the search for district and states isn't working properly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to languages
2. Click on Hindi
3. Scroll to Search for districts or states
4. See error

**Expected behavior**
Name of districts or states should be clearly seen in hindi.

**Desktop (please complete the followi

[2021-06-14 19:26] YatinMishra commented on #2423
/claim

[2021-06-14 19:26] YatinMishra commented on #2468
/claim

[2021-06-14 19:27] il3ven opened #2500 "Add estimated time to fully vaccinate people"
**Is your feature request related to a problem? Please describe.**
There are claims to fully vaccinate the people by the end of 2021. Claims are useless if not backed by data. It would be good to have an estimate time to fully vaccinate people as per the current average speed.

**Describe the solution you'd like**
The solution is to show some text which for example says `It will take 14 months to

[2021-06-16 03:51] vidhyasagarreddy opened #2501 "Sort by New Confirmed, Recovered, Deceased, Tested"
Currently, the sort feature sorts data based on the entire data, but not on new entries. Can we have similar sort icon on the right side, along side current sort icon on the left (PFB) ?

![image](https://user-images.githubusercontent.com/3716334/122155266-3bd8c900-ce84-11eb-9c49-de042d04123d.png)

[2021-06-16 07:04] prabhuvashwin opened #2502 "Fix the range for the # deaths reported per day"
**Describe the bug**
Currently, the number of deaths reported per day has a range from -2L to 8L, and since the # of deaths per day is ~3K, this graph is always a straight line. Fix the range to represent the data -> -2K to 10K would be accurate.

**To Reproduce**
Please see the screenshot attached below

**Expected behavior**
The # of deaths graph should represent the scale of the data, and shoul

[2021-06-16 23:35] Megatron1024 commented on #2492
+++1000

This would be great as it would help state and people reflect the number of people who are actually vaccinated and exercise caution and motivate others to get vaccinated.

[2021-06-17 15:58] hrishikeshp7 opened #2503 "Logo At Footer Redirects to Github Instead of Website"
The Logo or precisely at footer the Covid19India Title Redirects user to this Github Repo , Instead It should Redirect to the Main Website

Its Better to set the Redirect to Homepage as we already have the Github Link in the Icon

[2021-06-17 16:03] hrishikeshp7 opened #2504 "No Option to Select Back India as a whole Country after seeing a state or District"
Its Currently not being Possible to Reselect India back after looking up an District or a state .  The measure to make a dropdown Option to India would be a good Choice to see the Stats for Total Country.

[2021-06-17 16:13] hrishikeshp7 commented on #2499
Its true for instance this screenshots depict the errors
https://jumpshare.com/v/rmFy4mkfX2e28iQcU8Uf
Plus The dropdown bar present in Hindi Shows only "Active" and the "Deceased" Cases in English

[2021-06-17 16:21] hrishikeshp7 opened #2505 "Add Expires headers"
Web pages are becoming increasingly complex with more scripts, style sheets, images, and Flash on them. A first-time visit to a page may require several HTTP requests to load all the components. By using Expires headers these components become cacheable, which avoids unnecessary HTTP requests on subsequent page views. Expires headers are most often associated with images, but they can and should b

[2021-06-18 09:28] DHECK17 commented on #2504
Oh I thought It Only Happens With me

[2021-06-18 10:39] ishitb commented on #2503
/claim

[2021-06-18 13:41] Aayush-Bhatt commented on #2500
I am willing to open a PR for this.

[2021-06-18 13:57] Aayush-Bhatt opened #2506 "Blog page title is wrong"
The bug is located on the Blog page of the website. The title should contain the name of the site, but it's something else.

Steps to reproduce the behaviour:

1. Go to 'Navigation bar on left
2. Click on 'Blog'
3. See an error on the top named "Stretchhhh"

**Screenshots**
![Screenshot from 2021-06-18 19-24-16](https://user-images.githubusercontent.com/65692432/122571994-f32f3480-d06a-11eb-8e96-f

[2021-06-18 17:46] lordinkavu commented on #2506
/claim

[2021-06-19 23:38] JaapHaitsma commented on #2448
@bee-rickey how do you calculate overall TPR?

[2021-06-20 09:46] Ashis26 commented on #2500
I can contribute to this if you want

[2021-06-20 10:46] iLagTooMuch commented on #2504
Click on India at the bottom of state lists to revert back to india :) hope this helps 👍

[2021-06-20 10:53] il3ven commented on #2500
I made a website for this statistic as a way to improve my frontend skills. Check it out if you are interested. [https://etacovidindia.netlify.app/](https://etacovidindia.netlify.app/)

[2021-06-20 13:10] hrishikeshp7 commented on #2504
@iLagTooMuch  No Its different , Its not happening I mean there is no Dropdown Bar for states there what i am trying to say is Different
When you select Toggle Between States and Per Lakh People , You will Find whats my Issue

[2021-06-21 12:23] hrishikeshp7 commented on #2506
Yes the Problem Occurs need to make available , can fix it easily

[2021-06-21 12:26] hrishikeshp7 commented on #2506
If its Available i can fix it , I have already got the error
To Specify the mistake is there in the Strong tag on the page

[2021-06-25 13:28] ujjwalpuri29 commented on #2498
Sometimes it does happen on my device too (both phone and laptop) but not always

[2021-06-25 13:38] ujjwalpuri29 commented on #2502
**Workaround**
If you uncheck the uniform button above the graphs, all graphs will have their own scale and this will not be a straight line

**Recommendation**
Other graphs like tested and vaccination have their own scale since their data is different. Similarly we can have a custom scale for this. Although I do realise that uniform scale is to show that number of deaths is wayyyyy less than conf

[2021-06-25 13:55] ujjwalpuri29 commented on #2504
Click anywhere outside the map to revert to india stats

[2021-06-25 14:04] ujjwalpuri29 commented on #2503
There is already a home button to redirect you to the main website in the nav bar. I feel this is not required.
The foorter covid19india is for the organization and they link it to their github profile

[2021-06-27 13:36] sheeerio opened #2507 "After changing language and then coming back to english, the search placeholder displays weird strings"
![Screenshot 2021-06-27 at 7 06 00 PM](https://user-images.githubusercontent.com/56512776/123546563-b81fb600-d77a-11eb-9bbd-c50370b3cb46.png)

[2021-06-28 06:39] hrishikeshp7 commented on #2504
A button would be really great , it is very difficult while selecting Back

[2021-06-29 09:06] VikashAnandJha commented on #2506
yes the title says strechhhh
![image](https://user-images.githubusercontent.com/6469187/123769919-6a748c00-d8e7-11eb-9152-99bedfa92eaf.png)

[2021-06-30 07:00] sbhrwlr commented on #2507
I think this is happening due to use of useCallback hook whenever we change language it is starting a new function without terminating the previous callback instance and mixing the city region names like in your example it is mixing Karnataka and Alappuzha. And if we create terminating point it will terminate all the instances of useCallback function. I guess this is the reason correct me if I am

[2021-07-01 12:57] probal31 opened #2509 "The delta for Total Active cases is not displayed"
Hi Team,

The delta for Total Active cases is not displayed.
Whereas I see the delta for others heads like Confirmed, Recovered, Deceased is properly displayed.

Is there any reason why particularly delta for Active is hidden?

I can fix this. Just wanted to understand why is the reason behind.

Thanks.

[2021-07-04 23:56] Panquesito7 opened #2511 "Add Spanish translation to the website"
**Is your feature request related to a problem? Please describe.**

I saw the website and checked the available languages. It'd be cool if there was a Spanish translation (I can work on it if you want, it's my native language).
_Offtopic: One question by the way: does this project use Weblate for translations?_

**Describe the solution you'd like**

Add Spanish translation to the website.

**Descr

[2021-07-06 08:23] mishu-mnp opened #2512 "Arrow Key Functionality in Search bar"
** Arrow Key Functionality in Search Bar.
I will suggest a small feature of arrow key which is if we search for any state or city then we are able to see the suggestions according to our search so if we want to directly visit to that state/city using arrow key of our keyboard it will be much better.

Ex: If i search for Gujarat then it shows the state name but arrow key (up and down) does not work

[2021-07-11 08:02] il3ven commented on #2492
@Megatron1024 I made this website by using covid19 database. It shows the percentage of vaccines administered per state. It also shows the estimate time it should take to vaccinate everyone in that state. [etacovidindia.netlify.app](https://etacovidindia.netlify.app/)

[2021-07-11 15:12] nandirishav commented on #2434
/claim

[2021-07-12 18:16] adityacholle04 opened #2513 "Data regarding Population and percentage vaccinated is wrong"
Hi team,

Currently we only have 18+ population eligible for vaccination in India and website says India's population is 133.3Cr which is correct if we consider entire age range but if 0 to 18 group is not eligible  for vaccination why are we considering them for percentage vaccinated ?

[2021-07-14 18:42] howdyAnkit commented on #2506
/claim

[2021-07-15 05:08] hrishikeshp7 commented on #2506
This issue is already resolved , Please check in Covid 19 India Blog Repo. The title Stretch is done Intentionally not mistakenly
@howdyAnkit

[2021-07-15 06:17] shuklaayush commented on #2506
Refer to https://github.com/covid19india/blog/issues/5

[2021-07-15 06:17] #2506 closed, assigned to nobody

[2021-07-15 06:26] shuklaayush commented on #2513
The data isn't "wrong".

In my opinion, it's only a matter of time before 12-18 years will be allowed to get vaccinated (as in the US, Israel etc.) so it doesn't make sense to have a temporary metric showing only the percentage of 18+ population vaccinated. It will just add to the confusion later.

Also, I'm not sure if only 18+ population data is readily available for all states/districts

[2021-07-15 06:26] #2513 closed, assigned to nobody

[2021-07-17 06:53] FrozenHearth commented on #2513
Hey, isn't India's population around 140 crores? And almost 40 crore people are vaccinated as of today, which would make the "Atleast one dose" percentage be 28.5%, but it shows 24%. How is this calculated?

[2021-07-17 07:13] adityacholle04 commented on #2513
Till now only 31.9 crore First dose has been administered so its correct 24%.
40-41 crore is total vaccination 32(first dose) + 9(second dose) = 41 crore .

[2021-07-17 13:29] virejdasani opened #2515 "Should I make a Mobile app for covid19india-react"
I have made mobile apps with react-native from react based websites.
I think an Android and IOS app would be very cool to have and I'd be more than happy to make the app (using react native) myself and open a pull request.
Let me know if you would be willing to merge such a pull request so I can get on making the app or let me know if you want to make a new repo for the app or I can do it too 👍

[2021-07-21 01:22] gandhisamay commented on #2515
@virejdasani, I would really like to collaborate too with you, for making an app, if needed. By the way what are planning to use to make the app, Flutter ?

[2021-07-21 05:06] virejdasani commented on #2515
No, with react native because it would be easier to transfer the code from ReactJS to React Native. Let me know what your Discord is if you wanna collaborate 👍

[2021-07-21 08:47] sandeepdhobi commented on #2515
I'm in

[2021-07-21 09:02] gandhisamay commented on #2515
I

I m in too ..my discord id is samay_200

[2021-07-21 09:47] virejdasani commented on #2515
I hope the maintainers of this repo allow us to make the app. Then we can proceed

[2021-07-22 10:51] themissingbracket commented on #2515
@virejdasani
I am keen as well

[2021-07-22 11:01] virejdasani commented on #2515
As soon as the status gets approved, I'll make a Discord server for the 4 of us, @gandhisamay, @sandeepdhobi, @themissingbracket, and myself can collaborate on making the app 👍

[2021-07-29 03:24] yogesh7401 opened #2516 "Can add Covid free district"
**Can add Covid free district list**
It will be use full for user and create relief for district peoples of Covid free districts

**How to do ? (My Suggestion)**
Some state like telungana there is 0 data and API not feed active cases , you get active cases by subracting deceased and recovered cases from Confirmed cases , so there itself check confirmed cases > 0 and active case === 0 and store the

[2021-08-02 19:42] vasut02 commented on #2515
This application is already already a progressive web app, we can install in our mobile from browser. IMO I don't think this will get approval 🤔 . If they did gave us approved add me as well 👍

[2021-08-05 09:10] #2502 closed, assigned to nobody

[2021-08-05 09:13] shuklaayush commented on #2501
If you long-press the column header, then it sorts by new entries/cases

![Peek 2021-08-05 14-41](https://user-images.githubusercontent.com/27727946/128324578-0c96df54-45fc-432b-b370-3858d34038fa.gif)

[2021-08-05 09:13] #2501 closed, assigned to nobody

[2021-08-05 09:15] shuklaayush commented on #2499
Duplicates #2322

[2021-08-05 09:15] #2499 closed, assigned to nobody

[2021-08-05 09:15] shuklaayush commented on #2507
Duplicates #2322

[2021-08-05 09:15] #2507 closed, assigned to nobody

[2021-08-05 09:16] shuklaayush commented on #2505
I think the resources are already cached since we're using service workers

[2021-08-05 09:16] #2505 closed, assigned to nobody

[2021-08-05 09:19] shuklaayush commented on #2504
If you're referring to the map, then clicking/tapping on any empty space resets back to India stats

[2021-08-05 09:19] #2504 closed, assigned to nobody

[2021-08-05 09:19] #2503 closed, assigned to nobody

[2021-08-05 09:22] shuklaayush commented on #2509
Refer to https://github.com/covid19india/covid19india-react/issues/2105#issuecomment-641833409

[2021-08-05 09:22] #2509 closed, assigned to nobody

[2021-08-05 09:23] DHECK17 commented on #2504
No bro it doesn't let me show oy what I am talking

On Thu, 5 Aug, 2021, 2:49 PM Ayush Shukla, ***@***.***> wrote:

[2021-08-05 09:27] shuklaayush commented on #2511
We use [I18next](https://www.i18next.com/) for translations.
Honestly, I don't think adding Spanish translation would add much value since we're only tracking cases in India. Also, > 99% of our users are from India

[2021-08-05 09:27] #2511 closed, assigned to nobody

[2021-08-05 09:28] shuklaayush commented on #2498
Probably CDN/caching issues. Seems to be fixed for now

[2021-08-05 09:28] #2498 closed, assigned to nobody

[2021-08-05 09:32] shuklaayush commented on #2515
As @vasut02 mentioned, it's already a PWA so I don't see how creating a native app would add more value. But go ahead if you're interested in working on it. All our code and data is open-source with a permissive license. You can do whatever you want with it and don't need our approvals

[2021-08-05 09:32] #2515 closed, assigned to nobody

[2021-08-05 09:33] hrishikeshp7 commented on #2504
Hey @shuklaayush  it doesnt I have attached a video see it here :

https://user-images.githubusercontent.com/68657160/128327878-b51b0d1e-37d5-4880-8e60-fa0981dbc858.mp4

[2021-08-05 09:34] hrishikeshp7 opened #2517 "If you're referring to the map, then clicking/tapping on any empty space resets back to India stats"
If you're referring to the map, then clicking/tapping on any empty space resets back to India stats

_Originally posted by @shuklaayush in https://github.com/covid19india/covid19india-react/issues/2504#issuecomment-893303609_

Bro that doesnt Help here is the problem occuring with atleast me

[2021-08-05 09:34] hrishikeshp7 commented on #2517
https://user-images.githubusercontent.com/68657160/128328078-3cd66b7d-00f1-4292-9dfc-c1346dbc4e04.mp4

[2021-08-05 09:35] #2517 closed, assigned to nobody

[2021-08-05 09:37] shuklaayush commented on #2504
Hmm, weird. Works for me. Which browser/OS are you using?

![Peek 2021-08-05 15-05](https://user-images.githubusercontent.com/27727946/128328343-888f3127-5ed8-417e-b17f-0ea78424a491.gif)

[2021-08-05 09:43] vidhyasagarreddy commented on #2501
I think this is usability issue. How would once expect long press on header would toggle to different filter!

[2021-08-06 03:36] hrishikeshp7 commented on #2517
@shuklaayush  Bro I mentioned that it occurs with Per lakh people case Please check it

[2021-08-09 17:56] tshrwbl opened #2518 "Performance improvement needed"
**Describe the bug**
The site has a score of 54 on the lighthouse audit report also visible frame drops are seen while rendering the website.

**To Reproduce**
1.Refresh website.
2. Open chrome lighthouse audit report. Click on generate.
![image](https://user-images.githubusercontent.com/27141947/128751387-688fe063-474b-4c64-9adc-5cebc0ab03a5.png)

**Expected behaviour**
Smooth user experience whi

[2021-08-10 10:31] surijatin opened #2519 "Vaccine second dose due date"
Suggestion -
We can provide a provision for the user to check when their next covid vaccine dose is due, for different vaccines which are being administered in the country.

Solution -
Provide a date-picker and checkboxes for selecting the type of vaccine, which in turn could return the due date for the second jab after computation.
I have a working model of the same prepared [here](https://surija

[2021-08-11 02:12] #2519 closed, assigned to nobody

[2021-08-11 05:06] surijatin commented on #2519
@ShikariShambuJr Would you mind mind providing some comment ?

[2021-08-11 08:51] prablr79 opened #2520 "Some issue with total number population with Action and / confirmed case numbers"
**Describe the bug**
Some issue with total number population with Action and / confirmed case numbers

**To Reproduce**
Steps to reproduce the behavior:

for eg: Click on Karnataka
expand the table
calculated confirmed case +Active  + vaccine does administered.
number varies it cross more that 1 Cr but total population is 95.9 L
as on today 8/11 :

**Expected behavior**
Vaccine does Adminstered wi

[2021-08-11 08:58] prablr79 commented on #2516
I agree with @yogesh7401 , indeed its usefull at pan india level for quick travel or emergency movements

[2021-08-12 14:39] surijatin commented on #2520
I believe the summation that you are trying to achieve doesn't include the mutually exclusive sets.
Wouldn't Confirmed Cases include the Active Cases?
Also what if a person was under the Confirmed Cases, then recovered and got the vaccine dose?

[2021-08-12 15:26] #2520 closed, assigned to nobody

[2021-08-13 21:43] surijatin commented on #2519
@shuklaayush  Can you please help on why this idea was discarded? Just trying to look out for some reasoning, nothing else.

[2021-08-14 03:47] shuklaayush commented on #2519
Hey @surijatin, it's a good idea but it doesn't fit the purpose of our website. We're only tracking the spread and impact of Covid-19 in India through our database and API.

[2021-08-14 11:17] ghost opened #2521 "Dd"

[2021-08-14 11:18] #2521 closed, assigned to nobody

[2021-08-16 10:16] prablr79 commented on #2516
any thoughts on this request ?

[2021-08-17 10:48] n5r commented on #2434
Because of left-column being sticky we have to use JS magic for this.  I don't have time to integrate in project at moment, but here's some example working code (not fully optimised, mind you):

[code]

Hopefully one of the claimants can integrate in React and add a pull request :D

[2021-08-19 08:21] mohilkhare1708 commented on #1610
/claim

[2021-08-25 13:34] rishabhnama opened #2549 "Direct dial Helpline Numbers"
A tap to call helpline numbers feature can be added to the footer for the visitors who may need assistance.
A single click on the link will prompt the user to make the call to mygov helpline portal and seek help. This feature on mobile will redirect to the dialer (on smartphone) and trigger call prompt (Windows Browsers) to the connected smartphone.
Adding the following code to the footer.js file

[2021-08-25 14:09] itsMustafa commented on #2549
Nice feature 👍🏻

[2021-08-25 14:14] Arshadali7 commented on #2549
Good one 👌🏻

[2021-08-25 14:41] forbidden451 commented on #2549
Helpfull 😯

[2021-08-25 15:22] vipersvend commented on #2549
Nice One👍🏼

[2021-08-25 15:33] AkshayManekari commented on #2549
Nice👏👏

[2021-08-25 16:34] #2549 closed, assigned to nobody

[2021-08-25 17:00] Sudeep-Mudaliar commented on #2549
Good one. 👍

[2021-08-26 09:52] sayna3311 commented on #2403
Is this done? I would love to make this work.

[2021-08-26 09:59] sayna3311 commented on #2403
/claim

[2021-08-28 10:41] sayna3311 commented on #2516
What we can do is, for each state, make a list of covid free districts and render the list on each state's page?

[2021-08-28 10:42] sayna3311 commented on #2434
What is the status to this? Is this done? I would like to contribute to it.

[2021-08-28 11:33] n5r commented on #2434
@sayna3311 None of the original claimants has responded, so if you can integrate the code into React it would be great!

[2021-08-28 13:57] sayna3311 commented on #2434
Sure thing, you can assign it to me. Thank you.

[2021-08-29 07:53] sayna3311 commented on #2434
@n5r @shuklaayush
I have implemented your method in react using useEffect. Here is the demo

https://user-images.githubusercontent.com/67572440/131243014-5016847c-9ddd-4e6c-8ca3-6cccae71218b.mp4

I'm sending the PR, please review.

[2021-09-04 14:29] ketan-10 commented on #2056
/claim

[2021-09-04 14:29] ketan-10 commented on #2056
Due to `overflow-x: hidden` set on `html`, `overflow: hidden` applied on `body` got rejected. <br>
So moved the `overflow-x: hidden` to body from html [ref](https://stackoverflow.com/a/41507857/10066692)

Before                |  After
:-------------------------:|:-------------------------:
![](https://user-images.githubusercontent.com/35309821/132097239-7652732c-1dc0-436c-9555-134a19d3c1ad.png)

[2021-09-11 05:56] johnsnow09 opened #2553 "Maharashtra Daily Confirmed Cases in negative (-10k) for 9th September"
**Describe the bug**
A clear and concise description of what the bug is. If your issue is regarding an error in the data, it's best reported through [this form](https://forms.gle/MLeSrdwRuf8AjFkp9).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected t

[2021-09-11 06:12] #2553 closed, assigned to nobody

[2021-09-14 15:02] chrisrrowland opened #2554 "Operational handover documentation"
**Is your feature request related to a problem? Please describe.**
My organization is investigating keeping this site and its entire process operational rather than letting it go offline.

The documentation, at least as I am aware of it, doesn't go into a particularly detailed level covering daily operation (data updates) and publication.

Given the approaching end of life of the site, this invest

[2021-09-15 04:17] shuklaayush commented on #2554
Hi
We have a couple of blog posts detailing our tech stack and operations that you might want to go through. Happy to answer if you have more particular questions
https://blog.covid19india.org/2020/09/04/architecture
https://blog.covid19india.org/2021/08/24/operations

[2021-09-15 13:06] chrisrrowland commented on #2554
Thank you, I have looked over those doucments. I suppose I thought those were more high level descriptions for curious folks, as opposed to low level day to day operations guides for people involved in running things, which was more of what I was looking for.

Since it seems like the majority of effort is spent in manual data entry (am I right about that?) is it easy to estimate approximately how

[2021-09-20 05:13] shuklaayush commented on #2554
/cc @bee-rickey @sudevschiz

[2021-09-22 13:05] bee-rickey commented on #2554
Hi @chrisrrowland the things mentioned in the https://blog.covid19india.org/2021/08/24/operations are pretty much what happens on a day to day basis.
1. Get the bulletin.
2. Send it to a bot to get values to enter in a sheet.
3. Enter into the sheet.

There are no specific requirements wrt to the skillset required. Since everything is driven by telegram and google sheets, one needs basic technolog

[2021-09-23 04:16] AnuragSharma122 commented on #2407
I would like to contribute for this issue

[2021-10-01 06:05] #2554 closed, assigned to nobody

[2021-10-01 09:48] B-AYUSHMAN-PRUSTY commented on #2516
hey i am interested to add covid free district but i don't know how to do. Can you help me to add district